Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(OMN-10611): add model health status contract for delegation routing
  src/omnibase_core/enums/enum_model_health_state.py
  src/omnibase_core/models/delegation/__init__.py
  src/omnibase_core/models/delegation/model_model_health_status.py
  tests/unit/models/delegation/test_model_health_status.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10609): add delegation request envelope Pydantic model
  src/omnibase_core/enums/enum_redaction_policy.py
  src/omnibase_core/models/delegation/__init__.py
  src/omnibase_core/models/delegation/model_delegation_request.py
  tests/unit/models/delegation/test_model_delegation_request.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10614): add task-class contract schema (EnumCloudRoutingPolicy + 4 models)
  src/omnibase_core/enums/enum_cloud_routing_policy.py
  src/omnibase_core/models/delegation/model_definition_of_done.py
  src/omnibase_core/models/delegation/model_escalation_policy.py
  src/omnibase_core/models/delegation/model_task_class_contract.py
  src/omnibase_core/models/delegation/model_task_class_entry.py
  tests/unit/models/delegation/test_model_task_class_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10609): add delegation request envelope Pydantic model (#1042)
  src/omnibase_core/enums/enum_redaction_policy.py
  src/omnibase_core/models/delegation/__init__.py
  src/omnibase_core/models/delegation/model_delegation_request.py
  tests/unit/models/delegation/test_model_delegation_request.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10617): add ModelEscalationEvent and EnumQualityGateResult to delegation models
  src/omnibase_core/enums/enum_quality_gate_result.py
  src/omnibase_core/models/delegation/__init__.py
  src/omnibase_core/models/delegation/model_escalation_event.py
  tests/unit/models/delegation/test_model_escalation_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10611): enforce health metric bounds
  src/omnibase_core/models/delegation/model_model_health_status.py
  tests/unit/models/delegation/test_model_health_status.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10614): add task-class contract schema (EnumCloudRoutingPolicy + 4 models) (#1043)
  src/omnibase_core/enums/enum_cloud_routing_policy.py
  src/omnibase_core/models/delegation/model_definition_of_done.py
  src/omnibase_core/models/delegation/model_escalation_policy.py
  src/omnibase_core/models/delegation/model_task_class_contract.py
  src/omnibase_core/models/delegation/model_task_class_entry.py
  tests/unit/models/delegation/test_model_task_class_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10611): add model health status contract for delegation routing (#1041)
  src/omnibase_core/enums/enum_model_health_state.py
  src/omnibase_core/models/delegation/__init__.py
  src/omnibase_core/models/delegation/model_model_health_status.py
  tests/unit/models/delegation/test_model_health_status.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10617): annotate frozen model mutation ignore
  tests/unit/models/delegation/test_model_escalation_event.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-10617): add ModelEscalationEvent and EnumQualityGateResult to delegation models (#1044)
  src/omnibase_core/enums/enum_quality_gate_result.py
  src/omnibase_core/models/delegation/__init__.py
  src/omnibase_core/models/delegation/model_escalation_event.py
  tests/unit/models/delegation/test_model_escalation_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10079): accept runtime target on dispatch bus commands
  src/omnibase_core/models/dispatch/model_dispatch_bus_command.py
  tests/unit/dispatch/test_dispatch_bus_client.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10079): include target runtime address in dispatch bus command
  src/omnibase_core/models/dispatch/model_dispatch_bus_command.py
  tests/unit/dispatch/test_dispatch_bus_client.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10602): guard check_suite fanout in auto-merge workflow
  .github/workflows/auto-merge.yml
Due: validate-string-versions

fix(OMN-10602): improve concurrency group to include check_suite PR number
  .github/workflows/auto-merge.yml
Due: validate-string-versions

fix(OMN-10602): move actor resolution to pre-check, gate auto-merge job on actor
  .github/workflows/auto-merge.yml
Due: validate-string-versions

fix(OMN-10650): remove lab paths from core checks
  .pre-commit-config.yaml
  architecture-handshakes/install.sh
  tests/integration/models/agents/test_agent_yaml_validation.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-10650): mark agent YAML validation as integration
  tests/integration/models/agents/test_agent_yaml_validation.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-10650): remove lab paths from core checks (#1047)
  .pre-commit-config.yaml
  architecture-handshakes/install.sh
  tests/integration/models/agents/test_agent_yaml_validation.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-9739): migrate ModelAgentConfig.hooks to list[ModelHookActivation]
  src/omnibase_core/models/configuration/model_agent_config.py
  tests/unit/models/configuration/test_model_agent_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-9769): add batch_validator and ModelBatchValidationSummary
  src/omnibase_core/models/contracts/model_batch_validation_summary.py
  src/omnibase_core/normalization/batch_validator.py
  tests/unit/normalization/test_batch_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-9773): add E2E verification tests for contract validation pipeline
  tests/unit/normalization/test_e2e_contract_validation.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-9743): add ModelPackageHookActivations envelope for package-level hook_activations.yaml
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_package_hook_activations.py
  tests/unit/models/contracts/test_model_package_hook_activations.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10691): add ADR extraction domain models to omnibase_core
  src/omnibase_core/enums/adr/__init__.py
  src/omnibase_core/enums/adr/enum_decision_type.py
  src/omnibase_core/enums/adr/enum_segment_type.py
  src/omnibase_core/enums/adr/enum_usage_source.py
  src/omnibase_core/models/adr/__init__.py
  src/omnibase_core/models/adr/model_adr_draft.py
  src/omnibase_core/models/adr/model_adr_extraction_metadata.py
  src/omnibase_core/models/adr/model_canary_result.py
  src/omnibase_core/models/adr/model_decision_extraction.py
  src/omnibase_core/models/adr/model_document_segment.py
  src/omnibase_core/models/adr/model_extraction_score.py
  src/omnibase_core/models/adr/model_llm_call_evidence.py
  tests/models/adr/__init__.py
  tests/models/adr/test_adr_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10688): add contract-config compliance validator
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  src/omnibase_core/models/validation/model_contract_config_finding.py
  src/omnibase_core/validators/__init__.py
  src/omnibase_core/validators/contract_config_compliance.py
  src/omnibase_core/validators/contracts/__init__.py
  tests/unit/validators/__init__.py
  tests/unit/validators/test_contract_config_compliance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10688): rename finding model to ModelContractConfigComplianceFinding
  src/omnibase_core/models/validation/model_contract_config_compliance_finding.py
  src/omnibase_core/validators/contract_config_compliance.py
  tests/unit/validators/test_contract_config_compliance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10688): add validators to CI test_selection_adjacency.yaml
  scripts/ci/test_selection_adjacency.yaml
Due: validate-string-versions

fix(OMN-10688): address CodeRabbit review — scripts/ scan root, quality gate, test improvements
  .github/workflows/ci.yml
  src/omnibase_core/validators/contract_config_compliance.py
  tests/unit/validators/test_contract_config_compliance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10688): AST-based contract-config compliance validator (#1053)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/test_selection_adjacency.yaml
  src/omnibase_core/models/validation/model_contract_config_compliance_finding.py
  src/omnibase_core/validators/__init__.py
  src/omnibase_core/validators/contract_config_compliance.py
  src/omnibase_core/validators/contracts/__init__.py
  tests/unit/validators/__init__.py
  tests/unit/validators/test_contract_config_compliance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-9769): add batch_validator and ModelBatchValidationSummary (#1049)
  src/omnibase_core/models/contracts/model_batch_validation_summary.py
  src/omnibase_core/normalization/batch_validator.py
  tests/unit/normalization/test_batch_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10691): add ADR extraction domain models to omnibase_core (#1052)
  src/omnibase_core/enums/adr/__init__.py
  src/omnibase_core/enums/adr/enum_decision_type.py
  src/omnibase_core/enums/adr/enum_segment_type.py
  src/omnibase_core/enums/adr/enum_usage_source.py
  src/omnibase_core/models/adr/__init__.py
  src/omnibase_core/models/adr/model_adr_draft.py
  src/omnibase_core/models/adr/model_adr_extraction_metadata.py
  src/omnibase_core/models/adr/model_canary_result.py
  src/omnibase_core/models/adr/model_decision_extraction.py
  src/omnibase_core/models/adr/model_document_segment.py
  src/omnibase_core/models/adr/model_extraction_score.py
  src/omnibase_core/models/adr/model_llm_call_evidence.py
  tests/models/adr/__init__.py
  tests/models/adr/test_adr_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-9773): add E2E verification tests for contract validation pipeline (#1050)
  tests/unit/normalization/test_e2e_contract_validation.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-9743): report unknown hook bits as validation errors
  src/omnibase_core/models/contracts/subcontracts/model_hook_activation.py
  tests/unit/models/contracts/test_model_package_hook_activations.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
