Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(validation): add regex validator to topic_config_pattern field
  src/omnibase_core/models/validation/model_rule_configs.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): rename rule files to validator_ prefix and add module-level pytest markers
  src/omnibase_core/validation/cross_repo/engine.py
  src/omnibase_core/validation/cross_repo/rules/validator_async_policy.py
  src/omnibase_core/validation/cross_repo/rules/validator_duplicate_protocols.py
  src/omnibase_core/validation/cross_repo/rules/validator_observability.py
  src/omnibase_core/validation/cross_repo/rules/validator_partition_key.py
  tests/unit/validation/cross_repo/test_rule_async_policy.py
  tests/unit/validation/cross_repo/test_rule_duplicate_protocols.py
  tests/unit/validation/cross_repo/test_rule_observability.py
  tests/unit/validation/cross_repo/test_rule_partition_key.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address remaining PR #488 review feedback
  src/omnibase_core/validation/cross_repo/rules/validator_async_policy.py
  src/omnibase_core/validation/cross_repo/rules/validator_duplicate_protocols.py
  src/omnibase_core/validation/cross_repo/rules/validator_observability.py
  tests/unit/validation/cross_repo/test_rule_async_policy.py
  tests/unit/validation/cross_repo/test_rule_observability.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Jonah/omn 1906 cross repo validators phase 3 additional rules (#488)
  src/omnibase_core/models/validation/__init__.py
  src/omnibase_core/models/validation/model_cross_repo_validation_orchestrator_result.py
  src/omnibase_core/models/validation/model_rule_configs.py
  src/omnibase_core/nodes/node_validation_orchestrator/__init__.py
  src/omnibase_core/nodes/node_validation_orchestrator/node_cross_repo_validation_orchestrator.py
  src/omnibase_core/validation/cross_repo/engine.py
  src/omnibase_core/validation/cross_repo/rule_registry.py
  src/omnibase_core/validation/cross_repo/rules/validator_async_policy.py
  src/omnibase_core/validation/cross_repo/rules/validator_duplicate_protocols.py
  src/omnibase_core/validation/cross_repo/rules/validator_observability.py
  src/omnibase_core/validation/cross_repo/rules/validator_partition_key.py
  src/omnibase_core/validation/cross_repo/util_exclusion.py
  tests/unit/nodes/node_validation_orchestrator/test_node_cross_repo_validation_orchestrator.py
  tests/unit/validation/cross_repo/test_rule_async_policy.py
  tests/unit/validation/cross_repo/test_rule_duplicate_protocols.py
  tests/unit/validation/cross_repo/test_rule_observability.py
  tests/unit/validation/cross_repo/test_rule_partition_key.py
  tests/unit/validation/cross_repo/test_util_exclusion.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add ModelInterfaceProvided/Consumed models and supporting enums [OMN-1968]
  src/omnibase_core/enums/ticket/__init__.py
  src/omnibase_core/enums/ticket/enum_definition_format.py
  src/omnibase_core/enums/ticket/enum_interface_kind.py
  src/omnibase_core/enums/ticket/enum_interface_surface.py
  src/omnibase_core/enums/ticket/enum_mock_strategy.py
  src/omnibase_core/models/ticket/__init__.py
  src/omnibase_core/models/ticket/model_interface_consumed.py
  src/omnibase_core/models/ticket/model_interface_provided.py
  tests/unit/models/ticket/test_model_interface_definition.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(review): [minor] replace Literal with EnumDefinitionLocation and add cross-field validation
  src/omnibase_core/enums/ticket/__init__.py
  src/omnibase_core/enums/ticket/enum_definition_location.py
  src/omnibase_core/models/ticket/model_interface_provided.py
  tests/unit/models/ticket/test_model_interface_definition.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add ModelInterfaceProvided/Consumed and supporting enums [OMN-1968] (#489)
  src/omnibase_core/enums/ticket/__init__.py
  src/omnibase_core/enums/ticket/enum_definition_format.py
  src/omnibase_core/enums/ticket/enum_definition_location.py
  src/omnibase_core/enums/ticket/enum_interface_kind.py
  src/omnibase_core/enums/ticket/enum_interface_surface.py
  src/omnibase_core/enums/ticket/enum_mock_strategy.py
  src/omnibase_core/models/ticket/__init__.py
  src/omnibase_core/models/ticket/model_interface_consumed.py
  src/omnibase_core/models/ticket/model_interface_provided.py
  tests/unit/models/ticket/test_model_interface_definition.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): integrate interface models into ModelTicketContract [OMN-1971]
  src/omnibase_core/enums/ticket/enum_ticket_types.py
  src/omnibase_core/models/ticket/model_ticket_contract.py
  tests/unit/models/ticket/test_model_interface_definition.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(review): [minor] include interface counts in ModelTicketContract.__repr__
  src/omnibase_core/models/ticket/model_ticket_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): integrate interface models into ModelTicketContract [OMN-1971] (#490)
  src/omnibase_core/enums/ticket/enum_ticket_types.py
  src/omnibase_core/models/ticket/model_ticket_contract.py
  tests/unit/models/ticket/test_model_interface_definition.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ticket): harden ModelTicketContract with UTC enforcement, type guards, and iterable support [OMN-1819]
  src/omnibase_core/models/ticket/model_ticket_contract.py
  src/omnibase_core/protocols/ticket/protocol_ticket_dependencies.py
  tests/unit/models/ticket/test_model_ticket_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ticket): harden ModelTicketContract with UTC enforcement, type guards, and iterable support [OMN-1819] (#491)
  src/omnibase_core/models/ticket/model_ticket_contract.py
  src/omnibase_core/protocols/ticket/protocol_ticket_dependencies.py
  tests/unit/models/ticket/test_model_ticket_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(events): remove legacy dev.omnimemory topic constants from core event models [OMN-1554]
  src/omnibase_core/models/events/__init__.py
  src/omnibase_core/models/events/model_intent_query_requested_event.py
  src/omnibase_core/models/events/model_intent_query_response_event.py
  src/omnibase_core/models/events/model_intent_stored_event.py
  tests/unit/models/events/test_model_intent_query_requested_event.py
  tests/unit/models/events/test_model_intent_query_response_event.py
  tests/unit/models/events/test_model_intent_stored_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(events): remove legacy dev.omnimemory topic constants from core event models [OMN-1554] (#492)
  src/omnibase_core/models/events/__init__.py
  src/omnibase_core/models/events/model_intent_query_requested_event.py
  src/omnibase_core/models/events/model_intent_query_response_event.py
  src/omnibase_core/models/events/model_intent_stored_event.py
  tests/unit/models/events/test_model_intent_query_requested_event.py
  tests/unit/models/events/test_model_intent_query_response_event.py
  tests/unit/models/events/test_model_intent_stored_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(events): add event_type, payload_type, payload_schema_version to ModelEventEnvelope [OMN-2035]
  scripts/validation/validate-string-versions.py
  src/omnibase_core/models/events/model_event_envelope.py
  src/omnibase_core/types/typed_dict_event_envelope.py
  tests/unit/models/events/test_model_event_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(review): [minor] bump envelope_version to 2.1.0 for new event typing fields
  src/omnibase_core/models/events/model_event_envelope.py
  tests/unit/models/events/test_model_event_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(review): [minor] add new event typing fields to all-fields test
  tests/unit/models/events/test_model_event_envelope.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(events): add event_type, payload_type, payload_schema_version to ModelEventEnvelope [OMN-2035] (#493)
  scripts/validation/validate-string-versions.py
  src/omnibase_core/models/events/model_event_envelope.py
  src/omnibase_core/types/typed_dict_event_envelope.py
  tests/unit/models/events/test_model_event_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(enums): add EnumEvidenceTier with ordering support for evidence-gated promotion [OMN-2043]
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/pattern_learning/__init__.py
  src/omnibase_core/enums/pattern_learning/enum_evidence_tier.py
  tests/unit/enums/pattern_learning/__init__.py
  tests/unit/enums/pattern_learning/test_enum_evidence_tier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): use weight-based ordering for EnumEvidenceTier string comparisons [OMN-2043]
  src/omnibase_core/enums/pattern_learning/enum_evidence_tier.py
  tests/unit/enums/pattern_learning/test_enum_evidence_tier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(enums): add EnumEvidenceTier for evidence-gated promotion [OMN-2043] (#494)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/pattern_learning/__init__.py
  src/omnibase_core/enums/pattern_learning/enum_evidence_tier.py
  tests/unit/enums/pattern_learning/__init__.py
  tests/unit/enums/pattern_learning/test_enum_evidence_tier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release): bump version to 0.16.0 (#495)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release): bump version to 0.16.0 (#495) (#495)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(fsm): break circular import in fsm package via lazy imports [OMN-2048]
  src/omnibase_core/mixins/mixin_fsm_execution.py
  src/omnibase_core/utils/util_fsm_executor.py
  tests/unit/test_no_circular_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(invariant): break circular import in models/invariant via lazy __getattr__ [OMN-2048]
  src/omnibase_core/models/invariant/__init__.py
  tests/unit/test_no_circular_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(invariant): add return type annotation to __getattr__ for mypy strict [OMN-2048]
  src/omnibase_core/models/invariant/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(review): [minor] remove stale __all__ export and inconsistent test marker [OMN-2048]
  src/omnibase_core/utils/util_fsm_executor.py
  tests/unit/test_no_circular_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(review): [minor] cache lazy imports and add missing test markers [OMN-2048]
  src/omnibase_core/models/invariant/__init__.py
  tests/unit/test_no_circular_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(fsm): break circular import in fsm package [OMN-2048] (#496)
  src/omnibase_core/mixins/mixin_fsm_execution.py
  src/omnibase_core/models/invariant/__init__.py
  src/omnibase_core/utils/util_fsm_executor.py
  tests/unit/test_no_circular_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(ci): add handshake self-check enforcement workflow [OMN-2083]
  .claude/architecture-handshake.md
  .github/workflows/check-handshake.yml
  .gitignore
Due: validate-string-versions

feat(handshakes): universalize platform-wide rules and freeze boundary-crossing models [OMN-2083]
  .claude/architecture-handshake.md
  architecture-handshakes/repos/omnibase_core.md
  architecture-handshakes/repos/omnibase_infra.md
  architecture-handshakes/repos/omnibase_spi.md
  architecture-handshakes/repos/omniclaude.md
  architecture-handshakes/repos/omnidash.md
  architecture-handshakes/repos/omniintelligence.md
  architecture-handshakes/repos/omnimemory.md
  architecture-handshakes/repos/omninode_infra.md
  src/omnibase_core/models/core/model_envelope_metadata.py
  src/omnibase_core/models/core/model_extension_data.py
  src/omnibase_core/models/core/model_onex_envelope.py
  src/omnibase_core/models/core/model_onex_envelope_v1.py
  tests/unit/models/test_model_onex_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(review): [minor] explicit ConfigDict extra setting and CI explicit path
  .github/workflows/check-handshake.yml
  src/omnibase_core/models/core/model_envelope_metadata.py
  src/omnibase_core/models/core/model_onex_envelope.py
  src/omnibase_core/models/core/model_onex_envelope_v1.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(ci): add handshake self-check enforcement [OMN-2083] (#497)
  .claude/architecture-handshake.md
  .github/workflows/check-handshake.yml
  .gitignore
  architecture-handshakes/repos/omnibase_infra.md
  architecture-handshakes/repos/omnibase_spi.md
  architecture-handshakes/repos/omniclaude.md
  architecture-handshakes/repos/omnidash.md
  architecture-handshakes/repos/omniintelligence.md
  architecture-handshakes/repos/omnimemory.md
  architecture-handshakes/repos/omninode_infra.md
  src/omnibase_core/models/core/model_envelope_metadata.py
  src/omnibase_core/models/core/model_extension_data.py
  src/omnibase_core/models/core/model_onex_envelope.py
  src/omnibase_core/models/core/model_onex_envelope_v1.py
  tests/unit/models/test_model_onex_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(ci): add handshake policy gate for cross-repo compliance [OMN-2086]
  .github/workflows/handshake-policy-gate.yml
  architecture-handshakes/README.md
  architecture-handshakes/check-policy-gate.sh
Due: validate-string-versions

fix(ci): address review findings for policy gate [OMN-2086]
  .github/workflows/handshake-policy-gate.yml
  architecture-handshakes/README.md
  architecture-handshakes/check-policy-gate.sh
Due: validate-string-versions

fix(ci): address PR #498 review — token warning, shared repos.conf [OMN-2086]
  .github/workflows/handshake-policy-gate.yml
  architecture-handshakes/check-policy-gate.sh
  architecture-handshakes/install.sh
  architecture-handshakes/repos.conf
Due: validate-string-versions

fix(ci): simplify policy gate — drop POLICY_GATE_TOKEN, remove warn fallback [OMN-2086]
  .github/workflows/handshake-policy-gate.yml
  architecture-handshakes/README.md
  architecture-handshakes/check-policy-gate.sh
  architecture-handshakes/install.sh
Due: validate-string-versions

fix(ci): portable bash 3.2+ compat, add repos.conf header [OMN-2086]
  architecture-handshakes/check-policy-gate.sh
  architecture-handshakes/install.sh
  architecture-handshakes/repos.conf
Due: none

fix(ci): use POLICY_GATE_TOKEN for cross-repo workflow access [OMN-2086]
  .github/workflows/handshake-policy-gate.yml
Due: validate-string-versions

fix(review): [minor] harden policy gate edge cases [OMN-2086]
  .github/workflows/handshake-policy-gate.yml
  architecture-handshakes/check-policy-gate.sh
  architecture-handshakes/install.sh
Due: validate-string-versions
