Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

Path conditions:
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$
  validate-union-usage: any of: ^src/.*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix: Restore mixin_metadata.yaml from main
  src/omnibase_core/mixins/mixin_metadata.yaml
Due: validate-string-versions

fix: Resolve all 6 failing test splits after model schema changes
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/models/workflows/__init__.py
  src/omnibase_core/models/workflows/model_config.py
  tests/unit/mixins/test_mixin_health_check.py
  tests/unit/models/core/test_model_health_status.py
  tests/unit/models/nodes/node_services/test_model_service_effect_integration.py
  tests/unit/models/results/test_model_onex_result.py
  tests/unit/validation/test_init_wrappers.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: Resolve 5 failing test splits after model reorganization
  src/omnibase_core/models/common/model_validation_result.py
  src/omnibase_core/models/events/model_event_config.py
  tests/unit/models/events/test_model_config.py
  tests/unit/models/results/test_model_orchestrator_info.py
  tests/unit/models/workflows/test_model_workflow_execution_result.py
  tests/unit/validation/test_migrator_protocol.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: Update all ModelValidationResult field access in validation tests
  tests/unit/validation/test_architecture.py
  tests/unit/validation/test_cli.py
  tests/unit/validation/test_contracts.py
  tests/unit/validation/test_patterns_extended.py
  tests/unit/validation/test_types.py
  tests/unit/validation/test_types_extended.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix: Resolve all 4 failing test splits with comprehensive fixes
  src/omnibase_core/models/model_orchestrator_input.py
  src/omnibase_core/models/service/model_orchestrator_output.py
  src/omnibase_core/nodes/node_orchestrator.py
  tests/unit/models/core/test_model_validation_result.py
  tests/unit/models/nodes/node_services/test_model_service_orchestrator_integration.py
  tests/unit/validation/test_contracts_extended.py
  tests/unit/validation/test_types.py
  tests/unit/validation/test_types_extended.py
  tests/unit/validation/test_validators_init.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

docs: Clean up obsolete documentation and fix broken links
  docs/INDEX.md
  docs/architecture/PROTOCOL_ARCHITECTURE.md
  docs/ci/CI_MONITORING_GUIDE.md
  docs/patterns/CIRCUIT_BREAKER_PATTERN.md
  docs/patterns/CONFIGURATION_MANAGEMENT.md
  docs/patterns/EVENT_DRIVEN_ARCHITECTURE.md
  docs/planning/VALIDATION_ENHANCEMENT_PLAN.md
  docs/release-notes/RELEASE_NOTES_v0.1.1.md
  docs/research/IN_MEMORY_EVENT_BUS_RESEARCH_REPORT.md
  docs/research/UNION_QUICK_REFERENCE.md
  docs/research/UNION_REMEDIATION_PLAN.md
  docs/testing/COVERAGE.md
  docs/testing/PARALLEL_TESTING.md
  docs/testing/TEST-SUITE-EVENT-LOOP-FIX-SUMMARY.md
Due: none

fix: Apply repository cleanup fixes from polymorphic agents
  DUPLICATE_MODELS_AUDIT_REPORT.md
  DUPLICATE_MODELS_RESOLUTION_PLAN.md
  DUPLICATE_RESOLUTION_MASTER_TABLE.md
  DUPLICATE_RESOLUTION_QUICK_REFERENCE.md
  EXECUTE_DUPLICATE_RESOLUTION.md
  scripts/validation/validate-no-duplicate-models.py
  src/omnibase_core/mixins/__init__.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/models/events/model_event_base_config.py
  src/omnibase_core/models/service/model_docker_compose_generator_class.py
  src/omnibase_core/validation/auditor_protocol.py
  tests/unit/models/core/test_model_validation_result.py
  tests/unit/models/events/test_model_config.py
  tests/unit/validation/test_contracts_extended.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

chore: Bump version to 0.3.0
  pyproject.toml
  src/omnibase_core/__init__.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: validate-string-versions

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: validate-string-versions

Add Claude Code GitHub Workflow (#79)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: validate-string-versions

fix: Resolve mypy errors and update tests for strongly-typed subcontract models
  src/omnibase_core/models/contracts/subcontracts/model_configuration_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_resource_usage_metric.py
  tests/unit/models/contracts/subcontracts/test_model_health_check_subcontract.py
  tests/unit/models/contracts/subcontracts/test_model_logging_subcontract.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat: Add strong typing with enums and validators to subcontract models
  audit_duplicates.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_environment_validation_rule_type.py
  src/omnibase_core/enums/enum_health_detail_type.py
  src/omnibase_core/enums/enum_mapping_type.py
  src/omnibase_core/enums/enum_parameter_type.py
  src/omnibase_core/enums/enum_resource_unit.py
  src/omnibase_core/enums/enum_validation_rule_type.py
  src/omnibase_core/models/contracts/subcontracts/model_action_config_parameter.py
  src/omnibase_core/models/contracts/subcontracts/model_aggregation_parameter.py
  src/omnibase_core/models/contracts/subcontracts/model_component_health_detail.py
  src/omnibase_core/models/contracts/subcontracts/model_environment_validation_rule.py
  src/omnibase_core/models/contracts/subcontracts/model_event_mapping_rule.py
  src/omnibase_core/models/contracts/subcontracts/model_fsmtransitionaction.py
  src/omnibase_core/models/contracts/subcontracts/model_resource_usage_metric.py
  src/omnibase_core/models/contracts/subcontracts/model_validation_schema_rule.py
  tests/unit/enums/test_enum_parameter_type.py
  tests/unit/models/contracts/subcontracts/test_model_fsmtransitionaction.py
  tests/unit/models/contracts/subcontracts/test_model_resource_usage_metric.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: Auto-exclude Pydantic validators from error raising validation
  scripts/validation/check_error_raising.py
  src/omnibase_core/models/contracts/subcontracts/model_fsmtransitionaction.py
  src/omnibase_core/models/contracts/subcontracts/model_resource_usage_metric.py
  tests/validation/test_check_error_raising.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

docs: Update field description to match validator behavior in ModelResourceUsageMetric
  src/omnibase_core/models/contracts/subcontracts/model_resource_usage_metric.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat: Add comprehensive test coverage and type safety improvements to subcontract models
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_header_transformation_type.py
  src/omnibase_core/enums/enum_query_parameter_transformation_type.py
  src/omnibase_core/enums/enum_response_header_transformation_type.py
  src/omnibase_core/models/contracts/subcontracts/model_base_header_transformation.py
  src/omnibase_core/models/contracts/subcontracts/model_component_health_detail.py
  src/omnibase_core/models/contracts/subcontracts/model_environment_validation_rule.py
  src/omnibase_core/models/contracts/subcontracts/model_environment_validation_rules.py
  src/omnibase_core/models/contracts/subcontracts/model_event_mapping_rule.py
  src/omnibase_core/models/contracts/subcontracts/model_header_transformation.py
  src/omnibase_core/models/contracts/subcontracts/model_log_level_override.py
  src/omnibase_core/models/contracts/subcontracts/model_query_parameter_rule.py
  src/omnibase_core/models/contracts/subcontracts/model_response_header_rule.py
  src/omnibase_core/models/contracts/subcontracts/model_validation_schema_rule.py
  src/omnibase_core/models/core/model_action_config_value.py
  tests/unit/models/contracts/subcontracts/test_model_action_config_parameter.py
  tests/unit/models/contracts/subcontracts/test_model_aggregation_parameter.py
  tests/unit/models/contracts/subcontracts/test_model_base_header_transformation.py
  tests/unit/models/contracts/subcontracts/test_model_component_health_detail.py
  tests/unit/models/contracts/subcontracts/test_model_environment_validation_rule.py
  tests/unit/models/contracts/subcontracts/test_model_environment_validation_rules.py
  tests/unit/models/contracts/subcontracts/test_model_event_mapping_rule.py
  tests/unit/models/contracts/subcontracts/test_model_header_transformation.py
  tests/unit/models/contracts/subcontracts/test_model_log_level_override.py
  tests/unit/models/contracts/subcontracts/test_model_query_parameter_rule.py
  tests/unit/models/contracts/subcontracts/test_model_response_header_rule.py
  tests/unit/models/contracts/subcontracts/test_model_validation_schema_rule.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: Add required fields to validation rule test for all rule types
  tests/unit/models/contracts/subcontracts/test_model_environment_validation_rules.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix: Remove unused variable assignments to satisfy Ruff F841
  tests/unit/models/contracts/subcontracts/test_model_environment_validation_rules.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs: Add inheritance modes architecture documentation
  docs/architecture/inheritance-modes-validation-rules.md
Due: none

fix: Add timeout markers to async tests in test_mixin_intent_publisher
  tests/unit/mixins/test_mixin_intent_publisher.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix: Add timeout markers to async/threading tests in Split 11
  tests/unit/mixins/test_mixin_caching.py
  tests/unit/mixins/test_mixin_discovery_responder.py
  tests/unit/mixins/test_mixin_event_listener.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore: Bump version to 0.3.1
  pyproject.toml
Due: none

refactor: Rename decorators.py to util_decorators.py
  src/omnibase_core/models/service/model_custom_fields.py
  src/omnibase_core/utils/util_decorators.py
  tests/unit/utils/test_decorators.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

docs: Add comprehensive codebase audit reports for file organization
  AUDIT_QUICK_REFERENCE.txt
  CODEBASE_AUDIT_REPORT.md
Due: none

refactor: Rename remaining utility files to add util_ prefix
  src/omnibase_core/utils/util_service_logging.py
  src/omnibase_core/utils/util_service_minimal_logging.py
  src/omnibase_core/utils/util_singleton_holders.py
  src/omnibase_core/utils/util_tool_logger_code_block.py
  src/omnibase_core/utils/util_uuid_service.py
  src/omnibase_core/utils/util_uuid_utilities.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

refactor: Rename safe_yaml_loader.py to util_safe_yaml_loader.py
  scripts/validation/validate-string-versions.py
  src/omnibase_core/mixins/mixin_canonical_serialization.py
  src/omnibase_core/mixins/mixin_cli_handler.py
  src/omnibase_core/mixins/mixin_contract_metadata.py
  src/omnibase_core/mixins/mixin_contract_state_reducer.py
  src/omnibase_core/mixins/mixin_introspect_from_contract.py
  src/omnibase_core/mixins/mixin_node_id_from_contract.py
  src/omnibase_core/mixins/mixin_yaml_serialization.py
  src/omnibase_core/models/contracts/model_contract_compute.py
  src/omnibase_core/models/contracts/model_contract_effect.py
  src/omnibase_core/models/contracts/model_contract_reducer.py
  src/omnibase_core/models/core/model_action_registry.py
  src/omnibase_core/models/core/model_cli_command_registry.py
  src/omnibase_core/models/core/model_event_type_registry.py
  src/omnibase_core/models/core/model_project_metadata.py
  src/omnibase_core/models/core/model_state_contract.py
  src/omnibase_core/models/core/model_unified_hub_contract.py
  src/omnibase_core/models/service/model_docker_template_generator.py
  src/omnibase_core/models/service/model_kubernetestemplategenerator.py
  src/omnibase_core/utils/util_contract_loader.py
  src/omnibase_core/utils/util_safe_yaml_loader.py
  tests/unit/utils/test_safe_yaml_loader.py
  tests/unit/utils/test_safe_yaml_loader_branches.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

chore: Remove empty files and clean up commented-out imports
  scripts/intelligence/tests/__init__.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/errors/error_codes.py
  src/omnibase_core/models/core/model_node_introspection_result.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

refactor: Rename field_converter.py to util_field_converter.py
  src/omnibase_core/models/utils/model_field_converter.py
  src/omnibase_core/models/utils/model_field_converter_registry.py
  src/omnibase_core/utils/util_field_converter.py
  tests/unit/utils/test_field_converter.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

refactor: Move exception classes from mixins/ to errors/
  src/omnibase_core/errors/error_validation_failed.py
  src/omnibase_core/errors/exception_contract_violation.py
  src/omnibase_core/errors/exception_dependency_failed.py
  src/omnibase_core/errors/exception_fail_fast.py
  src/omnibase_core/mixins/mixin_fail_fast.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: Update remaining import paths for renamed utility files
  src/omnibase_core/logging/core_logging.py
  src/omnibase_core/logging/emit.py
  src/omnibase_core/models/cli/model_cli_result_metadata.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/models/core/model_action_registry.py
  src/omnibase_core/models/core/model_cli_command_registry.py
  src/omnibase_core/models/core/model_event_type_registry.py
  src/omnibase_core/models/core/model_item_summary.py
  src/omnibase_core/models/core/model_onex_internal_input_state.py
  src/omnibase_core/models/core/model_onex_internal_processing_context.py
  src/omnibase_core/models/discovery/model_introspection_response_event.py
  src/omnibase_core/models/discovery/model_node_shutdown_event.py
  src/omnibase_core/models/discovery/model_nodehealthevent.py
  src/omnibase_core/models/discovery/model_nodeintrospectionevent.py
  src/omnibase_core/models/discovery/model_tooldiscoveryrequest.py
  src/omnibase_core/models/metadata/analytics/model_analytics_core.py
  src/omnibase_core/models/metadata/model_metadata_field_info.py
  src/omnibase_core/models/metadata/model_metadata_node_analytics.py
  src/omnibase_core/models/metadata/model_metadatanodeanalytics.py
  src/omnibase_core/models/metadata/model_structured_description.py
  src/omnibase_core/models/metadata/model_structured_display_name.py
  src/omnibase_core/models/metadata/model_structured_tags.py
  src/omnibase_core/models/metadata/node_info/model_node_core.py
  src/omnibase_core/models/nodes/model_function_node_summary.py
  src/omnibase_core/models/nodes/model_node_capability.py
  src/omnibase_core/models/security/model_secret_manager.py
  src/omnibase_core/utils/__init__.py
  src/omnibase_core/utils/util_bootstrap.py
  tests/unit/utils/test_service_logging.py
  tests/unit/utils/test_util_bootstrap.py
  tests/unit/utils/test_uuid_utilities.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: Address all PR review feedback
  scripts/rename_exceptions.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/errors/error_validation_failed.py
  src/omnibase_core/errors/exception_audit_error.py
  src/omnibase_core/errors/exception_configuration_error.py
  src/omnibase_core/errors/exception_contract_violation.py
  src/omnibase_core/errors/exception_dependency_failed.py
  src/omnibase_core/errors/exception_fail_fast.py
  src/omnibase_core/errors/exception_file_processing_error.py
  src/omnibase_core/errors/exception_input_validation_error.py
  src/omnibase_core/errors/exception_migration_error.py
  src/omnibase_core/errors/exception_path_traversal_error.py
  src/omnibase_core/errors/exception_protocol_parsing_error.py
  src/omnibase_core/errors/exception_validation_framework_error.py
  src/omnibase_core/errors/exceptions.py
  src/omnibase_core/mixins/mixin_fail_fast.py
  src/omnibase_core/models/contracts/subcontracts/model_validation_schema_rule.py
  src/omnibase_core/models/core/model_action_config_value.py
  src/omnibase_core/models/validation/model_audit_result.py
  src/omnibase_core/models/validation/model_duplication_report.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/auditor_protocol.py
  src/omnibase_core/validation/validation_utils.py
  tests/unit/mixins/test_mixin_fail_fast.py
  tests/unit/utils/test_safe_yaml_loader_branches.py
  tests/unit/validation/test_architecture.py
  tests/unit/validation/test_exceptions.py
  tests/unit/validation/test_protocol_auditor.py
  tests/unit/validation/test_validation_utils.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: Update EnumCoreErrorCode import path in test file
  CLAUDE.md
  docs/architecture/overview.md
  docs/getting-started/FIRST_NODE.md
  docs/guides/TESTING_GUIDE.md
  docs/guides/node-building/01_WHAT_IS_A_NODE.md
  docs/guides/node-building/03_COMPUTE_NODE_TUTORIAL.md
  docs/guides/node-building/04_EFFECT_NODE_TUTORIAL.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  docs/guides/node-building/07_PATTERNS_CATALOG.md
  docs/guides/node-building/08_COMMON_PITFALLS.md
  docs/reference/README.md
  docs/reference/api/enums.md
  docs/reference/api/models.md
  docs/reference/api/nodes.md
  docs/reference/api/utils.md
  tests/unit/models/contracts/subcontracts/test_model_action_config_parameter.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix: Address all remaining PR #80 review feedback
  docs/guides/node-building/07_PATTERNS_CATALOG.md
  scripts/fix_no_redef_errors.py
  scripts/rename_exceptions.py
  scripts/update_error_enum_imports.py
  src/omnibase_core/enums/enum_core_error_code.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

docs(error_codes): add import order constraints documentation
  src/omnibase_core/errors/error_codes.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

chore: bump version to 0.3.2
  pyproject.toml
Due: none
