Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

docs: consolidate ADRs into single docs/decisions/ directory
  docs/INDEX.md
  docs/architecture/CANONICAL_EXECUTION_SHAPES.md
  docs/architecture/REGISTRATION_TRIGGER_DESIGN.md
  docs/architecture/adr/ADR-012-VALIDATOR-ERROR-HANDLING.md
  docs/architecture/adr/ADR-013-status-taxonomy.md
  docs/architecture/decisions/ADR-001-protocol-based-di-architecture.md
  docs/architecture/decisions/ADR-002-context-mutability-design-decision.md
  docs/architecture/decisions/ADR-003-reducer-output-exception-consistency.md
  docs/architecture/decisions/ADR-004-registration-trigger-architecture.md
  docs/architecture/decisions/ADR-005-core-infra-dependency-boundary.md
  docs/architecture/decisions/ADR-006-status-taxonomy.md
  docs/architecture/decisions/ADR_BEST_PRACTICES.md
  docs/architecture/decisions/INDEX.md
  docs/architecture/decisions/RISK-009-ci-workflow-modification-risk.md
  docs/conventions/ERROR_HANDLING_BEST_PRACTICES.md
  docs/decisions/ADR-001-protocol-based-di-architecture.md
  docs/decisions/ADR-002-field-limit-constants.md
  docs/decisions/ADR-003-reducer-output-exception-consistency.md
  docs/decisions/ADR-004-registration-trigger-architecture.md
  docs/decisions/ADR-005-core-infra-dependency-boundary.md
  docs/decisions/ADR-006-status-taxonomy.md
  docs/decisions/ADR-007-context-mutability-design-decision.md
  docs/decisions/ADR-012-VALIDATOR-ERROR-HANDLING.md
  docs/decisions/ADR-013-status-taxonomy.md
  docs/decisions/ADR_BEST_PRACTICES.md
  docs/decisions/ADR_FIXES_SUMMARY.md
  docs/decisions/README.md
  docs/decisions/RISK-009-ci-workflow-modification-risk.md
Due: none

docs: consolidate templates into single docs/guides/templates/ directory
  docs/guides/templates/COMPUTE_NODE_TEMPLATE.md
  docs/guides/templates/EFFECT_NODE_TEMPLATE.md
  docs/guides/templates/ENHANCED_NODE_PATTERNS.md
  docs/guides/templates/ORCHESTRATOR_NODE_TEMPLATE.md
  docs/guides/templates/REDUCER_NODE_TEMPLATE.md
  docs/reference/contracts.md
  docs/reference/templates/COMPUTE_NODE_TEMPLATE.md
  docs/reference/templates/EFFECT_NODE_TEMPLATE.md
  docs/reference/templates/ORCHESTRATOR_NODE_TEMPLATE.md
  docs/reference/templates/REDUCER_NODE_TEMPLATE.md
Due: none

docs: delete stale plans, reports, and roadmaps
  docs/MVP_PLAN.md
  docs/architecture/CONTRACT_DRIVEN_NODECOMPUTE_V1_0.md
  docs/architecture/CONTRACT_STABILITY_SPEC.md
  docs/architecture/DECLARATIVE_IMPLEMENTATION_PLAN.md
  docs/architecture/DOCUMENTATION_ARCHITECTURE.md
  docs/architecture/MISSING_MIXINS_ANALYSIS.md
  docs/architecture/NODECOMPUTE_VERSIONING_ROADMAP.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/architecture/SPI_PROTOCOL_ADOPTION_ROADMAP.md
  docs/architecture/tickets/NODEORCHESTRATOR_V1_0_LINEAR_TICKETS.md
  docs/quality/DOCUMENTATION_VALIDATION_REPORT.md
  docs/quality/TECH_DEBT_METRICS.md
  docs/quality/TERMINOLOGY_AUDIT_REPORT.md
  docs/quality/TERMINOLOGY_FIXES_CHECKLIST.md
  docs/release/V040_RELEASE_CHECKLIST.md
  docs/templates/LINEAR_ISSUE_TEMPLATE.md
Due: none

docs: refactor CLAUDE.md to constraints + pointers only (1018 -> 323 lines)
  CLAUDE.md
  docs/architecture/CLAUDE_CODE_HOOKS.md
Due: none

docs: add standard documentation layout template
  docs/standards/STANDARD_DOC_LAYOUT.md
Due: none

fix(review): [major/minor] update broken references to relocated and deleted docs
  .github/CODEOWNERS
  .github/workflows/test.yml
  .pre-commit-config.yaml
  docs/conventions/TERMINOLOGY_GUIDE.md
  scripts/validation/validate-no-kafka-listener-apis.py
  src/omnibase_core/utils/util_compute_executor.py
  src/omnibase_core/utils/util_compute_path_resolver.py
  src/omnibase_core/utils/util_compute_transformations.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(handshake): update omnidash route count and path alias
  architecture-handshakes/repos/omnidash.md
Due: none

docs(handshake): update omnidash route count and path alias (#507)
  architecture-handshakes/repos/omnidash.md
Due: none

Update repository references in CLAUDE_CODE_HOOKS.md
  docs/architecture/CLAUDE_CODE_HOOKS.md
Due: none

docs: add comprehensive documentation audit report with 141 files reviewed
  DOCS_AUDIT_REPORT.md
Due: none

fix(review): [major/minor] correct orchestrator examples, broken links, stale references
  docs/architecture/overview.md
  docs/getting-started/FIRST_NODE.md
  docs/getting-started/QUICK_START.md
  docs/guides/node-building/02_NODE_TYPES.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/patterns/ANTI_PATTERNS.md
Due: none

fix(review): [minor] fix import path and ambiguous orchestrator stub
  docs/guides/node-building/02_NODE_TYPES.md
  docs/guides/node-building/08_COMMON_PITFALLS.md
Due: none

fix(review): [major] fix wrong imports, phantom class, broken test, incorrect claims
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/getting-started/QUICK_START.md
  docs/guides/node-building/02_NODE_TYPES.md
  docs/guides/node-building/03_COMPUTE_NODE_TUTORIAL.md
  docs/guides/node-building/04_EFFECT_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  docs/guides/node-building/10_AGENT_TEMPLATES.md
  docs/patterns/EVENT_DRIVEN_ARCHITECTURE.md
Due: none

fix(review): [minor] add missing required params, fix ValueError -> ModelOnexError
  docs/architecture/CONTRACT_SYSTEM.md
  docs/architecture/NODE_PURITY_GUARANTEES.md
  docs/architecture/overview.md
  docs/contracts/HANDLER_CONTRACT_GUIDE.md
  docs/guides/THREADING.md
  docs/guides/templates/COMPUTE_NODE_TEMPLATE.md
  docs/guides/templates/EFFECT_NODE_TEMPLATE.md
  docs/guides/templates/ORCHESTRATOR_NODE_TEMPLATE.md
  docs/reference/api/nodes.md
Due: none

fix(review): [major] fix remaining wrong imports, phantom class, ValueError refs
  docs/architecture/CANONICAL_EXECUTION_SHAPES.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/architecture/overview.md
  docs/guides/TESTING_GUIDE.md
  docs/guides/THREADING.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  docs/guides/templates/REDUCER_NODE_TEMPLATE.md
  docs/patterns/ANTI_PATTERNS.md
  docs/reference/node-archetypes.md
Due: none

fix(review): [minor] add missing input_envelope_id/correlation_id to all for_*() calls
  docs/architecture/CANONICAL_EXECUTION_SHAPES.md
  docs/architecture/ENVELOPE_FLOW_ARCHITECTURE.md
  docs/architecture/MESSAGE_TOPIC_MAPPING.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/guides/node-building/02_NODE_TYPES.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  docs/guides/node-building/08_COMMON_PITFALLS.md
  docs/guides/node-building/10_AGENT_TEMPLATES.md
  docs/guides/templates/REDUCER_NODE_TEMPLATE.md
Due: none

fix(review): [major] fix phantom classes, wrong imports, undefined vars, handler pattern violations
  docs/architecture/CANONICAL_EXECUTION_SHAPES.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/guides/node-building/02_NODE_TYPES.md
Due: none

fix(review): [major] refactor node examples to handler pattern, fix imports and undefined vars
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/guides/node-building/02_NODE_TYPES.md
  docs/guides/templates/COMPUTE_NODE_TEMPLATE.md
  docs/guides/templates/EFFECT_NODE_TEMPLATE.md
  docs/guides/templates/ORCHESTRATOR_NODE_TEMPLATE.md
Due: none

fix(review): [minor] add missing handler params, fix test calls, add tutorial banners
  docs/guides/node-building/03_COMPUTE_NODE_TUTORIAL.md
  docs/guides/node-building/04_EFFECT_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  docs/guides/templates/COMPUTE_NODE_TEMPLATE.md
  docs/guides/templates/EFFECT_NODE_TEMPLATE.md
  docs/guides/templates/ORCHESTRATOR_NODE_TEMPLATE.md
  docs/reference/api/nodes.md
Due: none

fix(review): [minor] add missing handler_id to remaining for_*() calls
  docs/guides/node-building/03_COMPUTE_NODE_TUTORIAL.md
  docs/guides/node-building/04_EFFECT_NODE_TUTORIAL.md
  docs/reference/api/nodes.md
Due: none

fix(review): [major] correct event publishing claims, error examples, phantom imports/methods
  docs/contracts/HANDLER_CONTRACT_GUIDE.md
  docs/guides/templates/EFFECT_NODE_TEMPLATE.md
  docs/guides/templates/ORCHESTRATOR_NODE_TEMPLATE.md
  docs/reference/api/nodes.md
Due: none

fix(review): [major] replace phantom NodeReducer/NodeOrchestrator API methods, fix tuple syntax
  docs/contracts/HANDLER_CONTRACT_GUIDE.md
  docs/guides/templates/EFFECT_NODE_TEMPLATE.md
  docs/reference/api/nodes.md
Due: none

fix(review): remove legacy omniarchon/omninode_bridge references, fix hook consumer attribution
  docs/architecture/CLAUDE_CODE_HOOKS.md
  docs/architecture/ECOSYSTEM_DIRECTORY_STRUCTURE.md
  src/omnibase_core/mixins/mixin_intent_publisher.py
  src/omnibase_core/models/projection/model_projection_base.py
  src/omnibase_core/protocols/event_bus/__init__.py
  src/omnibase_core/protocols/event_bus/protocol_kafka_client.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(review): address all PR #509 review issues including nitpicks
  DOCS_AUDIT_REPORT.md
  docs/architecture/CONTAINER_DI_DESIGN.md
  docs/architecture/CONTAINER_TYPES.md
  docs/architecture/CONTRACT_DRIVEN_NODEREDUCER_V1_0.md
  docs/architecture/DEPENDENCY_INJECTION.md
  docs/architecture/ECOSYSTEM_DIRECTORY_STRUCTURE.md
  docs/architecture/MESSAGE_TOPIC_MAPPING.md
  docs/architecture/MIXINS_TO_HANDLERS_REFACTOR.md
  docs/architecture/MIXIN_ARCHITECTURE.md
  docs/architecture/MIXIN_CLASSIFICATION.md
  docs/architecture/MODEL_INTENT_ARCHITECTURE.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/architecture/NODE_PURITY_GUARANTEES.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/architecture/overview.md
  docs/guides/MIGRATING_FROM_DICT_ANY.md
  docs/guides/MIGRATING_TO_DECLARATIVE_NODES.md
  docs/guides/MIXIN_SUBCONTRACT_MAPPING.md
  docs/guides/TESTING_GUIDE.md
  docs/guides/mixin-development/01_CREATING_MIXINS.md
  docs/guides/mixin-development/03_PYDANTIC_MODELS.md
  docs/guides/mixin-development/README.md
  docs/guides/node-building/03_COMPUTE_NODE_TUTORIAL.md
  docs/guides/node-building/04_EFFECT_NODE_TUTORIAL.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
Due: none

feat(ci): add quality gate, detect-secrets, and CI summary jobs [OMN-2226]
  .github/required-checks.yaml
  .github/workflows/test.yml
  .secrets.baseline
Due: validate-string-versions

fix(review): [major] fix phantom class, non-exported import, and broken test in HANDLER_ARCHITECTURE
  docs/architecture/HANDLER_ARCHITECTURE.md
Due: none

fix(ci): use detect-secrets-hook for baseline comparison in CI [OMN-2226]
  .github/required-checks.yaml
  .github/workflows/test.yml
Due: validate-string-versions

fix(review): [major] fix phantom imports and broken module paths in documentation
  docs/architecture/MIXIN_ARCHITECTURE.md
  docs/architecture/SUBCONTRACT_ARCHITECTURE.md
  docs/guides/mixin-development/01_CREATING_MIXINS.md
  docs/guides/mixin-development/04_MIXIN_INTEGRATION.md
  docs/reference/api/utils.md
Due: none

fix(ci): use detect-secrets-hook for baseline comparison in CI [OMN-2226]
  .github/workflows/test.yml
  .secrets.baseline
Due: validate-string-versions

fix(ci): replace detect-secrets-hook with hash-based baseline diff [OMN-2226]
  .github/workflows/test.yml
Due: validate-string-versions

fix(ci): exclude baseline and workflow files from detect-secrets scan [OMN-2226]
  .github/workflows/test.yml
  .secrets.baseline
Due: validate-string-versions

fix(ci): use detect-secrets-hook for CI enforcement and audit baseline [OMN-2226]
  .github/workflows/test.yml
  .secrets.baseline
Due: validate-string-versions

fix(review): [major] add recursion depth limit and fix misleading CI gate
  .github/workflows/test.yml
  src/omnibase_core/merge/geometric_conflict_classifier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(standards): add CI/CD Standards document [OMN-2224]
  docs/INDEX.md
  docs/standards/CI_CD_STANDARDS.md
Due: none

fix(docs): address CodeRabbit review — escape pipe, add fenced block languages [OMN-2224]
  docs/standards/CI_CD_STANDARDS.md
Due: none

docs(standards): add CI/CD Standards document [OMN-2224] (#511)
  docs/INDEX.md
  docs/standards/CI_CD_STANDARDS.md
Due: none

fix(review): [major] correct is_verified flags and add missing documentation
  .github/workflows/test.yml
  .secrets.baseline
  src/omnibase_core/merge/geometric_conflict_classifier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
