Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chore: release v0.33.1 (#739)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(navigation): add NavigationFacade integration layer for cross-repo consumers [OMN-6599]
  src/omnibase_core/navigation/__init__.py
  src/omnibase_core/navigation/integration.py
  tests/unit/navigation/test_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(navigation): add NavigationFacade integration layer for cross-repo consumers [OMN-6599] (#740)
  src/omnibase_core/navigation/__init__.py
  src/omnibase_core/navigation/integration.py
  tests/unit/navigation/test_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(mixins): document mixin adoption pattern for executor and tool execution [OMN-6604]
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_tool_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(mixins): add get_health_report to MixinHealthCheck [OMN-6606]
  src/omnibase_core/mixins/mixin_health_check.py
  tests/unit/mixins/test_health_report.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(ci): add auto-merge-on-open workflow [OMN-6571]
  .github/workflows/auto-merge.yml
Due: validate-string-versions

feat(ci): add auto-merge-on-open workflow [OMN-6571] (#742)
  .github/workflows/auto-merge.yml
Due: validate-string-versions

ci: add CodeQL security scanning workflow [OMN-5412]
  .github/workflows/codeql.yml
Due: validate-string-versions

fix(cli): add descriptive error messages to scaffolder stubs [OMN-6759]
  src/omnibase_core/cli/cli_new.py
  tests/unit/cli/test_cli_new.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(cli): add descriptive error messages to scaffolder stubs [OMN-6759] (#744)
  src/omnibase_core/cli/cli_new.py
  tests/unit/cli/test_cli_new.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): add continue-on-error to auto-merge workflow [OMN-6571]
  .github/workflows/auto-merge.yml
Due: validate-string-versions

chore: release omnibase_core v0.34.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: release omnibase_core v0.34.0 (#746)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: add agent behavioral rules for autonomous safety and contract-first topics [OMN-6888]
  CLAUDE.md
Due: none

feat(mixins): document mixin adoption pattern and add health report [OMN-6604][OMN-6606] (#741)
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_tool_execution.py
  tests/unit/mixins/test_health_report.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): add continue-on-error to auto-merge workflow [OMN-6571] (#745)
  .github/workflows/auto-merge.yml
Due: validate-string-versions

docs: add agent behavioral rules for autonomous safety and contract-first topics [OMN-6888] (#747)
  CLAUDE.md
Due: none

ci: add CodeQL security scanning workflow [OMN-5412] (#743)
  .github/workflows/codeql.yml
Due: validate-string-versions

ci: add PR title check caller workflow [OMN-6916]
  .github/workflows/pr-title-check.yml
Due: validate-string-versions

ci: add PR title check caller workflow [OMN-6916] (#748)
  .github/workflows/pr-title-check.yml
Due: validate-string-versions

feat(models): add ModelTaskContract for agent team verification [OMN-7025]
  src/omnibase_core/enums/enum_check_type.py
  src/omnibase_core/models/task/__init__.py
  src/omnibase_core/models/task/model_mechanical_check.py
  src/omnibase_core/models/task/model_task_contract.py
  tests/unit/models/task/__init__.py
  tests/unit/models/task/test_model_task_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add ModelTaskContract for agent team verification [OMN-7025] (#749)
  src/omnibase_core/enums/enum_check_type.py
  src/omnibase_core/models/task/__init__.py
  src/omnibase_core/models/task/model_mechanical_check.py
  src/omnibase_core/models/task/model_task_contract.py
  tests/unit/models/task/__init__.py
  tests/unit/models/task/test_model_task_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

release: omnibase_core v0.35.0
  pyproject.toml
  uv.lock
Due: none

release: omnibase_core v0.35.0 (#750)
  pyproject.toml
  uv.lock
Due: none

feat(protocols): add ProtocolStateStore for unified state persistence [OMN-7061]
  src/omnibase_core/protocols/storage/__init__.py
  src/omnibase_core/protocols/storage/protocol_state_store.py
  tests/unit/protocols/storage/__init__.py
  tests/unit/protocols/storage/test_protocol_state_store.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(event_bus): extract EventBusInmemory from omnibase_infra to core [OMN-7062]
  src/omnibase_core/event_bus/__init__.py
  src/omnibase_core/event_bus/event_bus_inmemory.py
  src/omnibase_core/models/event_bus/__init__.py
  src/omnibase_core/models/event_bus/model_event_bus_readiness.py
  src/omnibase_core/models/event_bus/model_event_headers.py
  src/omnibase_core/models/event_bus/model_event_message.py
  tests/unit/event_bus/__init__.py
  tests/unit/event_bus/test_event_bus_inmemory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor: move ModelStateEnvelope and StateCorruptionError to proper directories [OMN-7061]
  src/omnibase_core/errors/error_state_corruption.py
  src/omnibase_core/models/state/__init__.py
  src/omnibase_core/models/state/model_state_envelope.py
  src/omnibase_core/protocols/storage/__init__.py
  src/omnibase_core/protocols/storage/protocol_state_store.py
  tests/unit/protocols/storage/test_protocol_state_store.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(state): add ServiceStateDisk file-based state store [OMN-7063]
  .yaml-validation-allowlist.yaml
  src/omnibase_core/services/state/__init__.py
  src/omnibase_core/services/state/service_state_disk.py
  tests/unit/services/state/__init__.py
  tests/unit/services/state/test_service_state_disk.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(entry_points): add onex.backends and onex.cli groups [OMN-7064]
  pyproject.toml
  tests/unit/test_entry_point_discovery.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(cli): add onex registry status command [OMN-7066]
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_registry.py
  tests/unit/cli/test_cli_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(container): add registry auto-configuration from entry points [OMN-7065]
  src/omnibase_core/container/container_auto_config.py
  src/omnibase_core/enums/enum_probe_state.py
  src/omnibase_core/models/container/model_probe_result.py
  tests/unit/container/test_auto_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): make lazy import test resilient to pytest-xdist pollution [OMN-7061]
  tests/unit/test_no_circular_imports.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(state): add ServiceStateDisk file-based state store [OMN-7063] (#753)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/services/state/__init__.py
  src/omnibase_core/services/state/service_state_disk.py
  tests/unit/services/state/__init__.py
  tests/unit/services/state/test_service_state_disk.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci: add onex compliance check as CI gate [OMN-7078]
  .github/actions/compliance-check/action.yml
  .github/workflows/ci.yml
Due: validate-string-versions

ci: add onex compliance check as CI gate [OMN-7078] (#757)
  .github/actions/compliance-check/action.yml
  .github/workflows/ci.yml
Due: validate-string-versions

feat(compliance): add contract compliance scanner COMPUTE node [OMN-7069]
  .yaml-validation-allowlist.yaml
  src/omnibase_core/models/nodes/compliance_scan/__init__.py
  src/omnibase_core/models/nodes/compliance_scan/model_check_result.py
  src/omnibase_core/models/nodes/compliance_scan/model_compliance_check_result.py
  src/omnibase_core/nodes/node_compliance_scan_compute/__init__.py
  src/omnibase_core/nodes/node_compliance_scan_compute/contract.yaml
  src/omnibase_core/nodes/node_compliance_scan_compute/handler.py
  tests/unit/nodes/node_compliance_scan_compute/__init__.py
  tests/unit/nodes/node_compliance_scan_compute/test_compliance_scan_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(compliance): add compliance report REDUCER node [OMN-7070]
  src/omnibase_core/models/nodes/compliance_report/__init__.py
  src/omnibase_core/models/nodes/compliance_report/model_compliance_check_detail.py
  src/omnibase_core/models/nodes/compliance_report/model_compliance_check_result.py
  src/omnibase_core/models/nodes/compliance_report/model_compliance_report_state.py
  src/omnibase_core/nodes/node_compliance_report_reducer/__init__.py
  src/omnibase_core/nodes/node_compliance_report_reducer/contract.yaml
  src/omnibase_core/nodes/node_compliance_report_reducer/handler.py
  tests/unit/nodes/test_compliance_report_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(compliance): add compliance evidence EFFECT node [OMN-7071]
  src/omnibase_core/models/nodes/compliance_evidence/__init__.py
  src/omnibase_core/models/nodes/compliance_evidence/model_compliance_check_detail.py
  src/omnibase_core/models/nodes/compliance_evidence/model_compliance_check_entry.py
  src/omnibase_core/models/nodes/compliance_evidence/model_compliance_evidence_output.py
  src/omnibase_core/models/nodes/compliance_evidence/model_compliance_report_state.py
  src/omnibase_core/nodes/node_compliance_evidence_effect/__init__.py
  src/omnibase_core/nodes/node_compliance_evidence_effect/contract.yaml
  src/omnibase_core/nodes/node_compliance_evidence_effect/handler.py
  tests/unit/nodes/test_compliance_evidence_effect/__init__.py
  tests/unit/nodes/test_compliance_evidence_effect/test_compliance_evidence_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(compliance): add compliance orchestrator and workflow contract [OMN-7072]
  src/omnibase_core/models/nodes/compliance_orchestrator/__init__.py
  src/omnibase_core/models/nodes/compliance_orchestrator/model_check_request_intent.py
  src/omnibase_core/models/nodes/compliance_orchestrator/model_compliance_orchestrator_result.py
  src/omnibase_core/models/nodes/compliance_orchestrator/model_scan_request.py
  src/omnibase_core/nodes/node_compliance_orchestrator/__init__.py
  src/omnibase_core/nodes/node_compliance_orchestrator/contract.yaml
  src/omnibase_core/nodes/node_compliance_orchestrator/handler.py
  src/omnibase_core/workflows/__init__.py
  src/omnibase_core/workflows/compliance_workflow.yaml
  tests/unit/nodes/test_compliance_orchestrator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(compliance): add compliance report REDUCER node [OMN-7070] (#760)
  src/omnibase_core/models/nodes/compliance_report/__init__.py
  src/omnibase_core/models/nodes/compliance_report/model_compliance_check_detail.py
  src/omnibase_core/models/nodes/compliance_report/model_compliance_check_result.py
  src/omnibase_core/models/nodes/compliance_report/model_compliance_report_state.py
  src/omnibase_core/nodes/node_compliance_report_reducer/__init__.py
  src/omnibase_core/nodes/node_compliance_report_reducer/contract.yaml
  src/omnibase_core/nodes/node_compliance_report_reducer/handler.py
  tests/unit/nodes/test_compliance_report_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
