Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-20450): split multi-class file into single-class modules
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/handler.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/node_linear_transport_error.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/node_sprint_roll_journal.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/runtime_sprint_roll_apply.py
  tests/unit/nodes/node_sprint_roll_apply_effect/test_node_sprint_roll_apply_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20448): occ-preflight retries an unreadable SHA ancestry read inside the existing budget
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_body_unresolved.py
  tests/ci/test_occ_preflight_wait_cli_no_companion_required_omn18882.py
  tests/ci/test_occ_preflight_wait_durable_tip_omn19398.py
  tests/ci/test_occ_preflight_wait_no_companion_race_omn19164.py
  tests/ci/test_occ_preflight_wait_omn17864.py
  tests/ci/test_occ_preflight_wait_sha_ancestry_unresolved.py
  tests/ci/test_occ_preflight_wait_terminal_decline_omn18647.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(validators): scale stalled-selector regression to 3000 paths
  tests/unit/validators/test_canonical_file_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20450): rename classes to satisfy Node* naming convention
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/handler.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/node_linear_transport_error.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/node_sprint_roll_journal.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/runtime_sprint_roll_apply.py
  tests/unit/nodes/node_sprint_roll_apply_effect/test_node_sprint_roll_apply_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20397): three defects a live dry run found, and the test that each needed (#1872)
  pyproject.toml
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/handler.py
  src/omnibase_core/nodes/node_sprint_roll_compute/roll_core.py
  tests/unit/nodes/node_sprint_roll_apply_effect/test_node_sprint_roll_apply_effect.py
  tests/unit/nodes/node_sprint_roll_compute/test_node_sprint_roll_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20397): one source rule, not two, and the transport failure gets its own module
  pyproject.toml
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/linear_transport_failure.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/runtime_sprint_roll_apply.py
  tests/unit/nodes/node_sprint_roll_apply_effect/test_node_sprint_roll_apply_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20427): hold pending L4 row during same-suite rerun
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-20467): mutation control binds the stalled-pipe regression to a mutant it must fail on
  tests/unit/validators/test_canonical_file_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20427): occ-preflight retries an unreadable PR body inside the existing budget (#1873)
  scripts/ci/ci_summary_gate.py
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_body_unresolved.py
  tests/ci/test_occ_preflight_wait_omn17864.py
  tests/ci/test_occ_preflight_wait_terminal_decline_omn18647.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20482): auto-merge concurrency group carries the event class
  .github/workflows/auto-merge.yml
  tests/unit/validation/test_auto_merge_concurrency_event_class_omn20482.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20482): auto-merge concurrency group carries the event class (#1878)
  .github/workflows/auto-merge.yml
  tests/unit/validation/test_auto_merge_concurrency_event_class_omn20482.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20499): sync uv.lock to pyproject 0.47.34
  uv.lock
Due: none

test(enums): pin delegation enum contracts (OMN-17427) (#1871)
  tests/unit/enums/test_delegation_enum_contracts.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20448): occ-preflight retries an unreadable SHA ancestry read inside the existing budget (#1875)
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_body_unresolved.py
  tests/ci/test_occ_preflight_wait_cli_no_companion_required_omn18882.py
  tests/ci/test_occ_preflight_wait_durable_tip_omn19398.py
  tests/ci/test_occ_preflight_wait_no_companion_race_omn19164.py
  tests/ci/test_occ_preflight_wait_omn17864.py
  tests/ci/test_occ_preflight_wait_sha_ancestry_unresolved.py
  tests/ci/test_occ_preflight_wait_terminal_decline_omn18647.py
  uv.lock
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(validators): scale stalled-selector regression to 3000 paths (OMN-20304) (#1876)
  tests/unit/validators/test_canonical_file_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17427): a binding for a merged fix must fail at the merge base with that fix reverted (#1869)
  .github/workflows/receipt-gate.yml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
  tests/ci/test_receipt_gate_merged_fix_control_omn17427.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20450): split runtime_sprint_roll_apply.py into single-class modules (#1874)
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/handler.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/node_linear_transport_error.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/node_sprint_roll_journal.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/runtime_sprint_roll_apply.py
  tests/unit/nodes/node_sprint_roll_apply_effect/test_node_sprint_roll_apply_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20070): align coverage-only evidence controls
  .github/workflows/receipt-gate.yml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
  tests/ci/test_receipt_gate_merged_fix_control_omn17427.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20070): align coverage-only evidence controls (#1880)
  .github/workflows/receipt-gate.yml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
  tests/ci/test_receipt_gate_merged_fix_control_omn17427.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-20522): RED - L4 red held while a newer producer run is unfinished
  tests/ci/fixtures/omn20522/case_a_check_runs.json
  tests/ci/fixtures/omn20522/case_a_workflow_runs.json
  tests/ci/fixtures/omn20522/case_b_check_runs.json
  tests/ci/fixtures/omn20522/case_b_workflow_runs.json
  tests/ci/test_ci_summary_l4_wait_omn20522.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20522): hold an L4 red while a newer run of its producer is unfinished
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_l4_wait_omn20522.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20522): match the producer run's event before holding an L4 red
  scripts/ci/ci_summary_gate.py
  tests/ci/test_ci_summary_l4_wait_omn20522.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20522): CI Summary holds an L4 red while a newer producer run is unfinished (#1882)
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/ci/fixtures/omn20522/case_a_check_runs.json
  tests/ci/fixtures/omn20522/case_a_workflow_runs.json
  tests/ci/fixtures/omn20522/case_b_check_runs.json
  tests/ci/fixtures/omn20522/case_b_workflow_runs.json
  tests/ci/test_ci_summary_l4_wait_omn20522.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-20525): RED - pin bump banner must keep its indent
  tests/unit/scripts/test_pin_bump.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20525): pin bump banner reuses the indent of the line it replaces
  scripts/pin_bump.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20525): pin bump banner reuses the indent of the line it replaces (#1883)
  scripts/pin_bump.py
  tests/unit/scripts/test_pin_bump.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20073): the caller-evidence dod-verify job honours the dependency-bot and pin-only writer-app exemption
  .github/workflows/receipt-gate.yml
  tests/ci/test_bot_exempt_writer_app_pin_only_omn20161.py
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20073): the caller-evidence dod-verify job honours the dependency-bot and pin-only writer-app exemption (#1884)
  .github/workflows/receipt-gate.yml
  tests/ci/test_bot_exempt_writer_app_pin_only_omn20161.py
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-19267): hosted Contract Compliance skips local_done_gate items
  scripts/ci/defer_test_passes_driver.py
  tests/unit/scripts/ci/test_contract_compliance_pr_scope_omn20131.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-19267): hosted Contract Compliance skips local_done_gate items (#1885)
  scripts/ci/defer_test_passes_driver.py
  tests/unit/scripts/ci/test_contract_compliance_pr_scope_omn20131.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20543): the repo-evidence dod-verify job gives database tests a real Postgres at the head and in the merge-base control
  .github/workflows/receipt-gate.yml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20543): a runner that cannot install the PG16 tools refuses by name
  .github/workflows/receipt-gate.yml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20543): the repo-evidence dod-verify job gives database tests a real Postgres at the head and in the merge-base control (#1886)
  .github/workflows/receipt-gate.yml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-20396): the roll places by pillar, owner and mandatory work, and proposes estimates
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_roll_plan.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_roll_request.py
  src/omnibase_core/nodes/node_sprint_roll_compute/roll_core.py
  tests/unit/nodes/node_sprint_roll_compute/test_node_sprint_roll_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-20396): bump to 0.47.35, the version this change ships under
  pyproject.toml
  uv.lock
Due: none

test(OMN-20559): characterization tests pin every gate the ratchet burn-down touches
  tests/unit/scripts/ci/test_ratchet_burn_down_characterization.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(OMN-20559): handler-shape and provenance-stamp gates become plain checks in core; their empty baselines are deleted
  .onex_ratchets/canonical_file_shape_baseline.txt
  .pre-commit-config.yaml
  scripts/ci/canonical_handler_shape.py
  scripts/ci/canonical_handler_shape_baseline.py
  scripts/ci/rsd_provenance_stamp.py
  scripts/ci/rsd_provenance_stamp_baseline.py
  tests/unit/scripts/ci/test_canonical_handler_shape.py
  tests/unit/scripts/ci/test_rsd_provenance_stamp.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(OMN-20559): core ships no runtime-profiles allowlist; the empty core default is deleted
  pyproject.toml
  src/omnibase_core/validation/contracts/runtime_profiles.validation.yaml
  src/omnibase_core/validation/runtime_profiles_allowlist.yaml
  src/omnibase_core/validation/validator_runtime_profiles.py
  tests/unit/validation/test_validator_runtime_profiles.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(OMN-20559): transport-import gate drops its empty temporary allowlist and expiry plumbing
  scripts/check_transport_imports.py
  tests/integration/scripts/test_check_transport_imports_integration.py
  tests/unit/scripts/test_check_transport_imports.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
