Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

Path conditions:
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$
  validate-union-usage: any of: ^src/.*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix: address PR #111 review feedback - code quality improvements
  scripts/cleanup.py
  src/omnibase_core/errors/__init__.py
  src/omnibase_core/models/contracts/mixin_node_type_validator.py
  tests/unit/errors/test_runtime_errors.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: accept lowercase node_type + feat(cleanup): enhance cleanup.py (#111)
  .gitignore
  CLAUDE.md
  scripts/cleanup.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_core_error_code.py
  src/omnibase_core/errors/__init__.py
  src/omnibase_core/errors/runtime_errors.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/mixin_node_type_validator.py
  src/omnibase_core/models/contracts/model_contract_compute.py
  src/omnibase_core/models/contracts/model_contract_effect.py
  src/omnibase_core/models/contracts/model_contract_orchestrator.py
  src/omnibase_core/models/contracts/model_contract_reducer.py
  src/omnibase_core/validation/contract_validator.py
  tests/unit/errors/test_runtime_errors.py
  tmp/pr-review-cache/pr_109_OmniNode-ai-omnibase_core_full.json
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat(models): implement ModelOnexEnvelope unified message format [OMN-224]
  CHANGELOG.md
  docs/performance/SOURCE_NODE_ID_BENCHMARKS.md
  docs/release-notes/RELEASE_NOTES_v0.1.1.md
  src/omnibase_core/mixins/mixin_intent_publisher.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_onex_envelope.py
  src/omnibase_core/models/core/model_onex_envelope_v1.py
  tests/integration/test_intent_publisher_integration.py
  tests/performance/test_source_node_id_overhead.py
  tests/unit/mixins/test_mixin_intent_publisher.py
  tests/unit/models/test_model_onex_envelope.py
  tests/unit/models/test_model_onex_envelope_source_node_id.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(models): address PR #112 review feedback for ModelOnexEnvelope [OMN-224]
  docs/performance/SOURCE_NODE_ID_BENCHMARKS.md
  docs/release-notes/RELEASE_NOTES_v0.1.1.md
  src/omnibase_core/models/core/model_onex_envelope.py
  tests/performance/test_source_node_id_overhead.py
  tests/unit/models/test_model_onex_envelope.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(docs): address PR #112 review feedback for ModelOnexEnvelope [OMN-224]
  docs/INDEX.md
  docs/performance/SOURCE_NODE_ID_BENCHMARKS.md
  docs/release-notes/RELEASE_NOTES_v0.1.0.md
  docs/release-notes/RELEASE_NOTES_v0.1.1.md
  tests/unit/models/test_model_onex_envelope_source_node_id.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(mvp): add current status tracking and update completion status
  docs/MVP_PLAN.md
Due: none

fix(models): add typed ModelEnvelopeMetadata and fix thread-safe logger [OMN-224]
  .pre-commit-config.yaml
  src/omnibase_core/logging/core_logging.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_envelope_metadata.py
  src/omnibase_core/models/core/model_onex_envelope.py
  tests/unit/logging/test_core_logging.py
  tests/unit/mixins/test_mixin_intent_publisher.py
  tests/unit/models/test_model_onex_envelope.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(models): address PR #112 nitpicks and enhance __str__ representation [OMN-224]
  docs/performance/SOURCE_NODE_ID_BENCHMARKS.md
  src/omnibase_core/models/core/model_onex_envelope.py
  tests/performance/test_source_node_id_overhead.py
  tests/unit/models/test_model_onex_envelope.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat(models): add factory methods and security docs for ModelOnexEnvelope [OMN-224]
  src/omnibase_core/models/core/model_onex_envelope.py
  tests/unit/models/test_model_onex_envelope.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat(validation): add handlers/ directory exception to naming checker
  src/omnibase_core/validation/checker_naming_convention.py
  tests/unit/validation/test_patterns.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

chore: add yamlfmt config file and apply code style fixes [OMN-224]
  .pre-commit-config.yaml
  .yamlfmt
  src/omnibase_core/models/core/model_onex_envelope.py
  tests/performance/test_source_node_id_overhead.py
  tests/unit/models/test_model_onex_envelope.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat(models): implement ModelOnexEnvelope unified message format [OMN-224] (#112)
  .pre-commit-config.yaml
  .yamlfmt
  CHANGELOG.md
  docs/INDEX.md
  docs/MVP_PLAN.md
  docs/performance/SOURCE_NODE_ID_BENCHMARKS.md
  docs/release-notes/RELEASE_NOTES_v0.1.0.md
  docs/release-notes/RELEASE_NOTES_v0.1.1.md
  src/omnibase_core/logging/core_logging.py
  src/omnibase_core/mixins/mixin_intent_publisher.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_envelope_metadata.py
  src/omnibase_core/models/core/model_onex_envelope.py
  src/omnibase_core/models/core/model_onex_envelope_v1.py
  src/omnibase_core/validation/checker_naming_convention.py
  tests/integration/test_intent_publisher_integration.py
  tests/performance/test_source_node_id_overhead.py
  tests/unit/logging/test_core_logging.py
  tests/unit/mixins/test_mixin_intent_publisher.py
  tests/unit/models/test_model_onex_envelope.py
  tests/unit/models/test_model_onex_envelope_source_node_id.py
  tests/unit/validation/test_patterns.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat(nodes): implement legacy node migration [OMN-158, OMN-159, OMN-160]
  .gitignore
  docs/MVP_PLAN.md
  docs/architecture/DECLARATIVE_IMPLEMENTATION_PLAN.md
  docs/architecture/DECLARATIVE_WORKFLOW_FINDINGS.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/guides/MIGRATING_TO_DECLARATIVE_NODES.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  src/omnibase_core/mixins/mixin_fsm_execution.py
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/mixins/mixin_workflow_execution.py
  src/omnibase_core/nodes/__init__.py
  src/omnibase_core/nodes/legacy/__init__.py
  src/omnibase_core/nodes/legacy/node_compute_legacy.py
  src/omnibase_core/nodes/legacy/node_effect_legacy.py
  src/omnibase_core/nodes/legacy/node_orchestrator_legacy.py
  src/omnibase_core/nodes/legacy/node_reducer_legacy.py
  src/omnibase_core/nodes/node_orchestrator.py
  src/omnibase_core/nodes/node_orchestrator_declarative.py
  src/omnibase_core/nodes/node_reducer.py
  src/omnibase_core/nodes/node_reducer_declarative.py
  tests/unit/api_snapshots/test_import_paths_snapshot.py
  tests/unit/nodes/test_declarative_nodes.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(nodes): address PR #113 review feedback
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/nodes/legacy/node_compute_legacy.py
  src/omnibase_core/nodes/legacy/node_orchestrator_legacy.py
  src/omnibase_core/nodes/legacy/node_reducer_legacy.py
  src/omnibase_core/nodes/node_orchestrator.py
  src/omnibase_core/nodes/node_reducer.py
  tests/unit/nodes/test_declarative_nodes.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

style: apply black formatting to reducer files
  src/omnibase_core/nodes/legacy/node_reducer_legacy.py
  src/omnibase_core/nodes/node_reducer.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(nodes): address PR #113 review feedback + update v0.4.0 documentation
  .gitignore
  CLAUDE.md
  docs/INDEX.md
  docs/MVP_PLAN.md
  docs/architecture/DECLARATIVE_IMPLEMENTATION_PLAN.md
  docs/architecture/DECLARATIVE_WORKFLOW_FINDINGS.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/getting-started/QUICK_START.md
  docs/guides/MIGRATING_TO_DECLARATIVE_NODES.md
  docs/guides/node-building/01_WHAT_IS_A_NODE.md
  docs/guides/node-building/02_NODE_TYPES.md
  docs/guides/node-building/03_COMPUTE_NODE_TUTORIAL.md
  docs/guides/node-building/04_EFFECT_NODE_TUTORIAL.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  docs/guides/node-building/README.md
  docs/guides/templates/COMPUTE_NODE_TEMPLATE.md
  docs/guides/templates/EFFECT_NODE_TEMPLATE.md
  docs/guides/templates/ORCHESTRATOR_NODE_TEMPLATE.md
  docs/guides/templates/REDUCER_NODE_TEMPLATE.md
  docs/reference/templates/COMPUTE_NODE_TEMPLATE.md
  src/omnibase_core/infrastructure/node_base.py
  src/omnibase_core/mixins/mixin_event_handler.py
  src/omnibase_core/mixins/mixin_lazy_evaluation.py
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_node_service.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_reducer.py
  src/omnibase_core/utils/workflow_executor.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

docs(node-building): add Agent Templates for AI agents - 100% docs complete
  docs/INDEX.md
  docs/guides/node-building/10_AGENT_TEMPLATES.md
Due: none

fix(ci): resolve PR #113 CI failures - formatting, tests, and docs
  .pre-commit-config.yaml
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/guides/node-building/02_NODE_TYPES.md
  pyproject.toml
  src/omnibase_core/nodes/node_orchestrator.py
  src/omnibase_core/utils/workflow_executor.py
  tests/unit/models/nodes/node_services/test_model_service_orchestrator_integration.py
  tests/unit/models/nodes/node_services/test_model_service_reducer_integration.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

refactor(nodes): remove legacy backwards compatibility
  CLAUDE.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/guides/MIGRATING_TO_DECLARATIVE_NODES.md
  src/omnibase_core/nodes/__init__.py
  src/omnibase_core/nodes/legacy/__init__.py
  src/omnibase_core/nodes/legacy/node_compute_legacy.py
  src/omnibase_core/nodes/legacy/node_effect_legacy.py
  src/omnibase_core/nodes/legacy/node_orchestrator_legacy.py
  src/omnibase_core/nodes/legacy/node_reducer_legacy.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

style: fix isort import sorting in test files
  tests/unit/api_snapshots/test_import_paths_snapshot.py
  tests/unit/models/nodes/node_services/test_model_service_orchestrator_integration.py
  tests/unit/nodes/test_declarative_nodes.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(pr-113): address all PR review feedback for v0.4.0 release
  CHANGELOG.md
  docs/INDEX.md
  docs/architecture/DECLARATIVE_WORKFLOW_FINDINGS.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/guides/MIGRATING_TO_DECLARATIVE_NODES.md
  docs/guides/node-building/02_NODE_TYPES.md
  src/omnibase_core/mixins/__init__.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/mixins/mixin_lazy_evaluation.py
  src/omnibase_core/models/configuration/model_session_affinity.py
  src/omnibase_core/nodes/node_compute.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(types): make ModelServiceReducer generic for mypy strict compliance
  src/omnibase_core/models/service/model_service_reducer.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(pr-113): address all PR review feedback for v0.4.0 release
  .gitignore
  CHANGELOG.md
  docs/INDEX.md
  docs/architecture/VALIDATION_PROTOCOL_COMPLIANCE.md
  docs/guides/MIGRATING_TO_DECLARATIVE_NODES.md
  docs/guides/node-building/02_NODE_TYPES.md
  docs/validation/REGEX_PATTERN_IMPROVEMENTS.md
  src/omnibase_core/mixins/mixin_lazy_evaluation.py
  src/omnibase_core/models/operations/model_workflow_parameters.py
  src/omnibase_core/utils/workflow_executor.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(pr-113): address comprehensive PR review feedback
  .gitignore
  CHANGELOG.md
  docs/architecture/DECLARATIVE_WORKFLOW_FINDINGS.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/guides/MIGRATING_TO_DECLARATIVE_NODES.md
  docs/guides/node-building/02_NODE_TYPES.md
  src/omnibase_core/models/configuration/model_session_affinity.py
  src/omnibase_core/models/core/model_node_action_validator.py
  src/omnibase_core/models/core/model_retry_config.py
  src/omnibase_core/models/discovery/model_nodehealthevent.py
  src/omnibase_core/models/node_metadata/model_function_node_metadata_class.py
  src/omnibase_core/models/service/model_service_reducer.py
  src/omnibase_core/nodes/legacy/__init__.py
  src/omnibase_core/nodes/legacy/node_orchestrator_legacy.py
  src/omnibase_core/utils/__init__.py
  src/omnibase_core/utils/util_hash.py
  tests/unit/utils/test_util_hash.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(pr-113): address all PR review feedback for release readiness
  CHANGELOG.md
  docs/INDEX.md
  docs/architecture/DECLARATIVE_WORKFLOW_FINDINGS.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/contracts/INTROSPECTION_SUBCONTRACT_GUIDE.md
  pyproject.toml
  src/omnibase_core/container/service_registry.py
  src/omnibase_core/models/cli/model_output_format_options.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/models/core/model_retry_config.py
  src/omnibase_core/models/examples/model_environment_properties.py
  src/omnibase_core/nodes/legacy/__init__.py
  src/omnibase_core/nodes/legacy/node_orchestrator_legacy.py
  src/omnibase_core/types/constraints.py
  src/omnibase_core/utils/util_hash.py
  tests/performance/contracts/test_model_dependency_performance.py
  tests/unit/utils/test_util_hash.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(pr-113): hard delete legacy nodes and fix type safety issues
  CHANGELOG.md
  docs/MVP_PLAN.md
  docs/architecture/DECLARATIVE_IMPLEMENTATION_PLAN.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/guides/MIGRATING_TO_DECLARATIVE_NODES.md
  docs/guides/node-building/README.md
  src/omnibase_core/container/service_registry.py
  src/omnibase_core/models/cli/model_output_format_options.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/models/examples/model_environment_properties.py
  src/omnibase_core/nodes/legacy/__init__.py
  src/omnibase_core/nodes/legacy/node_orchestrator_legacy.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/constraints.py
  tests/performance/contracts/test_model_dependency_performance.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(ruff): add TC006 to ignore list for cast() quotes
  pyproject.toml
Due: none

fix(tests): handle PEP 695 generics in signature snapshot tests
  tests/unit/api_snapshots/test_signatures_snapshot.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(compute): implement contract-driven NodeCompute v1.0 [OMN-465]
  docs/architecture/CONTRACT_DRIVEN_NODECOMPUTE_V1_0.md
  docs/architecture/NODECOMPUTE_FULL_DESIGN_V1X_TARGET.md
  docs/architecture/NODECOMPUTE_VERSIONING_ROADMAP.md
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_case_mode.py
  src/omnibase_core/enums/enum_compute_step_type.py
  src/omnibase_core/enums/enum_regex_flag.py
  src/omnibase_core/enums/enum_transformation_type.py
  src/omnibase_core/enums/enum_trim_mode.py
  src/omnibase_core/enums/enum_unicode_form.py
  src/omnibase_core/mixins/__init__.py
  src/omnibase_core/mixins/mixin_compute_execution.py
  src/omnibase_core/models/compute/__init__.py
  src/omnibase_core/models/compute/model_compute_execution_context.py
  src/omnibase_core/models/compute/model_compute_pipeline_result.py
  src/omnibase_core/models/compute/model_compute_step_metadata.py
  src/omnibase_core/models/compute/model_compute_step_result.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_compute_pipeline_step.py
  src/omnibase_core/models/contracts/subcontracts/model_compute_subcontract.py
  src/omnibase_core/models/transformations/__init__.py
  src/omnibase_core/models/transformations/model_mapping_config.py
  src/omnibase_core/models/transformations/model_transform_case_config.py
  src/omnibase_core/models/transformations/model_transform_json_path_config.py
  src/omnibase_core/models/transformations/model_transform_regex_config.py
  src/omnibase_core/models/transformations/model_transform_trim_config.py
  src/omnibase_core/models/transformations/model_transform_unicode_config.py
  src/omnibase_core/models/transformations/model_validation_step_config.py
  src/omnibase_core/models/transformations/types.py
  src/omnibase_core/utils/compute_executor.py
  src/omnibase_core/utils/compute_transformations.py
  tests/unit/enums/test_compute_enums.py
  tests/unit/models/compute/test_compute_models.py
  tests/unit/models/transformations/test_transformation_configs.py
  tests/unit/utils/test_compute_pipeline.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(compute): address PR #115 review feedback [OMN-465]
  src/omnibase_core/mixins/mixin_compute_execution.py
  src/omnibase_core/models/compute/model_compute_execution_context.py
  src/omnibase_core/models/compute/model_compute_pipeline_result.py
  src/omnibase_core/utils/compute_executor.py
  src/omnibase_core/utils/compute_transformations.py
  tests/integration/test_compute_pipeline_integration.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(compute): address PR #115 review feedback (release-ready) [OMN-465]
  docs/architecture/CONTRACT_DRIVEN_NODECOMPUTE_V1_0.md
  docs/architecture/NODECOMPUTE_FULL_DESIGN_V1X_TARGET.md
  docs/architecture/NODECOMPUTE_VERSIONING_ROADMAP.md
  examples/contracts/compute/user_profile_normalizer.yaml
  src/omnibase_core/models/compute/model_compute_step_metadata.py
  src/omnibase_core/models/contracts/subcontracts/model_compute_subcontract.py
  src/omnibase_core/models/transformations/model_mapping_config.py
  src/omnibase_core/models/transformations/model_transform_json_path_config.py
  src/omnibase_core/utils/compute_transformations.py
  tests/integration/test_compute_pipeline_integration.py
  tests/unit/enums/test_compute_enums.py
  tests/unit/models/compute/test_compute_models.py
  tests/unit/models/contracts/subcontracts/test_model_compute_subcontract.py
  tests/unit/models/transformations/test_transformation_configs.py
  tests/unit/utils/test_compute_pipeline.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(compute): address final PR #115 review feedback [OMN-465]
  docs/architecture/CONTRACT_DRIVEN_NODECOMPUTE_V1_0.md
  src/omnibase_core/utils/compute_executor.py
  src/omnibase_core/utils/compute_transformations.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(compute): address comprehensive PR #115 review feedback [OMN-465]
  docs/architecture/CONTRACT_DRIVEN_NODECOMPUTE_V1_0.md
  docs/architecture/NODECOMPUTE_VERSIONING_ROADMAP.md
  src/omnibase_core/enums/enum_compute_step_type.py
  src/omnibase_core/errors/__init__.py
  src/omnibase_core/errors/exception_compute_pipeline_error.py
  src/omnibase_core/mixins/mixin_compute_execution.py
  src/omnibase_core/models/compute/__init__.py
  src/omnibase_core/models/compute/model_compute_step_metadata.py
  src/omnibase_core/models/compute/model_compute_step_result.py
  src/omnibase_core/models/contracts/subcontracts/model_compute_pipeline_step.py
  src/omnibase_core/models/contracts/subcontracts/model_compute_subcontract.py
  src/omnibase_core/models/model_compute_input.py
  src/omnibase_core/models/model_compute_output.py
  src/omnibase_core/utils/compute_executor.py
  src/omnibase_core/utils/compute_transformations.py
  tests/integration/test_compute_pipeline_integration.py
  tests/unit/errors/test_compute_pipeline_error.py
  tests/unit/models/compute/conftest.py
  tests/unit/models/configuration/test_model_compute_cache_config.py
  tests/unit/models/contracts/subcontracts/test_model_compute_subcontract.py
  tests/unit/models/nodes/node_services/test_model_service_compute_health.py
  tests/unit/models/nodes/node_services/test_model_service_compute_integration.py
  tests/unit/models/nodes/node_services/test_model_service_compute_invocation.py
  tests/unit/models/nodes/node_services/test_model_service_compute_lifecycle.py
  tests/unit/utils/test_compute_pipeline.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(compute): address all PR #115 release-ready review feedback [OMN-465]
  docs/architecture/CONTRACT_DRIVEN_NODECOMPUTE_V1_0.md
  docs/architecture/NODECOMPUTE_VERSIONING_ROADMAP.md
  src/omnibase_core/mixins/mixin_compute_execution.py
  src/omnibase_core/models/contracts/subcontracts/model_compute_subcontract.py
  src/omnibase_core/utils/compute_executor.py
  src/omnibase_core/utils/compute_transformations.py
  tests/integration/conftest.py
  tests/integration/test_compute_pipeline_integration.py
  tests/unit/models/compute/test_compute_models.py
  tests/unit/models/contracts/subcontracts/test_model_compute_subcontract.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(compute): complete release-ready PR #115 review fixes [OMN-465]
  docs/architecture/CONTRACT_DRIVEN_NODECOMPUTE_V1_0.md
  src/omnibase_core/models/compute/model_compute_execution_context.py
  src/omnibase_core/models/compute/model_compute_pipeline_result.py
  src/omnibase_core/models/compute/model_compute_step_metadata.py
  src/omnibase_core/models/model_compute_output.py
  tests/integration/conftest.py
  tests/integration/test_compute_pipeline_integration.py
  tests/unit/errors/test_compute_pipeline_error.py
  tests/unit/mixins/test_mixin_completion_data.py
  tests/unit/models/compute/test_compute_models.py
  tests/unit/models/container/test_model_service.py
  tests/unit/utils/test_model_field_converter.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(compute): address final PR #115 release-ready review feedback [OMN-465]
  docs/architecture/CONTRACT_DRIVEN_NODECOMPUTE_V1_0.md
  src/omnibase_core/infrastructure/node_base.py
  src/omnibase_core/mixins/mixin_compute_execution.py
  src/omnibase_core/models/common/model_validation_metadata.py
  src/omnibase_core/models/operations/model_event_metadata.py
  src/omnibase_core/utils/compute_executor.py
  src/omnibase_core/utils/compute_path_resolver.py
  src/omnibase_core/utils/compute_transformations.py
  tests/unit/container/test_container_service_resolver.py
  tests/unit/container/test_service_registry.py
  tests/unit/contracts/test_model_effect_retry_config.py
  tests/unit/core/test_model_base_factory.py
  tests/unit/models/compute/test_compute_models.py
  tests/unit/models/core/conftest.py
  tests/unit/models/core/test_model_container.py
  tests/unit/models/health/test_model_health_check.py
  tests/unit/models/health/test_model_health_metric.py
  tests/unit/models/health/test_model_health_status.py
  tests/unit/models/security/test_model_permission.py
  tests/unit/nodes/test_retry_count_tracking.py
  tests/unit/nodes/test_rollback_failure_handling.py
  tests/unit/test_init_exports.py
  tests/unit/utils/test_compute_path_resolver.py
  tests/unit/utils/test_compute_pipeline.py
  tests/unit/utils/test_field_converter.py
  tests/unit/validation/test_contracts.py
  tests/unit/validation/test_contracts_extended.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling
