Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(dispatch): add warning log for negative retry_count clamping [OMN-984]
  src/omnibase_core/runtime/message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(dispatch): wire context models into handler dispatch path [OMN-984] (#225)
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/handler/__init__.py
  src/omnibase_core/protocols/handler/protocol_handler_context.py
  src/omnibase_core/runtime/message_dispatch_engine.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): export missing models from omnibase_core.models.common [OMN-989]
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/models/common/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): export missing models from omnibase_core.models.common [OMN-989] (#226)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/models/common/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): break circular import in model_custom_properties [OMN-998]
  src/omnibase_core/models/core/model_custom_properties.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(models): add comprehensive docstrings to ModelCustomProperties [OMN-998]
  src/omnibase_core/models/core/model_custom_properties.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(models): add coverage for get_custom_value_wrapped lazy import [OMN-998]
  tests/unit/models/core/test_model_custom_properties.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore: bump version to 0.5.6 [OMN-998]
  pyproject.toml
Due: none

fix(models): break circular import in model_custom_properties [OMN-998] (#227)
  pyproject.toml
  src/omnibase_core/models/core/model_custom_properties.py
  tests/unit/models/core/test_model_custom_properties.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: add comprehensive type safety tech debt analysis
  docs/tech_debt/TYPE_SAFETY_DICT_UNION_ANALYSIS.md
Due: none

refactor(models): replace dict[str, Any] with ModelSchemaValue for type safety
  docs/tech_debt/TYPE_SAFETY_DICT_UNION_ANALYSIS.md
  src/omnibase_core/models/core/model_custom_fields_accessor.py
  src/omnibase_core/models/core/model_custom_filters.py
  src/omnibase_core/models/core/model_list_filter.py
  src/omnibase_core/models/core/model_yaml_list.py
  src/omnibase_core/models/operations/model_effect_result_list.py
  src/omnibase_core/models/orchestrator/model_orchestrator_output.py
  src/omnibase_core/models/security/model_secure_event_envelope_class.py
  src/omnibase_core/models/utils/model_contract_data.py
  src/omnibase_core/models/utils/model_validation_rules_input_value.py
  src/omnibase_core/models/workflow/api/model_workflow_outputs.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #238 code review feedback
  docs/tech_debt/TYPE_SAFETY_DICT_UNION_ANALYSIS.md
  src/omnibase_core/models/core/model_custom_fields_accessor.py
  src/omnibase_core/models/core/model_list_filter.py
  src/omnibase_core/models/core/model_yaml_list.py
  src/omnibase_core/models/operations/model_effect_result_list.py
  src/omnibase_core/models/orchestrator/model_orchestrator_output.py
  src/omnibase_core/models/security/model_secure_event_envelope_class.py
  src/omnibase_core/models/utils/model_contract_data.py
  src/omnibase_core/models/utils/model_validation_rules_input_value.py
  src/omnibase_core/models/workflow/api/model_workflow_outputs.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address remaining PR #238 review feedback (round 2)
  src/omnibase_core/models/core/model_yaml_list.py
  src/omnibase_core/models/utils/model_contract_data.py
  src/omnibase_core/models/utils/model_validation_rules_input_value.py
  src/omnibase_core/models/workflow/api/model_workflow_outputs.py
  src/omnibase_core/types/typed_dict_workflow_outputs.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #238 review feedback and CI failures (round 3)
  docs/tech_debt/TYPE_SAFETY_DICT_UNION_ANALYSIS.md
  src/omnibase_core/models/core/model_custom_fields_accessor.py
  src/omnibase_core/models/orchestrator/model_orchestrator_output.py
  src/omnibase_core/models/security/model_secure_event_envelope_class.py
  src/omnibase_core/models/utils/model_validation_rules_converter.py
  src/omnibase_core/types/typed_dict_workflow_outputs.py
  tests/unit/models/common/test_model_schema_value.py
  tests/unit/models/core/test_model_custom_fields_generic.py
  tests/unit/models/core/test_model_list_filter.py
  tests/unit/models/utils/test_model_contract_data.py
  tests/unit/orchestrator/test_orchestrator_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): resolve mypy indexed assignment errors in ModelCustomFieldsAccessor
  src/omnibase_core/models/core/model_custom_fields_accessor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): update ModelYamlList tests for ModelSchemaValue type safety
  tests/unit/models/core/test_model_yaml_list.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(models): replace dict[str, Any] with ModelSchemaValue for type safety (#238)
  docs/tech_debt/TYPE_SAFETY_DICT_UNION_ANALYSIS.md
  src/omnibase_core/models/core/model_custom_fields_accessor.py
  src/omnibase_core/models/core/model_custom_filters.py
  src/omnibase_core/models/core/model_list_filter.py
  src/omnibase_core/models/core/model_yaml_list.py
  src/omnibase_core/models/operations/model_effect_result_list.py
  src/omnibase_core/models/orchestrator/model_orchestrator_output.py
  src/omnibase_core/models/security/model_secure_event_envelope_class.py
  src/omnibase_core/models/utils/model_contract_data.py
  src/omnibase_core/models/utils/model_validation_rules_converter.py
  src/omnibase_core/models/utils/model_validation_rules_input_value.py
  src/omnibase_core/models/workflow/api/model_workflow_outputs.py
  src/omnibase_core/types/typed_dict_workflow_outputs.py
  tests/unit/models/common/test_model_schema_value.py
  tests/unit/models/core/test_model_custom_fields_generic.py
  tests/unit/models/core/test_model_list_filter.py
  tests/unit/models/core/test_model_yaml_list.py
  tests/unit/models/utils/test_model_contract_data.py
  tests/unit/orchestrator/test_orchestrator_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): replace dict[str, Any] with typed discriminated unions (OMN-1008)
  docs/architecture/MODELACTION_TYPED_PAYLOADS.md
  docs/architecture/PAYLOAD_TYPE_ARCHITECTURE.md
  src/omnibase_core/models/events/model_event_publish_intent.py
  src/omnibase_core/models/events/payloads/__init__.py
  src/omnibase_core/models/events/payloads/model_event_payload_union.py
  src/omnibase_core/models/orchestrator/model_action.py
  src/omnibase_core/models/orchestrator/payloads/__init__.py
  src/omnibase_core/models/orchestrator/payloads/model_action_typed_payload.py
  src/omnibase_core/models/reducer/model_intent.py
  src/omnibase_core/models/reducer/payloads/__init__.py
  src/omnibase_core/models/reducer/payloads/model_event_payloads.py
  src/omnibase_core/models/reducer/payloads/model_extension_payloads.py
  src/omnibase_core/models/reducer/payloads/model_intent_payload_base.py
  src/omnibase_core/models/reducer/payloads/model_intent_payload_union.py
  src/omnibase_core/models/reducer/payloads/model_notification_payloads.py
  src/omnibase_core/models/reducer/payloads/model_payload_fsm_completed.py
  src/omnibase_core/models/reducer/payloads/model_payload_fsm_state_action.py
  src/omnibase_core/models/reducer/payloads/model_payload_fsm_transition_action.py
  src/omnibase_core/models/reducer/payloads/model_payload_http.py
  src/omnibase_core/models/reducer/payloads/model_payload_log_event.py
  src/omnibase_core/models/reducer/payloads/model_payload_metric.py
  src/omnibase_core/models/reducer/payloads/model_payload_persist_result.py
  src/omnibase_core/models/reducer/payloads/model_payload_persist_state.py
  src/omnibase_core/models/reducer/payloads/model_payload_write.py
  src/omnibase_core/models/runtime/__init__.py
  src/omnibase_core/models/runtime/model_runtime_directive.py
  src/omnibase_core/models/runtime/payloads/__init__.py
  src/omnibase_core/models/runtime/payloads/model_cancel_execution_payload.py
  src/omnibase_core/models/runtime/payloads/model_delay_until_payload.py
  src/omnibase_core/models/runtime/payloads/model_directive_payload_base.py
  src/omnibase_core/models/runtime/payloads/model_directive_payload_union.py
  src/omnibase_core/models/runtime/payloads/model_enqueue_handler_payload.py
  src/omnibase_core/models/runtime/payloads/model_retry_with_backoff_payload.py
  src/omnibase_core/models/runtime/payloads/model_schedule_effect_payload.py
  tests/unit/models/orchestrator/payloads/__init__.py
  tests/unit/models/orchestrator/payloads/test_model_action_typed_payload.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(models): replace dict[str, Any] with typed models for type safety
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/models/core/model_base_input_state.py
  src/omnibase_core/models/core/model_base_output_state.py
  src/omnibase_core/models/core/model_generic_contract.py
  src/omnibase_core/models/dispatch/model_dispatch_result.py
  src/omnibase_core/models/operations/__init__.py
  src/omnibase_core/models/operations/model_effect_operation_config.py
  src/omnibase_core/models/orchestrator/model_orchestrator_input.py
  src/omnibase_core/models/services/model_error_details.py
  src/omnibase_core/models/services/model_node_service_config.py
  src/omnibase_core/models/workflow/execution/model_declarative_workflow_result.py
  src/omnibase_core/models/workflow/execution/model_workflow_step_execution.py
  src/omnibase_core/utils/workflow_executor.py
  tests/integration/test_orchestrator_integration.py
  tests/unit/mixins/test_mixin_effect_execution.py
  tests/unit/models/core/test_model_base_input_state.py
  tests/unit/models/core/test_model_base_output_state.py
  tests/unit/orchestrator/test_orchestrator_models.py
  tests/unit/utils/test_workflow_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): resolve Pydantic forward reference and PR review feedback (OMN-1008)
  docs/architecture/PAYLOAD_TYPE_ARCHITECTURE.md
  src/omnibase_core/models/events/model_event_publish_intent.py
  src/omnibase_core/models/events/model_intent_events.py
  src/omnibase_core/models/orchestrator/model_action.py
  src/omnibase_core/models/orchestrator/payloads/model_action_typed_payload.py
  src/omnibase_core/models/reducer/payloads/model_payload_write.py
  src/omnibase_core/models/runtime/model_runtime_directive.py
  src/omnibase_core/models/runtime/payloads/model_delay_until_payload.py
  src/omnibase_core/models/runtime/payloads/model_directive_payload_base.py
  src/omnibase_core/models/runtime/payloads/model_retry_with_backoff_payload.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #240 review feedback and CI failures
  docs/guides/MIGRATING_FROM_DICT_ANY.md
  src/omnibase_core/mixins/mixin_contract_state_reducer.py
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/mixins/mixin_event_driven_node.py
  src/omnibase_core/mixins/mixin_event_handler.py
  src/omnibase_core/mixins/mixin_hybrid_execution.py
  src/omnibase_core/models/operations/model_effect_operation_config.py
  src/omnibase_core/models/services/model_error_details.py
  src/omnibase_core/models/services/model_node_service_config.py
  tests/unit/mixins/test_mixin_effect_execution.py
  tests/unit/models/core/test_model_base_input_state.py
  tests/unit/models/core/test_model_base_output_state.py
  tests/unit/models/operations/test_model_effect_operation_config.py
  tests/unit/models/services/test_model_error_details.py
  tests/unit/utils/test_workflow_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #239 review feedback for typed payloads (OMN-1008)
  docs/architecture/PAYLOAD_TYPE_ARCHITECTURE.md
  src/omnibase_core/models/events/model_event_publish_intent.py
  src/omnibase_core/models/orchestrator/model_action.py
  src/omnibase_core/models/reducer/model_intent.py
  src/omnibase_core/models/reducer/payloads/__init__.py
  src/omnibase_core/models/reducer/payloads/model_payload_write.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address all PR #240 review feedback including nitpicks
  docs/guides/MIGRATING_FROM_DICT_ANY.md
  src/omnibase_core/models/operations/model_effect_operation_config.py
  src/omnibase_core/models/services/model_error_details.py
  src/omnibase_core/models/services/model_node_service_config.py
  tests/unit/models/operations/test_model_effect_operation_config.py
  tests/unit/models/services/test_model_error_details.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address remaining PR #240 feedback and CI failures
  docs/guides/MIGRATING_FROM_DICT_ANY.md
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/models/core/model_base_input_state.py
  src/omnibase_core/models/core/model_base_output_state.py
  src/omnibase_core/models/core/model_generic_contract.py
  src/omnibase_core/models/operations/model_computation_output_data_class.py
  src/omnibase_core/models/orchestrator/model_orchestrator_input.py
  src/omnibase_core/models/workflow/execution/model_workflow_step_execution.py
  src/omnibase_core/utils/workflow_executor.py
  tests/integration/test_orchestrator_integration.py
  tests/unit/models/core/test_model_base_output_state.py
  tests/unit/models/operations/test_model_effect_operation_config.py
  tests/unit/models/services/test_model_error_details.py
  tests/unit/orchestrator/test_orchestrator_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): resolve CI failures and complete PR #240 release-ready fixes
  src/omnibase_core/models/core/model_project_metadata_block.py
  src/omnibase_core/models/endpoints/model_service_endpoint.py
  src/omnibase_core/models/operations/model_computation_output_base.py
  src/omnibase_core/models/operations/model_computation_output_data_class.py
  src/omnibase_core/models/operations/model_effect_operation_config.py
  src/omnibase_core/models/services/model_error_details.py
  src/omnibase_core/models/services/model_external_service_config.py
  tests/integration/test_effect_integration.py
  tests/unit/mixins/test_mixin_workflow_execution.py
  tests/unit/models/services/test_model_error_details.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(docs): clarify ModelSchemaValue.get_number() API and fix formatting
  docs/guides/MIGRATING_FROM_DICT_ANY.md
  src/omnibase_core/models/operations/model_effect_operation_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): use get_string() for ModelSchemaValue metadata comparisons
  tests/unit/orchestrator/test_orchestrator_e2e.py
  tests/unit/orchestrator/test_workflow_execution.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(ci): resolve linting and documentation issues for PR #239 (OMN-1008)
  docs/architecture/DICT_STR_ANY_PREVENTION.md
  src/omnibase_core/models/reducer/payloads/model_payload_fsm_state_action.py
  src/omnibase_core/tools/mypy_plugins/dict_any_checker.py
  src/omnibase_core/types/type_schema_aliases.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(nitpicks): address PR #240 minor observations
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/models/operations/model_effect_operation_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): add kind property and typed payloads for Protocol compliance (OMN-1008)
  src/omnibase_core/models/core/model_action_payload_base.py
  src/omnibase_core/utils/fsm_executor.py
  src/omnibase_core/utils/workflow_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(models): replace dict[str, Any] with typed models for type safety (#240)
  docs/guides/MIGRATING_FROM_DICT_ANY.md
  src/omnibase_core/mixins/mixin_contract_state_reducer.py
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/mixins/mixin_event_driven_node.py
  src/omnibase_core/mixins/mixin_event_handler.py
  src/omnibase_core/mixins/mixin_hybrid_execution.py
  src/omnibase_core/models/core/model_base_input_state.py
  src/omnibase_core/models/core/model_base_output_state.py
  src/omnibase_core/models/core/model_generic_contract.py
  src/omnibase_core/models/core/model_project_metadata_block.py
  src/omnibase_core/models/dispatch/model_dispatch_result.py
  src/omnibase_core/models/endpoints/model_service_endpoint.py
  src/omnibase_core/models/operations/__init__.py
  src/omnibase_core/models/operations/model_computation_output_base.py
  src/omnibase_core/models/operations/model_computation_output_data_class.py
  src/omnibase_core/models/operations/model_effect_operation_config.py
  src/omnibase_core/models/orchestrator/model_orchestrator_input.py
  src/omnibase_core/models/services/model_error_details.py
  src/omnibase_core/models/services/model_external_service_config.py
  src/omnibase_core/models/services/model_node_service_config.py
  src/omnibase_core/models/workflow/execution/model_declarative_workflow_result.py
  src/omnibase_core/models/workflow/execution/model_workflow_step_execution.py
  src/omnibase_core/utils/workflow_executor.py
  tests/integration/test_effect_integration.py
  tests/integration/test_orchestrator_integration.py
  tests/unit/mixins/test_mixin_effect_execution.py
  tests/unit/mixins/test_mixin_workflow_execution.py
  tests/unit/models/core/test_model_base_input_state.py
  tests/unit/models/core/test_model_base_output_state.py
  tests/unit/models/operations/test_model_effect_operation_config.py
  tests/unit/models/services/test_model_error_details.py
  tests/unit/orchestrator/test_orchestrator_e2e.py
  tests/unit/orchestrator/test_orchestrator_models.py
  tests/unit/orchestrator/test_workflow_execution.py
  tests/unit/utils/test_workflow_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(handoff): create handoff for OMN-1010, OMN-1016, OMN-1020
  docs/handoffs/HANDOFF_OMN_1010_1016_1020.md
Due: none

feat: implement OMN-1016, OMN-1020 and fix circular import
  docs/handoffs/HANDOFF_OMN_1010_1016_1020.md
  scripts/validation/validate-string-versions.py
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  src/omnibase_core/models/configuration/model_circuit_breaker_metadata.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/primitives/model_semver.py
  src/omnibase_core/protocols/event_bus/__init__.py
  src/omnibase_core/protocols/event_bus/protocol_event_bus.py
  src/omnibase_core/protocols/event_bus/protocol_event_bus_lifecycle.py
  src/omnibase_core/protocols/event_bus/protocol_event_bus_publisher.py
  src/omnibase_core/protocols/event_bus/protocol_event_bus_subscriber.py
  tests/unit/primitives/test_model_semver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): update tests for ModelSemVer prerelease/build fields
  tests/unit/mixins/test_mixin_canonical_serialization.py
  tests/unit/models/core/test_model_node_type.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix: PR #241 review improvements - validation, performance, docs
  docs/guides/ISP_PROTOCOL_MIGRATION.md
  scripts/validation/validate-string-versions.py
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  src/omnibase_core/models/primitives/model_semver.py
  tests/unit/primitives/test_model_semver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: resolve Pydantic forward reference errors in pytest-xdist parallel tests
  scripts/validation/validate-string-versions.py
  src/omnibase_core/models/contracts/model_contract_effect.py
  src/omnibase_core/models/contracts/subcontracts/model_routing_subcontract.py
  src/omnibase_core/models/core/model_contract_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): update tests for typed payload architecture and fix PR #239 review issues
  src/omnibase_core/decorators/convert_to_schema.py
  src/omnibase_core/models/contracts/model_yaml_contract.py
  src/omnibase_core/models/orchestrator/model_action.py
  src/omnibase_core/models/workflow/api/model_workflow_outputs.py
  src/omnibase_core/tools/mypy_plugins/__init__.py
  tests/integration/test_reducer_integration.py
  tests/performance/test_model_reducer_output_benchmarks.py
  tests/unit/concurrency/test_node_orchestrator_concurrency.py
  tests/unit/decorators/test_convert_to_schema.py
  tests/unit/mixins/test_mixin_workflow_execution.py
  tests/unit/nodes/test_node_orchestrator_determinism.py
  tests/unit/orchestrator/test_action_creation.py
  tests/unit/orchestrator/test_orchestrator_e2e.py
  tests/unit/orchestrator/test_orchestrator_models.py
  tests/unit/orchestrator/test_workflow_execution.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
