Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(cli): add onex registry status command [OMN-7066] (#755)
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_registry.py
  tests/unit/cli/test_cli_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(event_bus): extract EventBusInmemory from omnibase_infra to core [OMN-7062] (#751)
  src/omnibase_core/event_bus/__init__.py
  src/omnibase_core/event_bus/event_bus_inmemory.py
  src/omnibase_core/models/event_bus/__init__.py
  src/omnibase_core/models/event_bus/model_event_bus_readiness.py
  src/omnibase_core/models/event_bus/model_event_headers.py
  src/omnibase_core/models/event_bus/model_event_message.py
  tests/unit/event_bus/__init__.py
  tests/unit/event_bus/test_event_bus_inmemory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(protocols): add ProtocolStateStore for unified state persistence [OMN-7061] (#752)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/errors/error_state_corruption.py
  src/omnibase_core/models/state/__init__.py
  src/omnibase_core/models/state/model_state_envelope.py
  src/omnibase_core/protocols/storage/__init__.py
  src/omnibase_core/protocols/storage/protocol_state_store.py
  src/omnibase_core/services/state/__init__.py
  src/omnibase_core/services/state/service_state_disk.py
  tests/unit/protocols/storage/__init__.py
  tests/unit/protocols/storage/test_protocol_state_store.py
  tests/unit/services/state/__init__.py
  tests/unit/services/state/test_service_state_disk.py
  tests/unit/test_no_circular_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(entry_points): add onex.backends and onex.cli groups [OMN-7064] (#754)
  pyproject.toml
  tests/unit/test_entry_point_discovery.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

release: omnibase_core v0.36.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(tests): replace deprecated asyncio.coroutine with async def
  tests/unit/container/test_auto_config.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

release: omnibase_core v0.36.0 (#764)
  CHANGELOG.md
  pyproject.toml
  tests/unit/container/test_auto_config.py
  uv.lock
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(compliance): add contract compliance scanner COMPUTE node [OMN-7069] (#759)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/models/nodes/compliance_scan/__init__.py
  src/omnibase_core/models/nodes/compliance_scan/model_check_result.py
  src/omnibase_core/models/nodes/compliance_scan/model_compliance_check_result.py
  src/omnibase_core/nodes/node_compliance_scan_compute/__init__.py
  src/omnibase_core/nodes/node_compliance_scan_compute/contract.yaml
  src/omnibase_core/nodes/node_compliance_scan_compute/handler.py
  tests/unit/nodes/node_compliance_scan_compute/__init__.py
  tests/unit/nodes/node_compliance_scan_compute/test_compliance_scan_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(compliance): add compliance evidence EFFECT node [OMN-7071] (#761)
  src/omnibase_core/models/nodes/compliance_evidence/__init__.py
  src/omnibase_core/models/nodes/compliance_evidence/model_compliance_check_detail.py
  src/omnibase_core/models/nodes/compliance_evidence/model_compliance_check_entry.py
  src/omnibase_core/models/nodes/compliance_evidence/model_compliance_evidence_output.py
  src/omnibase_core/models/nodes/compliance_evidence/model_compliance_report_state.py
  src/omnibase_core/nodes/node_compliance_evidence_effect/__init__.py
  src/omnibase_core/nodes/node_compliance_evidence_effect/contract.yaml
  src/omnibase_core/nodes/node_compliance_evidence_effect/handler.py
  tests/unit/nodes/test_compliance_evidence_effect/__init__.py
  tests/unit/nodes/test_compliance_evidence_effect/test_compliance_evidence_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): add onex compliance check command [OMN-7073]
  .yaml-validation-allowlist.yaml
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_compliance.py
  tests/unit/cli/test_cli_compliance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): add onex run command for local workflow execution [OMN-7068]
  .yaml-validation-allowlist.yaml
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_run.py
  src/omnibase_core/enums/enum_workflow_result.py
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/cli/test_cli_run.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address review comments and resolve model filename duplicates [OMN-7073]
  src/omnibase_core/cli/cli_compliance.py
  src/omnibase_core/models/nodes/compliance_evidence/__init__.py
  src/omnibase_core/models/nodes/compliance_evidence/model_evidence_check_detail.py
  src/omnibase_core/models/nodes/compliance_evidence/model_evidence_report_state.py
  src/omnibase_core/models/nodes/compliance_scan/__init__.py
  src/omnibase_core/models/nodes/compliance_scan/model_scan_check_result.py
  src/omnibase_core/nodes/node_compliance_evidence_effect/__init__.py
  src/omnibase_core/nodes/node_compliance_evidence_effect/contract.yaml
  src/omnibase_core/nodes/node_compliance_evidence_effect/handler.py
  src/omnibase_core/nodes/node_compliance_scan_compute/__init__.py
  src/omnibase_core/nodes/node_compliance_scan_compute/handler.py
  tests/unit/cli/test_cli_compliance.py
  tests/unit/nodes/test_compliance_evidence_effect/test_compliance_evidence_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address review comments — from_attributes, test naming [OMN-7072]
  src/omnibase_core/models/nodes/compliance_orchestrator/model_check_request_intent.py
  src/omnibase_core/models/nodes/compliance_orchestrator/model_compliance_orchestrator_result.py
  src/omnibase_core/models/nodes/compliance_orchestrator/model_scan_request.py
  tests/unit/nodes/test_compliance_orchestrator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address review comments — exit code docs, error handling, model renames [OMN-7068]
  src/omnibase_core/enums/enum_workflow_result.py
  src/omnibase_core/models/nodes/compliance_evidence/__init__.py
  src/omnibase_core/models/nodes/compliance_evidence/model_evidence_check_detail.py
  src/omnibase_core/models/nodes/compliance_evidence/model_evidence_report_state.py
  src/omnibase_core/models/nodes/compliance_scan/__init__.py
  src/omnibase_core/models/nodes/compliance_scan/model_scan_check_result.py
  src/omnibase_core/nodes/node_compliance_evidence_effect/__init__.py
  src/omnibase_core/nodes/node_compliance_evidence_effect/contract.yaml
  src/omnibase_core/nodes/node_compliance_evidence_effect/handler.py
  src/omnibase_core/nodes/node_compliance_scan_compute/__init__.py
  src/omnibase_core/nodes/node_compliance_scan_compute/handler.py
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/nodes/test_compliance_evidence_effect/test_compliance_evidence_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: add node_name to introspection payload from contract metadata [OMN-7088]
  scripts/validation/validate-no-duplicate-models.py
  src/omnibase_core/mixins/mixin_introspection_publisher.py
  tests/unit/mixins/test_mixin_introspection_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: add node_name to introspection payload from contract metadata [OMN-7088] (#766)
  scripts/validation/validate-no-duplicate-models.py
  src/omnibase_core/mixins/mixin_introspection_publisher.py
  tests/unit/mixins/test_mixin_introspection_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: store container as instance attr to resolve unused-variable CodeQL finding [OMN-7068]
  src/omnibase_core/runtime/runtime_local.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(cli): align compliance check with actual contract schema [OMN-7073]
  src/omnibase_core/cli/cli_compliance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): add onex compliance check command [OMN-7073] (#763)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_compliance.py
  src/omnibase_core/models/nodes/compliance_evidence/__init__.py
  src/omnibase_core/models/nodes/compliance_evidence/model_evidence_check_detail.py
  src/omnibase_core/models/nodes/compliance_evidence/model_evidence_report_state.py
  src/omnibase_core/models/nodes/compliance_scan/__init__.py
  src/omnibase_core/models/nodes/compliance_scan/model_scan_check_result.py
  src/omnibase_core/nodes/node_compliance_evidence_effect/__init__.py
  src/omnibase_core/nodes/node_compliance_evidence_effect/contract.yaml
  src/omnibase_core/nodes/node_compliance_evidence_effect/handler.py
  src/omnibase_core/nodes/node_compliance_scan_compute/__init__.py
  src/omnibase_core/nodes/node_compliance_scan_compute/handler.py
  tests/unit/cli/test_cli_compliance.py
  tests/unit/nodes/test_compliance_evidence_effect/test_compliance_evidence_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(compliance): add compliance orchestrator and workflow contract [OMN-7072] (#762)
  src/omnibase_core/models/nodes/compliance_orchestrator/__init__.py
  src/omnibase_core/models/nodes/compliance_orchestrator/model_check_request_intent.py
  src/omnibase_core/models/nodes/compliance_orchestrator/model_compliance_orchestrator_result.py
  src/omnibase_core/models/nodes/compliance_orchestrator/model_scan_request.py
  src/omnibase_core/nodes/node_compliance_orchestrator/__init__.py
  src/omnibase_core/nodes/node_compliance_orchestrator/contract.yaml
  src/omnibase_core/nodes/node_compliance_orchestrator/handler.py
  src/omnibase_core/workflows/__init__.py
  src/omnibase_core/workflows/compliance_workflow.yaml
  tests/unit/nodes/test_compliance_orchestrator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): add onex run command for local workflow execution [OMN-7068] (#758)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_run.py
  src/omnibase_core/enums/enum_workflow_result.py
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/cli/test_cli_run.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

release: omnibase_core v0.37.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

release: omnibase_core v0.37.0 (#767)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(ci): auto-tag workflow matches chore: release PR titles [OMN-6909]
  .github/workflows/auto-tag-on-merge.yml
  uv.lock
Due: validate-string-versions

fix(ci): auto-tag workflow matches chore: release PR titles [OMN-6909] (#770)
  .github/workflows/auto-tag-on-merge.yml
  uv.lock
Due: validate-string-versions

fix(core): remove all localhost fallbacks, require env vars [OMN-7227]
  scripts/validate_no_env_fallbacks.py
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/models/configuration/model_api_config.py
  src/omnibase_core/models/configuration/model_database_config.py
  src/omnibase_core/models/configuration/model_database_secure_config.py
  src/omnibase_core/models/configuration/model_event_bus_config.py
  src/omnibase_core/models/services/model_node_service_config.py
  tests/unit/models/configuration/test_model_database_secure_config.py
  tests/unit/models/configuration/test_model_event_bus_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(core): resolve CI failures — type safety, formatting, secrets baseline [OMN-7227]
  .secrets.baseline
  src/omnibase_core/models/configuration/model_cli_config.py
  src/omnibase_core/models/services/model_node_service_config.py
  tests/unit/models/configuration/test_model_event_bus_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(core): remove all localhost fallbacks, require env vars [OMN-7227] (#771)
  .secrets.baseline
  scripts/validate_no_env_fallbacks.py
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/models/configuration/model_api_config.py
  src/omnibase_core/models/configuration/model_cli_config.py
  src/omnibase_core/models/configuration/model_database_config.py
  src/omnibase_core/models/configuration/model_database_secure_config.py
  src/omnibase_core/models/configuration/model_event_bus_config.py
  src/omnibase_core/models/services/model_node_service_config.py
  tests/unit/models/configuration/test_model_database_secure_config.py
  tests/unit/models/configuration/test_model_event_bus_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(enums): add EnumChannelType for OmniClaw channel platforms [OMN-7182]
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_channel_type.py
  tests/unit/enums/test_enum_channel_type.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add ModelChannelEnvelope for normalized channel messages [OMN-7183]
  src/omnibase_core/models/channel/__init__.py
  src/omnibase_core/models/channel/model_channel_attachment.py
  src/omnibase_core/models/channel/model_channel_envelope.py
  tests/unit/models/channel/__init__.py
  tests/unit/models/channel/test_model_channel_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): resolve CodeQL false positives in channel type tests [OMN-7182]
  tests/unit/enums/test_enum_channel_type.py
  tests/unit/models/channel/test_model_channel_envelope.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(models): add EnumChannelType and ModelChannelEnvelope for OmniClaw [OMN-7182, OMN-7183] (#772)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_channel_type.py
  src/omnibase_core/models/channel/__init__.py
  src/omnibase_core/models/channel/model_channel_attachment.py
  src/omnibase_core/models/channel/model_channel_envelope.py
  tests/unit/enums/test_enum_channel_type.py
  tests/unit/models/channel/__init__.py
  tests/unit/models/channel/test_model_channel_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): add OmniClaw tooling — install, scaffold, analyzer, porting [OMN-7194, OMN-7196, OMN-7197, OMN-7198]
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_install.py
  src/omnibase_core/cli/cli_port_openclaw.py
  src/omnibase_core/cli/cli_scaffold_channel.py
  src/omnibase_core/cli/openclaw_analysis.py
  src/omnibase_core/cli/openclaw_analyzer.py
  src/omnibase_core/cli/openclaw_capability.py
  src/omnibase_core/cli/openclaw_scaffold.py
  src/omnibase_core/cli/templates/channel_adapter/__init__.py.j2
  src/omnibase_core/cli/templates/channel_adapter/contract.yaml.j2
  src/omnibase_core/cli/templates/channel_adapter/handler_inbound.py.j2
  src/omnibase_core/cli/templates/channel_adapter/handler_outbound.py.j2
  src/omnibase_core/cli/templates/channel_adapter/node.py.j2
  src/omnibase_core/cli/templates/channel_adapter/test_handler_inbound.py.j2
  src/omnibase_core/cli/templates/ported_skill/contract.yaml.j2
  src/omnibase_core/cli/templates/ported_skill/handler.py.j2
  src/omnibase_core/cli/templates/ported_skill/node.py.j2
  src/omnibase_core/cli/templates/ported_skill/pyproject.toml.j2
  src/omnibase_core/cli/templates/ported_skill/test_golden_chain.py.j2
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(cli): resolve mypy strict type errors in install and scaffold modules
  src/omnibase_core/cli/cli_install.py
  src/omnibase_core/cli/openclaw_scaffold.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): add OmniClaw tooling — install, scaffold, analyzer, porting [OMN-7194] (#773)
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_install.py
  src/omnibase_core/cli/cli_port_openclaw.py
  src/omnibase_core/cli/cli_scaffold_channel.py
  src/omnibase_core/cli/openclaw_analysis.py
  src/omnibase_core/cli/openclaw_analyzer.py
  src/omnibase_core/cli/openclaw_capability.py
  src/omnibase_core/cli/openclaw_scaffold.py
  src/omnibase_core/cli/templates/channel_adapter/__init__.py.j2
  src/omnibase_core/cli/templates/channel_adapter/contract.yaml.j2
  src/omnibase_core/cli/templates/channel_adapter/handler_inbound.py.j2
  src/omnibase_core/cli/templates/channel_adapter/handler_outbound.py.j2
  src/omnibase_core/cli/templates/channel_adapter/node.py.j2
  src/omnibase_core/cli/templates/channel_adapter/test_handler_inbound.py.j2
  src/omnibase_core/cli/templates/ported_skill/contract.yaml.j2
  src/omnibase_core/cli/templates/ported_skill/handler.py.j2
  src/omnibase_core/cli/templates/ported_skill/node.py.j2
  src/omnibase_core/cli/templates/ported_skill/pyproject.toml.j2
  src/omnibase_core/cli/templates/ported_skill/test_golden_chain.py.j2
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(doctor): add EnumDoctorCategory and ModelDoctorCheckResult [OMN-7345]
  src/omnibase_core/enums/enum_doctor_category.py
  src/omnibase_core/models/doctor/__init__.py
  src/omnibase_core/models/doctor/model_doctor_check_result.py
  tests/test_doctor/__init__.py
  tests/test_doctor/conftest.py
  tests/test_doctor/test_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(doctor): add DoctorCheckBase abstract class [OMN-7346]
  src/omnibase_core/doctor/__init__.py
  src/omnibase_core/doctor/doctor_check_base.py
  tests/test_doctor/test_check_base.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
