Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  black-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  isort-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/)
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$
  validate-union-usage: any of: ^src/.*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py|src/omnibase_core/models/core/model_action_config_value\.py).*\.py$
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

feat(executor): implement missing workflow executor features [OMN-656] (#157)
  src/omnibase_core/models/contracts/subcontracts/model_workflow_definition.py
  src/omnibase_core/models/contracts/subcontracts/model_workflow_definition_metadata.py
  src/omnibase_core/models/workflow/execution/model_declarative_workflow_step_context.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/typed_dict_workflow_context.py
  src/omnibase_core/utils/workflow_executor.py
  tests/unit/models/contracts/subcontracts/test_model_workflow_definition.py
  tests/unit/utils/test_workflow_executor.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(review): address PR #159 code quality feedback [OMN-566]
  src/omnibase_core/mixins/mixin_health_check.py
  tests/unit/mixins/test_mixin_health_check.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(validation): add thread safety and ONEX compliance documentation [OMN-655]
  src/omnibase_core/validation/reserved_enum_validator.py
  src/omnibase_core/validation/workflow_validator.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(orchestrator): add MVP conformance test suite [OMN-657]
  tests/unit/orchestrator/__init__.py
  tests/unit/orchestrator/test_action_creation.py
  tests/unit/orchestrator/test_contract_versioning.py
  tests/unit/orchestrator/test_orchestrator_e2e.py
  tests/unit/orchestrator/test_orchestrator_enums.py
  tests/unit/orchestrator/test_orchestrator_models.py
  tests/unit/orchestrator/test_workflow_execution.py
  tests/unit/orchestrator/test_workflow_validation.py
  tests/unit/orchestrator/test_yaml_contract_loading.py
  tests/unit/orchestrator/test_yaml_round_trip.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): update transport import integration tests for empty allowlist
  tests/integration/scripts/test_check_transport_imports_integration.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(validation): address PR #158 review feedback [OMN-655]
  src/omnibase_core/validation/workflow_linter.py
  src/omnibase_core/validation/workflow_validator.py
  tests/unit/validation/test_contract_linter.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(review): simplify allowlist expiration metadata when empty [OMN-566]
  scripts/check_transport_imports.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(orchestrator): address PR #160 review feedback [OMN-657]
  tests/unit/orchestrator/test_orchestrator_e2e.py
  tests/unit/orchestrator/test_workflow_validation.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(validation): address all PR #158 review feedback [OMN-655]
  src/omnibase_core/models/validation/model_lint_warning.py
  src/omnibase_core/validation/workflow_linter.py
  src/omnibase_core/validation/workflow_validator.py
  tests/unit/validation/test_contract_linter.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(review): address PR #159 review recommendations [OMN-566]
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/protocols/http/__init__.py
  src/omnibase_core/protocols/http/protocol_http_client.py
  src/omnibase_core/types/typed_dict_health_status.py
  tests/integration/mixins/__init__.py
  tests/integration/mixins/test_mixin_health_check_integration.py
  tests/unit/mixins/test_mixin_health_check.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(orchestrator): address PR #160 nitpicks and minor review feedback [OMN-657]
  src/omnibase_core/models/contracts/model_workflow_step.py
  tests/unit/orchestrator/test_workflow_validation.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): add TypedDictConvertedHealth for legacy converter [OMN-566]
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/converter_health_to_typed_dict.py
  src/omnibase_core/types/typed_dict_converted_health.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): use dict for version in tests to fix pytest-xdist class identity issue [OMN-655]
  tests/unit/validation/test_contract_linter.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(validation): implement DAG validation utilities and workflow linter [OMN-655, OMN-669] (#158)
  src/omnibase_core/models/validation/__init__.py
  src/omnibase_core/models/validation/model_lint_statistics.py
  src/omnibase_core/models/validation/model_lint_warning.py
  src/omnibase_core/utils/workflow_executor.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/reserved_enum_validator.py
  src/omnibase_core/validation/workflow_linter.py
  src/omnibase_core/validation/workflow_validator.py
  tests/unit/validation/test_contract_linter.py
  tests/unit/validation/test_lint_statistics.py
  tests/unit/validation/test_reserved_enum_validator.py
  tests/unit/validation/test_workflow_validator.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(orchestrator): add MVP conformance test suite [OMN-657] (#160)
  src/omnibase_core/models/contracts/model_workflow_step.py
  tests/unit/orchestrator/__init__.py
  tests/unit/orchestrator/test_action_creation.py
  tests/unit/orchestrator/test_contract_versioning.py
  tests/unit/orchestrator/test_orchestrator_e2e.py
  tests/unit/orchestrator/test_orchestrator_enums.py
  tests/unit/orchestrator/test_orchestrator_models.py
  tests/unit/orchestrator/test_workflow_execution.py
  tests/unit/orchestrator/test_workflow_validation.py
  tests/unit/orchestrator/test_yaml_contract_loading.py
  tests/unit/orchestrator/test_yaml_round_trip.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(splits): increase test splits from 20 to 24 for 15k+ tests
  .github/workflows/test.yml
  CLAUDE.md
Due: validate-string-versions

feat(contracts): upgrade all node contracts to v1.1.0 [OMN-258, OMN-259, OMN-260]
  contracts/runtime/contract_loader_effect.yaml
  contracts/runtime/contract_registry_reducer.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  contracts/runtime/runtime_orchestrator.yaml
  examples/contracts/compute/user_profile_normalizer.yaml
  examples/contracts/effect/db_query.yaml
  examples/contracts/effect/filesystem_operations.yaml
  examples/contracts/effect/http_api_call.yaml
  examples/contracts/effect/kafka_produce.yaml
  examples/contracts/effect/resilient_effect.yaml
  examples/contracts/orchestrator_data_pipeline.yaml
  examples/contracts/reducer_metrics_aggregator.yaml
Due: validate-string-versions

fix(tests): resolve flaky pytest-xdist Pydantic class identity issue
  tests/unit/validation/test_contract_linter.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(types): reduce union type tech debt with centralized JSON type aliases [OMN-676]
  .pre-commit-config.yaml
  src/omnibase_core/models/core/model_custom_filters.py
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/models/core/model_extension_data.py
  src/omnibase_core/models/core/model_node_action.py
  src/omnibase_core/models/core/model_node_action_type.py
  src/omnibase_core/models/discovery/model_custommetrics.py
  src/omnibase_core/models/discovery/model_discovery_response.py
  src/omnibase_core/models/discovery/model_toolparameters.py
  src/omnibase_core/models/results/model_simple_metadata.py
  src/omnibase_core/models/security/model_condition_value.py
  src/omnibase_core/models/security/model_custom_security_settings.py
  src/omnibase_core/models/security/model_mask_data.py
  src/omnibase_core/models/security/model_masked_data.py
  src/omnibase_core/models/security/model_masked_data_class.py
  src/omnibase_core/models/security/model_masked_data_dict.py
  src/omnibase_core/models/security/model_masked_data_list.py
  src/omnibase_core/models/security/model_permission_evaluation_context.py
  src/omnibase_core/models/security/model_secret_manager.py
  src/omnibase_core/models/security/model_security_level.py
  src/omnibase_core/models/security/model_security_policy_data.py
  src/omnibase_core/models/validation/model_schema_property.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/json_types.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): convert ModelWorkflowNode to dict for frozen model validation
  tests/unit/validation/test_contract_linter.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(contracts): correct fingerprint version prefix on reducer contracts
  contracts/runtime/contract_registry_reducer.yaml
  contracts/runtime/node_graph_reducer.yaml
  examples/contracts/effect/resilient_effect.yaml
  examples/contracts/reducer_metrics_aggregator.yaml
Due: validate-string-versions

fix(types): address PR #163 review feedback for union type tech debt [OMN-676]
  docs/guides/UNION_TYPE_MIGRATION.md
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/models/results/model_simple_metadata.py
  src/omnibase_core/models/security/model_custom_security_settings.py
  tests/unit/types/test_json_types.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): resolve CI failures in Split 23/24
  tests/unit/test_thread_safety.py
  tests/unit/validation/test_contract_linter.py
  tests/unit/validation/test_fsm_analysis.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(protocols): address PR review feedback for ProtocolHttpClient [OMN-566]
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/protocols/http/__init__.py
  src/omnibase_core/protocols/http/protocol_http_client.py
  tests/unit/mixins/test_mixin_health_check.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): address remaining PR #163 review feedback [OMN-676]
  docs/guides/UNION_TYPE_MIGRATION.md
  src/omnibase_core/models/security/model_custom_security_settings.py
  src/omnibase_core/types/json_types.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): regenerate unique fingerprints and add uniqueness test
  contracts/runtime/contract_loader_effect.yaml
  contracts/runtime/contract_registry_reducer.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  contracts/runtime/runtime_orchestrator.yaml
  examples/contracts/compute/user_profile_normalizer.yaml
  examples/contracts/effect/db_query.yaml
  examples/contracts/effect/filesystem_operations.yaml
  examples/contracts/effect/http_api_call.yaml
  examples/contracts/effect/kafka_produce.yaml
  examples/contracts/effect/resilient_effect.yaml
  examples/contracts/orchestrator_data_pipeline.yaml
  examples/contracts/reducer_metrics_aggregator.yaml
  tests/unit/contracts/test_contract_v110_fields.py
  tests/unit/contracts/test_runtime_contracts.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(protocols): add ProtocolHttpClient and refactor health check [OMN-566] (#159)
  .github/workflows/test.yml
  CLAUDE.md
  scripts/check_transport_imports.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/http/__init__.py
  src/omnibase_core/protocols/http/protocol_http_client.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/converter_health_to_typed_dict.py
  src/omnibase_core/types/typed_dict_converted_health.py
  src/omnibase_core/types/typed_dict_health_status.py
  tests/integration/mixins/__init__.py
  tests/integration/mixins/test_mixin_health_check_integration.py
  tests/integration/scripts/test_check_transport_imports_integration.py
  tests/unit/mixins/test_mixin_health_check.py
  tests/unit/test_thread_safety.py
  tests/unit/validation/test_contract_linter.py
  tests/unit/validation/test_fsm_analysis.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Revert "feat(protocols): add ProtocolHttpClient and refactor health check [OM…"
  .github/workflows/test.yml
  CLAUDE.md
  scripts/check_transport_imports.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/http/__init__.py
  src/omnibase_core/protocols/http/protocol_http_client.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/converter_health_to_typed_dict.py
  src/omnibase_core/types/typed_dict_converted_health.py
  src/omnibase_core/types/typed_dict_health_status.py
  tests/integration/mixins/__init__.py
  tests/integration/mixins/test_mixin_health_check_integration.py
  tests/integration/scripts/test_check_transport_imports_integration.py
  tests/unit/mixins/test_mixin_health_check.py
  tests/unit/test_thread_safety.py
  tests/unit/validation/test_contract_linter.py
  tests/unit/validation/test_fsm_analysis.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(health): add configuration and validation factory methods to ModelHealthIssue
  scripts/check_transport_imports.py
  src/omnibase_core/models/health/model_health_issue.py
  tests/unit/models/health/test_model_health_issue.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Revert "feat(protocols): add ProtocolHttpClient and refactor health check [OM…" (#164)
  .github/workflows/test.yml
  CLAUDE.md
  scripts/check_transport_imports.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/http/__init__.py
  src/omnibase_core/protocols/http/protocol_http_client.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/converter_health_to_typed_dict.py
  src/omnibase_core/types/typed_dict_converted_health.py
  src/omnibase_core/types/typed_dict_health_status.py
  tests/integration/mixins/__init__.py
  tests/integration/mixins/test_mixin_health_check_integration.py
  tests/integration/scripts/test_check_transport_imports_integration.py
  tests/unit/mixins/test_mixin_health_check.py
  tests/unit/test_thread_safety.py
  tests/unit/validation/test_contract_linter.py
  tests/unit/validation/test_fsm_analysis.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(types): improve UNION_TYPE_MIGRATION.md formatting and clarity [OMN-676]
  docs/guides/UNION_TYPE_MIGRATION.md
Due: none

feat(fsm): add MVP FSM contract models for NodeReducer v1.0 [OMN-578, OMN-579, OMN-580, OMN-581]
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_mvp_action_config_parameter.py
  src/omnibase_core/models/fsm/__init__.py
  src/omnibase_core/models/fsm/model_mvp_fsm_operation.py
  src/omnibase_core/models/fsm/model_mvp_fsm_transition_action.py
  src/omnibase_core/models/fsm/model_mvp_fsm_transition_condition.py
  tests/unit/models/contracts/test_model_mvp_action_config_parameter.py
  tests/unit/models/fsm/test_model_mvp_fsm_operation.py
  tests/unit/models/fsm/test_model_mvp_fsm_transition_action.py
  tests/unit/models/fsm/test_model_mvp_fsm_transition_condition.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(fsm): add immutability and validation rules for FSM contract models [OMN-575, OMN-576, OMN-577]
  src/omnibase_core/models/contracts/subcontracts/model_fsm_state_definition.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_state_transition.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_transition_condition.py
  src/omnibase_core/models/contracts/subcontracts/model_fsmtransitionaction.py
  tests/unit/mixins/test_mixin_fsm_execution.py
  tests/unit/models/contracts/subcontracts/test_model_fsm_state_definition.py
  tests/unit/models/contracts/subcontracts/test_model_fsm_subcontract_validations.py
  tests/unit/models/contracts/test_model_contract_reducer_v150.py
  tests/unit/nodes/test_declarative_nodes.py
  tests/unit/utils/test_fsm_executor.py
  tests/unit/validation/test_fsm_analysis.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): add from_attributes=True to resolve pytest-xdist class identity issue
  src/omnibase_core/models/contracts/subcontracts/model_execution_graph.py
  src/omnibase_core/models/contracts/subcontracts/model_workflow_node.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): address PR #163 review feedback [OMN-676]
  src/omnibase_core/models/discovery/model_custommetrics.py
  src/omnibase_core/models/discovery/model_toolparameters.py
  src/omnibase_core/models/security/model_security_level.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(fsm): add immutability and validation rules for FSM contract models [OMN-575, OMN-576, OMN-577] (#166)
  src/omnibase_core/models/contracts/subcontracts/model_fsm_state_definition.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_state_transition.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_transition_condition.py
  src/omnibase_core/models/contracts/subcontracts/model_fsmtransitionaction.py
  tests/unit/mixins/test_mixin_fsm_execution.py
  tests/unit/models/contracts/subcontracts/test_model_fsm_state_definition.py
  tests/unit/models/contracts/subcontracts/test_model_fsm_subcontract_validations.py
  tests/unit/models/contracts/test_model_contract_reducer_v150.py
  tests/unit/nodes/test_declarative_nodes.py
  tests/unit/utils/test_fsm_executor.py
  tests/unit/validation/test_fsm_analysis.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(fsm): consolidate FSM models and fix dict[str, Any] violations [OMN-578, OMN-579, OMN-580, OMN-581]
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_action_config_parameter.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_action_config_parameter.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_operation.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_state_transition.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_transition_action.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_transition_condition.py
  src/omnibase_core/models/fsm/__init__.py
  src/omnibase_core/models/fsm/model_fsm_operation.py
  src/omnibase_core/models/fsm/model_fsm_transition_action.py
  src/omnibase_core/models/fsm/model_fsm_transition_condition.py
  src/omnibase_core/utils/fsm_executor.py
  tests/unit/models/contracts/test_model_action_config_parameter.py
  tests/unit/models/fsm/test_model_fsm_operation.py
  tests/unit/models/fsm/test_model_fsm_transition_action.py
  tests/unit/models/fsm/test_model_fsm_transition_condition.py
  tests/unit/utils/test_fsm_executor.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(contracts): fix misleading fingerprint comment and update version refs
  examples/contracts/effect/README.md
  examples/contracts/effect/resilient_effect.yaml
Due: validate-string-versions

fix(types): add logging warning to defensive fallback in model_custommetrics.py [OMN-676]
  src/omnibase_core/models/discovery/model_custommetrics.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address PR #161 review feedback
  contracts/runtime/contract_registry_reducer.yaml
  contracts/runtime/node_graph_reducer.yaml
  contracts/runtime/runtime_orchestrator.yaml
  examples/contracts/compute/user_profile_normalizer.yaml
  examples/contracts/effect/db_query.yaml
  examples/contracts/effect/filesystem_operations.yaml
  examples/contracts/effect/http_api_call.yaml
  examples/contracts/effect/kafka_produce.yaml
  examples/contracts/effect/resilient_effect.yaml
  examples/contracts/orchestrator_data_pipeline.yaml
  examples/contracts/reducer_metrics_aggregator.yaml
  tests/unit/contracts/test_contract_v110_fields.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml
