Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

test(OMN-12178): Add unit tests for worst-health files in omnibase_core
  tests/unit/nodes/test_node_reducer_snapshot_deep_copy.py
  tests/unit/validation/test_receipt_gate_internal_guards.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-12178): Test worst-health files in omnibase_core
  tests/unit/nodes/test_node_reducer_snapshot_deep_copy.py
  tests/unit/validation/test_receipt_gate_internal_guards.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-12176): Annotate hardcoded 192.168.86.x IPs with onex-allow-internal-ip in tests (#1165)
  tests/unit/contracts/test_model_contract_config.py
  tests/unit/models/contracts/test_model_behavior_proven_receipt.py
  tests/unit/models/contracts/test_model_delegation_runtime_profile.py
  tests/unit/models/contracts/test_runtime_sha_match.py
  tests/unit/models/contracts/test_runtime_sha_match_dod_gate.py
  tests/unit/models/delegation/test_model_health_status.py
  tests/unit/models/dispatch/test_model_dispatch_claim.py
  tests/unit/models/validation/test_model_event_destination.py
  tests/unit/validation/delegation/test_validator_delegation_profile.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-12177): allowlist synthetic secret fixtures
  tests/validation/test_validate_secrets.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-12177): Capture governance script behavior before refactoring
  tests/validation/test_validate_import_patterns.py
  tests/validation/test_validate_secrets.py
  tests/validation/test_validate_typing_syntax.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-12158): Remove core→infra layer inversion in HTTP protocol
  src/omnibase_core/protocols/http/__init__.py
  src/omnibase_core/protocols/http/protocol_http_client.py
  tests/unit/test_no_internal_deps.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-12189): Migrate 3 enums from compat to core
  tests/unit/enums/test_compat_enum_parity_omn12189.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-12192): Migrate 3 evidence models from compat to core
  src/omnibase_core/models/contracts/evidence/model_contract_evidence_proof.py
  src/omnibase_core/models/contracts/evidence/model_contract_evidence_spec.py
  src/omnibase_core/models/contracts/evidence/model_evidence_provenance.py
  tests/unit/models/contracts/evidence/test_contract_evidence_spec.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12191): move routing enums out of models
  src/omnibase_core/enums/routing/__init__.py
  src/omnibase_core/enums/routing/enum_capability_tier.py
  src/omnibase_core/enums/routing/enum_provider.py
  src/omnibase_core/enums/routing/enum_retry_type.py
  src/omnibase_core/enums/routing/enum_risk_level.py
  src/omnibase_core/models/routing/model_routing_decision.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12188): align event envelope model naming
  src/omnibase_core/models/events/__init__.py
  src/omnibase_core/models/events/model_event_envelope_v1_minimal.py
  tests/unit/models/events/test_model_event_envelope_v1_minimal.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12163): satisfy replay test lint
  tests/unit/services/replay/test_service_time_injector.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-12191): Migrate routing models from compat to core
  src/omnibase_core/enums/routing/__init__.py
  src/omnibase_core/enums/routing/enum_capability_tier.py
  src/omnibase_core/enums/routing/enum_provider.py
  src/omnibase_core/enums/routing/enum_retry_type.py
  src/omnibase_core/enums/routing/enum_risk_level.py
  src/omnibase_core/models/routing/__init__.py
  src/omnibase_core/models/routing/model_routing_decision.py
  src/omnibase_core/models/routing/model_routing_degraded_event.py
  src/omnibase_core/models/telemetry/__init__.py
  src/omnibase_core/models/telemetry/model_sweep_result.py
  tests/unit/models/routing/test_routing_decision_and_degraded.py
  tests/unit/models/telemetry/__init__.py
  tests/unit/models/telemetry/test_model_sweep_result.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-12188): Migrate EventEnvelopeV1Minimal from compat to core
  src/omnibase_core/models/events/__init__.py
  src/omnibase_core/models/events/model_event_envelope_v1_minimal.py
  tests/unit/models/events/test_model_event_envelope_v1_minimal.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-12180): Test critical services in omnibase_core
  tests/unit/nodes/test_node_compute_critical.py
  tests/unit/nodes/test_node_effect_critical.py
  tests/unit/utils/test_workflow_executor_critical.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-12163): Wire ServiceTimeInjector in omnibase_core mixins
  src/omnibase_core/mixins/mixin_event_handler.py
  src/omnibase_core/mixins/mixin_introspection_publisher.py
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_node_lifecycle.py
  src/omnibase_core/mixins/mixin_node_service.py
  src/omnibase_core/utils/util_streaming_window.py
  tests/unit/services/replay/test_service_time_injector.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-6665): Document 47 undocumented BLE001 suppressions and fix 2 invalid noqa directives
  src/omnibase_core/cli/cli_install.py
  src/omnibase_core/decorators/decorator_error_handling.py
  src/omnibase_core/mixins/mixin_contract_publisher.py
  src/omnibase_core/mixins/mixin_discovery_responder.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/mixins/mixin_node_lifecycle.py
  src/omnibase_core/mixins/mixin_node_service.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/models/core/model_event_type_registry.py
  src/omnibase_core/models/detection/__init__.py
  src/omnibase_core/models/health/__init__.py
  src/omnibase_core/models/health/model_health_check_config.py
  src/omnibase_core/models/health/model_health_check_metadata.py
  src/omnibase_core/models/infrastructure/model_result.py
  src/omnibase_core/models/infrastructure/model_transaction.py
  src/omnibase_core/nodes/node_contract_verify_replay_compute/handler.py
  src/omnibase_core/nodes/node_reducer.py
  src/omnibase_core/nodes/node_validation_orchestrator/node_cross_repo_validation_orchestrator.py
  src/omnibase_core/pipeline/manifest_generator.py
  src/omnibase_core/pipeline/runner_pipeline.py
  src/omnibase_core/protocols/runtime/protocol_message_handler.py
  src/omnibase_core/runtime/runtime_envelope_router.py
  src/omnibase_core/services/service_tiered_resolver.py
  src/omnibase_core/topics.py
  src/omnibase_core/validation/scripts/cross_platform_timeout.py
  src/omnibase_core/validation/scripts/validate_string_versions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-6665): Document 47 undocumented BLE001 suppressions and fix 2 invalid noqa directives (#1169)
  src/omnibase_core/cli/cli_install.py
  src/omnibase_core/decorators/decorator_error_handling.py
  src/omnibase_core/mixins/mixin_contract_publisher.py
  src/omnibase_core/mixins/mixin_discovery_responder.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/mixins/mixin_node_lifecycle.py
  src/omnibase_core/mixins/mixin_node_service.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/models/core/model_event_type_registry.py
  src/omnibase_core/models/detection/__init__.py
  src/omnibase_core/models/health/__init__.py
  src/omnibase_core/models/health/model_health_check_config.py
  src/omnibase_core/models/health/model_health_check_metadata.py
  src/omnibase_core/models/infrastructure/model_result.py
  src/omnibase_core/models/infrastructure/model_transaction.py
  src/omnibase_core/nodes/node_contract_verify_replay_compute/handler.py
  src/omnibase_core/nodes/node_reducer.py
  src/omnibase_core/nodes/node_validation_orchestrator/node_cross_repo_validation_orchestrator.py
  src/omnibase_core/pipeline/manifest_generator.py
  src/omnibase_core/pipeline/runner_pipeline.py
  src/omnibase_core/protocols/runtime/protocol_message_handler.py
  src/omnibase_core/runtime/runtime_envelope_router.py
  src/omnibase_core/services/service_tiered_resolver.py
  src/omnibase_core/topics.py
  src/omnibase_core/validation/scripts/cross_platform_timeout.py
  src/omnibase_core/validation/scripts/validate_string_versions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-12243): add main target guard
  .github/workflows/main-target-guard.yml
Due: validate-string-versions

ci(OMN-12243): add main target guard (#1171)
  .github/workflows/main-target-guard.yml
Due: validate-string-versions

refactor(OMN-11598/11600/11610): reduce cyclomatic complexity in core nodes and receipt gate
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_reducer.py
  src/omnibase_core/validation/validator_receipt_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(OMN-11598/OMN-11600/OMN-11610): reduce cyclomatic complexity in node_compute, receipt_gate, node_reducer (#1172)
  .github/workflows/main-target-guard.yml
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_reducer.py
  src/omnibase_core/validation/validator_receipt_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-12126): graduate delegation wire DTOs from omnibase_compat to omnibase_core
  scripts/validation/validate-single-class-per-file.py
  src/omnibase_core/enums/enum_budget_action.py
  src/omnibase_core/models/delegation/wire/__init__.py
  src/omnibase_core/models/delegation/wire/model_bifrost_delegation_config.py
  src/omnibase_core/models/delegation/wire/model_budget.py
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_delegation_wire_envelope.py
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
  src/omnibase_core/models/delegation/wire/model_orchestrator_intents.py
  src/omnibase_core/models/delegation/wire/model_quality_gate.py
  src/omnibase_core/models/delegation/wire/model_routing_config.py
  src/omnibase_core/models/delegation/wire/model_task_delegated_event.py
  tests/unit/models/delegation/wire/__init__.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12126): tighten delegation wire validation
  src/omnibase_core/models/delegation/wire/model_bifrost_delegation_config.py
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_quality_gate.py
  src/omnibase_core/models/delegation/wire/model_routing_config.py
  src/omnibase_core/models/delegation/wire/model_task_delegated_event.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12126): close delegation wire review findings
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_delegation_wire_envelope.py
  src/omnibase_core/models/delegation/wire/model_orchestrator_intents.py
  src/omnibase_core/models/delegation/wire/model_quality_gate.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-12126): graduate delegation wire DTOs from omnibase_compat to omnibase_core (#1173)
  scripts/validation/validate-single-class-per-file.py
  src/omnibase_core/enums/enum_budget_action.py
  src/omnibase_core/models/delegation/wire/__init__.py
  src/omnibase_core/models/delegation/wire/model_bifrost_delegation_config.py
  src/omnibase_core/models/delegation/wire/model_budget.py
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_delegation_wire_envelope.py
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
  src/omnibase_core/models/delegation/wire/model_orchestrator_intents.py
  src/omnibase_core/models/delegation/wire/model_quality_gate.py
  src/omnibase_core/models/delegation/wire/model_routing_config.py
  src/omnibase_core/models/delegation/wire/model_task_delegated_event.py
  tests/unit/models/delegation/wire/__init__.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-4418): add @shim decorator for temporary compatibility shim annotation
  src/omnibase_core/decorators/__init__.py
  src/omnibase_core/decorators/decorator_shim.py
  src/omnibase_core/models/decorators/__init__.py
  src/omnibase_core/models/decorators/model_shim_metadata.py
  tests/unit/decorators/test_decorator_shim.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-4418): add @shim decorator for temporary compatibility shim annotation (#1175)
  src/omnibase_core/decorators/__init__.py
  src/omnibase_core/decorators/decorator_shim.py
  src/omnibase_core/models/decorators/__init__.py
  src/omnibase_core/models/decorators/model_shim_metadata.py
  tests/unit/decorators/test_decorator_shim.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-12386): add focused coverage for receipt gate PASS/FAIL paths and contract validator
  tests/unit/services/test_service_contract_validator_coverage.py
  tests/unit/validation/test_receipt_gate_core_paths.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-12387): add coverage for workflow executor, node effect, and node lifecycle failure paths
  tests/unit/infrastructure/test_node_lifecycle_failure_paths.py
  tests/unit/utils/test_workflow_executor_failure_paths.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-12386): add focused coverage for receipt gate PASS/FAIL paths and contract validator (#1176)
  tests/unit/services/test_service_contract_validator_coverage.py
  tests/unit/validation/test_receipt_gate_core_paths.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-12388): add import/export smoke tests for high-dependency enum/error/model packages
  tests/unit/test_smoke_high_dependency_exports.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-12387): normalize node_effect imports
  tests/unit/infrastructure/test_node_lifecycle_failure_paths.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-12388): satisfy smoke test CodeQL findings
  tests/unit/test_smoke_high_dependency_exports.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-12387): add coverage for workflow executor, node effect, and node lifecycle failure paths (#1177)
  tests/unit/infrastructure/test_node_lifecycle_failure_paths.py
  tests/unit/utils/test_workflow_executor_failure_paths.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-12388): add import/export smoke tests for high-dependency enum/error/model packages (#1178)
  tests/unit/test_smoke_high_dependency_exports.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(auto-ship): rescue uncommitted work from canonical omnibase_core
  .mcp.json
Due: none
