Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

test(OMN-9739): tighten agent hook config tests
  tests/unit/models/configuration/test_model_agent_config.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-9739): migrate ModelAgentConfig.hooks to list[ModelHookActivation] (#1048)
  src/omnibase_core/models/configuration/model_agent_config.py
  tests/unit/models/configuration/test_model_agent_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-9743): add ModelPackageHookActivations envelope for hook_activations.yaml (#1051)
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_hook_activation.py
  src/omnibase_core/models/contracts/subcontracts/model_package_hook_activations.py
  tests/unit/models/contracts/test_model_package_hook_activations.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10733): remove 5 silent localhost fallbacks, wire env-fallback validator as gate
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/run_cross_repo_validation.py
  scripts/validate_no_env_fallbacks.py
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_run_node.py
  src/omnibase_core/doctor/checks/check_kafka.py
  src/omnibase_core/doctor/checks/check_postgres.py
  tests/test_doctor/test_checks_services.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10733): add contract YAML and tests/unit/doctor package
  contracts/OMN-10733.yaml
  tests/unit/doctor/__init__.py
  tests/unit/doctor/test_env_fallback_sweep.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-10733): inject KAFKA_BOOTSTRAP_SERVERS in cli_run_node unit tests
  tests/unit/cli/test_cli_run_node.py
  tests/unit/cli/test_cli_standalone.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-10733): inject KAFKA_BOOTSTRAP_SERVERS in remaining standalone tests
  .pre-commit-config.yaml
  scripts/validate_no_env_fallbacks.py
  tests/unit/cli/test_cli_standalone.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-10733): remove 5 silent localhost fallbacks in omnibase_core, wire env-fallback validator as CI gate (#1054)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  contracts/OMN-10733.yaml
  scripts/run_cross_repo_validation.py
  scripts/validate_no_env_fallbacks.py
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_run_node.py
  src/omnibase_core/doctor/checks/check_kafka.py
  src/omnibase_core/doctor/checks/check_postgres.py
  tests/test_doctor/test_checks_services.py
  tests/unit/cli/test_cli_run_node.py
  tests/unit/cli/test_cli_standalone.py
  tests/unit/doctor/__init__.py
  tests/unit/doctor/test_env_fallback_sweep.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: replace PENDING_MERGE placeholder with real OMN-10419 merge SHA in receipt-gate
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

fix(OMN-10419): distribute CI workflow smart tests
  scripts/ci/detect_test_paths.py
  scripts/ci/test_selection_adjacency.yaml
  tests/unit/scripts/ci/test_detect_test_paths.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-10419): set doctor e2e service env
  tests/test_doctor/test_e2e.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-10419): replace PENDING_MERGE placeholder with real cutoff SHA in receipt-gate (#1055)
  .github/workflows/receipt-gate.yml
  scripts/ci/detect_test_paths.py
  scripts/ci/test_selection_adjacency.yaml
  tests/test_doctor/test_e2e.py
  tests/unit/scripts/ci/test_detect_test_paths.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-10419): skip TODO audit without ticket branch
  .github/workflows/todo-audit-on-merge.yml
Due: validate-string-versions

ci(OMN-10419): skip TODO audit without ticket branch (#1056)
  .github/workflows/todo-audit-on-merge.yml
Due: validate-string-versions

feat(OMN-10278): extend resolver Step 4 to multi-param known injection
  src/omnibase_core/enums/enum_handler_resolution_outcome.py
  src/omnibase_core/services/service_handler_resolver.py
  tests/unit/enums/test_enum_handler_resolution_outcome.py
  tests/unit/services/test_service_handler_resolver.py
  tests/unit/services/test_service_handler_resolver_multi_param.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10817,OMN-10818,OMN-10819): add P0 silent-degradation validators
  .github/workflows/validator-no-except-swallow.yml
  .github/workflows/validator-no-import-none-fallback.yml
  .github/workflows/validator-no-none-guard-publish.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/validation/validate_no_except_swallow.py
  scripts/validation/validate_no_import_none_fallback.py
  scripts/validation/validate_no_none_guard_publish.py
  tests/validation/test_validate_no_except_swallow.py
  tests/validation/test_validate_no_import_none_fallback.py
  tests/validation/test_validate_no_none_guard_publish.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(OMN-10278): add resolver deploy-gate contract
  contracts/OMN-10278.yaml
Due: validate-string-versions

test(OMN-10278): require known-param resolver outcome
  tests/unit/services/test_service_handler_resolver.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-10817,OMN-10818,OMN-10819): add ticket contracts for P0 degradation validators
  contracts/OMN-10817.yaml
  contracts/OMN-10818.yaml
  contracts/OMN-10819.yaml
Due: validate-string-versions

feat(OMN-10278): extend resolver Step 4 to multi-param known injection (#1057)
  contracts/OMN-10278.yaml
  src/omnibase_core/enums/enum_handler_resolution_outcome.py
  src/omnibase_core/services/service_handler_resolver.py
  tests/unit/enums/test_enum_handler_resolution_outcome.py
  tests/unit/services/test_service_handler_resolver.py
  tests/unit/services/test_service_handler_resolver_multi_param.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat: extend check_no_fallbacks validator with 6 new fallback patterns
  scripts/validation/check_no_fallbacks.py
  tests/validation/test_check_no_fallbacks.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-10824): add ticket contract for extend-check-no-fallbacks
  contracts/OMN-10824.yaml
Due: validate-string-versions

feat(OMN-10817,OMN-10818,OMN-10819): add P0 silent-degradation validators as pre-commit + CI gates (#1058)
  .github/workflows/validator-no-except-swallow.yml
  .github/workflows/validator-no-import-none-fallback.yml
  .github/workflows/validator-no-none-guard-publish.yml
  .pre-commit-config.yaml
  contracts/OMN-10817.yaml
  contracts/OMN-10818.yaml
  contracts/OMN-10819.yaml
  pyproject.toml
  scripts/validation/validate_no_except_swallow.py
  scripts/validation/validate_no_import_none_fallback.py
  scripts/validation/validate_no_none_guard_publish.py
  tests/validation/test_validate_no_except_swallow.py
  tests/validation/test_validate_no_import_none_fallback.py
  tests/validation/test_validate_no_none_guard_publish.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-10720): add ticket contract for wire-unwired-validators
  contracts/OMN-10720.yaml
Due: validate-string-versions

feat: wire 5 substrate gates + stubbed-functionality as blocking pre-commit hooks
  .pre-commit-config.yaml
  scripts/validation/audit_optional.py
  scripts/validation/validate-stubbed-functionality.py
  src/omnibase_core/cli/substrate_gates/_base.py
  tests/unit/cli/substrate_gates/test_base.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10720): address CodeRabbit review findings on substrate gate wiring
  .pre-commit-config.yaml
  pyproject.toml
  scripts/validation/validate-stubbed-functionality.py
  src/omnibase_core/cli/substrate_gates/_base.py
  tests/unit/cli/substrate_gates/test_base.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-10720): update contract dod-001 to reflect 23 unit tests
  contracts/OMN-10720.yaml
Due: validate-string-versions
