Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(OMN-13877): dep-provenance gate — omnibase_core (#1375)
  .github/workflows/dep-provenance-gate.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_dep_provenance.py
  tests/scripts/test_check_dep_provenance.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-12549): bump omnibase_core 0.46.2->0.46.3 for dev->main promotion
  pyproject.toml
  uv.lock
Due: none

chore(OMN-12549): promote omnibase_core 0.46.3 dev->main (MixinNodeDispatch seam) (#1376)
  .github/workflows/dep-provenance-gate.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_dep_provenance.py
  src/omnibase_core/cli/cli_run_node.py
  src/omnibase_core/enums/hooks/__init__.py
  src/omnibase_core/enums/hooks/cursor/__init__.py
  src/omnibase_core/enums/hooks/cursor/enum_cursor_hook_event_type.py
  src/omnibase_core/enums/hooks/enum_agent_source.py
  src/omnibase_core/models/hooks/__init__.py
  src/omnibase_core/models/hooks/cursor/__init__.py
  src/omnibase_core/models/hooks/cursor/model_cursor_hook_event.py
  src/omnibase_core/models/hooks/cursor/model_cursor_hook_event_payload.py
  src/omnibase_core/nodes/node_effect.py
  src/omnibase_core/nodes/node_orchestrator.py
  src/omnibase_core/runtime/__init__.py
  src/omnibase_core/runtime/mixin_node_dispatch.py
  tests/scripts/test_check_dep_provenance.py
  tests/unit/cli/test_omn_13857_run_node_bootstrap.py
  tests/unit/enums/test_enum_agent_source.py
  tests/unit/runtime/test_mixin_node_dispatch.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13502): exempt canonical recorded-replay seam + honor file-level marker in no-faked-boundary detector
  pyproject.toml
  src/omnibase_core/validation/no_faked_boundary/handler.py
  tests/unit/validation/no_faked_boundary/test_handler_no_faked_boundary_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-13502): sync uv.lock to 0.46.4
  uv.lock
Due: none

fix(OMN-13502): exempt canonical recorded-replay seam in no-faked-boundary detector (#1377)
  pyproject.toml
  src/omnibase_core/validation/no_faked_boundary/handler.py
  tests/unit/validation/no_faked_boundary/test_handler_no_faked_boundary_compute.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-13502): flip no-faked-boundary gate BLOCKING in omnibase_core
  .github/workflows/no-faked-boundary.yml
  .pre-commit-config.yaml
Due: validate-string-versions

ci(OMN-13502): flip no-faked-boundary gate BLOCKING in omnibase_core (#1379)
  .github/workflows/no-faked-boundary.yml
  .pre-commit-config.yaml
Due: validate-string-versions

chore(OMN-13898): retain 2 pre-existing main-only .onex_state/evidence files on promotion
  .onex_state/evidence/OMN-13132/deterministic-ir-evidence.txt
  .onex_state/evidence/omn-13197-pr-body.md
Due: none

chore(OMN-13898): promote omnibase_core 0.46.4 dev->main (no-faked-boundary detector FP fix + gate) (#1380)
  .github/workflows/no-faked-boundary.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/omnibase_core/validation/no_faked_boundary/handler.py
  tests/unit/validation/no_faked_boundary/test_handler_no_faked_boundary_compute.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-13875): wire Handshake Policy Gate as a live PR-time check
  .github/workflows/handshake-policy-gate.yml
Due: validate-string-versions

ci(OMN-13875): drop pull_request trigger, keep merge_group only
  .github/workflows/handshake-policy-gate.yml
Due: validate-string-versions

fix(OMN-13888): per-entry OCC receipt hashing + append-only + supersession + dual-accept
  pyproject.toml
  src/omnibase_core/models/contracts/ticket/model_dod_receipt.py
  src/omnibase_core/models/contracts/ticket/model_receipt_supersession.py
  src/omnibase_core/models/validation/model_occ_append_only_result.py
  src/omnibase_core/validation/validator_occ_append_only.py
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  src/omnibase_core/validation/validator_receipt_gate.py
  src/omnibase_core/validation/validator_receipt_supersession.py
  tests/unit/validation/test_occ_per_entry_hashing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13888): move EnumAppendOnlyViolationKind to enums/ (class-naming gate)
  src/omnibase_core/enums/enum_append_only_violation_kind.py
  src/omnibase_core/models/validation/model_occ_append_only_result.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13910): bump project.version 0.46.4 -> 0.46.5
  pyproject.toml
  uv.lock
Due: none

ci(OMN-13914): add synchronize+reopened to pr-title-check trigger
  .github/workflows/pr-title-check.yml
Due: validate-string-versions

docs(OMN-13888): document grandfather defense-in-depth (round-1 PROBE6)
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  src/omnibase_core/validation/validator_receipt_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13865): wait for declared runtime terminal event
  src/omnibase_core/runtime/runtime_local.py
  src/omnibase_core/runtime/runtime_local_adapter.py
  tests/unit/runtime/test_runtime_local.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13910): bump project.version 0.46.4 -> 0.46.5 (#1384)
  pyproject.toml
  uv.lock
Due: none

ci(OMN-13914): add synchronize+reopened to pr-title-check trigger (#1385)
  .github/workflows/pr-title-check.yml
Due: validate-string-versions

ci(OMN-13911): wire Handshake Policy Gate as a live merge_group check (#1383)
  .github/workflows/handshake-policy-gate.yml
Due: validate-string-versions

fix(OMN-13888): remove unnecessary del statement flagged by CodeQL
  tests/unit/validation/test_occ_per_entry_hashing.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-13888): OCC per-entry receipt hashing + append-only + supersession + dual-accept (#1382)
  src/omnibase_core/enums/enum_append_only_violation_kind.py
  src/omnibase_core/models/contracts/ticket/model_dod_receipt.py
  src/omnibase_core/models/contracts/ticket/model_receipt_supersession.py
  src/omnibase_core/models/validation/model_occ_append_only_result.py
  src/omnibase_core/validation/validator_occ_append_only.py
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  src/omnibase_core/validation/validator_receipt_gate.py
  src/omnibase_core/validation/validator_receipt_supersession.py
  tests/unit/validation/test_occ_per_entry_hashing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-13928): restore main-only .onex_state/evidence files so squash to main does not delete them
  .onex_state/evidence/OMN-13132/deterministic-ir-evidence.txt
  .onex_state/evidence/omn-13197-pr-body.md
Due: none

fix(OMN-13865): accept CI token for handshake policy gate
  architecture-handshakes/check-policy-gate.sh
Due: none

chore(OMN-13928): promote omnibase_core 0.46.5 dev->main (per-entry OCC hashing + dual-accept) (#1387)
  .github/workflows/handshake-policy-gate.yml
  .github/workflows/pr-title-check.yml
  pyproject.toml
  src/omnibase_core/enums/enum_append_only_violation_kind.py
  src/omnibase_core/models/contracts/ticket/model_dod_receipt.py
  src/omnibase_core/models/contracts/ticket/model_receipt_supersession.py
  src/omnibase_core/models/validation/model_occ_append_only_result.py
  src/omnibase_core/validation/validator_occ_append_only.py
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  src/omnibase_core/validation/validator_receipt_gate.py
  src/omnibase_core/validation/validator_receipt_supersession.py
  tests/unit/validation/test_occ_per_entry_hashing.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13865): keep handshake report nonblocking in merge queue
  .github/workflows/handshake-policy-gate.yml
Due: validate-string-versions

fix(OMN-13865): wait for declared runtime terminal event (#1386)
  .github/workflows/handshake-policy-gate.yml
  architecture-handshakes/check-policy-gate.sh
  src/omnibase_core/runtime/runtime_local.py
  src/omnibase_core/runtime/runtime_local_adapter.py
  tests/unit/runtime/test_runtime_local.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13929): bump project.version 0.46.5 -> 0.46.6 (post-publish release-identity disarm)
  pyproject.toml
  uv.lock
Due: none

fix(OMN-13929): bump project.version 0.46.5 -> 0.46.6 (post-publish release-identity disarm) (#1388)
  pyproject.toml
  uv.lock
Due: none

feat(OMN-13927): receipt-attestation diff-consistency gate (pure core + CLI)
  pyproject.toml
  src/omnibase_core/enums/ticket/enum_diff_attestation.py
  src/omnibase_core/models/contracts/ticket/model_dod_receipt.py
  src/omnibase_core/validation/validator_receipt_diff_consistency.py
  tests/unit/validation/test_validator_receipt_diff_consistency.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(OMN-13944): relocate/annotate stray topic literals into canonical core registries
  src/omnibase_core/constants/constants_event_types.py
  src/omnibase_core/constants/constants_topic_taxonomy.py
  src/omnibase_core/models/events/contract_resolve/model_contract_resolve_completed_event.py
  src/omnibase_core/models/events/contract_resolve/model_contract_resolve_requested_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_merge_completed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_merge_started_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_failed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_passed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_started_event.py
  src/omnibase_core/models/events/model_intent_query_requested_event.py
  src/omnibase_core/models/events/model_intent_query_response_event.py
  src/omnibase_core/models/events/model_intent_stored_event.py
  src/omnibase_core/models/events/model_node_registered_event.py
  src/omnibase_core/models/events/model_node_unregistered_event.py
  src/omnibase_core/models/events/model_subscription_created_event.py
  src/omnibase_core/models/events/model_subscription_failed_event.py
  src/omnibase_core/models/events/model_subscription_removed_event.py
  src/omnibase_core/models/events/model_wiring_error_event.py
  src/omnibase_core/models/events/model_wiring_result_event.py
  src/omnibase_core/models/events/payloads/model_event_payload_union.py
  src/omnibase_core/validation/validator_topic_suffix.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-13944): install pyright runtime dependency
  .github/workflows/ci.yml
Due: validate-string-versions

ci(OMN-13999): run check-check-names validator on bare python3 — drop needless uv sync (runner-load reduction)
  .github/workflows/check-check-names.yml
Due: validate-string-versions

ci(OMN-13999): harden hardcoded-topic validator sync timeout
  .github/workflows/validator-hardcoded-topic.yml
Due: validate-string-versions

ci(OMN-14076): remove merge_group triggers from 22 non-required workflows (Lever 1 canary)
  .github/workflows/call-occ-preflight.yml
  .github/workflows/check-handshake.yml
  .github/workflows/handshake-policy-gate.yml
  .github/workflows/receipt-honesty.yml
  .github/workflows/validator-backend-secret-discipline.yml
  .github/workflows/validator-banned-compose-vars.yml
  .github/workflows/validator-bypass-token-blocklist.yml
  .github/workflows/validator-command-category-event-model.yml
  .github/workflows/validator-dispatched-contract-operation.yml
  .github/workflows/validator-fsm-handler-drift.yml
  .github/workflows/validator-generated-node-model-class-exists.yml
  .github/workflows/validator-gitignore-baseline.yml
  .github/workflows/validator-hardcoded-topic.yml
  .github/workflows/validator-no-except-swallow.yml
  .github/workflows/validator-no-import-none-fallback.yml
  .github/workflows/validator-no-none-guard-publish.yml
  .github/workflows/validator-no-plugin-daemon-classes.yml
  .github/workflows/validator-operation-match.yml
  .github/workflows/validator-pin-hygiene.yml
  .github/workflows/validator-release-identity.yml
  .github/workflows/validator-runtime-profiles.yml
  .github/workflows/validator-todo-marker.yml
Due: validate-string-versions

fix(OMN-14081): make pyproject.toml test-selector trigger content-aware
  .github/workflows/ci.yml
  scripts/ci/detect_test_paths.py
  scripts/ci/test_selection_adjacency.yaml
  tests/unit/scripts/ci/test_detect_test_paths.py
  tests/unit/scripts/ci/test_detect_test_paths_cli.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
