Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chore(OMN-10217): add deploy gate contract
  contracts/OMN-10217.yaml
Due: validate-string-versions

chore(OMN-10215): add deploy gate contract
  contracts/OMN-10215.yaml
Due: validate-string-versions

chore(OMN-10213): add deploy gate contract
  contracts/OMN-10213.yaml
Due: validate-string-versions

chore(OMN-10212): add deploy gate contract
  contracts/OMN-10212.yaml
Due: validate-string-versions

fix(OMN-10219): satisfy contract and review gates
  contracts/OMN-10219.yaml
Due: validate-string-versions

fix(OMN-10217): satisfy contract and review gates
  contracts/OMN-10217.yaml
Due: validate-string-versions

fix(OMN-10215): satisfy contract and review gates
  contracts/OMN-10215.yaml
Due: validate-string-versions

fix(OMN-10213): satisfy contract and review gates
  contracts/OMN-10213.yaml
Due: validate-string-versions

fix(OMN-10212): satisfy contract and review gates
  contracts/OMN-10212.yaml
Due: validate-string-versions

fix(OMN-10219): resolve fixture review findings
  tests/unit/cli/substrate_gates/fixtures/kwargs_clean.py
  tests/unit/cli/substrate_gates/fixtures/kwargs_violation.py
  tests/unit/cli/substrate_gates/test_protocol_kwargs_object.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-10217): resolve fixture review findings
  tests/unit/cli/substrate_gates/fixtures/except_clean.py
  tests/unit/cli/substrate_gates/fixtures/except_violation.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-10246-W3): governance models Batch B — autopilot, compliance, eval [omnibase_core]
  src/omnibase_core/models/governance/model_autopilot_cycle_record.py
  src/omnibase_core/models/governance/model_autopilot_step_result.py
  src/omnibase_core/models/governance/model_compliance_sweep_report.py
  src/omnibase_core/models/governance/model_eval_metric.py
  src/omnibase_core/models/governance/model_eval_report.py
  src/omnibase_core/models/governance/model_eval_run.py
  src/omnibase_core/models/governance/model_eval_run_pair.py
  src/omnibase_core/models/governance/model_eval_suite.py
  src/omnibase_core/models/governance/model_eval_summary.py
  src/omnibase_core/models/governance/model_eval_task.py
  src/omnibase_core/models/governance/model_repo_compliance_breakdown.py
  tests/unit/models/governance/test_governance_model_batch_b.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10246): address CodeRabbit review — validation hardening for Batch B models
  src/omnibase_core/enums/governance/enum_autopilot_mode.py
  src/omnibase_core/models/governance/model_autopilot_cycle_record.py
  src/omnibase_core/models/governance/model_autopilot_step_result.py
  src/omnibase_core/models/governance/model_compliance_sweep_report.py
  src/omnibase_core/models/governance/model_eval_metric.py
  src/omnibase_core/models/governance/model_eval_report.py
  src/omnibase_core/models/governance/model_eval_run.py
  src/omnibase_core/models/governance/model_eval_run_pair.py
  src/omnibase_core/models/governance/model_eval_summary.py
  src/omnibase_core/models/governance/model_repo_compliance_breakdown.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10212): tighten identity optionality gate scope
  contracts/OMN-10212.yaml
  src/omnibase_core/cli/substrate_gates/identity_field_optionality.py
  tests/unit/cli/substrate_gates/test_identity_field_optionality.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10246): round 2 CodeRabbit hardening — compliance sweep + eval run validators
  src/omnibase_core/models/governance/model_compliance_sweep_report.py
  src/omnibase_core/models/governance/model_eval_run.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10248): remove unused doc freshness thresholds
  src/omnibase_core/models/governance/model_doc_freshness_result.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10250-W3): add ModelCanaryTier+ModelCanaryTierAssignments to core governance [omnibase_core] (#970)
  src/omnibase_core/models/governance/__init__.py
  src/omnibase_core/models/governance/model_canary_tier.py
  src/omnibase_core/models/governance/model_canary_tier_assignments.py
  tests/unit/models/governance/test_canary_tier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10212): detect indirect BaseModel identity fields
  src/omnibase_core/cli/substrate_gates/identity_field_optionality.py
  tests/unit/cli/substrate_gates/test_identity_field_optionality.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10217): move violation fixture out of code scanning
  tests/unit/cli/substrate_gates/fixtures/except_violation.fixture
  tests/unit/cli/substrate_gates/test_silent_except_pass.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-10217): generate violation fixture at runtime
  tests/unit/cli/substrate_gates/fixtures/except_violation.fixture
  tests/unit/cli/substrate_gates/test_silent_except_pass.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-10213): Gate 2 — ban dict[str, Any] / Any / **kwargs in Pydantic models and Protocol signatures (#968)
  contracts/OMN-10213.yaml
  src/omnibase_core/cli/substrate_gates/__init__.py
  src/omnibase_core/cli/substrate_gates/loose_typing_in_internal.py
  tests/unit/cli/substrate_gates/fixtures/__init__.py
  tests/unit/cli/substrate_gates/fixtures/loose_typing_clean.py
  tests/unit/cli/substrate_gates/fixtures/loose_typing_violation.py
  tests/unit/cli/substrate_gates/test_loose_typing_in_internal.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-10217): tighten silent except fixture count
  tests/unit/cli/substrate_gates/test_silent_except_pass.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-10251): migrate overseer models to core + rename to ModelWorkerEvidenceRequirement (#972)
  src/omnibase_core/enums/overseer/__init__.py
  src/omnibase_core/enums/overseer/enum_completion_outcome.py
  src/omnibase_core/enums/overseer/enum_task_status.py
  src/omnibase_core/models/overseer/__init__.py
  src/omnibase_core/models/overseer/model_completion_report.py
  src/omnibase_core/models/overseer/model_context_bundle.py
  src/omnibase_core/models/overseer/model_context_bundle_base.py
  src/omnibase_core/models/overseer/model_context_bundle_l0.py
  src/omnibase_core/models/overseer/model_context_bundle_l1.py
  src/omnibase_core/models/overseer/model_context_bundle_l2.py
  src/omnibase_core/models/overseer/model_context_bundle_l3.py
  src/omnibase_core/models/overseer/model_context_bundle_l4.py
  src/omnibase_core/models/overseer/model_contract_allowed_actions.py
  src/omnibase_core/models/overseer/model_dispatch_item.py
  src/omnibase_core/models/overseer/model_escalation_request.py
  src/omnibase_core/models/overseer/model_overnight_contract.py
  src/omnibase_core/models/overseer/model_overnight_halt_condition.py
  src/omnibase_core/models/overseer/model_overnight_phase_spec.py
  src/omnibase_core/models/overseer/model_process_runner_state_transition.py
  src/omnibase_core/models/overseer/model_session_contract.py
  src/omnibase_core/models/overseer/model_session_halt_condition.py
  src/omnibase_core/models/overseer/model_session_phase_spec.py
  src/omnibase_core/models/overseer/model_task_delta_envelope.py
  src/omnibase_core/models/overseer/model_task_shape_features.py
  src/omnibase_core/models/overseer/model_task_state_envelope.py
  src/omnibase_core/models/overseer/model_verifier_output.py
  src/omnibase_core/models/overseer/model_worker_contract.py
  src/omnibase_core/models/overseer/model_worker_evidence_requirement.py
  tests/unit/models/overseer/__init__.py
  tests/unit/models/overseer/test_overseer_model_imports.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10246): governance models batch B (autopilot, compliance, eval) (#974)
  src/omnibase_core/enums/governance/enum_autopilot_mode.py
  src/omnibase_core/models/governance/model_autopilot_cycle_record.py
  src/omnibase_core/models/governance/model_autopilot_step_result.py
  src/omnibase_core/models/governance/model_compliance_sweep_report.py
  src/omnibase_core/models/governance/model_eval_metric.py
  src/omnibase_core/models/governance/model_eval_report.py
  src/omnibase_core/models/governance/model_eval_run.py
  src/omnibase_core/models/governance/model_eval_run_pair.py
  src/omnibase_core/models/governance/model_eval_suite.py
  src/omnibase_core/models/governance/model_eval_summary.py
  src/omnibase_core/models/governance/model_eval_task.py
  src/omnibase_core/models/governance/model_repo_compliance_breakdown.py
  tests/unit/models/governance/test_governance_model_batch_b.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10219): Gate 5 — ban **kwargs: object / **kwargs: Any in Protocol method signatures (#965)
  contracts/OMN-10219.yaml
  src/omnibase_core/cli/substrate_gates/protocol_kwargs_object.py
  tests/unit/cli/substrate_gates/fixtures/kwargs_clean.py
  tests/unit/cli/substrate_gates/fixtures/kwargs_violation.py
  tests/unit/cli/substrate_gates/test_protocol_kwargs_object.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10217): Gate 4 — banned silent except: pass (#966)
  contracts/OMN-10217.yaml
  src/omnibase_core/cli/substrate_gates/silent_except_pass.py
  tests/unit/cli/substrate_gates/fixtures/except_clean.py
  tests/unit/cli/substrate_gates/test_silent_except_pass.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10247): harden governance batch c invariants
  src/omnibase_core/models/governance/model_db_boundary_exception.py
  src/omnibase_core/models/governance/model_migration_validation_result.py
  src/omnibase_core/models/governance/model_wire_ci_gate.py
  src/omnibase_core/models/governance/model_wire_field_constraints.py
  src/omnibase_core/models/governance/model_wire_schema_contract.py
  tests/unit/models/governance/test_governance_model_batch_c.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10212): Gate 1 — banned T | None = None for identity field names (#969)
  contracts/OMN-10212.yaml
  scripts/validation/validate_naming.py
  src/omnibase_core/cli/substrate_gates/identity_field_optionality.py
  tests/unit/cli/substrate_gates/fixtures/identity_clean.py
  tests/unit/cli/substrate_gates/fixtures/identity_violation.py
  tests/unit/cli/substrate_gates/test_identity_field_optionality.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10247): reject negative wire lengths
  src/omnibase_core/models/governance/model_wire_field_constraints.py
  tests/unit/models/governance/test_governance_model_batch_c.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10247): refresh batch c test docstring
  tests/unit/models/governance/test_governance_model_batch_c.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-10215): Gate 3 — banned os.environ.get silent fallback (#967)
  contracts/OMN-10215.yaml
  src/omnibase_core/cli/substrate_gates/env_silent_fallback.py
  tests/unit/cli/substrate_gates/fixtures/env_clean.py
  tests/unit/cli/substrate_gates/fixtures/env_violation.py
  tests/unit/cli/substrate_gates/test_env_silent_fallback.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10248): harden governance batch d invariants
  src/omnibase_core/models/governance/model_doc_freshness_sweep_report.py
  src/omnibase_core/models/governance/model_dod_sweep.py
  src/omnibase_core/models/governance/model_dod_sweep_check_result.py
  src/omnibase_core/models/governance/model_dod_sweep_ticket_result.py
  src/omnibase_core/models/governance/model_dogfood_regression.py
  src/omnibase_core/models/governance/model_dogfood_scorecard.py
  src/omnibase_core/models/governance/model_integration_probe_result.py
  src/omnibase_core/models/governance/model_repo_doc_summary.py
  tests/unit/models/governance/test_governance_model_batch_d.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10248): complete batch d invariant hardening
  src/omnibase_core/models/governance/model_dod_sweep_ticket_result.py
  src/omnibase_core/models/governance/model_dogfood_scorecard.py
  src/omnibase_core/models/governance/model_integration_probe_result.py
  tests/unit/models/governance/test_governance_model_batch_d.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10248): polish dogfood scorecard validation
  src/omnibase_core/models/governance/model_dogfood_scorecard.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10248): remove dogfood semver cap
  src/omnibase_core/models/governance/model_dogfood_scorecard.py
  tests/unit/models/governance/test_governance_model_batch_d.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10247): governance models batch C (wire schema, contract dependency, DB boundary) (#973)
  src/omnibase_core/models/governance/__init__.py
  src/omnibase_core/models/governance/model_db_boundary_exception.py
  src/omnibase_core/models/governance/model_db_boundary_exceptions_registry.py
  src/omnibase_core/models/governance/model_migration_spec.py
  src/omnibase_core/models/governance/model_migration_validation_result.py
  src/omnibase_core/models/governance/model_wire_ci_gate.py
  src/omnibase_core/models/governance/model_wire_collapsed_field.py
  src/omnibase_core/models/governance/model_wire_consumer.py
  src/omnibase_core/models/governance/model_wire_field_constraints.py
  src/omnibase_core/models/governance/model_wire_optional_field.py
  src/omnibase_core/models/governance/model_wire_producer.py
  src/omnibase_core/models/governance/model_wire_renamed_field.py
  src/omnibase_core/models/governance/model_wire_required_field.py
  src/omnibase_core/models/governance/model_wire_schema_contract.py
  tests/unit/models/governance/test_governance_model_batch_c.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-10248): governance models batch D — corrected base (re-open of #975) (#976)
  src/omnibase_core/models/governance/__init__.py
  src/omnibase_core/models/governance/model_day_close.py
  src/omnibase_core/models/governance/model_day_close_actual_repo.py
  src/omnibase_core/models/governance/model_day_close_drift_detected.py
  src/omnibase_core/models/governance/model_day_close_invariants_checked.py
  src/omnibase_core/models/governance/model_day_close_plan_item.py
  src/omnibase_core/models/governance/model_day_close_pr.py
  src/omnibase_core/models/governance/model_day_close_process_change.py
  src/omnibase_core/models/governance/model_day_close_risk.py
  src/omnibase_core/models/governance/model_day_open.py
  src/omnibase_core/models/governance/model_day_open_finding.py
  src/omnibase_core/models/governance/model_day_open_infra_service.py
  src/omnibase_core/models/governance/model_day_open_probe_result.py
  src/omnibase_core/models/governance/model_day_open_repo_sync_entry.py
  src/omnibase_core/models/governance/model_delegation_health.py
  src/omnibase_core/models/governance/model_doc_freshness_result.py
  src/omnibase_core/models/governance/model_doc_freshness_sweep_report.py
  src/omnibase_core/models/governance/model_dod_sweep.py
  src/omnibase_core/models/governance/model_dod_sweep_check_result.py
  src/omnibase_core/models/governance/model_dod_sweep_ticket_result.py
  src/omnibase_core/models/governance/model_dogfood_regression.py
  src/omnibase_core/models/governance/model_dogfood_scorecard.py
  src/omnibase_core/models/governance/model_endpoint_health.py
  src/omnibase_core/models/governance/model_golden_chain_health.py
  src/omnibase_core/models/governance/model_infrastructure_health.py
  src/omnibase_core/models/governance/model_integration_probe_result.py
  src/omnibase_core/models/governance/model_integration_record.py
  src/omnibase_core/models/governance/model_readiness_dimension.py
  src/omnibase_core/models/governance/model_repo_doc_summary.py
  tests/unit/models/governance/test_governance_model_batch_d.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: salvage legacy worktree OMN-9620/OMN-9622/omnibase_core
  SECURITY.md
  docs/architecture/README.md
  docs/reference/VALIDATION_OWNERSHIP.md
  docs/validation/TOPIC_VALIDATION_STATUS.md
Due: none

chore: salvage legacy worktree OMN-10066/omnibase_core
  src/omnibase_core/models/contracts/ticket/model_dod_evidence_check.py
  tests/unit/models/contracts/test_model_dod_evidence_check.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
