Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

feat(models): add execution trace models for replay infrastructure (OMN-1208) (#311)
  src/omnibase_core/enums/enum_execution_status.py
  src/omnibase_core/models/trace/__init__.py
  src/omnibase_core/models/trace/model_execution_trace.py
  src/omnibase_core/models/trace/model_execution_trace_step.py
  tests/unit/enums/test_enum_execution_status.py
  tests/unit/models/trace/__init__.py
  tests/unit/models/trace/test_model_execution_trace.py
  tests/unit/models/trace/test_model_execution_trace_step.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(validation): enhance naming convention checker with docstrings, logging, and CLI
  src/omnibase_core/validation/checker_naming_convention.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(invariant): address PR #310 review feedback
  src/omnibase_core/services/invariant/service_invariant_evaluator.py
  tests/unit/services/invariant/test_field_value_evaluator.py
  tests/unit/services/invariant/test_invariant_property_based.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(tracing): propagate dispatch_id for end-to-end request tracing (OMN-972) (#312)
  docs/guides/REQUEST_TRACING.md
  src/omnibase_core/models/compute/model_compute_context.py
  src/omnibase_core/models/dispatch/model_handler_output.py
  src/omnibase_core/models/effect/model_effect_context.py
  src/omnibase_core/models/orchestrator/model_orchestrator_context.py
  src/omnibase_core/models/reducer/model_reducer_context.py
  src/omnibase_core/protocols/handler/protocol_handler_context.py
  src/omnibase_core/runtime/message_dispatch_engine.py
  src/omnibase_core/types/typed_dict_log_context.py
  tests/unit/models/dispatch/test_model_handler_output.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(hooks): fix pre-push pytest capture crash in Protocol UUID hook
  .pre-commit-config.yaml
Due: validate-string-versions

fix: address PR #301 release-ready review issues (OMN-1188)
  docs/architecture/MIXINS_TO_HANDLERS_REFACTOR.md
  docs/guides/HANDLER_CONVERSION_GUIDE.md
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  poetry.lock
  pyproject.toml
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/models/context/model_validation_context.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_context.py
  src/omnibase_core/models/pipeline/model_pipeline_result.py
  src/omnibase_core/protocols/__init__.py
  tests/unit/mixins/test_mixin_caching.py
  tests/unit/pipeline/test_model_pipeline_result_thread_safety.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(invariant): address remaining PR #310 review feedback
  docs/services/README.md
  docs/services/invariant/CUSTOM_CALLABLES.md
  src/omnibase_core/errors/error_regex_timeout.py
  src/omnibase_core/services/invariant/service_invariant_evaluator.py
  tests/unit/services/invariant/test_field_presence_evaluator.py
  tests/unit/services/invariant/test_invariant_property_based.py
  tests/unit/services/invariant/test_schema_evaluator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(validation): add comprehensive test suite for checker_naming_convention (OMN-1224, OMN-1225)
  src/omnibase_core/validation/checker_naming_convention.py
  tests/unit/validation/test_checker_naming_convention.py
  tests/unit/validation/test_validate_naming.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): resolve mypy error and update stale file references
  docs/architecture/DECLARATIVE_IMPLEMENTATION_PLAN.md
  docs/guides/MIGRATING_TO_DECLARATIVE_NODES.md
  docs/guides/UNION_TYPE_MIGRATION.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  src/omnibase_core/types/type_serializable_value.py
  src/omnibase_core/utils/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style(naming): fix formatting and add docstrings for renamed files (OMN-1222)
  src/omnibase_core/logging/logging_emit.py
  src/omnibase_core/logging/logging_structured.py
  src/omnibase_core/services/registry/__init__.py
  tests/unit/services/registry/test_registry_capability.py
  tests/unit/services/registry/test_registry_provider.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(naming): rename files to follow directory prefix conventions (OMN-1223)
  docs/guides/CONTRACT_PROFILE_GUIDE.md
  src/omnibase_core/factories/__init__.py
  src/omnibase_core/factories/factory_contract_profile.py
  src/omnibase_core/factories/profiles/__init__.py
  src/omnibase_core/factories/profiles/factory_profile_compute.py
  src/omnibase_core/factories/profiles/factory_profile_effect.py
  src/omnibase_core/factories/profiles/factory_profile_orchestrator.py
  src/omnibase_core/factories/profiles/factory_profile_reducer.py
  src/omnibase_core/resolution/__init__.py
  src/omnibase_core/resolution/_resolver_dependency_graph.py
  src/omnibase_core/resolution/_resolver_handler_info.py
  src/omnibase_core/resolution/resolver_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(naming): update import paths and add validation tests for PR #317 renames
  docs/MVP_PLAN.md
  docs/reference/api/utils.md
  docs/reference/templates/ORCHESTRATOR_NODE_TEMPLATE.md
  src/omnibase_core/protocols/protocol_contract_profile_factory.py
  tests/unit/api_snapshots/test_renamed_imports_pr317.py
  tests/unit/decorators/test_error_handling_extended.py
  tests/unit/decorators/test_pattern_exclusions.py
  tests/unit/errors/test_error_declarative.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(contracts): add contract diff model and patch-level diff algorithm (OMN-1148)
  scripts/validation/validate_naming.py
  src/omnibase_core/contracts/diff_computer.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_contract_diff_change_type.py
  src/omnibase_core/models/contracts/diff/__init__.py
  src/omnibase_core/models/contracts/diff/model_contract_diff.py
  src/omnibase_core/models/contracts/diff/model_contract_field_diff.py
  src/omnibase_core/models/contracts/diff/model_contract_list_diff.py
  src/omnibase_core/models/contracts/diff/model_diff_configuration.py
  tests/unit/contracts/test_diff_computer.py
  tests/unit/enums/test_enum_contract_diff_change_type.py
  tests/unit/models/contracts/diff/__init__.py
  tests/unit/models/contracts/diff/test_model_contract_diff.py
  tests/unit/models/contracts/diff/test_model_contract_field_diff.py
  tests/unit/models/contracts/diff/test_model_contract_list_diff.py
  tests/unit/models/contracts/diff/test_model_diff_configuration.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add Contract Validation Pipeline (OMN-1128)
  src/omnibase_core/enums/enum_contract_validation_error_code.py
  src/omnibase_core/enums/enum_validation_phase.py
  src/omnibase_core/models/validation/model_expanded_contract_result.py
  src/omnibase_core/protocols/validation/__init__.py
  src/omnibase_core/protocols/validation/protocol_contract_validation_pipeline.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/contract_validation_pipeline.py
  src/omnibase_core/validation/phases/__init__.py
  src/omnibase_core/validation/phases/expanded_contract_graph_validator.py
  src/omnibase_core/validation/phases/expanded_validator.py
  src/omnibase_core/validation/phases/merge_validator.py
  src/omnibase_core/validation/validators/__init__.py
  tests/unit/enums/test_enum_contract_validation_error_code.py
  tests/unit/enums/test_enum_validation_phase.py
  tests/unit/validation/phases/__init__.py
  tests/unit/validation/phases/test_expanded_validator.py
  tests/unit/validation/phases/test_merge_validator.py
  tests/unit/validation/test_contract_validation_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): correct parse_datetime import path in typed dict test
  tests/unit/types/test_typed_dict_structured_definitions.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(naming): rename ExpandedContractResult to ModelExpandedContractResult
  src/omnibase_core/models/validation/model_expanded_contract_result.py
  src/omnibase_core/protocols/validation/protocol_contract_validation_pipeline.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/contract_validation_pipeline.py
  src/omnibase_core/validation/phases/expanded_contract_graph_validator.py
  src/omnibase_core/validation/phases/expanded_validator.py
  tests/unit/validation/test_contract_validation_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: add validator classes to naming exceptions
  scripts/validate_class_naming.py
  scripts/validation/validate_naming.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(naming): rename files to follow directory prefix conventions (OMN-1223) (#320)
  docs/guides/CONTRACT_PROFILE_GUIDE.md
  src/omnibase_core/factories/__init__.py
  src/omnibase_core/factories/factory_contract_profile.py
  src/omnibase_core/factories/profiles/__init__.py
  src/omnibase_core/factories/profiles/factory_profile_compute.py
  src/omnibase_core/factories/profiles/factory_profile_effect.py
  src/omnibase_core/factories/profiles/factory_profile_orchestrator.py
  src/omnibase_core/factories/profiles/factory_profile_reducer.py
  src/omnibase_core/resolution/__init__.py
  src/omnibase_core/resolution/_resolver_dependency_graph.py
  src/omnibase_core/resolution/_resolver_handler_info.py
  src/omnibase_core/resolution/resolver_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address PR #314 review feedback for naming convention checker
  src/omnibase_core/validation/checker_naming_convention.py
  tests/unit/validation/test_checker_naming_convention.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): bump CACHE_VERSION to invalidate stale cache after file renames
  .github/workflows/test.yml
Due: validate-string-versions

fix(types): fix Redis type annotation for compatibility
  src/omnibase_core/backends/cache/backend_cache_redis.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): resolve circular imports and stale module reference
  src/omnibase_core/types/converter_error_details.py
  src/omnibase_core/types/converter_health.py
  src/omnibase_core/types/converter_stats.py
  tests/unit/utils/test_workflow_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(naming): update mypy plugin paths and remove duplicate header
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/tools/mypy_plugins/dict_any_checker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(validation): address PR review feedback for contract validation pipeline
  src/omnibase_core/enums/enum_validation_phase.py
  src/omnibase_core/models/validation/model_expanded_contract_result.py
  src/omnibase_core/validation/contract_validation_pipeline.py
  src/omnibase_core/validation/phases/expanded_validator.py
  src/omnibase_core/validation/phases/merge_validator.py
  tests/unit/validation/phases/test_merge_validator.py
  tests/unit/validation/test_contract_validation_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address PR review feedback for contract diff algorithm (OMN-1148)
  src/omnibase_core/contracts/diff_computer.py
  src/omnibase_core/models/contracts/diff/__init__.py
  src/omnibase_core/models/contracts/diff/model_contract_diff.py
  tests/unit/contracts/test_diff_computer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address final PR #314 review feedback
  src/omnibase_core/validation/checker_naming_convention.py
  tests/unit/validation/test_checker_naming_convention.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(invariant): add comprehensive tests and documentation for PR #310
  docs/INDEX.md
  docs/guides/CUSTOM_CALLABLE_PATTERNS.md
  tests/unit/services/invariant/test_invariant_property_based.py
  tests/unit/services/invariant/test_security_measures.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(naming): address PR review feedback and fix CI test failure (OMN-1222)
  CHANGELOG.md
  src/omnibase_core/models/container/model_workflow_coordinator.py
  src/omnibase_core/models/security/model_secret_config.py
  tests/unit/validation/test_validation_cli_entry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): remove invalid type argument from Redis annotation
  src/omnibase_core/backends/cache/backend_cache_redis.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(naming): address PR review feedback and remove backwards compatibility (OMN-1222)
  src/omnibase_core/mixins/mixin_event_listener.py
  src/omnibase_core/services/registry/__init__.py
  tests/unit/validation/test_validation_cli_entry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(hooks): add pre-push hook for file naming convention validation
  .pre-commit-config.yaml
Due: validate-string-versions

refactor(models): remove Any type annotations from events and event_bus (OMN-1175)
  src/omnibase_core/models/event_bus/model_event_bus_input_state.py
  src/omnibase_core/models/event_bus/model_event_bus_listener_handle.py
  src/omnibase_core/models/event_bus/model_event_bus_output_field.py
  src/omnibase_core/models/event_bus/model_event_bus_output_state.py
  src/omnibase_core/models/events/model_event_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(invariant): address PR #310 review feedback - thread safety and code quality
  src/omnibase_core/errors/error_regex_timeout.py
  src/omnibase_core/services/invariant/service_invariant_evaluator.py
  tests/unit/services/invariant/test_security_measures.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
