Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

feat(OMN-12835): wire typed contract-side execution-graph DAG into orchestrator contracts
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_contract_execution_graph.py
  src/omnibase_core/models/contracts/model_contract_orchestrator.py
  src/omnibase_core/models/contracts/model_contract_workflow_definition.py
  src/omnibase_core/models/contracts/model_contract_workflow_metadata.py
  src/omnibase_core/models/contracts/model_contract_workflow_node.py
  src/omnibase_core/models/contracts/model_workflow_config.py
  tests/unit/models/contracts/test_model_contract_execution_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13152): allowlist artifact secret fixtures
  src/omnibase_core/enums/artifacts/enum_artifact_redaction_state.py
  tests/unit/artifacts/test_artifact_store.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-7776): add feature flags test adjacency
  scripts/ci/test_selection_adjacency.yaml
Due: validate-string-versions

feat(OMN-12835): wire typed contract-side execution-graph DAG into orchestrator contracts (#1303)
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_contract_execution_graph.py
  src/omnibase_core/models/contracts/model_contract_orchestrator.py
  src/omnibase_core/models/contracts/model_contract_workflow_definition.py
  src/omnibase_core/models/contracts/model_contract_workflow_metadata.py
  src/omnibase_core/models/contracts/model_contract_workflow_node.py
  src/omnibase_core/models/contracts/model_workflow_config.py
  tests/unit/models/contracts/test_model_contract_execution_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13152): ArtifactStore Phase 1 hardening — retention/quota/redaction/restricted-tier read (#1301)
  src/omnibase_core/artifacts/__init__.py
  src/omnibase_core/artifacts/artifact_store.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/artifacts/__init__.py
  src/omnibase_core/enums/artifacts/enum_artifact_redaction_state.py
  src/omnibase_core/enums/artifacts/enum_artifact_retention_class.py
  src/omnibase_core/models/artifacts/__init__.py
  src/omnibase_core/models/artifacts/model_artifact_auth_context.py
  src/omnibase_core/models/artifacts/model_artifact_metadata.py
  tests/unit/artifacts/test_artifact_store.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-7776): FeatureFlagRegistry single source of truth + typed resolve() API (#1302)
  pyproject.toml
  scripts/ci/test_selection_adjacency.yaml
  scripts/gen_feature_flag_catalog.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_feature_flag_gate_type.py
  src/omnibase_core/feature_flags/__init__.py
  src/omnibase_core/feature_flags/feature_flag_catalog.json
  src/omnibase_core/feature_flags/registry.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_feature_flag_definition.py
  src/omnibase_core/models/core/model_feature_flag_resolution.py
  tests/unit/feature_flags/__init__.py
  tests/unit/feature_flags/test_feature_flag_catalog_artifact.py
  tests/unit/feature_flags/test_feature_flag_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13480): land SEA-generated todo-fixme-marker COMPUTE validator (corpus-accepted, shadow-clean)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  architecture-handshakes/validator-requirements-baseline.yaml
  pyproject.toml
  src/omnibase_core/constants/constants_event_types.py
  src/omnibase_core/validation/todo_marker/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/todo_marker/__init__.py
  src/omnibase_core/validation/todo_marker/handler.py
  src/omnibase_core/validation/todo_marker/models.py
  src/omnibase_core/validation/todo_marker/runtime_todo_marker.py
  tests/unit/validation/todo_marker/test_handler_todo_marker_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13497): SEA-generated no-faked-boundary validator (corpus-accepted, report-only)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  scripts/validation/validate-single-class-per-file.py
  src/omnibase_core/constants/constants_event_types.py
  src/omnibase_core/validation/no_faked_boundary/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/no_faked_boundary/__init__.py
  src/omnibase_core/validation/no_faked_boundary/handler.py
  src/omnibase_core/validation/no_faked_boundary/models.py
  src/omnibase_core/validation/no_faked_boundary/runtime_no_faked_boundary.py
  tests/unit/validation/no_faked_boundary/test_handler_no_faked_boundary_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13480): land SEA-generated todo-fixme-marker COMPUTE validator (corpus-accepted, shadow-clean) (#1304)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  architecture-handshakes/validator-requirements-baseline.yaml
  pyproject.toml
  src/omnibase_core/constants/constants_event_types.py
  src/omnibase_core/validation/todo_marker/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/todo_marker/__init__.py
  src/omnibase_core/validation/todo_marker/handler.py
  src/omnibase_core/validation/todo_marker/models.py
  src/omnibase_core/validation/todo_marker/runtime_todo_marker.py
  tests/unit/validation/todo_marker/test_handler_todo_marker_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13499): canonical recorded-from-real golden-chain replay harness
  docs/guides/GOLDEN_CHAIN_HARNESS.md
  src/omnibase_core/models/runtime/golden_chain/__init__.py
  src/omnibase_core/models/runtime/golden_chain/model_golden_chain_fixture.py
  src/omnibase_core/runtime/golden_chain/__init__.py
  src/omnibase_core/runtime/golden_chain/failure_classes.py
  src/omnibase_core/runtime/golden_chain/record_guard.py
  src/omnibase_core/runtime/golden_chain/recorded_replay_transport.py
  src/omnibase_core/runtime/golden_chain/recorder.py
  tests/unit/runtime/golden_chain/__init__.py
  tests/unit/runtime/golden_chain/test_recorded_replay_transport.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13497): SEA-generated no-faked-boundary validator (corpus-accepted, report-only) (#1305)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  scripts/validation/validate-single-class-per-file.py
  src/omnibase_core/constants/constants_event_types.py
  src/omnibase_core/validation/no_faked_boundary/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/no_faked_boundary/__init__.py
  src/omnibase_core/validation/no_faked_boundary/handler.py
  src/omnibase_core/validation/no_faked_boundary/models.py
  src/omnibase_core/validation/no_faked_boundary/runtime_no_faked_boundary.py
  tests/unit/validation/no_faked_boundary/test_handler_no_faked_boundary_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13499): model-aware relaxed-hash fixture selection + required routing-contract provenance
  src/omnibase_core/enums/enum_golden_chain_failure_class.py
  src/omnibase_core/errors/error_golden_chain_replay.py
  src/omnibase_core/runtime/golden_chain/__init__.py
  src/omnibase_core/runtime/golden_chain/failure_classes.py
  src/omnibase_core/runtime/golden_chain/recorded_replay_transport.py
  src/omnibase_core/runtime/golden_chain/recorder.py
  src/omnibase_core/runtime/golden_chain/replay_response.py
  tests/unit/runtime/golden_chain/test_recorded_replay_transport.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13499): canonical recorded-from-real golden-chain replay harness (Phase 0 foundation) (#1306)
  docs/guides/GOLDEN_CHAIN_HARNESS.md
  src/omnibase_core/enums/enum_golden_chain_failure_class.py
  src/omnibase_core/errors/error_golden_chain_replay.py
  src/omnibase_core/models/runtime/golden_chain/__init__.py
  src/omnibase_core/models/runtime/golden_chain/model_golden_chain_fixture.py
  src/omnibase_core/runtime/golden_chain/__init__.py
  src/omnibase_core/runtime/golden_chain/record_guard.py
  src/omnibase_core/runtime/golden_chain/recorded_replay_transport.py
  src/omnibase_core/runtime/golden_chain/recorder.py
  src/omnibase_core/runtime/golden_chain/replay_response.py
  tests/unit/runtime/golden_chain/__init__.py
  tests/unit/runtime/golden_chain/test_recorded_replay_transport.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13515): RuntimeLocal._instantiate_handler injects event_bus for handlers that declare it
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13515): RuntimeLocal._instantiate_handler injects event_bus for handlers that declare it (#1307)
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13509): hand-hardened pin-hygiene gate — block off-dev-line sibling pins (pre-commit + CI)
  .github/workflows/validator-pin-hygiene.yml
  .pre-commit-config.yaml
  docs/evidence/OMN-13509/pin-hygiene.generation.json
  pyproject.toml
  src/omnibase_core/constants/constants_event_types.py
  src/omnibase_core/validation/pin_hygiene/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/pin_hygiene/__init__.py
  src/omnibase_core/validation/pin_hygiene/handler.py
  src/omnibase_core/validation/pin_hygiene/models.py
  src/omnibase_core/validation/pin_hygiene/runtime_pin_hygiene.py
  tests/unit/validation/pin_hygiene/test_handler_pin_hygiene_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(OMN-13509): record independent reproduction in pin-hygiene generation provenance
  src/omnibase_core/validation/pin_hygiene/GENERATION_PROVENANCE.md
Due: none

test(OMN-13509): allowlist test-fixture git SHA literals for detect-secrets
  tests/unit/validation/pin_hygiene/test_handler_pin_hygiene_compute.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-13509): address pin hygiene review gates
  .github/workflows/validator-pin-hygiene.yml
  docs/evidence/OMN-13509/pin-hygiene.generation.json
  src/omnibase_core/validation/pin_hygiene/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/pin_hygiene/handler.py
  src/omnibase_core/validation/pin_hygiene/models.py
  src/omnibase_core/validation/pin_hygiene/runtime_pin_hygiene.py
  tests/unit/validation/pin_hygiene/test_handler_pin_hygiene_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13509): SEA-generated + hand-hardened PR-time pin-hygiene gate (block off-dev-line sibling pins) (#1308)
  .github/workflows/validator-pin-hygiene.yml
  .pre-commit-config.yaml
  docs/evidence/OMN-13509/pin-hygiene.generation.json
  pyproject.toml
  src/omnibase_core/constants/constants_event_types.py
  src/omnibase_core/validation/pin_hygiene/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/pin_hygiene/__init__.py
  src/omnibase_core/validation/pin_hygiene/handler.py
  src/omnibase_core/validation/pin_hygiene/models.py
  src/omnibase_core/validation/pin_hygiene/runtime_pin_hygiene.py
  tests/unit/validation/pin_hygiene/test_handler_pin_hygiene_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-604): FSM state mutation protection — mutate only on success, deep-copy isolate committed context
  src/omnibase_core/mixins/mixin_fsm_execution.py
  tests/unit/mixins/test_mixin_fsm_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(OMN-592): extract NodeReducer._build_fsm_context with reserved-key handling
  src/omnibase_core/nodes/node_reducer.py
  tests/unit/nodes/test_node_reducer_build_fsm_context.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13480): add localhost-literal rule to url-authority gate (residual G2 coverage)
  src/omnibase_core/models/validation/model_url_authority_violation.py
  src/omnibase_core/validation/baselines/url_authority_baseline.json
  src/omnibase_core/validation/contracts/url_authority.validation.yaml
  src/omnibase_core/validation/validator_url_authority.py
  tests/unit/validation/test_validator_url_authority.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-604): add receipt gate evidence
  contracts/OMN-604.yaml
  drift/dod_receipts/OMN-604/dod-deploy/command.yaml
  drift/dod_receipts/OMN-604/dod-fsm-mixin-tests/command.yaml
  drift/dod_receipts/OMN-604/dod-lint-type/command.yaml
  drift/dod_receipts/OMN-604/dod-precommit/command.yaml
  scripts/validation/validate-no-empty-directories.py
  scripts/validation/validate-string-versions.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-604): move DoD receipts to OCC; keep only mixin+tests in feature repo
  contracts/OMN-604.yaml
  drift/dod_receipts/OMN-604/dod-deploy/command.yaml
  drift/dod_receipts/OMN-604/dod-fsm-mixin-tests/command.yaml
  drift/dod_receipts/OMN-604/dod-lint-type/command.yaml
  drift/dod_receipts/OMN-604/dod-precommit/command.yaml
  scripts/validation/validate-no-empty-directories.py
  scripts/validation/validate-string-versions.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-13530): validator requiring 'operation' on operation_match handler entries
  .github/workflows/validator-operation-match.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  src/omnibase_core/models/validation/model_operation_match_finding.py
  src/omnibase_core/validators/operation_match_requires_operation.py
  tests/unit/validators/test_operation_match_requires_operation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13530): add receipt gate evidence
  contracts/OMN-13530.yaml
  drift/dod_receipts/OMN-13530/dod-deploy-no-runtime-impact/command.yaml
  drift/dod_receipts/OMN-13530/dod-omnibase-core-pr-1310/command.yaml
  scripts/validation/validate-no-empty-directories.py
  scripts/validation/validate-string-versions.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-13530): drop unrelated todo-marker description reflow from rebase
  .pre-commit-hooks.yaml
Due: validate-string-versions

fix(OMN-13530): allowlist validator yaml.safe_load + SystemExit, yamlfmt
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .yaml-validation-allowlist.yaml
  src/omnibase_core/validators/operation_match_requires_operation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13480): burn down localhost URL baseline
  examples/demo/handlers/support_assistant/handler_local.py
  examples/demo/handlers/support_assistant/model_config.py
  src/omnibase_core/backends/metrics/__init__.py
  src/omnibase_core/backends/metrics/backend_metrics_prometheus.py
  src/omnibase_core/models/services/model_node_service_config.py
  src/omnibase_core/models/vector/model_vector_connection_config.py
  src/omnibase_core/validation/baselines/url_authority_baseline.json
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-604): FSM state mutation protection — mutate only on success (#1309)
  src/omnibase_core/mixins/mixin_fsm_execution.py
  tests/unit/mixins/test_mixin_fsm_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13530): allowlist receipt commit hashes
  drift/dod_receipts/OMN-13530/dod-deploy-no-runtime-impact/command.yaml
  drift/dod_receipts/OMN-13530/dod-omnibase-core-pr-1310/command.yaml
Due: validate-string-versions

refactor(OMN-592): extract NodeReducer._build_fsm_context with reserved-key handling (#1311)
  src/omnibase_core/nodes/node_reducer.py
  tests/unit/nodes/test_node_reducer_build_fsm_context.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13480): close localhost query fragment gaps
  src/omnibase_core/validation/validator_url_authority.py
  tests/unit/validation/test_validator_url_authority.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13530): validator requiring 'operation' on operation_match handler entries + pre-commit/CI gate (#1310)
  .github/workflows/validator-operation-match.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .yaml-validation-allowlist.yaml
  contracts/OMN-13530.yaml
  drift/dod_receipts/OMN-13530/dod-deploy-no-runtime-impact/command.yaml
  drift/dod_receipts/OMN-13530/dod-omnibase-core-pr-1310/command.yaml
  scripts/validation/validate-no-empty-directories.py
  scripts/validation/validate-string-versions.py
  src/omnibase_core/models/validation/model_operation_match_finding.py
  src/omnibase_core/validators/operation_match_requires_operation.py
  tests/unit/validators/test_operation_match_requires_operation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13480): wire required CI gate for SEA-generated todo-marker COMPUTE validator
  .github/workflows/validator-todo-marker.yml
  src/omnibase_core/validation/todo_marker/GENERATION_PROVENANCE.md
Due: validate-string-versions

feat(OMN-13294): SEA-generated + hand-hardened hardcoded onex.* topic-string gate (G2 residual)
  .github/workflows/validator-hardcoded-topic.yml
  .pre-commit-config.yaml
  docs/evidence/OMN-13294/hardcoded-topic-string.generation.json
  pyproject.toml
  src/omnibase_core/constants/constants_event_types.py
  src/omnibase_core/validation/hardcoded_topic/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/hardcoded_topic/__init__.py
  src/omnibase_core/validation/hardcoded_topic/handler.py
  src/omnibase_core/validation/hardcoded_topic/models.py
  src/omnibase_core/validation/hardcoded_topic/runtime_hardcoded_topic.py
  tests/unit/validation/hardcoded_topic/test_handler_hardcoded_topic_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
