Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(tests): update handler type test for LOCAL enum [OMN-199]
  docs/ci/DEPRECATION_WARNINGS.md
  tests/unit/models/contracts/test_model_runtime_host_contract.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(validation): consolidate execution mode validators following DRY principle [OMN-675]
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/workflow_validator.py
  tests/unit/validation/test_reserved_enum_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(test): add LOCAL handler type to expected types list
  tests/unit/models/contracts/test_model_runtime_host_contract.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(ci): prevent test workflow cancellation with concurrency settings
  .github/workflows/test.yml
Due: validate-string-versions

feat(fsm): implement FSM state snapshot and expression evaluation [OMN-573, OMN-582, OMN-583] (#174)
  .github/workflows/test.yml
  src/omnibase_core/mixins/mixin_event_handler.py
  src/omnibase_core/mixins/mixin_fsm_execution.py
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_redaction.py
  src/omnibase_core/mixins/mixin_tool_execution.py
  src/omnibase_core/models/configuration/__init__.py
  src/omnibase_core/models/configuration/model_git_hub_actions_workflow.py
  src/omnibase_core/models/configuration/model_git_hub_workflow_concurrency.py
  src/omnibase_core/models/configuration/model_git_hub_workflow_data.py
  src/omnibase_core/models/configuration/model_git_hub_workflow_defaults.py
  src/omnibase_core/models/core/model_action_payload_types.py
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/models/core/model_parsed_arguments.py
  src/omnibase_core/models/fsm/model_fsm_state_snapshot.py
  src/omnibase_core/models/fsm/model_fsm_transition_condition.py
  src/omnibase_core/models/infrastructure/model_result.py
  src/omnibase_core/models/metadata/model_metadata_node_collection.py
  src/omnibase_core/nodes/node_reducer.py
  src/omnibase_core/utils/compute_path_resolver.py
  src/omnibase_core/utils/fsm_executor.py
  src/omnibase_core/utils/fsm_expression_parser.py
  src/omnibase_core/utils/fsm_operators.py
  tests/unit/mixins/test_mixin_fsm_execution.py
  tests/unit/models/contracts/subcontracts/test_model_fsm_state_definition.py
  tests/unit/models/contracts/subcontracts/test_model_fsm_subcontract_validations.py
  tests/unit/models/contracts/subcontracts/test_model_fsm_transition_action.py
  tests/unit/models/fsm/test_model_fsm_data.py
  tests/unit/models/fsm/test_model_fsm_operation.py
  tests/unit/models/fsm/test_model_fsm_state.py
  tests/unit/models/fsm/test_model_fsm_state_snapshot.py
  tests/unit/models/fsm/test_model_fsm_transition.py
  tests/unit/models/fsm/test_model_fsm_transition_action.py
  tests/unit/models/fsm/test_model_fsm_transition_condition.py
  tests/unit/models/fsm/test_model_fsm_transition_result.py
  tests/unit/utils/test_fsm_executor.py
  tests/unit/utils/test_fsm_expression_parser.py
  tests/unit/utils/test_fsm_operators.py
  tests/unit/validation/test_contract_linter.py
  tests/unit/validation/test_fsm_analysis.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: move docstrings to top of files per PEP 8 style
  src/omnibase_core/models/common/model_typed_value.py
  src/omnibase_core/models/events/model_event_envelope.py
  src/omnibase_core/models/health/model_health_check.py
  src/omnibase_core/models/primitives/model_semver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(testing): add canary tests for deprecation warning config [OMN-199]
  tests/unit/test_deprecation_warnings_config.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs: update documentation for v0.4.0 node architecture [OMN-693]
  CONTRIBUTING.md
  docs/INDEX.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/architecture/SUBCONTRACT_ARCHITECTURE.md
  docs/ci/CORE_PURITY_FAILURE.md
  docs/getting-started/QUICK_START.md
  docs/guides/node-building/03_COMPUTE_NODE_TUTORIAL.md
  docs/guides/node-building/04_EFFECT_NODE_TUTORIAL.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  docs/reference/api/enums.md
  docs/reference/api/models.md
  docs/reference/api/nodes.md
  docs/reference/templates/EFFECT_NODE_TEMPLATE.md
  docs/reference/templates/ORCHESTRATOR_NODE_TEMPLATE.md
  docs/reference/templates/REDUCER_NODE_TEMPLATE.md
  docs/testing/CI_TEST_STRATEGY.md
  docs/testing/COVERAGE.md
  docs/testing/PARALLEL_TESTING.md
  docs/testing/TESTMON_USAGE.md
Due: none

feat(testing): configure pytest deprecation warning capture [OMN-199] (#178)
  docs/INDEX.md
  docs/ci/CI_MONITORING_GUIDE.md
  docs/ci/DEPRECATION_WARNINGS.md
  pyproject.toml
  tests/unit/models/contracts/test_model_runtime_host_contract.py
  tests/unit/test_deprecation_warnings_config.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(validation): consolidate execution mode validators following DRY principle [OMN-675] (#181)
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/workflow_validator.py
  tests/unit/validation/test_reserved_enum_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: address PR review comments for v0.4.0 documentation [OMN-693]
  docs/ci/CORE_PURITY_FAILURE.md
  docs/guides/node-building/03_COMPUTE_NODE_TUTORIAL.md
Due: none

fix: address PR #180 review feedback for models and contracts
  contracts/runtime/contract_loader_effect.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  contracts/runtime/runtime_orchestrator.yaml
  docs/conventions/NAMING_CONVENTIONS.md
  src/omnibase_core/models/common/model_effect_metadata.py
  src/omnibase_core/models/common/model_event_subscription_config.py
  src/omnibase_core/models/common/model_graph_node_inputs.py
  src/omnibase_core/models/common/model_node_capabilities_metadata.py
  src/omnibase_core/models/common/model_operation_data.py
  src/omnibase_core/models/common/model_reducer_metadata.py
  src/omnibase_core/models/common/model_request_metadata.py
  src/omnibase_core/models/common/model_tool_metadata_fields.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): resolve flaky pytest-xdist Pydantic class identity issue (#162)
  tests/unit/validation/test_contract_linter.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs: update documentation for v0.4.0 node architecture [OMN-693] (#182)
  CONTRIBUTING.md
  docs/INDEX.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/architecture/SUBCONTRACT_ARCHITECTURE.md
  docs/ci/CORE_PURITY_FAILURE.md
  docs/getting-started/QUICK_START.md
  docs/guides/node-building/03_COMPUTE_NODE_TUTORIAL.md
  docs/guides/node-building/04_EFFECT_NODE_TUTORIAL.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  docs/reference/api/enums.md
  docs/reference/api/models.md
  docs/reference/api/nodes.md
  docs/reference/templates/EFFECT_NODE_TEMPLATE.md
  docs/reference/templates/ORCHESTRATOR_NODE_TEMPLATE.md
  docs/reference/templates/REDUCER_NODE_TEMPLATE.md
  docs/testing/CI_TEST_STRATEGY.md
  docs/testing/COVERAGE.md
  docs/testing/PARALLEL_TESTING.md
  docs/testing/TESTMON_USAGE.md
Due: none

refactor(tests): remove Mvp prefix from test class names
  tests/unit/models/contracts/test_model_action_config_parameter.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(core): remove legacy fallbacks and fix type alias [OMN-702, OMN-703, OMN-707]
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/nodes/node_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(tests): remove Mvp prefix from test class names (#183)
  tests/unit/models/contracts/test_model_action_config_parameter.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix: address remaining PR #180 review feedback
  contracts/runtime/contract_registry_reducer.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  docs/conventions/PYDANTIC_BEST_PRACTICES.md
  scripts/regenerate_fingerprints.py
  src/omnibase_core/models/common/model_config_schema_property.py
  src/omnibase_core/models/common/model_event_subscription_config.py
  src/omnibase_core/models/common/model_graph_node_data.py
  src/omnibase_core/models/common/model_mixin_config_schema.py
  src/omnibase_core/models/common/model_typed_metadata.py
  src/omnibase_core/models/core/model_yaml_schema_object.py
  tests/unit/scripts/test_regenerate_fingerprints.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(nodes): move infrastructure concerns from NodeCompute to protocols [OMN-700]
  src/omnibase_core/infrastructure/compute_cache_service.py
  src/omnibase_core/infrastructure/parallel_executor_service.py
  src/omnibase_core/infrastructure/timing_service.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/compute/__init__.py
  src/omnibase_core/protocols/compute/protocol_compute_cache.py
  src/omnibase_core/protocols/compute/protocol_parallel_executor.py
  src/omnibase_core/protocols/compute/protocol_timing_service.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(nodes): add error path coverage and fix documentation [OMN-702]
  scripts/check_node_purity.py
  src/omnibase_core/models/contracts/model_contract_compute.py
  src/omnibase_core/models/service/model_service_compute.py
  tests/unit/container/test_service_registry_disabled.py
  tests/unit/nodes/test_node_compute_contract_conversion.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(core): remove legacy fallbacks and fix type alias [OMN-702, OMN-703, OMN-707] (#184)
  scripts/check_node_purity.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/models/contracts/model_contract_compute.py
  src/omnibase_core/models/service/model_service_compute.py
  src/omnibase_core/nodes/node_compute.py
  tests/unit/container/test_service_registry_disabled.py
  tests/unit/nodes/test_node_compute_contract_conversion.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address PR #180 review with proper typed Pydantic models
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  docs/architecture/CONTAINER_TYPES.md
  docs/guides/ENUM_NODE_KIND_MIGRATION.md
  docs/testing/CI_TEST_STRATEGY.md
  examples/contracts/effect/filesystem_operations.yaml
  scripts/regenerate_fingerprints.py
  scripts/validation/README.md
  src/omnibase_core/models/common/__init__.py
  src/omnibase_core/models/common/model_envelope_payload.py
  src/omnibase_core/models/common/model_event_subscription_config.py
  src/omnibase_core/models/common/model_graph_node_inputs.py
  src/omnibase_core/models/common/model_graph_node_parameter.py
  src/omnibase_core/models/common/model_graph_node_parameters.py
  src/omnibase_core/models/common/model_operation_data.py
  src/omnibase_core/models/common/model_output_mapping.py
  src/omnibase_core/models/common/model_output_reference.py
  src/omnibase_core/models/common/model_query_parameters.py
  src/omnibase_core/models/common/model_typed_metadata.py
  tests/unit/contracts/test_contract_v110_fields.py
  tests/unit/models/common/test_model_typed_metadata.py
  tests/unit/scripts/test_regenerate_fingerprints.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(nodes): replace print statements with structured logging [OMN-701]
  .pre-commit-config.yaml
  scripts/validation/check_no_print_statements.py
  src/omnibase_core/logging/core_logging.py
  src/omnibase_core/nodes/node_effect.py
  src/omnibase_core/nodes/node_orchestrator.py
  src/omnibase_core/nodes/node_reducer.py
  src/omnibase_core/utils/util_simple_fallback_logger.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: add comprehensive docstrings for typed Pydantic models
  src/omnibase_core/models/common/model_envelope_payload.py
  src/omnibase_core/models/common/model_graph_node_parameter.py
  src/omnibase_core/models/common/model_graph_node_parameters.py
  src/omnibase_core/models/common/model_output_mapping.py
  src/omnibase_core/models/common/model_output_reference.py
  src/omnibase_core/models/common/model_query_parameters.py
  src/omnibase_core/models/common/model_typed_metadata.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): resolve CI test failures for NodeCompute refactor [OMN-700]
  tests/unit/api_snapshots/test_signatures_snapshot.py
  tests/unit/contracts/test_contract_v110_fields.py
  tests/unit/models/nodes/node_services/test_model_service_compute_integration.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(nodes): add logger setup to docstring examples [OMN-701]
  scripts/validation/check_no_print_statements.py
  src/omnibase_core/nodes/node_orchestrator.py
  src/omnibase_core/nodes/node_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(compute): remove deprecated thread_pool properties and enhance documentation [OMN-700]
  docs/guides/node-building/03_COMPUTE_NODE_TUTORIAL.md
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/services/service_compute_cache.py
  src/omnibase_core/services/service_parallel_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: remove duplicate ModelGraphNodeInputs class from model_typed_metadata
  src/omnibase_core/models/common/__init__.py
  src/omnibase_core/models/common/model_typed_metadata.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: correct fingerprint version format and mixin default type in tests
  tests/unit/contracts/test_contract_v110_fields.py
  tests/unit/discovery/test_mixin_discovery.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(contracts): add 'v' prefix to fingerprint versions [OMN-701]
  contracts/runtime/contract_loader_effect.yaml
  contracts/runtime/contract_registry_reducer.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  contracts/runtime/runtime_orchestrator.yaml
  examples/contracts/compute/user_profile_normalizer.yaml
  examples/contracts/effect/db_query.yaml
  examples/contracts/effect/http_api_call.yaml
  examples/contracts/effect/kafka_produce.yaml
  examples/contracts/effect/resilient_effect.yaml
  examples/contracts/orchestrator_data_pipeline.yaml
  examples/contracts/reducer_metrics_aggregator.yaml
Due: validate-string-versions

fix(deprecations): address deprecation warnings before v0.5.0 [OMN-699]
  src/omnibase_core/models/configuration/model_session_affinity.py
  src/omnibase_core/models/core/model_onex_envelope.py
  src/omnibase_core/models/discovery/model_discovery_config.py
  src/omnibase_core/nodes/node_effect.py
  src/omnibase_core/utils/compute_executor.py
  src/omnibase_core/utils/compute_path_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(tests): document fixture pattern design decision [OMN-701]
  tests/unit/contracts/test_runtime_contracts.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(compute): remove global mutable state from compute_executor [OMN-738]
  docs/architecture/CONTRACT_DRIVEN_NODECOMPUTE_V1_0.md
  src/omnibase_core/utils/compute_executor.py
  tests/unit/utils/test_compute_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #186 review feedback
  contracts/runtime/event_bus_wiring_effect.yaml
  src/omnibase_core/models/common/model_graph_node_data.py
  src/omnibase_core/models/common/model_query_parameters.py
  src/omnibase_core/models/common/model_typed_metadata.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(validation): add comprehensive tests for print statement validator [OMN-701]
  tests/unit/scripts/validation/test_check_no_print_statements.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml
