Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

ci(OMN-16281): migrate validator-no-unguarded-git-subprocess.yml into ci.yml, permanently close the pull-request-workflow-budget waiver (#1572)
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .github/workflows/validator-no-unguarded-git-subprocess.yml
  architecture-handshakes/pull-request-workflow-budget.yaml
  architecture-handshakes/standalone-validator-debt.yaml
  tests/unit/scripts/ci/test_ci_summary_gate.py
  tests/validation/test_standalone_validator_workflow_registry.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-16289): sync main to release tag SHA on successful release (#1569)
  .github/workflows/release.yml
Due: validate-string-versions

fix(OMN-16323): stop interpolating the release tag into shell source
  .github/workflows/release.yml
Due: validate-string-versions

fix(OMN-16323): stop interpolating the release tag into shell source (#1574)
  .github/workflows/release.yml
Due: validate-string-versions

fix(OMN-16343): release sync-main pushes as onexbot-occ-writer app identity
  .github/workflows/release.yml
Due: validate-string-versions

ci(OMN-16322): raise occ-preflight reusable timeout 10m -> 15m (#1573)
  .github/workflows/occ-preflight.yml
Due: validate-string-versions

chore(OMN-16322): bump version 0.46.10 -> 0.46.11 to propagate the occ-preflight timeout fix
  pyproject.toml
  uv.lock
Due: none

fix(OMN-16288): remove redundant, permanently-broken OCC heads/main re-check in auto-merge.yml (#1570)
  .github/workflows/auto-merge.yml
  tests/unit/validation/test_auto_merge_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(OMN-16305): thin 4 decision records to KB pointers (#1568)
  docs/decisions/ADR-006-receipt-consolidation.md
  docs/decisions/adr-2026-04-28-dispatch-lifecycle-canonical.md
  docs/decisions/adr-2026-04-28-skill-liveness-validator-home.md
  docs/decisions/adr-2026-06-24-model-b-failing-rollup-enforcement.md
Due: none

docs(OMN-16359): renew call-occ-companion-effect.yml budget waiver, correct stale justification
  architecture-handshakes/pull-request-workflow-budget.yaml
Due: validate-string-versions

docs(OMN-16359): renew call-occ-companion-effect.yml budget waiver, correct stale justification (#1576)
  architecture-handshakes/pull-request-workflow-budget.yaml
Due: validate-string-versions

fix(OMN-16373): migrate cross-repo CI reads/writes to onexbot-occ-writer App token
  .github/workflows/ci.yml
  .github/workflows/dependency-cascade.yml
  .github/workflows/propagate-config.yml
  .github/workflows/publish-downstream-pin-bump.yml
  .github/workflows/release.yml
Due: validate-string-versions

chore(OMN-16322): bump version 0.46.10 -> 0.46.11 to propagate the occ-preflight timeout fix (#1575)
  pyproject.toml
  uv.lock
Due: none

test(OMN-16373): update audited version-pin-check job execution contract digest
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16343): release sync-main pushes as onexbot-occ-writer app identity (#1577)
  .github/workflows/release.yml
Due: validate-string-versions

fix(OMN-16373): scope minted App tokens to the least-privilege permission set
  .github/workflows/ci.yml
  .github/workflows/dependency-cascade.yml
  .github/workflows/propagate-config.yml
  .github/workflows/publish-downstream-pin-bump.yml
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16373): migrate cross-repo CI reads/writes to onexbot-occ-writer App token (#1578)
  .github/workflows/ci.yml
  .github/workflows/dependency-cascade.yml
  .github/workflows/propagate-config.yml
  .github/workflows/publish-downstream-pin-bump.yml
  .github/workflows/release.yml
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-16140): bump version 0.46.11 -> 0.46.12 for release-identity gate
  pyproject.toml
  uv.lock
Due: none

fix(OMN-16140): accept a commit-message reference as axis-2 identity binding (#1560)
  pyproject.toml
  src/omnibase_core/validation/validator_receipt_gate.py
  src/omnibase_core/validation/validator_receipt_gate_cli.py
  tests/unit/validation/test_receipt_gate_cli.py
  tests/unit/validation/test_receipt_gate_identity_binding.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16413): validate-docs routes same-repo PRs to self-hosted, not just non-PR events
  .github/workflows/validate-docs.yml
Due: validate-string-versions

fix(OMN-16413): validate-docs routes same-repo PRs to self-hosted, not just non-PR events (#1579)
  .github/workflows/validate-docs.yml
Due: validate-string-versions

fix(OMN-16415): suppress pydantic schema field-shadow UserWarning at source
  src/omnibase_core/models/contracts/subcontracts/model_db_table_declaration.py
  src/omnibase_core/models/core/model_deployment_topology_database_grant.py
  src/omnibase_core/models/core/model_deployment_topology_database_migration_ledger.py
  tests/unit/models/core/test_model_deployment_topology_database.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16432): resolve_supersession() ignores numeric-suffix convention when a target PR is known
  .yaml-validation-allowlist.yaml
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  src/omnibase_core/validation/validator_receipt_gate.py
  src/omnibase_core/validation/validator_receipt_supersession.py
  tests/unit/validation/test_occ_per_entry_hashing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-16177): work-event schema increment — kinds, actor union, ordering contract
  src/omnibase_core/enums/enum_actor_kind.py
  src/omnibase_core/enums/enum_work_event_kind.py
  src/omnibase_core/enums/enum_work_outcome.py
  src/omnibase_core/enums/governance/enum_pr_state.py
  src/omnibase_core/models/events/work/__init__.py
  src/omnibase_core/models/events/work/model_actor.py
  src/omnibase_core/models/events/work/model_node_actor.py
  src/omnibase_core/models/events/work/model_pr_ref.py
  src/omnibase_core/models/events/work/model_quant_claim.py
  src/omnibase_core/models/events/work/model_session_actor.py
  src/omnibase_core/models/events/work/model_work_claim_released.py
  src/omnibase_core/models/events/work/model_work_claim_requested.py
  src/omnibase_core/models/events/work/model_work_correction_recorded.py
  src/omnibase_core/models/events/work/model_work_event_base.py
  src/omnibase_core/models/events/work/model_work_result_recorded.py
  src/omnibase_core/models/events/work/model_work_ruling_recorded.py
  tests/unit/models/events/work/__init__.py
  tests/unit/models/events/work/test_model_work_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16177): resolve CodeRabbit/CodeQL threads on work-event models
  src/omnibase_core/models/events/work/model_node_actor.py
  src/omnibase_core/models/events/work/model_session_actor.py
  src/omnibase_core/models/events/work/model_work_event_base.py
  tests/unit/models/events/work/test_model_work_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16425): strip PREPUSH_ALLOW_LOCAL_FULL_SUITE from the guard-refusal test's subprocess env
  tests/scripts/test_prepush_hook_host_identity_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16432): resolve_supersession() target-aware resolution for shared supersede chains (#1580)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  src/omnibase_core/validation/validator_receipt_gate.py
  src/omnibase_core/validation/validator_receipt_supersession.py
  tests/scripts/test_prepush_hook_host_identity_guard.py
  tests/unit/validation/test_occ_per_entry_hashing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-16432): pin receipt-gate.yml's validator checkout to the OMN-16432 fix SHA
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

feat(OMN-16177): work-event schema — kinds, actor union, ordering contract (#1563)
  src/omnibase_core/enums/enum_actor_kind.py
  src/omnibase_core/enums/enum_work_event_kind.py
  src/omnibase_core/enums/enum_work_outcome.py
  src/omnibase_core/enums/governance/enum_pr_state.py
  src/omnibase_core/models/events/work/__init__.py
  src/omnibase_core/models/events/work/model_actor.py
  src/omnibase_core/models/events/work/model_node_actor.py
  src/omnibase_core/models/events/work/model_pr_ref.py
  src/omnibase_core/models/events/work/model_quant_claim.py
  src/omnibase_core/models/events/work/model_session_actor.py
  src/omnibase_core/models/events/work/model_work_claim_released.py
  src/omnibase_core/models/events/work/model_work_claim_requested.py
  src/omnibase_core/models/events/work/model_work_correction_recorded.py
  src/omnibase_core/models/events/work/model_work_event_base.py
  src/omnibase_core/models/events/work/model_work_result_recorded.py
  src/omnibase_core/models/events/work/model_work_ruling_recorded.py
  tests/unit/models/events/work/__init__.py
  tests/unit/models/events/work/test_model_work_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16415): suppress pydantic schema field-shadow UserWarning at source (#1581)
  src/omnibase_core/models/contracts/subcontracts/model_db_table_declaration.py
  src/omnibase_core/models/core/model_deployment_topology_database_grant.py
  src/omnibase_core/models/core/model_deployment_topology_database_migration_ledger.py
  tests/unit/models/core/test_model_deployment_topology_database.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-16432): pin receipt-gate.yml's validator checkout to the OMN-16432 fix SHA (#1582)
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

fix(OMN-16452): type the environment dependency convention (enum member + env_var)
  docs/architecture/CONTRACT_SYSTEM.md
  docs/reference/API_DOCUMENTATION.md
  src/omnibase_core/enums/enum_dependency_type.py
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/models/contracts/model_dependency.py
  src/omnibase_core/validators/extra_forbid_waivers.yaml
  tests/unit/contracts/test_model_contract_base.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16489): prepush hook S0 defect patch — recursion guard, override env sanitization, fail-closed empty-hostname
  scripts/hooks/prepush_smart_tests.sh
  tests/scripts/test_prepush_hook_has_bounded_timeout.py
  tests/scripts/test_prepush_hook_host_identity_guard.py
  tests/scripts/test_prepush_hook_recursion_and_env_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16452): type the environment dependency convention (enum member + env_var) (#1583)
  docs/architecture/CONTRACT_SYSTEM.md
  docs/reference/API_DOCUMENTATION.md
  src/omnibase_core/enums/enum_dependency_type.py
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/models/contracts/model_dependency.py
  src/omnibase_core/validators/extra_forbid_waivers.yaml
  tests/unit/contracts/test_model_contract_base.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-16215): gate test-parallel/tests-integration behind non-draft PR state (#1562)
  .github/workflows/ci.yml
  tests/unit/validation/test_draft_state_admission_gate_omn16215.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-16489): stubbed-uv harness refuses unmodeled invocations instead of delegating to bare python3
  tests/scripts/test_prepush_hook_recursion_and_env_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-16451): declare the contract keys the runtime consumes; delete NodeCompute's dead metadata read
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/models/contracts/model_contract_intent_consumption.py
  src/omnibase_core/models/contracts/model_contract_mcp_config.py
  src/omnibase_core/models/contracts/subcontracts/model_event_bus_subcontract.py
  src/omnibase_core/nodes/node_compute.py
  tests/unit/models/contracts/subcontracts/test_model_event_bus_subcontract_dlq_topics.py
  tests/unit/models/contracts/test_contract_base_consumed_extension_keys.py
  tests/unit/models/contracts/test_model_contract_intent_consumption.py
  tests/unit/models/contracts/test_model_contract_mcp_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16489): prepush hook S0 defect patch — recursion guard, override env sanitization, fail-closed empty-hostname (#1584)
  scripts/hooks/prepush_smart_tests.sh
  tests/scripts/test_prepush_hook_has_bounded_timeout.py
  tests/scripts/test_prepush_hook_host_identity_guard.py
  tests/scripts/test_prepush_hook_recursion_and_env_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16348): switch ci.yml pytest timeout method from thread to signal
  .github/workflows/ci.yml
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml
