Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(ci): run contract-compliance on merge_group to unblock queue [OMN-8664]
  .github/workflows/ci.yml
Due: validate-string-versions

fix(ci): also run contract-compliance on push events [OMN-8664]
  .github/workflows/ci.yml
Due: validate-string-versions

fix(ci): replace dead run_contract_compliance_check.py ref with validate-yaml [OMN-8808]
  .github/workflows/ci.yml
Due: validate-string-versions

feat(cli): add 6 standalone CLI subcommands [OMN-8788]
  src/omnibase_core/cli/cli_bootstrap.py
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_config.py
  src/omnibase_core/cli/cli_refresh_credentials.py
  src/omnibase_core/cli/cli_run_node.py
  tests/unit/cli/test_cli_standalone.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(cli): use importlib for kafka import to satisfy ADR-005 boundary
  src/omnibase_core/cli/cli_run_node.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(cli): add missing mypy type annotations for strict mode
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_refresh_credentials.py
  src/omnibase_core/cli/cli_run_node.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(cli): resolve mypy strict-mode errors (no-redef, explicit-any)
  src/omnibase_core/cli/cli_run_node.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): add 6 standalone CLI subcommands [OMN-8788] (#811)
  src/omnibase_core/cli/cli_bootstrap.py
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_config.py
  src/omnibase_core/cli/cli_refresh_credentials.py
  src/omnibase_core/cli/cli_run_node.py
  tests/unit/cli/test_cli_standalone.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): replace dead run_contract_compliance_check.py ref with validate-yaml [OMN-8808] (#810)
  .github/workflows/ci.yml
Due: validate-string-versions

feat(ci): wire cr-thread-gate central workflow [OMN-8829]
  .github/workflows/cr-thread-gate.yml
Due: validate-string-versions

fix(ci): apply CR fixes — secrets key, review_thread trigger, dependabot guard [OMN-8829]
  .github/workflows/cr-thread-gate.yml
Due: validate-string-versions

fix(ci): pass github-token via with: not secrets:
  .github/workflows/cr-thread-gate.yml
Due: validate-string-versions

ci: fix cr-thread-gate caller signature (OMN-8829 follow-up)
  .github/workflows/cr-thread-gate.yml
Due: validate-string-versions

ci: fix cr-thread-gate caller signature (OMN-8829 follow-up) (#814)
  .github/workflows/cr-thread-gate.yml
Due: validate-string-versions

ci: trailing newline to trigger cr-thread-gate canary
  .github/workflows/cr-thread-gate.yml
Due: validate-string-versions

fix(enums): remove TASK_OUTPUT from EnumClaudeCodeToolName (OMN-8875)
  src/omnibase_core/enums/hooks/claude_code/enum_claude_code_tool_name.py
  tests/unit/enums/hooks/claude_code/test_enum_claude_code_tool_name.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): remove TASK_OUTPUT from EnumClaudeCodeToolName (OMN-8875) (#816)
  src/omnibase_core/enums/hooks/claude_code/enum_claude_code_tool_name.py
  tests/unit/enums/hooks/claude_code/test_enum_claude_code_tool_name.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): add onex init --user-config for Mode A local-only bootstrap (OMN-8790)
  src/omnibase_core/cli/cli_init.py
  tests/unit/cli/test_cli_user_init.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): update cr-thread-gate to @main ref (OMN-8898)
  .github/workflows/cr-thread-gate.yml
Due: validate-string-versions

fix(ci): update cr-thread-gate to @main ref (OMN-8898) (#818)
  .github/workflows/cr-thread-gate.yml
Due: validate-string-versions

feat(contracts): ModelTicketContract Pydantic model + Linear DoD validator (OMN-8916)
  scripts/validate-pr-tickets.sh
  src/omnibase_core/contracts/validators/__init__.py
  src/omnibase_core/contracts/validators/validate_ticket_contract.py
  src/omnibase_core/contracts/validators/validation_result.py
  src/omnibase_core/models/contracts/ticket/__init__.py
  src/omnibase_core/models/contracts/ticket/model_dod_evidence_check.py
  src/omnibase_core/models/contracts/ticket/model_dod_evidence_item.py
  src/omnibase_core/models/contracts/ticket/model_linear_ticket_contract.py
  src/omnibase_core/types/typed_dict_ticket_input.py
  tests/unit/models/contracts/test_model_ticket_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): accept object in validate_ticket_contract for mypy compat (OMN-8916)
  src/omnibase_core/contracts/validators/validate_ticket_contract.py
  src/omnibase_core/types/typed_dict_ticket_input.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(ci): Wave D deploy-gate — runtime-change PRs require deploy ticket evidence (OMN-8912)
  .github/workflows/deploy-gate.yml
  .pre-commit-config.yaml
  scripts/validation/validate_pr_deploy_required.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(contracts): ModelTicketContract Pydantic model + Linear DoD validator (OMN-8916) (#819)
  scripts/validate-pr-tickets.sh
  src/omnibase_core/contracts/validators/__init__.py
  src/omnibase_core/contracts/validators/validate_ticket_contract.py
  src/omnibase_core/contracts/validators/validation_result.py
  src/omnibase_core/models/contracts/ticket/__init__.py
  src/omnibase_core/models/contracts/ticket/model_dod_evidence_check.py
  src/omnibase_core/models/contracts/ticket/model_dod_evidence_item.py
  src/omnibase_core/models/contracts/ticket/model_linear_ticket_contract.py
  src/omnibase_core/types/typed_dict_ticket_input.py
  tests/unit/models/contracts/test_model_ticket_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: implement ModelCLIConfig.from_file/save_to_file, add allowlist entry (OMN-8790)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/cli/cli_init.py
  src/omnibase_core/models/configuration/model_cli_config.py
  tests/unit/cli/test_cli_user_init.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): remove unused fnmatch import (CodeQL OMN-8912)
  scripts/validation/validate_pr_deploy_required.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(dispatch): ModelDispatchClaim + compute_blocker_id for dispatch dedup (OMN-8922)
  scripts/validation/validate-string-versions.py
  src/omnibase_core/models/dispatch/__init__.py
  src/omnibase_core/models/dispatch/model_dispatch_claim.py
  tests/unit/models/dispatch/test_model_dispatch_claim.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): onex init --user-config Mode A local-only bootstrap (OMN-8790) (#817)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/cli/cli_init.py
  src/omnibase_core/models/configuration/model_cli_config.py
  tests/unit/cli/test_cli_user_init.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(agents): add is_verifier + dispatch_category to ModelAgentDefinition (OMN-8926)
  src/omnibase_core/models/agents/model_agent_definition.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(ci): Wave D deploy-gate — runtime-change PRs require deploy ticket evidence (OMN-8912) (#820)
  .github/workflows/deploy-gate.yml
  .pre-commit-config.yaml
  scripts/validation/validate_pr_deploy_required.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(model_dispatch_claim): use ConfigDict with extra=forbid (OMN-8922 CR)
  src/omnibase_core/models/dispatch/model_dispatch_claim.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(agents): add is_verifier + dispatch_category to ModelAgentDefinition (OMN-8926) (#822)
  src/omnibase_core/models/agents/model_agent_definition.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(dispatch): ModelDispatchClaim + compute_blocker_id (OMN-8922) (#821)
  scripts/validation/validate-string-versions.py
  src/omnibase_core/models/dispatch/__init__.py
  src/omnibase_core/models/dispatch/model_dispatch_claim.py
  tests/unit/models/dispatch/test_model_dispatch_claim.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): onex run accepts node names, not just workflow paths
  src/omnibase_core/cli/cli_run.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): onex run accepts node names alongside workflow YAML paths
  src/omnibase_core/cli/cli_run.py
  tests/unit/cli/test_cli_run.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): fix cr-thread-gate on push/merge-queue events via two-job pattern
  .github/workflows/cr-thread-gate.yml
Due: validate-string-versions

fix(cli): address CodeQL and CR feedback on PR #824
  src/omnibase_core/cli/cli_run_node.py
  src/omnibase_core/constants/constants_topic_taxonomy.py
  tests/unit/cli/test_cli_run.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): onex node <name> replaces onex run; add --input flag [OMN-8938]
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_node.py
  src/omnibase_core/cli/cli_run.py
  src/omnibase_core/runtime/runtime_local.py
  tests/fixtures/handler_proof_noop.py
  tests/test_runtime_local_input_flag.py
  tests/unit/cli/test_cli_node.py
  tests/unit/cli/test_cli_run.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
