Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(validation): scope terminal class exemption
  scripts/validation/validate-single-class-per-file.py
  tests/validation/test_validate_single_class_per_file.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(validation): normalize terminal exemption path
  scripts/validation/validate-single-class-per-file.py
  tests/validation/test_validate_single_class_per_file.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17603): carry the pytest execution policy across the pre-push remote dispatch seam (3:36:06 -> 1:32:51 on h105) (#1643)
  scripts/hooks/prepush_dispatch.sh
  tests/scripts/test_prepush_host_table.py
  tests/scripts/test_prepush_remote_leg_policy.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-15660): arm the terminal correlation predicate in host mode and stop reading a missing status as success (OMN-17567)
  pyproject.toml
  src/omnibase_core/runtime/runtime_local.py
  tests/gates/test_consumer_group_name_authorization.py
  tests/unit/runtime/test_runtime_local_client_mode.py
  tests/unit/runtime/test_runtime_local_terminal_isolation.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-16606): re-pin the core-infra-boundary guard-job execution contract
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16606): keep the machine-read handshake contracts, and unbreak two gates the scrub exposed
  .github/workflows/ci.yml
  .kb-doc-gate.yaml
  .pre-commit-config.yaml
  architecture-handshakes/repos/omnibase_core.md
  architecture-handshakes/repos/omnibase_infra.md
  architecture-handshakes/repos/omnibase_spi.md
  architecture-handshakes/repos/omniclaude.md
  architecture-handshakes/repos/omnidash.md
  architecture-handshakes/repos/omniintelligence.md
  architecture-handshakes/repos/omnimemory.md
  architecture-handshakes/repos/omninode_infra.md
Due: validate-string-versions

fix(OMN-15660): arm the terminal correlation predicate in host mode and stop reading a missing status as success (OMN-17567) (#1645)
  pyproject.toml
  src/omnibase_core/runtime/runtime_local.py
  tests/gates/test_consumer_group_name_authorization.py
  tests/unit/runtime/test_runtime_local_client_mode.py
  tests/unit/runtime/test_runtime_local_terminal_isolation.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17754): port OMN-17787 — a remote pre-push run that collected zero tests is no evidence, not a pass
  scripts/hooks/prepush_dispatch.sh
  tests/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17875): arm omnibase_core auto-merge with the org PAT so dev push workflows fire
  .github/workflows/auto-merge.yml
  tests/unit/validation/test_auto_merge_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17875): arm omnibase_core auto-merge with the org PAT so dev push workflows fire (#1646)
  .github/workflows/auto-merge.yml
  tests/unit/validation/test_auto_merge_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-17556): typed store-resolved credential carrier on the topology DB binding + tenant-projection runtime profile
  src/omnibase_core/constants/constants_runtime_profiles.py
  src/omnibase_core/models/core/model_deployment_topology_database_binding.py
  tests/unit/constants/test_constants_runtime_profiles_tenant_projection.py
  tests/unit/models/core/test_model_deployment_topology_database_binding.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-17754): allowlist prepush mode fixture
  tests/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17754): port OMN-17787 — a remote pre-push run that collected zero tests is no evidence, not a pass (#1647)
  scripts/hooks/prepush_dispatch.sh
  tests/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-17556): hoist the binding test's synthetic DSN fixtures behind allowlist pragmas
  tests/unit/models/core/test_model_deployment_topology_database_binding.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17931): backend_secret_discipline no longer accepts api_key_env as a logical secret reference
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  src/omnibase_core/nodes/node_backend_secret_discipline_compute/contract.yaml
  src/omnibase_core/validation/validator_backend_secret_discipline.py
  src/omnibase_core/validators/backend_secret_discipline.py
  tests/unit/validation/test_validator_backend_secret_discipline.py
  tests/unit/validators/test_backend_secret_discipline_rejects_api_key_env.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-17754): red — core has no vendored provenance record and its remote wrapper builds no registry root
  tests/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17754): core vendored provenance record + the OMN-17741 registry-root half of the picker
  scripts/hooks/prepush_dispatch.sh
  scripts/hooks/prepush_vendored.tsv
Due: none

feat(OMN-17556): typed store-resolved credential carrier on the topology DB binding + tenant-projection runtime profile (#1648)
  src/omnibase_core/constants/constants_runtime_profiles.py
  src/omnibase_core/models/core/model_deployment_topology_database_binding.py
  tests/unit/constants/test_constants_runtime_profiles_tenant_projection.py
  tests/unit/models/core/test_model_deployment_topology_database_binding.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17931): backend_secret_discipline no longer accepts api_key_env as a logical secret reference (#1649)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  src/omnibase_core/nodes/node_backend_secret_discipline_compute/contract.yaml
  src/omnibase_core/validation/validator_backend_secret_discipline.py
  src/omnibase_core/validators/backend_secret_discipline.py
  tests/unit/validation/test_validator_backend_secret_discipline.py
  tests/unit/validators/test_backend_secret_discipline_rejects_api_key_env.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17754): core vendored provenance record + the registry-root half of the picker (#1650)
  scripts/hooks/prepush_dispatch.sh
  scripts/hooks/prepush_vendored.tsv
  tests/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17280): let a non-owner actor push through the governed pre-push dispatcher
  scripts/hooks/prepush_dispatch.sh
  scripts/hooks/prepush_hosts.tsv
  scripts/hooks/prepush_smart_tests.sh
  tests/scripts/_prepush_lab_isolation.py
  tests/scripts/test_prepush_actor_fallback.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-17280): align prepush actor fallback expectations
  scripts/hooks/prepush_vendored.tsv
  tests/scripts/test_prepush_actor_fallback.py
  tests/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17280): let a non-owner actor push through the governed pre-push dispatcher (#1642)
  scripts/hooks/prepush_dispatch.sh
  scripts/hooks/prepush_hosts.tsv
  scripts/hooks/prepush_smart_tests.sh
  scripts/hooks/prepush_vendored.tsv
  tests/scripts/_prepush_lab_isolation.py
  tests/scripts/test_prepush_actor_fallback.py
  tests/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-17556): describe the real contents of the v0.47.3 release in the changelog
  CHANGELOG.md
Due: none

chore(OMN-17556): describe the real contents of the v0.47.3 release in the changelog (#1651)
  CHANGELOG.md
Due: none

feat(delegation): add v2 terminal wire classes
  scripts/validation/validate-single-class-per-file.py
  src/omnibase_core/models/delegation/wire/__init__.py
  src/omnibase_core/models/delegation/wire/model_delegation_terminal_v2.py
  tests/unit/models/delegation/wire/test_model_delegation_terminal_v2.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(delegation): preserve routed quality evidence
  src/omnibase_core/enums/enum_delegation_routing_disposition.py
  src/omnibase_core/enums/enum_delegation_terminal_outcome.py
  src/omnibase_core/enums/enum_delegation_unrouted_reason.py
  src/omnibase_core/models/delegation/wire/model_delegation_terminal_v2.py
  tests/unit/models/delegation/wire/test_model_delegation_terminal_v2.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(delegation): centralize routed quality evidence
  src/omnibase_core/models/delegation/wire/model_delegation_terminal_v2.py
  tests/unit/models/delegation/wire/test_model_delegation_terminal_v2.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17744): close environment reader inventory residuals
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .github/workflows/omni-standards-compliance.yml
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements.yaml
  pyproject.toml
  scripts/ci/ci_summary_gate.py
  scripts/ci/test_selection_loader.py
  scripts/validation/validate_no_new_env_vars.py
  src/omnibase_core/bootstrap/__init__.py
  src/omnibase_core/bootstrap/environment_bootstrap.py
  src/omnibase_core/errors/error_duplicate_yaml_mapping_key.py
  src/omnibase_core/models/bootstrap/__init__.py
  src/omnibase_core/models/bootstrap/model_environment_bootstrap.py
  src/omnibase_core/models/bootstrap/model_injected_environment.py
  src/omnibase_core/models/bootstrap/model_injected_environment_value.py
  src/omnibase_core/models/nodes/test_selector/model_adjacency_map.py
  src/omnibase_core/models/validation/model_env_read_finding.py
  src/omnibase_core/models/validation/model_environment_reader_inventory_assignment.py
  src/omnibase_core/models/validation/model_validator_requirement_entry.py
  src/omnibase_core/nodes/node_test_selector_compute/runtime_test_selector.py
  src/omnibase_core/utils/util_safe_yaml_loader.py
  src/omnibase_core/validators/environment_reader_inventory.py
  src/omnibase_core/validators/no_new_os_environ.py
  src/omnibase_core/validators/no_new_os_environ_function_context.py
  src/omnibase_core/validators/no_new_os_environ_local_names.py
  src/omnibase_core/validators/no_new_os_environ_scope.py
  tests/unit/bootstrap/test_environment_bootstrap.py
  tests/unit/utils/test_strict_yaml_mapping_loader.py
  tests/unit/validation/test_ci_workflow_shape.py
  tests/unit/validation/test_quality_gate_docs_only_short_circuit_omn16625.py
  tests/unit/validation/test_validate_no_new_env_vars.py
  tests/unit/validators/test_no_new_os_environ.py
  tests/validation/test_validator_requirements_consumer.py
  uv.lock
  validators/no_new_os_environ_local_names.py
  validators/no_new_os_environ_located_ast_node.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-17841): cover terminal v2 boundary cases
  tests/unit/models/delegation/wire/test_model_delegation_terminal_v2.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17744): close governed gate residuals
  architecture-handshakes/validator-requirements.yaml
  scripts/ci/import_ratchet_baseline.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17554): break the doctor-checks import cycle and reconcile the extra-forbid baseline
  src/omnibase_core/doctor/checks/check_env_vars.py
  src/omnibase_core/validators/extra_forbid_baseline.yaml
  tests/test_doctor/test_checks_env_typed_binding.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17554): resolve core config, resolver and secret-loop env reads through declared overlay bindings
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/cli/cli_doctor.py
  src/omnibase_core/constants/constants_workflow.py
  src/omnibase_core/doctor/checks/check_env_vars.py
  src/omnibase_core/doctor/doctor_registry.py
  src/omnibase_core/infrastructure/node_config_provider.py
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/models/configuration/__init__.py
  src/omnibase_core/models/configuration/model_database_connection_config.py
  src/omnibase_core/models/configuration/model_database_secure_config.py
  src/omnibase_core/models/configuration/model_env_overlay_binding.py
  src/omnibase_core/models/configuration/model_event_bus_config.py
  src/omnibase_core/models/configuration/model_rest_api_connection_config.py
  src/omnibase_core/models/security/model_secret_backend.py
  src/omnibase_core/models/security/model_secure_credentials.py
  src/omnibase_core/overlays/contract_env_ref.py
  src/omnibase_core/utils/util_workflow_executor.py
  src/omnibase_core/validators/extra_forbid_baseline.yaml
  tests/test_doctor/test_checks_env.py
  tests/test_doctor/test_checks_env_typed_binding.py
  tests/unit/infrastructure/test_node_config_provider.py
  tests/unit/models/configuration/test_extra_forbid_omn17554.py
  tests/unit/overlays/test_env_overlay_bindings.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17980): a def-B single-emit terminal is this run's own, not a foreign one
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17744): gate typed env readers by inventory completeness
  .github/workflows/ci.yml
  src/omnibase_core/validators/no_new_os_environ.py
  tests/unit/validators/test_no_new_os_environ.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17554): refresh the detect-secrets baseline for the shifted line numbers
  .secrets.baseline
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
