Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

refactor(contracts): improve code quality and maintainability (OMN-1126)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_patch_validation_error_code.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/models/contracts/model_contract_patch.py
  src/omnibase_core/models/contracts/model_reference.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/protocol_from_event.py
  src/omnibase_core/validation/contract_patch_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(resolution): clarify sync usage in protocol docstring example
  src/omnibase_core/protocols/resolution/protocol_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): use tmp_path fixture for temp file cleanup
  tests/unit/cli/test_composition_report.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(utils): add comprehensive unit tests for util_validators
  src/omnibase_core/models/orchestrator/model_orchestrator_output.py
  tests/unit/utils/test_util_validators.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: minor code quality improvements from PR review
  src/omnibase_core/pipeline/manifest_generator.py
  src/omnibase_core/validation/contract_patch_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): remove Any type annotations from workflow/fsm/orchestrator (OMN-1177) (#298)
  src/omnibase_core/models/fsm/model_fsm_data_primary.py
  src/omnibase_core/models/fsm/model_fsm_state.py
  src/omnibase_core/models/fsm/model_fsm_transition.py
  src/omnibase_core/models/fsm/model_fsm_transition_result.py
  src/omnibase_core/models/orchestrator/model_orchestrator_output.py
  src/omnibase_core/models/orchestrator/payloads/model_action_typed_payload.py
  src/omnibase_core/models/workflow/execution/model_workflow_state_snapshot.py
  src/omnibase_core/models/workflow/execution/model_workflow_step_execution.py
  src/omnibase_core/utils/__init__.py
  src/omnibase_core/utils/util_validators.py
  tests/unit/utils/test_util_validators.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): address PR #264 review feedback
  src/omnibase_core/infrastructure/node_base.py
  src/omnibase_core/models/connections/model_connection_metrics.py
  src/omnibase_core/models/connections/model_connection_security.py
  src/omnibase_core/models/infrastructure/model_result_dict.py
  src/omnibase_core/models/infrastructure/model_transaction.py
  src/omnibase_core/validation/architecture.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): replace BaseException with Exception in mixin exception handlers
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/mixins/mixin_cli_handler.py
  src/omnibase_core/mixins/mixin_contract_state_reducer.py
  src/omnibase_core/mixins/mixin_debug_discovery_logging.py
  src/omnibase_core/mixins/mixin_event_handler.py
  src/omnibase_core/mixins/mixin_fail_fast.py
  src/omnibase_core/mixins/mixin_hybrid_execution.py
  src/omnibase_core/mixins/mixin_request_response_introspection.py
  src/omnibase_core/models/fsm/model_fsm_transition_result.py
  src/omnibase_core/models/runtime/model_handler_behavior.py
  src/omnibase_core/pipeline/manifest_generator.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/validation/validation_utils.py
  tests/unit/models/contracts/test_model_capability_dependency.py
  tests/unit/models/contracts/test_model_handler_contract.py
  tests/unit/models/projectors/test_model_projector_contract.py
  tests/unit/models/projectors/test_schema_drift.py
  tests/unit/validation/test_validate_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(resolution): add ModelBinding & ServiceCapabilityResolver (OMN-1155) (#299)
  src/omnibase_core/models/bindings/__init__.py
  src/omnibase_core/models/bindings/model_binding.py
  src/omnibase_core/models/bindings/model_resolution_result.py
  src/omnibase_core/protocols/resolution/__init__.py
  src/omnibase_core/protocols/resolution/protocol_capability_resolver.py
  src/omnibase_core/services/service_capability_resolver.py
  tests/unit/models/bindings/__init__.py
  tests/unit/models/bindings/test_model_binding.py
  tests/unit/models/providers/test_model_provider_descriptor.py
  tests/unit/services/__init__.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(mixins): add Prometheus metrics and Redis cache backends (OMN-1188)
  poetry.lock
  pyproject.toml
  src/omnibase_core/backends/__init__.py
  src/omnibase_core/backends/metrics/__init__.py
  src/omnibase_core/backends/metrics/backend_metrics_in_memory.py
  src/omnibase_core/backends/metrics/backend_metrics_prometheus.py
  src/omnibase_core/infrastructure/__init__.py
  src/omnibase_core/infrastructure/cache_backends/__init__.py
  src/omnibase_core/infrastructure/cache_backends/backend_cache_redis.py
  src/omnibase_core/infrastructure/node_base.py
  src/omnibase_core/mixins/mixin_caching.py
  src/omnibase_core/mixins/mixin_metrics.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/cache/__init__.py
  src/omnibase_core/protocols/cache/protocol_cache_backend.py
  src/omnibase_core/protocols/metrics/__init__.py
  src/omnibase_core/protocols/metrics/protocol_metrics_backend.py
  tests/unit/backends/__init__.py
  tests/unit/backends/metrics/__init__.py
  tests/unit/backends/metrics/test_backend_metrics_in_memory.py
  tests/unit/backends/metrics/test_backend_metrics_prometheus.py
  tests/unit/mixins/test_mixin_caching.py
  tests/unit/mixins/test_mixin_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: resolve ruff formatting and linting violations
  src/omnibase_core/models/fsm/model_fsm_transition_result.py
  src/omnibase_core/models/runtime/model_handler_behavior.py
  tests/unit/models/contracts/test_model_capability_dependency.py
  tests/unit/validation/test_validate_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): remove Any type annotations from container/configuration/connections (OMN-1176)
  src/omnibase_core/models/configuration/model_burst_config.py
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  src/omnibase_core/models/configuration/model_cli_config.py
  src/omnibase_core/models/configuration/model_database_secure_config.py
  src/omnibase_core/models/configuration/model_dict_config.py
  src/omnibase_core/models/configuration/model_external_service_collection.py
  src/omnibase_core/models/configuration/model_git_hub_issues_event.py
  src/omnibase_core/models/configuration/model_job.py
  src/omnibase_core/models/configuration/model_json_data.py
  src/omnibase_core/models/configuration/model_json_field.py
  src/omnibase_core/models/configuration/model_load_metrics.py
  src/omnibase_core/models/configuration/model_log_filter.py
  src/omnibase_core/models/configuration/model_log_formatting.py
  src/omnibase_core/models/configuration/model_metadata_block.py
  src/omnibase_core/models/configuration/model_onex_metadata.py
  src/omnibase_core/models/configuration/model_output_config.py
  src/omnibase_core/models/configuration/model_request_auth.py
  src/omnibase_core/models/configuration/model_tools_by_type.py
  src/omnibase_core/models/configuration/model_workflow_input.py
  src/omnibase_core/models/configuration/model_workflow_permissions.py
  src/omnibase_core/models/connections/model_custom_connection_properties.py
  src/omnibase_core/models/container/model_base_model_onex_container.py
  src/omnibase_core/models/container/model_enhanced_logger.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/models/container/model_service_instance.py
  src/omnibase_core/models/container/model_workflow_coordinator.py
  src/omnibase_core/models/container/model_workflow_factory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(cache): improve exception handling and connection cleanup (OMN-1188)
  src/omnibase_core/infrastructure/cache_backends/backend_cache_redis.py
  src/omnibase_core/mixins/mixin_caching.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: resolve pre-commit hook violations in merged capability resolver
  src/omnibase_core/protocols/resolution/__init__.py
  src/omnibase_core/protocols/resolution/protocol_capability_resolver.py
  src/omnibase_core/services/service_capability_resolver.py
  src/omnibase_core/types/typed_dict_provider_attributes.py
  src/omnibase_core/types/typed_dict_resolution_audit_data.py
  tests/unit/models/bindings/test_model_binding.py
  tests/unit/models/providers/test_model_provider_descriptor.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: resolve pre-push hook failures from merged branch (OMN-1126)
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  scripts/validation/validate_naming.py
  src/omnibase_core/models/capabilities/model_capability_requirement_set.py
  src/omnibase_core/models/pipeline/__init__.py
  src/omnibase_core/models/pipeline/model_hook_error.py
  src/omnibase_core/models/pipeline/model_pipeline_context.py
  src/omnibase_core/models/pipeline/model_pipeline_result.py
  src/omnibase_core/models/runtime/model_handler_behavior.py
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/manifest_observer.py
  src/omnibase_core/pipeline/runner_pipeline.py
  tests/integration/pipeline/test_pipeline_integration.py
  tests/unit/pipeline/test_registry_hook_performance.py
  tests/unit/pipeline/test_runner_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #296 review feedback
  src/omnibase_core/models/contracts/model_execution_constraints.py
  src/omnibase_core/models/fsm/model_fsm_transition_result.py
  src/omnibase_core/models/manifest/model_activation_summary.py
  src/omnibase_core/models/manifest/model_capability_activation.py
  src/omnibase_core/models/manifest/model_contract_identity.py
  src/omnibase_core/models/manifest/model_dependency_edge.py
  src/omnibase_core/models/manifest/model_emissions_summary.py
  src/omnibase_core/models/manifest/model_execution_manifest.py
  src/omnibase_core/models/manifest/model_hook_trace.py
  src/omnibase_core/models/manifest/model_manifest_failure.py
  src/omnibase_core/models/manifest/model_metrics_summary.py
  src/omnibase_core/models/manifest/model_node_identity.py
  src/omnibase_core/models/manifest/model_ordering_summary.py
  src/omnibase_core/models/projectors/model_projector_schema.py
  src/omnibase_core/models/runtime/model_handler_behavior.py
  src/omnibase_core/schemas/projector_contract.schema.json
  tests/unit/models/contracts/test_model_capability_dependency.py
  tests/unit/models/contracts/test_model_handler_contract.py
  tests/unit/validation/test_validate_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(protocols): address PR #300 review issues (OMN-1179)
  src/omnibase_core/models/container/model_injection_context.py
  src/omnibase_core/models/container/model_service_dependency_graph.py
  src/omnibase_core/protocols/compute/__init__.py
  src/omnibase_core/protocols/compute/protocol_payload_data.py
  src/omnibase_core/protocols/logging/__init__.py
  src/omnibase_core/protocols/logging/protocol_context_aware_output_handler.py
  src/omnibase_core/protocols/logging/protocol_minimal_logger.py
  src/omnibase_core/protocols/logging/protocol_smart_log_formatter.py
  src/omnibase_core/protocols/protocol_smart_log_formatter.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/type_compute_pipeline.py
  src/omnibase_core/types/typed_dict_yaml_dump_options.py
  src/omnibase_core/utils/compute_executor.py
  src/omnibase_core/utils/util_conflict_resolver.py
  src/omnibase_core/utils/util_logger_cache.py
  src/omnibase_core/utils/util_safe_yaml_loader.py
  src/omnibase_core/utils/util_simple_fallback_logger.py
  src/omnibase_core/utils/util_streaming_window.py
  src/omnibase_core/utils/util_tool_logger_code_block.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: rename profile_id and provider_id to pass validation
  src/omnibase_core/models/bindings/__init__.py
  src/omnibase_core/models/bindings/model_binding.py
  src/omnibase_core/models/bindings/model_resolution_result.py
  src/omnibase_core/services/service_capability_resolver.py
  tests/unit/models/bindings/test_model_binding.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): address PR #264 release-ready review feedback
  src/omnibase_core/mixins/mixin_node_lifecycle.py
  src/omnibase_core/mixins/mixin_node_service.py
  src/omnibase_core/models/infrastructure/model_transaction.py
  src/omnibase_core/models/security/model_secure_credentials.py
  src/omnibase_core/tools/mypy_plugins/dict_any_checker.py
  src/omnibase_core/validation/validation_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: resolve mypy errors in merged capability resolver files
  src/omnibase_core/models/bindings/model_resolution_result.py
  src/omnibase_core/models/capabilities/model_capability_requirement_set.py
  src/omnibase_core/models/providers/model_provider_descriptor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: use JsonType for provider_values to match dict types
  src/omnibase_core/services/service_capability_resolver.py
  src/omnibase_core/types/typed_dict_provider_attributes.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): add index column validation and repr tests (OMN-1166)
  src/omnibase_core/models/projectors/model_projector_schema.py
  tests/unit/models/projectors/test_model_projector_column.py
  tests/unit/models/projectors/test_model_projector_contract.py
  tests/unit/models/projectors/test_model_projector_index.py
  tests/unit/models/projectors/test_model_projector_schema.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): remove Any type annotations from all mixins (OMN-1178)
  src/omnibase_core/mixins/mixin_caching.py
  src/omnibase_core/mixins/mixin_canonical_serialization.py
  src/omnibase_core/mixins/mixin_cli_handler.py
  src/omnibase_core/mixins/mixin_compute_execution.py
  src/omnibase_core/mixins/mixin_contract_metadata.py
  src/omnibase_core/mixins/mixin_contract_state_reducer.py
  src/omnibase_core/mixins/mixin_debug_discovery_logging.py
  src/omnibase_core/mixins/mixin_discovery_responder.py
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/mixins/mixin_event_driven_node.py
  src/omnibase_core/mixins/mixin_event_handler.py
  src/omnibase_core/mixins/mixin_event_listener.py
  src/omnibase_core/mixins/mixin_fail_fast.py
  src/omnibase_core/mixins/mixin_fsm_execution.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/mixins/mixin_hybrid_execution.py
  src/omnibase_core/mixins/mixin_intent_publisher.py
  src/omnibase_core/mixins/mixin_introspection.py
  src/omnibase_core/mixins/mixin_introspection_publisher.py
  src/omnibase_core/mixins/mixin_lazy_evaluation.py
  src/omnibase_core/mixins/mixin_metrics.py
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_node_id_from_contract.py
  src/omnibase_core/mixins/mixin_node_service.py
  src/omnibase_core/mixins/mixin_node_setup.py
  src/omnibase_core/mixins/mixin_redaction.py
  src/omnibase_core/mixins/mixin_request_response_introspection.py
  src/omnibase_core/mixins/mixin_service_registry.py
  src/omnibase_core/mixins/mixin_tool_execution.py
  src/omnibase_core/mixins/mixin_utils.py
  src/omnibase_core/mixins/mixin_workflow_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(backends): resolve ADR-005 violation and improve error handling (OMN-1188)
  scripts/validate-no-transport-imports.sh
  src/omnibase_core/backends/__init__.py
  src/omnibase_core/backends/cache/__init__.py
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/backends/metrics/backend_metrics_prometheus.py
  src/omnibase_core/infrastructure/__init__.py
  src/omnibase_core/infrastructure/cache_backends/__init__.py
  src/omnibase_core/mixins/mixin_caching.py
  src/omnibase_core/protocols/cache/protocol_cache_backend.py
  tests/unit/backends/metrics/test_backend_metrics_prometheus.py
  tests/unit/mixins/test_mixin_caching.py
  tests/unit/mixins/test_mixin_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #302 review feedback
  src/omnibase_core/models/configuration/model_git_hub_issues_event.py
  src/omnibase_core/models/configuration/model_job.py
  src/omnibase_core/models/configuration/model_json_data.py
  src/omnibase_core/models/configuration/model_json_field.py
  src/omnibase_core/models/configuration/model_metadata_block.py
  src/omnibase_core/models/configuration/model_onex_metadata.py
  src/omnibase_core/models/configuration/model_workflow_input.py
  src/omnibase_core/models/container/model_base_model_onex_container.py
  src/omnibase_core/models/container/model_onex_container.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): resolve ruff linting errors
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_workflow_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): extract exception type name to fix E501 line length
  src/omnibase_core/models/infrastructure/model_transaction.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(backends): address PR #301 review feedback (OMN-1188)
  src/omnibase_core/backends/__init__.py
  src/omnibase_core/backends/cache/__init__.py
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/backends/metrics/__init__.py
  src/omnibase_core/backends/metrics/backend_metrics_in_memory.py
  src/omnibase_core/backends/metrics/backend_metrics_prometheus.py
  src/omnibase_core/enums/enum_core_error_code.py
  src/omnibase_core/mixins/__init__.py
  src/omnibase_core/mixins/mixin_caching.py
  tests/unit/backends/cache/__init__.py
  tests/unit/backends/cache/test_sanitize_redis_url.py
  tests/unit/backends/metrics/test_backend_metrics_prometheus.py
  tests/unit/mixins/test_mixin_caching.py
  tests/unit/mixins/test_mixin_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style(mixins): apply ruff formatting
  src/omnibase_core/mixins/mixin_contract_state_reducer.py
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/mixins/mixin_event_listener.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/mixins/mixin_introspection.py
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_tool_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(types): convert Optional[T] to T | None (PEP 604) (OMN-1186)
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/models/core/model_optional_string.py
  src/omnibase_core/models/core/model_result_cli.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(backends): address all PR #301 review issues (OMN-1188)
  src/omnibase_core/backends/cache/__init__.py
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/mixins/mixin_caching.py
  src/omnibase_core/models/fsm/model_fsm_transition_result.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/cache/protocol_cache_backend.py
  tests/unit/backends/cache/test_sanitize_redis_url.py
  tests/unit/mixins/test_mixin_caching.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(projectors): add duplicate validation and improve repr (OMN-1166)
  src/omnibase_core/models/projectors/model_projector_contract.py
  src/omnibase_core/models/projectors/model_projector_schema.py
  src/omnibase_core/schemas/projector_contract.schema.json
  tests/unit/models/projectors/test_model_projector_contract.py
  tests/unit/models/projectors/test_model_projector_schema.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #302 review feedback - round 2
  src/omnibase_core/models/configuration/model_metadata_block.py
  src/omnibase_core/models/configuration/model_onex_metadata.py
  src/omnibase_core/models/configuration/validators_metadata.py
  src/omnibase_core/models/connections/model_custom_connection_properties.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/models/container/model_service_instance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style: fix ruff formatting in test files (OMN-1126)
  tests/unit/models/contracts/test_model_capability_dependency.py
  tests/unit/validation/test_validate_contracts.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
