Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

test(OMN-7902): add unit tests for tool_dict_any_checker
  tests/unit/tools/__init__.py
  tests/unit/tools/test_tool_dict_any_checker.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-685): cover load_all on directory with only non-YAML files
  tests/unit/runtime/test_file_registry.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-14709): flip Product Readiness shadow reason-graph to ENFORCING (non-required)
  .github/workflows/product-readiness-shadow.yml
  scripts/ci/product_reason_graph.py
  tests/ci/test_product_reason_graph_omn14705.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-14709): flip Product Readiness shadow reason-graph to ENFORCING (non-required) (#1458)
  .github/workflows/product-readiness-shadow.yml
  scripts/ci/product_reason_graph.py
  tests/ci/test_product_reason_graph_omn14705.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(WS4 parity probe OMN-14709): seed product-red to prove shadow reds — DO NOT MERGE
  tests/_ws4_parity_probe_DELETEME.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-14711): arch-no-raw-sqlite3 detects sqlite3 submodule imports
  src/omnibase_core/nodes/node_no_raw_sqlite3_check_compute/visitor_raw_sqlite3.py
  tests/unit/nodes/node_no_raw_sqlite3_check_compute/test_node_no_raw_sqlite3_check_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14713): reject invalid octets and require IP boundaries in arch-no-hardcoded-ip matcher
  src/omnibase_core/nodes/node_no_hardcoded_ip_check_compute/matcher_hardcoded_ip.py
  tests/unit/nodes/node_no_hardcoded_ip_check_compute/test_node_no_hardcoded_ip_check_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14712): scan multiple roots in no-hardcoded-ip check; close scripts/ gap
  .github/workflows/validator-no-hardcoded-ip.yml
  src/omnibase_core/nodes/node_no_hardcoded_ip_check_compute/runtime_no_hardcoded_ip_check.py
  tests/unit/nodes/node_no_hardcoded_ip_check_compute/test_runtime_no_hardcoded_ip_check.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14711): arch-no-raw-sqlite3 detects sqlite3 submodule imports (#1460)
  src/omnibase_core/nodes/node_no_raw_sqlite3_check_compute/visitor_raw_sqlite3.py
  tests/unit/nodes/node_no_raw_sqlite3_check_compute/test_node_no_raw_sqlite3_check_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14713): reject invalid octets and require IP boundaries in arch-no-hardcoded-ip matcher (#1461)
  src/omnibase_core/nodes/node_no_hardcoded_ip_check_compute/matcher_hardcoded_ip.py
  tests/unit/nodes/node_no_hardcoded_ip_check_compute/test_node_no_hardcoded_ip_check_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14712): scan multiple roots in no-hardcoded-ip check; close scripts/ gap (#1462)
  .github/workflows/validator-no-hardcoded-ip.yml
  src/omnibase_core/nodes/node_no_hardcoded_ip_check_compute/runtime_no_hardcoded_ip_check.py
  tests/unit/nodes/node_no_hardcoded_ip_check_compute/test_runtime_no_hardcoded_ip_check.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-14719): net-new transport protocol + ModelTransportMessage in core (unused foundation)
  .importlinter
  src/omnibase_core/models/runtime/__init__.py
  src/omnibase_core/models/runtime/model_transport_message.py
  src/omnibase_core/protocols/runtime/__init__.py
  src/omnibase_core/protocols/runtime/protocol_transport_consumer.py
  src/omnibase_core/protocols/runtime/protocol_transport_message.py
  src/omnibase_core/protocols/runtime/protocol_transport_producer.py
  tests/unit/models/runtime/test_model_transport_message.py
  tests/unit/protocols/runtime/__init__.py
  tests/unit/protocols/runtime/test_protocol_transport.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-14719): address transport test review notes
  tests/unit/models/runtime/test_model_transport_message.py
  tests/unit/protocols/runtime/test_protocol_transport.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-14719): satisfy CodeQL protocol stub review
  src/omnibase_core/protocols/runtime/protocol_transport_consumer.py
  src/omnibase_core/protocols/runtime/protocol_transport_message.py
  src/omnibase_core/protocols/runtime/protocol_transport_producer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14719): make transport protocols CodeQL-clean
  src/omnibase_core/protocols/runtime/protocol_transport_consumer.py
  src/omnibase_core/protocols/runtime/protocol_transport_message.py
  src/omnibase_core/protocols/runtime/protocol_transport_producer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-14719): net-new transport protocol + ModelTransportMessage in core (unused foundation) (#1463)
  .importlinter
  src/omnibase_core/models/runtime/__init__.py
  src/omnibase_core/models/runtime/model_transport_message.py
  src/omnibase_core/protocols/runtime/__init__.py
  src/omnibase_core/protocols/runtime/protocol_transport_consumer.py
  src/omnibase_core/protocols/runtime/protocol_transport_message.py
  src/omnibase_core/protocols/runtime/protocol_transport_producer.py
  tests/unit/models/runtime/test_model_transport_message.py
  tests/unit/protocols/runtime/__init__.py
  tests/unit/protocols/runtime/test_protocol_transport.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-14720): in-memory transport + parametrized conformance suite (net-new, unused)
  src/omnibase_core/runtime/transport/__init__.py
  src/omnibase_core/runtime/transport/runtime_in_memory_broker.py
  src/omnibase_core/runtime/transport/runtime_in_memory_transport.py
  src/omnibase_core/runtime/transport/runtime_transport_conformance.py
  tests/unit/runtime/transport/__init__.py
  tests/unit/runtime/transport/test_in_memory_transport.py
  tests/unit/runtime/transport/test_transport_conformance_inmemory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-14720): in-memory transport + parametrized conformance suite (net-new, unused) (#1464)
  src/omnibase_core/runtime/transport/__init__.py
  src/omnibase_core/runtime/transport/runtime_in_memory_broker.py
  src/omnibase_core/runtime/transport/runtime_in_memory_transport.py
  src/omnibase_core/runtime/transport/runtime_transport_conformance.py
  tests/unit/runtime/transport/__init__.py
  tests/unit/runtime/transport/test_in_memory_transport.py
  tests/unit/runtime/transport/test_transport_conformance_inmemory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14743): stamp event_type on RuntimeLocal fan-out emit (fail-closed) — delegation routing stall
  src/omnibase_core/runtime/runtime_fanout_resolver.py
  src/omnibase_core/runtime/runtime_local_adapter.py
  tests/unit/runtime/test_runtime_fanout_resolver.py
  tests/unit/runtime/test_runtime_local_adapter_event_type.py
  tests/unit/runtime/test_runtime_local_adapter_fanout.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14743): stamp event_type on RuntimeLocal fan-out emit (fail-closed) — delegation routing stall (#1465)
  src/omnibase_core/runtime/runtime_fanout_resolver.py
  src/omnibase_core/runtime/runtime_local_adapter.py
  tests/unit/runtime/test_runtime_fanout_resolver.py
  tests/unit/runtime/test_runtime_local_adapter_event_type.py
  tests/unit/runtime/test_runtime_local_adapter_fanout.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-14747): RuntimeDispatch — the single core runtime over transport DI
  .pre-commit-config.yaml
  src/omnibase_core/enums/enum_delivery_disposition.py
  src/omnibase_core/runtime/__init__.py
  src/omnibase_core/runtime/runtime_dispatch.py
  src/omnibase_core/runtime/runtime_envelope_router.py
  tests/unit/runtime/test_runtime_dispatch.py
  tests/unit/runtime/test_runtime_envelope_router.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14747): clear runtime dispatch ratchet failure
  src/omnibase_core/enums/enum_delivery_disposition.py
  src/omnibase_core/runtime/runtime_dispatch.py
  tests/unit/runtime/test_runtime_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14747): clear runtime dispatch typecheck
  src/omnibase_core/runtime/runtime_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-14747): RuntimeDispatch — the single core runtime over transport DI (coercion + enveloped outbound + prefix-commit) (#1466)
  .pre-commit-config.yaml
  src/omnibase_core/enums/enum_delivery_disposition.py
  src/omnibase_core/runtime/__init__.py
  src/omnibase_core/runtime/runtime_dispatch.py
  src/omnibase_core/runtime/runtime_envelope_router.py
  tests/unit/runtime/test_runtime_dispatch.py
  tests/unit/runtime/test_runtime_envelope_router.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-14757): multi-partition nack conformance — siblings must not strand
  src/omnibase_core/runtime/transport/runtime_transport_conformance.py
  tests/unit/runtime/transport/test_transport_conformance_inmemory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-14757): multi-partition nack conformance — siblings must not strand (#1467)
  src/omnibase_core/runtime/transport/runtime_transport_conformance.py
  tests/unit/runtime/transport/test_transport_conformance_inmemory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-14771): add optional topic field to ModelHandlerRoutingEntry
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_entry.py
  src/omnibase_core/validators/extra_forbid_waivers.yaml
  tests/unit/models/contracts/subcontracts/test_model_handler_routing_entry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14771): resolve routing entry review comments
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_entry.py
  tests/unit/models/contracts/subcontracts/test_model_handler_routing_entry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-14771): add optional topic field to ModelHandlerRoutingEntry (S8 PR2 seam) (#1468)
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_entry.py
  src/omnibase_core/validators/extra_forbid_waivers.yaml
  tests/unit/models/contracts/subcontracts/test_model_handler_routing_entry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14781): canonical-shape gate compares vs git-BASE baseline + sanctioned hand-flip proof path
  scripts/ci/canonical_handler_shape.py
  tests/unit/scripts/ci/test_canonical_handler_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-14781): canonical-shape gate compares vs git-BASE baseline + sanctioned hand-flip proof path (#1469)
  scripts/ci/canonical_handler_shape.py
  tests/unit/scripts/ci/test_canonical_handler_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-14682): anchor Receipt-Gate evidence extractor to a single canonical block + pre-push shape check
  .pre-commit-config.yaml
  .pre-commit-hooks/check-evidence-shape.sh
  pyproject.toml
  src/omnibase_core/validation/validator_evidence_shape_cli.py
  src/omnibase_core/validation/validator_receipt_gate.py
  tests/unit/validation/test_receipt_gate_canonical_evidence_block.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14682): anchor Receipt-Gate evidence extractor to a single canonical block + pre-push shape check (#1470)
  .pre-commit-config.yaml
  .pre-commit-hooks/check-evidence-shape.sh
  pyproject.toml
  src/omnibase_core/validation/validator_evidence_shape_cli.py
  src/omnibase_core/validation/validator_receipt_gate.py
  tests/unit/validation/test_receipt_gate_canonical_evidence_block.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-14624): single canonical ProtocolSemVer + break types->protocols eager back-edge
  src/omnibase_core/protocols/base/protocol_sem_ver.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/type_semver.py
  tests/unit/test_protocol_sem_ver_canonical.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-14809): verify_flip_bundle — fail-closed pre-PR seam gate for canonical-shape flips
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/ci/verify_flip_bundle.py
  tests/unit/scripts/ci/test_verify_flip_bundle.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-14809): verify_flip_bundle — fail-closed pre-PR seam gate for canonical-shape flips (#1472)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/ci/verify_flip_bundle.py
  tests/unit/scripts/ci/test_verify_flip_bundle.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-14624): single canonical ProtocolSemVer + break types->protocols eager back-edge (#1471)
  src/omnibase_core/protocols/base/protocol_sem_ver.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/type_semver.py
  tests/unit/test_protocol_sem_ver_canonical.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14430): close the standalone-workflow decorative-validator gate
  .github/workflows/ci.yml
  .github/workflows/validator-hardcoded-topic.yml
  .pre-commit-config.yaml
  architecture-handshakes/standalone-validator-debt.yaml
  architecture-handshakes/validator-requirements.yaml
  scripts/ci/ci_summary_gate.py
  src/omnibase_core/models/validation/model_standalone_validator_gap.py
  src/omnibase_core/validation/validator_standalone_workflow_registry.py
  tests/validation/test_standalone_validator_workflow_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14430): close the standalone-workflow decorative-validator gate (#1474)
  .github/workflows/ci.yml
  .github/workflows/validator-hardcoded-topic.yml
  .pre-commit-config.yaml
  architecture-handshakes/standalone-validator-debt.yaml
  architecture-handshakes/validator-requirements.yaml
  scripts/ci/ci_summary_gate.py
  src/omnibase_core/models/validation/model_standalone_validator_gap.py
  src/omnibase_core/validation/validator_standalone_workflow_registry.py
  tests/validation/test_standalone_validator_workflow_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-14863): isolate flip bundle git fixtures
  tests/unit/scripts/ci/test_verify_flip_bundle.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
