Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-poetry, validate-contracts, canary-unit-tests, validate-union-usage

.pre-commit-config.yaml:

# ONEX Core Pre-commit Configuration
# Aligned with omnibase_3 parent project standards

repos:
  # YAML formatting (matching parent)
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.2
    hooks:
      - id: yamlfmt
        args: [--formatter, retain_line_breaks=true]
        exclude: ^work_tickets/

  # Essential file formatting (matching parent)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]

  # Python formatting (matching parent exactly)
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args: [--line-length, "88", --target-version, py311]

  # Python imports (matching parent exactly)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: [--profile, black, --line-length, "88"]

  # Type checking with mypy using poetry environment (matching parent)
  - repo: local
    hooks:
      - id: mypy-poetry
        name: mypy via poetry
        entry: poetry run mypy
        language: system
        types: [python]
        args: [--ignore-missing-imports, --show-error-codes, --no-strict-optional, --no-error-summary, --follow-imports=skip, --config-file=mypy.ini]
        # Focus on core framework components
        files: ^src/omnibase_core/(core|model|enums|exceptions|decorators).*\.py$
        # Exclude test files, examples, and problematic contract files until properly configured
        exclude: ^(tests/|src/omnibase_core/examples|src/omnibase_core/core/contracts/model_contract_effect).*\.py$

      # ONEX Contract Validation
      - id: validate-contracts
        name: ONEX Contract Validation
        entry: python scripts/validate-contracts.py
        language: system
        pass_filenames: false
        files: ^src/omnibase_core/(nodes|protocol|core).*\.py$
        stages: [commit]

      # Canary Node Unit Tests
      - id: canary-unit-tests
        name: Canary Node Unit Tests
        entry: python scripts/run-canary-tests.py
        language: system
        pass_filenames: false
        files: ^(src/omnibase_core/nodes/canary/|tests/unit/test_canary_nodes\.py).*$
        stages: [commit]

      # Union Usage Validation
      - id: validate-union-usage
        name: ONEX Union Usage Validation
        entry: python scripts/validate-union-usage.py --max-unions 6700
        language: system
        pass_filenames: false
        files: ^src/.*\.py$
        stages: [commit]

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes for omnibase-core

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_schedule: weekly
  submodules: false

Phase 2H Complete: ModelEventType ONEX compliance remediation
  src/omnibase_core/mixin/mixin_discovery_responder.py
  src/omnibase_core/mixin/mixin_event_handler.py
  src/omnibase_core/mixin/mixin_introspection.py
  src/omnibase_core/mixin/mixin_node_lifecycle.py
  src/omnibase_core/models/core/model_event_type.py
  src/omnibase_core/models/core/model_event_type_registry.py
  tests/unit/core/test_model_event_type.py
Due: mypy-poetry, validate-union-usage

Phase 3C: Pre-remediation baseline - ModelPerformanceProfile factory method analysis
  .claude/settings.local.json
  CLAUDE.md
  analyze_high_risk_models.py
  scripts/run_7_gate_validation.py
  src/omnibase_core/models/common/model_typed_value.py
  src/omnibase_core/models/configuration/model_load_balancing_algorithm.py
  src/omnibase_core/models/configuration/model_load_balancing_policy.py
  src/omnibase_core/models/security/model_security_policy_data.py
  src/omnibase_core/models/service/model_execution_priority.py
  tests/unit/test_model_security_policy_data_fixes.py
  tests/unit/test_model_typed_mapping_security.py
  tests/unit/test_protocol_validatable_containers.py
Due: mypy-poetry, validate-union-usage

Phase 3C Complete: ModelPerformanceProfile ONEX compliance remediation
  src/omnibase_core/models/core/model_performance_profile.py
Due: mypy-poetry, validate-union-usage

Phase 3E Complete: ModelSecurityEvent & ModelRegistryResolutionResult ONEX remediation
  src/omnibase_core/models/core/model_metadata_tool_collection.py
  src/omnibase_core/models/core/model_node_metadata_block.py
  src/omnibase_core/models/registry/model_registry_resolution_result.py
  src/omnibase_core/models/security/model_security_event.py
  src/omnibase_core/utils/metadata_utils.py
Due: mypy-poetry, validate-union-usage

Phase 3F Complete: ModelRateLimitPolicy ONEX compliance remediation
  src/omnibase_core/models/configuration/model_rate_limit_policy.py
Due: mypy-poetry, validate-union-usage

Phase 3G Complete: Triple Mid-Critical Risk model ONEX compliance remediation
  src/omnibase_core/models/configuration/model_burst_config.py
  src/omnibase_core/models/configuration/model_log_filter.py
  src/omnibase_core/models/configuration/model_rest_api_connection_config.py
Due: mypy-poetry, validate-union-usage

Phase 3H Complete: Triple Mid-Critical Risk model ONEX compliance remediation
  src/omnibase_core/models/configuration/model_database_connection_config.py
  src/omnibase_core/models/configuration/model_resource_limits.py
  src/omnibase_core/models/configuration/model_session_affinity.py
  src/omnibase_core/models/core/model_environment.py
  tests/dev_adapters/__init__.py
  tests/dev_adapters/test_integration_all_adapters.py
  tests/dev_adapters/test_memory_event_bus.py
  tests/dev_adapters/test_memory_event_store.py
  tests/dev_adapters/test_memory_snapshot_store.py
Due: mypy-poetry, validate-union-usage

Phase 3I Complete: Triple Mid-Critical Risk model ONEX compliance remediation
  src/omnibase_core/models/configuration/model_git_hub_issues_event.py
  src/omnibase_core/models/configuration/model_json_data.py
  src/omnibase_core/models/core/model_severity.py
Due: mypy-poetry, validate-union-usage

Phase 3L Complete: Triple High-Priority Model ONEX compliance remediation
  src/omnibase_core/core/contracts/model_contract_base.py
  src/omnibase_core/core/contracts/model_contract_orchestrator.py
  src/omnibase_core/core/contracts/model_dependency.py
  src/omnibase_core/core/contracts/model_workflow_dependency.py
  src/omnibase_core/core/subcontracts/model_caching_subcontract.py
  src/omnibase_core/core/subcontracts/model_event_type_subcontract.py
  src/omnibase_core/core/subcontracts/model_fsm_subcontract.py
  src/omnibase_core/core/subcontracts/model_state_management_subcontract.py
  src/omnibase_core/models/configuration/model_git_hub_issue_comment_event.py
  src/omnibase_core/models/configuration/model_log_formatting.py
  src/omnibase_core/models/configuration/model_request_config.py
  src/omnibase_core/models/configuration/model_workflow_permissions.py
  src/omnibase_core/models/configuration/model_workflow_services.py
  src/omnibase_core/models/configuration/model_workflow_strategy.py
  src/omnibase_core/models/core/model_generic_value.py
  src/omnibase_core/models/validation/model_validation_error.py
  src/omnibase_core/models/workflow_testing/model_workflow_testing_configuration.py
  src/omnibase_core/models/workflow_testing/model_workflow_testing_results.py
  tests/unit/core/contracts/test_model_dependency_security_validation.py
Due: mypy-poetry, validate-contracts, validate-union-usage

Fix seven-gate validation CI failure and complete YAML compatibility
  .claude/settings.local.json
  scripts/run_7_gate_validation.py
  src/omnibase_core/core/contracts/contract_loader.py
  src/omnibase_core/core/contracts/model_contract_base.py
  test_contract_fix.py
  tests/test_contract_optimization.py
  tests/unit/core/contracts/test_model_dependency_security_validation.py
  tests/unit/patterns/reducer_pattern_engine/test_onex_compliance.py
  tests/unit/services/test_consul_service_discovery.py
  tests/unit/test_model_validation_result_critical_fixes.py
  validation_reports/model_contract_base_validation.json
Due: mypy-poetry, validate-contracts, validate-union-usage

Fix deprecated actions/upload-artifact@v3 in CI workflow
  .github/workflows/ci-cd.yml
Due: none

Fix deprecated actions/upload-artifact@v3 in CI workflow
  OMNIAGENT_MIGRATION_PLAN.md
  ONEX_REPOSITORY_STRUCTURE_STANDARDS.md
  src/omnibase_core/core/contracts/model_contract_orchestrator.py
  src/omnibase_core/core/contracts/model_workflow_condition.py
  src/omnibase_core/core/contracts/model_workflow_dependency.py
  src/omnibase_core/core/contracts/model_workflow_dependency_config.py
  src/omnibase_core/utils/safe_yaml_loader.py
  tests/unit/core/contracts/test_model_contract_dependency_validation_edge_cases.py
  tests/unit/core/contracts/test_model_workflow_dependency_validation.py
  tools/PYDANTIC_MIGRATION_TOOLS_TECHNICAL_REFERENCE.md
  validation_reports/model_workflow_dependency_validation.json
Due: mypy-poetry, validate-contracts, validate-union-usage

Fix CI workflow authentication for private omnibase_spi dependency
  .github/workflows/ci-cd.yml
Due: none

Phase 2F Complete: Comprehensive PR feedback remediation
  OmniAgentTodo.md
  src/omnibase_core/core/contracts/model_contract_orchestrator.py
  src/omnibase_core/core/contracts/model_dependency.py
  src/omnibase_core/core/contracts/model_workflow_condition.py
  src/omnibase_core/core/contracts/model_workflow_dependency.py
  src/omnibase_core/core/contracts/model_workflow_dependency_config.py
  src/omnibase_core/core/contracts/models/__init__.py
  src/omnibase_core/core/contracts/models/model_compensation_plan.py
  src/omnibase_core/core/contracts/models/model_filter_conditions.py
  src/omnibase_core/core/contracts/models/model_trigger_mappings.py
  src/omnibase_core/core/contracts/models/model_workflow_conditions.py
  src/omnibase_core/core/contracts/models/model_workflow_step.py
  src/omnibase_core/models/docs/model_file_event.py
  src/omnibase_core/models/docs/model_sync_status.py
  src/omnibase_core/models/memory/model_cli_config.py
  src/omnibase_core/models/memory/model_type_aliases.py
  src/omnibase_core/nodes/canary/canary_orchestrator/v1_0_0/contract.yaml
  tests/unit/core/contracts/test_model_workflow_dependency_validation.py
Due: mypy-poetry, validate-contracts, canary-unit-tests, validate-union-usage

Fix CI/CD pipeline omnibase_spi repository access
  .github/workflows/ci-cd.yml
  pyproject.toml
Due: none

Phase 2G Complete: Address all PR #19 feedback deficiencies
  MISSING_OMNIBASE_CORE_COMPONENTS.md
  docs/migration/contract-dependency-refactor.md
  pytest-performance.ini
  src/omnibase_core/core/contracts/model_workflow_dependency.py
  tests/performance/README.md
  tests/performance/__init__.py
  tests/performance/core/__init__.py
  tests/performance/core/contracts/__init__.py
  tests/performance/core/contracts/test_model_dependency_performance.py
  tests/performance/core/contracts/test_model_workflow_dependency_performance.py
  tests/unit/core/contracts/test_model_workflow_dependency_validation.py
Due: mypy-poetry, validate-contracts, validate-union-usage

Phase 2H Complete: Address PR #19 feedback with YAML-compatible zero tolerance
  docs/status/MISSING_OMNIBASE_CORE_COMPONENTS.md
  docs/status/OmniAgentTodo.md
  src/omnibase_core/core/contracts/model_contract_base.py
  src/omnibase_core/core/contracts/model_contract_orchestrator.py
  src/omnibase_core/core/contracts/model_workflow_dependency.py
Due: mypy-poetry, validate-contracts, validate-union-usage

feat: Implement WorkflowOrchestratorAgent with ONEX compliance
  src/omnibase_core/agents/__init__.py
  src/omnibase_core/agents/models/__init__.py
  src/omnibase_core/agents/models/model_orchestrator_execution_state.py
  src/omnibase_core/agents/models/model_orchestrator_parameters.py
  src/omnibase_core/agents/workflow_orchestrator_agent.py
  tests/unit/agents/__init__.py
  tests/unit/agents/test_workflow_orchestrator_agent.py
Due: validate-union-usage

Phase 1 Complete: Reducer Pattern Engine implementation
  .claude/settings.local.json
  src/omnibase_core/core/contracts/model_contract_reducer.py
  src/omnibase_core/core/subcontracts/__init__.py
  src/omnibase_core/nodes/reducer_pattern_engine/IMPLEMENTATION_SUMMARY.md
  src/omnibase_core/nodes/reducer_pattern_engine/__init__.py
  src/omnibase_core/nodes/reducer_pattern_engine/subreducers/__init__.py
  src/omnibase_core/nodes/reducer_pattern_engine/subreducers/reducer_document_regeneration.py
  src/omnibase_core/nodes/reducer_pattern_engine/v1_0_0/__init__.py
  src/omnibase_core/nodes/reducer_pattern_engine/v1_0_0/contract.yaml
  src/omnibase_core/nodes/reducer_pattern_engine/v1_0_0/contracts.py
  src/omnibase_core/nodes/reducer_pattern_engine/v1_0_0/engine.py
  src/omnibase_core/nodes/reducer_pattern_engine/v1_0_0/router.py
  src/omnibase_core/patterns/workflow_coordination/__init__.py
  src/omnibase_core/patterns/workflow_coordination/llamaindex_integration_pattern.py
  tests/unit/nodes/test_reducer_pattern_engine.py
Due: mypy-poetry, validate-contracts, validate-union-usage

fix(ci): resolve private dependency access issues in CI/CD pipeline
  .github/workflows/ci-cd.yml
Due: none

fix(ci): make omnibase_spi optional dependency for CI/CD compatibility
  .github/workflows/ci-cd.yml
  pyproject.toml
Due: none

fix(ci): use dynamic dependency removal for CI compatibility
  .github/workflows/ci-cd.yml
  pyproject.toml
Due: none

Apply pre-commit formatting and complete CI/CD compatibility fixes
  src/omnibase_core/agents/config.py
  src/omnibase_core/agents/workflow_orchestrator_agent.py
  src/omnibase_core/enums/enum_auth_type.py
  src/omnibase_core/enums/enum_backoff_strategy.py
  src/omnibase_core/enums/enum_notification_method.py
  src/omnibase_core/models/core/model_onex_message.py
  src/omnibase_core/models/core/model_onex_result.py
  src/omnibase_core/models/core/model_unified_summary.py
  src/omnibase_core/models/core/model_unified_version.py
  src/omnibase_core/protocol/protocol_http_client.py
  tests/unit/agents/test_workflow_orchestrator_agent.py
Due: mypy-poetry, validate-contracts, validate-union-usage

Fix CI: Skip 7-gate validation for large contract refactor branch
  .github/workflows/ci-cd.yml
Due: none

Fix CI: Restore dynamic dependency removal for private repos
  .github/workflows/ci-cd.yml
Due: none

Fix CI: Restore dynamic dependency removal for private repos
  PR_FEEDBACK_IMPLEMENTATION_SUMMARY.md
  scripts/run_7_gate_validation.py
  src/omnibase_core/core/contracts/model_contract_base.py
  src/omnibase_core/core/contracts/model_dependency.py
  src/omnibase_core/core/contracts/model_workflow_dependency.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_auth_type.py
  src/omnibase_core/enums/enum_backoff_strategy.py
  src/omnibase_core/enums/enum_notification_method.py
  tests/unit/core/contracts/test_contract_dependency_model_refactor_complete.py
Due: mypy-poetry, validate-contracts, validate-union-usage

Fix canary contract validation: refined security checks for legitimate protocols
  src/omnibase_core/core/contracts/model_contract_base.py
  src/omnibase_core/core/contracts/model_workflow_condition.py
  src/omnibase_core/core/contracts/model_workflow_dependency.py
Due: mypy-poetry, validate-contracts, validate-union-usage

Fix YAML configuration support with ONEX-compliant parsing
  src/omnibase_core/config/base_node_config.py
Due: validate-union-usage

Fix ModelBaseNodeConfig: Pure Pydantic model with proper naming
  src/omnibase_core/config/__init__.py
  src/omnibase_core/config/base_node_config.py
Due: validate-union-usage

Fix PR #21 review deficiencies: Complete implementation with tests
  src/omnibase_core/config/base_node_config.py
  src/omnibase_core/core/subcontracts/model_configuration_subcontract.py
  src/omnibase_core/utils/circuit_breaker_mixin.py
  src/omnibase_core/utils/error_sanitizer.py
  tests/unit/config/test_base_node_config.py
  tests/unit/core/subcontracts/__init__.py
  tests/unit/core/subcontracts/test_model_configuration_subcontract.py
  tests/unit/utils/test_circuit_breaker_mixin.py
  tests/unit/utils/test_error_sanitizer.py
Due: mypy-poetry, validate-contracts, validate-union-usage

fix: resolve critical infinite recursion in contract YAML loading
  .claude/settings.local.json
  src/omnibase_core/core/contracts/model_contract_compute.py
  src/omnibase_core/core/contracts/model_contract_effect.py
  src/omnibase_core/core/contracts/model_contract_gateway.py
  src/omnibase_core/core/contracts/model_contract_orchestrator.py
  src/omnibase_core/core/contracts/model_contract_reducer.py
  src/omnibase_core/core/services/event_bus_service/v1_0_0/event_bus_service.py
  src/omnibase_core/core/services/event_bus_service/v1_0_0/protocols/__init__.py
  src/omnibase_core/core/services/event_bus_service/v1_0_0/protocols/protocol_event_bus_service.py
  src/omnibase_core/models/generation/model_contract_document.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contracts/model_contract_reducer_pattern_engine.py
  src/omnibase_core/protocol/protocol_cli_commands.py
  src/omnibase_core/protocol/protocol_event_bus_service.py
  src/omnibase_core/protocol/protocol_file_reader.py
  src/omnibase_core/protocol/protocol_work_queue.py
  test_contract_fix.py
Due: mypy-poetry, validate-contracts, validate-union-usage

fix: resolve all critical and major PR review issues
  src/omnibase_core/core/onex_container.py
  src/omnibase_core/core/services/container_service/v1_0_0/container_service.py
  src/omnibase_core/core/services/container_service/v1_0_0/models/model_container_config.py
  src/omnibase_core/core/services/container_service/v1_0_0/protocols/protocol_container_service.py
  src/omnibase_core/core/spi_service_registry.py
  src/omnibase_core/utils/payload_validator.py
  tests/core/test_onex_container.py
Due: mypy-poetry, validate-contracts, validate-union-usage

fix: apply precommit hook formatting fixes
  src/omnibase_core/core/services/container_service/v1_0_0/container_service.py
  src/omnibase_core/core/services/container_service/v1_0_0/protocols/protocol_container_service.py
  src/omnibase_core/core/spi_service_registry.py
  src/omnibase_core/utils/payload_validator.py
Due: mypy-poetry, validate-contracts, validate-union-usage

fix: resolve critical infinite recursion in contract YAML loading
  src/omnibase_core/config/base_node_config.py
  tests/unit/config/test_base_node_config.py
Due: validate-union-usage

Security: Fix Semgrep security findings - dynamic import validation and hardcoded credentials
  src/omnibase_core/core/manifest_service_runner.py
  src/omnibase_core/core/mixins/mixin_node_id_from_contract.py
  src/omnibase_core/core/mixins/mixin_node_setup.py
  src/omnibase_core/core/node_loader.py
  src/omnibase_core/core/services/container_service/v1_0_0/container_service.py
  src/omnibase_core/core/services/tool_discovery_service/v1_0_0/tool_discovery_service.py
  src/omnibase_core/mixin/mixin_event_listener.py
  src/omnibase_core/mixin/mixin_introspect_from_contract.py
  src/omnibase_core/mixin/mixin_node_id_from_contract.py
  src/omnibase_core/mixin/mixin_node_setup.py
  src/omnibase_core/models/configuration/model_database_secure_config.py
  src/omnibase_core/models/configuration/model_session_affinity.py
  src/omnibase_core/nodes/canary/validate_infrastructure_contracts.py
  src/omnibase_core/utils/directory_traverser.py
  src/omnibase_core/utils/observability/opentelemetry_init.py
Due: mypy-poetry, validate-contracts, canary-unit-tests, validate-union-usage

Security: Add deprecation warnings for remaining insecure hash algorithms
  src/omnibase_core/models/metadata/model_hash_algorithm.py
  src/omnibase_core/utils/phase4_utilities.py
  src/omnibase_core/utils/session/utility_session_manager.py
Due: mypy-poetry, validate-union-usage

Security: Add namespace whitelisting to final dynamic import in contract input builder
  src/omnibase_core/utils/execution/utility_contract_driven_input_builder.py
Due: validate-union-usage

Fix critical security issues and address PR review deficiencies
  .claude/settings.local.json
  src/omnibase_core/core/node_loader.py
  src/omnibase_core/core/services/container_service/v1_0_0/container_service.py
  src/omnibase_core/core/services/event_bus_service/v1_0_0/__init__.py
  src/omnibase_core/core/services/event_bus_service/v1_0_0/event_bus_service.py
  src/omnibase_core/core/services/event_bus_service/v1_0_0/protocols/__init__.py
  tests/unit/core/services/test_container_service.py
Due: mypy-poetry, validate-contracts, validate-union-usage
