Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(OMN-9762): add normalize_event_bus normalization function
  src/omnibase_core/normalization/__init__.py
  src/omnibase_core/normalization/contract_normalizer.py
  tests/unit/normalization/test_contract_normalizer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(OMN-9861): drop "Step N:" prefix from runbook headers
  docs/evidence/change-aware-ci-proof-of-life.md
Due: none

fix(OMN-9763): preserve incomplete dict refs instead of partial-string coercion
  src/omnibase_core/normalization/contract_normalizer.py
  tests/unit/normalization/test_contract_normalizer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-9763): add normalize_io_model_ref — dict-shape to dotted-string
  src/omnibase_core/normalization/__init__.py
  src/omnibase_core/normalization/contract_normalizer.py
  tests/unit/normalization/test_contract_normalizer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-9892): repoint deploy-gate caller from orphan SHA to @main
  .github/workflows/deploy-gate.yml
Due: validate-string-versions

fix: address receipt migration review threads
  src/omnibase_core/utils/util_dod_receipt_migration.py
  tests/unit/utils/test_util_dod_receipt_migration.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: add markdown fence languages
  docs/evidence/change-aware-ci-proof-of-life.md
Due: none

fix: harden receipt re-probe validation
  src/omnibase_core/validation/validator_receipt_reprobe.py
  tests/unit/validation/test_validator_receipt_reprobe.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: harden proof runbook checks
  docs/evidence/change-aware-ci-proof-of-life.md
Due: none

feat(OMN-9762): add normalize_event_bus normalization function (#916)
  src/omnibase_core/normalization/__init__.py
  src/omnibase_core/normalization/contract_normalizer.py
  tests/unit/normalization/test_contract_normalizer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-9892): repoint deploy-gate caller from orphan SHA to @main (#948)
  .github/workflows/deploy-gate.yml
Due: validate-string-versions

feat(OMN-9790): migration script for receipt schema (#942)
  .yaml-validation-allowlist.yaml
  pyproject.toml
  scripts/migrate_dod_receipts.py
  src/omnibase_core/utils/util_dod_receipt_migration.py
  tests/unit/utils/test_util_dod_receipt_migration.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-9886): runtime_profiles contract validator + allowlist (#947)
  .github/workflows/validator-runtime-profiles.yml
  .pre-commit-config.yaml
  src/omnibase_core/nodes/node_compliance_orchestrator/contract.yaml
  src/omnibase_core/validation/contracts/runtime_profiles.validation.yaml
  src/omnibase_core/validation/runtime_profiles_allowlist.yaml
  src/omnibase_core/validation/validator_runtime_profiles.py
  tests/unit/validation/test_validator_runtime_profiles.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-9885): ModelDispatchLifecycleEvent state machine + transition validators (#946)
  src/omnibase_core/enums/enum_dispatch_lifecycle_emitter.py
  src/omnibase_core/enums/enum_dispatch_lifecycle_state.py
  src/omnibase_core/errors/error_lifecycle_emitter.py
  src/omnibase_core/errors/error_lifecycle_transition.py
  src/omnibase_core/models/dispatch/__init__.py
  src/omnibase_core/models/dispatch/model_dispatch_lifecycle_event.py
  src/omnibase_core/models/dispatch/model_lifecycle_chain.py
  tests/unit/models/dispatch/test_model_dispatch_lifecycle_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

OMN-9887: ModelRuntimeAlivenessProbeCommand + Receipt contracts (#945)
  src/omnibase_core/enums/enum_probe_failure_state.py
  src/omnibase_core/models/runtime/__init__.py
  src/omnibase_core/models/runtime/model_runtime_aliveness_probe.py
  src/omnibase_core/models/runtime/model_runtime_aliveness_probe_receipt.py
  tests/unit/models/runtime/test_model_runtime_aliveness_probe.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

OMN-9888: event-bus parser handles classic + nested subscription shapes (#944)
  src/omnibase_core/contracts/contract_parser_event_bus.py
  src/omnibase_core/errors/error_event_bus_contract_shape.py
  src/omnibase_core/models/contracts/model_event_bus_parse_result.py
  src/omnibase_core/models/contracts/model_event_bus_subscription.py
  tests/unit/contracts/test_parser_event_bus_shapes.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

OMN-9854: Verification checkpoint — tests-gate handles variable split count (#940)
  .github/workflows/ci.yml
  scripts/ci/__init__.py
  scripts/ci/detect_test_paths.py
  scripts/ci/test_selection_adjacency.yaml
  scripts/ci/test_selection_loader.py
  scripts/ci/test_selection_models.py
  scripts/validate_deterministic_skill_routing.py
  scripts/validate_no_env_fallbacks.py
  scripts/validation/validate-contracts.py
  tests/unit/scripts/ci/__init__.py
  tests/unit/scripts/ci/test_detect_test_paths.py
  tests/unit/scripts/ci/test_detect_test_paths_cli.py
  tests/unit/scripts/ci/test_test_selection_loader.py
  tests/unit/scripts/ci/test_test_selection_models.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

OMN-9857: Rollout activation criteria for change-aware test selection (#924)
  scripts/ci/test_selection_rollout.md
Due: none

docs: address proof-of-life CR comments
  docs/evidence/change-aware-ci-proof-of-life.md
Due: none

fix(OMN-9789): address re-probe review threads
  src/omnibase_core/enums/enum_reprobe_status.py
  src/omnibase_core/models/contracts/ticket/model_receipt_reprobe_report.py
  src/omnibase_core/models/contracts/ticket/model_receipt_reprobe_result.py
  src/omnibase_core/validation/receipt_gate_cli.py
  src/omnibase_core/validation/validator_receipt_reprobe.py
  tests/unit/models/contracts/test_model_receipt_reprobe_result.py
  tests/unit/validation/test_validator_receipt_reprobe.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-9865): add pytestmark = pytest.mark.unit to CI test selection tests
  tests/unit/scripts/ci/test_detect_test_paths.py
  tests/unit/scripts/ci/test_test_selection_loader.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-9856): address CR threads on adjacency expansion PR #930
  scripts/ci/detect_test_paths.py
  scripts/ci/test_selection_loader.py
  tests/unit/scripts/ci/test_detect_test_paths.py
  tests/unit/scripts/ci/test_test_selection_loader.py
  tests/unit/scripts/ci/test_test_selection_models.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-9864): add @pytest.mark.unit markers to adjacency-loader tests
  tests/unit/scripts/ci/test_test_selection_loader.py
  tests/unit/scripts/ci/test_test_selection_models.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(OMN-9864): add docstrings to adjacency models and loader
  scripts/ci/test_selection_loader.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-9855): add nightly full-suite schedule cron to ci.yml
  .github/workflows/ci.yml
  tests/unit/scripts/ci/test_detect_test_paths.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(OMN-9861): capture before/after cache state to prove no smart-suite cache write
  docs/evidence/change-aware-ci-proof-of-life.md
Due: none

fix(OMN-9789): escape re-probe annotations
  src/omnibase_core/validation/receipt_gate_cli.py
  tests/unit/validation/test_receipt_gate_cli.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-9855): add nightly full-suite schedule cron to ci.yml (#949)
  .github/workflows/ci.yml
  tests/unit/scripts/ci/test_detect_test_paths.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(OMN-9861): bracket smart-suite cache verification
  docs/evidence/change-aware-ci-proof-of-life.md
Due: none

feat(OMN-9789): add re-probe verification mode (#943)
  .yaml-validation-allowlist.yaml
  pyproject.toml
  src/omnibase_core/enums/enum_reprobe_status.py
  src/omnibase_core/models/contracts/ticket/model_receipt_reprobe_report.py
  src/omnibase_core/models/contracts/ticket/model_receipt_reprobe_result.py
  src/omnibase_core/validation/receipt_gate_cli.py
  src/omnibase_core/validation/validator_receipt_reprobe.py
  tests/unit/models/contracts/test_model_receipt_reprobe_result.py
  tests/unit/validation/test_receipt_gate_cli.py
  tests/unit/validation/test_validator_receipt_reprobe.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

OMN-9861: Proof of Life — End-to-End Verification (#941)
  docs/evidence/change-aware-ci-proof-of-life.md
Due: none

feat(OMN-9763): add normalize_io_model_ref — dict-shape to dotted-string (#917)
  src/omnibase_core/normalization/__init__.py
  src/omnibase_core/normalization/contract_normalizer.py
  tests/unit/normalization/test_contract_normalizer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-9765): add normalize_omnimarket_v0_contract — v0 block rewrite (#922)
  src/omnibase_core/normalization/__init__.py
  src/omnibase_core/normalization/contract_normalizer.py
  tests/unit/normalization/__init__.py
  tests/unit/normalization/test_contract_normalizer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-9792): extend ModelDodReceipt with branch + working_dir for receipt consolidation
  docs/decisions/ADR-006-receipt-consolidation-omn-9792.md
  src/omnibase_core/models/contracts/ticket/model_dod_receipt.py
  tests/unit/models/contracts/test_model_dod_receipt.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-9764): add normalize_handler_routing — legacy routing to canonical shape
  src/omnibase_core/normalization/__init__.py
  src/omnibase_core/normalization/contract_normalizer.py
  tests/unit/normalization/test_contract_normalizer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
