Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  black-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  isort-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/)
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$
  validate-union-usage: any of: ^src/.*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py|src/omnibase_core/models/core/model_action_config_value\.py).*\.py$
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

refactor(types): reduce union type tech debt with centralized JSON type aliases [OMN-676] (#163)
  .pre-commit-config.yaml
  docs/guides/UNION_TYPE_MIGRATION.md
  src/omnibase_core/models/core/model_custom_filters.py
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/models/core/model_extension_data.py
  src/omnibase_core/models/core/model_node_action.py
  src/omnibase_core/models/core/model_node_action_type.py
  src/omnibase_core/models/discovery/model_custommetrics.py
  src/omnibase_core/models/discovery/model_discovery_response.py
  src/omnibase_core/models/discovery/model_toolparameters.py
  src/omnibase_core/models/results/model_simple_metadata.py
  src/omnibase_core/models/security/model_condition_value.py
  src/omnibase_core/models/security/model_custom_security_settings.py
  src/omnibase_core/models/security/model_mask_data.py
  src/omnibase_core/models/security/model_masked_data.py
  src/omnibase_core/models/security/model_masked_data_class.py
  src/omnibase_core/models/security/model_masked_data_dict.py
  src/omnibase_core/models/security/model_masked_data_list.py
  src/omnibase_core/models/security/model_permission_evaluation_context.py
  src/omnibase_core/models/security/model_secret_manager.py
  src/omnibase_core/models/security/model_security_level.py
  src/omnibase_core/models/security/model_security_policy_data.py
  src/omnibase_core/models/validation/model_schema_property.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/json_types.py
  tests/unit/types/test_json_types.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(fsm): address PR #165 review feedback for FSM contract models
  src/omnibase_core/models/contracts/model_action_config_parameter.py
  src/omnibase_core/models/fsm/model_fsm_operation.py
  src/omnibase_core/models/fsm/model_fsm_transition_action.py
  src/omnibase_core/models/fsm/model_fsm_transition_condition.py
  tests/unit/models/fsm/test_model_fsm_operation.py
  tests/unit/models/fsm/test_model_fsm_transition_action.py
  tests/unit/models/fsm/test_model_fsm_transition_condition.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address remaining PR #161 review feedback
  examples/contracts/compute/user_profile_normalizer.yaml
  examples/contracts/effect/resilient_effect.yaml
  examples/contracts/orchestrator_data_pipeline.yaml
  examples/contracts/reducer_metrics_aggregator.yaml
  tests/unit/contracts/test_contract_v110_fields.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): resolve ruff I001 import sorting violations and rename test file
  tests/unit/models/contracts/subcontracts/test_model_action_config_parameter.py
  tests/unit/models/contracts/subcontracts/test_model_fsm_transition_action.py
  tests/unit/validation/test_fsm_analysis.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(contracts): address final PR #161 review feedback
  contracts/runtime/contract_registry_reducer.yaml
  contracts/runtime/node_graph_reducer.yaml
  contracts/runtime/runtime_orchestrator.yaml
  examples/contracts/effect/resilient_effect.yaml
  examples/contracts/orchestrator_data_pipeline.yaml
  examples/contracts/reducer_metrics_aggregator.yaml
  tests/unit/contracts/test_contract_v110_fields.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(fsm): address remaining PR #165 review feedback
  src/omnibase_core/models/fsm/model_fsm_operation.py
  src/omnibase_core/models/fsm/model_fsm_transition_action.py
  src/omnibase_core/models/fsm/model_fsm_transition_condition.py
  tests/unit/models/fsm/test_model_fsm_operation.py
  tests/unit/models/fsm/test_model_fsm_transition_action.py
  tests/unit/models/fsm/test_model_fsm_transition_condition.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(arch): resolve ONEX architectural violations for TypedDicts and single-class-per-file [OMN-677]
  src/omnibase_core/constants/event_types.py
  src/omnibase_core/models/configuration/model_auth_summary.py
  src/omnibase_core/models/configuration/model_request_config.py
  src/omnibase_core/models/configuration/model_request_summary.py
  src/omnibase_core/models/configuration/model_simple_json_data.py
  src/omnibase_core/models/operations/model_binary_computation_output.py
  src/omnibase_core/models/operations/model_computation_output_base.py
  src/omnibase_core/models/operations/model_computation_output_data_class.py
  src/omnibase_core/models/operations/model_numeric_computation_output.py
  src/omnibase_core/models/operations/model_structured_computation_output.py
  src/omnibase_core/models/operations/model_summary_types.py
  src/omnibase_core/models/operations/model_text_computation_output.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/typed_dict_binary_computation_summary.py
  src/omnibase_core/types/typed_dict_computation_output_data_summary.py
  src/omnibase_core/types/typed_dict_computation_output_summary.py
  src/omnibase_core/types/typed_dict_event_type.py
  src/omnibase_core/types/typed_dict_numeric_precision_summary.py
  src/omnibase_core/types/typed_dict_structured_computation_summary.py
  src/omnibase_core/types/typed_dict_text_computation_summary.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address PR #161 release-ready review feedback
  examples/contracts/effect/resilient_effect.yaml
  tests/unit/contracts/test_contract_v110_fields.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(fsm): address PR #165 review feedback - add frozen models and validation
  src/omnibase_core/models/fsm/model_fsm_data_primary.py
  src/omnibase_core/models/fsm/model_fsm_operation.py
  src/omnibase_core/models/fsm/model_fsm_state.py
  src/omnibase_core/models/fsm/model_fsm_state_snapshot.py
  src/omnibase_core/models/fsm/model_fsm_transition.py
  src/omnibase_core/types/type_fsm_context.py
  tests/unit/models/fsm/test_model_fsm_data.py
  tests/unit/models/fsm/test_model_fsm_state.py
  tests/unit/models/fsm/test_model_fsm_transition.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address PR #161 release-ready nitpicks and test improvements
  examples/contracts/effect/resilient_effect.yaml
  tests/unit/contracts/test_contract_v110_fields.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(fsm): complete PR #165 review - deep immutability and code quality
  src/omnibase_core/mixins/mixin_fsm_execution.py
  src/omnibase_core/models/fsm/model_fsm_data_primary.py
  src/omnibase_core/models/fsm/model_fsm_operation.py
  src/omnibase_core/models/fsm/model_fsm_state.py
  src/omnibase_core/models/fsm/model_fsm_state_snapshot.py
  src/omnibase_core/models/fsm/model_fsm_transition.py
  src/omnibase_core/models/fsm/model_fsm_transition_action.py
  src/omnibase_core/models/fsm/model_fsm_transition_condition.py
  src/omnibase_core/utils/fsm_executor.py
  tests/unit/mixins/test_mixin_fsm_execution.py
  tests/unit/models/fsm/test_model_fsm_data.py
  tests/unit/models/fsm/test_model_fsm_state.py
  tests/unit/models/fsm/test_model_fsm_transition.py
  tests/unit/utils/test_fsm_executor.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style: format 14 files for ruff compliance
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_workflow_execution.py
  src/omnibase_core/models/common/model_dict_value_union.py
  src/omnibase_core/models/common/model_discriminated_value.py
  src/omnibase_core/models/common/model_value_union.py
  src/omnibase_core/models/configuration/model_git_hub_issue_comment_event.py
  src/omnibase_core/models/configuration/model_log_filter.py
  src/omnibase_core/models/configuration/model_per_user_limits.py
  src/omnibase_core/models/configuration/model_priority_metadata.py
  src/omnibase_core/models/configuration/model_throttling_behavior.py
  src/omnibase_core/models/core/model_tool_integration.py
  src/omnibase_core/models/core/model_yaml_configuration.py
  src/omnibase_core/models/infrastructure/model_initialization_metadata.py
  src/omnibase_core/models/infrastructure/model_serialized_data.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(validation): consolidate execution mode validators following DRY principle [OMN-675]
  src/omnibase_core/validation/workflow_validator.py
  tests/unit/validation/test_reserved_enum_validator.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(validation): improve Raises docstring for two-step string validation [OMN-675]
  src/omnibase_core/validation/workflow_validator.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style: format 14 files to pass ruff format check
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_workflow_execution.py
  src/omnibase_core/models/common/model_dict_value_union.py
  src/omnibase_core/models/common/model_discriminated_value.py
  src/omnibase_core/models/common/model_value_union.py
  src/omnibase_core/models/configuration/model_git_hub_issue_comment_event.py
  src/omnibase_core/models/configuration/model_log_filter.py
  src/omnibase_core/models/configuration/model_per_user_limits.py
  src/omnibase_core/models/configuration/model_priority_metadata.py
  src/omnibase_core/models/configuration/model_throttling_behavior.py
  src/omnibase_core/models/core/model_tool_integration.py
  src/omnibase_core/models/core/model_yaml_configuration.py
  src/omnibase_core/models/infrastructure/model_initialization_metadata.py
  src/omnibase_core/models/infrastructure/model_serialized_data.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): clarify error message for invalid vs reserved modes [OMN-675]
  src/omnibase_core/validation/workflow_validator.py
  tests/unit/validation/test_reserved_enum_validator.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): correct return type for get_state_history
  src/omnibase_core/nodes/node_reducer.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(test): resolve pytest-xdist Pydantic class identity issue
  tests/unit/validation/test_contract_linter.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(ci): resolve ruff linting errors and address PR feedback [OMN-675]
  .pre-commit-config.yaml
  src/omnibase_core/models/configuration/model_node_config_value.py
  src/omnibase_core/models/connections/model_connection_security.py
  src/omnibase_core/types/typed_dict_mixin_types.py
  src/omnibase_core/validation/workflow_validator.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): update tests to use Pydantic model attribute access
  src/omnibase_core/models/configuration/model_database_secure_config.py
  tests/unit/decorators/test_pattern_exclusions.py
  tests/unit/discovery/test_mixin_discovery.py
  tests/unit/infrastructure/test_load_balancer.py
  tests/unit/infrastructure/test_node_config_provider.py
  tests/unit/mixins/test_mixin_introspection_publisher.py
  tests/unit/models/configuration/test_model_database_secure_config.py
  tests/unit/models/core/test_model_action_metadata.py
  tests/unit/models/core/test_model_route_hop.py
  tests/unit/models/discovery/test_request_response_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(fsm): address PR #165 review - deep immutability, formatting, and type fixes
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_workflow_execution.py
  src/omnibase_core/models/common/model_dict_value_union.py
  src/omnibase_core/models/common/model_discriminated_value.py
  src/omnibase_core/models/common/model_value_union.py
  src/omnibase_core/models/configuration/model_git_hub_issue_comment_event.py
  src/omnibase_core/models/configuration/model_log_filter.py
  src/omnibase_core/models/configuration/model_per_user_limits.py
  src/omnibase_core/models/configuration/model_priority_metadata.py
  src/omnibase_core/models/configuration/model_throttling_behavior.py
  src/omnibase_core/models/core/model_tool_integration.py
  src/omnibase_core/models/core/model_yaml_configuration.py
  src/omnibase_core/models/fsm/model_fsm_operation.py
  src/omnibase_core/models/fsm/model_fsm_state.py
  src/omnibase_core/models/fsm/model_fsm_transition_action.py
  src/omnibase_core/models/fsm/model_fsm_transition_result.py
  src/omnibase_core/models/infrastructure/model_initialization_metadata.py
  src/omnibase_core/models/infrastructure/model_serialized_data.py
  src/omnibase_core/models/reducer/model_reducer_output.py
  src/omnibase_core/utils/fsm_executor.py
  tests/unit/models/fsm/test_model_fsm_state.py
  tests/unit/models/fsm/test_model_fsm_transition_action.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address final PR #161 release-ready nitpicks
  examples/contracts/effect/resilient_effect.yaml
  tests/unit/contracts/test_contract_v110_fields.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): update test assertions for Pydantic model attribute access [OMN-675]
  src/omnibase_core/models/configuration/model_database_secure_config.py
  tests/unit/decorators/test_pattern_exclusions.py
  tests/unit/discovery/test_mixin_discovery.py
  tests/unit/infrastructure/test_load_balancer.py
  tests/unit/infrastructure/test_node_config_provider.py
  tests/unit/models/configuration/test_model_database_secure_config.py
  tests/unit/models/core/test_model_action_metadata.py
  tests/unit/models/core/test_model_route_hop.py
  tests/unit/models/discovery/test_request_response_introspection.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(security): add payload size limits to workflow executor [OMN-670]
  src/omnibase_core/enums/enum_core_error_code.py
  src/omnibase_core/utils/workflow_executor.py
  tests/unit/utils/test_workflow_executor.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(arch): fix remaining single-class-per-file and backward-compat violations
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_workflow_execution.py
  src/omnibase_core/models/common/model_dict_value_union.py
  src/omnibase_core/models/common/model_discriminated_value.py
  src/omnibase_core/models/common/model_value_union.py
  src/omnibase_core/models/configuration/__init__.py
  src/omnibase_core/models/configuration/model_git_hub_comment_change.py
  src/omnibase_core/models/configuration/model_git_hub_issue_comment_changes.py
  src/omnibase_core/models/configuration/model_git_hub_issue_comment_event.py
  src/omnibase_core/models/configuration/model_log_filter.py
  src/omnibase_core/models/configuration/model_log_filter_config.py
  src/omnibase_core/models/configuration/model_log_formatting.py
  src/omnibase_core/models/configuration/model_node_config_entry.py
  src/omnibase_core/models/configuration/model_node_config_schema.py
  src/omnibase_core/models/configuration/model_node_config_value.py
  src/omnibase_core/models/configuration/model_per_user_limits.py
  src/omnibase_core/models/configuration/model_priority_metadata.py
  src/omnibase_core/models/configuration/model_priority_metadata_summary.py
  src/omnibase_core/models/configuration/model_session_affinity.py
  src/omnibase_core/models/configuration/model_throttle_response.py
  src/omnibase_core/models/configuration/model_throttling_behavior.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_tool_integration.py
  src/omnibase_core/models/core/model_tool_integration_summary.py
  src/omnibase_core/models/core/model_tool_resource_requirements.py
  src/omnibase_core/models/core/model_tool_timeout_settings.py
  src/omnibase_core/models/core/model_yaml_configuration.py
  src/omnibase_core/models/infrastructure/model_initialization_metadata.py
  src/omnibase_core/models/infrastructure/model_serialized_data.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(security): address PR #171 review feedback for workflow executor [OMN-670]
  src/omnibase_core/utils/workflow_executor.py
  tests/unit/utils/test_workflow_executor.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address PR #168 review feedback [OMN-675]
  src/omnibase_core/models/connections/model_connection_security.py
  src/omnibase_core/validation/__init__.py
  tests/unit/discovery/test_mixin_discovery.py
  tests/unit/models/core/conftest.py
  tests/unit/models/core/test_model_action_metadata.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
