Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  args:
  - --allow-errors
  - '13'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '235'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-no-fallbacks:
  name: ONEX No Fallback Patterns Validation
  entry: poetry run python scripts/validation/check_no_fallbacks.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-error-raising:
  name: ONEX Error Raising Validation
  entry: poetry run python scripts/validation/check_error_raising.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-no-enhancement-prefixes:
  name: ONEX Enhancement Prefix Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-enhancement-prefixes.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

onex-single-class-per-file:
  name: ONEX Single Class Per File
  entry: poetry run python scripts/validation/validate-single-class-per-file.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix: correct isort import ordering for CI compliance
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_mixin_metadata.py
  src/omnibase_core/models/docker/__init__.py
  tests/unit/models/core/test_model_mixin_metadata.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: address remaining CodeRabbit review concerns
  README.md
  docs/architecture/MODEL_ACTION_ARCHITECTURE.md
Due: none

chore: bump version to 0.3.3
  pyproject.toml
Due: none

docs: update CHANGELOG for v0.3.3 release
  CHANGELOG.md
Due: none

Release v0.3.3 (#85)
  CHANGELOG.md
  pyproject.toml
Due: none

docs: streamline README and extract verbose content to dedicated guides
  README.md
  docs/reference/MANIFEST_MODELS.md
Due: none

docs: streamline README and extract verbose content to dedicated guides (#86)
  README.md
  docs/reference/MANIFEST_MODELS.md
Due: none

docs: fix README link to architecture directory and enhance link validator
  README.md
  scripts/validate_docs_links.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs: fix README link to architecture directory and enhance link validator (#87)
  README.md
  scripts/validate_docs_links.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore: complete ONEX validation compliance fixes
  .yaml-validation-allowlist.yaml
  docs/reference/MANIFEST_MODELS.md
  scripts/validation/validate-no-backward-compatibility.py
  src/omnibase_core/models/contracts/subcontracts/model_environment_validation_rule.py
  src/omnibase_core/models/contracts/subcontracts/model_fsmtransitionaction.py
  src/omnibase_core/models/contracts/subcontracts/model_resource_usage_metric.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_mixin_code_patterns.py
  src/omnibase_core/models/core/model_mixin_config_field.py
  src/omnibase_core/models/core/model_mixin_metadata.py
  src/omnibase_core/models/core/model_mixin_metadata_collection.py
  src/omnibase_core/models/core/model_mixin_method.py
  src/omnibase_core/models/core/model_mixin_method_parameter.py
  src/omnibase_core/models/core/model_mixin_performance.py
  src/omnibase_core/models/core/model_mixin_performance_use_case.py
  src/omnibase_core/models/core/model_mixin_preset.py
  src/omnibase_core/models/core/model_mixin_property.py
  src/omnibase_core/models/core/model_mixin_version.py
  src/omnibase_core/models/docker/__init__.py
  src/omnibase_core/models/docker/model_docker_compose_manifest.py
  src/omnibase_core/models/docker/model_docker_config_file.py
  src/omnibase_core/models/docker/model_docker_secret_file.py
  src/omnibase_core/models/docker/model_docker_service.py
  tests/unit/models/contracts/subcontracts/test_model_environment_validation_rule.py
  tests/unit/models/contracts/subcontracts/test_model_event_handling_subcontract.py
  tests/unit/models/contracts/subcontracts/test_model_fsmtransitionaction.py
  tests/unit/models/contracts/subcontracts/test_model_resource_usage_metric.py
  tests/unit/models/core/test_model_mixin_metadata.py
  tests/unit/models/docker/test_model_docker_compose_manifest.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: resolve 3 major blockers in Docker models for PR #88 merge readiness
  src/omnibase_core/models/docker/model_docker_compose_manifest.py
  src/omnibase_core/models/docker/model_docker_service.py
  tests/unit/models/docker/test_model_docker_compose_manifest.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: resolve PR #86 post-merge issues (Quick Start API, paths, consistency)
  README.md
  docs/reference/MANIFEST_MODELS.md
Due: none

fix: revert to relative paths in MANIFEST_MODELS.md for CI compatibility
  docs/reference/MANIFEST_MODELS.md
Due: none

chore: cleanup validation fixtures and update configuration
  .pre-commit-config.yaml
  .yaml-validation-allowlist.yaml
  docs/contracts/templates/intent_publisher.yaml
  docs/guides/templates/ENHANCED_NODE_PATTERNS.md
  docs/guides/templates/ORCHESTRATOR_NODE_TEMPLATE.md
  poetry.lock
  pyproject.toml
  scripts/fix_documentation_links.py
  scripts/validate_docs_links.py
  scripts/validation/validate-no-empty-directories.py
  scripts/validation/validate-no-manual-yaml.py
  src/omnibase_core/discovery/__init__.py
  tests/fixtures/validation/edge_cases/empty_file.py
  tests/fixtures/validation/edge_cases/large_file_content.py
  tests/fixtures/validation/edge_cases/syntax_error.py
  tests/fixtures/validation/invalid/backward_compatibility.py
  tests/fixtures/validation/invalid/bad_naming.py
  tests/fixtures/validation/invalid/malformed_contract.yaml
  tests/fixtures/validation/valid/enum_workflow_status.py
  tests/fixtures/validation/valid/model_user_auth.py
  tests/fixtures/validation/valid/sample_contract.yaml
  tests/unit/models/workflow/execution/__init__.py
  tests/unit/models/workflow/execution/test_model_config.py
  tests/unit/models/workflow/execution/test_model_dependency_graph.py
  tests/unit/models/workflow/execution/test_model_workflow_execution_result.py
  tests/unit/models/workflow/execution/test_model_workflow_input_state.py
  tests/unit/models/workflow/execution/test_model_workflow_step_execution.py
  tests/unit/mvp/__init__.py
  tests/unit/validation/test_yaml_allowlist.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: resolve all PR #88 review issues - code quality and robustness improvements
  VERSION_FIELD_FAILURE_REPORT.md
  VERSION_FIELD_FIX_INDEX.md
  run_all_splits.sh
  scripts/fix_version_field_pattern1.sh
  src/omnibase_core/models/contracts/subcontracts/model_event_type_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_query_parameter_rule.py
  src/omnibase_core/models/docker/model_docker_config_file.py
  src/omnibase_core/models/docker/model_docker_secret_file.py
  tests/unit/models/docker/test_model_docker_compose_manifest.py
  tests/unit/validation/test_yaml_allowlist.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: resolve final PR #88 blockers - repository cleanup and portability
  docs/migration/AUTOMATION_DELIVERABLES.txt
  docs/migration/VERSION_FIELD_FAILURE_REPORT.md
  docs/migration/VERSION_FIELD_FIX_INDEX.md
  docs/migration/VERSION_FIELD_FIX_QUICKSTART.md
  scripts/migration/fix_version_defaults.py
  scripts/migration/fix_version_defaults_v2.py
  scripts/testing/run_all_splits.sh
  src/omnibase_core/mixins/mixin_node_service.py.bak
  src/omnibase_core/models/contracts/subcontracts/model_aggregation_function.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

chore: remove temp migration docs and exclude multi-class files from validation
  .pre-commit-config.yaml
  docs/migration/AUTOMATION_DELIVERABLES.txt
  docs/migration/VERSION_FIELD_FAILURE_REPORT.md
  docs/migration/VERSION_FIELD_FIX_INDEX.md
  docs/migration/VERSION_FIELD_FIX_QUICKSTART.md
Due: validate-string-versions

fix: resolve three failing test splits (8, 14, 18) - update tests for version field defaults
  src/omnibase_core/models/core/model_orchestrator_info.py
  src/omnibase_core/models/results/__init__.py
  tests/unit/discovery/test_mixin_discovery.py
  tests/unit/models/contracts/test_model_yaml_contract.py
  tests/unit/models/results/test_model_orchestrator_info.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: complete PR #88 review - all 22 issues resolved via parallel agents
  VERIFICATION_REPORT.md
  docs/reference/MANIFEST_MODELS.md
  scripts/fix_version_field_pattern1.sh
  scripts/migration/fix_version_defaults.py
  scripts/validation/validate-no-empty-directories.py
  src/omnibase_core/models/configuration/model_onex_metadata.py
  src/omnibase_core/models/contracts/subcontracts/model_event_transformation.py
  src/omnibase_core/models/contracts/subcontracts/model_fsmtransitionaction.py
  src/omnibase_core/models/core/model_contract.py
  src/omnibase_core/models/core/model_introspection_node_info.py
  src/omnibase_core/models/core/model_onex_internal_output_state.py
  src/omnibase_core/models/core/model_orchestrator_info.py
  src/omnibase_core/models/core/model_state_contract.py
  src/omnibase_core/models/core/model_tool_implementation.py
  src/omnibase_core/models/docker/model_docker_compose_manifest.py
  src/omnibase_core/models/operations/model_system_metadata.py
  src/omnibase_core/models/security/model_detection_ruleset.py
  src/omnibase_core/models/security/model_policy_validation_result.py
  src/omnibase_core/models/security/model_secret_manager.py
  src/omnibase_core/models/security/model_trustpolicy.py
  tests/unit/models/core/test_null_yaml_handling.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: add missing version argument to ModelGenericMetadata in model_missing_tool.py
  src/omnibase_core/models/core/model_missing_tool.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: update ModelEventType tests to use schema_version instead of version
  tests/unit/models/core/test_model_cli_command_definition.py
  tests/unit/models/core/test_model_cli_command_registry.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix: resolve 459 test regressions from required version fields
  src/omnibase_core/mixins/mixin_node_service.py
  tests/unit/models/container/test_model_service_registration.py
  tests/unit/models/core/test_model_project_metadata_block.py
  tests/unit/models/nodes/test_model_node_capability.py
  tests/unit/models/nodes/test_model_node_type.py
  tests/unit/models/results/test_model_orchestrator_info.py
  tests/unit/models/security/test_model_permission.py
  tests/unit/models/test_model_onex_envelope_source_node_id.py
  tests/unit/nodes/test_declarative_nodes.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: resolve final 12 AsyncIO test failures in service health/lifecycle tests
  src/omnibase_core/mixins/mixin_node_service.py
  tests/unit/models/nodes/node_services/test_model_service_effect_health.py
  tests/unit/models/nodes/node_services/test_model_service_effect_lifecycle.py
  tests/unit/models/nodes/node_services/test_model_service_orchestrator_health.py
  tests/unit/models/nodes/node_services/test_model_service_orchestrator_lifecycle.py
  tests/unit/utils/test_fsm_executor.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: add missing version fields to remaining test fixtures
  tests/unit/mixins/test_mixin_fsm_execution.py
  tests/unit/utils/test_workflow_executor.py
  tests/unit/validation/test_contract_validator.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix: add missing version fields to workflow execution test fixture
  tests/unit/mixins/test_mixin_workflow_execution.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): add missing envelope_version field to performance tests
  tests/performance/test_source_node_id_overhead.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor: split singleton holders and action config models into single-class files
  CLAUDE.md
  docs/INDEX.md
  docs/architecture/overview.md
  docs/guides/MIXIN_SUBCONTRACT_MAPPING.md
  docs/guides/TESTING_GUIDE.md
  docs/guides/node-building/07_PATTERNS_CATALOG.md
  docs/guides/node-building/08_COMMON_PITFALLS.md
  docs/reference/README.md
  docs/release-notes/RELEASE_NOTES_v0.1.1.md
  src/omnibase_core/models/contracts/model_contract_compute.py
  src/omnibase_core/models/core/model_action_config_boolean_value.py
  src/omnibase_core/models/core/model_action_config_numeric_value.py
  src/omnibase_core/models/core/model_action_config_string_value.py
  src/omnibase_core/models/core/model_action_config_value.py
  src/omnibase_core/utils/util_action_registry_holder.py
  src/omnibase_core/utils/util_command_registry_holder.py
  src/omnibase_core/utils/util_container_holder.py
  src/omnibase_core/utils/util_event_type_registry_holder.py
  src/omnibase_core/utils/util_logger_cache.py
  src/omnibase_core/utils/util_protocol_cache_holder.py
  src/omnibase_core/utils/util_secret_manager_holder.py
  src/omnibase_core/utils/util_simple_fallback_logger.py
  src/omnibase_core/utils/util_singleton_holders.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: address PR #89 review issues - type safety and thread-safety improvements
  src/omnibase_core/models/contracts/model_contract_compute.py
  src/omnibase_core/models/core/model_action_config_value.py
  src/omnibase_core/utils/util_command_registry_holder.py
  src/omnibase_core/utils/util_container_holder.py
  src/omnibase_core/utils/util_logger_cache.py
  src/omnibase_core/utils/util_protocol_cache_holder.py
  src/omnibase_core/utils/util_singleton_holders.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: use Any for protocol cache (BOUNDARY_LAYER_EXCEPTION)
  src/omnibase_core/utils/util_protocol_cache_holder.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: resolve deadlock in logging double-checked locking pattern
  src/omnibase_core/logging/core_logging.py
  src/omnibase_core/logging/emit.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: address PR #89 review issues - type safety and thread-safety improvements
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/models/contracts/model_contract_compute.py
  src/omnibase_core/models/contracts/model_contract_effect.py
  src/omnibase_core/models/contracts/model_contract_reducer.py
  src/omnibase_core/utils/util_action_registry_holder.py
  src/omnibase_core/utils/util_event_type_registry_holder.py
  src/omnibase_core/utils/util_protocol_cache_holder.py
  src/omnibase_core/utils/util_secret_manager_holder.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: resolve mypy errors in registry files after holder type changes
  src/omnibase_core/models/core/model_action_registry.py
  src/omnibase_core/utils/util_action_registry_holder.py
  src/omnibase_core/utils/util_event_type_registry_holder.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

Path conditions:
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$
  validate-union-usage: any of: ^src/.*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
