Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

Add Claude Code GitHub Workflow (#419)
  .github/workflows/claude-code-review.yml
Due: validate-string-versions

feat(cli): add demo run command for scenario execution [OMN-1396] (#418)
  .pre-commit-config.yaml
  scripts/validation/validate-file-locations.py
  src/omnibase_core/cli/__init__.py
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_demo.py
  src/omnibase_core/types/typed_dict_demo.py
  tests/unit/cli/test_cli_demo.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(demo): add E2E integration tests and real invariant evaluation [OMN-1397]
  src/omnibase_core/cli/cli_demo.py
  src/omnibase_core/models/demo/__init__.py
  src/omnibase_core/models/demo/model_demo_config.py
  src/omnibase_core/models/demo/model_demo_invariant_result.py
  src/omnibase_core/models/demo/model_demo_summary.py
  src/omnibase_core/models/demo/model_demo_validation_report.py
  src/omnibase_core/models/demo/model_failure_detail.py
  src/omnibase_core/models/demo/model_sample_result.py
  tests/integration/demo/__init__.py
  tests/integration/demo/test_model_validation_e2e.py
  tests/unit/cli/test_cli_demo.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): resolve PR review issues and CI import error [OMN-1397]
  src/omnibase_core/cli/cli_demo.py
  src/omnibase_core/models/demo/__init__.py
  tests/integration/demo/__init__.py
  tests/unit/cli/test_cli_demo.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): replace placeholder ticket with OMN-1397 [OMN-1397]
  src/omnibase_core/cli/cli_demo.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): address PR review feedback - live mode, docstrings, barrel exports [OMN-1397]
  src/omnibase_core/cli/cli_demo.py
  src/omnibase_core/models/demo/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): add frozen=True to ModelDemoSummary and ModelDemoValidationReport [OMN-1397]
  src/omnibase_core/models/demo/model_demo_summary.py
  src/omnibase_core/models/demo/model_demo_validation_report.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): address PR #420 review feedback - type safety and barrel exports [OMN-1397]
  src/omnibase_core/cli/cli_demo.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(test): improve E2E test assertions and add fixture validation [OMN-1397]
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  tests/integration/demo/test_model_validation_e2e.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(demo): improve type ignore comment per CLAUDE.md standards [OMN-1397]
  src/omnibase_core/cli/cli_demo.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(demo): convert verdict Literal to EnumDemoVerdict enum [OMN-1397]
  src/omnibase_core/cli/cli_demo.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_demo_verdict.py
  src/omnibase_core/models/demo/model_demo_summary.py
  tests/unit/cli/test_cli_demo.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(demo): improve type safety, extract test constants, add enum exports [OMN-1397]
  src/omnibase_core/cli/cli_demo.py
  src/omnibase_core/enums/enum_demo_verdict.py
  src/omnibase_core/models/demo/__init__.py
  tests/integration/demo/test_model_validation_e2e.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(demo): add EnumDemoRecommendation and improve type safety [OMN-1397]
  src/omnibase_core/cli/cli_demo.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_demo_recommendation.py
  src/omnibase_core/models/demo/__init__.py
  src/omnibase_core/models/demo/model_demo_summary.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): add threshold validation and extract schema version constant [OMN-1397]
  src/omnibase_core/cli/cli_demo.py
  src/omnibase_core/models/demo/__init__.py
  src/omnibase_core/models/demo/model_demo_validation_report.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): add fallback-ok marker and fix arrow consistency [OMN-1397]
  src/omnibase_core/cli/cli_demo.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(demo): add E2E integration tests and real invariant evaluation [OMN-1397] (#420)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  src/omnibase_core/cli/cli_demo.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_demo_recommendation.py
  src/omnibase_core/enums/enum_demo_verdict.py
  src/omnibase_core/models/demo/__init__.py
  src/omnibase_core/models/demo/model_demo_config.py
  src/omnibase_core/models/demo/model_demo_invariant_result.py
  src/omnibase_core/models/demo/model_demo_summary.py
  src/omnibase_core/models/demo/model_demo_validation_report.py
  src/omnibase_core/models/demo/model_failure_detail.py
  src/omnibase_core/models/demo/model_sample_result.py
  tests/integration/demo/__init__.py
  tests/integration/demo/test_model_validation_e2e.py
  tests/unit/cli/test_cli_demo.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: add Beta Demo Guide documentation [OMN-1398]
  docs/INDEX.md
  docs/demo/BETA_DEMO_GUIDE.md
Due: none

fix(cli): increase demo list description length to prevent truncation [OMN-1398]
  src/omnibase_core/cli/cli_demo.py
  tests/unit/cli/test_cli_demo.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: fix version and clean up relative link in Beta Demo Guide [OMN-1398]
  docs/demo/BETA_DEMO_GUIDE.md
Due: none

docs: remove hardcoded version from CLAUDE.md [OMN-1398]
  CLAUDE.md
Due: none

docs: add Beta Demo Guide documentation [OMN-1398] (#423)
  CLAUDE.md
  docs/INDEX.md
  docs/demo/BETA_DEMO_GUIDE.md
  src/omnibase_core/cli/cli_demo.py
  tests/unit/cli/test_cli_demo.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(contracts): rename version to contract_version, add node_version [OMN-1431]
  docs/migrations/OMN-1431-version-to-contract-version.md
  examples/contracts/handlers/compute_handler.yaml
  examples/contracts/handlers/effect_handler.yaml
  examples/contracts/handlers/reducer_handler.yaml
  examples/demo/handlers/support_assistant/support_assistant.yaml
  examples/demo/model-validate/contract.yaml
  src/omnibase_core/contracts/contract_hash_registry.py
  src/omnibase_core/merge/contract_merge_engine.py
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/services/service_contract_validator.py
  src/omnibase_core/validation/validator_contract_linter.py
  tests/unit/contracts/test_model_contract_base.py
  tests/unit/factories/test_contract_profile_factory.py
  tests/unit/merge/test_contract_merge_engine.py
  tests/unit/merge/test_contract_merge_engine_events.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_node_instance.py
  tests/unit/validation/test_contract_validation_pipeline_events.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(factories): update factory profiles to use contract_version [OMN-1431]
  docs/migrations/OMN-1431-version-to-contract-version.md
  src/omnibase_core/factories/profiles/factory_profile_compute.py
  src/omnibase_core/factories/profiles/factory_profile_effect.py
  src/omnibase_core/factories/profiles/factory_profile_orchestrator.py
  src/omnibase_core/factories/profiles/factory_profile_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): correct field names for ModelHandlerContract vs ModelContractBase [OMN-1431]
  examples/contracts/handlers/compute_handler.yaml
  examples/contracts/handlers/effect_handler.yaml
  examples/contracts/handlers/reducer_handler.yaml
  examples/demo/handlers/support_assistant/support_assistant.yaml
  tests/unit/models/contracts/test_model_contract_reducer_v150.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): update test fixtures to use contract_version field [OMN-1431]
  docs/migrations/OMN-1431-version-to-contract-version.md
  src/omnibase_core/services/service_contract_validator.py
  tests/unit/nodes/test_node_compute_contract_conversion.py
  tests/unit/validation/test_contract_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): add guardrail tests and improve merge logging [OMN-1431]
  docs/migrations/OMN-1431-version-to-contract-version.md
  src/omnibase_core/merge/contract_merge_engine.py
  tests/unit/validation/test_validator_contract_linter.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release): bump version to 0.9.0, remove migration doc [OMN-1431]
  CHANGELOG.md
  docs/migrations/OMN-1431-version-to-contract-version.md
  pyproject.toml
  src/omnibase_core/__init__.py
  src/omnibase_core/contracts/contract_hash_registry.py
  src/omnibase_core/merge/contract_merge_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): reject deprecated version field entirely, no dual-field state [OMN-1431]
  src/omnibase_core/validation/validator_contract_linter.py
  tests/unit/validation/test_validator_contract_linter.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(review): address PR #424 code review feedback [OMN-1431]
  src/omnibase_core/contracts/contract_hash_registry.py
  src/omnibase_core/merge/contract_merge_engine.py
  src/omnibase_core/validation/validator_contract_linter.py
  tests/unit/validation/test_validator_contract_linter.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(contracts): rename version to contract_version, add node_version [OMN-1431] (#424)
  CHANGELOG.md
  examples/demo/model-validate/contract.yaml
  pyproject.toml
  src/omnibase_core/__init__.py
  src/omnibase_core/contracts/contract_hash_registry.py
  src/omnibase_core/factories/profiles/factory_profile_compute.py
  src/omnibase_core/factories/profiles/factory_profile_effect.py
  src/omnibase_core/factories/profiles/factory_profile_orchestrator.py
  src/omnibase_core/factories/profiles/factory_profile_reducer.py
  src/omnibase_core/merge/contract_merge_engine.py
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/services/service_contract_validator.py
  src/omnibase_core/validation/validator_contract_linter.py
  tests/unit/contracts/test_model_contract_base.py
  tests/unit/factories/test_contract_profile_factory.py
  tests/unit/merge/test_contract_merge_engine.py
  tests/unit/merge/test_contract_merge_engine_events.py
  tests/unit/models/contracts/test_model_contract_reducer_v150.py
  tests/unit/nodes/test_node_compute_contract_conversion.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_node_instance.py
  tests/unit/validation/test_contract_validation_pipeline_events.py
  tests/unit/validation/test_contract_validator.py
  tests/unit/validation/test_validator_contract_linter.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(contracts): enforce contract_version field, remove deprecated version fallback [OMN-1436]
  scripts/compute_contract_fingerprint.py
  scripts/regenerate_fingerprints.py
  src/omnibase_core/contracts/contract_hash_registry.py
  src/omnibase_core/models/contracts/model_yaml_contract.py
  src/omnibase_core/utils/util_contract_loader.py
  tests/unit/contracts/test_hash_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: Add py.typed marker for PEP 561 compliance
  src/omnibase_core/py.typed
Due: none

fix: Add py.typed marker for PEP 561 compliance (#426)
  src/omnibase_core/py.typed
Due: none

refactor(contracts): split is_strict_contract into predicate + validator [OMN-1436]
  scripts/compute_contract_fingerprint.py
  tests/unit/scripts/test_compute_contract_fingerprint.py
  tests/unit/scripts/test_lint_contract.py
  tests/unit/scripts/test_regenerate_fingerprints.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml
