Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

feat(OMN-16451): declare the contract keys the runtime consumes; delete NodeCompute's dead metadata read (#1585)
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/models/contracts/model_contract_intent_consumption.py
  src/omnibase_core/models/contracts/model_contract_mcp_config.py
  src/omnibase_core/models/contracts/subcontracts/model_event_bus_subcontract.py
  src/omnibase_core/nodes/node_compute.py
  tests/unit/models/contracts/subcontracts/test_model_event_bus_subcontract_dlq_topics.py
  tests/unit/models/contracts/test_contract_base_consumed_extension_keys.py
  tests/unit/models/contracts/test_model_contract_intent_consumption.py
  tests/unit/models/contracts/test_model_contract_mcp_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-16353): emit missing_occ_self_bind with exact remediation for the missing-self-bind-only OCC case
  src/omnibase_core/enums/enum_occ_eligibility_reason.py
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  tests/unit/validation/test_occ_merge_eligibility.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-16353): bump version past latest published (release-identity gate)
  pyproject.toml
  uv.lock
Due: none

fix(OMN-16347): make the semantic-diff batch read git-2.34-safe; make the OCC gate entrypoint tests hermetic
  scripts/analysis/semantic_diff.py
  tests/scripts/test_semantic_diff_cli.py
  tests/unit/scripts/ci/test_check_occ_companion_merged.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16348): switch ci.yml pytest timeout method from thread to signal (#1586)
  .github/workflows/ci.yml
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16353): match the OCC repo exactly, not by suffix (CodeRabbit)
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  tests/unit/validation/test_occ_merge_eligibility.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16347): make the semantic-diff batch read git-2.34-safe; make the OCC gate entrypoint tests hermetic (#1588)
  scripts/analysis/semantic_diff.py
  tests/scripts/test_semantic_diff_cli.py
  tests/unit/scripts/ci/test_check_occ_companion_merged.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-16353): emit missing_occ_self_bind with exact remediation for the missing-self-bind-only OCC case (#1587)
  pyproject.toml
  src/omnibase_core/enums/enum_occ_eligibility_reason.py
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  tests/unit/validation/test_occ_merge_eligibility.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16507): retry Enable Auto-Merge with --squash when no queue is active
  .github/workflows/auto-merge.yml
  tests/unit/validation/test_auto_merge_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16517): sanitize uv lock generator environment in dependency-cascade
  .github/workflows/dependency-cascade.yml
  tests/scripts/test_dependency_cascade_matrix.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(OMN-16305): thin remaining docs/decisions, docs/standards, docs/troubleshooting to knowledge-base pointers
  docs/decisions/ADR-001-protocol-based-di-architecture.md
  docs/decisions/ADR-002-field-limit-constants.md
  docs/decisions/ADR-003-reducer-output-exception-consistency.md
  docs/decisions/ADR-004-registration-trigger-architecture.md
  docs/decisions/ADR-005-core-infra-dependency-boundary.md
  docs/decisions/ADR-006-status-taxonomy.md
  docs/decisions/ADR-007-context-mutability-design-decision.md
  docs/decisions/ADR-012-VALIDATOR-ERROR-HANDLING.md
  docs/decisions/ADR_BEST_PRACTICES.md
  docs/decisions/README.md
  docs/decisions/RISK-009-ci-workflow-modification-risk.md
  docs/standards/AGENT_MD_TEMPLATE.md
  docs/standards/CI_CD_STANDARDS.md
  docs/standards/CI_VALIDATION_SETUP.md
  docs/standards/MERGE_DEPENDENCY_GRAPH.md
  docs/standards/STANDARD_DOC_LAYOUT.md
  docs/standards/onex_terminology.md
  docs/standards/onex_topic_taxonomy.md
  docs/troubleshooting/ASYNC_HANG_DEBUGGING.md
Due: none

docs(OMN-16305): thin remaining docs/decisions, docs/standards, docs/troubleshooting to knowledge-base pointers (#1589)
  docs/decisions/ADR-001-protocol-based-di-architecture.md
  docs/decisions/ADR-002-field-limit-constants.md
  docs/decisions/ADR-003-reducer-output-exception-consistency.md
  docs/decisions/ADR-004-registration-trigger-architecture.md
  docs/decisions/ADR-005-core-infra-dependency-boundary.md
  docs/decisions/ADR-006-status-taxonomy.md
  docs/decisions/ADR-007-context-mutability-design-decision.md
  docs/decisions/ADR-012-VALIDATOR-ERROR-HANDLING.md
  docs/decisions/ADR_BEST_PRACTICES.md
  docs/decisions/README.md
  docs/decisions/RISK-009-ci-workflow-modification-risk.md
  docs/standards/AGENT_MD_TEMPLATE.md
  docs/standards/CI_CD_STANDARDS.md
  docs/standards/CI_VALIDATION_SETUP.md
  docs/standards/MERGE_DEPENDENCY_GRAPH.md
  docs/standards/STANDARD_DOC_LAYOUT.md
  docs/standards/onex_terminology.md
  docs/standards/onex_topic_taxonomy.md
  docs/troubleshooting/ASYNC_HANG_DEBUGGING.md
Due: none

fix(OMN-16353): match the OCC repo exactly, not by suffix (CodeRabbit) (#1590)
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  tests/unit/validation/test_occ_merge_eligibility.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16552): skip OCC companion-gate app-token mint for dependency-bot PRs
  .github/workflows/ci.yml
Due: validate-string-versions

fix(OMN-16517): sanitize uv lock generator environment in dependency-cascade (#1591)
  .github/workflows/dependency-cascade.yml
  tests/scripts/test_dependency_cascade_matrix.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16552): skip OCC companion-gate app-token mint for dependency-bot PRs (#1592)
  .github/workflows/ci.yml
Due: validate-string-versions

ci: allow dependency workflow PRs through tokenless gates
  .github/workflows/ci.yml
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(OMN-16541): Wave-3 correctness fixes — P4 rename sweep, compat extra, dead pointers
  README.md
  docs/INDEX.md
  docs/architecture/CONTRACT_STABILITY_SPEC.md
  docs/architecture/MIXIN_ARCHITECTURE.md
  docs/architecture/NODE_PURITY_GUARANTEES.md
  docs/ci/CI_MONITORING_GUIDE.md
  docs/ci/CORE_PURITY_FAILURE.md
  docs/ci/PERFORMANCE_BENCHMARK_CI_INTEGRATION.md
  docs/conventions/CAPABILITY_NAMING.md
  docs/guides/DECLARATIVE_NODE_IMPORT_RULES.md
  docs/guides/MIGRATING_FROM_DICT_ANY.md
  docs/guides/PROTOCOL_UUID_MIGRATION.md
  docs/guides/TESTING_GUIDE.md
  docs/reference/api/nodes.md
  docs/testing/COVERAGE.md
  docs/testing/INTEGRATION_TESTING.md
  docs/testing/PARALLEL_TESTING.md
  docs/testing/PERFORMANCE_TESTING_GUIDE.md
  scripts/README.md
Due: none

docs(OMN-16541): Wave-3 correctness fixes — P4 rename sweep, compat extra, dead pointers (#1594)
  README.md
  docs/INDEX.md
  docs/architecture/CONTRACT_STABILITY_SPEC.md
  docs/architecture/MIXIN_ARCHITECTURE.md
  docs/architecture/NODE_PURITY_GUARANTEES.md
  docs/ci/CI_MONITORING_GUIDE.md
  docs/ci/CORE_PURITY_FAILURE.md
  docs/ci/PERFORMANCE_BENCHMARK_CI_INTEGRATION.md
  docs/conventions/CAPABILITY_NAMING.md
  docs/guides/DECLARATIVE_NODE_IMPORT_RULES.md
  docs/guides/MIGRATING_FROM_DICT_ANY.md
  docs/guides/PROTOCOL_UUID_MIGRATION.md
  docs/guides/TESTING_GUIDE.md
  docs/reference/api/nodes.md
  docs/testing/COVERAGE.md
  docs/testing/INTEGRATION_TESTING.md
  docs/testing/PARALLEL_TESTING.md
  docs/testing/PERFORMANCE_TESTING_GUIDE.md
  scripts/README.md
Due: none

revert(OMN-16520): route validate-docs back to plain event-based selector
  .github/workflows/validate-docs.yml
Due: validate-string-versions

docs(OMN-16581): close Wave-3 audit residuals A+B — Makefile test.yml rename leftover + stale omnidash handshake template
  Makefile
  architecture-handshakes/repos/omnidash.md
Due: none

revert(OMN-16520): route validate-docs back to plain event-based selector (#1595)
  .github/workflows/validate-docs.yml
Due: validate-string-versions

ci(OMN-16589): pilot-wire the KB doc gate (transition mode)
  .github/workflows/kb-doc-gate.yml
  .pre-commit-config.yaml
  architecture-handshakes/pull-request-workflow-budget.yaml
Due: validate-string-versions

ci(OMN-16589): re-pin kb-doc-gate hook rev to the merged omniclaude SHA
  .pre-commit-config.yaml
Due: validate-string-versions

fix(OMN-16589): classify kb-doc-gate.yml job in CI Summary poller
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16589): pin kb-doc-gate.yml reusable workflow by immutable SHA
  .github/workflows/kb-doc-gate.yml
Due: validate-string-versions

docs(OMN-16663): add official OmniNode brand <picture> README header
  README.md
  docs/assets/README.md
  docs/assets/brand/BRAND.md
  docs/assets/brand/omninode-icon-black.png
  docs/assets/brand/omninode-icon-full-color.svg
  docs/assets/brand/omninode-icon-white.png
  docs/assets/brand/omninode-inline-black.png
  docs/assets/brand/omninode-inline-full-color.svg
  docs/assets/brand/omninode-inline-white.png
  docs/assets/brand/omninode-stacked-black.png
  docs/assets/brand/omninode-stacked-full-color.svg
  docs/assets/brand/omninode-stacked-white.png
  docs/assets/brand/omninode-wordmark-black.svg
  docs/assets/brand/omninode-wordmark-grey.svg
  docs/assets/brand/omninode-wordmark-white.svg
Due: none

docs(OMN-16641): repoint README CI badge at PR-triggered ci.yml run
  README.md
Due: none

docs(OMN-16641): repoint README CI badge at PR-triggered ci.yml run (#1596)
  README.md
Due: none

feat(OMN-16677): expose the tier-0 local runtime harness as `onex run`
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_run.py
  src/omnibase_core/cli/cli_run_node.py
  src/omnibase_core/runtime/harness/harness_cli.py
  tests/unit/cli/test_cli_run_harness.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16679): make `onex new node` scaffold runnable as generated
  src/omnibase_core/cli/cli_new.py
  tests/unit/cli/test_cli_new.py
  tests/unit/cli/test_cli_new_scaffold_runnable.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(OMN-16663): add official OmniNode brand <picture> README header (#1597)
  README.md
  docs/assets/README.md
  docs/assets/brand/BRAND.md
  docs/assets/brand/omninode-icon-black.png
  docs/assets/brand/omninode-icon-full-color.svg
  docs/assets/brand/omninode-icon-white.png
  docs/assets/brand/omninode-inline-black.png
  docs/assets/brand/omninode-inline-full-color.svg
  docs/assets/brand/omninode-inline-white.png
  docs/assets/brand/omninode-stacked-black.png
  docs/assets/brand/omninode-stacked-full-color.svg
  docs/assets/brand/omninode-stacked-white.png
  docs/assets/brand/omninode-wordmark-black.svg
  docs/assets/brand/omninode-wordmark-grey.svg
  docs/assets/brand/omninode-wordmark-white.svg
Due: none

ci(OMN-16589): pilot-wire the org-wide KB doc gate into omnibase_core (transition mode) (#1599)
  .github/workflows/kb-doc-gate.yml
  .pre-commit-config.yaml
  architecture-handshakes/pull-request-workflow-budget.yaml
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16037): unify ~/.onex/config.yaml schema across all CLI writers
  .github/actions/deploy-gate/action.yml
  .yaml-validation-allowlist.yaml
  src/omnibase_core/cli/cli_bootstrap.py
  src/omnibase_core/cli/cli_config.py
  src/omnibase_core/cli/cli_init.py
  src/omnibase_core/cli/cli_refresh_credentials.py
  src/omnibase_core/cli/cli_user_config.py
  src/omnibase_core/enums/enum_user_config_mode.py
  src/omnibase_core/models/cli/model_cli_user_config.py
  src/omnibase_core/models/cli/model_cli_user_config_credentials.py
  src/omnibase_core/models/cli/model_cli_user_config_kafka.py
  src/omnibase_core/models/cli/model_cli_user_config_logging.py
  src/omnibase_core/models/cli/model_cli_user_config_paths.py
  src/omnibase_core/nodes/node_no_direct_kafka_producer_check_compute/contract.yaml
  src/omnibase_core/nodes/node_no_env_fallbacks_check_compute/contract.yaml
  src/omnibase_core/nodes/node_no_hardcoded_ip_check_compute/contract.yaml
  src/omnibase_core/nodes/node_no_io_outside_effects_check_compute/contract.yaml
  src/omnibase_core/nodes/node_no_raw_sqlite3_check_compute/contract.yaml
  tests/unit/cli/test_cli_standalone.py
  tests/unit/cli/test_cli_user_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16679): make `onex new node` scaffold runnable as generated (#1598)
  src/omnibase_core/cli/cli_new.py
  tests/unit/cli/test_cli_new.py
  tests/unit/cli/test_cli_new_scaffold_runnable.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16709): restore sys.modules in the scaffold fixture so the OMN-14985 ratchet passes
  tests/unit/cli/test_cli_new_scaffold_runnable.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-13902): pass receipt gate commit identity args
  .github/workflows/receipt-gate.yml
  tests/unit/validation/test_receipt_gate_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16709): restore sys.modules in the scaffold fixture so the OMN-14985 ratchet passes (#1601)
  tests/unit/cli/test_cli_new_scaffold_runnable.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml
