Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(ci): add handler.py to YAML validation allowlist for OMN-2759
  .yaml-validation-allowlist.yaml
Due: validate-string-versions

feat(omnibase_core): OMN-2759 — contract.verify.replay compute node (#566)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_check_status.py
  src/omnibase_core/enums/enum_overall_status.py
  src/omnibase_core/enums/enum_verify_tier.py
  src/omnibase_core/models/contract_verify_replay/__init__.py
  src/omnibase_core/models/contract_verify_replay/model_verify_check_result.py
  src/omnibase_core/models/contract_verify_replay/model_verify_options.py
  src/omnibase_core/models/contract_verify_replay/model_verify_replay_input.py
  src/omnibase_core/models/contract_verify_replay/model_verify_replay_output.py
  src/omnibase_core/nodes/node_contract_verify_replay_compute/__init__.py
  src/omnibase_core/nodes/node_contract_verify_replay_compute/contract.yaml
  src/omnibase_core/nodes/node_contract_verify_replay_compute/handler.py
  tests/unit/nodes/node_contract_verify_replay_compute/__init__.py
  tests/unit/nodes/node_contract_verify_replay_compute/test_node_contract_verify_replay_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(constants): normalize 3 topic names to 5-segment format [OMN-2813]
  src/omnibase_core/constants/constants_event_types.py
  src/omnibase_core/models/events/model_git_hook_event.py
  src/omnibase_core/models/events/model_github_pr_status_event.py
  src/omnibase_core/models/events/model_linear_snapshot_event.py
  tests/unit/constants/test_topic_naming.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(routing): add trust domain and resolution tier type system (OMN-2890)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_resolution_failure_code.py
  src/omnibase_core/enums/enum_resolution_tier.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/routing/__init__.py
  src/omnibase_core/models/routing/model_hop_constraints.py
  src/omnibase_core/models/routing/model_resolution_route_hop.py
  src/omnibase_core/models/routing/model_route_plan.py
  src/omnibase_core/models/routing/model_tier_attempt.py
  src/omnibase_core/models/routing/model_tiered_resolution_result.py
  src/omnibase_core/models/routing/model_trust_domain.py
  tests/unit/models/routing/__init__.py
  tests/unit/models/routing/test_enums.py
  tests/unit/models/routing/test_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(routing): add tiered resolution service with trust domain scoping (OMN-2891)
  src/omnibase_core/protocols/resolution/__init__.py
  src/omnibase_core/protocols/resolution/protocol_tiered_resolver.py
  src/omnibase_core/services/registry/filtered_provider_registry.py
  src/omnibase_core/services/service_tiered_resolver.py
  tests/unit/services/test_service_tiered_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(routing): add capability token and proof verification system (OMN-2892)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_proof_type.py
  src/omnibase_core/models/routing/__init__.py
  src/omnibase_core/models/routing/model_capability_token.py
  src/omnibase_core/models/routing/model_resolution_proof.py
  src/omnibase_core/nodes/node_contract_resolve_compute/contract.yaml
  src/omnibase_core/protocols/crypto/__init__.py
  src/omnibase_core/protocols/crypto/protocol_multi_key_provider.py
  src/omnibase_core/schemas/cli_contribution.v1.example.yaml
  src/omnibase_core/services/service_capability_token_verifier.py
  src/omnibase_core/services/service_tiered_resolver.py
  tests/unit/models/routing/test_capability_token_models.py
  tests/unit/services/test_service_capability_token_verifier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(routing): add policy bundle and classification gates (OMN-2893)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_classification.py
  src/omnibase_core/models/routing/__init__.py
  src/omnibase_core/models/routing/model_classification_gate.py
  src/omnibase_core/models/routing/model_policy_bundle.py
  src/omnibase_core/models/routing/model_redaction_policy.py
  src/omnibase_core/services/service_tiered_resolver.py
  tests/unit/models/routing/test_policy_bundle_models.py
  tests/unit/services/test_service_tiered_resolver_policy.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(routing): add resolution event ledger model (OMN-2895 Part 1)
  src/omnibase_core/models/routing/__init__.py
  src/omnibase_core/models/routing/model_resolution_event.py
  tests/unit/models/routing/test_resolution_event_model.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(contracts): add tiered resolution YAML schema extensions (OMN-2896 Part 1)
  src/omnibase_core/models/contracts/model_contract_capability_dependency.py
  src/omnibase_core/models/contracts/model_handler_contract.py
  src/omnibase_core/models/routing/__init__.py
  src/omnibase_core/models/routing/model_tiered_resolution_config.py
  src/omnibase_core/models/routing/model_trust_domain_config.py
  tests/unit/models/routing/test_contract_yaml_schema.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): add merge_queue trigger to prevent queue deadlock
  .github/workflows/test.yml
Due: validate-string-versions

fix(ci): correct event name to merge_group (not merge_queue)
  .github/workflows/test.yml
Due: validate-string-versions

fix(ci): add merge_queue trigger to prevent queue deadlock (#577)
  .github/workflows/test.yml
Due: validate-string-versions

release: omnibase_core v0.21.0
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

release: omnibase_core v0.21.0 (#578)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(objective): add canonical ModelRewardAssignedEvent bridging producer and consumer [OMN-2928]
  src/omnibase_core/models/objective/__init__.py
  src/omnibase_core/models/objective/model_reward_assigned_event.py
  tests/unit/models/objective/test_model_reward_assigned_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(objective): add canonical ModelRewardAssignedEvent bridging producer and consumer [OMN-2928] (#579)
  src/omnibase_core/models/objective/__init__.py
  src/omnibase_core/models/objective/model_reward_assigned_event.py
  tests/unit/models/objective/test_model_reward_assigned_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: fix stale database_ref in example contract
  examples/contracts/db_repository_example.yaml
Due: validate-string-versions

chore: fix stale database_ref in example contract (#580)
  examples/contracts/db_repository_example.yaml
Due: validate-string-versions

feat(validation): add docstring-aware AI-slop checker + tests
  scripts/validation/check_ai_slop.py
  tests/unit/scripts/validation/test_check_ai_slop.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore: add AI-slop pre-commit hook + CI gate; fix pre-existing model naming violations
  .github/workflows/omni-standards-compliance.yml
  .pre-commit-config.yaml
  src/omnibase_core/models/agents/__init__.py
  src/omnibase_core/models/agents/model_converter_agent_definition.py
  src/omnibase_core/models/intelligence/model_intelligence_helpers.py
  src/omnibase_core/models/intelligence/model_pattern_extraction_input.py
  src/omnibase_core/models/intelligence/model_pattern_extraction_output.py
  tests/unit/scripts/validation/test_check_ai_slop.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): remove Any type annotation from check_ai_slop JSON output
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(validation): avoid md_separator false-positive in checker's own docstring
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(validation): remove boilerplate/md-separator violations in changed files
  src/omnibase_core/models/agents/model_converter_agent_definition.py
  src/omnibase_core/models/intelligence/model_intelligence_helpers.py
  tests/unit/scripts/validation/test_check_ai_slop.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address CodeRabbit review comments
  .github/workflows/omni-standards-compliance.yml
  scripts/validation/check_ai_slop.py
  tests/unit/scripts/validation/test_check_ai_slop.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(registry): remove 17 redundant identical RLock docstrings
  src/omnibase_core/services/registry/service_registry_cli_contribution.py
  src/omnibase_core/services/registry/service_registry_provider.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): docstring-aware AI-slop checker + pre-commit hook + CI gate (#581)
  .github/workflows/omni-standards-compliance.yml
  .pre-commit-config.yaml
  scripts/validation/check_ai_slop.py
  src/omnibase_core/models/agents/__init__.py
  src/omnibase_core/models/agents/model_converter_agent_definition.py
  src/omnibase_core/models/intelligence/model_intelligence_helpers.py
  src/omnibase_core/models/intelligence/model_pattern_extraction_input.py
  src/omnibase_core/models/intelligence/model_pattern_extraction_output.py
  tests/unit/scripts/validation/test_check_ai_slop.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(registry): remove 17 redundant identical RLock docstrings (#582)
  src/omnibase_core/services/registry/service_registry_cli_contribution.py
  src/omnibase_core/services/registry/service_registry_provider.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(topics): align validation event topics to canonical onex.evt.* format
  src/omnibase_core/models/events/validation/__init__.py
  src/omnibase_core/models/events/validation/model_validation_run_completed_event.py
  src/omnibase_core/models/events/validation/model_validation_run_started_event.py
  src/omnibase_core/models/events/validation/model_validation_violations_batch_event.py
  tests/unit/models/events/validation/test_validation_events.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: fix pre-existing file-location violations for navigation model files
  scripts/validation/validate-file-locations.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(topics): remove AI-slop docstrings and fix ruff formatting
  src/omnibase_core/models/events/validation/__init__.py
  src/omnibase_core/models/events/validation/model_validation_run_completed_event.py
  src/omnibase_core/models/events/validation/model_validation_run_started_event.py
  src/omnibase_core/models/events/validation/model_validation_violations_batch_event.py
  tests/unit/models/events/validation/test_validation_events.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(topics): align validation event topics to canonical onex.evt.* format (OMN-3042) (#583)
  scripts/validation/validate-file-locations.py
  src/omnibase_core/models/events/validation/__init__.py
  src/omnibase_core/models/events/validation/model_validation_run_completed_event.py
  src/omnibase_core/models/events/validation/model_validation_run_started_event.py
  src/omnibase_core/models/events/validation/model_validation_violations_batch_event.py
  tests/unit/models/events/validation/test_validation_events.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

release: omnibase_core v0.22.0
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: suppress ai-slop-ok on pre-existing migration guide step headers in CHANGELOG
  CHANGELOG.md
Due: none

fix(validation): tune AI-slop checker v1.0 — scope step_narration to markdown only [OMN-3191]
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(validation): add markdown code fence tracking to AI-slop checker [OMN-3191]
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(validation): fix ruff PIE810 — use tuple form for startswith calls [OMN-3191]
  scripts/validation/check_ai_slop.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

release: omnibase_core v0.22.0 (#584)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): update TestStepNarration to use markdown files matching scoped check [OMN-3191]
  tests/unit/scripts/validation/test_check_ai_slop.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

[OMN-3191] fix(validation): tune AI-slop checker v1.0 — scope step_narration to markdown only (#585)
  scripts/validation/check_ai_slop.py
  tests/unit/scripts/validation/test_check_ai_slop.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml
