Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(OMN-20368): add done write receipt gate (#1852)
  pyproject.toml
  src/omnibase_core/enums/ticket/enum_ac_binding_check_status.py
  src/omnibase_core/handlers/handler_done_write_receipt_gate.py
  src/omnibase_core/models/ticket/model_ac_binding_row.py
  src/omnibase_core/models/ticket/model_done_write_decision.py
  tests/unit/handlers/test_handler_done_write_receipt_gate.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-19391): scan src for the removed B1 symbols, not only their paths
  tests/unit/test_no_model_literals_in_core.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-20068): port the no-untracked-todos pre-commit hook from OCC (#1856)
  .pre-commit-hooks.yaml
  src/omnibase_core/handlers/handler_todo_format.py
  src/omnibase_core/models/validation/model_todo_format_finding.py
  tests/unit/validators/test_handler_todo_format.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-19391): scan src for the removed B1 symbols, not only their paths (#1857)
  tests/unit/test_no_model_literals_in_core.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-20072): add OCC difference step to receipt-gate dod-verify
  .github/workflows/receipt-gate.yml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-20072): add OCC difference step to receipt-gate dod-verify (#1858)
  .github/workflows/receipt-gate.yml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-20375): every required dev context reports on merge_group (#1850)
  .github/workflows/merge-group-pr-scoped-contexts.yml
  .github/workflows/security-scan.yml
Due: validate-string-versions

test(OMN-17427): focused acceptance checks for OMN-17696 entrypoint JSON wire and OMN-17735 strict schema in both import orders
  tests/unit/models/core/test_omn17696_entrypoint_json_wire.py
  tests/unit/models/node_metadata/test_omn17735_strict_schema_both_orders.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-20396): the sprint roll's placement arithmetic as a canonical COMPUTE node
  src/omnibase_core/enums/enum_capacity_unit.py
  src/omnibase_core/models/nodes/sprint_roll/__init__.py
  src/omnibase_core/models/nodes/sprint_roll/model_criterion_proposal.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_placement.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_roll_plan.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_roll_request.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_ticket.py
  src/omnibase_core/nodes/node_sprint_roll_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_sprint_roll_compute/__init__.py
  src/omnibase_core/nodes/node_sprint_roll_compute/contract.yaml
  src/omnibase_core/nodes/node_sprint_roll_compute/handler.py
  src/omnibase_core/nodes/node_sprint_roll_compute/roll_core.py
  tests/unit/nodes/node_sprint_roll_compute/__init__.py
  tests/unit/nodes/node_sprint_roll_compute/test_node_sprint_roll_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20396): the placement dicts are keyed by sprint UUID, not by str
  src/omnibase_core/nodes/node_sprint_roll_compute/roll_core.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style(OMN-20396): ruff format the placement core
  src/omnibase_core/nodes/node_sprint_roll_compute/roll_core.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-20397): the sprint roll's Linear writes, journal and undo as an EFFECT node
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_roll_apply_request.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_roll_apply_result.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_roll_write.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/.rsd_provenance.json
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/__init__.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/contract.yaml
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/handler.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/runtime_sprint_roll_apply.py
  tests/unit/nodes/node_sprint_roll_apply_effect/__init__.py
  tests/unit/nodes/node_sprint_roll_apply_effect/test_node_sprint_roll_apply_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-20396): bump to 0.47.32 so the sprint-roll nodes can be released
  pyproject.toml
Due: none

fix(OMN-20397): the transport is httpx, which removes the suppression and the S310
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/runtime_sprint_roll_apply.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-20397): the drained sprint is resolved in the node, and the retry has tests
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/runtime_sprint_roll_apply.py
  tests/unit/nodes/node_sprint_roll_apply_effect/test_node_sprint_roll_apply_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-20396): the sprint roll's placement arithmetic as a canonical COMPUTE node (#1861)
  pyproject.toml
  src/omnibase_core/enums/enum_capacity_unit.py
  src/omnibase_core/models/nodes/sprint_roll/__init__.py
  src/omnibase_core/models/nodes/sprint_roll/model_criterion_proposal.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_placement.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_roll_plan.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_roll_request.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_ticket.py
  src/omnibase_core/nodes/node_sprint_roll_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_sprint_roll_compute/__init__.py
  src/omnibase_core/nodes/node_sprint_roll_compute/contract.yaml
  src/omnibase_core/nodes/node_sprint_roll_compute/handler.py
  src/omnibase_core/nodes/node_sprint_roll_compute/roll_core.py
  tests/unit/nodes/node_sprint_roll_compute/__init__.py
  tests/unit/nodes/node_sprint_roll_compute/test_node_sprint_roll_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20397): core owns the retry policy, the caller owns the HTTP client
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/runtime_sprint_roll_apply.py
  tests/unit/nodes/node_sprint_roll_apply_effect/test_node_sprint_roll_apply_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20397): a journalled value is always a tuple of ids, and the SPDX header is back
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_roll_write.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/handler.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/runtime_sprint_roll_apply.py
  tests/unit/nodes/node_sprint_roll_apply_effect/test_node_sprint_roll_apply_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20397): the GraphQL payload is JsonValue, and every access is narrowed
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/handler.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/runtime_sprint_roll_apply.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-20397): the sprint roll's Linear writes, journal and undo as an EFFECT node (#1862)
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_roll_apply_request.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_roll_apply_result.py
  src/omnibase_core/models/nodes/sprint_roll/model_sprint_roll_write.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/.rsd_provenance.json
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/__init__.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/contract.yaml
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/handler.py
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/runtime_sprint_roll_apply.py
  tests/unit/nodes/node_sprint_roll_apply_effect/__init__.py
  tests/unit/nodes/node_sprint_roll_apply_effect/test_node_sprint_roll_apply_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-20068): run no-untracked-todos and no-untyped-metadata from this repository, not onex_change_control
  .github/precommit-suite-skip.yaml
  .pre-commit-config.yaml
  scripts/check_no_untyped_metadata.py
  tests/ci/test_precommit_hooks_local_omn20068.py
  tests/ci/test_precommit_suite_job_omn18899.py
  tests/scripts/test_check_no_untyped_metadata.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-20068): run no-untracked-todos and no-untyped-metadata from this repository, not onex_change_control (#1863)
  .github/precommit-suite-skip.yaml
  .pre-commit-config.yaml
  scripts/check_no_untyped_metadata.py
  tests/ci/test_precommit_hooks_local_omn20068.py
  tests/ci/test_precommit_suite_job_omn18899.py
  tests/scripts/test_check_no_untyped_metadata.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17427): onex run-node authenticates to a SASL lane broker
  pyproject.toml
  src/omnibase_core/cli/cli_run_node.py
  tests/unit/cli/test_cli_run_node_sasl.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20070): the merge-base control requires only the evidence a pull request adds or changes to fail
  .github/workflows/receipt-gate.yml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17427): canonical-file-shape reads blobs through temporary files, not a stdin pipe
  pyproject.toml
  src/omnibase_core/validators/canonical_file_shape.py
  tests/unit/validators/test_canonical_file_shape.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20070): the merge-base control requires only the evidence a pull request adds or changes to fail (#1867)
  .github/workflows/receipt-gate.yml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17427): a binding for a merged fix must fail at the merge base with that fix reverted
  .github/workflows/receipt-gate.yml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
  tests/ci/test_receipt_gate_merged_fix_control_omn17427.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-20068): read OCC contracts from legacy and per-PR files
  pyproject.toml
  src/omnibase_core/handlers/handler_occ_contract_view.py
  src/omnibase_core/models/validation/model_occ_contract_source.py
  src/omnibase_core/models/validation/model_occ_contract_view.py
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  src/omnibase_core/validation/validator_receipt_diff_consistency.py
  src/omnibase_core/validation/validator_receipt_gate.py
  tests/unit/validation/test_occ_contract_view_layouts.py
  tests/unit/validation/test_validator_receipt_diff_consistency.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17427): resolve CodeQL error in test_canonical_file_shape
  tests/unit/validators/test_canonical_file_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17427): onex run-node authenticates to a SASL lane broker (#1865)
  pyproject.toml
  src/omnibase_core/cli/cli_run_node.py
  tests/unit/cli/test_cli_run_node_sasl.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-20068): read OCC contracts from legacy and per-PR files (#1870)
  src/omnibase_core/handlers/handler_occ_contract_view.py
  src/omnibase_core/models/validation/model_occ_contract_source.py
  src/omnibase_core/models/validation/model_occ_contract_view.py
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  src/omnibase_core/validation/validator_receipt_diff_consistency.py
  src/omnibase_core/validation/validator_receipt_gate.py
  tests/unit/validation/test_occ_contract_view_layouts.py
  tests/unit/validation/test_validator_receipt_diff_consistency.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-17427): focused acceptance checks for OMN-17696 entrypoint JSON wire and OMN-17735 strict schema in both import orders (#1860)
  tests/unit/models/core/test_omn17696_entrypoint_json_wire.py
  tests/unit/models/node_metadata/test_omn17735_strict_schema_both_orders.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17427): bind the acceptance criteria of a merged delegation vocabulary fix to checks that fail when the criterion is false
  contracts/OMN-19060.yaml
Due: validate-string-versions

fix(OMN-17427): bind the acceptance criteria of a merged delegation vocabulary fix to checks that fail when the criterion is false (#1866)
  contracts/OMN-19060.yaml
Due: validate-string-versions

fix(OMN-17427): canonical-file-shape reads blobs through temporary files, not a stdin pipe (#1868)
  src/omnibase_core/validators/canonical_file_shape.py
  tests/unit/validators/test_canonical_file_shape.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(enums): pin delegation enum contracts (OMN-17427)
  tests/unit/enums/test_delegation_enum_contracts.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20397): three defects a live dry run found, and the test that each needed
  pyproject.toml
  src/omnibase_core/nodes/node_sprint_roll_apply_effect/handler.py
  src/omnibase_core/nodes/node_sprint_roll_compute/roll_core.py
  tests/unit/nodes/node_sprint_roll_apply_effect/test_node_sprint_roll_apply_effect.py
  tests/unit/nodes/node_sprint_roll_compute/test_node_sprint_roll_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-20427): RED - an unreadable PR body must wait as body_unresolved, not FAIL_NOW
  tests/ci/test_occ_preflight_wait_body_unresolved.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20427): occ-preflight retries an unreadable PR body inside the existing budget
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_omn17864.py
  tests/ci/test_occ_preflight_wait_terminal_decline_omn18647.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
