Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

ci(OMN-13332): wire occ-preflight / eligibility as gate via call-occ-preflight
  .github/workflows/call-occ-preflight.yml
Due: validate-string-versions

feat(OMN-13576): wire spdx-headers as a required CI gate (burn down baseline ratchet)
  .github/workflows/ci.yml
  architecture-handshakes/validator-requirements-baseline.yaml
  architecture-handshakes/validator-requirements.yaml
  scripts/validation/validate-single-class-per-file.py
  src/omnibase_core/models/runtime/golden_chain/__init__.py
  src/omnibase_core/models/runtime/golden_chain/model_golden_chain_fixture.py
  src/omnibase_core/models/validation/model_rollup_coverage_gap.py
  src/omnibase_core/runtime/golden_chain/record_guard.py
  src/omnibase_core/validation/validator_rollup_coverage.py
  tests/unit/runtime/golden_chain/__init__.py
  tests/unit/runtime/golden_chain/test_recorded_replay_transport.py
  tests/validation/test_validator_rollup_coverage.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-13332): wire occ-preflight / eligibility as gate via call-occ-preflight (#1341)
  .github/workflows/call-occ-preflight.yml
Due: validate-string-versions

ci(OMN-13332): pin occ-preflight evidence source
  .github/workflows/occ-preflight.yml
Due: validate-string-versions

feat(OMN-13576): wire spdx-headers as a required CI gate (burn down baseline ratchet) (#1342)
  .github/workflows/ci.yml
  architecture-handshakes/validator-requirements-baseline.yaml
  architecture-handshakes/validator-requirements.yaml
  scripts/validation/validate-single-class-per-file.py
  src/omnibase_core/models/runtime/golden_chain/__init__.py
  src/omnibase_core/models/runtime/golden_chain/model_golden_chain_fixture.py
  src/omnibase_core/models/validation/model_rollup_coverage_gap.py
  src/omnibase_core/runtime/golden_chain/record_guard.py
  src/omnibase_core/validation/validator_rollup_coverage.py
  tests/unit/runtime/golden_chain/__init__.py
  tests/unit/runtime/golden_chain/test_recorded_replay_transport.py
  tests/validation/test_validator_rollup_coverage.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-13332): pin occ-preflight to Evidence-Source OCC SHA (#1344)
  .github/workflows/occ-preflight.yml
Due: validate-string-versions

chore(OMN-13447): backmerge omnibase_core main->dev (prereq for 0.46.0 promotion) (#1345)
  .github/workflows/main-target-guard.yml
  .github/workflows/occ-preflight.yml
  CHANGELOG.md
Due: validate-string-versions

feat(OMN-13613): canonical Shared Experiment Result Contract in core shared models
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_experiment_status.py
  src/omnibase_core/enums/enum_experiment_type.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/experiment/__init__.py
  src/omnibase_core/models/experiment/model_experiment_cost.py
  src/omnibase_core/models/experiment/model_experiment_evidence_ref.py
  src/omnibase_core/models/experiment/model_experiment_result.py
  src/omnibase_core/models/experiment/model_experiment_score.py
  tests/unit/models/experiment/__init__.py
  tests/unit/models/experiment/test_model_experiment_result.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13613): canonical Shared Experiment Result Contract in core shared models (#1346)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_experiment_status.py
  src/omnibase_core/enums/enum_experiment_type.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/experiment/__init__.py
  src/omnibase_core/models/experiment/model_experiment_cost.py
  src/omnibase_core/models/experiment/model_experiment_evidence_ref.py
  src/omnibase_core/models/experiment/model_experiment_result.py
  src/omnibase_core/models/experiment/model_experiment_score.py
  tests/unit/models/experiment/__init__.py
  tests/unit/models/experiment/test_model_experiment_result.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13609): port model-class-existence check into canonical validator platform
  .github/workflows/validator-generated-node-model-class-exists.yml
  .pre-commit-config.yaml
  src/omnibase_core/validation/validator_contract_linter.py
  src/omnibase_core/validators/generated_node_model_class_exists.py
  tests/unit/validation/test_validator_contract_linter.py
  tests/unit/validators/test_generated_node_model_class_exists.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13609): port model-class-existence check into canonical validator platform (#1347)
  .github/workflows/validator-generated-node-model-class-exists.yml
  .pre-commit-config.yaml
  src/omnibase_core/validation/validator_contract_linter.py
  src/omnibase_core/validators/generated_node_model_class_exists.py
  tests/unit/validation/test_validator_contract_linter.py
  tests/unit/validators/test_generated_node_model_class_exists.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13646): add context_pack_hash to ModelDelegationResult wire DTO
  pyproject.toml
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13646): add context_pack_hash to ModelDelegationResult wire DTO (#1348)
  pyproject.toml
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13649): carry resolved cost_tier_name onto ModelDelegationResult terminal
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13649): carry resolved cost_tier_name onto ModelDelegationResult terminal (#1349)
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13663): projection exposure⇄column drift validator
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  src/omnibase_core/enums/enum_projection_exposure_drift.py
  src/omnibase_core/models/validation/model_projection_exposure_finding.py
  src/omnibase_core/validators/projection_exposure_drift.py
  tests/unit/validators/test_projection_exposure_drift.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(OMN-12546): S-1b promote rich ModelDispatchResult + companions to core
  src/omnibase_core/models/dispatch/__init__.py
  src/omnibase_core/models/dispatch/model_dispatch_metadata.py
  src/omnibase_core/models/dispatch/model_dispatch_outputs.py
  src/omnibase_core/models/dispatch/model_dispatch_result.py
  src/omnibase_core/models/dispatch/model_handler_ref.py
  src/omnibase_core/protocols/handler/protocol_handler_context.py
  src/omnibase_core/runtime/runtime_message_dispatch.py
  tests/unit/runtime/test_handler_registry.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13663): projection exposure⇄column drift validator (#1350)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  src/omnibase_core/enums/enum_projection_exposure_drift.py
  src/omnibase_core/models/validation/model_projection_exposure_finding.py
  src/omnibase_core/validators/projection_exposure_drift.py
  tests/unit/validators/test_projection_exposure_drift.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12546): remove broken link to deleted runtime_message_dispatch.py in REQUEST_TRACING.md
  docs/guides/REQUEST_TRACING.md
Due: none

refactor(OMN-12546): S-1b promote rich ModelDispatchResult + ModelDispatchOutputs/Metadata/HandlerRef to core (#1351)
  docs/guides/REQUEST_TRACING.md
  src/omnibase_core/models/dispatch/__init__.py
  src/omnibase_core/models/dispatch/model_dispatch_metadata.py
  src/omnibase_core/models/dispatch/model_dispatch_outputs.py
  src/omnibase_core/models/dispatch/model_dispatch_result.py
  src/omnibase_core/models/dispatch/model_handler_ref.py
  src/omnibase_core/protocols/handler/protocol_handler_context.py
  src/omnibase_core/runtime/runtime_message_dispatch.py
  tests/unit/runtime/test_handler_registry.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13136): add util_omni_home_paths — canonical OMNI_HOME-derived path resolver
  src/omnibase_core/utils/__init__.py
  src/omnibase_core/utils/util_omni_home_paths.py
  tests/unit/utils/test_util_omni_home_paths.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13136): add util_omni_home_paths — canonical OMNI_HOME-derived path resolver (#1352)
  src/omnibase_core/utils/__init__.py
  src/omnibase_core/utils/util_omni_home_paths.py
  tests/unit/utils/test_util_omni_home_paths.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(OMN-12547): S-1c unify ModelHandlerRoutingEntry — remove dead validators, rewrite build_routing_table for 5-field shape
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_entry.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_subcontract.py
  tests/unit/mixins/test_mixin_handler_routing.py
  tests/unit/models/contracts/test_model_contract_base_extensions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12547): add dispatch-surface-test-ok suppression token
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_subcontract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12547): align routing tests with live handler shape
  src/omnibase_core/normalization/contract_normalizer.py
  tests/unit/normalization/test_batch_validator.py
  tests/unit/normalization/test_contract_normalizer.py
  tests/unit/normalization/test_contract_validator.py
  tests/unit/normalization/test_e2e_contract_validation.py
  tests/unit/validation/test_zero_code_invariants.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(OMN-12547): S-1c unify ModelHandlerRoutingEntry — remove dead validators, rewrite build_routing_table for 5-field shape (#1353)
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_entry.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_subcontract.py
  src/omnibase_core/normalization/contract_normalizer.py
  tests/unit/mixins/test_mixin_handler_routing.py
  tests/unit/models/contracts/test_model_contract_base_extensions.py
  tests/unit/normalization/test_batch_validator.py
  tests/unit/normalization/test_contract_normalizer.py
  tests/unit/normalization/test_contract_validator.py
  tests/unit/normalization/test_e2e_contract_validation.py
  tests/unit/validation/test_zero_code_invariants.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13024): UI evidence-class gate in Receipt-Gate
  src/omnibase_core/enums/governance/__init__.py
  src/omnibase_core/enums/governance/enum_evidence_class.py
  src/omnibase_core/models/contracts/ticket/model_dod_receipt.py
  src/omnibase_core/validation/validator_receipt_gate.py
  tests/unit/validation/test_receipt_gate_ui_evidence_class.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13024): UI evidence-class gate in Receipt-Gate (#1354)
  src/omnibase_core/enums/governance/__init__.py
  src/omnibase_core/enums/governance/enum_evidence_class.py
  src/omnibase_core/models/contracts/ticket/model_dod_receipt.py
  src/omnibase_core/validation/validator_receipt_gate.py
  tests/unit/validation/test_receipt_gate_ui_evidence_class.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-13706): add unit tests for renderer_report_cli.py — 17% → 98.84% coverage
  tests/unit/rendering/test_renderer_report_cli.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-13705): add unit tests for gate/receipt_canonical.py — 35% → 100% coverage
  contracts/OMN-13705.yaml
  tests/unit/gate/test_receipt_canonical.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-13705): add unit tests for gate/receipt_canonical.py — 35% → 100% coverage (#1358)
  contracts/OMN-13705.yaml
  tests/unit/gate/test_receipt_canonical.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-13721): cover error-path gaps in crypto_file_key_provider (85% → 98%)
  contracts/OMN-13721.yaml
  tests/unit/crypto/test_crypto_file_key_provider.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-13704): add unit tests for RendererReportJson — 100% branch coverage
  tests/unit/rendering/test_renderer_report_json.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-13706): add unit tests for renderer_report_cli.py — 17% → 98.84% coverage (#1356)
  tests/unit/rendering/test_renderer_report_cli.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-13704): add unit tests for RendererReportJson — 100% branch coverage (#1357)
  tests/unit/rendering/test_renderer_report_json.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-13721): cover error-path gaps in crypto_file_key_provider (85% → 98%) (#1359)
  contracts/OMN-13721.yaml
  tests/unit/crypto/test_crypto_file_key_provider.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-13703): Phase 3a — StructuredLogEntry schema unification + topic registry
  contracts/OMN-13703.yaml
  src/omnibase_core/contracts/topic_registry.yaml
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_log_entry_status.py
  src/omnibase_core/enums/enum_redaction_state.py
  src/omnibase_core/enums/enum_suppression_decision.py
  src/omnibase_core/models/logging/__init__.py
  src/omnibase_core/models/logging/model_structured_log_entry.py
  src/omnibase_core/topics.py
  tests/unit/models/logging/test_model_structured_log_entry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
