Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(state): address PR #190 final review - timeout marker and docstrings
  docs/architecture/decisions/ADR-002-context-mutability-design-decision.md
  src/omnibase_core/models/workflow/execution/__init__.py
  src/omnibase_core/models/workflow/execution/model_workflow_state_snapshot.py
  src/omnibase_core/nodes/node_orchestrator.py
  src/omnibase_core/nodes/node_reducer.py
  tests/unit/models/workflow/test_model_workflow_state_snapshot_pii.py
  tests/unit/nodes/test_node_state_serialization.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): fix CI test failures for introspection and contract tests
  contracts/runtime/event_bus_wiring_effect.yaml
  src/omnibase_core/models/discovery/model_introspection_response_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(state): address PR #190 minor suggestions - deep_copy, enforce, comments
  src/omnibase_core/mixins/mixin_workflow_execution.py
  src/omnibase_core/models/workflow/execution/model_workflow_state_snapshot.py
  src/omnibase_core/nodes/node_orchestrator.py
  src/omnibase_core/nodes/node_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(release): comprehensive PR #192 review fixes from polymorphic agents [OMN-218]
  docs/release/V040_RELEASE_CHECKLIST.md
Due: none

fix(pii): make regex patterns order-independent for UUID/phone/IPv6
  src/omnibase_core/models/workflow/execution/model_workflow_state_snapshot.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(release): final PR #192 review fixes - hash rationales, sign-off checklist [OMN-218]
  docs/release/V040_RELEASE_CHECKLIST.md
Due: none

docs(release): add v0.4.0 hardened release gate checklist [OMN-218] (#192)
  docs/release/V040_RELEASE_CHECKLIST.md
Due: none

fix(models): address PR #186 review feedback - nitpicks and improvements
  src/omnibase_core/models/common/model_envelope_payload.py
  src/omnibase_core/models/common/model_validation_result.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_state_definition.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_state_transition.py
  src/omnibase_core/models/contracts/subcontracts/model_fsmtransitionaction.py
  src/omnibase_core/models/core/model_hub_configuration.py
  src/omnibase_core/models/core/model_missing_tool.py
  src/omnibase_core/models/core/model_node_introspection.py
  src/omnibase_core/models/core/model_node_reference.py
  src/omnibase_core/models/discovery/model_discovery_error.py
  src/omnibase_core/models/discovery/model_discovery_response.py
  src/omnibase_core/models/discovery/model_discovery_timeout_error.py
  src/omnibase_core/models/discovery/model_introspection_response_event.py
  src/omnibase_core/models/discovery/model_nodeintrospectionevent.py
  src/omnibase_core/models/discovery/model_tooldiscoveryresponse.py
  src/omnibase_core/models/events/model_runtime_event_base.py
  src/omnibase_core/models/fsm/model_fsm_data_primary.py
  src/omnibase_core/models/fsm/model_fsm_operation.py
  src/omnibase_core/models/fsm/model_fsm_state.py
  src/omnibase_core/models/fsm/model_fsm_transition.py
  src/omnibase_core/models/fsm/model_fsm_transition_action.py
  src/omnibase_core/models/fsm/model_fsm_transition_condition.py
  src/omnibase_core/models/fsm/model_fsm_transition_result.py
  src/omnibase_core/models/health/model_health_status.py
  src/omnibase_core/models/health/model_tool_health.py
  src/omnibase_core/models/metadata/model_node_info_summary.py
  src/omnibase_core/models/metadata/model_structured_tags.py
  src/omnibase_core/models/node_metadata/model_function_documentation.py
  src/omnibase_core/models/node_metadata/model_function_relationships.py
  src/omnibase_core/models/node_metadata/model_node_capabilities_info.py
  src/omnibase_core/models/node_metadata/model_node_organization_metadata.py
  src/omnibase_core/models/orchestrator/model_action.py
  src/omnibase_core/models/reducer/model_intent.py
  src/omnibase_core/models/registry/model_registry_health_report.py
  src/omnibase_core/models/security/model_secure_credentials.py
  src/omnibase_core/models/security/model_signature_chain.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(state): address PR #190 nitpicks - schema_version, json mode, test docstrings
  src/omnibase_core/models/workflow/execution/model_workflow_state_snapshot.py
  src/omnibase_core/nodes/node_reducer.py
  tests/unit/nodes/test_node_state_serialization.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #186 review feedback - release ready improvements
  src/omnibase_core/models/common/model_envelope_payload.py
  src/omnibase_core/models/common/model_flexible_value.py
  src/omnibase_core/models/common/model_mixin_config_schema.py
  src/omnibase_core/models/common/model_operation_data.py
  src/omnibase_core/models/common/model_output_reference.py
  src/omnibase_core/models/common/model_query_parameters.py
  src/omnibase_core/models/common/model_schema_value.py
  src/omnibase_core/models/common/model_validation_issue.py
  src/omnibase_core/models/common/model_value_container.py
  src/omnibase_core/models/core/model_generic_collection.py
  src/omnibase_core/models/core/model_mixin_metadata_collection.py
  src/omnibase_core/models/core/model_unified_hub_contract.py
  src/omnibase_core/models/events/model_node_graph_ready_event.py
  src/omnibase_core/models/utils/model_yaml_value.py
  tests/unit/models/common/test_model_query_parameters.py
  tests/unit/scripts/test_regenerate_fingerprints.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): fix Pydantic validation errors for config_schema and typed mapping
  src/omnibase_core/models/common/model_config_schema_property.py
  src/omnibase_core/models/common/model_mixin_config_schema.py
  tests/unit/models/common/test_model_typed_mapping.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(state): address PR #190 high-value enhancements and documentation
  src/omnibase_core/models/workflow/execution/model_workflow_state_snapshot.py
  src/omnibase_core/nodes/node_orchestrator.py
  src/omnibase_core/nodes/node_reducer.py
  tests/unit/models/workflow/test_model_workflow_state_snapshot_pii.py
  tests/unit/nodes/test_node_state_serialization.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(state): address PR #190 review feedback - documentation, security, and validation
  docs/reference/API_DOCUMENTATION.md
  src/omnibase_core/models/common/model_effect_metadata.py
  src/omnibase_core/models/common/model_node_capabilities_metadata.py
  src/omnibase_core/models/common/model_reducer_metadata.py
  src/omnibase_core/models/common/model_request_metadata.py
  src/omnibase_core/models/common/model_tool_metadata_fields.py
  src/omnibase_core/models/configuration/model_git_hub_actions_workflow.py
  src/omnibase_core/models/configuration/model_git_hub_workflow_concurrency.py
  src/omnibase_core/models/configuration/model_git_hub_workflow_data.py
  src/omnibase_core/models/configuration/model_git_hub_workflow_defaults.py
  src/omnibase_core/models/container/model_service_metadata.py
  src/omnibase_core/models/contracts/subcontracts/model_workflow_definition_metadata.py
  src/omnibase_core/models/fsm/model_fsm_state_snapshot.py
  src/omnibase_core/models/workflow/__init__.py
  src/omnibase_core/models/workflow/execution/__init__.py
  src/omnibase_core/models/workflow/execution/model_workflow_state_snapshot.py
  src/omnibase_core/nodes/node_orchestrator.py
  src/omnibase_core/nodes/node_reducer.py
  tests/unit/models/core/test_model_route_hop.py
  tests/unit/models/workflow/test_model_workflow_state_snapshot_pii.py
  tests/unit/nodes/test_node_state_serialization.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): resolve fingerprint version extraction for YAML contracts [OMN-218]
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  scripts/regenerate_fingerprints.py
  src/omnibase_core/contracts/hash_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release): bump version to 0.4.0 and minor cleanup [OMN-218]
  pyproject.toml
  src/omnibase_core/models/common/model_envelope_payload.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(scripts): update test to expect ModelYamlContractFull [OMN-218]
  tests/unit/scripts/test_regenerate_fingerprints.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(contracts): add duck-typing and error path coverage for hash_registry [OMN-218]
  scripts/regenerate_fingerprints.py
  src/omnibase_core/contracts/hash_registry.py
  tests/unit/contracts/test_hash_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Reapply "feat(protocols): add ProtocolHttpClient and refactor health check [OM…" (#164)
  scripts/check_transport_imports.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/http/__init__.py
  src/omnibase_core/protocols/http/protocol_http_client.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/converter_health_to_typed_dict.py
  src/omnibase_core/types/typed_dict_converted_health.py
  src/omnibase_core/types/typed_dict_health_status.py
  tests/integration/mixins/__init__.py
  tests/integration/mixins/test_mixin_health_check_integration.py
  tests/integration/scripts/test_check_transport_imports_integration.py
  tests/unit/mixins/test_mixin_health_check.py
  tests/unit/test_thread_safety.py
  tests/unit/validation/test_fsm_analysis.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(health-check): address PR #203 code review feedback
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/protocols/http/protocol_http_client.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

reapply: ProtocolHttpClient and health check refactor [OMN-566] (#203)
  scripts/check_transport_imports.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/http/__init__.py
  src/omnibase_core/protocols/http/protocol_http_client.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/converter_health_to_typed_dict.py
  src/omnibase_core/types/typed_dict_converted_health.py
  src/omnibase_core/types/typed_dict_health_status.py
  tests/integration/mixins/__init__.py
  tests/integration/mixins/test_mixin_health_check_integration.py
  tests/integration/scripts/test_check_transport_imports_integration.py
  tests/unit/mixins/test_mixin_health_check.py
  tests/unit/test_thread_safety.py
  tests/unit/validation/test_fsm_analysis.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): resolve fingerprint version extraction for v0.4.0 release [OMN-218] (#202)
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  pyproject.toml
  scripts/regenerate_fingerprints.py
  src/omnibase_core/contracts/hash_registry.py
  src/omnibase_core/models/common/model_envelope_payload.py
  tests/unit/contracts/test_hash_registry.py
  tests/unit/scripts/test_regenerate_fingerprints.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): replace dict[str, Any] metadata with typed models [OMN-847]
  src/omnibase_core/models/common/model_reducer_metadata.py
  src/omnibase_core/models/effect/model_effect_input.py
  src/omnibase_core/models/effect/model_effect_output.py
  src/omnibase_core/models/events/model_event_envelope.py
  src/omnibase_core/models/reducer/model_reducer_input.py
  src/omnibase_core/nodes/node_reducer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): replace hybrid dict types with pure typed metadata models [OMN-847]
  src/omnibase_core/mixins/mixin_service_registry.py
  src/omnibase_core/models/core/model_action_metadata.py
  src/omnibase_core/models/core/model_environment.py
  src/omnibase_core/models/core/model_node_action_validator.py
  src/omnibase_core/models/events/model_event_envelope.py
  src/omnibase_core/models/orchestrator/model_action.py
  src/omnibase_core/utils/workflow_executor.py
  tests/unit/models/core/test_model_action_metadata.py
  tests/unit/models/events/test_model_event_envelope.py
  tests/unit/models/orchestrator/test_model_action.py
  tests/unit/orchestrator/test_orchestrator_models.py
  tests/unit/utils/test_workflow_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(decorators): re-add allow_dict_any decorator module
  src/omnibase_core/decorators/__init__.py
  src/omnibase_core/decorators/allow_dict_any.py
  src/omnibase_core/models/events/model_event_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(metadata): address all PR #204 review issues [OMN-847]
  src/omnibase_core/models/core/model_action_metadata.py
  src/omnibase_core/models/reducer/model_reducer_output.py
  src/omnibase_core/nodes/node_reducer.py
  tests/unit/models/common/test_model_metadata_validation.py
  tests/unit/models/core/test_model_action_metadata.py
  tests/unit/nodes/test_node_reducer_determinism.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): update metadata access for typed metadata models [OMN-847]
  tests/unit/nodes/test_declarative_nodes.py
  tests/unit/orchestrator/test_action_creation.py
  tests/unit/orchestrator/test_orchestrator_e2e.py
  tests/unit/orchestrator/test_workflow_execution.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(models): eliminate hybrid dict types for pure type safety [OMN-847] (#204)
  src/omnibase_core/decorators/__init__.py
  src/omnibase_core/decorators/allow_dict_any.py
  src/omnibase_core/mixins/mixin_service_registry.py
  src/omnibase_core/models/common/model_reducer_metadata.py
  src/omnibase_core/models/core/model_action_metadata.py
  src/omnibase_core/models/core/model_environment.py
  src/omnibase_core/models/core/model_node_action_validator.py
  src/omnibase_core/models/effect/model_effect_input.py
  src/omnibase_core/models/effect/model_effect_output.py
  src/omnibase_core/models/events/model_event_envelope.py
  src/omnibase_core/models/orchestrator/model_action.py
  src/omnibase_core/models/reducer/model_reducer_input.py
  src/omnibase_core/models/reducer/model_reducer_output.py
  src/omnibase_core/nodes/node_reducer.py
  src/omnibase_core/utils/workflow_executor.py
  tests/unit/models/common/test_model_metadata_validation.py
  tests/unit/models/core/test_model_action_metadata.py
  tests/unit/models/events/test_model_event_envelope.py
  tests/unit/models/orchestrator/test_model_action.py
  tests/unit/nodes/test_declarative_nodes.py
  tests/unit/nodes/test_node_reducer_determinism.py
  tests/unit/orchestrator/test_action_creation.py
  tests/unit/orchestrator/test_orchestrator_e2e.py
  tests/unit/orchestrator/test_orchestrator_models.py
  tests/unit/orchestrator/test_workflow_execution.py
  tests/unit/utils/test_workflow_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(tests): complete OMN-594 comprehensive unit tests for ModelReducerInput/Output [OMN-594]
  tests/unit/models/reducer/test_model_reducer_input.py
  tests/unit/models/reducer/test_model_reducer_output.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(tests): enhance ModelReducerInput/Output tests per PR review [OMN-594]
  tests/unit/models/reducer/test_model_reducer_input.py
  tests/unit/models/reducer/test_model_reducer_output.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(reducer): document negative value semantics and improve test quality [PR #205]
  src/omnibase_core/models/reducer/model_reducer_output.py
  tests/unit/models/reducer/test_model_reducer_output.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(reducer): document negative value semantics and improve test quality [PR #205]
  src/omnibase_core/models/reducer/model_reducer_output.py
  tests/unit/models/reducer/test_model_reducer_input.py
  tests/unit/models/reducer/test_model_reducer_output.py
  tests/unit/models/reducer/test_model_reducer_output_concurrency.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(reducer): standardize exception types and enhance sentinel validation [PR #205]
  src/omnibase_core/models/reducer/model_reducer_output.py
  tests/unit/models/reducer/test_model_reducer_output.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(reducer): address all PR #205 review feedback [OMN-594]
  docs/INDEX.md
  docs/architecture/decisions/REDUCER_OUTPUT_EXCEPTION_CONSISTENCY_ANALYSIS.md
  src/omnibase_core/models/reducer/model_reducer_output.py
  tests/unit/models/reducer/test_model_reducer_output.py
  tests/unit/models/reducer/test_model_reducer_output_enhanced.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(reducer): fix ADR executive summary to reflect ModelOnexError usage [OMN-594]
  docs/architecture/decisions/REDUCER_OUTPUT_EXCEPTION_CONSISTENCY_ANALYSIS.md
Due: none

feat(reducer): complete all PR #205 review feedback [OMN-594]
  docs/architecture/decisions/REDUCER_OUTPUT_EXCEPTION_CONSISTENCY_ANALYSIS.md
  docs/performance/MODEL_REDUCER_OUTPUT_BENCHMARKS.md
  tests/performance/test_model_reducer_output_benchmarks.py
  tests/unit/models/reducer/test_model_reducer_output.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(quality): improve test naming, performance docs, and ADR practices
  CLAUDE.md
  docs/INDEX.md
  docs/architecture/decisions/ADR-001-protocol-based-di-architecture.md
  docs/architecture/decisions/ADR_BEST_PRACTICES.md
  docs/architecture/decisions/REDUCER_OUTPUT_EXCEPTION_CONSISTENCY_ANALYSIS.md
  docs/performance/PERFORMANCE_BENCHMARK_THRESHOLDS.md
  tests/performance/test_model_reducer_output_benchmarks.py
  tests/unit/container/test_service_registry_performance.py
  tests/unit/models/reducer/test_model_reducer_error_cases.py
  tests/unit/models/reducer/test_model_reducer_output_validation.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(reducer): address all PR #205 review feedback [OMN-594]
  docs/INDEX.md
  docs/architecture/adr/ADR-012-VALIDATOR-ERROR-HANDLING.md
  docs/architecture/decisions/ADR-001-protocol-based-di-architecture.md
  docs/architecture/decisions/ADR-002-context-mutability-design-decision.md
  docs/architecture/decisions/ADR-003-reducer-output-exception-consistency.md
  docs/architecture/decisions/ADR_BEST_PRACTICES.md
  docs/architecture/decisions/ADR_FIXES_SUMMARY.md
  docs/architecture/decisions/INDEX.md
  docs/architecture/decisions/RISK-009-ci-workflow-modification-risk.md
  docs/ci/PERFORMANCE_BENCHMARK_CI_INTEGRATION.md
  docs/conventions/ERROR_HANDLING_BEST_PRACTICES.md
  docs/performance/PERFORMANCE_BENCHMARK_THRESHOLDS.md
  docs/testing/PERFORMANCE_TESTING_GUIDE.md
  poetry.lock
  pyproject.toml
  src/omnibase_core/models/reducer/model_reducer_output.py
  tests/performance/test_model_reducer_output_benchmarks.py
  tests/unit/models/reducer/test_model_reducer_input.py
  tests/unit/models/reducer/test_model_reducer_output.py
  tests/unit/models/reducer/test_model_reducer_output_validation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(tests): complete OMN-594 comprehensive unit tests for ModelReducerInput/Output [OMN-594] (#205)
  CLAUDE.md
  docs/INDEX.md
  docs/architecture/adr/ADR-012-VALIDATOR-ERROR-HANDLING.md
  docs/architecture/decisions/ADR-001-protocol-based-di-architecture.md
  docs/architecture/decisions/ADR-002-context-mutability-design-decision.md
  docs/architecture/decisions/ADR-003-reducer-output-exception-consistency.md
  docs/architecture/decisions/ADR_BEST_PRACTICES.md
  docs/architecture/decisions/ADR_FIXES_SUMMARY.md
  docs/architecture/decisions/INDEX.md
  docs/architecture/decisions/RISK-009-ci-workflow-modification-risk.md
  docs/ci/PERFORMANCE_BENCHMARK_CI_INTEGRATION.md
  docs/conventions/ERROR_HANDLING_BEST_PRACTICES.md
  docs/performance/MODEL_REDUCER_OUTPUT_BENCHMARKS.md
  docs/performance/PERFORMANCE_BENCHMARK_THRESHOLDS.md
  docs/testing/PERFORMANCE_TESTING_GUIDE.md
  poetry.lock
  pyproject.toml
  src/omnibase_core/models/reducer/model_reducer_output.py
  tests/performance/test_model_reducer_output_benchmarks.py
  tests/unit/container/test_service_registry_performance.py
  tests/unit/models/reducer/test_model_reducer_error_cases.py
  tests/unit/models/reducer/test_model_reducer_input.py
  tests/unit/models/reducer/test_model_reducer_output.py
  tests/unit/models/reducer/test_model_reducer_output_concurrency.py
  tests/unit/models/reducer/test_model_reducer_output_validation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
