Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising

mypy-poetry:
  name: MyPy Type Checking (via Poetry)
  entry: poetry run mypy
  language: system
  args:
  - --ignore-missing-imports
  - --show-error-codes
  - --no-strict-optional
  - --no-error-summary
  - --follow-imports=silent
  - --config-file=mypy.ini

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  args:
  - --allow-errors
  - '13'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '8'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-no-fallbacks:
  name: ONEX No Fallback Patterns Validation
  entry: poetry run python scripts/validation/check_no_fallbacks.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-error-raising:
  name: ONEX Error Raising Validation
  entry: poetry run python scripts/validation/check_error_raising.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix: add TYPE_CHECKING guard to typed_dict_usage_metadata.py
  src/omnibase_core/types/typed_dict_usage_metadata.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising

fix: resolve remaining circular imports (85 test collection errors)
  src/omnibase_core/models/config/model_artifact_type_config.py
  src/omnibase_core/models/config/model_schema_example.py
  src/omnibase_core/utils/__init__.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising

fix: resolve all remaining test collection errors (69 errors fixed)
  src/omnibase_core/errors/__init__.py
  src/omnibase_core/models/metadata/model_generic_metadata.py
  src/omnibase_core/types/core_types.py
  src/omnibase_core/validation/model_validation_result.py
  tests/unit/enums/test_unified_status_hierarchy.py
  tests/unit/logging/test_emit.py
  tests/unit/models/discovery/test_unified_discovery_system.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising

fix: remove all type aliases and fix TypedDict imports (21 errors fixed)
  src/omnibase_core/types/core_types.py
  src/omnibase_core/validation/migration_types.py
  src/omnibase_core/validation/model_validation_result.py
  src/omnibase_core/validation/validation_utils.py
  tests/unit/errors/test_error_codes.py
  tests/unit/test_no_circular_imports.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising

fix: update stale imports from TypedDict refactoring (7 errors fixed)
  src/omnibase_core/models/metadata/model_input_state.py
  src/omnibase_core/models/nodes/__init__.py
  src/omnibase_core/models/nodes/model_function_deprecation_info.py
  src/omnibase_core/models/nodes/model_function_documentation.py
  src/omnibase_core/models/nodes/model_function_metadata_summary.py
  src/omnibase_core/models/nodes/model_function_node_metadata_class.py
  src/omnibase_core/models/nodes/model_node_connection_settings.py
  src/omnibase_core/models/nodes/model_node_feature_flags.py
  src/omnibase_core/models/nodes/model_node_resource_limits.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising

fix: use Git dependency for omnibase_spi instead of local path
  pyproject.toml
Due: none

fix: resolve 19 of 25 test collection errors - 76% reduction
  src/omnibase_core/mixins/mixin_event_listener.py
  src/omnibase_core/mixins/mixin_fail_fast.py
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_node_lifecycle.py
  src/omnibase_core/models/core/model_onex_error_details.py
  src/omnibase_core/models/core/model_onex_reply.py
  src/omnibase_core/models/core/model_onex_reply_class.py
  src/omnibase_core/models/discovery/__init__.py
  src/omnibase_core/models/discovery/model_discovery_request.py
  src/omnibase_core/models/discovery/model_tool_discovery_request.py
  src/omnibase_core/models/discovery/model_tool_discovery_response.py
  src/omnibase_core/models/discovery/model_tooldiscoveryrequest.py
  tests/unit/enums/test_unified_status_hierarchy.py
  tests/unit/exceptions/test_onex_error.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising

feat: add comprehensive test coverage for 6 additional enum files
  tests/unit/enums/test_enum_entity_type.py
  tests/unit/enums/test_enum_file_status.py
  tests/unit/enums/test_enum_file_type.py
  tests/unit/enums/test_enum_item_type.py
  tests/unit/enums/test_enum_return_type.py
  tests/unit/enums/test_enum_tool_type.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Fix ModelMissingTool tests using systematic patterns
  tests/unit/models/core/test_model_missing_tool.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add comprehensive TypedDict test coverage
  tests/unit/types/test_typed_dict_connection_info.py
  tests/unit/types/test_typed_dict_debug_info_data.py
  tests/unit/types/test_typed_dict_feature_flags.py
  tests/unit/types/test_typed_dict_migration_duplicate_conflict_dict.py
  tests/unit/types/test_typed_dict_performance_data.py
  tests/unit/types/test_typed_dict_usage_metadata.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add more comprehensive TypedDict test coverage
  tests/unit/types/test_typed_dict_node_resource_constraint_kwargs.py
  tests/unit/types/test_typed_dict_node_resource_summary_type.py
  tests/unit/types/test_typed_dict_validation_metadata_type.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add comprehensive base state model test coverage
  tests/unit/models/core/test_model_base_input_state.py
  tests/unit/models/core/test_model_base_output_state.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add comprehensive ModelRouteHop test coverage
  tests/unit/models/core/test_model_route_hop.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add comprehensive enum tests for 6 enum files
  tests/unit/enums/test_enum_enforcement_mode.py
  tests/unit/enums/test_enum_error_category.py
  tests/unit/enums/test_enum_event_priority.py
  tests/unit/enums/test_enum_event_type_discovery.py
  tests/unit/enums/test_enum_file_event_type.py
  tests/unit/enums/test_enum_file_processing_mode.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add comprehensive enum tests for 3 more enum files
  tests/unit/enums/test_enum_file_stamp_status.py
  tests/unit/enums/test_enum_finish_reason.py
  tests/unit/enums/test_enum_generation_error_codes.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add comprehensive enum tests for 3 handler enum files
  tests/unit/enums/test_enum_handler_priority.py
  tests/unit/enums/test_enum_handler_source.py
  tests/unit/enums/test_enum_handler_type.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add comprehensive tests for 3 more enum files
  tests/unit/enums/test_enum_issue_type.py
  tests/unit/enums/test_enum_json_value_type.py
  tests/unit/enums/test_enum_kv_operation_type.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add comprehensive tests for 3 more enum files
  tests/unit/enums/test_enum_learning_event_type.py
  tests/unit/enums/test_enum_llm_provider.py
  tests/unit/enums/test_enum_mcp_status.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add comprehensive tests for 3 more enum files
  tests/unit/enums/test_enum_message_role.py
  tests/unit/enums/test_enum_metadata_node_complexity.py
  tests/unit/enums/test_enum_metric_type.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add comprehensive tests for 3 more enum files
  tests/unit/enums/test_enum_node_arg.py
  tests/unit/enums/test_enum_node_union_type.py
  tests/unit/enums/test_enum_ollama_error_type.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add comprehensive tests for 3 more enum files
  tests/unit/enums/test_enum_onex_tree_node_type.py
  tests/unit/enums/test_enum_operation_status.py
  tests/unit/enums/test_enum_operation_type.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add comprehensive tests for ModelTypedMapping
  tests/unit/models/common/test_model_typed_mapping.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add comprehensive tests for ModelValueContainer (83 tests)
  tests/unit/models/common/test_model_value_container.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add comprehensive tests for EnumFieldType (20 tests)
  tests/unit/enums/test_enum_field_type.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Add tests for ModelWorkflowInput (24 tests)
  tests/unit/models/configuration/test_model_workflow_input.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Fix circular import chain by slimming models/__init__.py; update utils tests to use ModelOnexError.context
  src/omnibase_core/models/__init__.py
  tests/unit/utils/test_field_converter.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising

Fix import sorting and formatting across entire codebase
  src/omnibase_core/models/contracts/subcontracts/model_fsm_subcontract.py
  src/omnibase_core/models/core/model_configuration_base.py
  src/omnibase_core/models/discovery/model_outputmetadata.py
  src/omnibase_core/models/health/model_tool_health.py
  src/omnibase_core/models/metadata/model_input_state.py
  src/omnibase_core/models/metadata/model_metadata_analytics_summary.py
  src/omnibase_core/models/security/model_credentials_analysis.py
  src/omnibase_core/models/service/model_event_bus_output_state.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/constraints.py
  tests/unit/contracts/test_model_compensation_plan.py
  tests/unit/infrastructure/test_node_effect_error_branches.py
  tests/unit/mixins/test_mixin_lazy_evaluation.py
  tests/unit/models/cli/test_model_cli_advanced_params.py
  tests/unit/models/cli/test_model_cli_execution_config.py
  tests/unit/models/cli/test_model_cli_result_formatter.py
  tests/unit/models/cli/test_model_cli_result_metadata.py
  tests/unit/models/cli/test_model_performance_metrics.py
  tests/unit/models/contracts/test_model_lazy_imports.py
  tests/unit/models/core/test_model_cli_discovery_stats.py
  tests/unit/models/core/test_model_configuration_base.py
  tests/unit/models/health/test_model_health_check_config.py
  tests/unit/models/metadata/test_model_generic_metadata.py
  tests/unit/models/nodes/test_model_node_information.py
  tests/unit/test_init_exports.py
  tests/unit/validation/test_auditor_protocol_extended.py
  tests/unit/validation/test_model_validation_container.py
  tests/unit/validation/test_protocol_auditor.py
  tests/unit/validation/test_validation_utils.py
  tests/validation/test_check_no_fallbacks.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising

Add isort configuration to ensure Black compatibility
  pyproject.toml
  src/omnibase_core/logging/structured.py
  src/omnibase_core/mixins/__init__.py
  src/omnibase_core/mixins/mixin_canonical_serialization.py
  src/omnibase_core/mixins/mixin_discovery_responder.py
  src/omnibase_core/mixins/mixin_event_driven_node.py
  src/omnibase_core/models/common/model_value_container.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/models/core/model_output_field_utils.py
  src/omnibase_core/models/metadata/__init__.py
  src/omnibase_core/models/metadata/model_generic_metadata.py
  src/omnibase_core/types/constraints.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising

Remove unused create_enhanced_nodebase factory method
  src/omnibase_core/models/container/model_onex_container.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising

Fix ProtocolWorkflowReducer type compatibility and update to UUID-based IDs
  src/omnibase_core/container/container_service_resolver.py
  src/omnibase_core/decorators/pattern_exclusions.py
  src/omnibase_core/infrastructure/node_base.py
  src/omnibase_core/infrastructure/node_effect.py
  src/omnibase_core/infrastructure/node_reducer.py
  src/omnibase_core/logging/emit.py
  src/omnibase_core/mixins/mixin_canonical_serialization.py
  src/omnibase_core/models/core/model_generic_metadata.py
  src/omnibase_core/models/core/model_missing_tool.py
  src/omnibase_core/models/core/model_node_metadata_block.py
  src/omnibase_core/models/core/model_result_cli.py
  src/omnibase_core/models/health/model_tool_health.py
  src/omnibase_core/models/infrastructure/__init__.py
  src/omnibase_core/models/infrastructure/model_action.py
  src/omnibase_core/models/infrastructure/model_action_payload.py
  src/omnibase_core/models/infrastructure/model_node_workflow_result.py
  src/omnibase_core/models/infrastructure/model_state.py
  src/omnibase_core/models/results/model_generic_metadata.py
  src/omnibase_core/models/security/model_secret_manager.py
  src/omnibase_core/models/security/model_secure_event_envelope_class.py
  src/omnibase_core/models/service/model_event_bus_output_state.py
  src/omnibase_core/models/validation/model_schema_property.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising

Add clarifying comment to model_validate override
  src/omnibase_core/models/cli/model_cli_result_metadata.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising

Path conditions:
  mypy-poetry: any of: ^src/omnibase_core/(core|models|enums|exceptions|types).*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|src/omnibase_core/core/contracts/model_contract_effect|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$
  validate-union-usage: any of: ^src/.*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
