Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(OMN-18033): root-anchor the baseline's virtualenv patterns
  .gitignore
  architecture-handshakes/gitignore-baseline.yaml
  tests/validation/test_gitignore_baseline.py
  tests/validation/test_gitignore_baseline_spec.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-14160): add call-occ-autobind caller to omnibase_core
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
  architecture-handshakes/pull-request-workflow-budget.yaml
  pyproject.toml
  scripts/ci/occ_manual_replay_precheck.py
  src/omnibase_core/validators/environment_reader_inventory.py
  tests/ci/test_occ_manual_replay_entrypoint.py
  tests/ci/test_workflow_uses_refs_resolve.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16851): retire OMNI_HOME from omnibase_core's product-facing paths (#1712)
  config/skip_count_baseline.yaml
  pyproject.toml
  src/omnibase_core/doctor/checks/check_repos_synced.py
  src/omnibase_core/enums/enum_scope_token.py
  src/omnibase_core/models/scope/model_activation_scope.py
  src/omnibase_core/utils/util_omni_home_paths.py
  src/omnibase_core/validation/doc_content_scan/handler.py
  src/omnibase_core/validation/doc_content_scan/runtime_doc_content_scan.py
  src/omnibase_core/validation/validator_skill_backing_node.py
  src/omnibase_core/validators/contract_config_compliance.py
  src/omnibase_core/validators/environment_reader_inventory.py
  tests/test_doctor/test_checks_repos.py
  tests/unit/models/scope/test_scope_models.py
  tests/unit/utils/test_util_omni_home_paths.py
  tests/unit/validation/doc_content_scan/test_handler_doc_content_scan_compute.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-16849): RED -- prove the shared registry resolver must key on OMNI_HOME
  tests/test_doctor/test_checks_repos.py
  tests/unit/utils/test_util_omni_home_paths.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16849): GREEN -- revert internal orchestration sites to OMNI_HOME
  src/omnibase_core/doctor/checks/check_repos_synced.py
  src/omnibase_core/models/scope/model_activation_scope.py
  src/omnibase_core/utils/util_omni_home_paths.py
  src/omnibase_core/validation/validator_skill_backing_node.py
  tests/unit/models/scope/test_scope_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-14160): classify the two new autobind jobs in the enforce-everything audit
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-18278): declare delegation output contracts
  pyproject.toml
  src/omnibase_core/enums/enum_delegation_budget_refusal_reason.py
  src/omnibase_core/enums/enum_delegation_output_refusal_reason.py
  src/omnibase_core/enums/enum_delegation_output_shape.py
  src/omnibase_core/models/delegation/wire/__init__.py
  src/omnibase_core/models/delegation/wire/model_delegation_budget_evidence.py
  src/omnibase_core/models/delegation/wire/model_delegation_budget_refusal.py
  src/omnibase_core/models/delegation/wire/model_delegation_contract_evidence.py
  src/omnibase_core/models/delegation/wire/model_delegation_output_contract.py
  src/omnibase_core/models/delegation/wire/model_delegation_output_refusal.py
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
  src/omnibase_core/models/delegation/wire/model_orchestrator_intents.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-18278): bind extracted spans to quality gates
  src/omnibase_core/models/delegation/wire/__init__.py
  src/omnibase_core/models/delegation/wire/model_delegation_deliverable_evidence.py
  src/omnibase_core/models/delegation/wire/model_quality_gate.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16849): reconcile OMN-16851/#1712 against the 2026-08-28 boundary ruling (#1714)
  src/omnibase_core/doctor/checks/check_repos_synced.py
  src/omnibase_core/models/scope/model_activation_scope.py
  src/omnibase_core/utils/util_omni_home_paths.py
  src/omnibase_core/validation/validator_skill_backing_node.py
  tests/test_doctor/test_checks_repos.py
  tests/unit/models/scope/test_scope_models.py
  tests/unit/utils/test_util_omni_home_paths.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18033): make the gitignore-baseline hook propagable to targets (#1710)
  .github/propagation-targets.yaml
  .github/workflows/propagate-config.yml
  .gitignore
  .yaml-validation-allowlist.yaml
  architecture-handshakes/gitignore-baseline.yaml
  pyproject.toml
  scripts/insert_hook_block.py
  scripts/propagate-config.sh
  src/omnibase_core/validators/gitignore_baseline.py
  tests/scripts/test_insert_hook_block.py
  tests/scripts/test_propagate_config_pin.py
  tests/validation/test_gitignore_baseline.py
  tests/validation/test_gitignore_baseline_spec.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14160): make the skip-count ratchet invariant to pytest's rootdir
  scripts/ci/skip_count_ratchet.py
  tests/ci/test_skip_count_ratchet_omn18790.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-18278): declare delegation output contracts (#1715)
  src/omnibase_core/enums/enum_delegation_budget_refusal_reason.py
  src/omnibase_core/enums/enum_delegation_output_refusal_reason.py
  src/omnibase_core/enums/enum_delegation_output_shape.py
  src/omnibase_core/models/delegation/wire/__init__.py
  src/omnibase_core/models/delegation/wire/model_delegation_budget_evidence.py
  src/omnibase_core/models/delegation/wire/model_delegation_budget_refusal.py
  src/omnibase_core/models/delegation/wire/model_delegation_contract_evidence.py
  src/omnibase_core/models/delegation/wire/model_delegation_deliverable_evidence.py
  src/omnibase_core/models/delegation/wire/model_delegation_output_contract.py
  src/omnibase_core/models/delegation/wire/model_delegation_output_refusal.py
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
  src/omnibase_core/models/delegation/wire/model_orchestrator_intents.py
  src/omnibase_core/models/delegation/wire/model_quality_gate.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-14160): add call-occ-autobind caller to omnibase_core (#1713)
  .github/workflows/call-occ-autobind.yml
  .github/workflows/call-occ-companion-effect.yml
  architecture-handshakes/pull-request-workflow-budget.yaml
  pyproject.toml
  scripts/ci/occ_manual_replay_precheck.py
  scripts/ci/skip_count_ratchet.py
  src/omnibase_core/validators/environment_reader_inventory.py
  tests/ci/test_occ_manual_replay_entrypoint.py
  tests/ci/test_skip_count_ratchet_omn18790.py
  tests/ci/test_workflow_uses_refs_resolve.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-18595): changelog entry without ticket references so the doc-content gate passes
  CHANGELOG.md
Due: none

fix(OMN-18848): occ-preflight accepts a dependency-pin-only outcome
  .github/workflows/occ-preflight.yml
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_omn17864.py
  tests/ci/test_occ_preflight_wait_workflow_shape_omn17864.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18848): occ-preflight accepts a dependency-pin-only outcome (#1717)
  .github/workflows/occ-preflight.yml
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_omn17864.py
  tests/ci/test_occ_preflight_wait_workflow_shape_omn17864.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18859): anchor merge-sweep/ in the gitignore baseline and test that bare directory patterns cannot recur
  .gitignore
  architecture-handshakes/gitignore-baseline.yaml
  tests/validation/test_gitignore_baseline.py
  tests/validation/test_gitignore_baseline_spec.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18859): anchor merge-sweep/ in the gitignore baseline and test that bare directory patterns cannot recur (#1718)
  .gitignore
  architecture-handshakes/gitignore-baseline.yaml
  tests/validation/test_gitignore_baseline.py
  tests/validation/test_gitignore_baseline_spec.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-18852): stamp the delegate-skill command at its true publish instant
  pyproject.toml
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local_publish_instant.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-18865): judge this repo's own wheel content before merge, not on the lab
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18865): call the pinned action, not a cross-repo reusable
  .github/workflows/ci.yml
Due: validate-string-versions

feat(OMN-18852): stamp the delegate-skill command at its true publish instant (#1720)
  pyproject.toml
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local_publish_instant.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18865): repin to the merge commit of omnibase_infra#3866
  .github/workflows/ci.yml
Due: validate-string-versions

fix(OMN-18865): register the context under the name GitHub actually mints
  scripts/ci/ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18796): re-pin the advisory-job gate to the dependency-installing reusable (#1709)
  .github/workflows/advisory-job-gate.yml
Due: validate-string-versions

fix(OMN-18882): the Receipt Gate accepts a dependency-pin-only outcome
  .github/workflows/receipt-gate.yml
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_cli_no_companion_required_omn18882.py
  tests/ci/test_receipt_gate_pin_only_workflow_shape_omn18882.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18882): the Receipt Gate accepts a dependency-pin-only outcome (#1723)
  .github/workflows/receipt-gate.yml
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_cli_no_companion_required_omn18882.py
  tests/ci/test_receipt_gate_pin_only_workflow_shape_omn18882.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18865): pin actions/checkout by commit, not by floating tag
  .github/workflows/ci.yml
Due: validate-string-versions

fix(OMN-18647): the preflight waiter stops on a terminal autobind decline
  .github/workflows/occ-preflight.yml
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_cli_no_companion_required_omn18882.py
  tests/ci/test_occ_preflight_wait_terminal_decline_omn18647.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-18647): pin the authored-companion mislabel from this PR's own head
  tests/ci/test_occ_preflight_wait_terminal_decline_omn18647.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-18865): judge this repo's own wheel content before merge, not on the lab (#1721)
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18647): the preflight waiter stops on a terminal autobind decline (#1724)
  .github/workflows/occ-preflight.yml
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_cli_no_companion_required_omn18882.py
  tests/ci/test_occ_preflight_wait_terminal_decline_omn18647.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18899): read the print suppression comment across the whole call span
  scripts/validation/check_no_print_statements.py
  tests/unit/scripts/validation/test_check_no_print_statements.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18899): run one typed-bootstrap invocation locally and in CI
  .pre-commit-config.yaml
  tests/ci/test_typed_bootstrap_hook_ci_parity_omn18899.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18899): re-assert the pre-commit suite on every pull request
  .github/precommit-suite-skip.yaml
  .github/workflows/ci.yml
  tests/ci/test_precommit_suite_job_omn18899.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18899): read the print suppression comment across the whole call span (#1725)
  scripts/validation/check_no_print_statements.py
  tests/unit/scripts/validation/test_check_no_print_statements.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18899): run one typed-bootstrap invocation locally and in CI (#1726)
  .pre-commit-config.yaml
  tests/ci/test_typed_bootstrap_hook_ci_parity_omn18899.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18899): exclude the sibling-clone skill gate from the suite job
  .github/precommit-suite-skip.yaml
  tests/ci/test_precommit_suite_job_omn18899.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-18920): a frozen delivery-context model for the dispatch protocol
  pyproject.toml
  src/omnibase_core/models/dispatch/__init__.py
  src/omnibase_core/models/dispatch/model_message_delivery_context.py
  tests/test_omn18920_message_delivery_context.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
