Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(ci/receipt-gate): force --reinstall-package to prefer editable checkout [OMN-9191] (#849)
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

feat(core): resolver models + outcome enum [OMN-9196] (#846)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_handler_resolution_outcome.py
  src/omnibase_core/errors/container_wiring_error.py
  src/omnibase_core/errors/error_service_resolution.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/resolver/__init__.py
  src/omnibase_core/models/resolver/model_handler_resolution.py
  src/omnibase_core/models/resolver/model_handler_resolver_context.py
  src/omnibase_core/services/service_handler_resolver.py
  src/omnibase_core/services/service_local_handler_ownership_query.py
  tests/unit/enums/test_enum_handler_resolution_outcome.py
  tests/unit/models/resolver/__init__.py
  tests/unit/models/resolver/test_model_handler_resolution.py
  tests/unit/models/resolver/test_model_handler_resolver_context.py
  tests/unit/services/test_service_handler_resolver.py
  tests/unit/services/test_service_local_handler_ownership_query.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validator-req): require explicit allowed/forbidden keys in excludes [OMN-9115]
  src/omnibase_core/models/validation/model_validator_requirement_excludes.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(runtime): address CR review — remove vacuous mock, fix handler init [OMN-9012]
  tests/unit/runtime/test_runtime_local_reducer_state_sink.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(handshake): wire validator-requirements.yaml consumer (OMN-9051 shipped spec, not enforcement) [OMN-9115] (#837)
  .github/workflows/check-handshake.yml
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements-baseline.yaml
  architecture-handshakes/validator-requirements.yaml
  pyproject.toml
  src/omnibase_core/enums/enum_validator_requirement_gap_kind.py
  src/omnibase_core/enums/enum_validator_requirement_scope.py
  src/omnibase_core/models/validation/model_validator_requirement_entry.py
  src/omnibase_core/models/validation/model_validator_requirement_excludes.py
  src/omnibase_core/models/validation/model_validator_requirement_gap.py
  src/omnibase_core/validation/validator_requirements_consumer.py
  tests/validation/test_validator_requirements_consumer.py
  tests/validation/test_validator_requirements_spec.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(runtime): state persistence via effect node, all paths uniform [OMN-9012] (#840)
  tests/unit/runtime/test_runtime_local_reducer_state_sink.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(ci): receipt-gate two-pass install to force local omnibase_core editable [OMN-9198]
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

fix(ci): receipt-gate two-pass install (--no-index on core) [OMN-9198] (#850)
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

feat(omnibase_core): add ModelTicketWorkflowState + util_ticket_workflow_persistence [OMN-9142] (#843)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/enums/ticket/__init__.py
  src/omnibase_core/enums/ticket/enum_ticket_workflow_phase.py
  src/omnibase_core/models/ticket/__init__.py
  src/omnibase_core/models/ticket/model_ticket_workflow_state.py
  src/omnibase_core/models/ticket/model_workflow_context.py
  src/omnibase_core/models/ticket/model_workflow_gate.py
  src/omnibase_core/models/ticket/model_workflow_question.py
  src/omnibase_core/models/ticket/model_workflow_requirement.py
  src/omnibase_core/models/ticket/model_workflow_verification.py
  src/omnibase_core/utils/util_ticket_workflow_persistence.py
  tests/unit/models/ticket/test_model_ticket_workflow_state.py
  tests/unit/utils/test_util_ticket_workflow_persistence.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): single-pass editable install for receipt-gate [OMN-9198]
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

fix(ci): single-pass editable install for receipt-gate deps [OMN-9198]
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

fix(ci): single-pass editable install for receipt-gate [OMN-9198] (#851)
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

fix(container): get_service_sync safe in async context [OMN-9200]
  src/omnibase_core/models/container/model_onex_container.py
  tests/unit/models/container/test_get_service_sync_from_async.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): uninstall-then-install editable for receipt-gate [OMN-9198]
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

fix(ci): decouple compat install path from core layout detection [OMN-9198]
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

fix(ci): uninstall-then-install editable for receipt-gate [OMN-9198] (#854)
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

fix(ci): --no-binary omnibase-core to force editable source build [OMN-9198]
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

fix(ci): --no-binary omnibase-core to force editable source build [OMN-9198] (#855)
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

docs+fix: docstring + ServiceResolutionError preservation [OMN-9200]
  src/omnibase_core/container/container_service_registry.py
  src/omnibase_core/models/container/model_onex_container.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(container): get_service_sync safe in async context [OMN-9200] (#853)
  src/omnibase_core/container/container_service_registry.py
  src/omnibase_core/models/container/model_onex_container.py
  tests/unit/models/container/test_get_service_sync_from_async.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(container): preserve ServiceResolutionError subclass in get_service_async [OMN-9243]
  src/omnibase_core/models/container/model_onex_container.py
  tests/unit/models/container/test_dependency_unavailable_preserves_subclass.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

OMN-9261: guard HandlerBusAdapter against dict/None/unsupported handler returns
  src/omnibase_core/runtime/runtime_local_adapter.py
  tests/unit/runtime/test_runtime_local_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: move pydantic BaseModel import to module level (hostile-reviewer MINOR)
  src/omnibase_core/runtime/runtime_local_adapter.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

OMN-9262: map-based _validate_routing, terminal reducers without padding
  src/omnibase_core/models/contracts/subcontracts/model_db_ownership_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_db_table_declaration.py
  src/omnibase_core/models/runtime/model_domain_plugin.py
  src/omnibase_core/models/runtime/model_domain_plugin_result.py
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: align test docstring with ModelOnexError (CodeRabbit thread)
  tests/unit/runtime/test_runtime_local_execution.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(container): consolidate asyncio-safe sync resolver into compat helper [OMN-9241]
  pyproject.toml
  src/omnibase_core/models/container/model_onex_container.py
  tests/unit/models/container/test_get_service_sync_from_async.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
