Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(OMN-14082): close argv false-green in 3 no-* validator gates (scan 0 files -> full tree, fail-closed on empty scope)
  scripts/validation/validate_no_except_swallow.py
  scripts/validation/validate_no_import_none_fallback.py
  scripts/validation/validate_no_none_guard_publish.py
  tests/validation/test_validator_scan_scope_omn14082.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-14100): gut 7 duplicate/superseded jobs from omni-standards-compliance.yml
  .github/workflows/omni-standards-compliance.yml
Due: validate-string-versions

feat(OMN-13927): receipt-attestation diff-consistency gate (pure core + CLI) (#1389)
  pyproject.toml
  src/omnibase_core/enums/ticket/enum_diff_attestation.py
  src/omnibase_core/models/contracts/ticket/model_dod_receipt.py
  src/omnibase_core/validation/validator_receipt_diff_consistency.py
  tests/unit/validation/test_validator_receipt_diff_consistency.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(OMN-13944): relocate stray topic literals into canonical core registries (#1390)
  .github/workflows/ci.yml
  src/omnibase_core/constants/constants_event_types.py
  src/omnibase_core/constants/constants_topic_taxonomy.py
  src/omnibase_core/models/events/contract_resolve/model_contract_resolve_completed_event.py
  src/omnibase_core/models/events/contract_resolve/model_contract_resolve_requested_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_merge_completed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_merge_started_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_failed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_passed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_started_event.py
  src/omnibase_core/models/events/model_intent_query_requested_event.py
  src/omnibase_core/models/events/model_intent_query_response_event.py
  src/omnibase_core/models/events/model_intent_stored_event.py
  src/omnibase_core/models/events/model_node_registered_event.py
  src/omnibase_core/models/events/model_node_unregistered_event.py
  src/omnibase_core/models/events/model_subscription_created_event.py
  src/omnibase_core/models/events/model_subscription_failed_event.py
  src/omnibase_core/models/events/model_subscription_removed_event.py
  src/omnibase_core/models/events/model_wiring_error_event.py
  src/omnibase_core/models/events/model_wiring_result_event.py
  src/omnibase_core/models/events/payloads/model_event_payload_union.py
  src/omnibase_core/validation/validator_topic_suffix.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-13999): run check-check-names validator on bare python3 — drop needless uv sync (runner-load reduction) (#1391)
  .github/workflows/check-check-names.yml
  .github/workflows/validator-hardcoded-topic.yml
Due: validate-string-versions

ci(OMN-14104): verify OCC preflight supersession validator source
  .github/workflows/occ-preflight.yml
Due: validate-string-versions

ci(OMN-14100): gut 7 duplicate/superseded jobs from omni-standards-compliance.yml (#1395)
  .github/workflows/omni-standards-compliance.yml
Due: validate-string-versions

ci(OMN-14076): remove merge_group triggers from 22 non-required workflows (Lever 1 canary) (#1392)
  .github/workflows/call-occ-preflight.yml
  .github/workflows/check-handshake.yml
  .github/workflows/handshake-policy-gate.yml
  .github/workflows/receipt-honesty.yml
  .github/workflows/validator-backend-secret-discipline.yml
  .github/workflows/validator-banned-compose-vars.yml
  .github/workflows/validator-bypass-token-blocklist.yml
  .github/workflows/validator-command-category-event-model.yml
  .github/workflows/validator-dispatched-contract-operation.yml
  .github/workflows/validator-fsm-handler-drift.yml
  .github/workflows/validator-generated-node-model-class-exists.yml
  .github/workflows/validator-gitignore-baseline.yml
  .github/workflows/validator-hardcoded-topic.yml
  .github/workflows/validator-no-except-swallow.yml
  .github/workflows/validator-no-import-none-fallback.yml
  .github/workflows/validator-no-none-guard-publish.yml
  .github/workflows/validator-no-plugin-daemon-classes.yml
  .github/workflows/validator-operation-match.yml
  .github/workflows/validator-pin-hygiene.yml
  .github/workflows/validator-release-identity.yml
  .github/workflows/validator-runtime-profiles.yml
  .github/workflows/validator-todo-marker.yml
Due: validate-string-versions

fix(OMN-14081): make pyproject.toml test-selector trigger content-aware (#1393)
  .github/workflows/ci.yml
  scripts/ci/detect_test_paths.py
  scripts/ci/test_selection_adjacency.yaml
  tests/unit/scripts/ci/test_detect_test_paths.py
  tests/unit/scripts/ci/test_detect_test_paths_cli.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-14104): install OCC preflight core from workflow sha
  .github/workflows/occ-preflight.yml
Due: validate-string-versions

ci(OMN-14104): isolate OCC preflight wheel build
  .github/workflows/occ-preflight.yml
  tests/unit/validation/test_occ_preflight_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-14104): make OCC preflight core checkout explicit
  .github/workflows/occ-preflight.yml
  tests/unit/validation/test_occ_preflight_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-14104): use dev for OCC preflight compat checkout
  .github/workflows/occ-preflight.yml
Due: validate-string-versions

fix(OMN-14127): CI Summary required context as no-needs fail-closed poller
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements.yaml
  scripts/ci/ci_summary_gate.py
  scripts/validation/validate-file-locations.py
  src/omnibase_core/validation/validator_rollup_coverage.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
  tests/validation/test_validator_rollup_coverage.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-14127): pin reusable zone-filter to ubuntu-latest (cross-repo wedge)
  .github/workflows/zone-filter.yml
Due: validate-string-versions

fix(OMN-14127): poller anchor requires each spec-required validator present+completed+SUCCESS
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-14127): pin reusable zone-filter to ubuntu-latest (cross-repo wedge) (#1398)
  .github/workflows/zone-filter.yml
Due: validate-string-versions

test(OMN-14127): pin CI Summary no-needs poller shape
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-14127): CI Summary required context as no-needs fail-closed poller (#1397)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements.yaml
  scripts/ci/ci_summary_gate.py
  scripts/validation/validate-file-locations.py
  src/omnibase_core/validation/validator_rollup_coverage.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
  tests/unit/validation/test_ci_workflow_shape.py
  tests/validation/test_validator_rollup_coverage.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-14104): avoid duplicate OCC preflight startup wedge
  .github/workflows/ci.yml
Due: validate-string-versions

test(OMN-14082): assert report-mode staged failure rc
  tests/validation/test_validator_scan_scope_omn14082.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-14104): fail required gates on OCC preflight failure
  .github/workflows/call-reject-skip.yml
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/occ-preflight.yml
  .github/workflows/propagate-config.yml
  .github/workflows/receipt-honesty.yml
Due: validate-string-versions

fix(OMN-14082): close argv false-green in 3 no-* validator gates (scanned 0 files, now full tree + fail-closed empty scope) (#1394)
  scripts/validation/validate_no_except_swallow.py
  scripts/validation/validate_no_import_none_fallback.py
  scripts/validation/validate_no_none_guard_publish.py
  tests/validation/test_validator_scan_scope_omn14082.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-14104): force occ-preflight to install local core wheel
  .github/workflows/occ-preflight.yml
  tests/unit/validation/test_occ_preflight_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-14104): bump core version for main workflow fix
  pyproject.toml
  uv.lock
Due: none

ci(OMN-14104): force occ-preflight to install local core wheel (#1401)
  .github/workflows/occ-preflight.yml
  pyproject.toml
  tests/unit/validation/test_occ_preflight_workflow_shape.py
  uv.lock
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-14104): force OCC preflight local wheel install
  .github/workflows/occ-preflight.yml
  tests/unit/validation/test_occ_preflight_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-14127): scope CI Summary poller to run attempt
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-14104): force OCC preflight local wheel install (#1402)
  .github/workflows/occ-preflight.yml
  tests/unit/validation/test_occ_preflight_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-14127): preserve duplicate job failures in summary gate
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-14127): scope CI Summary poller to run attempt (#1403)
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-14058): add optional tenant_id to delegation wire DTOs [OPERATOR-ACCEPTED INTERIM]
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-14058): add optional tenant_id to delegation wire DTOs [OPERATOR-ACCEPTED INTERIM] (#1404)
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-14058): run core release publish on hosted runner
  .github/workflows/release.yml
Due: validate-string-versions

feat(OMN-14168): add RUNTIME_OPS evidence class + no-PR runtime-ops receipt fields
  pyproject.toml
  src/omnibase_core/contracts/runtime_ops_verb_allowlist.yaml
  src/omnibase_core/enums/governance/enum_evidence_class.py
  src/omnibase_core/models/contracts/ticket/model_dod_receipt.py
  src/omnibase_core/validation/runtime_ops_verb_loader.py
  tests/unit/models/contracts/test_model_dod_receipt.py
  tests/unit/validation/test_runtime_ops_verb_loader.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-14168): add runtime-ops evidence class
  pyproject.toml
  src/omnibase_core/contracts/runtime_ops_verb_allowlist.yaml
  src/omnibase_core/enums/governance/enum_evidence_class.py
  src/omnibase_core/models/contracts/ticket/model_dod_receipt.py
  src/omnibase_core/validation/runtime_ops_verb_loader.py
  tests/unit/models/contracts/test_model_dod_receipt.py
  tests/unit/validation/test_runtime_ops_verb_loader.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
