Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chore(release): update version references to 0.6.3
  CHANGELOG.md
  CLAUDE.md
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release): bump version to 0.6.3 (#359)
  CHANGELOG.md
  CLAUDE.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add contract-driven validator framework (OMN-1291)
  .pre-commit-config.yaml
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_validator_rule.py
  src/omnibase_core/models/contracts/subcontracts/model_validator_subcontract.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/contracts/__init__.py
  src/omnibase_core/validation/contracts/any_type.validation.yaml
  src/omnibase_core/validation/contracts/contract_linter.validation.yaml
  src/omnibase_core/validation/validator_any_type.py
  src/omnibase_core/validation/validator_base.py
  src/omnibase_core/validation/validator_contract_linter.py
  src/omnibase_core/validation/visitor_any_type.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): migrate existing validators to ValidatorBase framework (OMN-1291)
  .yaml-validation-allowlist.yaml
  scripts/validation/validate-single-class-per-file.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/contracts/architecture.validation.yaml
  src/omnibase_core/validation/contracts/naming_convention.validation.yaml
  src/omnibase_core/validation/contracts/patterns.validation.yaml
  src/omnibase_core/validation/contracts/union_usage.validation.yaml
  src/omnibase_core/validation/validator_architecture.py
  src/omnibase_core/validation/validator_naming_convention.py
  src/omnibase_core/validation/validator_patterns.py
  src/omnibase_core/validation/validator_types.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): extend ModelExecutionProfile and ModelExecutionConflict for ProtocolConstraintValidator (OMN-1292)
  src/omnibase_core/models/contracts/model_execution_profile.py
  src/omnibase_core/models/execution/model_execution_conflict.py
  tests/unit/models/contracts/test_model_execution_profile.py
  tests/unit/models/execution/__init__.py
  tests/unit/models/execution/test_model_execution_conflict.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address PR #360 review feedback and CI failures (OMN-1291)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/models/contracts/subcontracts/model_validator_subcontract.py
  src/omnibase_core/validation/contracts/__init__.py
  src/omnibase_core/validation/contracts/any_type.validation.yaml
  src/omnibase_core/validation/validator_architecture.py
  src/omnibase_core/validation/validator_naming_convention.py
  src/omnibase_core/validation/validator_patterns.py
  src/omnibase_core/validation/validator_types.py
  src/omnibase_core/validation/visitor_any_type.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): enforce true immutability with tuples and address PR #361 review feedback (OMN-1292)
  src/omnibase_core/models/contracts/model_execution_profile.py
  src/omnibase_core/models/execution/model_execution_conflict.py
  src/omnibase_core/resolution/resolver_execution.py
  tests/unit/factories/test_contract_profile_factory.py
  tests/unit/infrastructure/execution/test_phase_sequencer.py
  tests/unit/models/contracts/test_model_execution_profile.py
  tests/unit/models/execution/test_model_execution_conflict.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address PR #360 nitpick and minor review feedback (OMN-1291)
  src/omnibase_core/models/contracts/subcontracts/model_validator_subcontract.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/contracts/contract_linter.validation.yaml
  src/omnibase_core/validation/contracts/patterns.validation.yaml
  src/omnibase_core/validation/validator_any_type.py
  src/omnibase_core/validation/validator_base.py
  src/omnibase_core/validation/validator_contract_linter.py
  src/omnibase_core/validation/validator_naming_convention.py
  src/omnibase_core/validation/validator_patterns.py
  src/omnibase_core/validation/validator_types.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): resolve mypy errors and address PR #361 review feedback (OMN-1292)
  src/omnibase_core/infrastructure/execution/phase_sequencer.py
  src/omnibase_core/models/contracts/model_execution_profile.py
  tests/unit/models/contracts/test_model_execution_profile.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(mixins): add MixinHandlerRouting for contract-driven handler routing (OMN-1293)
  src/omnibase_core/mixins/__init__.py
  src/omnibase_core/mixins/mixin_handler_routing.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_entry.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_subcontract.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_effect.py
  src/omnibase_core/nodes/node_orchestrator.py
  tests/unit/mixins/test_mixin_handler_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(validation): add comprehensive tests for ValidatorBase framework (OMN-1291)
  src/omnibase_core/validation/validator_base.py
  tests/unit/validation/test_validator_any_type.py
  tests/unit/validation/test_validator_base.py
  tests/unit/validation/test_validator_naming_convention.py
  tests/unit/validation/test_visitor_any_type.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): resolve CI failures and remaining PR #361 review feedback (OMN-1292)
  src/omnibase_core/models/contracts/model_execution_profile.py
  tests/unit/enums/test_enum_handler_execution_phase.py
  tests/unit/models/contracts/test_model_execution_profile.py
  tests/unit/models/execution/test_model_execution_conflict.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add dashboard models and enums (OMN-1284)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_dashboard_status.py
  src/omnibase_core/enums/enum_widget_type.py
  src/omnibase_core/models/dashboard/__init__.py
  src/omnibase_core/models/dashboard/model_capability_view.py
  src/omnibase_core/models/dashboard/model_chart_axis_config.py
  src/omnibase_core/models/dashboard/model_chart_series_config.py
  src/omnibase_core/models/dashboard/model_dashboard_config.py
  src/omnibase_core/models/dashboard/model_dashboard_layout_config.py
  src/omnibase_core/models/dashboard/model_event_filter.py
  src/omnibase_core/models/dashboard/model_metric_threshold.py
  src/omnibase_core/models/dashboard/model_node_view.py
  src/omnibase_core/models/dashboard/model_status_item_config.py
  src/omnibase_core/models/dashboard/model_table_column_config.py
  src/omnibase_core/models/dashboard/model_widget_config_chart.py
  src/omnibase_core/models/dashboard/model_widget_config_event_feed.py
  src/omnibase_core/models/dashboard/model_widget_config_metric_card.py
  src/omnibase_core/models/dashboard/model_widget_config_status_grid.py
  src/omnibase_core/models/dashboard/model_widget_config_table.py
  src/omnibase_core/models/dashboard/model_widget_definition.py
  tests/unit/enums/test_enum_dashboard_status.py
  tests/unit/enums/test_enum_widget_type.py
  tests/unit/models/dashboard/__init__.py
  tests/unit/models/dashboard/test_model_capability_view.py
  tests/unit/models/dashboard/test_model_dashboard_config.py
  tests/unit/models/dashboard/test_model_node_view.py
  tests/unit/models/dashboard/test_model_widget_definition.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): address PR #362 review feedback for MixinHandlerRouting (OMN-1293)
  src/omnibase_core/mixins/mixin_handler_routing.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_entry.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_subcontract.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_effect.py
  src/omnibase_core/nodes/node_orchestrator.py
  tests/unit/mixins/test_mixin_handler_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address final PR #361 review feedback for release readiness (OMN-1292)
  src/omnibase_core/models/contracts/model_execution_profile.py
  tests/unit/enums/test_enum_handler_execution_phase.py
  tests/unit/models/contracts/test_model_execution_profile.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #363 review feedback (OMN-1284)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_dashboard_theme.py
  src/omnibase_core/models/dashboard/__init__.py
  src/omnibase_core/models/dashboard/model_chart_axis_config.py
  src/omnibase_core/models/dashboard/model_chart_series_config.py
  src/omnibase_core/models/dashboard/model_dashboard_config.py
  src/omnibase_core/models/dashboard/model_metric_threshold.py
  src/omnibase_core/models/dashboard/model_status_item_config.py
  src/omnibase_core/models/dashboard/model_table_column_config.py
  src/omnibase_core/models/dashboard/model_widget_config_chart.py
  src/omnibase_core/models/dashboard/model_widget_config_event_feed.py
  src/omnibase_core/models/dashboard/model_widget_config_metric_card.py
  src/omnibase_core/models/dashboard/model_widget_config_table.py
  src/omnibase_core/models/dashboard/model_widget_definition.py
  tests/unit/enums/test_enum_widget_type.py
  tests/unit/models/dashboard/__init__.py
  tests/unit/models/dashboard/test_dashboard_imports.py
  tests/unit/models/dashboard/test_model_capability_view.py
  tests/unit/models/dashboard/test_model_dashboard_config.py
  tests/unit/models/dashboard/test_model_metric_threshold.py
  tests/unit/models/dashboard/test_model_widget_definition.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): extend ModelExecutionProfile and ModelExecutionConflict for ProtocolConstraintValidator (OMN-1292) (#361)
  src/omnibase_core/infrastructure/execution/phase_sequencer.py
  src/omnibase_core/models/contracts/model_execution_profile.py
  src/omnibase_core/models/execution/model_execution_conflict.py
  src/omnibase_core/resolution/resolver_execution.py
  tests/unit/enums/test_enum_handler_execution_phase.py
  tests/unit/factories/test_contract_profile_factory.py
  tests/unit/infrastructure/execution/test_phase_sequencer.py
  tests/unit/models/contracts/test_model_execution_profile.py
  tests/unit/models/execution/__init__.py
  tests/unit/models/execution/test_model_execution_conflict.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address all remaining PR #360 review issues (OMN-1291)
  .yaml-validation-allowlist.yaml
  docs/guides/THREADING.md
  src/omnibase_core/models/contracts/subcontracts/model_validator_subcontract.py
  src/omnibase_core/validation/contracts/any_type.validation.yaml
  src/omnibase_core/validation/contracts/architecture.validation.yaml
  src/omnibase_core/validation/contracts/contract_linter.validation.yaml
  src/omnibase_core/validation/contracts/naming_convention.validation.yaml
  src/omnibase_core/validation/contracts/patterns.validation.yaml
  src/omnibase_core/validation/contracts/union_usage.validation.yaml
  src/omnibase_core/validation/validator_any_type.py
  src/omnibase_core/validation/validator_architecture.py
  src/omnibase_core/validation/validator_base.py
  src/omnibase_core/validation/validator_contract_linter.py
  src/omnibase_core/validation/validator_naming_convention.py
  src/omnibase_core/validation/validator_patterns.py
  src/omnibase_core/validation/validator_types.py
  src/omnibase_core/validation/validator_utils.py
  tests/unit/validation/test_validation_utils.py
  tests/unit/validation/test_validator_naming_convention.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): address PR #362 release-ready feedback for MixinHandlerRouting (OMN-1293)
  src/omnibase_core/mixins/mixin_handler_routing.py
  src/omnibase_core/protocols/runtime/__init__.py
  src/omnibase_core/protocols/runtime/protocol_handler_registry.py
  tests/unit/mixins/test_mixin_handler_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address all PR #363 review feedback (OMN-1284)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_dashboard_status.py
  src/omnibase_core/enums/enum_dashboard_theme.py
  src/omnibase_core/enums/enum_widget_type.py
  src/omnibase_core/models/dashboard/__init__.py
  src/omnibase_core/models/dashboard/model_capability_view.py
  src/omnibase_core/models/dashboard/model_chart_axis_config.py
  src/omnibase_core/models/dashboard/model_chart_series_config.py
  src/omnibase_core/models/dashboard/model_dashboard_config.py
  src/omnibase_core/models/dashboard/model_dashboard_layout_config.py
  src/omnibase_core/models/dashboard/model_event_filter.py
  src/omnibase_core/models/dashboard/model_metric_threshold.py
  src/omnibase_core/models/dashboard/model_node_view.py
  src/omnibase_core/models/dashboard/model_status_item_config.py
  src/omnibase_core/models/dashboard/model_table_column_config.py
  src/omnibase_core/models/dashboard/model_widget_config_chart.py
  src/omnibase_core/models/dashboard/model_widget_config_event_feed.py
  src/omnibase_core/models/dashboard/model_widget_config_metric_card.py
  src/omnibase_core/models/dashboard/model_widget_config_status_grid.py
  src/omnibase_core/models/dashboard/model_widget_config_table.py
  src/omnibase_core/models/dashboard/model_widget_definition.py
  tests/unit/models/dashboard/test_model_dashboard_config.py
  tests/unit/models/dashboard/test_model_node_view.py
  tests/unit/models/dashboard/test_model_validations.py
  tests/unit/models/dashboard/test_model_widget_definition.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): address PR #362 thread safety and test improvements (OMN-1293)
  src/omnibase_core/mixins/mixin_handler_routing.py
  tests/unit/mixins/test_mixin_handler_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): add first-match-wins test and fix docstring accuracy (OMN-1293)
  tests/unit/mixins/test_mixin_handler_routing.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(models): address remaining PR #363 review feedback (OMN-1284)
  src/omnibase_core/enums/enum_dashboard_status.py
  src/omnibase_core/enums/enum_dashboard_theme.py
  src/omnibase_core/models/dashboard/model_chart_series_config.py
  src/omnibase_core/models/dashboard/model_metric_threshold.py
  src/omnibase_core/models/dashboard/model_status_item_config.py
  src/omnibase_core/models/dashboard/model_table_column_config.py
  src/omnibase_core/models/dashboard/model_widget_config_chart.py
  src/omnibase_core/models/dashboard/model_widget_config_event_feed.py
  src/omnibase_core/models/dashboard/model_widget_config_metric_card.py
  src/omnibase_core/models/dashboard/model_widget_config_status_grid.py
  src/omnibase_core/models/dashboard/model_widget_config_table.py
  src/omnibase_core/types/typed_dict_monitoring_dashboard.py
  tests/unit/models/dashboard/test_model_dashboard_config.py
  tests/unit/models/dashboard/test_model_metric_threshold.py
  tests/unit/models/dashboard/test_model_node_view.py
  tests/unit/models/dashboard/test_model_validations.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address PR #360 release-ready review issues (OMN-1291)
  docs/INDEX.md
  src/omnibase_core/models/contracts/subcontracts/model_validator_rule.py
  src/omnibase_core/models/contracts/subcontracts/model_validator_subcontract.py
  src/omnibase_core/validation/validator_any_type.py
  src/omnibase_core/validation/validator_architecture.py
  src/omnibase_core/validation/validator_base.py
  src/omnibase_core/validation/validator_naming_convention.py
  src/omnibase_core/validation/validator_patterns.py
  src/omnibase_core/validation/validator_types.py
  tests/unit/validation/test_validator_any_type.py
  tests/unit/validation/test_validator_base.py
  tests/unit/validation/test_validator_naming_convention.py
  tests/unit/validation/validators/test_common_validators.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): add deep copy test and improve type ignore comments (OMN-1293)
  src/omnibase_core/nodes/node_effect.py
  tests/unit/mixins/test_mixin_handler_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(fsm): implement correlation_id propagation across all intents (OMN-601)
  src/omnibase_core/models/reducer/payloads/model_payload_fsm_state_action.py
  src/omnibase_core/models/reducer/payloads/model_payload_fsm_transition_action.py
  src/omnibase_core/models/reducer/payloads/model_payload_persist_state.py
  src/omnibase_core/utils/util_fsm_executor.py
  tests/unit/utils/test_fsm_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address PR #360 minor suggestions (OMN-1291)
  src/omnibase_core/models/contracts/subcontracts/model_validator_subcontract.py
  src/omnibase_core/validation/validator_base.py
  src/omnibase_core/validation/validator_contract_linter.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address final PR #363 review feedback (OMN-1284)
  src/omnibase_core/models/dashboard/model_status_item_config.py
  src/omnibase_core/models/dashboard/model_table_column_config.py
  src/omnibase_core/models/dashboard/model_widget_config_chart.py
  src/omnibase_core/models/dashboard/model_widget_config_event_feed.py
  src/omnibase_core/models/dashboard/model_widget_config_metric_card.py
  src/omnibase_core/models/dashboard/model_widget_config_status_grid.py
  src/omnibase_core/models/dashboard/model_widget_config_table.py
  tests/unit/models/dashboard/test_model_validations.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): address PR #362 thread safety docs and priority ordering (OMN-1293)
  src/omnibase_core/mixins/mixin_handler_routing.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_entry.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_subcontract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): update tests for correlation_id field in FSM payloads
  tests/unit/models/reducer/payloads/test_model_payload_persist_state.py
  tests/unit/utils/test_fsm_executor.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(models): add baseline health report models and stability calculator (OMN-1198)
  src/omnibase_core/models/health/__init__.py
  src/omnibase_core/models/health/model_baseline_health_report.py
  src/omnibase_core/models/health/model_invariant_status.py
  src/omnibase_core/models/health/model_performance_metrics.py
  src/omnibase_core/types/typed_dict_system_config.py
  src/omnibase_core/utils/__init__.py
  src/omnibase_core/utils/util_stability_calculator.py
  tests/unit/models/health/conftest.py
  tests/unit/models/health/test_model_baseline_health_report.py
  tests/unit/utils/test_util_stability_calculator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add execution detail view models and consolidate comparison into replay (OMN-1197)
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/comparison/__init__.py
  src/omnibase_core/models/replay/__init__.py
  src/omnibase_core/models/replay/model_diff_line.py
  src/omnibase_core/models/replay/model_execution_comparison.py
  src/omnibase_core/models/replay/model_execution_detail_view.py
  src/omnibase_core/models/replay/model_input_snapshot.py
  src/omnibase_core/models/replay/model_invariant_comparison_summary.py
  src/omnibase_core/models/replay/model_invariant_result_detail.py
  src/omnibase_core/models/replay/model_output_diff.py
  src/omnibase_core/models/replay/model_output_snapshot.py
  src/omnibase_core/models/replay/model_phase_time.py
  src/omnibase_core/models/replay/model_side_by_side_comparison.py
  src/omnibase_core/models/replay/model_timing_breakdown.py
  src/omnibase_core/models/replay/model_value_change.py
  tests/unit/models/comparison/__init__.py
  tests/unit/models/replay/conftest.py
  tests/unit/models/replay/test_model_execution_comparison.py
  tests/unit/models/replay/test_model_execution_detail_view.py
  tests/unit/models/replay/test_model_invariant_comparison_summary.py
  tests/unit/models/replay/test_model_output_diff.py
  tests/unit/models/replay/test_model_value_change.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): replace brittle Pydantic message assertions with errors() checks (OMN-1284)
  tests/unit/models/dashboard/test_model_metric_threshold.py
  tests/unit/models/dashboard/test_model_validations.py
  tests/unit/models/dashboard/test_model_widget_definition.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): address PR review feedback for correlation_id tests
  tests/unit/utils/test_fsm_executor.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(mixins): address remaining PR #362 release-ready issues (OMN-1293)
  src/omnibase_core/mixins/mixin_handler_routing.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_entry.py
  src/omnibase_core/nodes/node_effect.py
  src/omnibase_core/protocols/__init__.py
  tests/unit/mixins/test_mixin_handler_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address PR #360 release-ready final review (OMN-1291)
  src/omnibase_core/models/contracts/subcontracts/model_validator_subcontract.py
  src/omnibase_core/validation/contracts/any_type.validation.yaml
  src/omnibase_core/validation/validator_architecture.py
  src/omnibase_core/validation/validator_base.py
  src/omnibase_core/validation/validator_contract_linter.py
  src/omnibase_core/validation/validator_naming_convention.py
  src/omnibase_core/validation/validator_patterns.py
  src/omnibase_core/validation/validator_types.py
  tests/unit/validation/test_architecture.py
  tests/unit/validation/test_validation_utils.py
  tests/unit/validation/test_validator_any_type.py
  tests/unit/validation/test_validator_naming_convention.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #365 review feedback for baseline health report (OMN-1198)
  src/omnibase_core/models/health/model_baseline_health_report.py
  src/omnibase_core/models/health/model_invariant_status.py
  src/omnibase_core/models/health/model_performance_metrics.py
  src/omnibase_core/types/typed_dict_system_config.py
  src/omnibase_core/utils/util_stability_calculator.py
  tests/unit/models/health/conftest.py
  tests/unit/models/health/test_model_baseline_health_report.py
  tests/unit/models/health/test_model_performance_metrics.py
  tests/unit/utils/test_util_stability_calculator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): clarify test names and enhance layout constraint assertions (OMN-1284)
  tests/unit/models/dashboard/test_model_validations.py
  tests/unit/models/dashboard/test_model_widget_definition.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): remove unnecessary quoted type hints for UUID
  tests/unit/utils/test_fsm_executor.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(models): add validation and thread safety docs to replay models (OMN-1197)
  src/omnibase_core/models/replay/model_diff_line.py
  src/omnibase_core/models/replay/model_phase_time.py
  src/omnibase_core/models/replay/model_timing_breakdown.py
  tests/unit/models/replay/test_model_execution_detail_view.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
