Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-poetry, validate-contracts, canary-unit-tests, validate-union-usage

.pre-commit-config.yaml:

# ONEX Core Pre-commit Configuration
# Aligned with omnibase_3 parent project standards

repos:
  # YAML formatting (matching parent)
  - repo: https://github.com/google/yamlfmt
    rev: v0.17.2
    hooks:
      - id: yamlfmt
        args: [--formatter, retain_line_breaks=true]
        exclude: ^work_tickets/

  # Essential file formatting (matching parent)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]

  # Python formatting (matching parent exactly)
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args: [--line-length, "88", --target-version, py311]

  # Python imports (matching parent exactly)
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: [--profile, black, --line-length, "88"]

  # Type checking with mypy using poetry environment (matching parent)
  - repo: local
    hooks:
      - id: mypy-poetry
        name: mypy via poetry
        entry: poetry run mypy
        language: system
        types: [python]
        args: [--ignore-missing-imports, --show-error-codes, --no-strict-optional, --no-error-summary, --follow-imports=skip, --config-file=mypy.ini]
        # Focus on core framework components
        files: ^src/omnibase_core/(core|model|enums|exceptions|decorators).*\.py$
        # Exclude test files, examples, and problematic contract files until properly configured
        exclude: ^(tests/|src/omnibase_core/examples|src/omnibase_core/core/contracts/model_contract_effect).*\.py$

      # ONEX Contract Validation
      - id: validate-contracts
        name: ONEX Contract Validation
        entry: python scripts/validate-contracts.py
        language: system
        pass_filenames: false
        files: ^src/omnibase_core/(nodes|protocol|core).*\.py$
        stages: [commit]

      # Canary Node Unit Tests
      - id: canary-unit-tests
        name: Canary Node Unit Tests
        entry: python scripts/run-canary-tests.py
        language: system
        pass_filenames: false
        files: ^(src/omnibase_core/nodes/canary/|tests/unit/test_canary_nodes\.py).*$
        stages: [commit]

      # Union Usage Validation
      - id: validate-union-usage
        name: ONEX Union Usage Validation
        entry: python scripts/validate-union-usage.py --max-unions 6700
        language: system
        pass_filenames: false
        files: ^src/.*\.py$
        stages: [commit]

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes for omnibase-core

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_schedule: weekly
  submodules: false

security: fix dynamic import vulnerability in test script
  test_yaml_deserialization.py
Due: none

security: replace dynamic imports with static imports
  test_yaml_deserialization.py
Due: none

feat: eliminate Any types with strongly typed models
  src/omnibase_core/patterns/reducer_pattern_engine/subreducers/reducer_document_regeneration.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contract.yaml
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/models/__init__.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/models/model_workflow_metadata.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/models/model_workflow_payload.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/models/model_workflow_request.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/models/model_workflow_response.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/models/model_workflow_result.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/models/model_workflow_result_data.py
Due: validate-union-usage

feat: Phase 3 ONEX Protocol Compliance - Complete implementation
  pyproject.toml
  scripts/validate-contracts.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/__init__.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contract.yaml
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contracts/__init__.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contracts/contract.yaml
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contracts/model_contract_reducer_pattern_engine.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/engine.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/models/__init__.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/models/model_reducer_pattern_engine_input.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/models/model_reducer_pattern_engine_output.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/models/model_workflow_error.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/node_reducer_pattern_engine.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/protocols/__init__.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/protocols/protocol_reducer_pattern_engine.py
  tests/unit/patterns/reducer_pattern_engine/test_container_integration.py
  tests/unit/patterns/reducer_pattern_engine/test_contract_validation.py
  tests/unit/patterns/reducer_pattern_engine/test_onex_compliance.py
  tests/unit/patterns/reducer_pattern_engine/test_protocol_messaging.py
Due: validate-union-usage

fix: Eliminate string versions and add precommit validation
  .pre-commit-config.yaml
  scripts/validate-contracts.py
  scripts/validate-string-versions.py
  src/omnibase_core/nodes/canary/mixins/mixin_error_handling.yaml
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contract.yaml
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contracts/contract.yaml
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contracts/metrics_contract.yaml
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contracts/model_contract_reducer_pattern_engine.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contracts/registry_contract.yaml
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contracts/state_management_contract.yaml
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contracts/workflow_contract.yaml
  src/omnibase_core/utils/io/test_contract_data.yaml
Due: canary-unit-tests, validate-union-usage

refactor(core): introduce strong typing for scalar and state values
  src/omnibase_core/core/common_types.py
  src/omnibase_core/core/contract_constants.py
  src/omnibase_core/core/enums/enum_health_status.py
  src/omnibase_core/core/enums/enum_node_current_status.py
  src/omnibase_core/core/enums/enum_node_type.py
  src/omnibase_core/enums/enum_node_current_status.py
  src/omnibase_core/model/hook_events/model_tool_event_union.py
  src/omnibase_core/model/validation/model_fixture_data.py
  src/omnibase_core/protocol/protocol_service_discovery.py
  src/omnibase_core/services/consul_service_discovery.py
  src/omnibase_core/services/memory_service_discovery.py
Due: mypy-poetry, validate-contracts, validate-union-usage

refactor(core): update import paths for ProtocolLogger to new location
  src/omnibase_core/core/bootstrap_logger.py
  src/omnibase_core/core/common_types.py
  src/omnibase_core/core/model_onex_container.py
  src/omnibase_core/core/node_base.py
  src/omnibase_core/core/service_discovery_manager.py
  src/omnibase_core/mixin/mixin_auto_connect.py
  src/omnibase_core/mixin/mixin_discovery_responder.py
  src/omnibase_core/model/validation/model_fixture_data.py
  src/omnibase_core/protocol/protocol_logger.py
  src/omnibase_core/protocol/protocol_node_registry.py
  src/omnibase_core/protocol/protocol_workflow_reducer.py
  src/omnibase_core/utils/distributed_lock_manager.py
  src/omnibase_core/utils/postgresql_lock_manager.py
Due: mypy-poetry, validate-contracts, validate-union-usage

perf: Address PR review feedback with enhanced validation and caching
  .pre-commit-config.yaml
  pyproject.toml
  scripts/validate-contracts.py
  scripts/validate-no-manual-yaml.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contract.yaml
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contracts/model_contract_reducer_pattern_engine.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/node_reducer_pattern_engine.py
  tests/unit/patterns/reducer_pattern_engine/test_contract_validation.py
Due: validate-union-usage

fix: finalize contract validation system with formatting fixes
  .claude/settings.local.json
  scripts/validate-no-manual-yaml.py
  src/omnibase_core/core/contracts/model_contract_compute.py
  src/omnibase_core/core/contracts/model_contract_effect.py
  src/omnibase_core/core/contracts/model_contract_gateway.py
  src/omnibase_core/core/contracts/model_contract_orchestrator.py
  src/omnibase_core/core/contracts/model_contract_reducer.py
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/contract.yaml
  src/omnibase_core/nodes/canary/canary_orchestrator/v1_0_0/contract.yaml
  src/omnibase_core/nodes/canary/canary_reducer/v1_0_0/contract.yaml
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contract.yaml
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/contracts/model_contract_reducer_pattern_engine.py
  src/omnibase_core/patterns/reducer_pattern_engine/v1_0_0/node_reducer_pattern_engine.py
Due: mypy-poetry, validate-contracts, canary-unit-tests, validate-union-usage

fix: Complete Pydantic refactor with improved type safety and validation
  src/omnibase_core/constants/contract_constants.py
  src/omnibase_core/core/common_types.py
  src/omnibase_core/protocol/protocol_logger.py
  src/omnibase_core/protocol/protocol_node_registry.py
  src/omnibase_core/protocol/protocol_workflow_reducer.py
Due: mypy-poetry, validate-contracts, validate-union-usage

fix: address PR review feedback
  src/omnibase_core/core/bootstrap_logger.py
  src/omnibase_core/core/common_types.py
  src/omnibase_core/core/model_onex_container.py
  src/omnibase_core/core/node_base.py
  src/omnibase_core/core/service_discovery_manager.py
  src/omnibase_core/mixin/mixin_auto_connect.py
  src/omnibase_core/mixin/mixin_discovery_responder.py
  src/omnibase_core/model/hook_events/model_tool_event_union.py
  src/omnibase_core/model/validation/model_fixture_data.py
  src/omnibase_core/protocol/protocol_service_discovery.py
  src/omnibase_core/services/consul_service_discovery.py
  src/omnibase_core/services/memory_service_discovery.py
  tests/unit/core/test_common_types.py
Due: mypy-poetry, validate-contracts, validate-union-usage

feat: eliminate Union types with strongly typed Pydantic models
  src/omnibase_core/core/common_types.py
  tests/unit/core/test_common_types.py
Due: mypy-poetry, validate-contracts, validate-union-usage

refactor(protocols, types, services): introduce Protocol interfaces and typed Pydantic models
  TECH_DEBT_REFACTORING_REPORT.md
  src/omnibase_core/core/enums/__init__.py
  src/omnibase_core/core/enums/enum_health_status.py
  src/omnibase_core/core/enums/enum_node_current_status.py
  src/omnibase_core/core/enums/enum_node_type.py
  src/omnibase_core/protocols/core/protocol_node_service.py
  src/omnibase_core/protocols/core/protocol_service_resolver.py
  src/omnibase_core/protocols/types/model_database_types.py
  src/omnibase_core/protocols/types/model_service_health.py
  src/omnibase_core/protocols/types/model_typed_value.py
  src/omnibase_core/protocols/types/model_workflow_types.py
  src/omnibase_core/services/memory_database.py
  src/omnibase_core/services/protocol_service_resolver.py
Due: mypy-poetry, validate-contracts, validate-union-usage

fix: complete union type elimination with proper strongly typed models
  src/omnibase_core/model/hook_events/model_read_tool_event.py
  src/omnibase_core/model/hook_events/model_tool_event_union.py
Due: mypy-poetry, validate-union-usage

fix: finalize security validation constraints and tests
  src/omnibase_core/core/common_types.py
  tests/unit/core/test_common_types.py
Due: mypy-poetry, validate-contracts, validate-union-usage

style: apply pre-commit hook formatting fixes
  tests/canary/test_canary_nodes.py
  tests/core/test_contract_validator.py
  tests/core/test_onex_container.py
  tests/integration/test_retry_strategy_integration.py
  tests/test_node_services.py
  tests/test_onex_container.py
  tests/unit/test_canary_nodes.py
Due: canary-unit-tests

style: apply pre-commit hook formatting fixes
  src/omnibase_core/core/contracts/contract_loader.py
  tests/core/test_contract_loader_security.py
  tests/core/test_contract_validator.py
Due: mypy-poetry, validate-contracts, validate-union-usage

feat: implement protocol-based architecture with ModelONEXContainer DI
  src/omnibase_core/core/node_gateway.py
  src/omnibase_core/model/config/model_node_configuration.py
  src/omnibase_core/nodes/canary/canary_compute/v1_0_0/node.py
  src/omnibase_core/nodes/canary/canary_compute/v1_0_0/node_with_mixin.py
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/node.py
  src/omnibase_core/nodes/canary/canary_gateway/v1_0_0/node.py
  src/omnibase_core/nodes/canary/canary_orchestrator/v1_0_0/node.py
  src/omnibase_core/nodes/canary/canary_reducer/v1_0_0/node.py
  src/omnibase_core/nodes/canary/config/canary_config.py
  src/omnibase_core/nodes/canary/utils/circuit_breaker.py
  src/omnibase_core/nodes/canary/utils/error_handler.py
  src/omnibase_core/nodes/canary/utils/metrics_collector.py
  src/omnibase_core/services/cache_service.py
  src/omnibase_core/utils/node_configuration_utils.py
  src/omnibase_core/utils/postgresql_lock_manager.py
  tests/unit/test_canary_nodes.py
Due: mypy-poetry, validate-contracts, canary-unit-tests, validate-union-usage

feat: update to latest omnibase-spi protocols with enhanced cache service
  src/omnibase_core/core/node_gateway.py
  src/omnibase_core/nodes/canary/canary_compute/v1_0_0/node.py
  src/omnibase_core/nodes/canary/canary_compute/v1_0_0/node_with_mixin.py
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/node.py
  src/omnibase_core/nodes/canary/canary_gateway/v1_0_0/node.py
  src/omnibase_core/nodes/canary/canary_orchestrator/v1_0_0/node.py
  src/omnibase_core/nodes/canary/canary_reducer/v1_0_0/node.py
  src/omnibase_core/services/__init__.py
  src/omnibase_core/services/cache_service.py
  src/omnibase_core/utils/node_configuration_utils.py
  tests/unit/test_canary_nodes.py
Due: mypy-poetry, validate-contracts, canary-unit-tests, validate-union-usage

feat: remove ALL backward compatibility from service discovery
  SERVICE_DISCOVERY_TESTS_SUMMARY.md
  TESTING_COMPLETION_SUMMARY.md
  src/omnibase_core/protocol/protocol_service_discovery.py
  src/omnibase_core/services/consul_service_discovery.py
  src/omnibase_core/services/memory_service_discovery.py
  test_service_discovery_standalone.py
  tests/integration/test_service_discovery_integration.py
  tests/unit/services/__init__.py
  tests/unit/services/test_consul_service_discovery.py
  tests/unit/services/test_memory_service_discovery.py
  tests/unit/services/test_service_discovery_direct.py
Due: validate-contracts, validate-union-usage

feat(model): introduce strongly typed Pydantic models for core and service data
  src/omnibase_core/core/common_types.py
  src/omnibase_core/core/contract_constants.py
  src/omnibase_core/model/core/model_scalar_value.py
  src/omnibase_core/model/core/model_state_value.py
  src/omnibase_core/model/service/model_service_cache_stats.py
  src/omnibase_core/model/service/model_service_health_aggregate.py
  src/omnibase_core/services/protocol_service_resolver.py
Due: mypy-poetry, validate-contracts, validate-union-usage

fix: address PR review feedback and improve code quality
  METADATA_ELIMINATION_PLAN.md
  SERVICE_DISCOVERY_TESTS_SUMMARY.md
  TESTING_COMPLETION_SUMMARY.md
  src/omnibase_core/core/common_types.py
Due: mypy-poetry, validate-contracts, validate-union-usage

fix: address PR review deficiencies
  deployment/kubernetes/deployment.yaml
  deployment/kubernetes/namespace.yaml
  intelligence-hook-config.json
  src/omnibase_core/mixin/mixin_contract_state_reducer.py
  src/omnibase_core/model/configuration/model_cli_config.py
Due: mypy-poetry, validate-union-usage

feat: modernize infrastructure examples with enhanced validation and UUID correlation IDs
  src/omnibase_core/examples/tool_infrastructure_orchestrator/v1_0_0/models/model_infrastructure_orchestrator_response.py
  src/omnibase_core/examples/tool_infrastructure_reducer/v1_0_0/models/model_fsm_definition.py
  src/omnibase_core/examples/tool_infrastructure_reducer/v1_0_0/models/model_fsm_transition.py
  src/omnibase_core/examples/tool_infrastructure_reducer/v1_0_0/models/model_infrastructure_reducer_input.py
  src/omnibase_core/examples/tool_infrastructure_reducer/v1_0_0/models/model_infrastructure_reducer_output.py
Due: validate-union-usage

fix: update deprecated Pydantic v1 validators to v2 field_validator and model_validator
  src/omnibase_core/patterns/reducer_pattern_engine/models/state_transitions.py
Due: validate-union-usage

fix: resolve import errors and update deprecated Pydantic validators
  src/omnibase_core/model/core/model_registry_configuration.py
  src/omnibase_core/model/core/model_tool_manifest.py
  src/omnibase_core/model/core/model_tool_specification.py
Due: mypy-poetry, validate-union-usage

feat(model): add strongly typed scalar and state value models
  src/omnibase_core/constants/contract_constants.py
  src/omnibase_core/constants/event_types.py
  src/omnibase_core/core/common_types.py
  src/omnibase_core/core/core_uuid_service.py
  src/omnibase_core/core/manifest_service_runner.py
  src/omnibase_core/model/core/model_metadata.py
  src/omnibase_core/model/core/model_scalar_value.py
  src/omnibase_core/model/core/model_state_value.py
  src/omnibase_core/protocol/protocol_manifest_runner.py
  src/omnibase_core/protocol/protocol_uuid_service.py
Due: mypy-poetry, validate-contracts, validate-union-usage

fix: resolve Canary node functionality issues and ModelScalarValue validation
  src/omnibase_core/core/mixins/mixin_node_id_from_contract.py
  src/omnibase_core/mixin/mixin_contract_metadata.py
  src/omnibase_core/mixin/mixin_introspect_from_contract.py
  src/omnibase_core/mixin/mixin_node_id_from_contract.py
  src/omnibase_core/model/core/model_action_registry.py
  src/omnibase_core/model/core/model_cli_command_registry.py
  src/omnibase_core/model/core/model_event_type_registry.py
  src/omnibase_core/model/core/model_hub_contract_config.py
  src/omnibase_core/model/core/model_project_metadata.py
  src/omnibase_core/model/core/model_state_contract.py
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/node.py
  src/omnibase_core/nodes/canary/validate_infrastructure_contracts.py
  src/omnibase_core/utils/execution/utility_contract_driven_input_builder.py
  src/omnibase_core/utils/generation/utility_contract_analyzer.py
  src/omnibase_core/utils/io/utility_mock_file_reader.py
  src/omnibase_core/utils/policy/utility_policy_loader.py
  src/omnibase_core/utils/real_file_io.py
  src/omnibase_core/utils/tree_file_discovery_source.py
  tests/integration/test_canary_system_integration.py
Due: mypy-poetry, validate-contracts, canary-unit-tests, validate-union-usage

feat: implement contract-driven Pydantic models for Canary effect node
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/models/__init__.py
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/models/migration_example.py
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/models/model_canary_effect_input.py
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/models/model_canary_effect_output.py
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/node.py
  tests/integration/test_canary_system_integration.py
Due: validate-contracts, canary-unit-tests, validate-union-usage

refactor(model): consolidate validation models and add strong typed value models
  TECH_DEBT_REFACTORING_SUMMARY.md
  src/omnibase_core/model/common/model_typed_value.py
  src/omnibase_core/model/common/model_validation_result.py
  src/omnibase_core/model/security/model_security_policy_data.py
  src/omnibase_core/model/validation/model_fixture_data.py
  src/omnibase_core/protocol/protocol_agent_configuration.py
  src/omnibase_core/protocol/protocol_model_registry_validator.py
  src/omnibase_core/protocol/protocol_trusted_schema_loader.py
Due: mypy-poetry, validate-contracts, validate-union-usage

BREAKING: eliminate all legacy code - pure contract-driven implementation
  scripts/validate-contracts.py
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/contract.yaml
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/node.py
  tests/integration/test_canary_system_integration.py
Due: validate-contracts, canary-unit-tests, validate-union-usage

fix: address PR review feedback - Pydantic v2 compatibility and comprehensive testing
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/models/model_canary_effect_input.py
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/models/model_canary_effect_output.py
  tests/unit/nodes/canary/canary_effect/test_canary_effect_models.py
Due: validate-contracts, canary-unit-tests, validate-union-usage

fix: update omnibase-spi dependency to omnibase_spi
  .github/workflows/ci-cd.yml
  .serena/memories/project_overview.md
  README.md
  SETUP_COMPLETION_SUMMARY.md
  SETUP_STATUS.md
  docs/dev_logs/jonah/debug/debug_log_2025_08_28_162430.md
  docs/dev_logs/jonah/pr/pr_description_2025_08_30_spi_migration.md
  pyproject.toml
  src/omnibase_core/core/bootstrap_logger.py
  src/omnibase_core/core/core_structured_logging.py
  src/omnibase_core/core/model_onex_container.py
  src/omnibase_core/core/node_base.py
  src/omnibase_core/core/service_discovery_manager.py
  src/omnibase_core/core/spi_service_registry.py
  src/omnibase_core/mixin/mixin_auto_connect.py
  src/omnibase_core/mixin/mixin_discovery_responder.py
  src/omnibase_core/model/config/model_node_configuration.py
  src/omnibase_core/model/subcontracts/model_health_check_subcontract.py
  src/omnibase_core/model/subcontracts/model_introspection_subcontract.py
  src/omnibase_core/model/subcontracts/model_workflow_coordination_subcontract.py
  src/omnibase_core/nodes/canary/canary_gateway/v1_0_0/node.py
  src/omnibase_core/protocol/protocol_logger.py
  src/omnibase_core/protocol/protocol_workflow_reducer.py
  src/omnibase_core/services/cache_service.py
  src/omnibase_core/utils/distributed_lock_manager.py
  src/omnibase_core/utils/node_configuration_utils.py
Due: mypy-poetry, validate-contracts, canary-unit-tests, validate-union-usage

fix: eliminate all remaining omnibase-core references
  knowledge/knowledge_storage_index.json
  src/omnibase_core/core/.!49939!.DS_Store
  src/omnibase_core/core/services/.!50133!.DS_Store
  src/omnibase_core/core/services/contract_service/.!50115!.DS_Store
  src/omnibase_core/core/services/contract_service/v1_0_0/.!50118!.DS_Store
  src/omnibase_core/core/services/contract_service/v1_0_0/models/model_contract_cache_entry.py
  src/omnibase_core/core/services/event_bus_service/.!50171!.DS_Store
  src/omnibase_core/core/services/event_bus_service/v1_0_0/.!50172!.DS_Store
  src/omnibase_core/model/configuration/model_cache_settings.py
  src/omnibase_core/model/core/model_contract_cache.py
  src/omnibase_core/model/core/model_registry_cache_entry.py
  src/omnibase_core/model/discovery/model_discovery_cache.py
  src/omnibase_core/model/omnimemory/model_cache_state.py
  src/omnibase_core/model/omnimemory/model_query_cache.py
  src/omnibase_core/model/rsd/model_orchestrator_cache.py
  src/omnibase_core/model/semantic/model_cache_config.py
  src/omnibase_core/model/semantic/model_cache_input_state.py
  src/omnibase_core/model/semantic/model_cache_operation_statistics.py
  src/omnibase_core/model/semantic/model_cache_output_state.py
  src/omnibase_core/model/semantic/model_cache_result.py
  src/omnibase_core/model/semantic/model_cache_statistics.py
  src/omnibase_core/model/semantic/model_comprehensive_cache_statistics.py
  src/omnibase_core/nodes/.!50361!.DS_Store
  src/omnibase_core/nodes/canary/.!50419!.DS_Store
  src/omnibase_core/nodes/canary/canary_compute/.!50362!.DS_Store
  src/omnibase_core/nodes/canary/canary_compute/v1_0_0/.!50366!.DS_Store
  src/omnibase_core/nodes/canary/canary_effect/.!50393!.DS_Store
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/.!50397!.DS_Store
  src/omnibase_core/nodes/canary/canary_gateway/.!50460!.DS_Store
  src/omnibase_core/nodes/canary/canary_gateway/v1_0_0/.!50464!.DS_Store
  src/omnibase_core/nodes/canary/canary_orchestrator/.!50495!.DS_Store
  src/omnibase_core/nodes/canary/canary_orchestrator/v1_0_0/.!50499!.DS_Store
  src/omnibase_core/nodes/canary/canary_reducer/.!50516!.DS_Store
  src/omnibase_core/nodes/canary/canary_reducer/v1_0_0/.!50521!.DS_Store
  src/omnibase_core/protocol/semantic/protocol_query_cache.py
  src/omnibase_core/services/cache_service.py
Due: mypy-poetry, validate-contracts, canary-unit-tests, validate-union-usage

fix: remove DS_Store and resource fork files
  src/omnibase_core/core/.!49939!.DS_Store
  src/omnibase_core/core/services/.!50133!.DS_Store
  src/omnibase_core/core/services/contract_service/.!50115!.DS_Store
  src/omnibase_core/core/services/contract_service/v1_0_0/.!50118!.DS_Store
  src/omnibase_core/core/services/event_bus_service/.!50171!.DS_Store
  src/omnibase_core/core/services/event_bus_service/v1_0_0/.!50172!.DS_Store
  src/omnibase_core/nodes/.!50361!.DS_Store
  src/omnibase_core/nodes/canary/.!50419!.DS_Store
  src/omnibase_core/nodes/canary/canary_compute/.!50362!.DS_Store
  src/omnibase_core/nodes/canary/canary_compute/v1_0_0/.!50366!.DS_Store
  src/omnibase_core/nodes/canary/canary_effect/.!50393!.DS_Store
  src/omnibase_core/nodes/canary/canary_effect/v1_0_0/.!50397!.DS_Store
  src/omnibase_core/nodes/canary/canary_gateway/.!50460!.DS_Store
  src/omnibase_core/nodes/canary/canary_gateway/v1_0_0/.!50464!.DS_Store
  src/omnibase_core/nodes/canary/canary_orchestrator/.!50495!.DS_Store
  src/omnibase_core/nodes/canary/canary_orchestrator/v1_0_0/.!50499!.DS_Store
  src/omnibase_core/nodes/canary/canary_reducer/.!50516!.DS_Store
  src/omnibase_core/nodes/canary/canary_reducer/v1_0_0/.!50521!.DS_Store
Due: canary-unit-tests
