Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

refactor(validation): address remaining PR #321 review feedback
  src/omnibase_core/models/validation/model_expanded_contract_result.py
  src/omnibase_core/validation/validators/__init__.py
  tests/unit/validation/phases/test_contract_validation_performance.py
  tests/unit/validation/phases/test_expanded_validator.py
  tests/unit/validation/phases/test_merge_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add file naming convention enforcement (OMN-1224, OMN-1225) (#314)
  .pre-commit-config.yaml
  CLAUDE.md
  src/omnibase_core/validation/checker_naming_convention.py
  tests/unit/validation/test_checker_naming_convention.py
  tests/unit/validation/test_validate_naming.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(models): remove Any type annotations from events and event_bus (OMN-1175) (#322)
  src/omnibase_core/models/event_bus/model_event_bus_input_state.py
  src/omnibase_core/models/event_bus/model_event_bus_listener_handle.py
  src/omnibase_core/models/event_bus/model_event_bus_output_field.py
  src/omnibase_core/models/event_bus/model_event_bus_output_state.py
  src/omnibase_core/models/events/model_event_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address remaining PR review feedback for contract diff (OMN-1148)
  src/omnibase_core/contracts/diff_computer.py
  src/omnibase_core/models/contracts/diff/__init__.py
  src/omnibase_core/models/contracts/diff/model_contract_field_diff.py
  tests/unit/contracts/test_diff_computer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): change RegexTimeoutError to inherit from ModelOnexError
  src/omnibase_core/errors/error_regex_timeout.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(naming): order exception tuple alphabetically in mixin_event_listener (OMN-1222)
  src/omnibase_core/mixins/mixin_event_listener.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add ModelChangeProposal for system change evaluation (OMN-1196)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_change_type.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/operations/__init__.py
  src/omnibase_core/models/operations/model_change_proposal.py
  tests/unit/models/operations/test_model_change_proposal.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): implement AST-based transport import validator (OMN-1039)
  .pre-commit-config.yaml
  scripts/validate_no_transport_imports.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(replay): add deterministic replay infrastructure (OMN-1116)
  src/omnibase_core/enums/replay/__init__.py
  src/omnibase_core/enums/replay/enum_recorder_mode.py
  src/omnibase_core/enums/replay/enum_replay_mode.py
  src/omnibase_core/models/replay/__init__.py
  src/omnibase_core/models/replay/model_effect_record.py
  src/omnibase_core/models/replay/model_replay_context.py
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/replay/__init__.py
  src/omnibase_core/pipeline/replay/executor_replay.py
  src/omnibase_core/pipeline/replay/injector_rng.py
  src/omnibase_core/pipeline/replay/injector_time.py
  src/omnibase_core/pipeline/replay/recorder_effect.py
  src/omnibase_core/pipeline/replay/session_replay.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/replay/__init__.py
  src/omnibase_core/protocols/replay/protocol_effect_recorder.py
  src/omnibase_core/protocols/replay/protocol_rng_service.py
  src/omnibase_core/protocols/replay/protocol_time_service.py
  tests/integration/pipeline/replay/__init__.py
  tests/integration/pipeline/replay/test_replay_e2e.py
  tests/pytest.ini
  tests/unit/enums/replay/__init__.py
  tests/unit/enums/replay/test_enum_replay_mode.py
  tests/unit/models/replay/__init__.py
  tests/unit/models/replay/test_model_effect_record.py
  tests/unit/models/replay/test_model_replay_context.py
  tests/unit/pipeline/replay/__init__.py
  tests/unit/pipeline/replay/test_executor_replay.py
  tests/unit/pipeline/replay/test_injector_rng.py
  tests/unit/pipeline/replay/test_injector_time.py
  tests/unit/pipeline/replay/test_recorder_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(invariant): add ServiceInvariantEvaluator for AI model validation (OMN-1193) (#310)
  docs/INDEX.md
  docs/guides/CUSTOM_CALLABLE_PATTERNS.md
  docs/services/README.md
  docs/services/invariant/CUSTOM_CALLABLES.md
  poetry.lock
  pyproject.toml
  src/omnibase_core/errors/error_regex_timeout.py
  src/omnibase_core/models/invariant/__init__.py
  src/omnibase_core/models/invariant/model_evaluation_summary.py
  src/omnibase_core/services/invariant/__init__.py
  src/omnibase_core/services/invariant/service_invariant_evaluator.py
  tests/unit/services/invariant/__init__.py
  tests/unit/services/invariant/conftest.py
  tests/unit/services/invariant/custom_validators.py
  tests/unit/services/invariant/test_batch_evaluation.py
  tests/unit/services/invariant/test_cost_evaluator.py
  tests/unit/services/invariant/test_custom_evaluator.py
  tests/unit/services/invariant/test_field_presence_evaluator.py
  tests/unit/services/invariant/test_field_value_evaluator.py
  tests/unit/services/invariant/test_invariant_property_based.py
  tests/unit/services/invariant/test_latency_evaluator.py
  tests/unit/services/invariant/test_schema_evaluator.py
  tests/unit/services/invariant/test_security_measures.py
  tests/unit/services/invariant/test_threshold_evaluator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(validation): address all PR #321 review feedback (release-ready)
  src/omnibase_core/models/validation/model_expanded_contract_result.py
  src/omnibase_core/validation/contract_validation_pipeline.py
  src/omnibase_core/validation/phases/expanded_validator.py
  src/omnibase_core/validation/phases/merge_validator.py
  tests/unit/enums/test_enum_contract_validation_error_code.py
  tests/unit/validation/phases/test_contract_validation_performance.py
  tests/unit/validation/phases/test_merge_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): improve error handling and add thread safety docs (OMN-1039)
  scripts/validate_no_transport_imports.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(contracts): harden diff_computer edge cases and improve key collision handling (OMN-1148)
  src/omnibase_core/contracts/diff_computer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(models): enhance ModelChangeProposal with deep diff and constants (OMN-1196)
  src/omnibase_core/models/operations/model_change_proposal.py
  tests/unit/models/operations/test_model_change_proposal.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add tests and improve AST transport validator (OMN-1039)
  scripts/validate_no_transport_imports.py
  tests/unit/scripts/test_validate_no_transport_imports.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(contracts): add YAML !include directive support for contract loading (OMN-1047)
  src/omnibase_core/contracts/__init__.py
  src/omnibase_core/contracts/contract_loader.py
  tests/unit/contracts/fixtures/absolute_path.yaml
  tests/unit/contracts/fixtures/basic_contract.yaml
  tests/unit/contracts/fixtures/circular_a.yaml
  tests/unit/contracts/fixtures/circular_b.yaml
  tests/unit/contracts/fixtures/contract_multiple_includes.yaml
  tests/unit/contracts/fixtures/contract_with_include.yaml
  tests/unit/contracts/fixtures/empty_include.yaml
  tests/unit/contracts/fixtures/missing_include.yaml
  tests/unit/contracts/fixtures/nested_include.yaml
  tests/unit/contracts/fixtures/path_traversal.yaml
  tests/unit/contracts/fixtures/self_reference.yaml
  tests/unit/contracts/fixtures/subcontracts/empty.yaml
  tests/unit/contracts/fixtures/subcontracts/events.yaml
  tests/unit/contracts/fixtures/subcontracts/level1.yaml
  tests/unit/contracts/fixtures/subcontracts/level2.yaml
  tests/unit/contracts/fixtures/subcontracts/routing.yaml
  tests/unit/contracts/test_contract_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address all PR #321 review issues (release-ready)
  src/omnibase_core/models/common/model_validation_issue.py
  src/omnibase_core/models/validation/model_contract_validation_result.py
  src/omnibase_core/models/validation/model_expanded_contract_result.py
  src/omnibase_core/models/validation/model_validation_error.py
  src/omnibase_core/protocols/validation/__init__.py
  src/omnibase_core/protocols/validation/protocol_constraint_validation_result.py
  src/omnibase_core/protocols/validation/protocol_constraint_validator.py
  src/omnibase_core/validation/contract_validation_pipeline.py
  src/omnibase_core/validation/phases/merge_validator.py
  tests/unit/validation/phases/test_contract_validation_performance.py
  tests/unit/validation/phases/test_merge_validator.py
  tests/unit/validation/test_contract_validation_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(replay): address PR review feedback and fix circular import (OMN-1116)
  src/omnibase_core/enums/enum_core_error_code.py
  src/omnibase_core/models/replay/model_effect_record.py
  src/omnibase_core/models/replay/model_replay_context.py
  src/omnibase_core/pipeline/replay/executor_replay.py
  src/omnibase_core/pipeline/replay/recorder_effect.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/replay/protocol_effect_recorder.py
  tests/unit/pipeline/replay/test_recorder_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(contracts): add contract diff model and patch-level diff algorithm (OMN-1148) (#316)
  scripts/validation/validate_naming.py
  src/omnibase_core/contracts/diff_computer.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_contract_diff_change_type.py
  src/omnibase_core/models/contracts/diff/__init__.py
  src/omnibase_core/models/contracts/diff/model_contract_diff.py
  src/omnibase_core/models/contracts/diff/model_contract_field_diff.py
  src/omnibase_core/models/contracts/diff/model_contract_list_diff.py
  src/omnibase_core/models/contracts/diff/model_diff_configuration.py
  tests/unit/contracts/test_diff_computer.py
  tests/unit/enums/test_enum_contract_diff_change_type.py
  tests/unit/models/contracts/diff/__init__.py
  tests/unit/models/contracts/diff/test_model_contract_diff.py
  tests/unit/models/contracts/diff/test_model_contract_field_diff.py
  tests/unit/models/contracts/diff/test_model_contract_list_diff.py
  tests/unit/models/contracts/diff/test_model_diff_configuration.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address PR review feedback for YAML include support
  src/omnibase_core/contracts/contract_loader.py
  tests/unit/contracts/test_contract_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): enhance ModelChangeProposal with type-specific validation (OMN-1196)
  src/omnibase_core/models/operations/model_change_proposal.py
  tests/unit/models/operations/test_model_change_proposal.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(replay): add session overwrite warning and enhance documentation (OMN-1116)
  src/omnibase_core/models/replay/model_replay_context.py
  src/omnibase_core/pipeline/replay/executor_replay.py
  tests/unit/pipeline/replay/test_executor_replay.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address PR #323 review feedback (OMN-1039)
  scripts/validate_no_transport_imports.py
  tests/unit/scripts/test_validate_no_transport_imports.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(review): address PR #319 review feedback (OMN-1222)
  src/omnibase_core/models/container/model_workflow_coordinator.py
  tests/unit/validation/test_validator_cli_entry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(comparison): add ModelExecutionComparison for baseline vs replay (OMN-1194)
  poetry.lock
  pyproject.toml
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/comparison/__init__.py
  src/omnibase_core/models/comparison/model_execution_comparison.py
  src/omnibase_core/models/comparison/model_invariant_comparison_summary.py
  src/omnibase_core/models/comparison/model_output_diff.py
  src/omnibase_core/models/comparison/model_value_change.py
  tests/unit/models/comparison/__init__.py
  tests/unit/models/comparison/conftest.py
  tests/unit/models/comparison/test_model_execution_comparison.py
  tests/unit/models/comparison/test_model_invariant_comparison_summary.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address final PR #321 nitpicks (release-ready)
  src/omnibase_core/models/validation/model_lint_statistics.py
  src/omnibase_core/models/validation/model_lint_warning.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/validation_utils.py
  tests/unit/validation/phases/test_merge_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): add validation for non-string URL values in endpoint_change (OMN-1196)
  src/omnibase_core/models/operations/model_change_proposal.py
  tests/unit/models/operations/test_model_change_proposal.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(evidence): add ModelEvidenceSummary for corpus replay aggregation (OMN-1195)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_violation_severity.py
  src/omnibase_core/models/evidence/__init__.py
  src/omnibase_core/models/evidence/model_cost_statistics.py
  src/omnibase_core/models/evidence/model_evidence_summary.py
  src/omnibase_core/models/evidence/model_invariant_violation_breakdown.py
  src/omnibase_core/models/evidence/model_latency_statistics.py
  tests/unit/models/evidence/__init__.py
  tests/unit/models/evidence/test_model_cost_statistics.py
  tests/unit/models/evidence/test_model_evidence_summary.py
  tests/unit/models/evidence/test_model_invariant_violation_breakdown.py
  tests/unit/models/evidence/test_model_latency_statistics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): tighten TYPE_CHECKING guard detection (OMN-1039)
  scripts/validate_no_transport_imports.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(contracts): address additional PR review feedback for YAML include support
  src/omnibase_core/contracts/contract_loader.py
  tests/unit/contracts/test_contract_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(style): move import to function start for consistency (OMN-1222)
  src/omnibase_core/models/container/model_workflow_coordinator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(replay): address PR #325 review feedback (OMN-1116)
  src/omnibase_core/pipeline/replay/executor_replay.py
  src/omnibase_core/protocols/replay/protocol_effect_recorder.py
  src/omnibase_core/protocols/replay/protocol_rng_service.py
  src/omnibase_core/protocols/replay/protocol_time_service.py
  tests/unit/models/replay/test_model_replay_context.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): separate module aliases from constant aliases (OMN-1039)
  scripts/validate_no_transport_imports.py
  tests/unit/scripts/test_validate_no_transport_imports.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(models): improve IP address validation in URL pattern (OMN-1196)
  src/omnibase_core/models/operations/model_change_proposal.py
  tests/unit/models/operations/test_model_change_proposal.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(evidence): address PR #328 review feedback (OMN-1195)
  src/omnibase_core/models/evidence/model_cost_statistics.py
  src/omnibase_core/models/evidence/model_evidence_summary.py
  src/omnibase_core/models/evidence/model_invariant_violation_breakdown.py
  src/omnibase_core/models/evidence/model_latency_statistics.py
  tests/unit/models/evidence/test_model_evidence_summary.py
  tests/unit/models/evidence/test_model_invariant_violation_breakdown.py
  tests/unit/models/evidence/test_model_latency_statistics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(validation): strengthen assertions and add division-by-zero protection
  tests/unit/validation/phases/test_contract_validation_performance.py
  tests/unit/validation/test_validation_performance.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(comparison): address PR review feedback for comparison models (OMN-1194)
  src/omnibase_core/models/comparison/__init__.py
  src/omnibase_core/models/comparison/model_invariant_comparison_summary.py
  src/omnibase_core/models/comparison/model_output_diff.py
  src/omnibase_core/models/comparison/model_value_change.py
  tests/unit/models/comparison/conftest.py
  tests/unit/models/comparison/test_model_execution_comparison.py
  tests/unit/models/comparison/test_model_invariant_comparison_summary.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address final PR review feedback for YAML include support
  src/omnibase_core/contracts/contract_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(replay): add deterministic replay infrastructure (OMN-1116) (#325)
  src/omnibase_core/enums/enum_core_error_code.py
  src/omnibase_core/enums/replay/__init__.py
  src/omnibase_core/enums/replay/enum_recorder_mode.py
  src/omnibase_core/enums/replay/enum_replay_mode.py
  src/omnibase_core/models/replay/__init__.py
  src/omnibase_core/models/replay/model_effect_record.py
  src/omnibase_core/models/replay/model_replay_context.py
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/replay/__init__.py
  src/omnibase_core/pipeline/replay/executor_replay.py
  src/omnibase_core/pipeline/replay/injector_rng.py
  src/omnibase_core/pipeline/replay/injector_time.py
  src/omnibase_core/pipeline/replay/recorder_effect.py
  src/omnibase_core/pipeline/replay/session_replay.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/replay/__init__.py
  src/omnibase_core/protocols/replay/protocol_effect_recorder.py
  src/omnibase_core/protocols/replay/protocol_rng_service.py
  src/omnibase_core/protocols/replay/protocol_time_service.py
  tests/integration/pipeline/replay/__init__.py
  tests/integration/pipeline/replay/test_replay_e2e.py
  tests/pytest.ini
  tests/unit/enums/replay/__init__.py
  tests/unit/enums/replay/test_enum_replay_mode.py
  tests/unit/models/replay/__init__.py
  tests/unit/models/replay/test_model_effect_record.py
  tests/unit/models/replay/test_model_replay_context.py
  tests/unit/pipeline/replay/__init__.py
  tests/unit/pipeline/replay/test_executor_replay.py
  tests/unit/pipeline/replay/test_injector_rng.py
  tests/unit/pipeline/replay/test_injector_time.py
  tests/unit/pipeline/replay/test_recorder_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
