Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

chore(omnibase_core): exclude CHANGELOG.md from ai-slop checker [OMN-3204]
  .github/workflows/omni-standards-compliance.yml
  .pre-commit-config.yaml
  CHANGELOG.md
Due: validate-string-versions

fix(ci): use || true on grep-v pipe in ai-slop changed-files step [OMN-3204]
  .github/workflows/omni-standards-compliance.yml
Due: validate-string-versions

chore(omnibase_core): exclude CHANGELOG.md from ai-slop checker [OMN-3204] (#586)
  .github/workflows/omni-standards-compliance.yml
  .pre-commit-config.yaml
  CHANGELOG.md
Due: validate-string-versions

chore: fix remaining pre-commit violations in omnibase_core [OMN-3201]
  .pre-commit-config.yaml
  .yaml-validation-allowlist.yaml
  src/omnibase_core/models/merge/model_overlay_ref.py
  src/omnibase_core/models/merge/model_overlay_stack_entry.py
  src/omnibase_core/models/nodes/contract_resolve/model_contract_resolve_output.py
  src/omnibase_core/models/routing/model_capability_token.py
  src/omnibase_core/models/routing/model_resolution_route_hop.py
  src/omnibase_core/models/routing/model_trust_domain.py
  src/omnibase_core/models/routing/model_trust_domain_config.py
  src/omnibase_core/models/validation/model_validation_finding.py
  src/omnibase_core/models/validation/model_validation_report.py
  src/omnibase_core/models/validation/model_validator_descriptor.py
  src/omnibase_core/navigation/__init__.py
  src/omnibase_core/navigation/model_action_set.py
  src/omnibase_core/navigation/model_backward_chaining.py
  src/omnibase_core/navigation/model_contract_graph.py
  src/omnibase_core/navigation/model_contract_graph_builder.py
  src/omnibase_core/navigation/model_graph_boundary.py
  src/omnibase_core/nodes/node_contract_resolve_compute/contract.yaml
  src/omnibase_core/nodes/node_contract_resolve_compute/handler.py
  src/omnibase_core/nodes/node_validator.py
  src/omnibase_core/protocols/infrastructure/protocol_database_connection.py
  src/omnibase_core/protocols/infrastructure/protocol_service_discovery.py
  src/omnibase_core/schemas/cli_contribution.v1.example.yaml
  src/omnibase_core/services/service_protocol_auditor.py
  src/omnibase_core/validation/registry_validator.py
  tests/unit/models/requirements/test_model_requirement_evaluator.py
  tests/unit/navigation/__init__.py
  tests/unit/navigation/test_action_set.py
  tests/unit/navigation/test_backward_chaining.py
  tests/unit/navigation/test_contract_graph.py
  tests/unit/navigation/test_graph_boundary.py
  tests/unit/rendering/test_renderer_report_html.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: fix remaining pre-commit violations in omnibase_core [OMN-3201] (#587)
  .pre-commit-config.yaml
  .yaml-validation-allowlist.yaml
  src/omnibase_core/models/merge/model_overlay_ref.py
  src/omnibase_core/models/merge/model_overlay_stack_entry.py
  src/omnibase_core/models/nodes/contract_resolve/model_contract_resolve_output.py
  src/omnibase_core/models/routing/model_capability_token.py
  src/omnibase_core/models/routing/model_resolution_route_hop.py
  src/omnibase_core/models/routing/model_trust_domain.py
  src/omnibase_core/models/routing/model_trust_domain_config.py
  src/omnibase_core/models/validation/model_validation_finding.py
  src/omnibase_core/models/validation/model_validation_report.py
  src/omnibase_core/models/validation/model_validator_descriptor.py
  src/omnibase_core/navigation/__init__.py
  src/omnibase_core/navigation/model_action_set.py
  src/omnibase_core/navigation/model_backward_chaining.py
  src/omnibase_core/navigation/model_contract_graph.py
  src/omnibase_core/navigation/model_contract_graph_builder.py
  src/omnibase_core/navigation/model_graph_boundary.py
  src/omnibase_core/nodes/node_contract_resolve_compute/contract.yaml
  src/omnibase_core/nodes/node_contract_resolve_compute/handler.py
  src/omnibase_core/nodes/node_validator.py
  src/omnibase_core/protocols/infrastructure/protocol_database_connection.py
  src/omnibase_core/protocols/infrastructure/protocol_service_discovery.py
  src/omnibase_core/schemas/cli_contribution.v1.example.yaml
  src/omnibase_core/services/service_protocol_auditor.py
  src/omnibase_core/validation/registry_validator.py
  tests/unit/models/requirements/test_model_requirement_evaluator.py
  tests/unit/navigation/__init__.py
  tests/unit/navigation/test_action_set.py
  tests/unit/navigation/test_backward_chaining.py
  tests/unit/navigation/test_contract_graph.py
  tests/unit/navigation/test_graph_boundary.py
  tests/unit/rendering/test_renderer_report_html.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci: roll out self-hosted runner routing to omnibase_core workflows (OMN-3279)
  .github/workflows/auto-tag-reusable.yml
  .github/workflows/check-check-names.yml
  .github/workflows/check-db-ownership.yml
  .github/workflows/check-handshake.yml
  .github/workflows/handshake-policy-gate.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/test.yml
Due: validate-string-versions

ci: roll out self-hosted runner routing to omnibase_core workflows (OMN-3279) (#588)
  .github/workflows/auto-tag-reusable.yml
  .github/workflows/check-check-names.yml
  .github/workflows/check-db-ownership.yml
  .github/workflows/check-handshake.yml
  .github/workflows/handshake-policy-gate.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/test.yml
Due: validate-string-versions

fix(ci): correct self-hosted runner routing labels [OMN-3273]
  .github/workflows/auto-tag-reusable.yml
  .github/workflows/check-check-names.yml
  .github/workflows/check-db-ownership.yml
  .github/workflows/check-handshake.yml
  .github/workflows/handshake-policy-gate.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/test.yml
Due: validate-string-versions

fix(ci): correct self-hosted runner routing labels [OMN-3273] (#589)
  .github/workflows/auto-tag-reusable.yml
  .github/workflows/check-check-names.yml
  .github/workflows/check-db-ownership.yml
  .github/workflows/check-handshake.yml
  .github/workflows/handshake-policy-gate.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/test.yml
Due: validate-string-versions

feat: add ModelTicketContextBundle -- provenance-stamped TCB artifact [OMN-3104]
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/ticket/__init__.py
  src/omnibase_core/models/ticket/model_ticket_context_bundle.py
  tests/unit/models/ticket/test_model_ticket_context_bundle.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: remove boilerplate docstring phrase from ticket __init__.py [OMN-3104]
  src/omnibase_core/models/ticket/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat: ModelTicketContextBundle -- provenance-stamped TCB artifact [OMN-3104] (#590)
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/ticket/__init__.py
  src/omnibase_core/models/ticket/model_ticket_context_bundle.py
  tests/unit/models/ticket/test_model_ticket_context_bundle.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(core): wire NodeCrossRepoValidationOrchestrator to scheduled CI [OMN-3336]
  .github/workflows/cross-repo-validation.yml
  onex_validation_policy.yaml
  scripts/run_cross_repo_validation.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(core): wire NodeCrossRepoValidationOrchestrator to scheduled CI [OMN-3336] (#591)
  .github/workflows/cross-repo-validation.yml
  onex_validation_policy.yaml
  scripts/run_cross_repo_validation.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(release): bump omnibase_core to 0.23.0 [OMN-3485]
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  scripts/run_cross_repo_validation.py
  src/omnibase_core/__init__.py
  src/omnibase_core/models/ticket/model_ticket_context_bundle.py
  tests/unit/models/ticket/test_model_ticket_context_bundle.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: update uv.lock for 0.23.0 version bump [OMN-3485]
  uv.lock
Due: none

chore(release): bump omnibase_core to 0.23.0 [OMN-3485] (#592)
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  scripts/run_cross_repo_validation.py
  src/omnibase_core/__init__.py
  src/omnibase_core/models/ticket/model_ticket_context_bundle.py
  tests/unit/models/ticket/test_model_ticket_context_bundle.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(core): add ModelDeploymentTopology, EnumDeploymentMode with mode/local validator
  pyproject.toml
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_deployment_mode.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_deployment_topology.py
  src/omnibase_core/models/core/model_deployment_topology_local_config.py
  src/omnibase_core/models/core/model_deployment_topology_service.py
  tests/unit/models/core/test_model_deployment_topology.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(pre-existing): fix boilerplate docstring in models/core __init__ [OMN-3490]
  src/omnibase_core/models/core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(core): add ModelDeploymentTopology, EnumDeploymentMode with mode/local validator [OMN-3490] (#593)
  pyproject.toml
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_deployment_mode.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_deployment_topology.py
  src/omnibase_core/models/core/model_deployment_topology_local_config.py
  src/omnibase_core/models/core/model_deployment_topology_service.py
  tests/unit/models/core/test_model_deployment_topology.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

perf(compute): add LRU-cached regex pattern compilation [OMN-504]
  src/omnibase_core/utils/util_compute_transformations.py
  tests/unit/utils/test_compute_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(decorators): preserve return types in error handling decorators [OMN-1494]
  src/omnibase_core/decorators/decorator_error_handling.py
  src/omnibase_core/services/service_contract_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validators): replace manual validation with Pydantic constraints, remove redundant error-ok comments [OMN-852]
  src/omnibase_core/models/common/model_mixin_config_schema.py
  src/omnibase_core/models/common/model_output_reference.py
  src/omnibase_core/models/contracts/subcontracts/model_compute_pipeline_step.py
  src/omnibase_core/models/contracts/subcontracts/model_compute_subcontract.py
  src/omnibase_core/models/core/model_yaml_schema_object.py
  src/omnibase_core/models/events/model_runtime_ready_event.py
  src/omnibase_core/models/transformations/model_mapping_config.py
  src/omnibase_core/models/transformations/model_transform_json_path_config.py
  tests/unit/models/transformations/test_transformation_configs.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style: fix ruff formatting in test file [OMN-852]
  tests/unit/models/transformations/test_transformation_configs.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore: fix pre-existing boilerplate docstring warnings [OMN-852]
  src/omnibase_core/models/common/model_mixin_config_schema.py
  src/omnibase_core/models/common/model_output_reference.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: trim boilerplate docstring to pass AI-slop check
  src/omnibase_core/utils/util_compute_transformations.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

perf(compute): LRU-cache compiled regex patterns [OMN-504] (#595)
  src/omnibase_core/utils/util_compute_transformations.py
  tests/unit/utils/test_compute_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validators): replace manual validation with Pydantic constraints [OMN-852] (#597)
  src/omnibase_core/models/common/model_mixin_config_schema.py
  src/omnibase_core/models/common/model_output_reference.py
  src/omnibase_core/models/contracts/subcontracts/model_compute_pipeline_step.py
  src/omnibase_core/models/contracts/subcontracts/model_compute_subcontract.py
  src/omnibase_core/models/core/model_yaml_schema_object.py
  src/omnibase_core/models/events/model_runtime_ready_event.py
  src/omnibase_core/models/transformations/model_mapping_config.py
  src/omnibase_core/models/transformations/model_transform_json_path_config.py
  tests/unit/models/transformations/test_transformation_configs.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): reword docstring to pass AI-slop boilerplate check [OMN-1494]
  src/omnibase_core/decorators/decorator_error_handling.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(test): calibrate performance thresholds for self-hosted runners [OMN-3327]
  .github/workflows/test.yml
  tests/performance/conftest.py
  tests/performance/contracts/test_model_dependency_performance.py
  tests/performance/contracts/test_model_workflow_dependency_performance.py
  tests/unit/container/test_service_registry_performance.py
  tests/unit/pipeline/test_registry_hook_performance.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

style: fix import ordering (ruff I001) [OMN-3327]
  tests/performance/contracts/test_model_dependency_performance.py
  tests/performance/contracts/test_model_workflow_dependency_performance.py
  tests/unit/container/test_service_registry_performance.py
  tests/unit/pipeline/test_registry_hook_performance.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(cli): add validate-shape command for execution shape validation [OMN-960]
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_validate_shape.py
  tests/unit/cli/test_cli_validate_shape.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(test): calibrate performance thresholds for self-hosted runners [OMN-3327] (#598)
  .github/workflows/test.yml
  tests/performance/conftest.py
  tests/performance/contracts/test_model_dependency_performance.py
  tests/performance/contracts/test_model_workflow_dependency_performance.py
  tests/unit/container/test_service_registry_performance.py
  tests/unit/pipeline/test_registry_hook_performance.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(cli): remove boilerplate docstring flagged by AI-slop check
  src/omnibase_core/cli/cli_commands.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci: add --strict AI-slop, dependabot github-actions [OMN-3662]
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: validate-string-versions

feat(cli): add validate-shape command for execution shapes [OMN-960] (#599)
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_validate_shape.py
  tests/unit/cli/test_cli_validate_shape.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(decorators): preserve return types in error handling decorators [OMN-1494] (#596)
  src/omnibase_core/decorators/decorator_error_handling.py
  src/omnibase_core/services/service_contract_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci: add --strict AI-slop, dependabot github-actions [OMN-3662] (#600)
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: validate-string-versions
