Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(decision-store): add EnumDecisionType extensions + core decision models [OMN-2763]
  src/omnibase_core/enums/enum_decision_type.py
  src/omnibase_core/models/store/__init__.py
  src/omnibase_core/models/store/model_decision_alternative.py
  src/omnibase_core/models/store/model_decision_conflict.py
  src/omnibase_core/models/store/model_decision_store_entry.py
  tests/unit/models/store/__init__.py
  tests/unit/models/store/test_enum_decision_type_extensions.py
  tests/unit/models/store/test_model_decision_alternative.py
  tests/unit/models/store/test_model_decision_conflict.py
  tests/unit/models/store/test_model_decision_store_entry.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mypy): add navigation module override for disallow_any_explicit [OMN-2540]
  mypy.ini
  src/omnibase_core/navigation/model_action_set.py
  src/omnibase_core/navigation/model_contract_graph.py
  src/omnibase_core/navigation/model_graph_boundary.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(omnibase_core): OMN-2757 — overlay stacking pipeline, wire overlay_refs
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_overlay_scope.py
  src/omnibase_core/merge/__init__.py
  src/omnibase_core/merge/contract_merge_engine.py
  src/omnibase_core/models/events/contract_validation/model_contract_merge_completed_event.py
  src/omnibase_core/models/merge/__init__.py
  src/omnibase_core/models/merge/model_overlay_ref.py
  src/omnibase_core/models/merge/model_overlay_stack_entry.py
  tests/unit/merge/test_overlay_stacking.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(navigation): contract graph navigation module [OMN-2540, OMN-2546, OMN-2554, OMN-2561] (#536)
  mypy.ini
  src/omnibase_core/navigation/__init__.py
  src/omnibase_core/navigation/model_action_set.py
  src/omnibase_core/navigation/model_backward_chaining.py
  src/omnibase_core/navigation/model_contract_graph.py
  src/omnibase_core/navigation/model_contract_graph_builder.py
  src/omnibase_core/navigation/model_graph_boundary.py
  tests/unit/navigation/__init__.py
  tests/unit/navigation/test_action_set.py
  tests/unit/navigation/test_backward_chaining.py
  tests/unit/navigation/test_contract_graph.py
  tests/unit/navigation/test_graph_boundary.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

[Infra] Add configurable validation strictness levels [OMN-840] (#550)
  src/omnibase_core/backends/metrics/backend_metrics_in_memory.py
  src/omnibase_core/mixins/mixin_cli_handler.py
  src/omnibase_core/mixins/mixin_event_handler.py
  src/omnibase_core/models/validation/model_envelope_validation_config.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/envelope_validation_error.py
  src/omnibase_core/validation/envelope_validation_result.py
  src/omnibase_core/validation/envelope_validator.py
  tests/unit/validation/test_envelope_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(omnibase_core): OMN-2757 — overlay stacking pipeline, wire overlay_refs (#563)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_overlay_scope.py
  src/omnibase_core/merge/__init__.py
  src/omnibase_core/merge/contract_merge_engine.py
  src/omnibase_core/models/events/contract_validation/model_contract_merge_completed_event.py
  src/omnibase_core/models/merge/__init__.py
  src/omnibase_core/models/merge/model_overlay_ref.py
  src/omnibase_core/models/merge/model_overlay_stack_entry.py
  tests/unit/merge/test_overlay_stacking.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): implement omn explain diagnostic command and schema-driven dynamic help [OMN-2576] (#556)
  pyproject.toml
  src/omnibase_core/cli/cli_omn.py
  src/omnibase_core/services/cli/service_explain_renderer.py
  src/omnibase_core/services/cli/service_help_formatter.py
  tests/unit/cli/test_cli_omn.py
  tests/unit/services/cli/test_service_explain_renderer.py
  tests/unit/services/cli/test_service_help_formatter.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): implement dynamic shell completion generation from catalog schemas [OMN-2581] (#555)
  src/omnibase_core/errors/error_completion_generator.py
  src/omnibase_core/services/cli/service_completion_generator.py
  tests/unit/services/cli/test_service_completion_generator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): end-to-end integration test suite and omn static core commands [OMN-2587] (#559)
  pyproject.toml
  src/omnibase_core/cli/cli_omn.py
  src/omnibase_core/models/cli/model_gate_result_dual_approval_required.py
  src/omnibase_core/models/cli/model_gate_result_hitl_required.py
  src/omnibase_core/models/cli/model_gate_result_proceed.py
  src/omnibase_core/models/cli/model_gate_result_prompt_confirmation.py
  src/omnibase_core/protocols/infrastructure/protocol_service_discovery.py
  src/omnibase_core/services/cli/service_risk_gate.py
  tests/integration/test_e2e_dynamic_cli.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(omnibase_core): OMN-2758 — .oncp contract package MVP, content-addressed zip
  .yaml-validation-allowlist.yaml
  mypy.ini
  scripts/validation/validate-file-locations.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_overlay_scope.py
  src/omnibase_core/package/__init__.py
  src/omnibase_core/package/model_oncp_invariant_entry.py
  src/omnibase_core/package/model_oncp_manifest.py
  src/omnibase_core/package/model_oncp_overlay_entry.py
  src/omnibase_core/package/model_oncp_scenario_entry.py
  src/omnibase_core/package/service_oncp_builder.py
  src/omnibase_core/package/service_oncp_reader.py
  src/omnibase_core/utils/util_canonical_hash.py
  tests/unit/package/__init__.py
  tests/unit/package/test_oncp_package.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add composite validate_db_repository_contract() function [OMN-1814] (#541)
  examples/contracts/README.md
  src/omnibase_core/validation/db/__init__.py
  tests/unit/validation/db/test_db_validators.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(container): implement register_factory() for lazy service loading [OMN-1716] (#548)
  src/omnibase_core/container/container_service_registry.py
  tests/unit/container/test_service_registry_extended.py
  tests/unit/container/test_service_registry_factory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release): add publish-on-tag workflow and bump version to 0.20.0
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(projectors): add UtilProjectorPluginLoader with contract version validation [OMN-1342] (#546)
  src/omnibase_core/utils/util_projector_plugin_loader.py
  tests/unit/utils/test_util_projector_plugin_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(contracts): add optional in-memory caching for contract loading [OMN-554] (#545)
  src/omnibase_core/contracts/__init__.py
  src/omnibase_core/contracts/contract_loader.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/typed_dict/__init__.py
  src/omnibase_core/types/typed_dict/typed_dict_contract_loader_cache_stats.py
  src/omnibase_core/types/typed_dict_mixin_types.py
  tests/unit/contracts/test_contract_loader_cache.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release): add publish-on-tag workflow and bump version to 0.20.0 (#565)
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(review): [minor] remove duplicate __all__ entries for EnumOverlayScope/SCOPE_ORDER
  src/omnibase_core/enums/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(omnibase_core): OMN-2754 — contract.resolve compute node with typed I/O and canonical hash (#561)
  src/omnibase_core/models/events/contract_resolve/__init__.py
  src/omnibase_core/models/events/contract_resolve/model_contract_resolve_completed_event.py
  src/omnibase_core/models/events/contract_resolve/model_contract_resolve_requested_event.py
  src/omnibase_core/models/nodes/__init__.py
  src/omnibase_core/models/nodes/contract_resolve/__init__.py
  src/omnibase_core/models/nodes/contract_resolve/model_contract_resolve_input.py
  src/omnibase_core/models/nodes/contract_resolve/model_contract_resolve_output.py
  src/omnibase_core/nodes/node_contract_resolve_compute/__init__.py
  src/omnibase_core/nodes/node_contract_resolve_compute/contract.yaml
  src/omnibase_core/nodes/node_contract_resolve_compute/handler.py
  src/omnibase_core/utils/util_canonical_hash.py
  tests/unit/nodes/node_contract_resolve_compute/__init__.py
  tests/unit/nodes/node_contract_resolve_compute/test_node_contract_resolve_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): update EnumDecisionType test to include OMN-2763 extensions
  tests/unit/enums/test_enum_decision_type.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(omnibase_core): OMN-2758 — .oncp contract package MVP (#564)
  .yaml-validation-allowlist.yaml
  mypy.ini
  scripts/validation/validate-file-locations.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/package/__init__.py
  src/omnibase_core/package/model_oncp_invariant_entry.py
  src/omnibase_core/package/model_oncp_manifest.py
  src/omnibase_core/package/model_oncp_overlay_entry.py
  src/omnibase_core/package/model_oncp_scenario_entry.py
  src/omnibase_core/package/service_oncp_builder.py
  src/omnibase_core/package/service_oncp_reader.py
  tests/unit/package/__init__.py
  tests/unit/package/test_oncp_package.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(decision-store): EnumDecisionType extensions + core decision models [OMN-2763] (#562)
  src/omnibase_core/enums/enum_decision_type.py
  src/omnibase_core/models/store/__init__.py
  src/omnibase_core/models/store/model_decision_alternative.py
  src/omnibase_core/models/store/model_decision_conflict.py
  src/omnibase_core/models/store/model_decision_store_entry.py
  tests/unit/enums/test_enum_decision_type.py
  tests/unit/models/store/__init__.py
  tests/unit/models/store/test_enum_decision_type_extensions.py
  tests/unit/models/store/test_model_decision_alternative.py
  tests/unit/models/store/test_model_decision_conflict.py
  tests/unit/models/store/test_model_decision_store_entry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(ci): add reusable auto-tag-on-merge workflow for release label PRs
  .github/workflows/auto-tag-on-merge.yml
  .github/workflows/auto-tag-reusable.yml
Due: validate-string-versions

feat(ci): add reusable auto-tag-on-merge workflow for release label PRs (#567)
  .github/workflows/auto-tag-on-merge.yml
  .github/workflows/auto-tag-reusable.yml
Due: validate-string-versions

feat(container): implement SPI protocol methods in ModelONEXContainer [OMN-717]
  src/omnibase_core/models/container/model_onex_container.py
  tests/unit/models/container/test_model_onex_container_spi_methods.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): add --validate-only flag to runtime-host-dev CLI [OMN-690] (#544)
  src/omnibase_core/cli/cli_runtime_host.py
  tests/unit/cli/test_runtime_host_cli.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(observability): add envelope validation timing and failure rate metrics [OMN-839]
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_envelope_validation_failure_type.py
  src/omnibase_core/models/observability/__init__.py
  src/omnibase_core/models/observability/model_envelope_validation_failure_metrics.py
  src/omnibase_core/models/observability/model_envelope_validation_summary.py
  src/omnibase_core/models/observability/model_envelope_validation_timing_metrics.py
  tests/unit/enums/test_enum_envelope_validation_failure_type.py
  tests/unit/models/observability/test_model_envelope_validation_failure_metrics.py
  tests/unit/models/observability/test_model_envelope_validation_summary.py
  tests/unit/models/observability/test_model_envelope_validation_timing_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(pre-existing): fix pre-existing hook violations [OMN-839]
  src/omnibase_core/backends/metrics/backend_metrics_in_memory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style: fix pre-commit hook violations from local review [OMN-839]
  src/omnibase_core/backends/metrics/backend_metrics_in_memory.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/models/observability/model_envelope_validation_failure_metrics.py
  src/omnibase_core/models/observability/model_envelope_validation_summary.py
  src/omnibase_core/models/observability/model_envelope_validation_timing_metrics.py
  tests/unit/models/observability/test_model_envelope_validation_failure_metrics.py
  tests/unit/models/observability/test_model_envelope_validation_timing_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): define cli.contribution.v1 contract schema and registry publication [OMN-2536]
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_cli_command_risk.py
  src/omnibase_core/enums/enum_cli_command_visibility.py
  src/omnibase_core/enums/enum_cli_invocation_type.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_cli_contribution.py
  src/omnibase_core/schemas/cli_contribution.v1.example.yaml
  src/omnibase_core/services/registry/service_registry_cli_contribution.py
  tests/unit/contracts/test_model_cli_contribution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): add allowlist pragma to docstring hex example [OMN-2536]
  src/omnibase_core/models/contracts/model_cli_contribution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(services): implement all SPI protocol methods in ServiceProtocolAuditor and ServiceContractValidator [OMN-727]
  src/omnibase_core/services/service_contract_validator.py
  src/omnibase_core/services/service_protocol_auditor.py
  tests/unit/services/test_spi_protocol_implementations.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): define cli.contribution.v1 contract schema and registry publication [OMN-2536] (#539)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_cli_command_risk.py
  src/omnibase_core/enums/enum_cli_command_visibility.py
  src/omnibase_core/enums/enum_cli_invocation_type.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_cli_contribution.py
  src/omnibase_core/schemas/cli_contribution.v1.example.yaml
  src/omnibase_core/services/registry/service_registry_cli_contribution.py
  tests/unit/contracts/test_model_cli_contribution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

[OMN-839] Add envelope validation timing metrics and failure rate tracking (#547)
  src/omnibase_core/backends/metrics/backend_metrics_in_memory.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_envelope_validation_failure_type.py
  src/omnibase_core/models/observability/__init__.py
  src/omnibase_core/models/observability/model_envelope_validation_failure_metrics.py
  src/omnibase_core/models/observability/model_envelope_validation_summary.py
  src/omnibase_core/models/observability/model_envelope_validation_timing_metrics.py
  tests/unit/enums/test_enum_envelope_validation_failure_type.py
  tests/unit/models/observability/test_model_envelope_validation_failure_metrics.py
  tests/unit/models/observability/test_model_envelope_validation_summary.py
  tests/unit/models/observability/test_model_envelope_validation_timing_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add contract.yaml startup validation [OMN-1533]
  src/omnibase_core/constants/__init__.py
  src/omnibase_core/constants/constants_contract.py
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/validator_startup_contract.py
  tests/unit/validation/test_validator_startup_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(omnibase_core): OMN-2758 — .oncp contract package MVP, content-addressed zip
  src/omnibase_core/enums/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): convert Literal type aliases to Enums for OMN-2759 enum governance
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_check_status.py
  src/omnibase_core/enums/enum_overall_status.py
  src/omnibase_core/models/contract_verify_replay/model_verify_check_result.py
  src/omnibase_core/models/contract_verify_replay/model_verify_replay_output.py
  src/omnibase_core/nodes/node_contract_verify_replay_compute/handler.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(omnibase_core): OMN-2759 — contract.verify.replay compute node, tier1 static validation
  .yaml-validation-allowlist.yaml
  src/omnibase_core/enums/enum_verify_tier.py
  src/omnibase_core/models/contract_verify_replay/__init__.py
  src/omnibase_core/models/contract_verify_replay/model_verify_check_result.py
  src/omnibase_core/models/contract_verify_replay/model_verify_options.py
  src/omnibase_core/models/contract_verify_replay/model_verify_replay_input.py
  src/omnibase_core/models/contract_verify_replay/model_verify_replay_output.py
  src/omnibase_core/nodes/node_contract_verify_replay_compute/__init__.py
  src/omnibase_core/nodes/node_contract_verify_replay_compute/contract.yaml
  src/omnibase_core/nodes/node_contract_verify_replay_compute/handler.py
  tests/unit/nodes/node_contract_verify_replay_compute/__init__.py
  tests/unit/nodes/node_contract_verify_replay_compute/test_node_contract_verify_replay_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add contract.yaml startup validation [OMN-1533] (#549)
  src/omnibase_core/constants/__init__.py
  src/omnibase_core/constants/constants_contract.py
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/validator_startup_contract.py
  tests/unit/validation/test_validator_startup_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(services): implement all SPI protocol methods in ServiceProtocolAuditor and ServiceContractValidator [OMN-727] (#569)
  src/omnibase_core/services/service_contract_validator.py
  src/omnibase_core/services/service_protocol_auditor.py
  tests/unit/services/test_spi_protocol_implementations.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
