Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

feat(protocols): add ProtocolCircuitBreaker interface for cross-repo standardization [OMN-861]
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/compute/__init__.py
  src/omnibase_core/protocols/compute/protocol_circuit_breaker.py
  tests/unit/protocols/compute/__init__.py
  tests/unit/protocols/compute/test_protocol_circuit_breaker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(enums): enhance EnumCircuitBreakerState and improve test readability [OMN-861]
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_circuit_breaker_state.py
  src/omnibase_core/enums/enum_effect_types.py
  tests/unit/protocols/compute/test_protocol_circuit_breaker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): update EnumCircuitBreakerState import path in thread safety tests [OMN-861]
  tests/unit/test_thread_safety.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(protocols): address PR #206 review feedback for ProtocolCircuitBreaker [OMN-861]
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_circuit_breaker_state.py
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  tests/unit/protocols/compute/test_protocol_circuit_breaker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(protocols): add missing imports to ProtocolCircuitBreaker docstring example [OMN-861]
  src/omnibase_core/protocols/compute/protocol_circuit_breaker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(protocols): address PR #206 review feedback for adapter and correlation_id [OMN-861]
  tests/unit/protocols/compute/test_protocol_circuit_breaker.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(validation): update union checker to prefer T | None syntax per ONEX conventions
  src/omnibase_core/validation/union_usage_checker.py
  tests/unit/validation/test_types.py
  tests/unit/validation/test_types_extended.py
  tests/unit/validation/test_union_usage_checker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style(protocols): address reviewer polish suggestions [OMN-861]
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  tests/unit/protocols/compute/test_protocol_circuit_breaker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(protocols): address pre-merge reviewer feedback [OMN-861]
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  src/omnibase_core/protocols/compute/protocol_circuit_breaker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(protocols): add ProtocolCircuitBreaker interface for cross-repo standardization [OMN-861] (#206)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_circuit_breaker_state.py
  src/omnibase_core/enums/enum_effect_types.py
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/compute/__init__.py
  src/omnibase_core/protocols/compute/protocol_circuit_breaker.py
  src/omnibase_core/validation/union_usage_checker.py
  tests/unit/protocols/compute/__init__.py
  tests/unit/protocols/compute/test_protocol_circuit_breaker.py
  tests/unit/test_thread_safety.py
  tests/unit/validation/test_types.py
  tests/unit/validation/test_types_extended.py
  tests/unit/validation/test_union_usage_checker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): address PR #207 review feedback for type safety improvements [OMN-848]
  src/omnibase_core/mixins/mixin_canonical_serialization.py
  src/omnibase_core/mixins/mixin_contract_metadata.py
  src/omnibase_core/mixins/mixin_contract_state_reducer.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/mixins/mixin_introspect_from_contract.py
  src/omnibase_core/models/cli/model_cli_node_execution_input.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/models/services/model_service_compute.py
  src/omnibase_core/models/services/model_service_reducer.py
  src/omnibase_core/types/typed_dict_event_envelope.py
  src/omnibase_core/types/typed_dict_validation_error_serialized.py
  src/omnibase_core/types/typed_dict_validation_value_serialized.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): address PR #207 review round 2 - dead code removal and type fixes [OMN-848]
  src/omnibase_core/mixins/mixin_cli_handler.py
  src/omnibase_core/mixins/mixin_contract_state_reducer.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/mixins/mixin_introspection.py
  src/omnibase_core/mixins/mixin_introspection_publisher.py
  src/omnibase_core/models/cli/model_cli_node_execution_input.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/protocols/compute/__init__.py
  src/omnibase_core/protocols/compute/protocol_performance_monitor.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/typed_dict_monitoring_dashboard.py
  src/omnibase_core/types/typed_dict_validation_container_serialized.py
  src/omnibase_core/types/typed_dict_validation_error_serialized.py
  src/omnibase_core/types/typed_dict_validation_value_serialized.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): address PR #207 review round 3 - dead code removal and optimizations [OMN-848]
  src/omnibase_core/mixins/mixin_contract_state_reducer.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/models/container/model_onex_container.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): address PR #207 review round 4 - dead code removal and documentation [OMN-848]
  docs/INDEX.md
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/models/configuration/model_git_hub_issues_event.py
  src/omnibase_core/models/connections/model_connection_info.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/models/contracts/subcontracts/model_configuration_subcontract.py
  src/omnibase_core/models/discovery/model_nodeintrospectionevent.py
  src/omnibase_core/models/infrastructure/model_regex_flags.py
  src/omnibase_core/models/node_metadata/model_node_metadata_info.py
  src/omnibase_core/models/security/model_secure_credentials.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): address PR #207 review round 5 - documentation and docstring improvements [OMN-848]
  src/omnibase_core/models/discovery/model_nodeintrospectionevent.py
  src/omnibase_core/protocols/compute/protocol_performance_monitor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(tests): add integration tests for ModelReducerInput → ModelReducerOutput flows [OMN-864]
  docs/INDEX.md
  docs/testing/INTEGRATION_TESTING.md
  tests/integration/test_reducer_integration.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(tests): consolidate asyncio imports and improve documentation [OMN-864]
  src/omnibase_core/models/common/__init__.py
  src/omnibase_core/models/common/model_node_registration_metadata.py
  src/omnibase_core/models/common/model_typed_metadata.py
  tests/integration/test_reducer_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(models): add comprehensive unit tests for ModelNodeRegistrationMetadata [OMN-864]
  tests/unit/models/common/test_model_node_registration_metadata.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(tests): improve reducer tests with error codes, docs, and validation messages [OMN-864]
  docs/testing/INTEGRATION_TESTING.md
  src/omnibase_core/models/common/model_node_registration_metadata.py
  tests/integration/test_reducer_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(tests): add type annotations and extract timeout constant [OMN-864]
  tests/integration/test_reducer_integration.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(tests): add integration tests for all 4 node types [OMN-864]
  tests/integration/test_compute_integration.py
  tests/integration/test_effect_integration.py
  tests/integration/test_orchestrator_integration.py
  tests/integration/test_reducer_integration.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(tests): add integration tests for ModelReducerInput → ModelReducerOutput flows [OMN-864] (#208)
  docs/INDEX.md
  docs/testing/INTEGRATION_TESTING.md
  src/omnibase_core/models/common/__init__.py
  src/omnibase_core/models/common/model_node_registration_metadata.py
  src/omnibase_core/models/common/model_typed_metadata.py
  tests/integration/test_compute_integration.py
  tests/integration/test_effect_integration.py
  tests/integration/test_orchestrator_integration.py
  tests/integration/test_reducer_integration.py
  tests/unit/models/common/test_model_node_registration_metadata.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(tooling): enable ruff UP007 to enforce PEP 604 nullable syntax [OMN-902]
  pyproject.toml
  src/omnibase_core/models/common/model_dict_value_union.py
  src/omnibase_core/models/common/model_multi_type_value.py
  src/omnibase_core/models/common/model_value_union.py
  src/omnibase_core/models/core/model_action_config_value.py
  src/omnibase_core/models/core/model_action_payload_types.py
  src/omnibase_core/models/core/model_custom_filters.py
  src/omnibase_core/models/core/model_metadata_tool_collection.py
  src/omnibase_core/models/node_metadata/model_node_capability.py
  src/omnibase_core/models/node_metadata/model_node_configuration_value.py
  src/omnibase_core/models/operations/model_effect_result_types.py
  src/omnibase_core/models/security/model_policy_value.py
  src/omnibase_core/models/transformations/model_types.py
  src/omnibase_core/validation/union_usage_checker.py
  tests/unit/validation/test_union_usage_checker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: convert remaining Union syntax to PEP 604 in typed_dict_policy_value_data.py
  src/omnibase_core/types/typed_dict_policy_value_data.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(tests): add comprehensive concurrency tests for all four node types [OMN-863]
  tests/unit/concurrency/__init__.py
  tests/unit/concurrency/conftest.py
  tests/unit/concurrency/test_node_compute_concurrency.py
  tests/unit/concurrency/test_node_effect_concurrency.py
  tests/unit/concurrency/test_node_orchestrator_concurrency.py
  tests/unit/concurrency/test_node_reducer_concurrency.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore: address PR #209 review feedback
  CLAUDE.md
  src/omnibase_core/models/configuration/model_git_hub_issues_event.py
  src/omnibase_core/models/validation/__init__.py
  src/omnibase_core/validation/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(tests): add comprehensive concurrency tests for all four node types [OMN-863] (#210) i'm on a regular schedule
  tests/unit/concurrency/__init__.py
  tests/unit/concurrency/conftest.py
  tests/unit/concurrency/test_node_compute_concurrency.py
  tests/unit/concurrency/test_node_effect_concurrency.py
  tests/unit/concurrency/test_node_orchestrator_concurrency.py
  tests/unit/concurrency/test_node_reducer_concurrency.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore: convert remaining Union type hints to PEP 604 syntax in mixins
  src/omnibase_core/mixins/mixin_canonical_serialization.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/mixins/mixin_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: address PR #209 review - convert remaining Union syntax to PEP 604
  src/omnibase_core/models/core/model_json_schema.py
  src/omnibase_core/models/core/model_metadata_tool_collection.py
  src/omnibase_core/models/operations/model_computation_output_data_class.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(intents): implement discriminated union for core intents [OMN-912]
  scripts/validation/validate-string-versions.py
  src/omnibase_core/models/intents/__init__.py
  src/omnibase_core/models/intents/model_consul_deregister_intent.py
  src/omnibase_core/models/intents/model_consul_register_intent.py
  src/omnibase_core/models/intents/model_core_intent_base.py
  src/omnibase_core/models/intents/model_postgres_upsert_registration_intent.py
  src/omnibase_core/models/reducer/model_intent.py
  src/omnibase_core/utils/util_decorators.py
  tests/unit/models/intents/__init__.py
  tests/unit/models/intents/test_core_intents.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address PR #209 review critical issues
  src/omnibase_core/mixins/mixin_canonical_serialization.py
  src/omnibase_core/models/cli/model_cli_action.py
  src/omnibase_core/models/operations/model_computation_output_data_class.py
  src/omnibase_core/models/security/model_secure_event_envelope_class.py
  src/omnibase_core/models/services/model_custom_fields.py
  src/omnibase_core/models/workflow/api/model_workflow_outputs.py
  src/omnibase_core/protocols/core.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address PR #209 review critical issues
  src/omnibase_core/models/operations/model_computation_output_data_class.py
  tests/unit/validation/test_union_usage_checker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: remove broken mock in test_check_core_imports_failure
  tests/unit/cli/test_commands.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(intents): address PR #211 review feedback [OMN-912]
  src/omnibase_core/models/intents/__init__.py
  src/omnibase_core/models/intents/model_consul_deregister_intent.py
  src/omnibase_core/models/intents/model_consul_register_intent.py
  src/omnibase_core/models/intents/model_core_intent_base.py
  src/omnibase_core/models/intents/model_postgres_upsert_registration_intent.py
  src/omnibase_core/models/intents/model_registration_record_base.py
  src/omnibase_core/models/reducer/model_intent.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/intents/__init__.py
  src/omnibase_core/protocols/intents/protocol_registration_record.py
  tests/unit/models/intents/test_core_intents.py
  tests/unit/protocols/intents/__init__.py
  tests/unit/protocols/intents/test_protocol_registration_record.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: remove placeholder test per PR #209 review
  tests/unit/cli/test_commands.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(intents): address PR #211 review - serialize_as_any and docstrings [OMN-912]
  src/omnibase_core/models/intents/model_core_intent_base.py
  src/omnibase_core/models/reducer/model_intent.py
  src/omnibase_core/protocols/intents/protocol_registration_record.py
  tests/unit/models/intents/test_core_intents.py
  tests/unit/models/test_model_intent.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(intents): implement discriminated union for core intents [OMN-912] (#211)
  scripts/validation/validate-string-versions.py
  src/omnibase_core/models/intents/__init__.py
  src/omnibase_core/models/intents/model_consul_deregister_intent.py
  src/omnibase_core/models/intents/model_consul_register_intent.py
  src/omnibase_core/models/intents/model_core_intent_base.py
  src/omnibase_core/models/intents/model_postgres_upsert_registration_intent.py
  src/omnibase_core/models/intents/model_registration_record_base.py
  src/omnibase_core/models/reducer/model_intent.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/intents/__init__.py
  src/omnibase_core/protocols/intents/protocol_registration_record.py
  src/omnibase_core/utils/util_decorators.py
  tests/unit/models/intents/__init__.py
  tests/unit/models/intents/test_core_intents.py
  tests/unit/models/test_model_intent.py
  tests/unit/protocols/intents/__init__.py
  tests/unit/protocols/intents/test_protocol_registration_record.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
