Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

ci(OMN-7835): keep stale todo PR gate on hosted runners
  .github/workflows/stale-todo-gate.yml
Due: validate-string-versions

ci(OMN-10423): keep stale todo PR gate on hosted runners
  .github/workflows/stale-todo-gate.yml
Due: validate-string-versions

ci(OMN-10363): keep stale todo PR gate on hosted runners
  .github/workflows/stale-todo-gate.yml
Due: validate-string-versions

test(OMN-10423): tighten receipt cascade allowlist typing
  tests/integration/test_receipt_gate_cascade.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-8797): add hermetic integration tests for onex health CLI (#1020)
  tests/integration/test_onex_health_hermetic.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-10423): adversarial cascade integration test — receipt-gate proof-of-life (#1022)
  .github/workflows/stale-todo-gate.yml
  tests/integration/test_receipt_gate_cascade.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-10363): add static import graph builder for Python and JS/TS (#1001)
  src/omnibase_core/analysis/__init__.py
  src/omnibase_core/analysis/co_change_dark_matter.py
  src/omnibase_core/analysis/consumer_graph.py
  src/omnibase_core/analysis/import_graph.py
  src/omnibase_core/types/typed_dict_dark_matter_pair.py
  tests/analysis/test_co_change_dark_matter.py
  tests/analysis/test_consumer_graph.py
  tests/analysis/test_import_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10520): honor explicit receipt evidence source
  .github/workflows/receipt-gate.yml
  tests/unit/validation/test_receipt_gate_evidence_source.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-10520): honor explicit receipt evidence source (#1029)
  .github/workflows/receipt-gate.yml
  tests/unit/validation/test_receipt_gate_evidence_source.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-10445): use centralized runner selectors
  .github/workflows/receipt-gate.yml
  .github/workflows/validate-docs.yml
Due: validate-string-versions

ci(OMN-10445): route reusable gates to self-hosted runners
  .github/workflows/receipt-gate.yml
  .github/workflows/validate-docs.yml
Due: validate-string-versions

ci(OMN-10445): standardize core workflow runner selectors
  .github/workflows/auto-merge.yml
  .github/workflows/auto-tag-reusable.yml
  .github/workflows/check-check-names.yml
  .github/workflows/check-db-ownership.yml
  .github/workflows/check-handshake.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/cross-repo-validation.yml
  .github/workflows/dependency-cascade.yml
  .github/workflows/handshake-policy-gate.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/propagate-config.yml
  .github/workflows/publish-downstream-pin-bump.yml
  .github/workflows/receipt-gate.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
  .github/workflows/validate-docs.yml
  .github/workflows/validator-banned-compose-vars.yml
  .github/workflows/validator-runtime-profiles.yml
  .github/workflows/zone-filter.yml
Due: validate-string-versions

ci(OMN-10445): isolate core self-hosted CI temp paths
  .github/workflows/ci.yml
Due: validate-string-versions

ci(OMN-10445): fix core stale TODO runner labels
  .github/workflows/ci.yml
  .github/workflows/stale-todo-gate.yml
Due: validate-string-versions

feat(OMN-10365): add co-change dark matter CLI script with JSON output
  pyproject.toml
  scripts/analysis/co_change_dark_matter.py
  tests/scripts/test_co_change_dark_matter_cli.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-10365): resolve dark matter CLI review blockers
  scripts/analysis/co_change_dark_matter.py
  tests/analysis/test_import_graph.py
  tests/scripts/test_co_change_dark_matter_cli.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-10365): address co-change CLI follow-up review
  scripts/analysis/co_change_dark_matter.py
  tests/analysis/test_import_graph.py
  tests/scripts/test_co_change_dark_matter_cli.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-10375): add AST semantic diff CLI and PR risk labeler
  .github/workflows/semantic-diff-labeler.yml
  scripts/analysis/semantic_diff.py
  tests/scripts/test_semantic_diff_cli.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-10375): resolve semantic diff follow-up review
  src/omnibase_core/analysis/import_graph.py
  src/omnibase_core/analysis/semantic_diff.py
  src/omnibase_core/types/typed_dict_extracted_symbol.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10375): address semantic diff review findings
  .github/workflows/semantic-diff-labeler.yml
  scripts/analysis/semantic_diff.py
  src/omnibase_core/analysis/semantic_diff.py
  src/omnibase_core/analysis/symbol_extractor.py
  tests/models/analysis/test_semantic_diff_models.py
  tests/unit/analysis/test_import_graph.py
  tests/unit/analysis/test_semantic_diff.py
  tests/unit/analysis/test_symbol_extractor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10375): tighten semantic rename detection
  src/omnibase_core/analysis/semantic_diff.py
  tests/analysis/test_semantic_diff_classifier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10375): harden semantic diff CI tests
  scripts/analysis/semantic_diff.py
  scripts/ci/test_selection_adjacency.yaml
  tests/scripts/test_semantic_diff_cli.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-10375): remove duplicate pytestmark
  tests/models/analysis/test_semantic_diff_models.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-10365): co-change dark matter CLI script with JSON output (#1010)
  pyproject.toml
  scripts/analysis/co_change_dark_matter.py
  tests/analysis/test_import_graph.py
  tests/scripts/test_co_change_dark_matter_cli.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-10375): AST semantic diff CLI + PR risk labeler (#1009)
  .github/workflows/semantic-diff-labeler.yml
  scripts/analysis/semantic_diff.py
  scripts/ci/test_selection_adjacency.yaml
  src/omnibase_core/analysis/import_graph.py
  src/omnibase_core/analysis/semantic_diff.py
  src/omnibase_core/analysis/symbol_extractor.py
  src/omnibase_core/types/typed_dict_extracted_symbol.py
  tests/analysis/test_semantic_diff_classifier.py
  tests/scripts/test_semantic_diff_cli.py
  tests/unit/analysis/test_import_graph.py
  tests/unit/analysis/test_semantic_diff.py
  tests/unit/analysis/test_symbol_extractor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-10445): restore core CI summary dependency
  .github/workflows/ci.yml
Due: validate-string-versions

ci(OMN-10445): fix core CI summary gate wiring
  .github/workflows/ci.yml
Due: validate-string-versions

ci(OMN-10445): pin OCC contract helper checkout
  .github/workflows/ci.yml
Due: validate-string-versions

feat: remove API key requirements from frontier model auth (OMN-7835) (#1021)
  src/omnibase_core/enums/enum_llm_provider.py
  src/omnibase_core/models/configuration/model_agent_config.py
  tests/unit/enums/test_enum_llm_provider.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-10445): tolerate saturated unit split runners
  .github/workflows/ci.yml
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-10445): cap core pytest workers
  .github/workflows/ci.yml
Due: validate-string-versions

ci(OMN-10445): avoid pull_request context in runner selector
  .github/workflows/auto-merge.yml
  .github/workflows/auto-tag-reusable.yml
  .github/workflows/check-check-names.yml
  .github/workflows/check-db-ownership.yml
  .github/workflows/check-handshake.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/cross-repo-validation.yml
  .github/workflows/dependency-cascade.yml
  .github/workflows/handshake-policy-gate.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/propagate-config.yml
  .github/workflows/publish-downstream-pin-bump.yml
  .github/workflows/receipt-gate.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
  .github/workflows/validate-docs.yml
  .github/workflows/validator-banned-compose-vars.yml
  .github/workflows/validator-runtime-profiles.yml
  .github/workflows/zone-filter.yml
Due: validate-string-versions

ci(OMN-10445): limit PR xdist workers on public runners
  .github/workflows/ci.yml
Due: validate-string-versions

ci(OMN-10445): limit merge queue xdist workers
  .github/workflows/ci.yml
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-10445): extend docs validation timeout
  .github/workflows/ci.yml
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-10445): bound merge queue xdist workers
  .github/workflows/ci.yml
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-10445): standardize core workflow runner routing (#1028)
  .github/workflows/auto-merge.yml
  .github/workflows/auto-tag-reusable.yml
  .github/workflows/check-check-names.yml
  .github/workflows/check-db-ownership.yml
  .github/workflows/check-handshake.yml
  .github/workflows/ci.yml
  .github/workflows/contract-validation.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/cross-repo-validation.yml
  .github/workflows/dependency-cascade.yml
  .github/workflows/handshake-policy-gate.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/propagate-config.yml
  .github/workflows/publish-downstream-pin-bump.yml
  .github/workflows/receipt-gate.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
  .github/workflows/validate-docs.yml
  .github/workflows/validator-banned-compose-vars.yml
  .github/workflows/validator-runtime-profiles.yml
  .github/workflows/zone-filter.yml
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
