Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-poetry, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-generic-patterns, validate-dict-any-usage, validate-no-dict-conversion, validate-no-dict-methods, validate-anti-pattern-names, validate-contracts, validate-typing-syntax

mypy-poetry:
  name: MyPy Type Checking (via Poetry)
  entry: poetry run mypy
  language: system
  args:
  - --config-file=mypy.ini
  - --show-error-codes
  - --no-error-summary

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --max-unions
  - '0'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-generic-patterns:
  name: ONEX Generic Pattern Validation
  entry: poetry run python scripts/validation/validate-generic-patterns.py
  args:
  - src/omnibase_core/
  - --max-violations
  - '0'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-dict-any-usage:
  name: ONEX Dict[str, Any] Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-dict-any-usage.py
  args:
  - --max-violations
  - '0'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-dict-conversion:
  name: ONEX Dict Conversion Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-dict-conversion.py
  args:
  - --max-violations
  - '0'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-dict-methods:
  name: ONEX Dict Methods Anti-Pattern Detection (from_dict/to_dict banned)
  entry: poetry run python scripts/validation/validate-no-dict-methods.py
  args:
  - --max-violations
  - '0'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-anti-pattern-names:
  name: ONEX Anti-Pattern Name Detection (simple/mock/basic/wrapper banned)
  entry: poetry run python scripts/validation/validate-anti-pattern-names.py
  args:
  - --max-violations
  - '0'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-typing-syntax:
  name: ONEX Typing Syntax Validation (Optional/Union â†’ Modern Syntax)
  entry: poetry run python scripts/validation/validate-typing-syntax.py
  args:
  - --max-violations
  - '0'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

🎯 Fix ONEX naming convention: CapabilityFactory → ModelCapabilityFactory
  .pre-commit-config.yaml
  scripts/validation/validate_naming.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_capability_factory.py
  tests/unit/core/test_model_generic_factory.py
Due: mypy-poetry, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-generic-patterns, validate-dict-any-usage, validate-no-dict-conversion, validate-no-dict-methods, validate-anti-pattern-names, validate-typing-syntax

🎯 ONEX Strong Typing Foundation: Complete Parallel Agent Coordination
  .pre-commit-config.yaml
  pre_commit_validation_gaps_report.md
  scripts/validation/validate-timestamp-fields.py
  scripts/validation/validate-typed-references.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_generic_factory.py
  src/omnibase_core/models/core/model_result_factory.py
  src/omnibase_core/models/core/model_validation_error_factory.py
  src/omnibase_core/models/infrastructure/model_result.py
  src/omnibase_core/models/infrastructure/model_retry_execution.py
  src/omnibase_core/models/infrastructure/model_retry_failure_info.py
  src/omnibase_core/models/metadata/model_metadata_node_analytics.py
  src/omnibase_core/models/metadata/model_metadata_node_info.py
  src/omnibase_core/models/metadata/model_node_info_summary.py
  src/omnibase_core/models/model_yaml_dump_options.py
  src/omnibase_core/models/nodes/model_function_node.py
  src/omnibase_core/models/nodes/model_function_node_metadata.py
  src/omnibase_core/models/nodes/model_function_relationships.py
  src/omnibase_core/models/nodes/model_node_capabilities_info.py
  src/omnibase_core/models/nodes/model_node_capability.py
  src/omnibase_core/models/nodes/model_node_configuration.py
  src/omnibase_core/models/nodes/model_node_information.py
  src/omnibase_core/models/nodes/model_node_metadata_info.py
  src/omnibase_core/models/nodes/model_node_organization_metadata.py
  src/omnibase_core/models/nodes/model_node_resource_limits.py
  src/omnibase_core/models/nodes/model_node_type.py
  src/omnibase_core/models/nodes/model_types_node_resource_summary.py
  src/omnibase_core/models/utils/__init__.py
  src/omnibase_core/utils/safe_yaml_loader.py
Due: mypy-poetry, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-generic-patterns, validate-dict-any-usage, validate-no-dict-conversion, validate-no-dict-methods, validate-anti-pattern-names, validate-typing-syntax

🔧 Complete remaining parallel agent fixes
  src/omnibase_core/models/core/model_generic_factory.py
  src/omnibase_core/models/core/model_typed_dict_factory_kwargs.py
  src/omnibase_core/models/core/model_validation_error_factory.py
  src/omnibase_core/models/infrastructure/model_result.py
Due: mypy-poetry, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-generic-patterns, validate-dict-any-usage, validate-no-dict-conversion, validate-no-dict-methods, validate-anti-pattern-names, validate-typing-syntax

🎯 ONEX Strong Typing Foundation: Complete Parallel Agent Coordination
  .claude/settings.local.json
  .pre-commit-config.yaml
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_deprecation_status.py
  src/omnibase_core/enums/enum_difficulty_level.py
  src/omnibase_core/enums/enum_environment.py
  src/omnibase_core/enums/enum_namespace_strategy.py
  src/omnibase_core/enums/enum_uri_type.py
  src/omnibase_core/models/cli/model_output_format_options.py
  src/omnibase_core/models/cli/typed_dict_output_format_options_kwargs.py
  src/omnibase_core/models/config/model_data_handling_declaration.py
  src/omnibase_core/models/config/model_example_context_data.py
  src/omnibase_core/models/config/model_example_metadata.py
  src/omnibase_core/models/config/model_namespace_config.py
  src/omnibase_core/models/config/model_uri.py
  src/omnibase_core/models/core/model_container.py
  src/omnibase_core/models/core/model_field_accessor.py
  src/omnibase_core/models/core/model_generic_factory.py
  src/omnibase_core/models/core/model_typed_accessor.py
  src/omnibase_core/models/core/model_typed_dict_factory_kwargs.py
  src/omnibase_core/models/infrastructure/__init__.py
  src/omnibase_core/models/infrastructure/model_execution_result.py
  src/omnibase_core/models/nodes/model_function_deprecation_info.py
  src/omnibase_core/models/nodes/model_function_node.py
  src/omnibase_core/models/nodes/model_function_node_metadata.py
  src/omnibase_core/models/nodes/model_function_relationships.py
  src/omnibase_core/models/nodes/model_node_core_info.py
  src/omnibase_core/models/nodes/model_node_metadata_info.py
  src/omnibase_core/models/nodes/model_node_organization_metadata.py
Due: mypy-poetry, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-generic-patterns, validate-dict-any-usage, validate-no-dict-conversion, validate-no-dict-methods, validate-anti-pattern-names, validate-typing-syntax

🎯 Complete protocol migration from omnibase_core to omnibase_spi
  src/omnibase_core/models/config/model_property_collection.py
  src/omnibase_core/models/config/model_typed_property.py
  src/omnibase_core/models/nodes/model_node_metadata_info.py
Due: mypy-poetry, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-generic-patterns, validate-dict-any-usage, validate-no-dict-conversion, validate-no-dict-methods, validate-anti-pattern-names, validate-typing-syntax

chore(validation): normalize timeout handling and single-pass YAML discovery in validate-contracts.py
  scripts/validation/validate-contracts.py
Due: validate-no-backward-compatibility

chore(sh): harden fix-imports.sh (pipefail, Windows detect, -print0, SC2155, trap)
  fix-imports.sh
Due: none

fix(validation): safer sed cleanup and stderr logging in validate-import-patterns.py
  scripts/validation/validate-import-patterns.py
Due: validate-no-backward-compatibility, validate-no-manual-yaml

chore(scripts): remove unnecessary f-string in fix-import-patterns.py
  scripts/fix-import-patterns.py
Due: validate-no-backward-compatibility, validate-no-manual-yaml

fix(intelligence): fail fast on missing models/config; OR grep; correct commit mapping; preserve order
  scripts/intelligence/intelligence_hook.py
Due: validate-no-backward-compatibility, validate-no-manual-yaml

test: add unit tests for contracts timeout and intelligence grep OR logic (post-hook fixes)
  AGENTS.md
  tests/unit/test_intelligence_hook_grep.py
  tests/unit/test_validate_contracts_timeout.py
Due: validate-no-backward-compatibility, validate-no-manual-yaml

ci(pre-commit): add Claude workflow protection hook and ensure .github remains untouched by formatters
  .pre-commit-config.yaml
Due: none

refactor(intelligence): remove dead config fallback, strengthen logging, order-preserving summaries, and drop custom datetime converters
  scripts/intelligence/intelligence_hook.py
Due: validate-no-backward-compatibility, validate-no-manual-yaml

ci: restore .github/workflows/claude.yml to match main
  .github/workflows/claude.yml
Due: none

✅ CodeRabbit Fixes: Comprehensive Testing & Integration Complete
  CODERABBIT_FIXES_VALIDATION_REPORT.md
  archived/src/omnibase_core/core/contracts/models/model_compensation_plan.py
  archived/src/omnibase_core/models/workflow_testing/model_workflow_testing_configuration.py
  copy_framework_to_repos.sh
  copy_scripts_to_repos.sh
  fix-imports.sh
  remove_requirements_from_repos.sh
  scripts/validation/validate-enum-case-consistency.py
  scripts/validation/validate-generic-type-methods.py
  scripts/validation/validate-import-patterns.py
  scripts/validation/validate-no-dict-conversion.py
  scripts/validation/validate-no-dict-methods.py
  scripts/validation/validate-no-manual-yaml.py
  scripts/validation/validate-string-typing.py
  scripts/validation/validate-union-usage.py
Due: validate-no-backward-compatibility, validate-no-manual-yaml

✅ CodeRabbit Comprehensive Fixes: Type Safety, Error Handling & Quality
  .pre-commit-config.yaml
  archived/src/omnibase_core/core/contracts/models/model_compensation_plan.py
  copy_framework_to_repos.sh
  copy_scripts_to_repos.sh
  remove_requirements_from_repos.sh
  scripts/validation/validate-claude-workflow-protection.py
  scripts/validation/validate-enum-case-consistency.py
  scripts/validation/validate-generic-type-methods.py
  scripts/validation/validate-import-patterns.py
  scripts/validation/validate-no-dict-conversion.py
  scripts/validation/validate-no-dict-methods.py
Due: validate-no-backward-compatibility, validate-no-manual-yaml

🐛 Fix CodeRabbit Review Issues: UUID validator crash + code quality improvements
  archived/src/omnibase_core/core/contracts/models/model_compensation_plan.py
  scripts/validation/validate-enum-case-consistency.py
  scripts/validation/validate-import-patterns.py
Due: validate-no-backward-compatibility, validate-no-manual-yaml

🚀 Complete parallel subcontract migration with dependency resolution
  MIGRATION_TRACKING.md
  archived/FUTURE_NODE_MIGRATION_PLAN.md
  archived/src/omnibase_core/core/subcontracts/__init__.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_log_level.py
  src/omnibase_core/enums/enum_time_unit.py
  src/omnibase_core/models/config/model_property_collection.py
  src/omnibase_core/models/config/model_typed_property.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_aggregation_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_caching_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_configuration_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_event_type_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_routing_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_state_management_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_workflow_coordination_subcontract.py
  src/omnibase_core/models/nodes/model_node_metadata_info.py
Due: mypy-poetry, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-generic-patterns, validate-dict-any-usage, validate-no-dict-conversion, validate-no-dict-methods, validate-anti-pattern-names, validate-typing-syntax

🔧 Fix workflow files to match main branch exactly and exclude from ALL formatting
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .pre-commit-config.yaml
Due: none

feat(analysis): add model and enum analysis tool with detailed reporting
  analysis_script.py
  comprehensive_analysis_report.md
  model_enum_analysis_report.txt
Due: validate-no-backward-compatibility, validate-no-manual-yaml

🐛 Fix CodeRabbit critical issues: placeholder metadata type, EXISTS/NOT_EXISTS logic, TypedDict collision
  src/omnibase_core/models/config/model_environment_properties.py
  src/omnibase_core/models/config/model_environment_properties_collection.py
  src/omnibase_core/models/contracts/model_workflow_condition.py
  src/omnibase_core/models/metadata/__init__.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/typed_dict_property_metadata.py
Due: mypy-poetry, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-generic-patterns, validate-dict-any-usage, validate-no-dict-conversion, validate-no-dict-methods, validate-anti-pattern-names, validate-typing-syntax

🐛 Fix CodeRabbit Review Issues: Complete ONEX compliance
  .gitignore
  comprehensive_analysis_report.md
  src/omnibase_core/models/contracts/model_contract_compute.py
  src/omnibase_core/models/core/model_generic_collection.py
  src/omnibase_core/models/nodes/model_function_node_metadata.py
  src/omnibase_core/models/nodes/model_function_relationships.py
  src/omnibase_core/models/nodes/model_node_core_info.py
Due: mypy-poetry, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-generic-patterns, validate-dict-any-usage, validate-no-dict-conversion, validate-no-dict-methods, validate-anti-pattern-names, validate-typing-syntax

docs(analysis): add comprehensive duplicate models and enums analysis report
  DUPLICATE_MODELS_ENUMS_ANALYSIS_REPORT.md
Due: none

Fix enum naming convention violations and union validation issues
  scripts/validation/validate-union-usage.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_status_migration.py
  src/omnibase_core/models/config/model_property_collection.py
  src/omnibase_core/models/core/model_configuration_base.py
  src/omnibase_core/models/core/model_typed_configuration.py
  src/omnibase_core/models/metadata/model_generic_metadata.py
  tests/unit/enums/test_enum_auth_type.py
  tests/unit/enums/test_enum_data_type.py
  tests/unit/enums/test_enum_debug_level.py
  tests/unit/enums/test_enum_environment.py
  tests/unit/enums/test_enum_execution_status.py
  tests/unit/enums/test_enum_severity_level.py
  tests/unit/enums/test_enum_status.py
  union-violations-report.md
Due: mypy-poetry, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-generic-patterns, validate-dict-any-usage, validate-no-dict-conversion, validate-no-dict-methods, validate-anti-pattern-names, validate-typing-syntax

feat(analysis): add scripts to analyze classes and type usage in omnibase_core
  analyze_classes.py
  analyze_classes_fixed.py
  analyze_types.py
  analyze_types_fixed.py
Due: validate-no-backward-compatibility, validate-no-manual-yaml

fix: restore GitHub workflow files from main to fix CI
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix(enums): replace ValueError with OnexError in status migration framework
  src/omnibase_core/enums/enum_status_migration.py
  tests/unit/enums/test_unified_status_hierarchy.py
Due: mypy-poetry, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-generic-patterns, validate-dict-any-usage, validate-no-dict-conversion, validate-no-dict-methods, validate-anti-pattern-names, validate-typing-syntax

Path conditions:
  mypy-poetry: any of: ^src/omnibase_core/(core|models|enums|exceptions|decorators).*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|src/omnibase_core/core/contracts/model_contract_effect|archive/|archived/).*\.py$)
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$
  validate-union-usage: any of: ^src/.*\.py$
  validate-generic-patterns: any of: ^src/.*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$
  validate-no-dict-conversion: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/).*\.py$
  validate-no-dict-methods: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/).*\.py$
  validate-anti-pattern-names: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$, but not: ^tests/fixtures/validation/invalid/
  validate-typing-syntax: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/).*\.py$
