Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

black-format:
  name: black (auto-format)
  entry: poetry run black
  language: system
  args:
  - --line-length
  - '88'
  - --target-version
  - py311
  stages:
  - commit

isort-format:
  name: isort (auto-sort imports)
  entry: poetry run isort
  language: system
  args:
  - --filter-files
  - --profile
  - black
  - --line-length
  - '88'
  stages:
  - commit

ruff-fix:
  name: ruff (auto-fix linting issues)
  entry: poetry run ruff check --fix
  language: system
  stages:
  - commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: poetry run mypy
  language: system
  args:
  - --show-error-codes
  - --no-error-summary
  stages:
  - commit

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  args:
  - --allow-errors
  - '13'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '234'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(contracts): improve consistency in runtime contracts [OMN-467]
  contracts/runtime/contract_loader_effect.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
Due: validate-string-versions

feat(contracts): implement ModelRuntimeHostContract for runtime host configuration [OMN-225]
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_node_ref.py
  src/omnibase_core/models/contracts/model_runtime_event_bus_config.py
  src/omnibase_core/models/contracts/model_runtime_handler_config.py
  src/omnibase_core/models/contracts/model_runtime_host_contract.py
  tests/unit/models/contracts/test_model_runtime_host_contract.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(effect): extract magic numbers to constants and optimize validators [OMN-524, OMN-525]
  docs/guides/EFFECT_SUBCONTRACT_GUIDE.md
  src/omnibase_core/constants/__init__.py
  src/omnibase_core/constants/constants_effect_limits.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_contract_metadata.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_io_configs.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_operation.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_resolved_context.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_subcontract.py
  tests/unit/models/contracts/subcontracts/test_model_effect_operation.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(contracts): implement ModelRuntimeHostContract for runtime host configuration [OMN-225] (#140)
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_node_ref.py
  src/omnibase_core/models/contracts/model_runtime_event_bus_config.py
  src/omnibase_core/models/contracts/model_runtime_handler_config.py
  src/omnibase_core/models/contracts/model_runtime_host_contract.py
  tests/unit/models/contracts/test_model_runtime_host_contract.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add architectural validation scripts [OMN-466]
  .pre-commit-config.yaml
  scripts/validation/validate-all-exports.py
  scripts/validation/validate-no-direct-io.py
  scripts/validation/validate-no-infra-imports.py
  tests/unit/scripts/__init__.py
  tests/unit/scripts/validation/__init__.py
  tests/unit/scripts/validation/test_validate_all_exports.py
  tests/unit/scripts/validation/test_validate_no_direct_io.py
  tests/unit/scripts/validation/test_validate_no_infra_imports.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(contracts): address PR #137 release-ready feedback [OMN-467]
  contracts/README.md
  contracts/runtime/contract_registry_reducer.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  examples/contracts/reducer_metrics_aggregator.yaml
  tests/unit/contracts/test_runtime_contracts.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(effect): change unknown handler default to non-idempotent for safety-first semantics [OMN-524]
  src/omnibase_core/models/contracts/subcontracts/model_effect_operation.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(examples): normalize action_types to documented values [OMN-467]
  examples/contracts/reducer_metrics_aggregator.yaml
Due: validate-string-versions

feat(contracts): add runtime orchestrator contracts for self-hosted ONEX runtime [OMN-467] (#137)
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  contracts/README.md
  contracts/runtime/contract_loader_effect.yaml
  contracts/runtime/contract_registry_reducer.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  contracts/runtime/runtime_orchestrator.yaml
  examples/contracts/reducer_metrics_aggregator.yaml
  scripts/validation/validate-contracts.py
  scripts/validation/yaml_contract_validator.py
  test_split_results/split_1_output.txt
  test_split_results/split_2_output.txt
  test_split_results/split_3_output.txt
  test_split_results/split_4_output.txt
  test_split_results/split_5_output.txt
  tests/unit/contracts/test_runtime_contracts.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(effect): address PR #135 review feedback for release readiness [OMN-466]
  examples/contracts/effect/http_api_call.yaml
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/nodes/node_effect.py
  tests/unit/mixins/test_mixin_effect_execution.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(runtime): implement RuntimeNodeInstance execution wrapper [OMN-227]
  src/omnibase_core/runtime/__init__.py
  src/omnibase_core/runtime/protocol_node_runtime.py
  src/omnibase_core/runtime/runtime_node_instance.py
  tests/unit/runtime/__init__.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_node_instance.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(effect): add transaction isolation level documentation [OMN-524]
  docs/guides/EFFECT_SUBCONTRACT_GUIDE.md
Due: none

feat(models): add Effect subcontract models + optimize pre-commit hooks [OMN-524, OMN-525] (#139)
  docs/guides/EFFECT_SUBCONTRACT_GUIDE.md
  scripts/validation/audit_optional.py
  scripts/validation/validate-dict-any-usage.py
  scripts/validation/validate-pydantic-patterns.py
  scripts/validation/validate-union-usage.py
  src/omnibase_core/constants/__init__.py
  src/omnibase_core/constants/constants_effect_idempotency.py
  src/omnibase_core/constants/constants_effect_limits.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_circuit_breaker.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_contract_metadata.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_input_schema.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_io_configs.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_observability.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_operation.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_operation_result.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_resolved_context.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_response_handling.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_retry_policy.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_transaction_config.py
  tests/unit/models/contracts/subcontracts/test_model_effect_input_schema.py
  tests/unit/models/contracts/subcontracts/test_model_effect_operation.py
  tests/unit/models/contracts/subcontracts/test_model_effect_subcontract.py
  tests/unit/models/contracts/subcontracts/test_model_effect_supporting.py
  tests/unit/models/test_model_intent.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(nodes): align NodeCompute and NodeEffect with ONEX architecture patterns [OMN-558]
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_effect.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): address PR #141 review feedback for RuntimeNodeInstance tests
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_node_instance.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(effect): correct attribute names in NodeEffect for mypy compliance [OMN-466]
  src/omnibase_core/nodes/node_effect.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(contracts): add Phase 0 stabilization infrastructure [OMN-151, OMN-155, OMN-156, OMN-157]
  contracts/runtime/runtime_orchestrator.yaml
  docs/architecture/IMPORT_COMPATIBILITY_MATRIX.md
  docs/architecture/NODE_PURITY_GUARANTEES.md
  scripts/check_node_purity.py
  src/omnibase_core/contracts/__init__.py
  src/omnibase_core/contracts/hash_registry.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_contract_fingerprint.py
  src/omnibase_core/models/contracts/model_contract_meta.py
  src/omnibase_core/models/contracts/model_contract_node_metadata.py
  src/omnibase_core/models/contracts/model_contract_normalization_config.py
  src/omnibase_core/models/contracts/model_drift_details.py
  src/omnibase_core/models/contracts/model_drift_result.py
  src/omnibase_core/models/contracts/model_node_extensions.py
  tests/unit/contracts/test_hash_registry.py
  tests/unit/contracts/test_node_meta_model.py
  tests/unit/nodes/test_node_purity.py
  tests/unit/validation/test_contracts_extended.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): address additional PR #141 review feedback [OMN-227]
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_node_instance.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(nodes): address PR #142 review feedback for NodeCompute [OMN-558]
  src/omnibase_core/nodes/node_compute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(service): add type parameters to ModelServiceCompute for mypy strict [OMN-558]
  src/omnibase_core/models/service/model_service_compute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(nodes): remove legacy NodeEffect and backward compatibility code [OMN-466]
  src/omnibase_core/models/service/model_service_effect.py
  src/omnibase_core/nodes/legacy/__init__.py
  src/omnibase_core/nodes/legacy/node_effect_legacy.py
  src/omnibase_core/nodes/node_effect.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(runtime): address PR #141 type safety and documentation feedback [OMN-227]
  .pre-commit-config.yaml
  src/omnibase_core/runtime/runtime_node_instance.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_node_instance.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): remove tests dependent on deleted NodeEffectLegacy [OMN-466]
  tests/integration/test_rollback_failure_integration.py
  tests/unit/api_snapshots/test_signatures_snapshot.py
  tests/unit/models/nodes/node_services/test_model_service_effect_integration.py
  tests/unit/nodes/test_rollback_failure_handling.py
  tests/unit/test_thread_safety.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): resolve pytest warnings and test failures [OMN-151]
  tests/conftest.py
  tests/integration/test_intent_publisher_integration.py
  tests/unit/container/test_service_registry.py
  tests/unit/container/test_service_registry_extended.py
  tests/unit/contracts/test_model_contract_base.py
  tests/unit/mixins/test_mixin_caching.py
  tests/unit/mixins/test_mixin_event_listener.py
  tests/unit/mixins/test_mixin_fsm_execution.py
  tests/unit/mixins/test_mixin_health_check.py
  tests/unit/mixins/test_mixin_intent_publisher.py
  tests/unit/mixins/test_mixin_introspection_publisher.py
  tests/unit/mixins/test_mixin_metrics.py
  tests/unit/mixins/test_mixin_service_registry.py
  tests/unit/mixins/test_mixin_workflow_execution.py
  tests/unit/models/core/test_model_result_factory.py
  tests/unit/models/core/test_model_typed_accessor.py
  tests/unit/models/security/test_model_secure_credentials.py
  tests/unit/utils/test_model_field_converter.py
  tests/unit/utils/test_model_field_converter_registry.py
  tests/unit/utils/test_safe_yaml_loader.py
  tests/unit/validation/test_contracts_extended.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(nodes): add unit tests and refactor NodeCompute for merge readiness [OMN-558]
  src/omnibase_core/nodes/node_compute.py
  tests/unit/nodes/test_node_compute_execute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): add ContractHashRegistry to architectural exemptions [OMN-151]
  scripts/validation/validate_naming.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(validation): add file argument support to pydantic pattern validator
  .pre-commit-config.yaml
  scripts/validation/validate-pydantic-patterns.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(runtime): enhance thread safety and API documentation [OMN-227]
  src/omnibase_core/runtime/protocol_node_runtime.py
  src/omnibase_core/runtime/runtime_node_instance.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(nodes): address PR #142 review feedback - enhance error handling and docs [OMN-558]
  src/omnibase_core/nodes/node_compute.py
  tests/unit/nodes/test_node_compute_execute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): add file argument support to union and optional validators
  scripts/validation/audit_optional.py
  scripts/validation/validate-union-usage.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(types): create centralized type aliases to reduce union count [OMN-466]
  .pre-commit-config.yaml
  examples/contracts/SECURITY.md
  scripts/validation/validate-dict-any-usage.py
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/models/effect/model_effect_output.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/type_effect_result.py
  tests/unit/nodes/test_retry_count_tracking.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(nodes): add cache strategy, parallel processing docs, and error context [OMN-558]
  src/omnibase_core/nodes/node_compute.py
  tests/unit/nodes/test_node_compute_execute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(contracts): add comprehensive docstrings and fix mypy errors [OMN-151]
  scripts/check_node_purity.py
  scripts/validation/validate_naming.py
  src/omnibase_core/contracts/__init__.py
  src/omnibase_core/contracts/hash_registry.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_contract_fingerprint.py
  src/omnibase_core/models/contracts/model_contract_meta.py
  src/omnibase_core/models/contracts/model_contract_node_metadata.py
  src/omnibase_core/models/contracts/model_contract_normalization_config.py
  src/omnibase_core/models/contracts/model_drift_details.py
  src/omnibase_core/models/contracts/model_drift_result.py
  src/omnibase_core/models/contracts/model_node_extensions.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(nodes): optimize getattr calls and enhance test coverage [OMN-558]
  src/omnibase_core/nodes/node_compute.py
  tests/unit/nodes/test_node_compute_execute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(runtime): address PR #141 review feedback for NodeInstance [OMN-227]
  scripts/validation/validate-union-usage.py
  src/omnibase_core/runtime/runtime_node_instance.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_node_instance.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: add AI agent polling anti-pattern, fix mypy to check only changed files
  .pre-commit-config.yaml
  CLAUDE.md
Due: validate-string-versions

fix(effect): address PR #135 review feedback [OMN-466]
  docs/architecture/EFFECT_TIMEOUT_BEHAVIOR.md
  docs/guides/THREADING.md
  examples/contracts/SECURITY.md
  examples/contracts/effect/README.md
  examples/contracts/effect/db_query.yaml
  examples/contracts/effect/filesystem_operations.yaml
  examples/contracts/effect/http_api_call.yaml
  examples/contracts/effect/kafka_produce.yaml
  examples/contracts/effect/resilient_effect.yaml
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_subcontract.py
  src/omnibase_core/nodes/node_effect.py
  tests/unit/api_snapshots/test_signatures_snapshot.py
  tests/unit/mixins/test_mixin_effect_execution.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(pr-review): address all PR #143 review feedback [OMN-151]
  docs/guides/THREADING.md
  scripts/check_node_purity.py
  scripts/validation/validate_optimization.py
  src/omnibase_core/contracts/__init__.py
  src/omnibase_core/contracts/hash_registry.py
  src/omnibase_core/models/contracts/model_contract_fingerprint.py
  src/omnibase_core/models/contracts/model_contract_meta.py
  src/omnibase_core/models/contracts/model_contract_normalization_config.py
  src/omnibase_core/models/contracts/model_drift_result.py
  tests/comparison_schema_value_runtime_validation.py
  tests/unit/contracts/test_node_meta_model.py
  tests/unit/nodes/test_declarative_nodes.py
  tests/unit/nodes/test_node_purity.py
  tests/unit/nodes/test_retry_count_tracking.py
  tests/unit/nodes/test_rollback_failure_handling.py
  tests/validation/test_check_error_raising.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: Remove 'vibe coding' issues identified in code quality audit
  contracts/README.md
  contracts/runtime/contract_loader_effect.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/runtime_orchestrator.yaml
  docs/INDEX.md
  docs/architecture/CONTRACT_DRIVEN_NODECOMPUTE_V1_0.md
  docs/architecture/CONTRACT_DRIVEN_NODEEFFECT_V1_0.md
  docs/architecture/NODECOMPUTE_VERSIONING_ROADMAP.md
  docs/conventions/TERMINOLOGY_GUIDE.md
  docs/guides/node-building/10_AGENT_TEMPLATES.md
  docs/guides/node-building/README.md
  docs/quality/TERMINOLOGY_AUDIT_REPORT.md
  docs/reference/CONTRACT_VALIDATOR_API.md
  docs/reference/MIXIN_DISCOVERY_API.md
  src/omnibase_core/constants/constants_effect_limits.py
  src/omnibase_core/enums/enum_effect_handler_type.py
  src/omnibase_core/enums/enum_effect_types.py
  src/omnibase_core/enums/enum_reducer_types.py
  src/omnibase_core/mixins/mixin_discovery.py
  src/omnibase_core/mixins/mixin_node_type_validator.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_circuit_breaker.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_contract_metadata.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_input_schema.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_observability.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_operation.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_operation_result.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_response_handling.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_retry_policy.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_transaction_config.py
  src/omnibase_core/models/discovery/model_mixin_info.py
  src/omnibase_core/nodes/__init__.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_effect.py
  src/omnibase_core/nodes/node_orchestrator.py
  src/omnibase_core/nodes/node_reducer.py
  src/omnibase_core/validation/contract_validator.py
  tests/unit/contracts/test_runtime_contracts.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

compute updates pr pr comments
  src/omnibase_core/models/compute/model_compute_output.py
  src/omnibase_core/nodes/node_compute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  black-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  isort-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/)
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$
  validate-union-usage: any of: ^src/.*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py|src/omnibase_core/models/core/model_action_config_value\.py).*\.py$
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
