Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(OMN-12960): single transport-envelope unwrap predicate + dispatch-surface test gate (#1228)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  src/omnibase_core/utils/util_envelope_unwrap.py
  src/omnibase_core/validators/dispatch_surface_test_required.py
  tests/utils/test_envelope_unwrap.py
  tests/validators/test_dispatch_surface_test_required.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12961): reject typing.Protocol handler targets in ServiceHandlerResolver
  src/omnibase_core/services/service_handler_resolver.py
  tests/unit/services/test_service_handler_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-12957): runtime-profile registry + unregistered/no-consumer-lane validator rules (#1229)
  src/omnibase_core/constants/constants_runtime_profiles.py
  src/omnibase_core/validation/contracts/runtime_profiles.validation.yaml
  src/omnibase_core/validation/validator_runtime_profiles.py
  tests/unit/validation/test_validator_runtime_profiles.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-12961): silence CodeQL no-effect on Protocol stub bodies
  tests/unit/services/test_service_handler_resolver.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-12961): reject typing.Protocol handler targets in ServiceHandlerResolver (#1230)
  src/omnibase_core/services/service_handler_resolver.py
  tests/unit/services/test_service_handler_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13026): transport-mock lint validator — bare AsyncMock/MagicMock on EventBus/transport surfaces
  .pre-commit-hooks.yaml
  src/omnibase_core/validators/transport_mock_lint.py
  tests/unit/validators/test_transport_mock_lint.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13061): hard-fail on contract_sha256=None in OCC eligibility validator
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  tests/unit/validation/test_occ_merge_eligibility.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13026): transport-mock lint validator — bare AsyncMock/MagicMock on EventBus/transport surfaces (#1231)
  .pre-commit-hooks.yaml
  src/omnibase_core/validators/transport_mock_lint.py
  tests/unit/validators/test_transport_mock_lint.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13061): hard-fail on contract_sha256=None in OCC eligibility validator (#1233)
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  tests/unit/validation/test_occ_merge_eligibility.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12818): resolve 3 CI failures on url-authority gate PR
  .github/workflows/ci.yml
  .github/workflows/url-authority-gate.yml
  .yaml-validation-allowlist.yaml
  contracts/OMN-12663.yaml
  src/omnibase_core/validation/contracts/url_authority.validation.yaml
Due: validate-string-versions

feat(OMN-12818): url-authority ratchet gate — ValidatorUrlAuthority in omnibase_core
  .github/workflows/url-authority-gate.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  src/omnibase_core/validation/baselines/url_authority_baseline.json
  src/omnibase_core/validation/contracts/url_authority.validation.yaml
  src/omnibase_core/validation/validator_url_authority.py
  tests/unit/validation/test_validator_url_authority.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13026): protocol-conformance tests per Protocol + portable _rel_path baseline fix
  src/omnibase_core/validators/transport_mock_lint.py
  tests/unit/validators/test_transport_mock_protocol_conformance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13026): protocol-conformance tests per Protocol + portable _rel_path baseline fix (#1234)
  src/omnibase_core/validators/transport_mock_lint.py
  tests/unit/validators/test_transport_mock_protocol_conformance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-12818): url-authority ratchet gate — ValidatorUrlAuthority in omnibase_core (#1232)
  .github/workflows/ci.yml
  .github/workflows/url-authority-gate.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  .yaml-validation-allowlist.yaml
  contracts/OMN-12663.yaml
  src/omnibase_core/validation/baselines/url_authority_baseline.json
  src/omnibase_core/validation/contracts/url_authority.validation.yaml
  src/omnibase_core/validation/validator_url_authority.py
  tests/unit/validation/test_validator_url_authority.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13091): ModelArtifactRef + ModelSkillResult[T] receipt models
  .yaml-validation-allowlist.yaml
  contracts/OMN-12663.yaml
  src/omnibase_core/enums/enum_skill_result_status.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/artifacts/__init__.py
  src/omnibase_core/models/artifacts/model_artifact_ref.py
  src/omnibase_core/models/dispatch/__init__.py
  src/omnibase_core/models/dispatch/model_skill_result.py
  src/omnibase_core/models/handlers/__init__.py
  src/omnibase_core/models/handlers/model_handler_artifact_ref.py
  src/omnibase_core/models/handlers/model_handler_descriptor.py
  src/omnibase_core/models/skill/__init__.py
  src/omnibase_core/models/skill/model_skill_result_file.py
  tests/unit/models/artifacts/__init__.py
  tests/unit/models/artifacts/test_model_artifact_ref.py
  tests/unit/models/dispatch/test_model_skill_result.py
  tests/unit/models/handlers/test_model_handler_artifact_ref.py
  tests/unit/models/handlers/test_model_handler_descriptor.py
  tests/unit/models/skill/test_model_skill_result_file.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13091): drop URL literal from ModelHandlerArtifactRef docstring example
  src/omnibase_core/models/handlers/model_handler_artifact_ref.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13091): ModelArtifactRef + ModelSkillResult[T] typed receipt models (#1235)
  src/omnibase_core/enums/enum_skill_result_status.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/artifacts/__init__.py
  src/omnibase_core/models/artifacts/model_artifact_ref.py
  src/omnibase_core/models/dispatch/__init__.py
  src/omnibase_core/models/dispatch/model_skill_result.py
  src/omnibase_core/models/handlers/__init__.py
  src/omnibase_core/models/handlers/model_handler_artifact_ref.py
  src/omnibase_core/models/handlers/model_handler_descriptor.py
  src/omnibase_core/models/skill/__init__.py
  src/omnibase_core/models/skill/model_skill_result_file.py
  tests/unit/models/artifacts/__init__.py
  tests/unit/models/artifacts/test_model_artifact_ref.py
  tests/unit/models/dispatch/test_model_skill_result.py
  tests/unit/models/handlers/test_model_handler_artifact_ref.py
  tests/unit/models/handlers/test_model_handler_descriptor.py
  tests/unit/models/skill/test_model_skill_result_file.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13093): minimal content-addressed ArtifactStore slice
  src/omnibase_core/artifacts/__init__.py
  src/omnibase_core/artifacts/artifact_store.py
  tests/unit/artifacts/__init__.py
  tests/unit/artifacts/test_artifact_store.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-13093): register artifacts module in CI test-selection adjacency map
  scripts/ci/test_selection_adjacency.yaml
Due: validate-string-versions

feat(OMN-13093): minimal content-addressed ArtifactStore slice (Phase 1) (#1236)
  scripts/ci/test_selection_adjacency.yaml
  src/omnibase_core/artifacts/__init__.py
  src/omnibase_core/artifacts/artifact_store.py
  tests/unit/artifacts/__init__.py
  tests/unit/artifacts/test_artifact_store.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13098): skill-dispatch receipt-mode validator (Phase 4b)
  .pre-commit-config.yaml
  scripts/validation/validate-file-locations.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_skill_receipt_rule.py
  src/omnibase_core/models/validation/model_skill_dispatch_receipt_finding.py
  src/omnibase_core/validators/skill_dispatch_receipt_mode.py
  tests/unit/validators/test_skill_dispatch_receipt_mode.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13098): skill-dispatch receipt-mode validator (Phase 4b) (#1237)
  .pre-commit-config.yaml
  scripts/validation/validate-file-locations.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_skill_receipt_rule.py
  src/omnibase_core/models/validation/model_skill_dispatch_receipt_finding.py
  src/omnibase_core/validators/skill_dispatch_receipt_mode.py
  tests/unit/validators/test_skill_dispatch_receipt_mode.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-12934): allow ticketed promotion branches to target main
  .github/workflows/main-target-guard.yml
Due: validate-string-versions

docs(OMN-13182): refresh omnibase_core documentation
  CHANGELOG.md
  CLAUDE.md
  docs/INDEX.md
  docs/getting-started/installation.md
  docs/reference/VALIDATION_OWNERSHIP.md
  docs/standards/onex_terminology.md
Due: none

docs(OMN-13182): refresh omnibase_core documentation (#1241)
  CHANGELOG.md
  CLAUDE.md
  docs/INDEX.md
  docs/getting-started/installation.md
  docs/reference/VALIDATION_OWNERSHIP.md
  docs/standards/onex_terminology.md
Due: none

docs(OMN-13172): add OCC dod_evidence contract for receipt gate
  contracts/OMN-13172.yaml
Due: validate-string-versions

refactor(OMN-13189): delete dead ModelOnexEnvelopeV1 — completes OMN-4152
  .secrets.baseline
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_onex_envelope.py
  src/omnibase_core/models/core/model_onex_envelope_v1.py
  tests/unit/models/test_model_onex_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(OMN-13189): delete dead ModelOnexEnvelopeV1 — completes OMN-4152 (#1242)
  .secrets.baseline
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_onex_envelope.py
  src/omnibase_core/models/core/model_onex_envelope_v1.py
  tests/unit/models/test_model_onex_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(OMN-13192): migrate sole live ModelOnexEnvelope constructor to ModelEventEnvelope[ModelEventPublishIntent]
  src/omnibase_core/mixins/mixin_intent_publisher.py
  tests/integration/test_intent_publisher_integration.py
  tests/unit/mixins/test_mixin_intent_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(OMN-13192): migrate sole live ModelOnexEnvelope constructor to ModelEventEnvelope[ModelEventPublishIntent] (#1245)
  src/omnibase_core/mixins/mixin_intent_publisher.py
  tests/integration/test_intent_publisher_integration.py
  tests/unit/mixins/test_mixin_intent_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-13187): refresh core dependency pins
  .github/workflows/ci.yml
  .github/workflows/url-authority-gate.yml
  pyproject.toml
  uv.lock
Due: validate-string-versions

chore(OMN-13187): refresh core dependency pins (#1246)
  .github/workflows/ci.yml
  .github/workflows/url-authority-gate.yml
  pyproject.toml
  uv.lock
Due: validate-string-versions

refactor(OMN-13194): re-annotate envelope_validator.py from ModelOnexEnvelope to ModelEventEnvelope[Any]
  src/omnibase_core/validation/envelope_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(OMN-13194): re-annotate envelope_validator.py from ModelOnexEnvelope to ModelEventEnvelope[Any] (#1248)
  src/omnibase_core/validation/envelope_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-13195): bump validate-boundaries action pin
  .github/workflows/ci.yml
Due: validate-string-versions

chore(OMN-13195): bump validate-boundaries action pin (#1249)
  .github/workflows/ci.yml
Due: validate-string-versions

refactor(OMN-13196): delete ModelOnexEnvelope (B4) + retarget validator test
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/models/chunking/model_chunked_envelope.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_envelope_metadata.py
  src/omnibase_core/models/core/model_onex_envelope.py
  src/omnibase_core/types/type_serializable_value.py
  tests/performance/test_source_node_id_overhead.py
  tests/unit/models/chunking/test_model_onex_envelope_chunking.py
  tests/unit/models/test_model_onex_envelope.py
  tests/unit/models/test_model_onex_envelope_source_node_id.py
  tests/unit/validation/test_envelope_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-12804): non-model URL contract authority — integration catalog + design doc
  docs/architecture/URL_CONTRACT_AUTHORITY.md
  src/omnibase_core/contracts/integrations/catalog.yaml
  tests/unit/validation/test_validator_url_authority.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-12804): non-model URL contract authority — integration catalog + design doc (#1251)
  docs/architecture/URL_CONTRACT_AUTHORITY.md
  src/omnibase_core/contracts/integrations/catalog.yaml
  tests/unit/validation/test_validator_url_authority.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
