Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

chore: add strip-ai-coauthor-trailer commit-msg hook to pre-commit config
  .pre-commit-config.yaml
Due: validate-string-versions

fix(OMN-17864): checkout omnibase_core before the occ-preflight wait for external callers (#1699)
  .github/workflows/occ-preflight.yml
  tests/ci/test_occ_preflight_wait_workflow_shape_omn17864.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18443): anchor the release-identity published set to the evaluated tree
  scripts/check_release_identity.py
  tests/scripts/test_check_release_identity.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-18426): add strip-ai-coauthor-trailer commit-msg hook (#1696)
  .pre-commit-config.yaml
Due: validate-string-versions

fix(OMN-18443): burn down the environment-reader inventory entry this change cleaned
  src/omnibase_core/validators/environment_reader_inventory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18443): bump to 0.47.17 so this PR clears the release-identity gate
  pyproject.toml
  uv.lock
Due: none

ci(OMN-18273): omnibase_core automated pushes use the App identity
  .github/workflows/dependency-cascade.yml
  .github/workflows/publish-downstream-pin-bump.yml
  .github/workflows/shadow-metrics-harvest.yml
  tests/ci/test_automated_pusher_identity_omn18273.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18443): omnibase_core version bump cannot race a concurrent release (#1700)
  pyproject.toml
  scripts/check_release_identity.py
  src/omnibase_core/validators/environment_reader_inventory.py
  tests/scripts/test_check_release_identity.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18445): await every contract-declared terminal, not only the success one
  src/omnibase_core/enums/enum_terminal_outcome.py
  src/omnibase_core/models/runtime/model_contract_terminal_topic.py
  src/omnibase_core/runtime/contract_terminal_topics.py
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local.py
  tests/unit/runtime/test_runtime_local_failure_terminal.py
  tests/unit/runtime/test_runtime_local_terminal_isolation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18445): an unwatchable extra terminal degrades coverage, not the run
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local_failure_terminal.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(OMN-18445): refer to the failure terminal by family, not by topic literal
  src/omnibase_core/runtime/contract_terminal_topics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-18273): omnibase_core automated pushes use the App identity (#1701)
  .github/workflows/dependency-cascade.yml
  .github/workflows/publish-downstream-pin-bump.yml
  .github/workflows/shadow-metrics-harvest.yml
  tests/ci/test_automated_pusher_identity_omn18273.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18445): await every contract-declared terminal, not only the success one (#1698)
  src/omnibase_core/enums/enum_terminal_outcome.py
  src/omnibase_core/models/runtime/model_contract_terminal_topic.py
  src/omnibase_core/runtime/contract_terminal_topics.py
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local.py
  tests/unit/runtime/test_runtime_local_failure_terminal.py
  tests/unit/runtime/test_runtime_local_terminal_isolation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: release omnibase_core 0.47.17 (OMN-18595)
  CHANGELOG.md
Due: none

chore: release omnibase_core 0.47.17 (OMN-18595) (#1702)
  CHANGELOG.md
Due: none

fix(OMN-18658): push release tags with the App token so release.yml fires
  .github/workflows/auto-tag-on-merge.yml
  tests/ci/test_automated_pusher_identity_omn18273.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18658): push release tags with the App token so release.yml fires (#1703)
  .github/workflows/auto-tag-on-merge.yml
  tests/ci/test_automated_pusher_identity_omn18273.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18669): wire the local half of the .secrets.baseline gate
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements-baseline.yaml
Due: validate-string-versions

fix(OMN-18669): wire the local half of the .secrets.baseline gate (#1704)
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements-baseline.yaml
Due: validate-string-versions

fix(OMN-18669): wire the secrets-baseline census gate (AC2)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: validate-string-versions

fix(OMN-18669): wire the secrets-baseline census gate (AC2) (#1705)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: validate-string-versions

ci(OMN-18031): adopt the cross-repo per-run runner route job
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-18031): keep routed lint fail-closed
  .github/workflows/ci.yml
Due: validate-string-versions

ci(OMN-18031): adopt the cross-repo per-run runner route job (#1706)
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-18790): skip-count ratchet wired in omnibase_core
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  config/skip_count_baseline.yaml
  scripts/ci/ci_summary_gate.py
  scripts/ci/skip_count_ratchet.py
  tests/ci/test_skip_count_ratchet_omn18790.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-18796): advisory-job gate required in omnibase_core
  .github/workflows/advisory-job-gate.yml
  architecture-handshakes/pull-request-workflow-budget.yaml
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-18790): skip-count ratchet wired in omnibase_core (#1707)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  config/skip_count_baseline.yaml
  scripts/ci/ci_summary_gate.py
  scripts/ci/skip_count_ratchet.py
  tests/ci/test_skip_count_ratchet_omn18790.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-18796): advisory-job gate required in omnibase_core (#1708)
  .github/workflows/advisory-job-gate.yml
  architecture-handshakes/pull-request-workflow-budget.yaml
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18796): re-pin the advisory-job gate to the dependency-installing reusable
  .github/workflows/advisory-job-gate.yml
Due: validate-string-versions

fix(OMN-18033): make the gitignore-baseline hook propagable to targets
  .github/propagation-targets.yaml
  .github/workflows/propagate-config.yml
  .yaml-validation-allowlist.yaml
  pyproject.toml
  scripts/insert_hook_block.py
  scripts/propagate-config.sh
  src/omnibase_core/validators/gitignore_baseline.py
  tests/scripts/test_insert_hook_block.py
  tests/scripts/test_propagate_config_pin.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18033): render the propagated block with indented sequences
  scripts/insert_hook_block.py
  tests/scripts/test_insert_hook_block.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18033): render multi-line hook values as verified literal scalars
  scripts/insert_hook_block.py
  tests/scripts/test_insert_hook_block.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18807): CI Summary waits a bounded window for a red external context
  scripts/ci/ci_summary_gate.py
  tests/ci/test_external_verdict_supersession_omn18807.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18807): CI Summary waits a bounded window for a red external context (#1711)
  scripts/ci/ci_summary_gate.py
  tests/ci/test_external_verdict_supersession_omn18807.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16851): retire OMNI_HOME from omnibase_core's product-facing paths, clean break
  pyproject.toml
  src/omnibase_core/doctor/checks/check_repos_synced.py
  src/omnibase_core/enums/enum_scope_token.py
  src/omnibase_core/models/scope/model_activation_scope.py
  src/omnibase_core/utils/util_omni_home_paths.py
  src/omnibase_core/validation/doc_content_scan/handler.py
  src/omnibase_core/validation/doc_content_scan/runtime_doc_content_scan.py
  src/omnibase_core/validation/validator_skill_backing_node.py
  src/omnibase_core/validators/contract_config_compliance.py
  tests/test_doctor/test_checks_repos.py
  tests/unit/models/scope/test_scope_models.py
  tests/unit/utils/test_util_omni_home_paths.py
  tests/unit/validation/doc_content_scan/test_handler_doc_content_scan_compute.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16851): prune the three migrated paths from the raw-env-reader inventory
  src/omnibase_core/validators/environment_reader_inventory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16851): re-measure the test-parallel skip-count baseline's node-id format
  config/skip_count_baseline.yaml
Due: validate-string-versions
