Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  args:
  - --allow-errors
  - '13'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '235'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-no-fallbacks:
  name: ONEX No Fallback Patterns Validation
  entry: poetry run python scripts/validation/check_no_fallbacks.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-error-raising:
  name: ONEX Error Raising Validation
  entry: poetry run python scripts/validation/check_error_raising.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-no-enhancement-prefixes:
  name: ONEX Enhancement Prefix Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-enhancement-prefixes.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

onex-single-class-per-file:
  name: ONEX Single Class Per File
  entry: poetry run python scripts/validation/validate-single-class-per-file.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chore: cleanup project root and add pre-push validation
  AUDIT_QUICK_REFERENCE.txt
  CODEBASE_AUDIT_REPORT.md
  CONTRIBUTING.md
  scripts/setup-git-hooks.sh
  scripts/validate-clean-root.sh
Due: none

fix(scripts): ensure validate-clean-root.sh is executable
  scripts/setup-git-hooks.sh
Due: none

fix(tests): prevent timeout in test_stop_event_listener
  tests/unit/mixins/test_mixin_event_listener.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore: cleanup project root and add pre-push validation (#81)
  AUDIT_QUICK_REFERENCE.txt
  CODEBASE_AUDIT_REPORT.md
  CONTRIBUTING.md
  scripts/setup-git-hooks.sh
  scripts/validate-clean-root.sh
  tests/unit/mixins/test_mixin_event_listener.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(pr-82): resolve critical CI-blocking issues
  docs/guides/PRODUCTION_CACHE_TUNING.md
  scripts/batch_fix_name_errors.py
  scripts/update_all_imports.sh
  src/omnibase_core/models/examples/__init__.py
  src/omnibase_core/models/service/model_service_configuration.py
  tests/unit/models/examples/test_model_uri_branches.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(test): eliminate systemic Mock deadlock in logging and node infrastructure
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/logging/emit.py
  src/omnibase_core/logging/pydantic_json_encoder.py
  src/omnibase_core/mixins/mixin_event_listener.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(test): prevent 30s asyncio.run() blocking in test cleanup
  src/omnibase_core/mixins/mixin_event_listener.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(test): prevent asyncio.run() blocking in MixinDagSupport
  src/omnibase_core/mixins/mixin_workflow_support.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(test): eliminate Mock deadlock in test teardown
  src/omnibase_core/logging/pydantic_json_encoder.py
  tests/conftest.py
  tests/unit/logging/test_pydantic_json_encoder.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

chore(mixin): apply polymorphic agent fixes to event mixins
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/mixins/mixin_event_listener.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

docs: emphasize declarative YAML patterns for orchestrator/reducer nodes
  docs/architecture/DECLARATIVE_WORKFLOW_FINDINGS.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
Due: none

docs: add comprehensive implementation plan for declarative nodes
  docs/architecture/DECLARATIVE_IMPLEMENTATION_PLAN.md
Due: none

feat: implement Phase 1 FSM execution infrastructure (declarative nodes)
  src/omnibase_core/mixins/mixin_fsm_execution.py
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/utils/fsm_executor.py
  tests/unit/mixins/test_mixin_fsm_execution.py
  tests/unit/utils/test_fsm_executor.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat: implement Phase 2 workflow execution infrastructure (declarative orchestrators)
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/mixins/mixin_workflow_execution.py
  src/omnibase_core/utils/workflow_executor.py
  tests/unit/mixins/test_mixin_workflow_execution.py
  tests/unit/utils/test_workflow_executor.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat: implement Phase 3 declarative node base classes
  src/omnibase_core/nodes/node_orchestrator_declarative.py
  src/omnibase_core/nodes/node_reducer_declarative.py
  tests/unit/nodes/test_declarative_nodes.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat: implement Phase 4 examples and migration guide (declarative nodes)
  docs/guides/MIGRATING_TO_DECLARATIVE_NODES.md
  examples/contracts/orchestrator_data_pipeline.yaml
  examples/contracts/reducer_metrics_aggregator.yaml
Due: validate-string-versions

docs: update implementation status - all 4 phases complete
  docs/architecture/DECLARATIVE_IMPLEMENTATION_PLAN.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
Due: none

fix: resolve critical and major blockers from PR review
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/models/model_reducer_input.py
  src/omnibase_core/utils/fsm_executor.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

chore: architecture cleanup and documentation overhaul
  docs/architecture/DECLARATIVE_IMPLEMENTATION_PLAN.md
  docs/getting-started/QUICK_START.md
  docs/guides/node-building/03_COMPUTE_NODE_TUTORIAL.md
  docs/guides/node-building/04_EFFECT_NODE_TUTORIAL.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  src/omnibase_core/mixins/__init__.py
  src/omnibase_core/mixins/mixin_fsm_execution.py
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/mixins/mixin_workflow_support.py
  tests/unit/mixins/test_mixin_workflow_support.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: resolve duplicate model files and complete single-class refactoring
  src/omnibase_core/models/fsm/__init__.py
  src/omnibase_core/models/fsm/model_fsm_state_snapshot.py
  src/omnibase_core/models/fsm/model_fsm_transition_result.py
  src/omnibase_core/models/workflow/execution/__init__.py
  src/omnibase_core/models/workflow/execution/model_declarative_workflow_result.py
  src/omnibase_core/models/workflow/execution/model_declarative_workflow_step_context.py
  src/omnibase_core/utils/fsm_executor.py
  src/omnibase_core/utils/workflow_executor.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: resolve all PR #83 review feedback (20 issues)
  docs/architecture/DECLARATIVE_IMPLEMENTATION_PLAN.md
  docs/guides/MIGRATING_TO_DECLARATIVE_NODES.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  examples/contracts/reducer_metrics_aggregator.yaml
  src/omnibase_core/mixins/mixin_fsm_execution.py
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/mixins/mixin_workflow_execution.py
  src/omnibase_core/models/fsm/model_fsm_state_snapshot.py
  src/omnibase_core/models/orchestrator/model_orchestrator_output.py
  src/omnibase_core/nodes/node_orchestrator_declarative.py
  src/omnibase_core/nodes/node_reducer_declarative.py
  src/omnibase_core/utils/fsm_executor.py
  src/omnibase_core/utils/workflow_executor.py
  tests/unit/nodes/test_declarative_nodes.py
  tests/unit/utils/test_fsm_executor.py
  tests/unit/utils/test_workflow_executor.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: improve mock robustness in hybrid execution test to prevent CI worker crashes
  tests/unit/mixins/test_mixin_hybrid_execution.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix: reduce thread cleanup timeout to prevent test timeouts
  scripts/validate-clean-root.sh
  tests/conftest.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(ci): resolve CI Split 12 test failures
  src/omnibase_core/utils/workflow_executor.py
  tests/unit/mixins/test_mixin_fsm_execution.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: resolve remaining PR #83 review feedback (code quality and documentation)
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  src/omnibase_core/container/container_service_resolver.py
  src/omnibase_core/logging/emit.py
  src/omnibase_core/mixins/mixin_canonical_serialization.py
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_node_service.py
  src/omnibase_core/nodes/node_effect.py
  src/omnibase_core/nodes/node_orchestrator.py
  src/omnibase_core/utils/fsm_executor.py
  src/omnibase_core/utils/workflow_executor.py
  src/omnibase_core/validation/contracts.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: correct parameter names in test_emit_conditional_branches.py
  tests/unit/logging/test_emit_conditional_branches.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs: fix critical documentation errors and improve pattern clarity
  CLAUDE.md
  docs/conventions/ERROR_HANDLING_BEST_PRACTICES.md
  docs/guides/node-building/02_NODE_TYPES.md
  docs/reference/templates/COMPUTE_NODE_TEMPLATE.md
Due: none

docs: comprehensive documentation audit fixes
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  DOCUMENTATION_LINK_VALIDATION_FINAL_REPORT.md
  DOCUMENTATION_LINK_VALIDATION_REPORT.md
  README.md
  docs/architecture/DECLARATIVE_IMPLEMENTATION_PLAN.md
  docs/architecture/MODEL_ACTION_ARCHITECTURE.md
  docs/architecture/MODEL_INTENT_ARCHITECTURE.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/architecture/architecture-research/RESEARCH_REPORT_4_NODE_ARCHITECTURE.md
  docs/architecture/decisions/ADR-001-protocol-based-di-architecture.md
  docs/architecture/overview.md
  docs/conventions/ERROR_HANDLING_BEST_PRACTICES.md
  docs/getting-started/FIRST_NODE.md
  docs/guides/TESTING_GUIDE.md
  docs/guides/mixin-development/04_MIXIN_INTEGRATION.md
  docs/guides/node-building/01_WHAT_IS_A_NODE.md
  docs/guides/node-building/03_COMPUTE_NODE_TUTORIAL.md
  docs/guides/node-building/04_EFFECT_NODE_TUTORIAL.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  docs/guides/node-building/08_COMMON_PITFALLS.md
  docs/guides/templates/COMPUTE_NODE_TEMPLATE.md
  docs/guides/templates/EFFECT_NODE_TEMPLATE.md
  docs/guides/templates/ENHANCED_NODE_PATTERNS.md
  docs/guides/templates/ORCHESTRATOR_NODE_TEMPLATE.md
  docs/patterns/LEASE_MANAGEMENT_PATTERN.md
  docs/quality/TERMINOLOGY_AUDIT_REPORT.md
  docs/quality/TERMINOLOGY_FIXES_CHECKLIST.md
  docs/reference/API_DOCUMENTATION.md
  docs/reference/MIXIN_DISCOVERY_API.md
  docs/reference/README.md
  docs/reference/api/models.md
  docs/reference/api/nodes.md
  docs/reference/api/utils.md
  docs/reference/templates/COMPUTE_NODE_TEMPLATE.md
  docs/release-notes/RELEASE_NOTES_v0.1.0.md
  scripts/fix_documentation_links.py
  scripts/validate_docs_links.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

deleted status docs
  DOCUMENTATION_LINK_VALIDATION_FINAL_REPORT.md
  DOCUMENTATION_LINK_VALIDATION_REPORT.md
Due: none

docs: complete ModelService* transformation and fix all documentation issues
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/INDEX.md
  docs/architecture/DEPENDENCY_INJECTION.md
  docs/architecture/ECOSYSTEM_DIRECTORY_STRUCTURE.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/architecture/SUBCONTRACT_ARCHITECTURE.md
  docs/architecture/mixin-architecture/ONEX_MIXIN_ARCHITECTURE_PATTERNS.md
  docs/conventions/ERROR_HANDLING_BEST_PRACTICES.md
  docs/guides/node-building/03_COMPUTE_NODE_TUTORIAL.md
  docs/guides/node-building/04_EFFECT_NODE_TUTORIAL.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  docs/guides/templates/EFFECT_NODE_TEMPLATE.md
  docs/guides/templates/ORCHESTRATOR_NODE_TEMPLATE.md
  docs/patterns/CIRCUIT_BREAKER_PATTERN.md
  docs/patterns/CONFIGURATION_MANAGEMENT.md
  docs/patterns/EVENT_DRIVEN_ARCHITECTURE.md
  docs/reference/MIXIN_DISCOVERY_API.md
  docs/release-notes/RELEASE_NOTES_v0.1.0.md
Due: none

feat: complete mixin-subcontract architecture with 6 new declarative models
  README.md
  docs/INDEX.md
  docs/architecture/SUBCONTRACT_ARCHITECTURE.md
  docs/guides/MIXIN_SUBCONTRACT_MAPPING.md
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_discovery_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_event_handling_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_introspection_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_lifecycle_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_observability_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_tool_execution_subcontract.py
  src/omnibase_core/nodes/node_reducer.py
  src/omnibase_core/validation/contracts.py
  tests/unit/models/contracts/subcontracts/test_model_event_handling_subcontract.py
  tests/unit/models/contracts/subcontracts/test_model_observability_subcontract.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat: add ModelMixinMetadata and ModelDockerComposeManifest for complete manifest coverage
  README.md
  docs/INDEX.md
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_mixin_metadata.py
  src/omnibase_core/models/docker/__init__.py
  src/omnibase_core/models/docker/model_docker_compose_manifest.py
  tests/unit/models/core/test_model_mixin_metadata.py
  tests/unit/models/docker/test_model_docker_compose_manifest.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

Path conditions:
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$
  validate-union-usage: any of: ^src/.*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
