Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

test(OMN-18235): cascade bumps carry machine-readable provenance, asserted by the generator's own test
  .pre-commit-config.yaml
  tests/scripts/test_omn_18235_cascade_provenance_block.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-18235): cascade bumps carry machine-readable provenance, asserted by the generator's own test (#1685)
  .pre-commit-config.yaml
  tests/scripts/test_omn_18235_cascade_provenance_block.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-18295): carry per-rule quality evidence on the delegation terminal
  src/omnibase_core/enums/enum_quality_rule_enforcement.py
  src/omnibase_core/models/delegation/wire/__init__.py
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_quality_gate.py
  tests/unit/models/delegation/wire/test_omn18295_rule_evaluations.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

wip(OMN-16992): preserved from dirty worktree 2026-09-13
  .github/workflows/auto-merge.yml
  tests/unit/validation/test_auto_merge_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

wip(OMN-17503): preserved from dirty worktree 2026-09-13
  scripts/hooks/prepush_smart_tests.sh
  tests/scripts/test_prepush_hook_host_identity_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-18334): listen for a description edit on the companion-effect caller
  .github/workflows/call-occ-companion-effect.yml
  tests/test_occ_companion_effect_edited_trigger_omn_18334.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

wip(OMN-17864): preserved from dirty worktree 2026-09-13
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18295): the per-rule record states what happened, not what agrees
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  tests/unit/models/delegation/wire/test_omn18295_rule_evaluations.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-18295): carry per-rule quality evidence on the delegation terminal (#1686)
  src/omnibase_core/enums/enum_quality_rule_enforcement.py
  src/omnibase_core/models/delegation/wire/__init__.py
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_quality_gate.py
  tests/unit/models/delegation/wire/test_omn18295_rule_evaluations.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-18334): move the trigger test under tests/unit so the selector can narrow
  tests/unit/test_occ_companion_effect_edited_trigger_omn_18334.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-18334): listen for a description edit on the companion-effect caller (#1687)
  .github/workflows/call-occ-companion-effect.yml
  tests/unit/test_occ_companion_effect_edited_trigger_omn_18334.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18033): make config propagation target-aware
  .github/propagation-targets.yaml
  .github/workflows/propagate-config.yml
  .pre-commit-hooks.yaml
  scripts/propagate-config.sh
  tests/scripts/test_propagate_config.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18033): authorize cross-repo dry-run reads
  .github/workflows/propagate-config.yml
  tests/scripts/test_propagate_config.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18033): make config propagation target-aware (#1688)
  .github/propagation-targets.yaml
  .github/workflows/propagate-config.yml
  .pre-commit-hooks.yaml
  scripts/propagate-config.sh
  tests/scripts/test_propagate_config.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-17474): remove pre-commit hooks measured at zero fires
  .pre-commit-config.yaml
Due: validate-string-versions

fix(OMN-18205): the Receipt Gate's untrusted test is the fork test
  .github/workflows/receipt-gate.yml
  tests/ci/test_receipt_gate_untrusted_test_omn18205.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-17474): remove pre-commit hooks measured at zero fires (#1689)
  .pre-commit-config.yaml
Due: validate-string-versions

fix(OMN-18205): the Receipt Gate's untrusted test is the fork test (#1690)
  .github/workflows/receipt-gate.yml
  tests/ci/test_receipt_gate_untrusted_test_omn18205.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-15622): register the five delegation terminal topics in the canonical registry
  pyproject.toml
  src/omnibase_core/contracts/topic_registry.yaml
  src/omnibase_core/topics.py
  tests/unit/test_topic_registry_delegation_terminal.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-18371): remove the Repowise MCP server config
  .mcp.json
Due: none

fix(OMN-18205): the remaining cross-repo reusables test the wrong thing too
  .github/workflows/auto-tag-reusable.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/dependency-cascade.yml
  .github/workflows/occ-preflight.yml
  .github/workflows/validate-docs.yml
Due: validate-string-versions

feat(OMN-15622): register the five delegation terminal topics in the canonical registry (#1691)
  pyproject.toml
  src/omnibase_core/contracts/topic_registry.yaml
  src/omnibase_core/topics.py
  tests/unit/test_topic_registry_delegation_terminal.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-18371): remove the Repowise MCP server config (#1692)
  .mcp.json
Due: none

fix(OMN-18205): the remaining cross-repo reusables test the wrong thing too (#1693)
  .github/workflows/auto-tag-reusable.yml
  .github/workflows/cr-thread-gate.yml
  .github/workflows/dependency-cascade.yml
  .github/workflows/occ-preflight.yml
  .github/workflows/validate-docs.yml
Due: validate-string-versions

rescue(OMN-17841): uncommitted worktree contents preserved 2026-09-14
  scripts/validation/validate-single-class-per-file.py
  tests/validation/test_validate_single_class_per_file.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17744): close environment reader inventory residuals
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .github/workflows/omni-standards-compliance.yml
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements.yaml
  pyproject.toml
  scripts/ci/ci_summary_gate.py
  scripts/ci/test_selection_loader.py
  scripts/validation/validate_no_new_env_vars.py
  src/omnibase_core/bootstrap/__init__.py
  src/omnibase_core/bootstrap/environment_bootstrap.py
  src/omnibase_core/errors/error_duplicate_yaml_mapping_key.py
  src/omnibase_core/models/bootstrap/__init__.py
  src/omnibase_core/models/bootstrap/model_environment_bootstrap.py
  src/omnibase_core/models/bootstrap/model_injected_environment.py
  src/omnibase_core/models/bootstrap/model_injected_environment_value.py
  src/omnibase_core/models/nodes/test_selector/model_adjacency_map.py
  src/omnibase_core/models/validation/model_env_read_finding.py
  src/omnibase_core/models/validation/model_environment_reader_inventory_assignment.py
  src/omnibase_core/models/validation/model_validator_requirement_entry.py
  src/omnibase_core/nodes/node_test_selector_compute/runtime_test_selector.py
  src/omnibase_core/utils/util_safe_yaml_loader.py
  src/omnibase_core/validators/environment_reader_inventory.py
  src/omnibase_core/validators/no_new_os_environ.py
  src/omnibase_core/validators/no_new_os_environ_function_context.py
  src/omnibase_core/validators/no_new_os_environ_local_names.py
  src/omnibase_core/validators/no_new_os_environ_scope.py
  tests/unit/bootstrap/test_environment_bootstrap.py
  tests/unit/utils/test_strict_yaml_mapping_loader.py
  tests/unit/validation/test_ci_workflow_shape.py
  tests/unit/validation/test_quality_gate_docs_only_short_circuit_omn16625.py
  tests/unit/validation/test_validate_no_new_env_vars.py
  tests/unit/validators/test_no_new_os_environ.py
  tests/validation/test_validator_requirements_consumer.py
  validators/no_new_os_environ_local_names.py
  validators/no_new_os_environ_located_ast_node.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17744): close governed gate residuals
  architecture-handshakes/validator-requirements.yaml
  scripts/ci/import_ratchet_baseline.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17744): gate typed env readers by inventory completeness
  .github/workflows/ci.yml
  src/omnibase_core/validators/no_new_os_environ.py
  tests/unit/validators/test_no_new_os_environ.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17744): refresh typed bootstrap CI contract digest
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17744): make environment inventory gate fail closed
  .github/workflows/ci.yml
  src/omnibase_core/validators/no_new_os_environ.py
  tests/unit/validation/test_ci_workflow_shape.py
  tests/unit/validators/test_no_new_os_environ.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17744): drop dead root validator files
  validators/no_new_os_environ_local_names.py
  validators/no_new_os_environ_located_ast_node.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17744): refresh env inventory and version
  pyproject.toml
  src/omnibase_core/validators/environment_reader_inventory.py
  tests/unit/validation/test_dynamic_env_read_migration.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17744): close environment reader inventory residuals (#1654)
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .github/workflows/omni-standards-compliance.yml
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements.yaml
  pyproject.toml
  scripts/ci/ci_summary_gate.py
  scripts/ci/import_ratchet_baseline.py
  scripts/ci/test_selection_loader.py
  scripts/validation/validate_no_new_env_vars.py
  src/omnibase_core/bootstrap/__init__.py
  src/omnibase_core/bootstrap/environment_bootstrap.py
  src/omnibase_core/errors/error_duplicate_yaml_mapping_key.py
  src/omnibase_core/models/bootstrap/__init__.py
  src/omnibase_core/models/bootstrap/model_environment_bootstrap.py
  src/omnibase_core/models/bootstrap/model_injected_environment.py
  src/omnibase_core/models/bootstrap/model_injected_environment_value.py
  src/omnibase_core/models/nodes/test_selector/model_adjacency_map.py
  src/omnibase_core/models/validation/model_env_read_finding.py
  src/omnibase_core/models/validation/model_environment_reader_inventory_assignment.py
  src/omnibase_core/models/validation/model_validator_requirement_entry.py
  src/omnibase_core/nodes/node_test_selector_compute/runtime_test_selector.py
  src/omnibase_core/utils/util_safe_yaml_loader.py
  src/omnibase_core/validators/environment_reader_inventory.py
  src/omnibase_core/validators/no_new_os_environ.py
  src/omnibase_core/validators/no_new_os_environ_function_context.py
  src/omnibase_core/validators/no_new_os_environ_local_names.py
  src/omnibase_core/validators/no_new_os_environ_scope.py
  tests/unit/bootstrap/test_environment_bootstrap.py
  tests/unit/utils/test_strict_yaml_mapping_loader.py
  tests/unit/validation/test_ci_workflow_shape.py
  tests/unit/validation/test_dynamic_env_read_migration.py
  tests/unit/validation/test_quality_gate_docs_only_short_circuit_omn16625.py
  tests/unit/validation/test_validate_no_new_env_vars.py
  tests/unit/validators/test_no_new_os_environ.py
  tests/validation/test_validator_requirements_consumer.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-15639): resolve the consumer-group environment token from the variable deployments actually set
  src/omnibase_core/event_bus/util_consumer_group.py
  tests/gates/test_consumer_group_name_authorization.py
  tests/unit/event_bus/test_util_consumer_group.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-15639): drop the two environment-reader inventory entries this change retires
  src/omnibase_core/validators/environment_reader_inventory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-15639): resolve the consumer-group environment token from the variable deployments actually set (#1694)
  src/omnibase_core/event_bus/util_consumer_group.py
  src/omnibase_core/validators/environment_reader_inventory.py
  tests/gates/test_consumer_group_name_authorization.py
  tests/unit/event_bus/test_util_consumer_group.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17864): bound the occ-preflight wait instead of failing on a transient race
  .github/workflows/occ-preflight.yml
  pyproject.toml
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_omn17864.py
  tests/ci/test_occ_preflight_wait_workflow_shape_omn17864.py
  uv.lock
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17864): bound the occ-preflight wait instead of failing on a transient race (#1697)
  .github/workflows/occ-preflight.yml
  pyproject.toml
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_omn17864.py
  tests/ci/test_occ_preflight_wait_workflow_shape_omn17864.py
  uv.lock
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17864): checkout omnibase_core before the occ-preflight wait so external callers resolve it
  .github/workflows/occ-preflight.yml
  tests/ci/test_occ_preflight_wait_workflow_shape_omn17864.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17864): make the pre-resolve core checkout workspace-relative
  .github/workflows/occ-preflight.yml
  tests/ci/test_occ_preflight_wait_workflow_shape_omn17864.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml
