Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

chore(mypy): remove redundant disallow_any_explicit setting
  pyproject.toml
Due: none

fix(errors): address remaining PR #264 review feedback
  src/omnibase_core/mixins/mixin_discovery_responder.py
  src/omnibase_core/models/infrastructure/model_transaction.py
  src/omnibase_core/validation/contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(changelog): add thread safety table for MixinEventBus (OMN-1081)
  CHANGELOG.md
Due: none

fix(handlers): address PR review feedback and fix ruff formatting (OMN-1086)
  src/omnibase_core/models/handlers/model_handler_descriptor.py
  src/omnibase_core/models/handlers/model_identifier.py
  src/omnibase_core/models/handlers/model_packaging_metadata_ref.py
  tests/unit/models/handlers/test_model_identifier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #251 review feedback - thread safety and Pydantic deprecation
  src/omnibase_core/models/context/model_effect_template_context.py
  src/omnibase_core/models/context/model_session_context.py
  src/omnibase_core/models/core/model_base_result.py
  tests/unit/models/core/test_model_base_result.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(types): add comprehensive tests for type_schema_aliases
  tests/unit/types/test_type_schema_aliases.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(models): address PR #282 review feedback for get_metadata patterns (OMN-1083)
  src/omnibase_core/constants/constants_timeouts.py
  src/omnibase_core/models/metadata/model_function_node_data.py
  src/omnibase_core/models/metadata/model_metadata_node_info.py
  src/omnibase_core/models/metadata/model_metadata_value.py
  src/omnibase_core/models/metadata/model_node_info_summary.py
  src/omnibase_core/models/metadata/model_structured_description.py
  src/omnibase_core/models/metadata/model_structured_display_name.py
  src/omnibase_core/models/metadata/model_structured_tags.py
  src/omnibase_core/models/metadata/model_typed_metrics.py
  src/omnibase_core/models/node_metadata/model_function_node_core.py
  src/omnibase_core/models/node_metadata/model_node_configuration.py
  src/omnibase_core/models/node_metadata/model_node_connection_settings.py
  src/omnibase_core/models/node_metadata/model_node_core_info.py
  src/omnibase_core/models/node_metadata/model_node_execution_settings.py
  src/omnibase_core/models/node_metadata/model_node_information.py
  src/omnibase_core/models/node_metadata/model_node_resource_limits.py
  src/omnibase_core/models/node_metadata/model_node_type.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(changelog): fix markdown heading style for migration sections (OMN-1081)
  CHANGELOG.md
Due: none

docs(handlers): add comprehensive docstrings and address PR review feedback (OMN-1086)
  src/omnibase_core/models/handlers/__init__.py
  src/omnibase_core/models/handlers/model_handler_descriptor.py
  src/omnibase_core/models/handlers/model_identifier.py
  tests/unit/models/handlers/test_model_identifier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(types): enable disallow_any_explicit with legacy module overrides (#280)
  mypy.ini
  src/omnibase_core/constants/constants_timeouts.py
  src/omnibase_core/types/__init__.py
  tests/unit/types/test_type_schema_aliases.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address remaining PR #251 feedback - thread safety and imports
  src/omnibase_core/constants/constants_timeouts.py
  src/omnibase_core/models/context/model_effect_template_context.py
  src/omnibase_core/models/context/model_session_context.py
  src/omnibase_core/models/core/model_base_result.py
  tests/unit/models/context/test_model_effect_input_data.py
  tests/unit/models/effect/test_model_effect_input.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): address all PR #264 release-ready review feedback
  src/omnibase_core/cli/commands.py
  src/omnibase_core/decorators/convert_to_schema.py
  src/omnibase_core/infrastructure/node_base.py
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/mixins/mixin_cli_handler.py
  src/omnibase_core/mixins/mixin_contract_state_reducer.py
  src/omnibase_core/mixins/mixin_debug_discovery_logging.py
  src/omnibase_core/mixins/mixin_discovery_responder.py
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/mixins/mixin_event_handler.py
  src/omnibase_core/mixins/mixin_event_listener.py
  src/omnibase_core/mixins/mixin_fail_fast.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/mixins/mixin_hybrid_execution.py
  src/omnibase_core/mixins/mixin_introspection.py
  src/omnibase_core/mixins/mixin_introspection_publisher.py
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_node_service.py
  src/omnibase_core/mixins/mixin_request_response_introspection.py
  src/omnibase_core/mixins/mixin_service_registry.py
  src/omnibase_core/mixins/mixin_tool_execution.py
  src/omnibase_core/models/connections/model_cloud_service_properties.py
  src/omnibase_core/models/connections/model_connection_auth.py
  src/omnibase_core/models/connections/model_connection_endpoint.py
  src/omnibase_core/models/connections/model_custom_connection_properties.py
  src/omnibase_core/models/connections/model_database_properties.py
  src/omnibase_core/models/connections/model_message_queue_properties.py
  src/omnibase_core/models/connections/model_performance_properties.py
  src/omnibase_core/models/infrastructure/model_transaction.py
  src/omnibase_core/models/operations/model_operationparameters.py
  src/omnibase_core/models/security/model_secure_credentials.py
  src/omnibase_core/utils/workflow_executor.py
  src/omnibase_core/validation/contracts.py
  src/omnibase_core/validation/validation_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(handlers): add end-to-end runtime example for contract-to-instantiation flow (OMN-1086)
  src/omnibase_core/models/handlers/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): address PR #266 review feedback - round 7 (OMN-1081)
  CHANGELOG.md
  src/omnibase_core/mixins/mixin_event_bus.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #282 review feedback for get_metadata pattern
  src/omnibase_core/models/metadata/model_metadata_value.py
  src/omnibase_core/models/metadata/model_typed_metrics.py
  src/omnibase_core/models/node_metadata/model_function_node.py
  src/omnibase_core/models/node_metadata/model_function_node_core.py
  src/omnibase_core/models/node_metadata/model_function_node_performance.py
  src/omnibase_core/models/node_metadata/model_function_node_summary.py
  src/omnibase_core/models/node_metadata/model_node_capability.py
  src/omnibase_core/models/node_metadata/model_node_connection_settings.py
  src/omnibase_core/models/node_metadata/model_node_core_info.py
  src/omnibase_core/models/node_metadata/model_node_core_info_summary.py
  src/omnibase_core/models/node_metadata/model_node_core_metadata_class.py
  src/omnibase_core/models/node_metadata/model_node_information.py
  src/omnibase_core/models/node_metadata/model_node_metadata_info.py
  src/omnibase_core/models/node_metadata/model_node_type.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): update asyncio.TimeoutError to TimeoutError for Python 3.11+
  src/omnibase_core/mixins/mixin_node_service.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): standardize TODO comment format (OMN-1081)
  src/omnibase_core/mixins/mixin_event_bus.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(handlers): address PR #281 review feedback (OMN-1086)
  src/omnibase_core/models/handlers/model_handler_descriptor.py
  src/omnibase_core/models/handlers/model_identifier.py
  tests/integration/models/handlers/__init__.py
  tests/integration/models/handlers/test_handler_descriptor_integration.py
  tests/unit/models/handlers/test_model_handler_descriptor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: add missing __init__.py for integration tests
  tests/integration/models/__init__.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(errors): address final PR #264 release-ready feedback
  src/omnibase_core/infrastructure/node_base.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/models/node_metadata/model_node_type.py
  tests/unit/infrastructure/test_node_base.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(handlers): address remaining PR #281 feedback and CI formatting
  src/omnibase_core/models/handlers/model_artifact_ref.py
  tests/integration/models/handlers/test_handler_descriptor_integration.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(mixins): enhance MixinEventBus with runtime safety and documentation (OMN-1081)
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/models/event_bus/model_event_bus_listener_handle.py
  src/omnibase_core/models/event_bus/model_event_bus_runtime_state.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add ModelHandlerDescriptor and supporting types (OMN-1086) (#281)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_handler_role.py
  src/omnibase_core/models/handlers/__init__.py
  src/omnibase_core/models/handlers/model_artifact_ref.py
  src/omnibase_core/models/handlers/model_handler_descriptor.py
  src/omnibase_core/models/handlers/model_identifier.py
  src/omnibase_core/models/handlers/model_packaging_metadata_ref.py
  src/omnibase_core/models/handlers/model_security_metadata_ref.py
  tests/integration/models/handlers/__init__.py
  tests/integration/models/handlers/test_handler_descriptor_integration.py
  tests/unit/enums/test_enum_handler_role.py
  tests/unit/models/handlers/__init__.py
  tests/unit/models/handlers/test_model_artifact_ref.py
  tests/unit/models/handlers/test_model_handler_descriptor.py
  tests/unit/models/handlers/test_model_identifier.py
  tests/unit/models/handlers/test_model_packaging_metadata_ref.py
  tests/unit/models/handlers/test_model_security_metadata_ref.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add ModelHandlerTypeMetadata and factory for handler categorization (OMN-1121)
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/handlers/__init__.py
  src/omnibase_core/models/handlers/model_handler_type_metadata.py
  src/omnibase_core/protocols/handlers/__init__.py
  src/omnibase_core/protocols/handlers/protocol_handler_type_resolver.py
  tests/unit/models/handlers/__init__.py
  tests/unit/models/handlers/test_model_handler_type_metadata.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): address PR #264 release-ready review feedback
  src/omnibase_core/infrastructure/node_base.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/models/connections/model_connection_metrics.py
  src/omnibase_core/models/connections/model_connection_security.py
  src/omnibase_core/models/infrastructure/model_result_dict.py
  src/omnibase_core/models/infrastructure/model_transaction.py
  src/omnibase_core/models/operations/model_execution_metadata.py
  src/omnibase_core/models/operations/model_operationparameters.py
  src/omnibase_core/models/orchestrator/model_orchestrator_output.py
  src/omnibase_core/models/security/model_secure_credentials.py
  src/omnibase_core/tools/mypy_plugins/dict_any_checker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): address PR #266 review feedback - round 8 (OMN-1081)
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/models/event_bus/model_event_bus_runtime_state.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): add from_attributes=True for pytest-xdist compatibility (OMN-1081)
  src/omnibase_core/models/event_bus/model_event_bus_input_state.py
  src/omnibase_core/models/event_bus/model_event_bus_output_state.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #283 review feedback (OMN-1121)
  src/omnibase_core/models/handlers/__init__.py
  src/omnibase_core/models/handlers/model_handler_descriptor.py
  src/omnibase_core/models/handlers/model_handler_type_metadata.py
  tests/unit/models/handlers/test_model_handler_type_metadata.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(factories): add default profile factory for contracts (OMN-1125)
  scripts/validate_class_naming.py
  scripts/validation/validate_naming.py
  src/omnibase_core/factories/__init__.py
  src/omnibase_core/factories/contract_profile_factory.py
  src/omnibase_core/factories/profiles/__init__.py
  src/omnibase_core/factories/profiles/compute_profiles.py
  src/omnibase_core/factories/profiles/effect_profiles.py
  src/omnibase_core/factories/profiles/orchestrator_profiles.py
  src/omnibase_core/factories/profiles/reducer_profiles.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/models/contracts/model_execution_ordering_policy.py
  src/omnibase_core/models/contracts/model_execution_profile.py
  src/omnibase_core/protocols/protocol_contract_profile_factory.py
  tests/unit/factories/__init__.py
  tests/unit/factories/test_contract_profile_factory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): fix CI test failures for exception handling
  src/omnibase_core/infrastructure/node_base.py
  src/omnibase_core/validation/validation_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add foundational capability models (OMN-1122, OMN-1123, OMN-1124)
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/capabilities/__init__.py
  src/omnibase_core/models/capabilities/model_contract_capabilities.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_dependency_spec.py
  src/omnibase_core/models/notifications/__init__.py
  src/omnibase_core/models/notifications/model_state_transition_notification.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/capabilities/__init__.py
  src/omnibase_core/protocols/capabilities/protocol_capability_provider.py
  src/omnibase_core/protocols/notifications/__init__.py
  src/omnibase_core/protocols/notifications/protocol_transition_notification.py
  src/omnibase_core/protocols/resolution/__init__.py
  src/omnibase_core/protocols/resolution/protocol_dependency_resolver.py
  tests/unit/models/capabilities/__init__.py
  tests/unit/models/capabilities/test_model_contract_capabilities.py
  tests/unit/models/contracts/test_model_dependency_spec.py
  tests/unit/models/notifications/__init__.py
  tests/unit/models/notifications/test_model_state_transition_notification.py
  tests/unit/protocols/capabilities/__init__.py
  tests/unit/protocols/capabilities/test_protocol_capability_provider.py
  tests/unit/protocols/notifications/__init__.py
  tests/unit/protocols/notifications/test_protocol_transition_notification.py
  tests/unit/protocols/resolution/__init__.py
  tests/unit/protocols/resolution/test_protocol_dependency_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address remaining PR #283 review feedback (OMN-1121)
  src/omnibase_core/models/handlers/model_artifact_ref.py
  src/omnibase_core/models/handlers/model_handler_type_metadata.py
  src/omnibase_core/models/handlers/model_packaging_metadata_ref.py
  src/omnibase_core/models/handlers/model_security_metadata_ref.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): address remaining PR #264 release-ready review feedback
  src/omnibase_core/models/infrastructure/model_transaction.py
  src/omnibase_core/validation/validation_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #285 review feedback
  src/omnibase_core/models/capabilities/__init__.py
  src/omnibase_core/models/capabilities/model_contract_capabilities.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_dependency_spec.py
  src/omnibase_core/models/notifications/__init__.py
  src/omnibase_core/models/notifications/model_state_transition_notification.py
  src/omnibase_core/protocols/capabilities/__init__.py
  src/omnibase_core/protocols/capabilities/protocol_capability_provider.py
  src/omnibase_core/protocols/notifications/__init__.py
  src/omnibase_core/protocols/notifications/protocol_transition_notification.py
  src/omnibase_core/protocols/resolution/__init__.py
  src/omnibase_core/protocols/resolution/protocol_dependency_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(factories): add ModelHandlerDescriptor embedding to profiles (OMN-1125)
  src/omnibase_core/factories/profiles/compute_profiles.py
  src/omnibase_core/factories/profiles/effect_profiles.py
  src/omnibase_core/factories/profiles/orchestrator_profiles.py
  src/omnibase_core/factories/profiles/reducer_profiles.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/models/runtime/__init__.py
  src/omnibase_core/models/runtime/model_descriptor_circuit_breaker.py
  src/omnibase_core/models/runtime/model_descriptor_retry_policy.py
  src/omnibase_core/models/runtime/model_handler_descriptor.py
  tests/unit/factories/test_contract_profile_factory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): address PR #266 code quality issues - round 9 (OMN-1081)
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/models/event_bus/model_event_bus_listener_handle.py
  src/omnibase_core/models/event_bus/model_event_bus_runtime_state.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): add frozen=True to ModelContractCapabilities for immutability
  src/omnibase_core/models/capabilities/model_contract_capabilities.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
