Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

feat(models): add ModelContractPatch and patch validation system (OMN-1126)
  src/omnibase_core/models/contracts/model_capability_provided.py
  src/omnibase_core/models/contracts/model_contract_patch.py
  src/omnibase_core/models/contracts/model_descriptor_patch.py
  src/omnibase_core/models/contracts/model_handler_spec.py
  src/omnibase_core/models/contracts/model_profile_reference.py
  src/omnibase_core/models/contracts/model_reference.py
  src/omnibase_core/validation/contract_patch_validator.py
  src/omnibase_core/validation/protocol_patch_validator.py
  tests/unit/models/contracts/test_model_capability_provided.py
  tests/unit/models/contracts/test_model_contract_patch.py
  tests/unit/models/contracts/test_model_descriptor_patch.py
  tests/unit/models/contracts/test_model_handler_spec.py
  tests/unit/models/contracts/test_model_profile_reference.py
  tests/unit/models/contracts/test_model_reference.py
  tests/unit/validation/test_contract_patch_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): fix CI test failure and final PR #264 refinements
  src/omnibase_core/models/infrastructure/model_transaction.py
  src/omnibase_core/models/operations/model_execution_metadata.py
  src/omnibase_core/validation/contracts.py
  tests/unit/validation/test_architecture.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #288 review feedback for ModelProviderDescriptor (OMN-1153)
  src/omnibase_core/models/providers/__init__.py
  src/omnibase_core/models/providers/model_provider_descriptor.py
  tests/unit/models/providers/test_model_provider_descriptor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): skip test that mocks ast.parse causing CI failures
  tests/unit/validation/test_validation_utils_edge_cases.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(execution): add runtime execution sequencing model (OMN-1108)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_handler_execution_phase.py
  src/omnibase_core/infrastructure/__init__.py
  src/omnibase_core/infrastructure/execution/__init__.py
  src/omnibase_core/infrastructure/execution/phase_sequencer.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/execution/__init__.py
  src/omnibase_core/models/execution/model_execution_plan.py
  src/omnibase_core/models/execution/model_phase_step.py
  tests/unit/enums/test_enum_handler_execution_phase.py
  tests/unit/infrastructure/execution/__init__.py
  tests/unit/infrastructure/execution/test_execution_module_exports.py
  tests/unit/infrastructure/execution/test_model_execution_plan.py
  tests/unit/infrastructure/execution/test_model_phase_step.py
  tests/unit/infrastructure/execution/test_phase_sequencer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #287 review feedback for production release (OMN-1152)
  src/omnibase_core/models/capabilities/__init__.py
  src/omnibase_core/models/capabilities/model_capability_dependency.py
  src/omnibase_core/models/capabilities/model_requirement_set.py
  tests/unit/models/capabilities/test_model_capability_dependency.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): remove legacy code and add strict mode for MixinEventBus (OMN-1081)
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/models/event_bus/model_event_bus_listener_handle.py
  tests/unit/mixins/test_mixin_event_bus.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): change BaseException to Exception in handler execution paths
  src/omnibase_core/mixins/mixin_effect_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address final PR #287 review feedback and fix CI (OMN-1152)
  src/omnibase_core/models/capabilities/model_capability_dependency.py
  src/omnibase_core/models/capabilities/model_requirement_set.py
  tests/unit/models/capabilities/test_model_capability_dependency.py
  tests/unit/models/capabilities/test_model_requirement_set.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(contracts): enhance patch validation and add helper methods (OMN-1126)
  src/omnibase_core/models/contracts/model_capability_provided.py
  src/omnibase_core/models/contracts/model_descriptor_patch.py
  src/omnibase_core/models/contracts/model_handler_spec.py
  src/omnibase_core/models/contracts/model_profile_reference.py
  src/omnibase_core/models/contracts/model_reference.py
  src/omnibase_core/validation/contract_patch_validator.py
  tests/unit/models/contracts/test_model_descriptor_patch.py
  tests/unit/models/contracts/test_model_profile_reference.py
  tests/unit/models/contracts/test_model_reference.py
  tests/unit/validation/test_contract_patch_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests,models): update API snapshot and resolve duplicate model
  docs/guides/CONTRACT_PROFILE_GUIDE.md
  src/omnibase_core/factories/profiles/compute_profiles.py
  src/omnibase_core/factories/profiles/effect_profiles.py
  src/omnibase_core/factories/profiles/orchestrator_profiles.py
  src/omnibase_core/factories/profiles/reducer_profiles.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/models/runtime/__init__.py
  src/omnibase_core/models/runtime/model_handler_behavior_descriptor.py
  tests/unit/api_snapshots/test_infrastructure_api_snapshot.py
  tests/unit/factories/test_contract_profile_factory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(format): apply ruff formatting to mixin_effect_execution.py
  src/omnibase_core/mixins/mixin_effect_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(pipeline): add Pipeline Runner & Hook Registry infrastructure (OMN-1114)
  mypy.ini
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/exceptions.py
  src/omnibase_core/pipeline/hook_registry.py
  src/omnibase_core/pipeline/middleware_composer.py
  src/omnibase_core/pipeline/models/__init__.py
  src/omnibase_core/pipeline/models/model_execution_plan.py
  src/omnibase_core/pipeline/models/model_pipeline_hook.py
  src/omnibase_core/pipeline/models/model_validation_warning.py
  src/omnibase_core/pipeline/pipeline_runner.py
  src/omnibase_core/pipeline/runtime_plan_builder.py
  tests/unit/pipeline/__init__.py
  tests/unit/pipeline/test_hook_registry.py
  tests/unit/pipeline/test_middleware_composer.py
  tests/unit/pipeline/test_pipeline_runner.py
  tests/unit/pipeline/test_runtime_plan_builder.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(models): enhance ModelProviderDescriptor documentation per PR #288 review (OMN-1153)
  src/omnibase_core/models/providers/__init__.py
  src/omnibase_core/models/providers/model_provider_descriptor.py
  tests/unit/models/providers/test_model_provider_descriptor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(execution): address PR review feedback for phase_sequencer
  src/omnibase_core/infrastructure/execution/phase_sequencer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(models): rename ModelHandlerDescriptor to ModelHandlerBehavior (OMN-1126)
  src/omnibase_core/factories/profiles/compute_profiles.py
  src/omnibase_core/factories/profiles/effect_profiles.py
  src/omnibase_core/factories/profiles/orchestrator_profiles.py
  src/omnibase_core/factories/profiles/reducer_profiles.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/models/runtime/__init__.py
  src/omnibase_core/models/runtime/model_handler_behavior.py
  tests/unit/factories/test_contract_profile_factory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(validation): add ContractPatchValidator to naming exemptions (OMN-1126)
  scripts/validation/validate_naming.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(mixins): add max_length validation in bind() method (OMN-1081)
  src/omnibase_core/models/event_bus/model_event_bus_runtime_state.py
  tests/unit/models/event_bus/test_model_event_bus_runtime_state.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address remaining PR #287 feedback - hyphen support and tests (OMN-1152)
  src/omnibase_core/models/capabilities/model_capability_dependency.py
  src/omnibase_core/models/capabilities/model_requirement_set.py
  tests/unit/models/capabilities/test_model_capability_dependency.py
  tests/unit/models/capabilities/test_model_requirement_set.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(models): optimize matches_any_capability with generator expression (OMN-1153)
  src/omnibase_core/models/providers/model_provider_descriptor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(execution): address all PR #290 review feedback
  src/omnibase_core/enums/enum_handler_execution_phase.py
  src/omnibase_core/infrastructure/execution/phase_sequencer.py
  src/omnibase_core/models/runtime/model_descriptor_circuit_breaker.py
  src/omnibase_core/models/runtime/model_descriptor_retry_policy.py
  tests/unit/infrastructure/execution/test_execution_module_exports.py
  tests/unit/infrastructure/execution/test_model_execution_plan.py
  tests/unit/infrastructure/execution/test_model_phase_step.py
  tests/unit/infrastructure/execution/test_phase_sequencer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(mixins): separate MixinEventBus data from behavior (OMN-1081) (#266)
  CHANGELOG.md
  docs/INDEX.md
  docs/guides/MIGRATING_TO_MIXIN_EVENT_BUS_V0_4.md
  src/omnibase_core/enums/enum_core_error_code.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/models/event_bus/__init__.py
  src/omnibase_core/models/event_bus/model_event_bus_bootstrap_result.py
  src/omnibase_core/models/event_bus/model_event_bus_input_output_state.py
  src/omnibase_core/models/event_bus/model_event_bus_input_state.py
  src/omnibase_core/models/event_bus/model_event_bus_listener_handle.py
  src/omnibase_core/models/event_bus/model_event_bus_output_field.py
  src/omnibase_core/models/event_bus/model_event_bus_output_state.py
  src/omnibase_core/models/event_bus/model_event_bus_runtime_state.py
  src/omnibase_core/models/services/model_service_effect.py
  tests/unit/mixins/test_mixin_event_bus.py
  tests/unit/models/event_bus/test_model_event_bus_bootstrap_result.py
  tests/unit/models/event_bus/test_model_event_bus_input_output_state.py
  tests/unit/models/event_bus/test_model_event_bus_input_state.py
  tests/unit/models/event_bus/test_model_event_bus_listener_handle.py
  tests/unit/models/event_bus/test_model_event_bus_output_field.py
  tests/unit/models/event_bus/test_model_event_bus_output_state.py
  tests/unit/models/event_bus/test_model_event_bus_runtime_state.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(docs): improve exception handling documentation for PR #264
  src/omnibase_core/models/infrastructure/model_transaction.py
  src/omnibase_core/validation/contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(pipeline): rename files to Pattern A naming convention (OMN-1114)
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/builder_execution_plan.py
  src/omnibase_core/pipeline/composer_middleware.py
  src/omnibase_core/pipeline/models/__init__.py
  src/omnibase_core/pipeline/models/model_execution_plan.py
  src/omnibase_core/pipeline/models/model_pipeline_hook.py
  src/omnibase_core/pipeline/models/model_validation_warning.py
  src/omnibase_core/pipeline/registry_hook.py
  src/omnibase_core/pipeline/runner_pipeline.py
  tests/unit/pipeline/test_builder_execution_plan.py
  tests/unit/pipeline/test_composer_middleware.py
  tests/unit/pipeline/test_registry_hook.py
  tests/unit/pipeline/test_runner_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address PR review feedback for patch validation (OMN-1126)
  src/omnibase_core/models/contracts/model_capability_provided.py
  src/omnibase_core/models/contracts/model_contract_patch.py
  src/omnibase_core/models/contracts/model_descriptor_patch.py
  src/omnibase_core/models/contracts/model_handler_spec.py
  src/omnibase_core/models/contracts/model_reference.py
  src/omnibase_core/validation/contract_patch_validator.py
  src/omnibase_core/validation/validation_utils.py
  tests/unit/models/contracts/test_model_contract_patch.py
  tests/unit/models/contracts/test_model_handler_spec.py
  tests/unit/models/contracts/test_model_profile_reference.py
  tests/unit/validation/test_contract_patch_validator.py
  tests/unit/validation/test_validation_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): add selection policy tests and validation invariant docs (OMN-1152)
  src/omnibase_core/models/capabilities/model_capability_dependency.py
  tests/unit/models/capabilities/test_model_requirement_set.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(execution): add runtime execution sequencing model (OMN-1108) (#290)
  docs/guides/CONTRACT_PROFILE_GUIDE.md
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_handler_execution_phase.py
  src/omnibase_core/factories/profiles/compute_profiles.py
  src/omnibase_core/factories/profiles/effect_profiles.py
  src/omnibase_core/factories/profiles/orchestrator_profiles.py
  src/omnibase_core/factories/profiles/reducer_profiles.py
  src/omnibase_core/infrastructure/__init__.py
  src/omnibase_core/infrastructure/execution/__init__.py
  src/omnibase_core/infrastructure/execution/phase_sequencer.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/models/execution/__init__.py
  src/omnibase_core/models/execution/model_execution_plan.py
  src/omnibase_core/models/execution/model_phase_step.py
  src/omnibase_core/models/runtime/__init__.py
  src/omnibase_core/models/runtime/model_descriptor_circuit_breaker.py
  src/omnibase_core/models/runtime/model_descriptor_retry_policy.py
  src/omnibase_core/models/runtime/model_handler_behavior_descriptor.py
  tests/unit/api_snapshots/test_infrastructure_api_snapshot.py
  tests/unit/enums/test_enum_handler_execution_phase.py
  tests/unit/factories/test_contract_profile_factory.py
  tests/unit/infrastructure/execution/__init__.py
  tests/unit/infrastructure/execution/test_execution_module_exports.py
  tests/unit/infrastructure/execution/test_model_execution_plan.py
  tests/unit/infrastructure/execution/test_model_phase_step.py
  tests/unit/infrastructure/execution/test_phase_sequencer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(contracts): add Handler Contract Model & YAML Schema (OMN-1117)
  docs/INDEX.md
  docs/architecture/MIXINS_TO_HANDLERS_REFACTOR.md
  examples/contracts/handlers/compute_handler.yaml
  examples/contracts/handlers/effect_handler.yaml
  examples/contracts/handlers/reducer_handler.yaml
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_capability_dependency.py
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/models/contracts/model_execution_constraints.py
  src/omnibase_core/models/contracts/model_handler_contract.py
  src/omnibase_core/models/runtime/__init__.py
  src/omnibase_core/models/runtime/model_handler_behavior_descriptor.py
  src/omnibase_core/schemas/handler_contract.schema.json
  tests/unit/models/contracts/test_model_capability_dependency.py
  tests/unit/models/contracts/test_model_execution_constraints.py
  tests/unit/models/contracts/test_model_handler_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style: fix ruff formatting in test_model_requirement_set.py (OMN-1152)
  tests/unit/models/capabilities/test_model_requirement_set.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(models): address PR #288 final review feedback for ModelProviderDescriptor (OMN-1153)
  src/omnibase_core/models/providers/__init__.py
  src/omnibase_core/models/providers/model_provider_descriptor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(pipeline): resolve ruff linting issues and add SPDX headers (OMN-1114)
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/builder_execution_plan.py
  src/omnibase_core/pipeline/composer_middleware.py
  src/omnibase_core/pipeline/exceptions.py
  src/omnibase_core/pipeline/models/__init__.py
  src/omnibase_core/pipeline/models/model_pipeline_hook.py
  src/omnibase_core/pipeline/models/model_validation_warning.py
  src/omnibase_core/pipeline/registry_hook.py
  src/omnibase_core/pipeline/runner_pipeline.py
  tests/unit/pipeline/__init__.py
  tests/unit/pipeline/test_builder_execution_plan.py
  tests/unit/pipeline/test_composer_middleware.py
  tests/unit/pipeline/test_registry_hook.py
  tests/unit/pipeline/test_runner_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(pipeline): add structured errors, timeout enforcement, and thread safety docs (OMN-1114)
  src/omnibase_core/pipeline/exceptions.py
  src/omnibase_core/pipeline/runner_pipeline.py
  tests/unit/pipeline/test_runner_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add ModelProviderDescriptor for provider registry (OMN-1153) (#288)
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/providers/__init__.py
  src/omnibase_core/models/providers/model_provider_descriptor.py
  tests/unit/models/providers/__init__.py
  tests/unit/models/providers/test_model_provider_descriptor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address PR #289 review feedback (OMN-1126)
  src/omnibase_core/models/contracts/model_capability_provided.py
  src/omnibase_core/models/contracts/model_contract_patch.py
  src/omnibase_core/models/contracts/model_descriptor_patch.py
  src/omnibase_core/models/contracts/model_handler_spec.py
  src/omnibase_core/models/runtime/model_handler_behavior.py
  tests/unit/models/contracts/test_model_capability_provided.py
  tests/unit/models/contracts/test_model_contract_patch.py
  tests/unit/models/contracts/test_model_descriptor_patch.py
  tests/unit/models/contracts/test_model_reference.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): address PR #264 release-ready review feedback
  src/omnibase_core/models/infrastructure/model_transaction.py
  src/omnibase_core/models/metadata/model_metadata_field_info.py
  src/omnibase_core/models/orchestrator/model_orchestrator_output.py
  src/omnibase_core/validation/architecture.py
  src/omnibase_core/validation/contracts.py
  tests/unit/validation/test_architecture.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address PR review feedback and CI formatting
  docs/architecture/MIXINS_TO_HANDLERS_REFACTOR.md
  docs/guides/CONTRACT_PROFILE_GUIDE.md
  examples/contracts/handlers/effect_handler.yaml
  examples/contracts/handlers/reducer_handler.yaml
  src/omnibase_core/models/contracts/model_handler_contract.py
  tests/unit/models/contracts/test_model_capability_dependency.py
  tests/unit/models/contracts/test_model_execution_constraints.py
  tests/unit/models/contracts/test_model_handler_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add contract validation event schema (OMN-1146)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_validation.py
  src/omnibase_core/enums/enum_validation_mode.py
  src/omnibase_core/models/events/contract_validation/__init__.py
  src/omnibase_core/models/events/contract_validation/model_contract_merge_completed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_merge_started_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_ref.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_event_base.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_failed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_passed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_started_event.py
  src/omnibase_core/models/events/contract_validation/model_validation_context.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/protocol_contract_validation_invariant_checker.py
  src/omnibase_core/protocols/validation/__init__.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/contract_validation_invariant_checker.py
  tests/unit/models/events/contract_validation/__init__.py
  tests/unit/models/events/contract_validation/conftest.py
  tests/unit/models/events/contract_validation/test_contract_validation_invariant_checker.py
  tests/unit/models/events/contract_validation/test_model_contract_ref.py
  tests/unit/models/events/contract_validation/test_model_contract_validation_events.py
  tests/unit/models/events/contract_validation/test_model_validation_context.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(models): add capability naming and resolution documentation (OMN-1152)
  docs/INDEX.md
  docs/architecture/CAPABILITY_RESOLUTION.md
  docs/conventions/CAPABILITY_NAMING.md
  src/omnibase_core/models/capabilities/model_capability_dependency.py
  src/omnibase_core/models/capabilities/model_requirement_set.py
  tests/unit/models/capabilities/test_model_requirement_set.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): address PR review feedback and CI linting issues
  tests/unit/models/contracts/test_model_capability_dependency.py
  tests/unit/models/contracts/test_model_execution_constraints.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

style: fix ruff formatting in test files
  tests/unit/models/events/contract_validation/test_contract_validation_invariant_checker.py
  tests/unit/models/events/contract_validation/test_model_contract_validation_events.py
  tests/unit/models/events/contract_validation/test_model_validation_context.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml
