Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(mixins): address PR review feedback for type safety (OMN-1178)
  src/omnibase_core/mixins/mixin_canonical_serialization.py
  src/omnibase_core/mixins/mixin_cli_handler.py
  src/omnibase_core/mixins/mixin_contract_state_reducer.py
  src/omnibase_core/mixins/mixin_discovery_responder.py
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/mixins/mixin_event_handler.py
  src/omnibase_core/mixins/mixin_event_listener.py
  src/omnibase_core/mixins/mixin_hash_computation.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/mixins/mixin_hybrid_execution.py
  src/omnibase_core/mixins/mixin_intent_publisher.py
  src/omnibase_core/mixins/mixin_introspection.py
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_node_lifecycle.py
  src/omnibase_core/mixins/mixin_node_service.py
  src/omnibase_core/mixins/mixin_request_response_introspection.py
  src/omnibase_core/mixins/mixin_service_registry.py
  src/omnibase_core/mixins/mixin_tool_execution.py
  src/omnibase_core/mixins/mixin_workflow_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): address PR #264 release-ready review feedback (round 2)
  src/omnibase_core/models/connections/model_connection_metrics.py
  src/omnibase_core/models/connections/model_connection_security.py
  src/omnibase_core/models/examples/model_typed_property.py
  src/omnibase_core/validation/architecture.py
  tests/unit/services/conftest.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(pipeline): rename Pipeline models to follow ONEX naming convention
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  scripts/validation/validate_naming.py
  src/omnibase_core/models/pipeline/__init__.py
  src/omnibase_core/models/pipeline/model_hook_error.py
  src/omnibase_core/models/pipeline/model_pipeline_context.py
  src/omnibase_core/models/pipeline/model_pipeline_result.py
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/manifest_observer.py
  src/omnibase_core/pipeline/runner_pipeline.py
  tests/integration/pipeline/test_pipeline_integration.py
  tests/unit/pipeline/test_registry_hook_performance.py
  tests/unit/pipeline/test_runner_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(backends): resolve all PR #301 review issues for release (OMN-1188)
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/backends/metrics/backend_metrics_prometheus.py
  src/omnibase_core/mixins/mixin_caching.py
  tests/unit/backends/cache/test_sanitize_redis_url.py
  tests/unit/backends/metrics/test_backend_metrics_prometheus.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style: fix ruff formatting for CI
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/backends/metrics/backend_metrics_prometheus.py
  tests/unit/backends/metrics/test_backend_metrics_prometheus.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): fix broken import and circular imports in test_service_capability_resolver
  src/omnibase_core/models/detection/__init__.py
  src/omnibase_core/models/detection/model_service_detection_config.py
  src/omnibase_core/models/health/model_health_attributes.py
  src/omnibase_core/models/services/__init__.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #302 review feedback - round 3
  src/omnibase_core/models/configuration/model_cli_config.py
  src/omnibase_core/models/configuration/model_git_hub_issues_event.py
  src/omnibase_core/models/configuration/model_job.py
  src/omnibase_core/models/configuration/model_output_config.py
  src/omnibase_core/models/configuration/model_rest_api_connection_config.py
  src/omnibase_core/models/configuration/validators_metadata.py
  src/omnibase_core/models/connections/model_custom_connection_properties.py
  src/omnibase_core/models/container/model_onex_container.py
  tests/unit/models/connections/test_model_custom_connection_properties.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): resolve ruff formatting and PR review issues (OMN-1178)
  src/omnibase_core/mixins/mixin_cli_handler.py
  src/omnibase_core/mixins/mixin_contract_state_reducer.py
  src/omnibase_core/mixins/mixin_event_handler.py
  src/omnibase_core/mixins/mixin_hybrid_execution.py
  src/omnibase_core/mixins/mixin_node_lifecycle.py
  src/omnibase_core/mixins/mixin_request_response_introspection.py
  src/omnibase_core/mixins/mixin_tool_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): resolve CI failures in test_service_capability_resolver (OMN-1166)
  src/omnibase_core/models/providers/model_provider_descriptor.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): resolve Pydantic forward reference and doc naming issues
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  src/omnibase_core/models/providers/model_provider_descriptor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): address PR #264 release-ready review feedback (round 3)
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/models/infrastructure/model_transaction.py
  src/omnibase_core/models/registration/model_dual_registration_outcome.py
  src/omnibase_core/models/registration/model_registration_payload.py
  src/omnibase_core/utils/compute_executor.py
  src/omnibase_core/validation/contracts.py
  tests/unit/services/conftest.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #302 review feedback - round 4
  src/omnibase_core/models/container/model_onex_container.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(backends): address PR #301 final review issues and CI failures
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/backends/metrics/__init__.py
  src/omnibase_core/backends/metrics/backend_metrics_prometheus.py
  tests/unit/api_snapshots/test_infrastructure_api_snapshot.py
  tests/unit/backends/metrics/test_backend_metrics_in_memory.py
  tests/unit/backends/metrics/test_backend_metrics_prometheus.py
  tests/unit/mixins/test_mixin_caching.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): address PR #304 review feedback and CI failures
  src/omnibase_core/enums/enum_handler_capability.py
  src/omnibase_core/enums/enum_handler_command_type.py
  src/omnibase_core/enums/enum_handler_role.py
  src/omnibase_core/enums/enum_handler_type_category.py
  src/omnibase_core/enums/enum_likelihood.py
  src/omnibase_core/models/core/model_configuration_base.py
  src/omnibase_core/models/core/model_contract_loader.py
  src/omnibase_core/models/core/model_generic_value.py
  src/omnibase_core/models/core/model_onex_internal_processing_context.py
  src/omnibase_core/models/core/model_parsed_arguments.py
  src/omnibase_core/models/event_bus/model_event_bus_output_state.py
  src/omnibase_core/models/health/__init__.py
  src/omnibase_core/models/health/model_health_attributes.py
  src/omnibase_core/models/health/model_health_check_config.py
  src/omnibase_core/models/health/model_health_check_metadata.py
  src/omnibase_core/models/services/model_custom_fields.py
  src/omnibase_core/schemas/handler_contract.schema.json
  src/omnibase_core/schemas/projector_contract.schema.json
  src/omnibase_core/types/type_serializable_value.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): correct import path and doc naming for PR #305
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix: skip tests with circular import in ModelProviderDescriptor (OMN-1126)
  tests/unit/services/registry/test_registry_provider.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): resolve CI failures in test_service_capability_resolver (OMN-1178)
  src/omnibase_core/models/providers/model_provider_descriptor.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(projectors): address PR review feedback (OMN-1166)
  src/omnibase_core/models/projectors/model_idempotency_config.py
  src/omnibase_core/models/projectors/model_projector_behavior.py
  src/omnibase_core/schemas/projector_contract.schema.json
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style: fix ruff formatting in test file
  tests/unit/models/connections/test_model_custom_connection_properties.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

style: fix ruff formatting for backend_cache_redis.py
  src/omnibase_core/backends/cache/backend_cache_redis.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): fix ruff N811 constant naming in api snapshot test
  tests/unit/api_snapshots/test_infrastructure_api_snapshot.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): align enum tests with AssertionError and regenerate schema
  src/omnibase_core/schemas/projector_contract.schema.json
  tests/unit/enums/test_enum_backend_type.py
  tests/unit/enums/test_enum_handler_capability.py
  tests/unit/enums/test_enum_handler_command_type.py
  tests/unit/enums/test_enum_handler_role.py
  tests/unit/enums/test_enum_handler_type_category.py
  tests/unit/enums/test_enum_likelihood.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(lint): remove unused import and sort imports (OMN-1166)
  src/omnibase_core/models/providers/model_provider_descriptor.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(pre-commit): run ruff on entire codebase, not just staged files
  .pre-commit-config.yaml
Due: validate-string-versions

fix(tests): remove unused ModelOnexError imports from enum tests
  tests/unit/enums/test_enum_backend_type.py
  tests/unit/enums/test_enum_handler_capability.py
  tests/unit/enums/test_enum_handler_command_type.py
  tests/unit/enums/test_enum_handler_role.py
  tests/unit/enums/test_enum_handler_type_category.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(ci): resolve all CI test failures for PR #305
  src/omnibase_core/schemas/projector_contract.schema.json
  tests/unit/enums/test_enum_handler_capability.py
  tests/unit/enums/test_enum_handler_command_type.py
  tests/unit/enums/test_enum_handler_role.py
  tests/unit/enums/test_enum_handler_type_category.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(types): fix CI failures and lazy import pattern for PR #304
  src/omnibase_core/enums/enum_backend_type.py
  src/omnibase_core/enums/enum_handler_capability.py
  src/omnibase_core/enums/enum_handler_command_type.py
  src/omnibase_core/enums/enum_handler_role.py
  src/omnibase_core/enums/enum_handler_type_category.py
  src/omnibase_core/enums/enum_likelihood.py
  src/omnibase_core/enums/enum_time_unit.py
  src/omnibase_core/models/registration/model_dual_registration_outcome.py
  src/omnibase_core/models/registration/model_registration_payload.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(backends): address remaining PR #301 review issues
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/backends/metrics/backend_metrics_prometheus.py
  tests/unit/mixins/test_mixin_caching.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: resolve CI failures and PR #289 review feedback (OMN-1126)
  docs/guides/CONTRACT_PATCHING_GUIDE.md
  src/omnibase_core/models/contracts/model_dependency.py
  src/omnibase_core/models/core/model_feature_flag_metadata.py
  src/omnibase_core/models/core/model_onex_field_data.py
  src/omnibase_core/models/core/model_tool_security_assessment.py
  src/omnibase_core/models/core/model_tool_security_summary.py
  src/omnibase_core/models/events/contract_validation/__init__.py
  src/omnibase_core/models/registration/model_dual_registration_outcome.py
  src/omnibase_core/models/registration/model_registration_payload.py
  src/omnibase_core/schemas/projector_contract.schema.json
  tests/unit/enums/test_enum_handler_capability.py
  tests/unit/enums/test_enum_handler_type_category.py
  tests/unit/models/events/contract_validation/test_model_contract_validation_events.py
  tests/unit/models/events/contract_validation/test_model_validation_context.py
  tests/unit/models/providers/test_model_provider_descriptor.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): revert enum tests to expect correct exception types (OMN-1178)
  src/omnibase_core/mixins/mixin_contract_state_reducer.py
  src/omnibase_core/mixins/mixin_hybrid_execution.py
  src/omnibase_core/mixins/mixin_tool_execution.py
  src/omnibase_core/models/providers/model_provider_descriptor.py
  tests/unit/enums/test_enum_handler_capability.py
  tests/unit/enums/test_enum_handler_command_type.py
  tests/unit/enums/test_enum_handler_role.py
  tests/unit/enums/test_enum_handler_type_category.py
  tests/unit/enums/test_enum_likelihood.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): resolve 20 CI test failures for PR #305
  src/omnibase_core/models/registration/model_dual_registration_outcome.py
  src/omnibase_core/models/registration/model_registration_payload.py
  tests/unit/enums/test_enum_likelihood.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: update import path for ModelToolSecuritySummary (OMN-1126)
  src/omnibase_core/models/core/model_tool_security.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): align enum tests with actual exception types
  tests/unit/enums/test_enum_backend_type.py
  tests/unit/enums/test_enum_likelihood.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): resolve CI failures and address PR review feedback (OMN-1166)
  src/omnibase_core/enums/enum_likelihood.py
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/models/projectors/model_projector_behavior.py
  src/omnibase_core/models/projectors/model_projector_contract.py
  src/omnibase_core/models/providers/model_provider_descriptor.py
  src/omnibase_core/schemas/projector_contract.schema.json
  tests/unit/enums/test_enum_handler_capability.py
  tests/unit/enums/test_enum_handler_command_type.py
  tests/unit/enums/test_enum_handler_role.py
  tests/unit/enums/test_enum_handler_type_category.py
  tests/unit/models/projectors/test_model_projector_contract.py
  tests/unit/models/registration/test_registration_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): replace type: ignore with cast() and improve docstrings
  src/omnibase_core/models/core/model_argument_map.py
  src/omnibase_core/models/core/model_custom_fields_accessor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(lint): remove TypeAlias annotation to fix ruff UP040 (OMN-1178)
  src/omnibase_core/models/providers/model_provider_descriptor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(types): convert Optional[T] to T | None (PEP 604) (OMN-1186) (#305)
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  scripts/validation/validate_naming.py
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/models/core/model_optional_string.py
  src/omnibase_core/models/core/model_result_cli.py
  src/omnibase_core/models/pipeline/__init__.py
  src/omnibase_core/models/pipeline/model_hook_error.py
  src/omnibase_core/models/pipeline/model_pipeline_context.py
  src/omnibase_core/models/pipeline/model_pipeline_result.py
  src/omnibase_core/models/providers/model_provider_descriptor.py
  src/omnibase_core/models/registration/model_dual_registration_outcome.py
  src/omnibase_core/models/registration/model_registration_payload.py
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/manifest_observer.py
  src/omnibase_core/pipeline/runner_pipeline.py
  src/omnibase_core/schemas/projector_contract.schema.json
  tests/integration/pipeline/test_pipeline_integration.py
  tests/unit/enums/test_enum_handler_capability.py
  tests/unit/enums/test_enum_handler_command_type.py
  tests/unit/enums/test_enum_handler_role.py
  tests/unit/enums/test_enum_handler_type_category.py
  tests/unit/enums/test_enum_likelihood.py
  tests/unit/pipeline/test_registry_hook_performance.py
  tests/unit/pipeline/test_runner_pipeline.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): resolve Pydantic forward reference errors in CI tests
  src/omnibase_core/models/health/__init__.py
  src/omnibase_core/models/health/model_health_status.py
  src/omnibase_core/models/providers/__init__.py
  tests/unit/services/conftest.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(naming): rename pipeline models to follow ONEX conventions (OMN-1166)
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  scripts/validation/validate_naming.py
  src/omnibase_core/models/pipeline/__init__.py
  src/omnibase_core/models/pipeline/model_hook_error.py
  src/omnibase_core/models/pipeline/model_pipeline_context.py
  src/omnibase_core/models/pipeline/model_pipeline_result.py
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/manifest_observer.py
  src/omnibase_core/pipeline/runner_pipeline.py
  tests/integration/pipeline/test_pipeline_integration.py
  tests/unit/pipeline/test_registry_hook_performance.py
  tests/unit/pipeline/test_runner_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
