Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

ci(OMN-17427): the caller-evidence job derives the writer app's pin-only exemption at the head (#1911)
  .github/workflows/receipt-gate.yml
  contracts/OMN-17427.yaml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
  tests/ci/test_receipt_gate_writer_pin_only_in_job_omn17427.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20074): default COMPARE_WITH_OCC in the head step; yamlfmt
  .github/workflows/receipt-gate.yml
  contracts/OMN-20074.yaml
Due: validate-string-versions

ci(OMN-20074): name a missing head contract's home for the difference (#1912)
  .github/workflows/receipt-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_receipt_gate_contract_home_omn20074.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-20074): re-pin the Repo Evidence Gate caller to #1912 and omnimarket 0.4.305
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

style(OMN-20074): yamlfmt re-wraps the AC3 statement in the contract
  contracts/OMN-20074.yaml
Due: validate-string-versions

ci(OMN-20074): re-pin the Repo Evidence Gate caller to #1912 and omnimarket 0.4.305 (#1913)
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17864): bound CI Summary recovery polling
  .github/workflows/ci.yml
  tests/ci/test_ci_summary_l4_wait_omn20522.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-19615): balance test shards from committed durations
  .github/workflows/ci.yml
  config/test_durations.json
  config/test_durations_provenance.json
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-19615): add contracts/OMN-19615.yaml
  contracts/OMN-19615.yaml
Due: validate-string-versions

fix(OMN-17864): bind CI Summary recovery evidence at the PR head
  contracts/OMN-17864.yaml
  tests/ci/test_ci_summary_l4_wait_omn20522.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-20074): exempt the OCC writer app's release cut in dod-verify, derived at the head
  .github/workflows/receipt-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
  tests/ci/test_receipt_gate_writer_pin_only_in_job_omn17427.py
  tests/ci/test_receipt_gate_writer_release_cut_omn20074.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-19615): scope dod-verify to new workflow-shape tests
  contracts/OMN-19615.yaml
Due: validate-string-versions

fix(OMN-17864): bound CI Summary recovery polling (#1915)
  .github/workflows/ci.yml
  contracts/OMN-17864.yaml
  tests/ci/test_ci_summary_l4_wait_omn20522.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-20074): exempt the OCC writer app's release cut in dod-verify, derived at the head (#1914)
  .github/workflows/receipt-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
  tests/ci/test_receipt_gate_writer_pin_only_in_job_omn17427.py
  tests/ci/test_receipt_gate_writer_release_cut_omn20074.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-19615): bind AC1 to dod_evidence in contracts/OMN-19615.yaml
  contracts/OMN-19615.yaml
Due: validate-string-versions

ci(OMN-19615): balance test shards from committed durations (#1916)
  .github/workflows/ci.yml
  config/test_durations.json
  config/test_durations_provenance.json
  contracts/OMN-19615.yaml
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-20287): admit harness backends without endpoint URLs
  src/omnibase_core/validation/checker_routing_authority.py
  tests/validation/test_validator_routing_authority.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-20287): add contracts/OMN-20287.yaml to omnibase_core
  contracts/OMN-20287.yaml
Due: validate-string-versions

feat(OMN-20287): routing-authority audit admits declared harness backends (#1917)
  contracts/OMN-20287.yaml
  src/omnibase_core/validation/checker_routing_authority.py
  tests/validation/test_validator_routing_authority.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

perf(OMN-17427): lazy-load mixins, models.core, models.security inits
  src/omnibase_core/mixins/__init__.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/security/__init__.py
  tests/unit/runtime/test_runtime_local_import_footprint.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18996): reject quality-rule evidence without a final response
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  tests/unit/models/delegation/wire/test_omn18928_terminal_outcome_content.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-20074): re-pin core's repo evidence caller to omnibase_core#1914's receipt-gate
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18712): validate complete contract documents
  src/omnibase_core/models/core/model_contract_content.py
  src/omnibase_core/utils/util_contract_loader.py
  tests/unit/utils/test_util_contract_loader_part1.py
  tests/unit/utils/test_util_contract_loader_part2.py
  tests/unit/utils/test_util_contract_loader_validation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18996): bump version to 0.47.37 to pass release identity gate
  pyproject.toml
  uv.lock
Due: none

ci(OMN-19612): parallelize detect-secrets-hook with xargs -P
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  contracts/OMN-19612.yaml
  tests/unit/validation/test_ci_workflow_shape.py
  tests/unit/validation/test_detect_secrets_parallel_omn19612.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18996): add AC2 and evidence binding for no-response quality
  contracts/OMN-18996.yaml
Due: validate-string-versions

ci(OMN-19612): keep the bypass-token blocklist clean in the contract text
  contracts/OMN-19612.yaml
Due: validate-string-versions

fix(OMN-18996): reject quality-rule evidence without a final response (#1919)
  contracts/OMN-18996.yaml
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  tests/unit/models/delegation/wire/test_omn18928_terminal_outcome_content.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18712): validate complete contract documents (#1920)
  src/omnibase_core/models/core/model_contract_content.py
  src/omnibase_core/utils/util_contract_loader.py
  tests/unit/utils/test_util_contract_loader_part1.py
  tests/unit/utils/test_util_contract_loader_part2.py
  tests/unit/utils/test_util_contract_loader_validation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-19612): parallelize detect-secrets-hook with xargs -P (#1922)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  contracts/OMN-19612.yaml
  tests/unit/validation/test_ci_workflow_shape.py
  tests/unit/validation/test_detect_secrets_parallel_omn19612.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-20074): rename caller pin test to writer release cut
  tests/ci/test_repo_evidence_caller_omn20074.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-20702): activate node-home ratchet in omnibase_core
  .github/workflows/ci.yml
  .onex_ratchets/node_home_baseline.txt
  .pre-commit-config.yaml
Due: validate-string-versions

test(OMN-20074): handle published tags in repository parity smoke
  tests/unit/nodes/node_release_identity_check_compute/test_parity_release_identity_golden.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-20702): Bump omnibase_core version to 0.47.38
  pyproject.toml
  uv.lock
Due: none

ci(OMN-20074): re-pin core's repo evidence caller to omnibase_core#1914's receipt-gate (#1921)
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_repo_evidence_caller_omn20074.py
  tests/unit/nodes/node_release_identity_check_compute/test_parity_release_identity_golden.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18338): resolve gate binding from merged companions
  .github/workflows/receipt-gate.yml
  scripts/ci/check_occ_companion_merged.py
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_companion_side_binding_omn18338.py
  tests/ci/test_occ_preflight_wait_body_unresolved.py
  tests/ci/test_occ_preflight_wait_cli_no_companion_required_omn18882.py
  tests/ci/test_occ_preflight_wait_durable_tip_omn19398.py
  tests/ci/test_occ_preflight_wait_no_companion_race_omn19164.py
  tests/ci/test_occ_preflight_wait_sha_ancestry_unresolved.py
  tests/unit/scripts/ci/test_check_occ_companion_merged.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18338): bind PR 1926 companion-resolution evidence
  contracts/OMN-18338.yaml
Due: validate-string-versions
