Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(OMN-11083): drive hook default mask from contract (#1087)
  scripts/check_hook_bits_drift.py
  scripts/gen_hook_bits.py
  src/omnibase_core/enums/enum_hook_bit.py
  src/omnibase_core/models/contracts/subcontracts/model_package_hook_activations.py
  tests/enums/test_hook_bit_contract_mask.py
  tests/unit/models/contracts/test_model_package_hook_activations.py
  tests/unit/scripts/test_gen_hook_bits.py
  tests/unit/test_enum_hook_bit.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11137): add OmniGate config model
  src/omnibase_core/enums/enum_omnigate.py
  src/omnibase_core/models/gate/__init__.py
  src/omnibase_core/models/gate/model_omnigate_check.py
  src/omnibase_core/models/gate/model_omnigate_config.py
  src/omnibase_core/models/gate/model_omnigate_gate_decision.py
  src/omnibase_core/models/gate/model_omnigate_gate_policy.py
  src/omnibase_core/models/gate/model_omnigate_identity_policy.py
  src/omnibase_core/models/gate/model_omnigate_receipt_policy.py
  src/omnibase_core/models/gate/model_omnigate_validator_ref.py
  tests/unit/models/gate/test_model_omnigate_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11138): add OmniGate receipt model
  src/omnibase_core/gate/__init__.py
  src/omnibase_core/gate/receipt_canonical.py
  src/omnibase_core/models/gate/__init__.py
  src/omnibase_core/models/gate/model_omnigate_check_result.py
  src/omnibase_core/models/gate/model_omnigate_receipt.py
  tests/unit/models/gate/test_model_omnigate_receipt.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11139): add OmniGate config loader
  src/omnibase_core/gate/__init__.py
  src/omnibase_core/gate/config_loader.py
  tests/unit/gate/test_config_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11140): add OmniGate diff hashing
  src/omnibase_core/gate/__init__.py
  src/omnibase_core/gate/diff_hash.py
  tests/unit/gate/test_diff_hash.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(gate): add omnigate cli surface
  pyproject.toml
  src/omnibase_core/cli/cli_gate.py
  tests/unit/cli/test_cli_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11132): configurable aislop validators with per-repo YAML overrides
  .onex/aislop-rules.yaml
  .yaml-validation-allowlist.yaml
  pyproject.toml
  scripts/validation/check_ai_slop.py
  src/omnibase_core/contracts/aislop_default_rules.yaml
  src/omnibase_core/models/validation/__init__.py
  src/omnibase_core/models/validation/model_aislop_config.py
  src/omnibase_core/models/validation/model_aislop_rule.py
  src/omnibase_core/models/validation/model_aislop_rule_override.py
  src/omnibase_core/models/validation/model_aislop_rule_set.py
  src/omnibase_core/validation/aislop_rule_loader.py
  tests/unit/models/validation/test_model_aislop_rule.py
  tests/unit/scripts/test_check_ai_slop_parity.py
  tests/unit/validation/test_aislop_rule_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11186): add pre-commit + CI validator blocking new os.environ/os.getenv additions
  .github/workflows/omni-standards-compliance.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  scripts/validation/validate_no_new_env_vars.py
  tests/unit/validation/test_validate_no_new_env_vars.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-11186): reduce env validator complexity
  .github/workflows/omni-standards-compliance.yml
  scripts/validation/validate_no_new_env_vars.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-11189): add EnumDataProvenance, EnumDegradedBehavior, EnumDoctrineCoverage
  src/omnibase_core/enums/enum_data_provenance.py
  src/omnibase_core/enums/enum_degraded_behavior.py
  src/omnibase_core/enums/enum_doctrine_coverage.py
  tests/unit/enums/test_enum_data_provenance.py
  tests/unit/enums/test_enum_degraded_behavior.py
  tests/unit/enums/test_enum_doctrine_coverage.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11190): add ModelRuntimeManifest with ownership semantics
  src/omnibase_core/models/runtime_manifest/__init__.py
  src/omnibase_core/models/runtime_manifest/model_manifest_contract.py
  src/omnibase_core/models/runtime_manifest/model_manifest_handler.py
  src/omnibase_core/models/runtime_manifest/model_ownership_violation.py
  src/omnibase_core/models/runtime_manifest/model_runtime_manifest.py
  tests/unit/models/runtime_manifest/__init__.py
  tests/unit/models/runtime_manifest/test_model_runtime_manifest.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11191): add standard evidence bundle models
  src/omnibase_core/models/evidence_bundle/__init__.py
  src/omnibase_core/models/evidence_bundle/model_artifact_entry.py
  src/omnibase_core/models/evidence_bundle/model_artifact_manifest.py
  src/omnibase_core/models/evidence_bundle/model_contract_snapshot.py
  src/omnibase_core/models/evidence_bundle/model_evidence_verifier_result.py
  src/omnibase_core/models/evidence_bundle/model_standard_evidence_bundle.py
  src/omnibase_core/models/evidence_bundle/model_standard_run_manifest.py
  tests/unit/models/evidence_bundle/__init__.py
  tests/unit/models/evidence_bundle/test_standard_evidence_bundle.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11193): add ModelDoctrineClause, ModelGatewayRouteBinding, projection health events
  src/omnibase_core/models/events/model_projection_degraded_event.py
  src/omnibase_core/models/events/model_projection_recovered_event.py
  src/omnibase_core/models/gateway/__init__.py
  src/omnibase_core/models/gateway/model_gateway_route_binding.py
  src/omnibase_core/models/governance/model_doctrine_clause.py
  tests/unit/models/events/test_projection_health_events.py
  tests/unit/models/gateway/__init__.py
  tests/unit/models/gateway/test_model_gateway_route_binding.py
  tests/unit/models/governance/test_model_doctrine_clause.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11194): register runtime manifest and projection health topics
  src/omnibase_core/topics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11189): add EnumDataProvenance, EnumDegradedBehavior, EnumDoctrineCoverage (#1097)
  src/omnibase_core/enums/enum_data_provenance.py
  src/omnibase_core/enums/enum_degraded_behavior.py
  src/omnibase_core/enums/enum_doctrine_coverage.py
  tests/unit/enums/test_enum_data_provenance.py
  tests/unit/enums/test_enum_degraded_behavior.py
  tests/unit/enums/test_enum_doctrine_coverage.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11186): add pre-commit + CI validator blocking new os.environ/os.getenv additions (#1096)
  .github/workflows/omni-standards-compliance.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  scripts/validation/validate_no_new_env_vars.py
  tests/unit/validation/test_validate_no_new_env_vars.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-11138): add OmniGate receipt model (#1090)
  src/omnibase_core/gate/__init__.py
  src/omnibase_core/gate/receipt_canonical.py
  src/omnibase_core/models/gate/__init__.py
  src/omnibase_core/models/gate/model_omnigate_check_result.py
  src/omnibase_core/models/gate/model_omnigate_receipt.py
  tests/unit/models/gate/test_model_omnigate_receipt.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11194): register runtime manifest and projection health topics (#1102)
  src/omnibase_core/topics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11209): update scaffold templates with doctrine compliance fields
  src/omnibase_core/cli/cli_new.py
  src/omnibase_core/cli/templates/channel_adapter/contract.yaml.j2
  src/omnibase_core/cli/templates/ported_skill/contract.yaml.j2
  src/omnibase_core/cli/templates/projection/__init__.py.j2
  src/omnibase_core/cli/templates/projection/contract.yaml.j2
  src/omnibase_core/cli/templates/projection/handler_projection.py.j2
  tests/unit/cli/test_cli_new.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-11137): add gate module to test selection adjacency
  scripts/ci/test_selection_adjacency.yaml
Due: validate-string-versions

test(OMN-11137): add NOTE comment on frozen-model assignment type-ignore
  tests/unit/models/gate/test_model_omnigate_config.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-11139): suppress SonarCloud S5443 false positive on /tmp test input
  tests/unit/gate/test_config_loader.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-11141): add OmniGate CLI surface (#1092)
  pyproject.toml
  src/omnibase_core/cli/cli_gate.py
  src/omnibase_core/gate/__init__.py
  src/omnibase_core/gate/diff_hash.py
  tests/unit/cli/test_cli_gate.py
  tests/unit/gate/test_diff_hash.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-11132): use escaped whitespace in boilerplate_docstring regex
  src/omnibase_core/contracts/aislop_default_rules.yaml
Due: validate-string-versions

fix(OMN-11193): CR threads + secret allowlist + float-equality fix
  tests/unit/models/events/test_projection_health_events.py
  tests/unit/models/gateway/test_model_gateway_route_binding.py
  tests/unit/models/governance/test_model_doctrine_clause.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-11209): address CodeRabbit feedback on scaffold templates
  src/omnibase_core/cli/cli_new.py
  src/omnibase_core/cli/templates/projection/contract.yaml.j2
  src/omnibase_core/cli/templates/projection/handler_projection.py.j2
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-11139): refactor absolute-path test to suppress SonarCloud S5443
  tests/unit/gate/test_config_loader.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-11191): add standard evidence bundle models (#1099)
  src/omnibase_core/models/evidence_bundle/__init__.py
  src/omnibase_core/models/evidence_bundle/model_artifact_entry.py
  src/omnibase_core/models/evidence_bundle/model_artifact_manifest.py
  src/omnibase_core/models/evidence_bundle/model_contract_snapshot.py
  src/omnibase_core/models/evidence_bundle/model_evidence_verifier_result.py
  src/omnibase_core/models/evidence_bundle/model_standard_evidence_bundle.py
  src/omnibase_core/models/evidence_bundle/model_standard_run_manifest.py
  tests/unit/models/evidence_bundle/__init__.py
  tests/unit/models/evidence_bundle/test_standard_evidence_bundle.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11190): add ModelRuntimeManifest with ownership semantics (#1098)
  src/omnibase_core/models/runtime_manifest/__init__.py
  src/omnibase_core/models/runtime_manifest/model_manifest_contract.py
  src/omnibase_core/models/runtime_manifest/model_manifest_handler.py
  src/omnibase_core/models/runtime_manifest/model_ownership_violation.py
  src/omnibase_core/models/runtime_manifest/model_runtime_manifest.py
  tests/unit/models/runtime_manifest/__init__.py
  tests/unit/models/runtime_manifest/test_model_runtime_manifest.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11137): add OmniGate config model (#1088)
  scripts/ci/test_selection_adjacency.yaml
  src/omnibase_core/enums/enum_omnigate.py
  src/omnibase_core/gate/__init__.py
  src/omnibase_core/gate/receipt_canonical.py
  src/omnibase_core/models/gate/__init__.py
  src/omnibase_core/models/gate/model_omnigate_check.py
  src/omnibase_core/models/gate/model_omnigate_check_result.py
  src/omnibase_core/models/gate/model_omnigate_config.py
  src/omnibase_core/models/gate/model_omnigate_gate_decision.py
  src/omnibase_core/models/gate/model_omnigate_gate_policy.py
  src/omnibase_core/models/gate/model_omnigate_identity_policy.py
  src/omnibase_core/models/gate/model_omnigate_receipt.py
  src/omnibase_core/models/gate/model_omnigate_receipt_policy.py
  src/omnibase_core/models/gate/model_omnigate_validator_ref.py
  tests/unit/models/gate/test_model_omnigate_config.py
  tests/unit/models/gate/test_model_omnigate_receipt.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
