Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

docs(OMN-16581): close Wave-3 audit residuals A+B — Makefile test.yml rename leftover + stale omnidash handshake template (#1600)
  Makefile
  architecture-handshakes/repos/omnidash.md
Due: none

fix(OMN-16297): replace the flaky sub-ms dispersion assertion with the file's own absolute budget idiom
  tests/unit/resolution/test_execution_resolver_performance.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16297): replace the flaky sub-ms dispersion assertion with the file's own absolute budget idiom (#1602)
  tests/unit/resolution/test_execution_resolver_performance.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-16677): expose the tier-0 local runtime harness as `onex run` (#1603)
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_run.py
  src/omnibase_core/cli/cli_run_node.py
  src/omnibase_core/runtime/harness/harness_cli.py
  tests/unit/cli/test_cli_run_harness.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16037): satisfy release and secret gates
  pyproject.toml
  tests/unit/cli/test_cli_user_config.py
  uv.lock
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16037): CI remediation — empty section headers, frozen config models, secrets pragma, release-identity bump
  pyproject.toml
  src/omnibase_core/cli/cli_user_config.py
  src/omnibase_core/models/cli/model_cli_user_config.py
  src/omnibase_core/models/cli/model_cli_user_config_credentials.py
  src/omnibase_core/models/cli/model_cli_user_config_kafka.py
  src/omnibase_core/models/cli/model_cli_user_config_logging.py
  src/omnibase_core/models/cli/model_cli_user_config_paths.py
  tests/unit/cli/test_cli_user_config.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13902): align receipt gate commit arguments
  .github/workflows/receipt-gate.yml
  tests/unit/validation/test_receipt_gate_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16037): pin kb doc gate to validator-ref repair
  .github/workflows/kb-doc-gate.yml
Due: validate-string-versions

fix(OMN-16507): retry Enable Auto-Merge with --squash when no queue is active (#1606)
  .github/workflows/auto-merge.yml
  tests/unit/validation/test_auto_merge_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-13902): pass commits into receipt gate workflow (#1605)
  .github/workflows/receipt-gate.yml
  tests/unit/validation/test_receipt_gate_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16037): unify ~/.onex/config.yaml schema across all CLI writers (#1604)
  .github/actions/deploy-gate/action.yml
  .github/workflows/kb-doc-gate.yml
  .yaml-validation-allowlist.yaml
  pyproject.toml
  src/omnibase_core/cli/cli_bootstrap.py
  src/omnibase_core/cli/cli_config.py
  src/omnibase_core/cli/cli_init.py
  src/omnibase_core/cli/cli_refresh_credentials.py
  src/omnibase_core/cli/cli_user_config.py
  src/omnibase_core/enums/enum_user_config_mode.py
  src/omnibase_core/models/cli/model_cli_user_config.py
  src/omnibase_core/models/cli/model_cli_user_config_credentials.py
  src/omnibase_core/models/cli/model_cli_user_config_kafka.py
  src/omnibase_core/models/cli/model_cli_user_config_logging.py
  src/omnibase_core/models/cli/model_cli_user_config_paths.py
  src/omnibase_core/nodes/node_no_direct_kafka_producer_check_compute/contract.yaml
  src/omnibase_core/nodes/node_no_env_fallbacks_check_compute/contract.yaml
  src/omnibase_core/nodes/node_no_hardcoded_ip_check_compute/contract.yaml
  src/omnibase_core/nodes/node_no_io_outside_effects_check_compute/contract.yaml
  src/omnibase_core/nodes/node_no_raw_sqlite3_check_compute/contract.yaml
  tests/unit/cli/test_cli_standalone.py
  tests/unit/cli/test_cli_user_config.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16680): onex validate could never exit 0 — ctx.exit swallowed by catch-all
  src/omnibase_core/cli/cli_commands.py
  tests/unit/cli/test_commands.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16680): stop flagging `handle` as a generic function name
  src/omnibase_core/validation/checker_generic_pattern.py
  tests/unit/validation/test_patterns.py
  tests/unit/validation/test_patterns_extended.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16680): make the `onex new node` scaffold pass `onex validate`
  src/omnibase_core/cli/cli_new.py
  tests/unit/cli/test_cli_new.py
  tests/unit/cli/test_cli_new_scaffold_runnable.py
  tests/unit/cli/test_cli_scaffold_validates_clean.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16680): make a freshly scaffolded ONEX project pass `onex validate` (#1607)
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_new.py
  src/omnibase_core/validation/checker_generic_pattern.py
  tests/unit/cli/test_cli_new.py
  tests/unit/cli/test_cli_new_scaffold_runnable.py
  tests/unit/cli/test_cli_scaffold_validates_clean.py
  tests/unit/cli/test_commands.py
  tests/unit/validation/test_patterns.py
  tests/unit/validation/test_patterns_extended.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-15989): make .onex_state disposable-by-default with two named durable subtrees
  .gitignore
  tests/validation/test_onex_state_disposable_gitignore.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-16882): theme instances + theme catalog — give a design-token value somewhere to live
  scripts/emit_ts_types.py
  src/omnibase_core/contracts/themes/onex.theme.dark/1.0.0.yaml
  src/omnibase_core/contracts/themes/onex.theme.light/1.0.0.yaml
  src/omnibase_core/contracts/themes/onex.theme.warm/1.0.0.yaml
  src/omnibase_core/models/dashboard/__init__.py
  src/omnibase_core/models/dashboard/model_theme_activation.py
  src/omnibase_core/models/dashboard/model_theme_catalog.py
  src/omnibase_core/models/dashboard/model_theme_catalog_entry.py
  src/omnibase_core/models/dashboard/model_theme_instance.py
  src/omnibase_core/utils/util_theme_catalog.py
  tests/unit/models/dashboard/test_dashboard_imports.py
  tests/unit/models/dashboard/test_theme_catalog.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-16831): the transport envelope carries the tenant dimension
  src/omnibase_core/models/events/model_event_envelope.py
  src/omnibase_core/validators/extra_forbid_baseline.yaml
  tests/unit/models/events/test_model_event_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-16883): one versioned widget envelope — the unit Plane 1 distributes
  scripts/emit_ts_types.py
  src/omnibase_core/models/dashboard/__init__.py
  src/omnibase_core/models/dashboard/model_widget_envelope.py
  src/omnibase_core/models/dashboard/model_widget_provenance.py
  src/omnibase_core/utils/util_widget_envelope.py
  tests/unit/models/dashboard/test_dashboard_imports.py
  tests/unit/models/dashboard/test_widget_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-15989): make .onex_state disposable-by-default with two named durable subtrees (#1609)
  .gitignore
  tests/validation/test_onex_state_disposable_gitignore.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-16882): theme instances + theme catalog — give a design-token value somewhere to live (#1608)
  scripts/emit_ts_types.py
  src/omnibase_core/contracts/themes/onex.theme.dark/1.0.0.yaml
  src/omnibase_core/contracts/themes/onex.theme.light/1.0.0.yaml
  src/omnibase_core/contracts/themes/onex.theme.warm/1.0.0.yaml
  src/omnibase_core/models/dashboard/__init__.py
  src/omnibase_core/models/dashboard/model_theme_activation.py
  src/omnibase_core/models/dashboard/model_theme_catalog.py
  src/omnibase_core/models/dashboard/model_theme_catalog_entry.py
  src/omnibase_core/models/dashboard/model_theme_instance.py
  src/omnibase_core/utils/util_theme_catalog.py
  tests/unit/models/dashboard/test_dashboard_imports.py
  tests/unit/models/dashboard/test_theme_catalog.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16883): harden widget schema emission
  scripts/emit_ts_types.py
  src/omnibase_core/models/dashboard/model_widget_provenance.py
  tests/unit/models/dashboard/test_widget_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-16884): semantic severity for StatusGrid — remove hex defaults, resolve colour through the theme
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_status_secondary_kind.py
  src/omnibase_core/enums/enum_status_severity.py
  src/omnibase_core/models/dashboard/__init__.py
  src/omnibase_core/models/dashboard/model_severity_role.py
  src/omnibase_core/models/dashboard/model_severity_verdict.py
  src/omnibase_core/models/dashboard/model_status_item_config.py
  src/omnibase_core/models/dashboard/model_status_secondary.py
  src/omnibase_core/models/dashboard/model_widget_config_status_grid.py
  src/omnibase_core/utils/util_hex_color.py
  tests/unit/models/dashboard/test_dashboard_imports.py
  tests/unit/models/dashboard/test_model_validations.py
  tests/unit/models/dashboard/test_status_grid_severity.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-16883): use low-entropy widget revision fixture
  tests/unit/models/dashboard/test_widget_envelope.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16831): preserve tenant id in lazy envelope dict
  src/omnibase_core/models/events/model_event_envelope.py
  src/omnibase_core/types/typed_dict_event_envelope.py
  tests/unit/models/events/test_model_event_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-16914): add omninode_infra to the omnibase_core dependency-cascade downstream matrix
  .github/workflows/dependency-cascade.yml
Due: validate-string-versions

feat(OMN-16883): one versioned widget envelope — the unit Plane 1 distributes (#1610)
  scripts/emit_ts_types.py
  src/omnibase_core/models/dashboard/__init__.py
  src/omnibase_core/models/dashboard/model_widget_envelope.py
  src/omnibase_core/models/dashboard/model_widget_provenance.py
  src/omnibase_core/utils/util_widget_envelope.py
  tests/unit/models/dashboard/test_dashboard_imports.py
  tests/unit/models/dashboard/test_widget_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-16831): the transport envelope carries the tenant dimension (#1611)
  src/omnibase_core/models/events/model_event_envelope.py
  src/omnibase_core/types/typed_dict_event_envelope.py
  src/omnibase_core/validators/extra_forbid_baseline.yaml
  tests/unit/models/events/test_model_event_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16884): close status grid review findings
  src/omnibase_core/models/dashboard/model_severity_role.py
  src/omnibase_core/models/dashboard/model_severity_verdict.py
  src/omnibase_core/models/dashboard/model_status_secondary.py
  src/omnibase_core/models/dashboard/model_widget_config_status_grid.py
  tests/unit/models/dashboard/test_status_grid_severity.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16917): classify the CI-contract proof for .github diffs in core's own selector
  scripts/ci/detect_test_paths.py
  scripts/ci/test_selection_adjacency.yaml
  scripts/hooks/prepush_smart_tests.sh
  tests/unit/nodes/node_test_selector_compute/test_node_test_selector_compute.py
  tests/unit/scripts/ci/test_detect_test_paths.py
  tests/unit/scripts/ci/test_detect_test_paths_ci_contract_omn16917.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-16884): semantic severity for StatusGrid — remove hex defaults, resolve colour through the theme (#1612)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_status_secondary_kind.py
  src/omnibase_core/enums/enum_status_severity.py
  src/omnibase_core/models/dashboard/__init__.py
  src/omnibase_core/models/dashboard/model_severity_role.py
  src/omnibase_core/models/dashboard/model_severity_verdict.py
  src/omnibase_core/models/dashboard/model_status_item_config.py
  src/omnibase_core/models/dashboard/model_status_secondary.py
  src/omnibase_core/models/dashboard/model_widget_config_status_grid.py
  src/omnibase_core/utils/util_hex_color.py
  tests/unit/models/dashboard/test_dashboard_imports.py
  tests/unit/models/dashboard/test_model_validations.py
  tests/unit/models/dashboard/test_status_grid_severity.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-16914): add omninode_infra to the omnibase_core dependency-cascade downstream matrix (#1613)
  .github/workflows/dependency-cascade.yml
Due: validate-string-versions

chore(OMN-16831): bump omnibase_core 0.46.14 -> 0.47.0 and cut the release the fleet re-pin is gated on
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(OMN-16917): classify the CI-contract proof for .github diffs in core's own selector (#1614)
  scripts/ci/detect_test_paths.py
  scripts/ci/test_selection_adjacency.yaml
  scripts/hooks/prepush_smart_tests.sh
  tests/unit/nodes/node_test_selector_compute/test_node_test_selector_compute.py
  tests/unit/scripts/ci/test_detect_test_paths.py
  tests/unit/scripts/ci/test_detect_test_paths_ci_contract_omn16917.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16917): count every configured test filename pattern when sizing splits
  scripts/ci/detect_test_paths.py
  tests/unit/scripts/ci/test_detect_test_paths_ci_contract_omn16917.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-16831): bump omnibase_core 0.46.14 -> 0.47.0 and cut the release the fleet re-pin is gated on (#1615)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs(OMN-16927): the v0.47.0 notes called #1611 additive; its extra="forbid" half is breaking
  CHANGELOG.md
Due: none

fix(OMN-16917): count every configured test filename pattern when sizing splits (#1616)
  scripts/ci/detect_test_paths.py
  tests/unit/scripts/ci/test_detect_test_paths_ci_contract_omn16917.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16625): gate quality-gate's non-spec-required leaves on docs_only
  .github/required-checks.yaml
  .github/workflows/ci.yml
  tests/unit/validation/test_ci_workflow_shape.py
  tests/unit/validation/test_draft_state_admission_gate_omn16215.py
  tests/unit/validation/test_quality_gate_docs_only_short_circuit_omn16625.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(OMN-16927): the v0.47.0 notes called #1611 additive; its extra="forbid" half is breaking (#1617)
  CHANGELOG.md
Due: none
