Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

feat(OMN-20702): add the node-home ratchet that refuses new ONEX nodes outside omnimarket
  .github/workflows/ci.yml
  .onex_ratchets/node_home_baseline.txt
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  src/omnibase_core/handlers/handler_node_home_ratchet.py
  src/omnibase_core/models/validation/__init__.py
  src/omnibase_core/models/validation/model_node_home_ratchet_finding.py
  src/omnibase_core/models/validation/model_node_home_ratchet_request.py
  src/omnibase_core/models/validation/model_node_home_ratchet_result.py
  src/omnibase_core/validators/canonical_file_shape.py
  tests/unit/handlers/test_handler_node_home_ratchet.py
  tests/unit/validators/test_canonical_file_shape.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(OMN-20702): move node-home check to canonical COMPUTE node
  .github/workflows/ci.yml
  .onex_ratchets/node_home_baseline.txt
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  src/omnibase_core/nodes/node_node_home_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_node_home_check_compute/__init__.py
  src/omnibase_core/nodes/node_node_home_check_compute/contract.yaml
  src/omnibase_core/nodes/node_node_home_check_compute/handler.py
  src/omnibase_core/nodes/node_node_home_check_compute/runtime_node_home_check.py
  src/omnibase_core/validators/canonical_file_shape.py
  tests/unit/nodes/node_node_home_check_compute/__init__.py
  tests/unit/nodes/node_node_home_check_compute/test_node_home_check.py
  tests/unit/validators/test_canonical_file_shape.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18996): reject blank usable delegation content
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  tests/unit/models/delegation/wire/test_omn18928_terminal_outcome_content.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20703): apply hostile Codex review of node-boundary gate
  .pre-commit-hooks.yaml
  src/omnibase_core/models/nodes/node_boundary_import_check/model_boundary_import_baseline.py
  src/omnibase_core/models/nodes/node_boundary_import_check/model_boundary_import_check_input.py
  src/omnibase_core/models/nodes/node_boundary_import_check/model_boundary_import_check_request.py
  src/omnibase_core/models/nodes/node_boundary_import_check/model_boundary_import_edge.py
  src/omnibase_core/models/nodes/node_boundary_import_check/model_boundary_import_source_file.py
  src/omnibase_core/nodes/node_boundary_import_check_compute/analyzer.py
  src/omnibase_core/nodes/node_boundary_import_check_compute/contract.yaml
  src/omnibase_core/nodes/node_boundary_import_check_compute/handler.py
  src/omnibase_core/nodes/node_boundary_import_check_compute/runtime_node_boundary_import_check.py
  src/omnibase_core/nodes/node_boundary_import_check_effect/contract.yaml
  src/omnibase_core/nodes/node_boundary_import_check_effect/handler.py
  tests/unit/nodes/node_boundary_import_check_compute/fixtures/foreign_node_valid.py
  tests/unit/nodes/node_boundary_import_check_compute/test_handler.py
  tests/unit/nodes/node_boundary_import_check_compute/test_runtime.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style(OMN-20703): yamlfmt the gate hook and node contracts
  .pre-commit-hooks.yaml
  src/omnibase_core/nodes/node_boundary_import_check_compute/contract.yaml
  src/omnibase_core/nodes/node_boundary_import_check_effect/contract.yaml
Due: validate-string-versions

fix(OMN-20702): clear import-layering, no-io-outside-effects and yamlfmt reds
  .pre-commit-hooks.yaml
  src/omnibase_core/nodes/node_node_home_check_compute/runtime_node_home_check.py
  src/omnibase_core/validators/canonical_file_shape.py
  tests/unit/nodes/node_node_home_check_compute/test_node_home_check.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20703): render the gate baseline one entry per line
  src/omnibase_core/nodes/node_boundary_import_check_compute/analyzer.py
  tests/unit/nodes/node_boundary_import_check_compute/test_handler.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20702): node-home check passes lint-imports, error raising and no-I/O-outside-effects
  .pre-commit-hooks.yaml
  src/omnibase_core/models/nodes/git_file_listing/model_git_file_listing_input.py
  src/omnibase_core/models/nodes/git_file_listing/model_git_file_listing_output.py
  src/omnibase_core/models/validation/model_node_home_ratchet_request.py
  src/omnibase_core/nodes/node_git_file_listing_effect/contract.yaml
  src/omnibase_core/nodes/node_git_file_listing_effect/handler.py
  src/omnibase_core/nodes/node_node_home_check_compute/handler.py
  src/omnibase_core/nodes/node_node_home_check_compute/runtime_node_home_check.py
  src/omnibase_core/validators/canonical_file_shape.py
  tests/unit/nodes/node_git_file_listing_effect/test_node_git_file_listing_effect.py
  tests/unit/nodes/node_node_home_check_compute/test_node_home_check.py
  tests/unit/validators/test_canonical_file_shape.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-20074): S6 part 1 OCC retirement prep for omnibase_core
  .github/required-checks.yaml
  .github/workflows/call-reject-skip.yml
  .github/workflows/call-repo-evidence-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_reject_skip_caller_without_preflight_omn20074.py
  tests/ci/test_repo_evidence_caller_omn20074.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20703): Prevent baseline deletion from allowing debt bootstrap
  .pre-commit-hooks.yaml
  src/omnibase_core/nodes/node_boundary_import_check_compute/handler.py
  src/omnibase_core/nodes/node_boundary_import_check_compute/runtime_node_boundary_import_check.py
  tests/unit/nodes/node_boundary_import_check_compute/test_handler.py
  tests/unit/nodes/node_boundary_import_check_compute/test_runtime.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18996): add repository evidence contract
  contracts/OMN-18996.yaml
Due: validate-string-versions

fix(OMN-20703): add contracts/OMN-20703.yaml so repo-evidence dod-verify can verify the gate
  contracts/OMN-20703.yaml
Due: validate-string-versions

fix(OMN-18996): reject blank usable delegation content (#1904)
  contracts/OMN-18996.yaml
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  tests/unit/models/delegation/wire/test_omn18928_terminal_outcome_content.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-20703): node-boundary import gate (check-node-boundary-imports) (#1902)
  .pre-commit-hooks.yaml
  contracts/OMN-20703.yaml
  pyproject.toml
  src/omnibase_core/models/nodes/git_file_listing/model_git_file_listing_input.py
  src/omnibase_core/models/nodes/node_boundary_import_check/__init__.py
  src/omnibase_core/models/nodes/node_boundary_import_check/model_boundary_import_artifact_write_input.py
  src/omnibase_core/models/nodes/node_boundary_import_check/model_boundary_import_baseline.py
  src/omnibase_core/models/nodes/node_boundary_import_check/model_boundary_import_check_input.py
  src/omnibase_core/models/nodes/node_boundary_import_check/model_boundary_import_check_request.py
  src/omnibase_core/models/nodes/node_boundary_import_check/model_boundary_import_edge.py
  src/omnibase_core/models/nodes/node_boundary_import_check/model_boundary_import_source_file.py
  src/omnibase_core/nodes/node_boundary_import_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_boundary_import_check_compute/__init__.py
  src/omnibase_core/nodes/node_boundary_import_check_compute/analyzer.py
  src/omnibase_core/nodes/node_boundary_import_check_compute/contract.yaml
  src/omnibase_core/nodes/node_boundary_import_check_compute/handler.py
  src/omnibase_core/nodes/node_boundary_import_check_compute/runtime_node_boundary_import_check.py
  src/omnibase_core/nodes/node_boundary_import_check_effect/.rsd_provenance.json
  src/omnibase_core/nodes/node_boundary_import_check_effect/__init__.py
  src/omnibase_core/nodes/node_boundary_import_check_effect/contract.yaml
  src/omnibase_core/nodes/node_boundary_import_check_effect/handler.py
  src/omnibase_core/nodes/node_git_file_listing_effect/handler.py
  src/omnibase_core/validators/canonical_file_shape.py
  tests/unit/nodes/node_boundary_import_check_compute/__init__.py
  tests/unit/nodes/node_boundary_import_check_compute/fixtures/foreign_node_bad.py
  tests/unit/nodes/node_boundary_import_check_compute/fixtures/foreign_node_valid.py
  tests/unit/nodes/node_boundary_import_check_compute/fixtures/node_bad.py
  tests/unit/nodes/node_boundary_import_check_compute/fixtures/node_valid.py
  tests/unit/nodes/node_boundary_import_check_compute/fixtures/outside_bad.py
  tests/unit/nodes/node_boundary_import_check_compute/fixtures/outside_valid.py
  tests/unit/nodes/node_boundary_import_check_compute/fixtures/private_bad.py
  tests/unit/nodes/node_boundary_import_check_compute/fixtures/private_valid.py
  tests/unit/nodes/node_boundary_import_check_compute/test_handler.py
  tests/unit/nodes/node_boundary_import_check_compute/test_runtime.py
  tests/unit/validators/test_canonical_file_shape.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-19037): guard required-check context producers
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  src/omnibase_core/models/nodes/required_context_producer_check/__init__.py
  src/omnibase_core/models/nodes/required_context_producer_check/model_required_context_producer_check_input.py
  src/omnibase_core/models/nodes/required_context_producer_check/model_required_context_producer_gather_input.py
  src/omnibase_core/models/nodes/required_context_producer_check/model_required_context_producer_manifest_fields.py
  src/omnibase_core/models/nodes/required_context_producer_check/model_required_context_producer_workflow_fields.py
  src/omnibase_core/nodes/node_required_context_producer_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_required_context_producer_check_compute/__init__.py
  src/omnibase_core/nodes/node_required_context_producer_check_compute/contract.yaml
  src/omnibase_core/nodes/node_required_context_producer_check_compute/handler.py
  src/omnibase_core/nodes/node_required_context_producer_check_compute/required_context_producer_rules.py
  src/omnibase_core/nodes/node_required_context_producer_check_compute/runtime_required_context_producer_check.py
  src/omnibase_core/nodes/node_required_context_producer_gather_effect/.rsd_provenance.json
  src/omnibase_core/nodes/node_required_context_producer_gather_effect/__init__.py
  src/omnibase_core/nodes/node_required_context_producer_gather_effect/contract.yaml
  src/omnibase_core/nodes/node_required_context_producer_gather_effect/handler.py
  tests/unit/nodes/node_required_context_producer_check_compute/__init__.py
  tests/unit/nodes/node_required_context_producer_check_compute/conftest.py
  tests/unit/nodes/node_required_context_producer_check_compute/test_node_required_context_producer_check_compute.py
  tests/unit/nodes/node_required_context_producer_check_compute/test_runtime_required_context_producer_check.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-20702): retain the DoD contract after mechanical rebase
  contracts/OMN-20702.yaml
Due: validate-string-versions

feat(OMN-20702): add the node-home ratchet that refuses new ONEX nodes outside omnimarket (#1903)
  .github/workflows/ci.yml
  .pre-commit-hooks.yaml
  contracts/OMN-20702.yaml
  src/omnibase_core/models/validation/__init__.py
  src/omnibase_core/models/validation/model_node_home_ratchet_finding.py
  src/omnibase_core/models/validation/model_node_home_ratchet_request.py
  src/omnibase_core/models/validation/model_node_home_ratchet_result.py
  src/omnibase_core/nodes/node_node_home_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_node_home_check_compute/__init__.py
  src/omnibase_core/nodes/node_node_home_check_compute/contract.yaml
  src/omnibase_core/nodes/node_node_home_check_compute/handler.py
  src/omnibase_core/nodes/node_node_home_check_compute/runtime_node_home_check.py
  src/omnibase_core/validators/canonical_file_shape.py
  tests/unit/nodes/node_node_home_check_compute/__init__.py
  tests/unit/nodes/node_node_home_check_compute/test_node_home_check.py
  tests/unit/validators/test_canonical_file_shape.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci: keep call-reject-skip.yml at dev's pin 1618db6e272d
  .github/workflows/call-reject-skip.yml
Due: validate-string-versions

fix(ci): resolve merged PR for push events in dep-scope (OMN-17427)
  .github/workflows/ci.yml
  tests/unit/scripts/ci/test_contract_compliance_dep_scope_push_omn17427.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-20704): move route job to omnimarket reusable workflow
  .github/workflows/ci.yml
Due: validate-string-versions

fix(OMN-18785): derive evidence verifier verdicts from typed checks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  src/omnibase_core/enums/enum_evidence_verification_status.py
  src/omnibase_core/models/evidence_bundle/__init__.py
  src/omnibase_core/models/evidence_bundle/model_evidence_verifier_check.py
  src/omnibase_core/models/evidence_bundle/model_evidence_verifier_result.py
  tests/unit/models/evidence_bundle/test_evidence_verifier_result.py
  tests/unit/models/evidence_bundle/test_standard_evidence_bundle.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): add contracts/OMN-17427.yaml (OMN-17427)
  contracts/OMN-17427.yaml
Due: validate-string-versions

ci(OMN-20074): receipt-gate verify reports a success no-op in caller mode, never skipped
  .github/workflows/receipt-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
  tests/ci/test_receipt_gate_caller_verify_noop_omn20074.py
  tests/ci/test_receipt_gate_shadow_omn20073.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18785): bind repository evidence to verifier behavior tests
  contracts/OMN-18785.yaml
  tests/unit/models/evidence_bundle/test_evidence_verifier_result.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(ci): resolve merged PR for push events in dep-scope (OMN-17427) (#1906)
  .github/workflows/ci.yml
  contracts/OMN-17427.yaml
  tests/unit/scripts/ci/test_contract_compliance_dep_scope_push_omn17427.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-19037): add ticket contract for required-context producer gate
  contracts/OMN-19037.yaml
Due: validate-string-versions

chore(OMN-20704): move route job to omnimarket reusable workflow (#1907)
  .github/workflows/ci.yml
Due: validate-string-versions

chore(OMN-20704): add the DoD contract for the route-runner repin
  contracts/OMN-20704.yaml
Due: validate-string-versions

fix(OMN-18785): derive evidence verifier verdicts from typed checks (#1908)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  contracts/OMN-18785.yaml
  src/omnibase_core/enums/enum_evidence_verification_status.py
  src/omnibase_core/models/evidence_bundle/__init__.py
  src/omnibase_core/models/evidence_bundle/model_evidence_verifier_check.py
  src/omnibase_core/models/evidence_bundle/model_evidence_verifier_result.py
  tests/unit/models/evidence_bundle/test_evidence_verifier_result.py
  tests/unit/models/evidence_bundle/test_standard_evidence_bundle.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-19037): guard required-check context producers (#1905)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  contracts/OMN-19037.yaml
  pyproject.toml
  src/omnibase_core/models/nodes/required_context_producer_check/__init__.py
  src/omnibase_core/models/nodes/required_context_producer_check/model_required_context_producer_check_input.py
  src/omnibase_core/models/nodes/required_context_producer_check/model_required_context_producer_gather_input.py
  src/omnibase_core/models/nodes/required_context_producer_check/model_required_context_producer_manifest_fields.py
  src/omnibase_core/models/nodes/required_context_producer_check/model_required_context_producer_workflow_fields.py
  src/omnibase_core/nodes/node_required_context_producer_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_required_context_producer_check_compute/__init__.py
  src/omnibase_core/nodes/node_required_context_producer_check_compute/contract.yaml
  src/omnibase_core/nodes/node_required_context_producer_check_compute/handler.py
  src/omnibase_core/nodes/node_required_context_producer_check_compute/required_context_producer_rules.py
  src/omnibase_core/nodes/node_required_context_producer_check_compute/runtime_required_context_producer_check.py
  src/omnibase_core/nodes/node_required_context_producer_gather_effect/.rsd_provenance.json
  src/omnibase_core/nodes/node_required_context_producer_gather_effect/__init__.py
  src/omnibase_core/nodes/node_required_context_producer_gather_effect/contract.yaml
  src/omnibase_core/nodes/node_required_context_producer_gather_effect/handler.py
  tests/unit/nodes/node_required_context_producer_check_compute/__init__.py
  tests/unit/nodes/node_required_context_producer_check_compute/conftest.py
  tests/unit/nodes/node_required_context_producer_check_compute/test_node_required_context_producer_check_compute.py
  tests/unit/nodes/node_required_context_producer_check_compute/test_runtime_required_context_producer_check.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-18338): Resolve OCC companion from change-control record
  scripts/ci/check_occ_companion_merged.py
  tests/ci/test_check_occ_companion_merged_writer_exempt_omn20161.py
  tests/unit/scripts/ci/test_check_occ_companion_merged.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-20074): receipt-gate verify reports a success no-op in caller mode, never skipped (#1909)
  .github/workflows/receipt-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
  tests/ci/test_receipt_gate_caller_verify_noop_omn20074.py
  tests/ci/test_receipt_gate_shadow_omn20073.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18338): bind local evidence for companion resolution
  contracts/OMN-18338.yaml
Due: validate-string-versions

feat(OMN-18338): Resolve OCC companion from change-control record (#1910)
  contracts/OMN-18338.yaml
  scripts/ci/check_occ_companion_merged.py
  tests/ci/test_check_occ_companion_merged_writer_exempt_omn20161.py
  tests/unit/scripts/ci/test_check_occ_companion_merged.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-17427): the caller-evidence job derives the writer app's pin-only exemption at the head
  .github/workflows/receipt-gate.yml
  contracts/OMN-17427.yaml
  tests/ci/test_receipt_gate_caller_evidence_omn20070.py
  tests/ci/test_receipt_gate_writer_pin_only_in_job_omn17427.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-20074): name a missing head contract's home for the difference
  .github/workflows/receipt-gate.yml
  contracts/OMN-20074.yaml
  tests/ci/test_receipt_gate_contract_home_omn20074.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

style(OMN-17427): ran yamlfmt on contracts/OMN-17427.yaml
  contracts/OMN-17427.yaml
Due: validate-string-versions
