Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(OMN-20183): drop the url-authority baseline row for a deleted bifrost config loader
  src/omnibase_core/validation/baselines/url_authority_baseline.json
Due: none

fix(OMN-20185): the docs-only zone no longer counts allowlists/ as docs, and zone prefixes anchor at the repo root (#1822)
  .github/workflows/zone-filter.yml
  src/omnibase_core/validation/zone_classifier.py
  tests/scripts/test_zone_diff_filter.py
  tests/validation/test_zone_classifier.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20188): six delegation wire models reject unknown fields instead of dropping them (#1823)
  src/omnibase_core/models/delegation/model_a2a_task_request.py
  src/omnibase_core/models/delegation/model_a2a_task_response.py
  src/omnibase_core/models/delegation/model_remote_task_state.py
  src/omnibase_core/models/delegation/model_routing_rule.py
  src/omnibase_core/models/delegation/model_target_agent.py
  src/omnibase_core/models/governance/model_delegation_health.py
  src/omnibase_core/validators/extra_forbid_baseline.yaml
  tests/unit/models/delegation/test_delegation_extra_forbid.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20177): URL Authority Gate sees DSN env reads, os.getenv, from-os imports and a key held in a constant (#1821)
  .github/workflows/url-authority-gate.yml
  .pre-commit-hooks.yaml
  src/omnibase_core/validation/baselines/widening_url_authority_baseline.json
  src/omnibase_core/validation/validator_url_authority.py
  tests/unit/validation/test_validator_url_authority.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20183): drop the url-authority baseline row for a deleted bifrost config loader (#1824)
  src/omnibase_core/validation/baselines/url_authority_baseline.json
Due: none

fix(OMN-17427): drop the expired ModelHandlerRoutingEntry extra=forbid waiver that turned dev red
  src/omnibase_core/validators/extra_forbid_waivers.yaml
Due: validate-string-versions

fix(OMN-20201): ModelInvocationCommand and ModelAgentTaskLifecycleEvent forbid unknown keys
  src/omnibase_core/models/delegation/model_agent_task_lifecycle_event.py
  src/omnibase_core/models/delegation/model_invocation_command.py
  src/omnibase_core/validators/extra_forbid_baseline.yaml
  tests/unit/models/delegation/test_delegation_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20241): Python validator hooks run once per hook invocation, not once per four files
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  tests/unit/test_precommit_hooks_require_serial.py
  tests/unit/validation/test_validator_batch_invocation.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17427): drop the expired ModelHandlerRoutingEntry extra=forbid waiver that turned dev red (#1825)
  src/omnibase_core/validators/extra_forbid_waivers.yaml
Due: validate-string-versions

feat(core): complete OMN-20070 goal admission contract
  src/omnibase_core/constants/constants_goal_admission.py
  src/omnibase_core/models/contracts/ticket/model_dod_receipt.py
  src/omnibase_core/models/validation/model_goal_commit_source_readback.py
  src/omnibase_core/models/validation/model_goal_evaluation_observation.py
  src/omnibase_core/models/validation/model_goal_merge_group_source_readback.py
  src/omnibase_core/models/validation/model_goal_subject_manifest.py
  src/omnibase_core/models/validation/model_occ_eligibility_input.py
  src/omnibase_core/models/validation/model_occ_eligibility_result.py
  src/omnibase_core/validation/protocol_goal_admission_provider.py
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  tests/unit/models/events/work/test_model_work_event.py
  tests/unit/models/events/work/test_work_ledger_line.py
  tests/unit/validation/test_occ_merge_eligibility_goal_coverage_revision.py
  tests/unit/validation/test_occ_merge_eligibility_identity.py
  tests/unit/validation/test_occ_merge_eligibility_trusted_goal_admission.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20241): Python validator hooks run once per hook invocation, not once per four files (#1827)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  tests/unit/test_precommit_hooks_require_serial.py
  tests/unit/validation/test_validator_batch_invocation.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20200): install pinned yamlfmt for test splits and clear CodeQL findings
  .github/workflows/ci.yml
  tests/unit/validation/test_goal_revision_source_envelopes.py
  tests/unit/validation/test_occ_merge_eligibility_identity.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-20201): backfill hand_authored provenance stamps on the 16 grandfathered core nodes
  scripts/ci/rsd_provenance_stamp_baseline.py
  src/omnibase_core/nodes/node_backend_secret_discipline_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_compliance_evidence_effect/.rsd_provenance.json
  src/omnibase_core/nodes/node_compliance_orchestrator/.rsd_provenance.json
  src/omnibase_core/nodes/node_compliance_report_reducer/.rsd_provenance.json
  src/omnibase_core/nodes/node_compliance_scan_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_contract_resolve_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_contract_verify_replay_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_no_direct_kafka_producer_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_no_env_fallbacks_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_no_hardcoded_ip_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_no_io_outside_effects_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_no_raw_sqlite3_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_no_utcnow_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_routing_authority_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_source_file_gather_effect/.rsd_provenance.json
  src/omnibase_core/nodes/node_test_selector_compute/.rsd_provenance.json
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20201): ModelInvocationCommand and ModelAgentTaskLifecycleEvent forbid unknown payload keys (#1828)
  src/omnibase_core/models/delegation/model_agent_task_lifecycle_event.py
  src/omnibase_core/models/delegation/model_invocation_command.py
  src/omnibase_core/validators/extra_forbid_baseline.yaml
  tests/unit/models/delegation/test_delegation_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-20201): backfill hand_authored provenance stamps on the 16 grandfathered core nodes (#1826)
  scripts/ci/rsd_provenance_stamp_baseline.py
  src/omnibase_core/nodes/node_backend_secret_discipline_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_compliance_evidence_effect/.rsd_provenance.json
  src/omnibase_core/nodes/node_compliance_orchestrator/.rsd_provenance.json
  src/omnibase_core/nodes/node_compliance_report_reducer/.rsd_provenance.json
  src/omnibase_core/nodes/node_compliance_scan_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_contract_resolve_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_contract_verify_replay_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_no_direct_kafka_producer_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_no_env_fallbacks_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_no_hardcoded_ip_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_no_io_outside_effects_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_no_raw_sqlite3_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_no_utcnow_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_routing_authority_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_source_file_gather_effect/.rsd_provenance.json
  src/omnibase_core/nodes/node_test_selector_compute/.rsd_provenance.json
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20200): evaluate freshness after execution
  src/omnibase_core/models/validation/model_goal_admission_observation.py
  src/omnibase_core/models/validation/model_goal_dependency_admission_evidence.py
  src/omnibase_core/models/validation/model_goal_verifier_policy.py
  src/omnibase_core/models/validation/model_occ_eligibility_result.py
  src/omnibase_core/validation/protocol_goal_admission_provider.py
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  tests/unit/validation/test_occ_merge_eligibility_goal_coverage_revision.py
  tests/unit/validation/test_occ_merge_eligibility_trusted_goal_admission.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20200): evaluate freshness after execution (#1831)
  src/omnibase_core/models/validation/model_goal_admission_observation.py
  src/omnibase_core/models/validation/model_goal_dependency_admission_evidence.py
  src/omnibase_core/models/validation/model_goal_verifier_policy.py
  src/omnibase_core/models/validation/model_occ_eligibility_result.py
  src/omnibase_core/validation/protocol_goal_admission_provider.py
  src/omnibase_core/validation/validator_occ_merge_eligibility.py
  tests/unit/validation/test_occ_merge_eligibility_goal_coverage_revision.py
  tests/unit/validation/test_occ_merge_eligibility_trusted_goal_admission.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(core): extend package download timeout for OMN-20200
  .github/workflows/ci.yml
Due: validate-string-versions

test(OMN-20200): audit CI timeout workflow digest
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20302): the downstream pin bump rewrites only refs owned by omnibase_core and drops two pin sites that pin another repository
  docs/downstream-repos.yaml
  scripts/pin_bump.py
  tests/unit/scripts/test_pin_bump.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20200): scope release identity to branch changes
  .pre-commit-config.yaml
  scripts/check_release_identity.py
  tests/scripts/test_check_release_identity.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-20302): the downstream pin bump rewrites only refs owned by omnibase_core and drops two pin sites that pin another repository (#1832)
  docs/downstream-repos.yaml
  scripts/pin_bump.py
  tests/unit/scripts/test_pin_bump.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-20298): shape-gate detectors run on every PR, whatever the preflight says
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/ci.yml
  .github/workflows/validator-hardcoded-topic.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  architecture-handshakes/validator-requirements.yaml
  pyproject.toml
  scripts/ci/ci_summary_gate.py
  src/omnibase_core/models/validation/model_shape_gate_independence_finding.py
  src/omnibase_core/validators/shape_gate_independence.py
  tests/unit/validators/test_shape_gate_independence.py
  tests/validation/test_validator_requirements_consumer.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-20298): planted bad sample, detector with preflight fail step
  .github/workflows/canonical-inference-gate.yml
Due: validate-string-versions

feat(OMN-20304): canonical-file-shape ratchet refuses new scripts, plugins and exceptions
  .github/workflows/ci.yml
  .onex_ratchets/canonical_file_shape_baseline.txt
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  architecture-handshakes/validator-requirements.yaml
  scripts/ci/ci_summary_gate.py
  src/omnibase_core/models/validation/model_canonical_file_shape_finding.py
  src/omnibase_core/validators/canonical_file_shape.py
  tests/unit/validators/test_canonical_file_shape.py
  tests/validation/test_validator_requirements_consumer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-20304): bump omnibase_core to 0.47.29
  pyproject.toml
  uv.lock
Due: none

fix(OMN-20200): scope CI timeout and release identity checks (#1835)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/check_release_identity.py
  tests/scripts/test_check_release_identity.py
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-20304): canonical-file-shape ratchet refuses new scripts, plugins and exceptions (#1836)
  .github/workflows/ci.yml
  .onex_ratchets/canonical_file_shape_baseline.txt
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  architecture-handshakes/validator-requirements.yaml
  pyproject.toml
  scripts/ci/ci_summary_gate.py
  src/omnibase_core/models/validation/model_canonical_file_shape_finding.py
  src/omnibase_core/validators/canonical_file_shape.py
  tests/unit/validators/test_canonical_file_shape.py
  tests/validation/test_validator_requirements_consumer.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-20298): shape-gate detectors run on every PR, whatever the preflight says
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/ci.yml
  .github/workflows/validator-hardcoded-topic.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  architecture-handshakes/validator-requirements.yaml
  scripts/ci/ci_summary_gate.py
  src/omnibase_core/handlers/__init__.py
  src/omnibase_core/handlers/handler_shape_gate_independence.py
  src/omnibase_core/models/validation/model_shape_gate_independence_finding.py
  tests/unit/validators/test_shape_gate_independence.py
  tests/validation/test_validator_requirements_consumer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-20295): Add direct model call check
  .pre-commit-hooks.yaml
  src/omnibase_core/nodes/node_direct_model_call_check_compute/.rsd_provenance.json
  src/omnibase_core/nodes/node_direct_model_call_check_compute/__init__.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/contract.yaml
  src/omnibase_core/nodes/node_direct_model_call_check_compute/handler.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/models.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/policy.yaml
  src/omnibase_core/nodes/node_direct_model_call_check_compute/runtime_direct_model_call.py
  tests/unit/nodes/node_direct_model_call_check_compute/__init__.py
  tests/unit/nodes/node_direct_model_call_check_compute/samples/caller.py.txt
  tests/unit/nodes/node_direct_model_call_check_compute/samples/clean.py.txt
  tests/unit/nodes/node_direct_model_call_check_compute/samples/s5a.py.txt
  tests/unit/nodes/node_direct_model_call_check_compute/samples/s5c.py.txt
  tests/unit/nodes/node_direct_model_call_check_compute/samples/s5g.py.txt
  tests/unit/nodes/node_direct_model_call_check_compute/samples/s6.py.txt
  tests/unit/nodes/node_direct_model_call_check_compute/samples/shell_clis.sh.txt
  tests/unit/nodes/node_direct_model_call_check_compute/test_node_direct_model_call_check_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20295): the direct-model-call node passes the core fallback, error-raising, SPDX, git-subprocess and yamlfmt gates
  .pre-commit-hooks.yaml
  src/omnibase_core/nodes/node_direct_model_call_check_compute/contract.yaml
  src/omnibase_core/nodes/node_direct_model_call_check_compute/handler.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/policy.yaml
  tests/unit/nodes/node_direct_model_call_check_compute/test_node_direct_model_call_check_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20295): remove private KB path and task refs from baseline headers
  src/omnibase_core/nodes/node_direct_model_call_check_compute/__init__.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/handler.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/policy.yaml
  src/omnibase_core/nodes/node_direct_model_call_check_compute/runtime_direct_model_call.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-20070): add goal supervisor wire contracts
  pyproject.toml
  src/omnibase_core/enums/enum_goal_supervisor_outcome.py
  src/omnibase_core/models/validation/model_goal_supervisor_execution_request.py
  src/omnibase_core/models/validation/model_goal_supervisor_execution_result.py
  src/omnibase_core/models/validation/model_goal_supervisor_finalization_readback.py
  src/omnibase_core/models/validation/model_goal_supervisor_finalization_request.py
  src/omnibase_core/models/validation/model_goal_supervisor_finalization_result.py
  tests/unit/models/validation/test_goal_supervisor_contract_models.py
  tests/unit/validation/test_goal_revision_source_envelopes.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(OMN-20295): split direct-model-call gate into compute and effect
  .pre-commit-hooks.yaml
  src/omnibase_core/enums/enum_direct_model_call_kind.py
  src/omnibase_core/models/nodes/direct_model_call_check/__init__.py
  src/omnibase_core/models/nodes/direct_model_call_check/model_direct_model_call_baseline.py
  src/omnibase_core/models/nodes/direct_model_call_check/model_direct_model_call_baseline_entry.py
  src/omnibase_core/models/nodes/direct_model_call_check/model_direct_model_call_check_input.py
  src/omnibase_core/models/nodes/direct_model_call_check/model_direct_model_call_check_output.py
  src/omnibase_core/models/nodes/direct_model_call_check/model_direct_model_call_check_request.py
  src/omnibase_core/models/nodes/direct_model_call_check/model_direct_model_call_comparison.py
  src/omnibase_core/models/nodes/direct_model_call_check/model_direct_model_call_finding.py
  src/omnibase_core/models/nodes/direct_model_call_check/model_direct_model_call_policy.py
  src/omnibase_core/models/nodes/direct_model_call_check/model_direct_model_call_scan_input.py
  src/omnibase_core/models/nodes/direct_model_call_check/model_direct_model_call_source_file.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/__init__.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_analyzer.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_baseline.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_call_edge.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_commands.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_constants.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_exec_edge.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_hit.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_lazy_env.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_module.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_policy_patterns.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_scan.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_script_ref.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_shell_state.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_site.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_summary.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_value.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/contract.yaml
  src/omnibase_core/nodes/node_direct_model_call_check_compute/handler.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/models.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/runtime_direct_model_call.py
  src/omnibase_core/nodes/node_direct_model_call_check_effect/.rsd_provenance.json
  src/omnibase_core/nodes/node_direct_model_call_check_effect/__init__.py
  src/omnibase_core/nodes/node_direct_model_call_check_effect/contract.yaml
  src/omnibase_core/nodes/node_direct_model_call_check_effect/handler.py
  src/omnibase_core/nodes/node_direct_model_call_check_effect/runtime_direct_model_call.py
  tests/unit/nodes/node_direct_model_call_check_compute/test_node_direct_model_call_check_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-20295): clear the three CodeQL errors in the compute node
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_analyzer.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/_lazy_env.py
  src/omnibase_core/nodes/node_direct_model_call_check_compute/handler.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-17427): canonical-file-shape accepts the baseline a declared direct-model-call gate names
  src/omnibase_core/validators/canonical_file_shape.py
  tests/unit/validators/test_canonical_file_shape.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
