Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(OMN-11225): resolve session contract Sonar findings
  src/omnibase_core/models/overseer/model_phase_exit_condition.py
  tests/unit/models/overseer/test_session_contract_unification.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11225): merge ModelOvernightContract into ModelSessionContract (#1107)
  src/omnibase_core/models/overseer/__init__.py
  src/omnibase_core/models/overseer/model_dispatch_item.py
  src/omnibase_core/models/overseer/model_overnight_contract.py
  src/omnibase_core/models/overseer/model_overnight_halt_condition.py
  src/omnibase_core/models/overseer/model_overnight_phase_spec.py
  src/omnibase_core/models/overseer/model_phase_exit_condition.py
  src/omnibase_core/models/overseer/model_session_halt_condition.py
  src/omnibase_core/models/overseer/model_session_phase_spec.py
  src/omnibase_core/models/overseer/model_worker_contract.py
  tests/unit/models/overseer/test_overseer_model_imports.py
  tests/unit/models/overseer/test_phase_exit_condition.py
  tests/unit/models/overseer/test_session_contract_unification.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11262): add core contract evidence models
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/evidence/__init__.py
  src/omnibase_core/models/contracts/evidence/model_contract_evidence_proof.py
  src/omnibase_core/models/contracts/evidence/model_contract_evidence_spec.py
  src/omnibase_core/models/contracts/evidence/model_evidence_provenance.py
  tests/unit/models/contracts/evidence/__init__.py
  tests/unit/models/contracts/evidence/test_contract_evidence_spec.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-11227): address phase budget review blockers
  src/omnibase_core/models/overseer/model_session_halt_condition.py
  tests/unit/models/overseer/test_phase_budget.py
  tests/unit/models/overseer/test_phase_exit_condition.py
  tests/unit/models/overseer/test_session_contract_unification.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-10972): enforce node purity in quality gate
  .github/required-checks.yaml
  .github/workflows/ci.yml
Due: validate-string-versions

fix(OMN-11156,OMN-11157,OMN-11158,OMN-11159,OMN-11160): flip 5 advisory gates to blocking in omnibase_core (#1106)
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .github/workflows/cross-repo-validation.yml
  .github/workflows/omni-standards-compliance.yml
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements-baseline.yaml
  src/omnibase_core/cli/cli_run_node.py
  src/omnibase_core/discovery/discovery_external_nodes.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/normalization/contract_normalizer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11227): Add phase budget and parallel dispatch fields (#1109)
  src/omnibase_core/models/overseer/model_session_contract.py
  src/omnibase_core/models/overseer/model_session_halt_condition.py
  src/omnibase_core/models/overseer/model_session_phase_spec.py
  tests/unit/models/overseer/test_phase_budget.py
  tests/unit/models/overseer/test_phase_exit_condition.py
  tests/unit/models/overseer/test_session_contract_unification.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-9334): add runtime_sha_match DoD gate — classifier + receipt-gate integration
  src/omnibase_core/models/ticket/model_ticket_contract.py
  src/omnibase_core/validation/receipt_gate.py
  src/omnibase_core/validation/runtime_sha_match.py
  tests/unit/models/contracts/test_runtime_sha_match.py
  tests/unit/models/contracts/test_runtime_sha_match_dod_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-9738): add contract model validation enforcement integration tests
  tests/integration/test_contract_model_validation_e2e.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-9738): preserve contract validation assertions
  tests/integration/test_contract_model_validation_e2e.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-9334): add runtime_sha_match DoD gate — classifier + receipt-gate integration (#1110)
  src/omnibase_core/models/ticket/model_ticket_contract.py
  src/omnibase_core/validation/receipt_gate.py
  src/omnibase_core/validation/runtime_sha_match.py
  tests/unit/models/contracts/test_runtime_sha_match.py
  tests/unit/models/contracts/test_runtime_sha_match_dod_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-9738): contract model validation enforcement integration tests (#1111)
  tests/integration/test_contract_model_validation_e2e.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-9757): add normalize_contract_with_flags and expand normalization pipeline
  src/omnibase_core/normalization/contract_normalizer.py
  src/omnibase_core/normalization/contract_validator.py
  tests/unit/normalization/test_contract_normalizer.py
  tests/unit/normalization/test_contract_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-11262): replace StableProofKind Literal with EnumStableProofKind
  src/omnibase_core/enums/enum_stable_proof_kind.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/evidence/__init__.py
  src/omnibase_core/models/contracts/evidence/model_contract_evidence_proof.py
  tests/unit/models/contracts/evidence/test_contract_evidence_spec.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): extend normalization symmetry checks
  src/omnibase_core/validation/checker_normalization_symmetry.py
  tests/unit/validation/test_checker_normalization_symmetry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-9757): add normalize_contract_with_flags and expand normalization pipeline (#1112)
  src/omnibase_core/normalization/contract_normalizer.py
  src/omnibase_core/normalization/contract_validator.py
  tests/unit/normalization/test_contract_normalizer.py
  tests/unit/normalization/test_contract_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11262): add canonical contract evidence storage models to omnibase_core (#1113)
  src/omnibase_core/enums/enum_stable_proof_kind.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/evidence/__init__.py
  src/omnibase_core/models/contracts/evidence/model_contract_evidence_proof.py
  src/omnibase_core/models/contracts/evidence/model_contract_evidence_spec.py
  src/omnibase_core/models/contracts/evidence/model_evidence_provenance.py
  tests/unit/models/contracts/evidence/__init__.py
  tests/unit/models/contracts/evidence/test_contract_evidence_spec.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-9339): simplify model candidate extraction
  src/omnibase_core/validation/checker_normalization_symmetry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-11274): add unit tests asserting exact wire values for 5 session phase topics
  tests/unit/test_topics.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-9339, OMN-9340): extend normalization symmetry validator (#1114)
  src/omnibase_core/validation/checker_normalization_symmetry.py
  tests/unit/validation/test_checker_normalization_symmetry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-11269): add acceptance criteria tests for session/overnight contract unification
  tests/unit/models/overseer/test_session_contract_unification.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-11274): add unit tests asserting exact wire values for 5 session phase topics (#1115)
  tests/unit/test_topics.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-11269): add acceptance criteria tests for session/overnight contract unification (#1116)
  tests/unit/models/overseer/test_session_contract_unification.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-11272): add dod evidence for phase budget and parallel dispatch fields
  .onex_state/evidence/omn-11272-phase-budget-fields.md
Due: none

test(OMN-11270): expand exit condition validation test coverage
  tests/unit/models/overseer/test_phase_exit_condition.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-11272): add phase budget and parallel dispatch fields to ModelSessionPhaseSpec (#1117)
  .onex_state/evidence/omn-11272-phase-budget-fields.md
Due: none

test(OMN-11270): expand typed exit condition validation test coverage (#1118)
  tests/unit/models/overseer/test_phase_exit_condition.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-10980): clear enum review findings
  tests/unit/enums/test_enum_discriminated_value_type.py
  tests/unit/enums/test_enum_return_type.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-10980): address CodeQL enum scan
  src/omnibase_core/cli/cli_validate_shape.py
  src/omnibase_core/models/node_metadata/model_function_node_summary.py
  src/omnibase_core/models/services/model_service_compute.py
  src/omnibase_core/models/services/model_service_reducer.py
  src/omnibase_core/models/validation/model_execution_shape_validation.py
  tests/unit/contracts/test_model_contract_base.py
  tests/unit/decorators/test_decorator_effect_boundary.py
  tests/unit/decorators/test_decorator_enforce_execution_shape.py
  tests/unit/enums/events/test_enum_deregistration_reason.py
  tests/unit/enums/hooks/claude_code/test_enum_claude_code_hook_event_type.py
  tests/unit/enums/hooks/claude_code/test_enum_claude_code_session_outcome.py
  tests/unit/enums/hooks/claude_code/test_enum_claude_code_session_status.py
  tests/unit/enums/hooks/claude_code/test_enum_claude_code_tool_name.py
  tests/unit/enums/intelligence/test_enum_intent_category.py
  tests/unit/enums/pattern_learning/test_enum_evidence_tier.py
  tests/unit/enums/plan/test_enum_plan_types.py
  tests/unit/enums/replay/test_enum_replay_mode.py
  tests/unit/enums/test_compute_enums.py
  tests/unit/enums/test_enum_acknowledgment_type.py
  tests/unit/enums/test_enum_action_category.py
  tests/unit/enums/test_enum_activation_reason.py
  tests/unit/enums/test_enum_agent_capability.py
  tests/unit/enums/test_enum_agent_state.py
  tests/unit/enums/test_enum_agent_status_type.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-10980): normalize enum iteration in tests
  tests/unit/cli/test_cli_hooks.py
  tests/unit/models/context/test_model_effect_input_data.py
  tests/unit/models/events/test_model_topic_manifest.py
  tests/unit/models/mcp/test_model_mcp.py
  tests/unit/models/metadata/node_info/test_model_node_core.py
  tests/unit/models/metadata/test_model_nested_configuration.py
  tests/unit/models/objective/test_model_reward_assigned_event.py
  tests/unit/models/observability/test_model_envelope_validation_failure_metrics.py
  tests/unit/models/observability/test_model_log_emission.py
  tests/unit/models/omnimemory/test_model_claude_code_session_snapshot.py
  tests/unit/models/pattern_learning/test_pattern_learning_models.py
  tests/unit/models/reducer/test_model_reducer_input.py
  tests/unit/models/reducer/test_model_reducer_output.py
  tests/unit/models/routing/test_capability_token_models.py
  tests/unit/models/routing/test_contract_yaml_schema.py
  tests/unit/models/routing/test_resolution_event_model.py
  tests/unit/models/security/test_model_signature_chain.py
  tests/unit/models/ticket/test_model_interface_definition.py
  tests/unit/models/validation/test_model_execution_shapes.py
  tests/unit/models/validation/test_model_zone_policy.py
  tests/unit/models/workflow/execution/test_model_workflow_step_execution.py
  tests/unit/orchestrator/test_orchestrator_enums.py
  tests/unit/orchestrator/test_orchestrator_models.py
  tests/unit/package/test_oncp_package.py
  tests/unit/scripts/test_gen_hook_bits.py
  tests/unit/test_enum_hook_bit.py
  tests/unit/utils/test_util_str_enum_base.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml
