Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(validation): distinguish handler contracts from ONEX metadata contracts
  scripts/validation/validate-contracts.py
  tests/unit/validation/test_validate_contracts.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(errors): remove unnecessary parentheses in mixin exception handlers
  src/omnibase_core/mixins/mixin_discovery_responder.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/mixins/mixin_node_lifecycle.py
  src/omnibase_core/mixins/mixin_node_service.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(manifest): address final PR review items for release readiness
  src/omnibase_core/cli/composition_report.py
  src/omnibase_core/models/manifest/model_hook_trace.py
  src/omnibase_core/models/primitives/model_semver.py
  src/omnibase_core/pipeline/manifest_logger.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(pipeline): address all PR #291 release-ready issues (OMN-1114)
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  src/omnibase_core/pipeline/builder_execution_plan.py
  src/omnibase_core/pipeline/composer_middleware.py
  src/omnibase_core/pipeline/runner_pipeline.py
  tests/unit/pipeline/test_builder_execution_plan.py
  tests/unit/pipeline/test_composer_middleware.py
  tests/unit/pipeline/test_registry_hook.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(merge): resolve mypy errors and broken doc link from main merge
  docs/architecture/CAPABILITY_RESOLUTION.md
  src/omnibase_core/models/core/model_examples_collection.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(pipeline): add Pipeline Runner & Hook Registry infrastructure (OMN-1114) (#291)
  docs/INDEX.md
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  mypy.ini
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/builder_execution_plan.py
  src/omnibase_core/pipeline/composer_middleware.py
  src/omnibase_core/pipeline/exceptions.py
  src/omnibase_core/pipeline/models/__init__.py
  src/omnibase_core/pipeline/models/model_execution_plan.py
  src/omnibase_core/pipeline/models/model_pipeline_hook.py
  src/omnibase_core/pipeline/models/model_validation_warning.py
  src/omnibase_core/pipeline/registry_hook.py
  src/omnibase_core/pipeline/runner_pipeline.py
  tests/integration/pipeline/__init__.py
  tests/integration/pipeline/test_pipeline_integration.py
  tests/unit/pipeline/__init__.py
  tests/unit/pipeline/test_builder_execution_plan.py
  tests/unit/pipeline/test_composer_middleware.py
  tests/unit/pipeline/test_registry_hook.py
  tests/unit/pipeline/test_registry_hook_performance.py
  tests/unit/pipeline/test_runner_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): add handler contract validation to validate-contracts.py
  scripts/validation/handler_contract_validator.py
  scripts/validation/validate-contracts.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(models): remove redundant model_config from merge started event
  src/omnibase_core/models/events/contract_validation/model_contract_merge_started_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: resolve CI failures after merging main
  src/omnibase_core/models/capabilities/model_requirement_set.py
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/models/providers/model_provider_descriptor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): fix CI test failures and final PR #289 polish (OMN-1126)
  docs/guides/CONTRACT_PATCHING_GUIDE.md
  src/omnibase_core/models/contracts/model_contract_patch.py
  src/omnibase_core/models/contracts/model_reference.py
  src/omnibase_core/validation/contract_patch_validator.py
  tests/unit/validation/test_protocol_auditor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(manifest): address all PR review feedback and pre-commit violations
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  src/omnibase_core/cli/composition_report.py
  src/omnibase_core/enums/enum_execution_status.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/capabilities/model_requirement_set.py
  src/omnibase_core/models/manifest/model_contract_identity.py
  src/omnibase_core/models/pipeline/__init__.py
  src/omnibase_core/models/pipeline/model_hook_error.py
  src/omnibase_core/models/pipeline/model_phase_execution_plan.py
  src/omnibase_core/models/pipeline/model_pipeline_context.py
  src/omnibase_core/models/pipeline/model_pipeline_execution_plan.py
  src/omnibase_core/models/pipeline/model_pipeline_hook.py
  src/omnibase_core/models/pipeline/model_pipeline_result.py
  src/omnibase_core/models/pipeline/model_validation_warning.py
  src/omnibase_core/models/requirements/__init__.py
  src/omnibase_core/models/requirements/model_requirement_evaluator.py
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/builder_execution_plan.py
  src/omnibase_core/pipeline/composer_middleware.py
  src/omnibase_core/pipeline/manifest_logger.py
  src/omnibase_core/pipeline/models/__init__.py
  src/omnibase_core/pipeline/registry_hook.py
  src/omnibase_core/pipeline/runner_pipeline.py
  tests/unit/models/requirements/test_model_requirement_evaluator.py
  tests/unit/pipeline/test_builder_execution_plan.py
  tests/unit/pipeline/test_registry_hook.py
  tests/unit/pipeline/test_registry_hook_performance.py
  tests/unit/pipeline/test_runner_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(manifest): address PR review feedback and fix CI mypy errors
  src/omnibase_core/enums/enum_activation_reason.py
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/models/providers/model_provider_descriptor.py
  src/omnibase_core/pipeline/manifest_generator.py
  src/omnibase_core/pipeline/manifest_observer.py
  tests/unit/pipeline/test_manifest_generator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(manifest): address PR #294 review feedback
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/models/manifest/model_hook_trace.py
  src/omnibase_core/models/pipeline/model_pipeline_result.py
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/manifest_logger.py
  src/omnibase_core/pipeline/manifest_observer.py
  tests/unit/pipeline/test_manifest_observer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(registry): add capability metadata and registry services (OMN-1156) (#295)
  CHANGELOG.md
  docs/architecture/CAPABILITY_RESOLUTION.md
  docs/guides/MIGRATING_TO_MIXIN_EVENT_BUS_V0_4.md
  scripts/validation/validate-string-versions.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/models/capabilities/__init__.py
  src/omnibase_core/models/capabilities/model_capability_dependency.py
  src/omnibase_core/models/capabilities/model_capability_metadata.py
  src/omnibase_core/models/capabilities/model_capability_requirement_set.py
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/protocol_from_event.py
  src/omnibase_core/services/registry/__init__.py
  src/omnibase_core/services/registry/registry_capability.py
  src/omnibase_core/services/registry/registry_provider.py
  tests/unit/models/capabilities/test_model_capability_dependency.py
  tests/unit/models/capabilities/test_model_capability_metadata.py
  tests/unit/models/capabilities/test_model_capability_requirement_set.py
  tests/unit/services/__init__.py
  tests/unit/services/registry/__init__.py
  tests/unit/services/registry/test_registry_capability.py
  tests/unit/services/registry/test_registry_provider.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add contract validation event schema (OMN-1146) (#293)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_validation.py
  src/omnibase_core/enums/enum_validation_mode.py
  src/omnibase_core/models/events/contract_validation/__init__.py
  src/omnibase_core/models/events/contract_validation/model_contract_merge_completed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_merge_started_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_ref.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_event_base.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_failed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_passed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_started_event.py
  src/omnibase_core/models/events/contract_validation/model_validation_context.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/protocol_contract_validation_invariant_checker.py
  src/omnibase_core/protocols/validation/__init__.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/contract_validation_invariant_checker.py
  tests/unit/models/events/contract_validation/__init__.py
  tests/unit/models/events/contract_validation/conftest.py
  tests/unit/models/events/contract_validation/test_contract_validation_invariant_checker.py
  tests/unit/models/events/contract_validation/test_model_contract_ref.py
  tests/unit/models/events/contract_validation/test_model_contract_validation_events.py
  tests/unit/models/events/contract_validation/test_model_validation_context.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add ModelProjectorContract and schema models (OMN-1166)
  src/omnibase_core/models/projectors/__init__.py
  src/omnibase_core/models/projectors/model_idempotency_config.py
  src/omnibase_core/models/projectors/model_projector_behavior.py
  src/omnibase_core/models/projectors/model_projector_column.py
  src/omnibase_core/models/projectors/model_projector_contract.py
  src/omnibase_core/models/projectors/model_projector_index.py
  src/omnibase_core/models/projectors/model_projector_schema.py
  src/omnibase_core/schemas/projector_contract.schema.json
  tests/unit/models/projectors/__init__.py
  tests/unit/models/projectors/test_model_idempotency_config.py
  tests/unit/models/projectors/test_model_projector_behavior.py
  tests/unit/models/projectors/test_model_projector_column.py
  tests/unit/models/projectors/test_model_projector_contract.py
  tests/unit/models/projectors/test_model_projector_index.py
  tests/unit/models/projectors/test_model_projector_schema.py
  tests/unit/models/projectors/test_schema_drift.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(contracts): DRY up duplicate detection in ContractPatchValidator (OMN-1126)
  src/omnibase_core/validation/contract_patch_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(contracts): add handler contract guide with ID prefix convention
  docs/INDEX.md
  docs/contracts/HANDLER_CONTRACT_GUIDE.md
Due: none

feat(errors): add centralized exception groups and refactor to use them
  CLAUDE.md
  src/omnibase_core/errors/__init__.py
  src/omnibase_core/errors/exception_groups.py
  src/omnibase_core/models/infrastructure/model_result_dict.py
  src/omnibase_core/models/metadata/model_metadata_field_info.py
  src/omnibase_core/models/node_metadata/model_node_type.py
  src/omnibase_core/models/operations/model_execution_metadata.py
  src/omnibase_core/models/orchestrator/model_orchestrator_output.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(pipeline): enable hook typing enforcement by default (OMN-1157)
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  src/omnibase_core/pipeline/builder_execution_plan.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(manifest): add EnumExecutionStatus classmethods and delegate from ModelHookTrace
  src/omnibase_core/enums/enum_execution_status.py
  src/omnibase_core/models/manifest/model_hook_trace.py
  tests/unit/enums/test_enum_execution_status.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): remove Any type annotations from workflow/fsm/orchestrator (OMN-1177)
  src/omnibase_core/models/fsm/model_fsm_data_primary.py
  src/omnibase_core/models/fsm/model_fsm_state.py
  src/omnibase_core/models/fsm/model_fsm_transition.py
  src/omnibase_core/models/fsm/model_fsm_transition_result.py
  src/omnibase_core/models/orchestrator/model_orchestrator_output.py
  src/omnibase_core/models/orchestrator/payloads/model_action_typed_payload.py
  src/omnibase_core/models/workflow/execution/model_workflow_state_snapshot.py
  src/omnibase_core/models/workflow/execution/model_workflow_step_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(resolution): add ModelBinding & ServiceCapabilityResolver (OMN-1155)
  src/omnibase_core/models/bindings/__init__.py
  src/omnibase_core/models/bindings/model_binding.py
  src/omnibase_core/models/bindings/model_resolution_result.py
  src/omnibase_core/models/providers/model_provider_descriptor.py
  src/omnibase_core/protocols/resolution/__init__.py
  src/omnibase_core/protocols/resolution/protocol_capability_resolver.py
  src/omnibase_core/services/service_capability_resolver.py
  tests/unit/models/bindings/__init__.py
  tests/unit/models/bindings/test_model_binding.py
  tests/unit/services/__init__.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #296 review feedback
  src/omnibase_core/models/projectors/model_idempotency_config.py
  src/omnibase_core/models/projectors/model_projector_behavior.py
  src/omnibase_core/models/projectors/model_projector_contract.py
  src/omnibase_core/models/projectors/model_projector_index.py
  src/omnibase_core/models/projectors/model_projector_schema.py
  src/omnibase_core/schemas/projector_contract.schema.json
  tests/unit/models/projectors/__init__.py
  tests/unit/models/projectors/test_model_idempotency_config.py
  tests/unit/models/projectors/test_model_projector_behavior.py
  tests/unit/models/projectors/test_model_projector_column.py
  tests/unit/models/projectors/test_model_projector_index.py
  tests/unit/models/projectors/test_model_projector_schema.py
  tests/unit/models/projectors/test_schema_drift.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: add breaking change documentation for hook typing enforcement (OMN-1157)
  CHANGELOG.md
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  src/omnibase_core/pipeline/builder_execution_plan.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(pipeline): enable hook typing enforcement by default (OMN-1157) (#297)
  CHANGELOG.md
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  src/omnibase_core/pipeline/builder_execution_plan.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(capabilities): add version_range field with semver validation
  src/omnibase_core/models/capabilities/model_capability_dependency.py
  tests/unit/models/capabilities/test_model_capability_dependency.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(security): add module allowlist for dynamic import resolution (OMN-1126)
  src/omnibase_core/models/contracts/model_reference.py
  src/omnibase_core/validation/contract_patch_validator.py
  tests/unit/models/contracts/test_model_reference.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(models): address PR #298 review feedback
  src/omnibase_core/models/fsm/model_fsm_data_primary.py
  src/omnibase_core/models/fsm/model_fsm_state.py
  src/omnibase_core/utils/__init__.py
  src/omnibase_core/utils/util_validators.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address remaining PR #296 review feedback
  src/omnibase_core/models/projectors/model_projector_contract.py
  src/omnibase_core/schemas/projector_contract.schema.json
  tests/unit/cli/test_composition_report.py
  tests/unit/models/projectors/test_model_projector_contract.py
  tests/unit/models/projectors/test_schema_drift.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(resolution): address PR #299 review feedback
  src/omnibase_core/models/bindings/model_binding.py
  src/omnibase_core/models/bindings/model_resolution_result.py
  src/omnibase_core/protocols/resolution/protocol_capability_resolver.py
  src/omnibase_core/services/service_capability_resolver.py
  tests/unit/models/bindings/test_model_binding.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): alphabetize exception tuples per coding standards
  src/omnibase_core/mixins/mixin_discovery_responder.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/mixins/mixin_node_lifecycle.py
  src/omnibase_core/mixins/mixin_node_service.py
  src/omnibase_core/models/connections/model_connection_metrics.py
  src/omnibase_core/models/connections/model_connection_security.py
  src/omnibase_core/models/contracts/model_contract_reducer.py
  src/omnibase_core/models/examples/model_typed_property.py
  src/omnibase_core/models/security/model_secure_credentials.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #296 minor review feedback
  src/omnibase_core/enums/enum_activation_reason.py
  src/omnibase_core/pipeline/manifest_generator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(resolution): address PR #299 review feedback - validator type hints
  src/omnibase_core/models/bindings/model_binding.py
  src/omnibase_core/models/bindings/model_resolution_result.py
  src/omnibase_core/services/service_capability_resolver.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(fsm): use shared validator utilities in FSM models
  src/omnibase_core/models/fsm/model_fsm_data_primary.py
  src/omnibase_core/models/fsm/model_fsm_state.py
  src/omnibase_core/models/fsm/model_fsm_transition.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #292 review feedback
  src/omnibase_core/models/contracts/model_action_config_parameter.py
  src/omnibase_core/models/contracts/model_capability_dependency.py
  src/omnibase_core/models/contracts/model_contract_fingerprint.py
  src/omnibase_core/models/contracts/model_contract_meta.py
  src/omnibase_core/models/contracts/model_contract_normalization_config.py
  src/omnibase_core/models/contracts/model_dependency_spec.py
  src/omnibase_core/models/contracts/model_drift_details.py
  src/omnibase_core/models/contracts/model_drift_result.py
  src/omnibase_core/models/contracts/model_handler_contract.py
  src/omnibase_core/models/contracts/model_workflow_step.py
  src/omnibase_core/models/dispatch/model_dispatch_result.py
  src/omnibase_core/models/dispatch/model_dispatch_route.py
  src/omnibase_core/models/dispatch/model_handler_output.py
  src/omnibase_core/models/dispatch/model_handler_registration.py
  src/omnibase_core/models/dispatch/model_topic_parser.py
  src/omnibase_core/models/manifest/model_emissions_summary.py
  src/omnibase_core/models/projectors/model_idempotency_config.py
  src/omnibase_core/models/projectors/model_projector_behavior.py
  src/omnibase_core/models/registration/model_dual_registration_outcome.py
  src/omnibase_core/models/registration/model_registration_payload.py
  src/omnibase_core/models/requirements/model_requirement_evaluator.py
  src/omnibase_core/models/runtime/model_handler_behavior.py
  src/omnibase_core/models/runtime/model_handler_behavior_descriptor.py
  tests/unit/models/contracts/test_model_capability_dependency.py
  tests/unit/models/contracts/test_model_handler_contract.py
  tests/unit/models/contracts/test_model_reference.py
  tests/unit/validation/test_validate_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(resolution): address PR #299 review feedback - code quality
  src/omnibase_core/models/providers/model_provider_descriptor.py
  src/omnibase_core/services/service_capability_resolver.py
  tests/unit/models/providers/test_model_provider_descriptor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): replace BaseException with Exception in non-cleanup contexts
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/mixins/mixin_contract_state_reducer.py
  src/omnibase_core/mixins/mixin_node_service.py
  src/omnibase_core/models/infrastructure/model_transaction.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(fsm): use shared validator utility in FSM transition result
  src/omnibase_core/models/fsm/model_fsm_transition_result.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor!: remove ModelHandlerBehaviorDescriptor backwards compatibility
  CHANGELOG.md
  src/omnibase_core/models/contracts/model_handler_contract.py
  src/omnibase_core/models/runtime/model_descriptor_circuit_breaker.py
  src/omnibase_core/models/runtime/model_descriptor_retry_policy.py
  src/omnibase_core/models/runtime/model_handler_behavior.py
  src/omnibase_core/models/runtime/model_handler_behavior_descriptor.py
  tests/unit/models/contracts/test_model_handler_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
