Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(OMN-17324): a sibling clone git cannot read is not a sibling clone
  tests/unit/scripts/ci/test_verify_flip_bundle.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16619): count individual test-file selections, not just directories
  src/omnibase_core/nodes/node_test_selector_compute/runtime_test_selector.py
  tests/unit/nodes/node_test_selector_compute/test_runtime_test_selector.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-16619): md-only short-circuit — stage the zone classifier so it actually fires (#1629)
  .github/workflows/ci.yml
  pyproject.toml
  scripts/zone_diff_filter.py
  src/omnibase_core/nodes/node_test_selector_compute/runtime_test_selector.py
  tests/ci/test_zone_filter_job_omn16619.py
  tests/scripts/test_prepush_hook_host_identity_guard.py
  tests/scripts/test_zone_diff_filter.py
  tests/unit/nodes/node_test_selector_compute/test_runtime_test_selector.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-16619): md-only short-circuit proof
  README.md
Due: none

feat(OMN-17304): RuntimeLocal client mode — publish for dispatch, host nothing, await THIS run's terminal
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local_client_mode.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17324): a sibling clone git cannot read is not a sibling clone (#1631)
  tests/unit/scripts/ci/test_verify_flip_bundle.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16998): terminal_failure_cause names the observed provider status class
  src/omnibase_core/enums/enum_delegation_terminal_failure_cause.py
  tests/unit/enums/test_enum_delegation_terminal_failure_cause.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-17308): every evidence-producing execution self-identifies — runtime-identity stamp + fail-closed receipt gate + probe-target assertion
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements.yaml
  docs/evidence/runtime-identity/grandfathered-receipt.golden.json
  docs/evidence/runtime-identity/stamped-lane-receipt.golden.json
  pyproject.toml
  scripts/ci/ci_summary_gate.py
  src/omnibase_core/enums/enum_execution_locus_kind.py
  src/omnibase_core/enums/enum_package_source_kind.py
  src/omnibase_core/enums/enum_probe_target_disagreement.py
  src/omnibase_core/enums/enum_runtime_identity_rule.py
  src/omnibase_core/models/dispatch/model_skill_result.py
  src/omnibase_core/models/runtime/__init__.py
  src/omnibase_core/models/runtime/model_declared_target_identity.py
  src/omnibase_core/models/runtime/model_package_identity.py
  src/omnibase_core/models/runtime/model_probe_target_verdict.py
  src/omnibase_core/models/runtime/model_runtime_identity.py
  src/omnibase_core/models/validation/model_runtime_identity_violation.py
  src/omnibase_core/validation/validator_probe_target.py
  src/omnibase_core/validation/validator_receipt_runtime_identity.py
  tests/unit/models/dispatch/test_model_skill_result.py
  tests/unit/models/dispatch/test_model_skill_result_runtime_identity.py
  tests/unit/models/runtime/test_model_runtime_identity.py
  tests/unit/validation/test_probe_target_assertion.py
  tests/unit/validation/test_receipt_runtime_identity_gate.py
  tests/validation/test_validator_requirements_consumer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17308): keep the documented receipt example executable at schema 1.1.0
  src/omnibase_core/models/dispatch/model_skill_result.py
  tests/unit/models/dispatch/test_model_skill_result_runtime_identity.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16998): terminal_failure_cause names the observed provider status class (#1632)
  src/omnibase_core/enums/enum_delegation_terminal_failure_cause.py
  tests/unit/enums/test_enum_delegation_terminal_failure_cause.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17308): the gate refuses instead of crashing on no target, and fixtures stop tripping the secret scanner
  docs/evidence/runtime-identity/stamped-lane-receipt.golden.json
  src/omnibase_core/models/dispatch/model_skill_result.py
  src/omnibase_core/validation/validator_receipt_runtime_identity.py
  tests/unit/models/runtime/test_model_runtime_identity.py
  tests/unit/validation/test_probe_target_assertion.py
  tests/unit/validation/test_receipt_runtime_identity_gate.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-17304): RuntimeLocal client mode — publish for dispatch, host nothing, await THIS run's terminal (#1633)
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local_client_mode.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17319): remove dead async autouse fixture that errors on pytest 9.1 + wire an async-fixture-decorator gate
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/check_async_fixture_decorators.py
  tests/unit/models/nodes/node_services/test_model_service_orchestrator_integration.py
  tests/unit/scripts/ci/test_async_fixture_decorators.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17308): allowlist synthetic execution locus fixtures
  tests/unit/validation/test_probe_target_assertion.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17159): make the host slot re-entrant for a hook nested in its own run
  scripts/hooks/prepush_smart_tests.sh
  tests/scripts/test_prepush_hook_host_identity_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-17159): give omnibase_core a lab host table so heavy escalations can leave .200
  .pre-commit-config.yaml
  pyproject.toml
  scripts/hooks/prepush_dispatch.sh
  scripts/hooks/prepush_hosts.tsv
  scripts/hooks/prepush_override_grant.py
  scripts/hooks/prepush_smart_tests.sh
  scripts/hooks/pytest_full_suite_host_guard.py
  tests/scripts/_prepush_lab_isolation.py
  tests/scripts/test_prepush_hook_host_identity_guard.py
  tests/scripts/test_prepush_hook_recursion_and_env_guard.py
  tests/scripts/test_prepush_host_table.py
  tests/scripts/test_prepush_override_grant.py
  tests/scripts/test_pytest_full_suite_host_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17159): annotate the picker's sha256 parity pin for detect-secrets
  tests/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-17308): runtime-identity stamp — an unstamped receipt becomes unconstructable, and the gate ships wired (#1634)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  architecture-handshakes/validator-requirements.yaml
  docs/evidence/runtime-identity/grandfathered-receipt.golden.json
  docs/evidence/runtime-identity/stamped-lane-receipt.golden.json
  pyproject.toml
  scripts/ci/ci_summary_gate.py
  src/omnibase_core/enums/enum_execution_locus_kind.py
  src/omnibase_core/enums/enum_package_source_kind.py
  src/omnibase_core/enums/enum_probe_target_disagreement.py
  src/omnibase_core/enums/enum_runtime_identity_rule.py
  src/omnibase_core/models/dispatch/model_skill_result.py
  src/omnibase_core/models/runtime/__init__.py
  src/omnibase_core/models/runtime/model_declared_target_identity.py
  src/omnibase_core/models/runtime/model_package_identity.py
  src/omnibase_core/models/runtime/model_probe_target_verdict.py
  src/omnibase_core/models/runtime/model_runtime_identity.py
  src/omnibase_core/models/validation/model_runtime_identity_violation.py
  src/omnibase_core/validation/validator_probe_target.py
  src/omnibase_core/validation/validator_receipt_runtime_identity.py
  tests/unit/models/dispatch/test_model_skill_result.py
  tests/unit/models/dispatch/test_model_skill_result_runtime_identity.py
  tests/unit/models/runtime/test_model_runtime_identity.py
  tests/unit/validation/test_probe_target_assertion.py
  tests/unit/validation/test_receipt_runtime_identity_gate.py
  tests/validation/test_validator_requirements_consumer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-17159): give omnibase_core a lab host table so heavy escalations can leave .200 (#1635)
  .pre-commit-config.yaml
  pyproject.toml
  scripts/hooks/prepush_dispatch.sh
  scripts/hooks/prepush_hosts.tsv
  scripts/hooks/prepush_override_grant.py
  scripts/hooks/prepush_smart_tests.sh
  scripts/hooks/pytest_full_suite_host_guard.py
  tests/scripts/_prepush_lab_isolation.py
  tests/scripts/test_prepush_hook_host_identity_guard.py
  tests/scripts/test_prepush_hook_recursion_and_env_guard.py
  tests/scripts/test_prepush_host_table.py
  tests/scripts/test_prepush_override_grant.py
  tests/scripts/test_pytest_full_suite_host_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17272): release main-sync must push as onexbot-occ-writer, not github-actions[bot]
  .github/workflows/release.yml
Due: validate-string-versions

fix(OMN-17272): release main-sync must push as onexbot-occ-writer, not github-actions[bot] (#1637)
  .github/workflows/release.yml
Due: validate-string-versions

fix(OMN-17319): remove dead async autouse fixture that errors on pytest 9.1 + wire an async-fixture-decorator gate (#1636)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/check_async_fixture_decorators.py
  tests/unit/models/nodes/node_services/test_model_service_orchestrator_integration.py
  tests/unit/scripts/ci/test_async_fixture_decorators.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17272): scope core release App token for workflows
  .github/workflows/release.yml
  tests/unit/validation/test_release_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17272): scope core release App token for workflows (#1638)
  .github/workflows/release.yml
  tests/unit/validation/test_release_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-17013): carry stable delegation receipt identity
  pyproject.toml
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-17172): require the KB doc gate on omnibase_core PRs
  .github/workflows/kb-doc-gate.yml
Due: validate-string-versions

ci(OMN-17172): require the KB doc gate on omnibase_core PRs (#1639)
  .github/workflows/kb-doc-gate.yml
Due: validate-string-versions

fix(OMN-17503): support local-only pre-push scope
  pyproject.toml
  scripts/hooks/prepush_smart_tests.sh
  tests/scripts/test_prepush_hook_host_identity_guard.py
  uv.lock
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-16634): baseline the receipt's sha256 digests as Hex High Entropy false positives
  .secrets.baseline
Due: none

feat(OMN-16634): add hcloud — AWS EC2 overflow/off-LAN capacity row for the governed pre-push picker
  scripts/hooks/prepush_hosts.tsv
  tests/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16634): make the pre-push host-identity refusal proofs host-independent
  docs/evidence/prepush-hcloud/hcloud-host-identity.receipt.json
  tests/scripts/test_prepush_hook_host_identity_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17606): the slot probe read every lab Mac as busy on a free slot
  scripts/hooks/prepush_dispatch.sh
  tests/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-17602): widen h101 and h105 to slots=2 in omnibase_core's pre-push host table
  scripts/hooks/prepush_hosts.tsv
  tests/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-16634): add the hcloud EC2 overflow row and make the host-identity refusal proofs host-independent (#1640)
  .secrets.baseline
  docs/evidence/prepush-hcloud/hcloud-host-identity.receipt.json
  scripts/hooks/prepush_dispatch.sh
  scripts/hooks/prepush_hosts.tsv
  tests/scripts/test_prepush_hook_host_identity_guard.py
  tests/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-17776): raise .201 (h201) to 3 concurrent pre-push slots in omnibase_core's table
  scripts/hooks/prepush_hosts.tsv
  tests/scripts/test_prepush_host_table.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17603): carry the pytest execution policy and a liveness bound across the pre-push remote dispatch seam
  scripts/hooks/prepush_dispatch.sh
  tests/scripts/test_prepush_host_table.py
  tests/scripts/test_prepush_remote_leg_policy.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(delegation): add v2 terminal wire classes
  pyproject.toml
  scripts/validation/validate-single-class-per-file.py
  src/omnibase_core/models/delegation/wire/__init__.py
  src/omnibase_core/models/delegation/wire/model_delegation_terminal_v2.py
  tests/unit/models/delegation/wire/test_model_delegation_terminal_v2.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(delegation): preserve routed quality evidence
  src/omnibase_core/enums/enum_delegation_routing_disposition.py
  src/omnibase_core/enums/enum_delegation_terminal_outcome.py
  src/omnibase_core/enums/enum_delegation_unrouted_reason.py
  src/omnibase_core/models/delegation/wire/model_delegation_terminal_v2.py
  tests/unit/models/delegation/wire/test_model_delegation_terminal_v2.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-17603): make the AC-8 inifile-shadow proof uv-independent
  tests/scripts/test_prepush_remote_leg_policy.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(delegation): centralize routed quality evidence
  src/omnibase_core/models/delegation/wire/model_delegation_terminal_v2.py
  tests/unit/models/delegation/wire/test_model_delegation_terminal_v2.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
