Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(review): remove backwards compatibility aliases per v0.4.0 rules (OMN-1222)
  src/omnibase_core/validation/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add Contract Validation Pipeline (OMN-1128) (#321)
  scripts/validate_class_naming.py
  scripts/validation/validate_naming.py
  src/omnibase_core/enums/enum_contract_validation_error_code.py
  src/omnibase_core/enums/enum_validation_phase.py
  src/omnibase_core/models/common/model_validation_issue.py
  src/omnibase_core/models/validation/model_contract_validation_result.py
  src/omnibase_core/models/validation/model_expanded_contract_result.py
  src/omnibase_core/models/validation/model_lint_statistics.py
  src/omnibase_core/models/validation/model_lint_warning.py
  src/omnibase_core/models/validation/model_validation_error.py
  src/omnibase_core/protocols/validation/__init__.py
  src/omnibase_core/protocols/validation/protocol_constraint_validation_result.py
  src/omnibase_core/protocols/validation/protocol_constraint_validator.py
  src/omnibase_core/protocols/validation/protocol_contract_validation_pipeline.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/contract_validation_pipeline.py
  src/omnibase_core/validation/phases/__init__.py
  src/omnibase_core/validation/phases/expanded_contract_graph_validator.py
  src/omnibase_core/validation/phases/expanded_validator.py
  src/omnibase_core/validation/phases/merge_validator.py
  src/omnibase_core/validation/validation_utils.py
  src/omnibase_core/validation/validators/__init__.py
  tests/unit/enums/test_enum_contract_validation_error_code.py
  tests/unit/enums/test_enum_validation_phase.py
  tests/unit/validation/phases/__init__.py
  tests/unit/validation/phases/test_contract_validation_performance.py
  tests/unit/validation/phases/test_expanded_validator.py
  tests/unit/validation/phases/test_merge_validator.py
  tests/unit/validation/test_contract_validation_pipeline.py
  tests/unit/validation/test_validation_performance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): implement AST-based transport import validator (OMN-1039) (#323)
  .pre-commit-config.yaml
  scripts/validate_no_transport_imports.py
  tests/unit/scripts/test_validate_no_transport_imports.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(contracts): add YAML !include directive support (OMN-1047) (#326)
  src/omnibase_core/contracts/__init__.py
  src/omnibase_core/contracts/contract_loader.py
  tests/unit/contracts/fixtures/absolute_path.yaml
  tests/unit/contracts/fixtures/basic_contract.yaml
  tests/unit/contracts/fixtures/circular_a.yaml
  tests/unit/contracts/fixtures/circular_b.yaml
  tests/unit/contracts/fixtures/contract_multiple_includes.yaml
  tests/unit/contracts/fixtures/contract_with_include.yaml
  tests/unit/contracts/fixtures/empty_include.yaml
  tests/unit/contracts/fixtures/missing_include.yaml
  tests/unit/contracts/fixtures/nested_include.yaml
  tests/unit/contracts/fixtures/path_traversal.yaml
  tests/unit/contracts/fixtures/self_reference.yaml
  tests/unit/contracts/fixtures/subcontracts/empty.yaml
  tests/unit/contracts/fixtures/subcontracts/events.yaml
  tests/unit/contracts/fixtures/subcontracts/level1.yaml
  tests/unit/contracts/fixtures/subcontracts/level2.yaml
  tests/unit/contracts/fixtures/subcontracts/routing.yaml
  tests/unit/contracts/test_contract_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR review feedback for ModelChangeProposal (OMN-1196)
  src/omnibase_core/models/operations/model_change_proposal.py
  tests/unit/models/operations/test_model_change_proposal.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(comparison): address PR #327 review feedback for computed fields and tests (OMN-1194)
  tests/unit/models/comparison/conftest.py
  tests/unit/models/comparison/test_model_execution_comparison.py
  tests/unit/models/comparison/test_model_invariant_comparison_summary.py
  tests/unit/models/comparison/test_model_output_diff.py
  tests/unit/models/comparison/test_model_value_change.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(evidence): improve docstrings and add critical violations test (OMN-1195)
  src/omnibase_core/models/evidence/model_evidence_summary.py
  tests/unit/models/evidence/test_model_invariant_violation_breakdown.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(replay): add ModelExecutionCorpus for replay test sets (OMN-1202)
  src/omnibase_core/models/replay/__init__.py
  src/omnibase_core/models/replay/model_corpus_capture_window.py
  src/omnibase_core/models/replay/model_corpus_statistics.py
  src/omnibase_core/models/replay/model_corpus_time_range.py
  src/omnibase_core/models/replay/model_execution_corpus.py
  tests/unit/models/replay/test_model_execution_corpus.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(naming): update imports and add replay infrastructure exemption (OMN-1222)
  scripts/validation/validate_naming.py
  src/omnibase_core/validation/contract_validation_pipeline.py
  tests/unit/validation/test_contract_validation_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(comparison): add data consistency validation and address PR #327 review feedback (OMN-1194)
  src/omnibase_core/models/comparison/model_invariant_comparison_summary.py
  tests/unit/models/comparison/test_model_execution_comparison.py
  tests/unit/models/comparison/test_model_invariant_comparison_summary.py
  tests/unit/models/comparison/test_model_output_diff.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(trace): add ServiceTraceRecording for execution trace storage (OMN-1209)
  src/omnibase_core/models/trace_query/__init__.py
  src/omnibase_core/models/trace_query/model_trace_query.py
  src/omnibase_core/models/trace_query/model_trace_summary.py
  src/omnibase_core/services/trace/__init__.py
  src/omnibase_core/services/trace/protocol_trace_store.py
  src/omnibase_core/services/trace/service_trace_recording.py
  src/omnibase_core/services/trace/store_trace_in_memory.py
  tests/unit/services/trace/__init__.py
  tests/unit/services/trace/test_service_trace_recording.py
  tests/unit/services/trace/test_store_trace_in_memory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(config): resolve ModelCircuitBreaker Pydantic forward reference error (OMN-1195)
  src/omnibase_core/models/configuration/model_circuit_breaker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(replay): address PR review feedback for ModelExecutionCorpus
  src/omnibase_core/models/replay/__init__.py
  src/omnibase_core/models/replay/model_corpus_time_range.py
  src/omnibase_core/models/replay/model_execution_corpus.py
  tests/unit/models/replay/test_model_corpus_time_range.py
  tests/unit/models/replay/test_model_execution_corpus.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(naming): add RecorderEffect to architectural exemptions
  scripts/validation/validate_naming.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(models): add max_depth param and document type coercion (OMN-1196)
  src/omnibase_core/models/operations/model_change_proposal.py
  tests/unit/models/operations/test_model_change_proposal.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(replay): add configuration override injection for A/B testing (OMN-1205)
  src/omnibase_core/enums/replay/__init__.py
  src/omnibase_core/enums/replay/enum_override_injection_point.py
  src/omnibase_core/models/replay/__init__.py
  src/omnibase_core/models/replay/model_config_override.py
  src/omnibase_core/models/replay/model_config_override_field_preview.py
  src/omnibase_core/models/replay/model_config_override_preview.py
  src/omnibase_core/models/replay/model_config_override_result.py
  src/omnibase_core/models/replay/model_config_override_set.py
  src/omnibase_core/models/replay/model_config_override_validation.py
  src/omnibase_core/models/replay/model_replay_input.py
  src/omnibase_core/services/replay/__init__.py
  src/omnibase_core/services/replay/sentinel_missing.py
  src/omnibase_core/services/replay/service_config_override_injector.py
  tests/unit/models/replay/test_model_config_overrides.py
  tests/unit/models/replay/test_model_replay_input.py
  tests/unit/services/replay/__init__.py
  tests/unit/services/replay/test_service_config_override_injector.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): update tests to use canonical names per v0.4.0 rules (OMN-1222)
  tests/unit/test_backwards_compatibility_omn1071.py
  tests/unit/validation/test_validators_init.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(trace): address PR review feedback for trace recording service
  src/omnibase_core/models/trace_query/model_trace_query.py
  src/omnibase_core/models/trace_query/model_trace_summary.py
  src/omnibase_core/services/trace/__init__.py
  src/omnibase_core/services/trace/protocol_trace_store.py
  src/omnibase_core/services/trace/service_trace_recording.py
  tests/unit/services/trace/test_service_trace_recording.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(comparison): add edge case tests and improve test naming for PR #327 release (OMN-1194)
  tests/unit/models/comparison/conftest.py
  tests/unit/models/comparison/test_model_execution_comparison.py
  tests/unit/models/comparison/test_model_invariant_comparison_summary.py
  tests/unit/models/comparison/test_model_output_diff.py
  tests/unit/models/comparison/test_model_value_change.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(replay): relocate non-node utilities from pipeline to services
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/replay/__init__.py
  src/omnibase_core/pipeline/replay/executor_replay.py
  src/omnibase_core/pipeline/replay/session_replay.py
  src/omnibase_core/protocols/replay/protocol_effect_recorder.py
  src/omnibase_core/protocols/replay/protocol_rng_service.py
  src/omnibase_core/protocols/replay/protocol_time_service.py
  src/omnibase_core/services/replay/__init__.py
  src/omnibase_core/services/replay/injector_rng.py
  src/omnibase_core/services/replay/injector_time.py
  src/omnibase_core/services/replay/recorder_effect.py
  tests/unit/pipeline/replay/test_injector_rng.py
  tests/unit/pipeline/replay/test_injector_time.py
  tests/unit/pipeline/replay/test_recorder_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): add architectural exemption for replay infrastructure
  scripts/validation/validate_naming.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(contracts): add event emission to validation pipeline and merge engine (OMN-1151)
  scripts/validation/validate-contracts.py
  scripts/validation/validate_naming.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_event_sink_type.py
  src/omnibase_core/merge/contract_merge_engine.py
  src/omnibase_core/models/validation/__init__.py
  src/omnibase_core/models/validation/model_event_destination.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/protocol_contract_validation_event_emitter.py
  src/omnibase_core/protocols/validation/__init__.py
  src/omnibase_core/protocols/validation/protocol_contract_validation_event_emitter.py
  src/omnibase_core/protocols/validation/protocol_event_sink.py
  src/omnibase_core/services/service_contract_validation_event_emitter.py
  src/omnibase_core/services/sinks/__init__.py
  src/omnibase_core/services/sinks/sink_file.py
  src/omnibase_core/services/sinks/sink_memory.py
  src/omnibase_core/validation/contract_validation_pipeline.py
  tests/integration/validation/__init__.py
  tests/integration/validation/test_contract_validation_events_e2e.py
  tests/unit/merge/test_contract_merge_engine_events.py
  tests/unit/models/validation/test_model_event_destination.py
  tests/unit/services/test_service_contract_validation_event_emitter.py
  tests/unit/validation/test_contract_validation_pipeline_events.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(replay): add validation and documentation improvements for ModelExecutionCorpus
  src/omnibase_core/models/replay/model_corpus_capture_window.py
  src/omnibase_core/models/replay/model_corpus_statistics.py
  src/omnibase_core/models/replay/model_execution_corpus.py
  tests/unit/models/replay/test_model_execution_corpus.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(evidence): address PR #328 final review feedback (OMN-1195)
  src/omnibase_core/models/evidence/model_cost_statistics.py
  src/omnibase_core/models/evidence/model_latency_statistics.py
  tests/unit/models/evidence/test_model_latency_statistics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(models): add test for simultaneous invalid URL validation (OMN-1196)
  tests/unit/models/operations/test_model_change_proposal.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(trace): address remaining PR review feedback for trace recording
  src/omnibase_core/services/trace/service_trace_recording.py
  tests/unit/services/trace/test_store_trace_in_memory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(trace): add ServiceTraceRecording for execution trace storage (OMN-1209) (#330)
  scripts/validation/validate_naming.py
  src/omnibase_core/models/trace_query/__init__.py
  src/omnibase_core/models/trace_query/model_trace_query.py
  src/omnibase_core/models/trace_query/model_trace_summary.py
  src/omnibase_core/services/trace/__init__.py
  src/omnibase_core/services/trace/protocol_trace_store.py
  src/omnibase_core/services/trace/service_trace_recording.py
  src/omnibase_core/services/trace/store_trace_in_memory.py
  tests/unit/services/trace/__init__.py
  tests/unit/services/trace/test_service_trace_recording.py
  tests/unit/services/trace/test_store_trace_in_memory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address PR #332 review feedback (OMN-1151)
  src/omnibase_core/merge/contract_merge_engine.py
  src/omnibase_core/services/service_contract_validation_event_emitter.py
  src/omnibase_core/services/sinks/sink_file.py
  src/omnibase_core/validation/contract_validation_pipeline.py
  tests/integration/validation/test_contract_validation_events_e2e.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(replay): add to_reference, merge, and size validation to ModelExecutionCorpus
  docs/INDEX.md
  docs/guides/EXECUTION_CORPUS_GUIDE.md
  src/omnibase_core/models/replay/model_execution_corpus.py
  tests/unit/models/replay/test_model_execution_corpus.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(comparison): add delta validation and deepdiff integration for PR #327 (OMN-1194)
  src/omnibase_core/models/comparison/model_execution_comparison.py
  src/omnibase_core/models/comparison/model_output_diff.py
  tests/unit/models/comparison/test_model_execution_comparison.py
  tests/unit/models/comparison/test_model_output_diff.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(replay): fix test imports and add __all__ exports (OMN-1205)
  src/omnibase_core/models/replay/model_config_override.py
  src/omnibase_core/models/replay/model_config_override_field_preview.py
  src/omnibase_core/models/replay/model_config_override_preview.py
  src/omnibase_core/models/replay/model_config_override_result.py
  src/omnibase_core/models/replay/model_config_override_set.py
  src/omnibase_core/services/replay/service_config_override_injector.py
  tests/unit/models/replay/test_model_config_overrides.py
  tests/unit/models/replay/test_model_replay_input.py
  tests/unit/services/replay/test_service_config_override_injector.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(replay): add ModelExecutionCorpus for replay test sets (OMN-1202) (#329)
  docs/INDEX.md
  docs/guides/EXECUTION_CORPUS_GUIDE.md
  src/omnibase_core/models/replay/__init__.py
  src/omnibase_core/models/replay/model_corpus_capture_window.py
  src/omnibase_core/models/replay/model_corpus_statistics.py
  src/omnibase_core/models/replay/model_corpus_time_range.py
  src/omnibase_core/models/replay/model_execution_corpus.py
  tests/unit/models/replay/test_model_corpus_time_range.py
  tests/unit/models/replay/test_model_execution_corpus.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(models): improve ModelChangeProposal readability and error context (OMN-1196)
  src/omnibase_core/models/operations/model_change_proposal.py
  tests/unit/models/operations/test_model_change_proposal.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(invariant): add ModelInvariantViolationDetail for debugging failures (OMN-1207)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_comparison_type.py
  src/omnibase_core/models/invariant/__init__.py
  src/omnibase_core/models/invariant/model_invariant_violation_detail.py
  tests/unit/models/invariant/test_model_invariant_violation_detail.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(evidence): address PR #328 documentation feedback (OMN-1195)
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  src/omnibase_core/models/evidence/model_evidence_summary.py
  src/omnibase_core/models/evidence/model_latency_statistics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(events): add event ordering and buffer size documentation
  src/omnibase_core/models/validation/model_event_destination.py
  src/omnibase_core/services/sinks/sink_memory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(contracts): add event emission to validation pipeline and merge engine (OMN-1151) (#332)
  scripts/validation/validate-contracts.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_event_sink_type.py
  src/omnibase_core/merge/contract_merge_engine.py
  src/omnibase_core/models/validation/__init__.py
  src/omnibase_core/models/validation/model_event_destination.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/protocol_contract_validation_event_emitter.py
  src/omnibase_core/protocols/validation/__init__.py
  src/omnibase_core/protocols/validation/protocol_contract_validation_event_emitter.py
  src/omnibase_core/protocols/validation/protocol_event_sink.py
  src/omnibase_core/services/service_contract_validation_event_emitter.py
  src/omnibase_core/services/sinks/__init__.py
  src/omnibase_core/services/sinks/sink_file.py
  src/omnibase_core/services/sinks/sink_memory.py
  src/omnibase_core/validation/contract_validation_pipeline.py
  tests/integration/validation/__init__.py
  tests/integration/validation/test_contract_validation_events_e2e.py
  tests/unit/merge/test_contract_merge_engine_events.py
  tests/unit/models/validation/test_model_event_destination.py
  tests/unit/services/test_service_contract_validation_event_emitter.py
  tests/unit/validation/test_contract_validation_pipeline_events.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(comparison): address all PR #327 review feedback for release (OMN-1194)
  src/omnibase_core/models/comparison/model_execution_comparison.py
  tests/unit/models/comparison/conftest.py
  tests/unit/models/comparison/test_model_execution_comparison.py
  tests/unit/models/comparison/test_model_invariant_comparison_summary.py
  tests/unit/models/comparison/test_model_output_diff.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add ModelChangeProposal for system change evaluation (OMN-1196) (#324)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_change_type.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/operations/__init__.py
  src/omnibase_core/models/operations/model_change_proposal.py
  tests/unit/models/operations/test_model_change_proposal.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
