Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

seed(OMN-15011): X1 GREEN control — add valid hand_authored .rsd_provenance.json
  src/omnibase_core/nodes/node_x1_seeded_red_proof_compute/.rsd_provenance.json
Due: none

feat(OMN-15340): assertion 7 — execute declared parity tests against the receipt's own base_ref
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/canonical_handler_shape.py
  scripts/ci/parity_replay.py
  scripts/ci/verify_flip_bundle.py
  tests/unit/scripts/ci/test_canonical_handler_shape.py
  tests/unit/scripts/ci/test_parity_replay.py
  tests/unit/scripts/ci/test_verify_flip_bundle.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-15340): assertion 7 — execute declared parity tests against the receipt's own base_ref (#1519)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/canonical_handler_shape.py
  scripts/ci/parity_replay.py
  scripts/ci/verify_flip_bundle.py
  tests/unit/scripts/ci/test_canonical_handler_shape.py
  tests/unit/scripts/ci/test_parity_replay.py
  tests/unit/scripts/ci/test_verify_flip_bundle.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-15344): parity-debt shrink-only ratchet — put assertion 7 in force over the merged hand-flip population
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/verify_flip_bundle.py
  tests/unit/scripts/ci/test_verify_flip_bundle.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-15344): make the one-time SEEDING commit landable, without buying cover for a new flip
  scripts/ci/verify_flip_bundle.py
  tests/unit/scripts/ci/test_verify_flip_bundle.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-15344): parity-debt shrink-only ratchet — put assertion 7 in force over the merged hand-flip population (#1520)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/ci/verify_flip_bundle.py
  tests/unit/scripts/ci/test_verify_flip_bundle.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-14965): satisfy file-scoped CI gates
  src/omnibase_core/cli/cli_contract.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/mixins/mixin_handler_routing.py
  src/omnibase_core/utils/util_compute_executor.py
  src/omnibase_core/utils/util_compute_transformations.py
  src/omnibase_core/validation/validator_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(deps-dev): update ruff requirement (#1526)
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump the actions group with 2 updates (#1527)
  .github/workflows/ci.yml
  .github/workflows/required-check-skip-guard-caller.yml
  .github/workflows/validator-no-unguarded-git-subprocess.yml
Due: validate-string-versions

fix(OMN-15408): key the pre-push .200 host guard on the selected work, not the is_full_suite flag
  scripts/hooks/prepush_smart_tests.sh
  tests/scripts/test_prepush_hook_host_identity_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-15408): key the pre-push .200 host guard on the selected work, not the is_full_suite flag (#1528)
  scripts/hooks/prepush_smart_tests.sh
  tests/scripts/test_prepush_hook_host_identity_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(topology): add typed application database contracts
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_database_grant_object_type.py
  src/omnibase_core/enums/enum_database_privilege.py
  src/omnibase_core/enums/enum_database_schema_domain.py
  src/omnibase_core/models/contracts/subcontracts/model_db_table_declaration.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_deployment_topology.py
  src/omnibase_core/models/core/model_deployment_topology_database.py
  src/omnibase_core/models/core/model_deployment_topology_database_binding.py
  src/omnibase_core/models/core/model_deployment_topology_database_grant.py
  src/omnibase_core/models/core/model_deployment_topology_database_migration_ledger.py
  src/omnibase_core/models/core/model_deployment_topology_database_owner.py
  src/omnibase_core/models/core/model_deployment_topology_database_principal.py
  src/omnibase_core/models/core/model_deployment_topology_database_schema.py
  src/omnibase_core/validators/extra_forbid_baseline.yaml
  tests/test_db_ownership_subcontract.py
  tests/unit/models/core/test_model_deployment_topology_database.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-15408): cover the selector whole-tree sentinel in the host-guard target set
  scripts/hooks/prepush_smart_tests.sh
  tests/scripts/test_prepush_hook_host_identity_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-15408): cover the selector whole-tree sentinel in the host-guard target set (#1530)
  scripts/hooks/prepush_smart_tests.sh
  tests/scripts/test_prepush_hook_host_identity_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-15392): type DoD evidence execution scope
  src/omnibase_core/enums/ticket/__init__.py
  src/omnibase_core/enums/ticket/enum_dod_evidence_execution_scope.py
  src/omnibase_core/models/ticket/model_contract_dod_item.py
  tests/unit/models/ticket/test_model_contract_dod_item.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-15392): type DoD evidence execution scope (#1531)
  src/omnibase_core/enums/ticket/__init__.py
  src/omnibase_core/enums/ticket/enum_dod_evidence_execution_scope.py
  src/omnibase_core/models/ticket/model_contract_dod_item.py
  tests/unit/models/ticket/test_model_contract_dod_item.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(topology): add typed application database contracts (#1529)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_database_grant_object_type.py
  src/omnibase_core/enums/enum_database_privilege.py
  src/omnibase_core/enums/enum_database_schema_domain.py
  src/omnibase_core/models/contracts/subcontracts/model_db_table_declaration.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_deployment_topology.py
  src/omnibase_core/models/core/model_deployment_topology_database.py
  src/omnibase_core/models/core/model_deployment_topology_database_binding.py
  src/omnibase_core/models/core/model_deployment_topology_database_grant.py
  src/omnibase_core/models/core/model_deployment_topology_database_migration_ledger.py
  src/omnibase_core/models/core/model_deployment_topology_database_owner.py
  src/omnibase_core/models/core/model_deployment_topology_database_principal.py
  src/omnibase_core/models/core/model_deployment_topology_database_schema.py
  src/omnibase_core/validators/extra_forbid_baseline.yaml
  tests/test_db_ownership_subcontract.py
  tests/unit/models/core/test_model_deployment_topology_database.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-15539): type cloud delegation request fields
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
  src/omnibase_core/models/delegation/wire/model_orchestrator_intents.py
  src/omnibase_core/models/delegation/wire/model_quality_gate.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(delegation): type quality and quota terminal evidence
  src/omnibase_core/enums/enum_delegation_terminal_failure_cause.py
  src/omnibase_core/enums/enum_quality_score_comparison.py
  src/omnibase_core/models/delegation/wire/__init__.py
  src/omnibase_core/models/delegation/wire/model_delegation_completed.py
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-15539): omit unset additive wire fields
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
  src/omnibase_core/models/delegation/wire/model_orchestrator_intents.py
  src/omnibase_core/models/delegation/wire/model_quality_gate.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-15542): identify individual inference attempts
  src/omnibase_core/models/delegation/wire/model_orchestrator_intents.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-15539): validate structured terminal evidence
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-15539): enforce delegation terminal truth
  src/omnibase_core/models/delegation/wire/model_delegation_completed.py
  src/omnibase_core/models/delegation/wire/model_delegation_failed.py
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
  src/omnibase_core/models/delegation/wire/model_quality_gate.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-15539): type cloud delegation inference wire contracts (#1532)
  src/omnibase_core/enums/enum_delegation_terminal_failure_cause.py
  src/omnibase_core/enums/enum_quality_score_comparison.py
  src/omnibase_core/models/delegation/wire/__init__.py
  src/omnibase_core/models/delegation/wire/model_delegation_completed.py
  src/omnibase_core/models/delegation/wire/model_delegation_failed.py
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
  src/omnibase_core/models/delegation/wire/model_orchestrator_intents.py
  src/omnibase_core/models/delegation/wire/model_quality_gate.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci: reduce trusted matrix contention
  .github/workflows/ci.yml
  docs/audits/2026-07-31-omn-15571-ci-capacity.md
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-15571): close CI guard execution bypasses
  docs/audits/2026-07-31-omn-15571-ci-capacity.md
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(OMN-15571): record final .200 capacity proof
  docs/audits/2026-07-31-omn-15571-ci-capacity.md
Due: none

fix(OMN-15431): stop cold semantic-diff runs from killing every xdist worker
  .gitignore
  scripts/analysis/semantic_diff.py
  src/omnibase_core/analysis/consumer_graph.py
  src/omnibase_core/analysis/import_graph.py
  tests/analysis/test_consumer_graph.py
  tests/scripts/test_semantic_diff_cli.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-15571): annotate execution-contract digests for detect-secrets (allowlist pragma, annotation-only)
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-15571): trusted-matrix capacity repair + 11 no-dev job execution contracts (gates Core 0.46.8) (#1534)
  .github/workflows/ci.yml
  docs/audits/2026-07-31-omn-15571-ci-capacity.md
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-15603): resumable + retried PyPI publish, hosted release runner, loud partial-state
  .github/workflows/release.yml
  tests/unit/validation/test_release_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-15431): NUL-frame the batched blob reader and pin newline semantics
  scripts/analysis/semantic_diff.py
  tests/scripts/test_semantic_diff_cli.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-15603): guard unresolved release recovery tag
  .github/workflows/release.yml
  tests/unit/validation/test_release_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-15431): bump release identity version
  pyproject.toml
  uv.lock
Due: none

fix(OMN-15431): match cat-file responses to requests so a missing newline-bearing path cannot eat the next blob
  scripts/analysis/semantic_diff.py
  src/omnibase_core/analysis/consumer_graph.py
  tests/analysis/test_consumer_graph.py
  tests/scripts/test_semantic_diff_cli.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-15603): execute the partial-state shell under test, de-fragilize the release-identity smoke
  .github/workflows/release.yml
  tests/scripts/test_check_release_identity.py
  tests/unit/validation/test_release_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
