Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  black-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  isort-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/)
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$
  validate-union-usage: any of: ^src/.*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py|src/omnibase_core/models/core/model_action_config_value\.py).*\.py$
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

feat(runtime): implement RuntimeNodeInstance execution wrapper [OMN-227] (#141)
  .pre-commit-config.yaml
  scripts/validation/audit_optional.py
  scripts/validation/validate-pydantic-patterns.py
  scripts/validation/validate-union-usage.py
  src/omnibase_core/runtime/__init__.py
  src/omnibase_core/runtime/protocol_node_runtime.py
  src/omnibase_core/runtime/runtime_node_instance.py
  tests/unit/runtime/__init__.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_node_instance.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(nodes): address PR #142 review feedback - TYPE_CHECKING, docstrings, formatting
  CLAUDE.md
  src/omnibase_core/nodes/node_compute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(effect): address all PR #135 review feedback for release readiness [OMN-466]
  docs/architecture/EFFECT_TIMEOUT_BEHAVIOR.md
  docs/guides/THREADING.md
  examples/contracts/SECURITY.md
  examples/contracts/effect/db_query.yaml
  examples/contracts/effect/filesystem_operations.yaml
  examples/contracts/effect/http_api_call.yaml
  examples/contracts/effect/kafka_produce.yaml
  examples/contracts/effect/resilient_effect.yaml
  src/omnibase_core/constants/__init__.py
  src/omnibase_core/constants/constants_effect_idempotency.py
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  src/omnibase_core/models/event_bus/model_event_bus_output_state.py
  src/omnibase_core/nodes/node_effect.py
  src/omnibase_core/nodes/node_orchestrator.py
  src/omnibase_core/nodes/node_reducer.py
  tests/performance/contracts/test_model_workflow_dependency_performance.py
  tests/performance/test_model_timeout_performance.py
  tests/performance/test_source_node_id_overhead.py
  tests/unit/api_snapshots/test_signatures_snapshot.py
  tests/unit/nodes/test_declarative_nodes.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

perf(nodes): skip cache key generation when caching disabled
  src/omnibase_core/nodes/node_compute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(contracts): remove ContractData type alias, use BaseModel [OMN-151]
  src/omnibase_core/contracts/__init__.py
  src/omnibase_core/contracts/hash_registry.py
  src/omnibase_core/models/contracts/model_contract_fingerprint.py
  tests/unit/contracts/test_hash_registry.py
  tests/unit/nodes/test_node_purity.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(node_compute): add security and configuration documentation
  src/omnibase_core/nodes/node_compute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(runtime): implement RuntimeNode transport-agnostic orchestrator [OMN-228]
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/runtime/__init__.py
  src/omnibase_core/protocols/runtime/protocol_handler.py
  src/omnibase_core/runtime/__init__.py
  src/omnibase_core/runtime/envelope_router.py
  src/omnibase_core/types/typed_dict_handler_metadata.py
  src/omnibase_core/types/typed_dict_routing_info.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_node_runtime.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(effect): address remaining PR #135 review feedback for release [OMN-466]
  examples/contracts/effect/README.md
  examples/contracts/effect/filesystem_operations.yaml
  examples/contracts/effect/http_api_call.yaml
  scripts/validation/validate-dict-any-usage.py
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_circuit_breaker.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_response_handling.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_transaction_config.py
  src/omnibase_core/nodes/node_effect.py
  tests/unit/api_snapshots/test_signatures_snapshot.py
  tests/unit/nodes/test_declarative_nodes.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(docs): address PR #144 review feedback
  docs/architecture/CONTRACT_DRIVEN_NODEEFFECT_V1_0.md
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/runtime/protocol_node_runtime.py
  src/omnibase_core/runtime/runtime_node_instance.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(deps): merge Dependabot dependency updates
  poetry.lock
  pyproject.toml
Due: none

fix(nodes): propagate cache_lookup_time_ms on cache misses for accurate observability
  src/omnibase_core/models/compute/model_compute_output.py
  src/omnibase_core/nodes/node_compute.py
  tests/unit/nodes/test_node_compute_execute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(pr-review): address PR #143 code review feedback [OMN-151]
  docs/architecture/IMPORT_COMPATIBILITY_MATRIX.md
  scripts/validation/validate_naming.py
  tests/conftest.py
  tests/unit/contracts/test_hash_registry.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(review): address PR #135 review deficiencies
  src/omnibase_core/models/core/model_retry_config.py
  tests/integration/test_cache_config_integration.py
  tests/integration/test_intent_publisher_integration.py
  tests/integration/test_multi_module_workflows.py
  tests/integration/test_rollback_failure_integration.py
  tests/integration/test_service_orchestration.py
  tests/integration/test_validation_integration.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(nodes): align NodeCompute and NodeEffect with ONEX architecture patterns [OMN-558] (#142)
  .pre-commit-config.yaml
  CLAUDE.md
  src/omnibase_core/models/compute/model_compute_output.py
  src/omnibase_core/models/service/model_service_compute.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_effect.py
  tests/unit/nodes/test_node_compute_execute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(runtime): address PR #145 review feedback [OMN-228]
  src/omnibase_core/protocols/runtime/__init__.py
  src/omnibase_core/runtime/envelope_router.py
  src/omnibase_core/types/typed_dict_handler_metadata.py
  src/omnibase_core/types/typed_dict_routing_info.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_node_runtime.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(effect): address final PR #135 review feedback items [OMN-466]
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/nodes/node_effect.py
  tests/unit/mixins/test_mixin_effect_execution.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(architecture): add NodeReducer and NodeOrchestrator v1.0 specs [OMN-495, OMN-496]
  docs/architecture/CONTRACT_DRIVEN_NODEORCHESTRATOR_V1_0.md
  docs/architecture/CONTRACT_DRIVEN_NODEREDUCER_V1_0.md
Due: none

fix: Address all critical CI failures and review comments
  src/omnibase_core/models/configuration/model_compute_cache_config.py
  src/omnibase_core/models/effect/model_effect_input.py
  src/omnibase_core/models/infrastructure/model_compute_cache.py
  src/omnibase_core/models/workflow/execution/model_workflow_step_execution.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_effect.py
  tests/unit/contracts/test_runtime_contracts.py
  tests/unit/models/contracts/subcontracts/test_model_effect_input_schema.py
  tests/unit/models/contracts/subcontracts/test_model_effect_operation.py
  tests/unit/models/contracts/subcontracts/test_model_effect_subcontract.py
  tests/unit/models/contracts/subcontracts/test_model_effect_supporting.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(ci): add automated transport import validation [OMN-220]
  .github/workflows/test.yml
  scripts/check_transport_imports.py
  tests/unit/scripts/test_check_transport_imports.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(effect): address PR #135 review feedback items [OMN-466]
  docs/architecture/EFFECT_TIMEOUT_BEHAVIOR.md
  docs/guides/THREADING.md
  examples/contracts/SECURITY.md
  examples/contracts/effect/README.md
  examples/contracts/effect/filesystem_operations.yaml
  src/omnibase_core/nodes/node_effect.py
  tests/unit/mixins/test_mixin_effect_execution.py
  tests/unit/nodes/test_declarative_nodes.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(runtime): address PR #145 review feedback - Issues #2-6 [OMN-228]
  src/omnibase_core/protocols/runtime/protocol_handler.py
  src/omnibase_core/runtime/envelope_router.py
  src/omnibase_core/types/typed_dict_handler_metadata.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_node_runtime.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(architecture): finalize NodeReducer v1.0.3 spec with normative guarantees [OMN-495]
  docs/architecture/CONTRACT_DRIVEN_NODEREDUCER_V1_0.md
Due: none

fix(ci): address PR #147 review feedback [OMN-220]
  scripts/check_transport_imports.py
  tests/unit/scripts/test_check_transport_imports.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(runtime): address final PR #145 review feedback [OMN-228]
  src/omnibase_core/runtime/envelope_router.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_node_runtime.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(effect): address remaining PR #135 review items [OMN-466]
  docs/guides/THREADING.md
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/nodes/node_effect.py
  tests/unit/mixins/test_mixin_effect_execution.py
  tests/unit/nodes/test_declarative_nodes.py
  tests/unit/nodes/test_node_compute_execute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): address remaining PR #147 review feedback [OMN-220]
  scripts/check_transport_imports.py
  tests/unit/scripts/test_check_transport_imports.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(runtime): address remaining PR #145 review feedback [OMN-228]
  src/omnibase_core/protocols/runtime/protocol_handler.py
  src/omnibase_core/runtime/envelope_router.py
  src/omnibase_core/types/__init__.py
  tests/unit/runtime/test_node_runtime.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(ci): add enhancements from PR #147 review [OMN-220]
  scripts/check_transport_imports.py
  tests/unit/scripts/test_check_transport_imports.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(enums): restore ONEX-compliant docstring after merge [OMN-228]
  src/omnibase_core/enums/enum_json_value_type.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): use proper path comparison in get_changed_files [OMN-220]
  scripts/check_transport_imports.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(runtime): address PR #145 review feedback - final batch [OMN-228]
  src/omnibase_core/protocols/runtime/protocol_handler.py
  src/omnibase_core/runtime/envelope_router.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_node_runtime.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(effect): resolve CI failures for PR #135 [OMN-466]
  src/omnibase_core/enums/enum_json_value_type.py
  src/omnibase_core/models/service/model_service_compute.py
  tests/performance/test_source_node_id_overhead.py
  tests/unit/nodes/test_node_compute_execute.py
  tests/unit/nodes/test_retry_count_tracking.py
  tests/unit/nodes/test_rollback_failure_handling.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): remove invalid generic parameters from ModelServiceCompute [OMN-228]
  src/omnibase_core/models/service/model_service_compute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): address PR #147 review feedback - error handling & docs [OMN-220]
  docs/architecture/DEPENDENCY_INVERSION.md
  scripts/check_transport_imports.py
  tests/unit/scripts/test_check_transport_imports.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(effect): address PR #135 release-ready review items [OMN-466]
  docs/guides/THREADING.md
  examples/contracts/SECURITY.md
  examples/contracts/effect/README.md
  src/omnibase_core/enums/enum_json_value_type.py
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_operation.py
  src/omnibase_core/nodes/__init__.py
  src/omnibase_core/nodes/node_effect.py
  tests/unit/nodes/test_node_compute_execute.py
  tests/unit/nodes/test_retry_count_tracking.py
  tests/unit/nodes/test_rollback_failure_handling.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
