Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

feat(resolution): wire ServiceResolutionEventPublisher into ServiceTieredResolver (OMN-4324)
  src/omnibase_core/services/service_tiered_resolver.py
  tests/unit/services/test_service_tiered_resolver_ledger.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(resolution): wire ServiceResolutionEventPublisher into ServiceTieredResolver (OMN-4324) (#642)
  src/omnibase_core/services/service_tiered_resolver.py
  tests/unit/services/test_service_tiered_resolver_ledger.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

release: omnibase_core v0.24.2
  pyproject.toml
  uv.lock
Due: none

release: omnibase_core v0.24.2 (#643)
  pyproject.toml
  uv.lock
Due: none

chore(pre-existing): fix string-version and backward-compat pre-commit hook failures (OMN-4392)
  scripts/validation/validate-string-versions.py
  src/omnibase_core/__init__.py
  src/omnibase_core/models/dispatch/model_dispatch_route.py
  src/omnibase_core/models/epic/model_epic_state.py
  src/omnibase_core/models/registration/model_dual_registration_outcome.py
  src/omnibase_core/validation/validator_workflow.py
  tests/unit/models/epic/test_model_epic_state.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(omnibase_core): fix pre-existing validate-manual-yaml violations [OMN-4400]
  .yaml-validation-allowlist.yaml
Due: validate-string-versions

chore(pre-existing): fix string-version and backward-compat pre-commit hook failures (OMN-4392) (#644)
  scripts/validation/validate-string-versions.py
  src/omnibase_core/__init__.py
  src/omnibase_core/models/dispatch/model_dispatch_route.py
  src/omnibase_core/models/epic/model_epic_state.py
  src/omnibase_core/models/registration/model_dual_registration_outcome.py
  src/omnibase_core/validation/validator_workflow.py
  tests/unit/models/epic/test_model_epic_state.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(omnibase_core): fix pre-existing validate-spdx-headers violations [OMN-4407]
  tests/unit/models/chunking/__init__.py
  tests/unit/models/plan/__init__.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(omnibase_core): fix pre-existing validate-dict-any-usage violations (OMN-4410)
  src/omnibase_core/models/epic/model_epic_state.py
  src/omnibase_core/models/skill/model_skill_result.py
  src/omnibase_core/utils/util_parse_hook_payload.py
  src/omnibase_core/validation/scripts/timeout_utils.py
  src/omnibase_core/validation/scripts/validate_string_versions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(omnibase_core): fix pre-existing validate-manual-yaml violations [OMN-4400] (#645)
  .yaml-validation-allowlist.yaml
Due: validate-string-versions

chore(omnibase_core): fix pre-existing validate-spdx-headers violations [OMN-4407] (#646)
  tests/unit/models/chunking/__init__.py
  tests/unit/models/plan/__init__.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(omnibase_core): fix pre-existing validate-dict-any-usage violations (OMN-4410) (#647)
  src/omnibase_core/models/epic/model_epic_state.py
  src/omnibase_core/models/skill/model_skill_result.py
  src/omnibase_core/utils/util_parse_hook_payload.py
  src/omnibase_core/validation/scripts/timeout_utils.py
  src/omnibase_core/validation/scripts/validate_string_versions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(omnibase_core): fix pre-existing validate-naming-conventions violations (OMN-4405)
  scripts/validation/validate_naming.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(hooks): export check-stub-implementations hook for downstream consumption
  .pre-commit-hooks.yaml
Due: validate-string-versions

chore(hooks): export check-stub-implementations hook for downstream consumption (#653)
  .pre-commit-hooks.yaml
Due: validate-string-versions

chore(omnibase_core): fix pre-existing check-stub-implementations and validate-no-backward-compatibility violations (OMN-4401)
  scripts/validation/validate-single-class-per-file.py
  src/omnibase_core/cli/cli_validate_shape.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(omnibase_core): add architectural exemptions for pre-existing naming violations (OMN-4401)
  .yaml-validation-allowlist.yaml
  scripts/validation/validate_naming.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(omnibase_core): fix pre-existing check-no-fallbacks violations [OMN-4402]
  src/omnibase_core/validation/scripts/validate_string_versions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(pre-existing): fix pre-existing hook violations blocking commit [OMN-4402]
  .pre-commit-config.yaml
  scripts/validation/validate-no-backward-compatibility.py
  src/omnibase_core/models/registration/model_dual_registration_outcome.py
  src/omnibase_core/validation/scripts/validate_string_versions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(hooks): change check-stub-implementations to language:script for remote consumers
  .pre-commit-hooks.yaml
Due: validate-string-versions

chore(omnibase_core): fix pre-existing hook violations blocking pipeline runs (OMN-4401) (#650)
  .yaml-validation-allowlist.yaml
  scripts/validation/validate-single-class-per-file.py
  scripts/validation/validate_naming.py
  src/omnibase_core/cli/cli_validate_shape.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(omnibase_core): fix pre-existing check-no-fallbacks violations [OMN-4402] (#651)
  .pre-commit-config.yaml
  scripts/validation/validate-no-backward-compatibility.py
  src/omnibase_core/models/registration/model_dual_registration_outcome.py
  src/omnibase_core/validation/scripts/validate_string_versions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(hooks): change check-stub-implementations to language:script for remote consumers (#654)
  .pre-commit-hooks.yaml
Due: validate-string-versions

chore(omnibase_core): fix pre-existing validate-error-raising violations [OMN-4403]
  src/omnibase_core/models/core/model_deployment_topology.py
  src/omnibase_core/validation/scripts/timeout_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(validation): add naming exemptions for pre-existing violations [OMN-4403]
  scripts/validation/validate_naming.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(validation): resolve pre-existing hook violations unblocking pipeline [OMN-4403]
  .pre-commit-config.yaml
  src/omnibase_core/models/core/model_deployment_topology.py
  src/omnibase_core/validation/scripts/timeout_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(omnibase_core): fix pre-existing validate-single-class-per-file violations (OMN-4408)
  .pre-commit-config.yaml
  src/omnibase_core/models/core/model_mixin_mapping.py
  src/omnibase_core/models/core/model_mixin_mapping_collection.py
  src/omnibase_core/models/epic/__init__.py
  src/omnibase_core/models/epic/model_epic_state.py
  src/omnibase_core/models/epic/model_epic_ticket_status.py
  src/omnibase_core/models/epic/model_epic_wave.py
  src/omnibase_core/validation/scripts/cross_platform_timeout.py
  src/omnibase_core/validation/scripts/python_ast_validator.py
  src/omnibase_core/validation/scripts/timeout_error.py
  src/omnibase_core/validation/scripts/timeout_utils.py
  src/omnibase_core/validation/scripts/unix_signal_timeout.py
  src/omnibase_core/validation/scripts/validate_string_versions.py
  src/omnibase_core/validation/scripts/validation_violation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(omnibase_core): fix pre-existing validate-single-class-per-file violations (OMN-4408) (#652)
  .pre-commit-config.yaml
  src/omnibase_core/models/core/model_mixin_mapping.py
  src/omnibase_core/models/core/model_mixin_mapping_collection.py
  src/omnibase_core/models/epic/__init__.py
  src/omnibase_core/models/epic/model_epic_state.py
  src/omnibase_core/models/epic/model_epic_ticket_status.py
  src/omnibase_core/models/epic/model_epic_wave.py
  src/omnibase_core/validation/scripts/cross_platform_timeout.py
  src/omnibase_core/validation/scripts/python_ast_validator.py
  src/omnibase_core/validation/scripts/timeout_error.py
  src/omnibase_core/validation/scripts/timeout_utils.py
  src/omnibase_core/validation/scripts/unix_signal_timeout.py
  src/omnibase_core/validation/scripts/validate_string_versions.py
  src/omnibase_core/validation/scripts/validation_violation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(test): update test_from_yaml_raises_when_schema_version_missing to expect ModelOnexError [OMN-4403]
  src/omnibase_core/models/core/model_deployment_topology.py
  tests/unit/models/core/test_model_deployment_topology.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(omnibase_core): fix pre-existing validate-error-raising and hook violations [OMN-4403] (#649)
  .pre-commit-config.yaml
  scripts/validation/validate_naming.py
  src/omnibase_core/models/core/model_deployment_topology.py
  tests/unit/models/core/test_model_deployment_topology.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

release: omnibase_core v0.25.0
  pyproject.toml
  uv.lock
Due: none

release: omnibase_core v0.25.0 (#655)
  pyproject.toml
  uv.lock
Due: none

fix(hygiene): block operational artifact commits (OMN-4569)
  .gitignore
  .pre-commit-config.yaml
Due: validate-string-versions

fix(hygiene): block operational artifact commits (OMN-4569) (#657)
  .gitignore
  .pre-commit-config.yaml
Due: validate-string-versions

release: omnibase_core v0.25.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

release: omnibase_core v0.25.1 (#658)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(hygiene): remove decommissioned M2 bus endpoint from docstrings [OMN-4793]
  src/omnibase_core/models/validation/model_event_destination.py
  tests/unit/models/validation/test_model_event_destination.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
