Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix: address PR #376 review feedback (OMN-1297)
  CLAUDE.md
  src/omnibase_core/enums/enum_stamp_validation_type.py
  src/omnibase_core/utils/util_str_enum_base.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(types): replace Literal type aliases with canonical enums
  src/omnibase_core/container/container_service_registry.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_health_status.py
  src/omnibase_core/enums/enum_injection_scope.py
  src/omnibase_core/enums/enum_pipeline_validation_mode.py
  src/omnibase_core/enums/enum_registration_status.py
  src/omnibase_core/enums/enum_service_lifecycle.py
  src/omnibase_core/enums/enum_service_resolution_status.py
  src/omnibase_core/enums/enum_step_type.py
  src/omnibase_core/models/common/model_request_metadata.py
  src/omnibase_core/models/container/model_injection_context.py
  src/omnibase_core/models/container/model_registry_status.py
  src/omnibase_core/models/container/model_service_health_validation_result.py
  src/omnibase_core/models/container/model_service_instance.py
  src/omnibase_core/models/container/model_service_registration.py
  src/omnibase_core/models/effect/model_effect_metadata.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/base/__init__.py
  src/omnibase_core/protocols/container/protocol_injection_context.py
  src/omnibase_core/protocols/container/protocol_managed_service_instance.py
  src/omnibase_core/protocols/container/protocol_service_registration.py
  src/omnibase_core/protocols/container/protocol_service_registry.py
  src/omnibase_core/protocols/container/protocol_service_registry_status.py
  src/omnibase_core/protocols/event_bus/protocol_event_bus_headers.py
  src/omnibase_core/protocols/event_bus/protocol_event_bus_log_emitter.py
  src/omnibase_core/protocols/types/protocol_log_emitter.py
  src/omnibase_core/validation/checker_literal_duplication.py
  src/omnibase_core/validation/checker_workflow_linter.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): Address PR review - remove auto, add AnnAssign support
  src/omnibase_core/validation/checker_enum_member_casing.py
  tests/unit/validation/test_checker_enum_member_casing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): address remaining PR #378 review feedback (OMN-1296)
  docs/architecture/decisions/INDEX.md
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/enums/enum_impact_severity.py
  src/omnibase_core/enums/enum_severity.py
  src/omnibase_core/enums/enum_severity_level.py
  tests/unit/enums/test_enum_handler_type.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(docs): improve code hygiene documentation and type ignore specificity (OMN-1302)
  CLAUDE.md
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/logging/logging_emit.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): address PR #371 review feedback (OMN-1201)
  examples/contract_validator_usage.py
  examples/demo/__init__.py
  examples/demo/handlers/__init__.py
  examples/demo/handlers/support_assistant/__init__.py
  examples/demo/handlers/support_assistant/handler_local.py
  examples/demo/handlers/support_assistant/model_config.py
  examples/demo/handlers/support_assistant/model_support_response.py
  examples/demo/handlers/support_assistant/support_assistant.yaml
  examples/field_accessor_migration.py
  examples/mixin_discovery_usage.py
  examples/practical_migration_example.py
  examples/validation_usage_example.py
  tests/integration/examples/demo/handlers/support_assistant/test_handler_integration.py
  tests/unit/examples/demo/handlers/support_assistant/test_handler_contract.py
  tests/unit/examples/demo/handlers/support_assistant/test_model_config.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix: correct test expectations for EnumFieldType optional properties (OMN-1297)
  tests/unit/enums/test_enum_field_type.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(types): address PR review feedback and fix CI test failures
  src/omnibase_core/models/common/model_request_metadata.py
  src/omnibase_core/models/container/model_injection_context.py
  src/omnibase_core/models/container/model_registry_status.py
  src/omnibase_core/models/container/model_service_health_validation_result.py
  src/omnibase_core/models/container/model_service_instance.py
  src/omnibase_core/models/container/model_service_registration.py
  src/omnibase_core/models/effect/model_effect_metadata.py
  src/omnibase_core/validation/checker_literal_duplication.py
  tests/unit/enums/test_enum_health_status.py
  tests/unit/models/common/test_model_metadata_validation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): fix CI blocker and address final PR #378 review feedback (OMN-1296)
  docs/architecture/IMPORT_COMPATIBILITY_MATRIX.md
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_severity.py
  src/omnibase_core/models/node_metadata/model_node_information.py
  src/omnibase_core/validation/checker_enum_governance.py
  tests/unit/enums/test_enum_handler_type.py
  tests/unit/models/nodes/test_model_node_information.py
  tests/unit/services/test_service_decision_report_generator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): address remaining PR #371 review feedback (OMN-1201)
  examples/demo/handlers/support_assistant/handler_anthropic.py
  examples/demo/handlers/support_assistant/handler_support_assistant.py
  examples/demo/handlers/support_assistant/support_assistant.yaml
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(validation): Add comprehensive tests for suggest_upper_snake_case()
  tests/unit/validation/test_checker_enum_member_casing.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix: resolve merge conflicts with main branch (OMN-1297)
  CLAUDE.md
  src/omnibase_core/mixins/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): Standardize enum member casing to UPPER_SNAKE_CASE (#381)
  .pre-commit-config.yaml
  src/omnibase_core/enums/enum_file_status.py
  src/omnibase_core/validation/checker_enum_member_casing.py
  tests/unit/enums/test_enum_file_status.py
  tests/unit/validation/test_checker_enum_member_casing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): fix CI test failures and address remaining PR nitpicks
  src/omnibase_core/container/container_service_registry.py
  src/omnibase_core/enums/enum_step_type.py
  src/omnibase_core/models/container/model_service_metadata.py
  src/omnibase_core/validation/checker_literal_duplication.py
  tests/unit/models/container/test_model_service_registration.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): final PR #371 review fixes - protocol alignment and typing (OMN-1201)
  examples/demo/handlers/support_assistant/handler_anthropic.py
  examples/demo/handlers/support_assistant/handler_local.py
  examples/demo/handlers/support_assistant/handler_mock.py
  examples/demo/handlers/support_assistant/handler_openai.py
  examples/demo/handlers/support_assistant/handler_support_assistant.py
  src/omnibase_core/decorators/decorator_allow_dict_any.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: add Checker* exemption to naming validation for OMN-1308
  scripts/validation/validate_naming.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(enums): replace hardcoded status strings with enum references (OMN-1309)
  .pre-commit-config.yaml
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_action_status.py
  src/omnibase_core/enums/enum_circuit_breaker_state.py
  src/omnibase_core/enums/enum_node_lifecycle_status.py
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  src/omnibase_core/models/core/model_action_metadata.py
  tests/unit/enums/test_enum_circuit_breaker_state.py
  tests/unit/models/test_enum_serialization_omn_1309.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): address PR #374 release-ready review feedback (batch 2)
  src/omnibase_core/decorators/decorator_error_handling.py
  src/omnibase_core/mixins/mixin_node_service.py
  src/omnibase_core/models/core/model_field_accessor.py
  src/omnibase_core/utils/util_forward_reference_resolver.py
  tests/unit/decorators/test_error_handling_extended.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): address final PR #371 review feedback (OMN-1201)
  examples/demo/handlers/support_assistant/handler_anthropic.py
  examples/demo/handlers/support_assistant/handler_support_assistant.py
  examples/demo/handlers/support_assistant/model_config.py
  examples/demo/handlers/support_assistant/model_support_request.py
  examples/demo/handlers/support_assistant/support_assistant.yaml
  src/omnibase_core/decorators/decorator_pattern_exclusions.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): rename MemberCasingChecker to avoid enum naming false positive
  src/omnibase_core/validation/checker_enum_member_casing.py
  tests/unit/validation/test_checker_enum_member_casing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): remove all backward compatibility and address PR #378 release feedback (OMN-1296)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_severity.py
  src/omnibase_core/models/contracts/model_yaml_contract.py
  src/omnibase_core/models/metadata/model_metadatanodeanalytics.py
  src/omnibase_core/models/metadata/model_structured_display_name.py
  tests/unit/enums/test_enum_handler_type.py
  tests/unit/enums/test_enum_validation_severity.py
  tests/unit/models/contracts/test_model_yaml_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address PR #383 review feedback for OMN-1308
  src/omnibase_core/container/container_service_registry.py
  src/omnibase_core/decorators/decorator_convert_to_schema.py
  src/omnibase_core/decorators/decorator_error_handling.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/models/common/model_numeric_string_value.py
  src/omnibase_core/models/core/model_argument_map.py
  src/omnibase_core/models/services/model_external_service_config.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/utils/util_forward_reference_resolver.py
  src/omnibase_core/validation/checker_literal_duplication.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): address PR #374 release-ready review feedback (batch 3)
  scripts/validation/validate_naming.py
  src/omnibase_core/models/context/model_metrics_context.py
  src/omnibase_core/services/service_protocol_migrator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): address PR review feedback for status enum consolidation (OMN-1310)
  docs/reference/api/enums.md
  src/omnibase_core/enums/enum_execution_status.py
  src/omnibase_core/enums/enum_health_status.py
  src/omnibase_core/enums/enum_operation_status.py
  src/omnibase_core/enums/enum_workflow_status.py
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/models/workflow/execution/model_dependency_graph.py
  src/omnibase_core/models/workflow/execution/model_workflow_step_execution.py
  tests/unit/enums/test_enum_execution_status.py
  tests/unit/enums/test_enum_operation_status.py
  tests/unit/models/workflow/execution/test_model_workflow_step_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): address PR #385 review feedback (OMN-1309)
  src/omnibase_core/enums/enum_action_status.py
  src/omnibase_core/enums/enum_node_lifecycle_status.py
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  src/omnibase_core/models/core/model_action_metadata.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): address remaining PR #371 review issues (OMN-1201)
  examples/demo/handlers/support_assistant/model_config.py
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/models/cli/model_cli_action.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(enums): replace hardcoded status strings with enum references (OMN-1309) (#385)
  .pre-commit-config.yaml
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_action_status.py
  src/omnibase_core/enums/enum_circuit_breaker_state.py
  src/omnibase_core/enums/enum_node_lifecycle_status.py
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  src/omnibase_core/models/core/model_action_metadata.py
  src/omnibase_core/validation/checker_enum_member_casing.py
  tests/unit/enums/test_enum_circuit_breaker_state.py
  tests/unit/models/test_enum_serialization_omn_1309.py
  tests/unit/validation/test_checker_enum_member_casing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(yaml): fix handler contracts formatting
  examples/contracts/handlers/compute_handler.yaml
  examples/contracts/handlers/effect_handler.yaml
  examples/contracts/handlers/reducer_handler.yaml
Due: validate-string-versions

fix(enums): address PR review - complete SEVERITY_PRIORITY coverage (OMN-1311)
  src/omnibase_core/enums/enum_severity.py
  src/omnibase_core/models/common/model_validation_result.py
  src/omnibase_core/models/invariant/model_evaluation_summary.py
  src/omnibase_core/models/invariant/model_invariant_violation_detail.py
  src/omnibase_core/services/invariant/service_invariant_evaluator.py
  src/omnibase_core/validation/validator_base.py
  tests/unit/validation/test_validator_base.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address remaining PR #383 review nitpicks for OMN-1308
  src/omnibase_core/enums/enum_step_type.py
  src/omnibase_core/models/container/model_service_instance.py
  src/omnibase_core/validation/checker_literal_duplication.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(architecture): add ADR-013 status taxonomy (OMN-1312)
  CLAUDE.md
  docs/architecture/adr/ADR-013-status-taxonomy.md
Due: none

fix(demo): resolve infinite recursion in lazy import __getattr__ (OMN-1201)
  examples/demo/__init__.py
  examples/demo/handlers/__init__.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(enums): address PR #378 final review feedback and fix CI failures (OMN-1296)
  src/omnibase_core/enums/enum_severity.py
  src/omnibase_core/models/metadata/model_structured_display_name.py
  tests/unit/enums/test_enum_handler_type.py
  tests/unit/validation/test_contracts_extended.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): address PR review - add FATAL support and fix CI (OMN-1311)
  src/omnibase_core/models/common/model_validation_result.py
  src/omnibase_core/models/metadata/analytics/model_analytics_error_summary.py
  src/omnibase_core/models/metadata/analytics/model_analytics_error_tracking.py
  src/omnibase_core/services/invariant/service_invariant_evaluator.py
  tests/unit/models/core/test_model_validation_result.py
  tests/unit/models/replay/test_model_execution_comparison.py
  tests/unit/services/invariant/test_batch_evaluation.py
  tests/unit/services/test_service_decision_report_generator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
