Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

perf(OMN-19444): lazy-load onex CLI built-in commands and cli package attrs
  src/omnibase_core/cli/__init__.py
  src/omnibase_core/cli/cli_commands.py
  tests/unit/cli/test_cli_run_harness.py
  tests/unit/cli/test_lazy_cli_loading_omn19444.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-19405): onex-work-ledger read CLI over the work-ledger fold (#1755)
  pyproject.toml
  src/omnibase_core/nodes/node_work_ledger_state_compute/runtime_work_ledger.py
  tests/unit/cli/test_cli_work_ledger.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-19435): timeout and no-terminal terminal failure cause members
  src/omnibase_core/enums/enum_delegation_terminal_failure_cause.py
  tests/unit/enums/test_enum_delegation_terminal_failure_cause.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-19437): core half -- trace and span ids on the delegation command and terminal
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-16182): work-ledger md renderer and onex-work-ledger render --check/--repair
  src/omnibase_core/cli/cli_work_ledger_render.py
  src/omnibase_core/errors/error_work_ledger_render.py
  src/omnibase_core/errors/error_work_ledger_undecided.py
  src/omnibase_core/models/events/work/model_work_ledger_line.py
  src/omnibase_core/models/events/work/model_work_ledger_render.py
  src/omnibase_core/nodes/node_work_ledger_state_compute/handler.py
  src/omnibase_core/nodes/node_work_ledger_state_compute/runtime_work_ledger.py
  tests/unit/models/events/work/test_work_ledger_render.py
  tests/unit/nodes/node_work_ledger_state_compute/test_fold.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

perf(OMN-19444): lazy-load onex CLI built-in commands and cli package attrs (#1758)
  src/omnibase_core/cli/__init__.py
  src/omnibase_core/cli/cli_commands.py
  tests/unit/cli/test_cli_run_harness.py
  tests/unit/cli/test_lazy_cli_loading_omn19444.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-19435): timeout and no-terminal terminal failure cause members (#1759)
  src/omnibase_core/enums/enum_delegation_terminal_failure_cause.py
  tests/unit/enums/test_enum_delegation_terminal_failure_cause.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16182): create the md lock file owner-only (0o600)
  src/omnibase_core/cli/cli_work_ledger_render.py
  tests/unit/models/events/work/test_work_ledger_render.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-19512): receipt gates re-run on ready_for_review so a draft-era red is refreshed
  .github/workflows/call-receipt-gate.yml
  .github/workflows/receipt-honesty.yml
Due: validate-string-versions

feat(OMN-19408): runtime lane names and the runtime_lanes contract scope model (#1756)
  src/omnibase_core/constants/constants_runtime_lanes.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_runtime_lane_scope.py
  tests/unit/models/contracts/subcontracts/test_model_runtime_lane_scope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-19437): core half -- trace and span ids on the delegation command and terminal (#1760)
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-17538): RED DoD tests for the lane desired-state identity models
  tests/unit/models/lane_desired_state/__init__.py
  tests/unit/models/lane_desired_state/test_lane_desired_state_models_omn17538.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(OMN-18595): carry the 0.47.23 Breaking note forward to the re-cut release PR
  CHANGELOG.md
Due: none

fix(OMN-19515): validate-union-usage is one whole-tree ratchet, not a per-batch cap
  .pre-commit-config.yaml
  scripts/validation/validate-union-usage.py
  tests/unit/validation/test_validate_union_usage_whole_tree.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-17538): lane desired-state identity models (core half)
  src/omnibase_core/models/lane_desired_state/__init__.py
  src/omnibase_core/models/lane_desired_state/model_imperative_override.py
  src/omnibase_core/models/lane_desired_state/model_lane_desired_state_identity.py
  src/omnibase_core/models/lane_desired_state/model_migration_bundle_id.py
  src/omnibase_core/models/lane_desired_state/model_resolved_image.py
  src/omnibase_core/models/lane_desired_state/model_secrets_sync_identity.py
  src/omnibase_core/models/lane_desired_state/model_unresolved_field.py
  tests/unit/models/lane_desired_state/test_lane_desired_state_models_omn17538.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-19153): drop TopicBase's unreferenced member for omniclaude's retired DoD-verify-completed spelling
  src/omnibase_core/topics.py
  tests/unit/test_topic_base_dod_verify_duplicate_retired_omn19153.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-19515): validate-union-usage is one whole-tree ratchet, not a per-batch cap (#1764)
  .pre-commit-config.yaml
  scripts/validation/validate-union-usage.py
  tests/unit/validation/test_validate_union_usage_whole_tree.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-19529): the quality gate input can carry the text a response was derived from
  pyproject.toml
  src/omnibase_core/models/delegation/wire/model_quality_gate.py
  tests/unit/models/delegation/wire/test_quality_gate_input_grounding_source.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-16182): bump omnibase_core to 0.47.24 past the published 0.47.23
  pyproject.toml
  uv.lock
Due: none

feat(OMN-17538): lane desired-state identity models (core half) (#1765)
  src/omnibase_core/models/lane_desired_state/__init__.py
  src/omnibase_core/models/lane_desired_state/model_imperative_override.py
  src/omnibase_core/models/lane_desired_state/model_lane_desired_state_identity.py
  src/omnibase_core/models/lane_desired_state/model_migration_bundle_id.py
  src/omnibase_core/models/lane_desired_state/model_resolved_image.py
  src/omnibase_core/models/lane_desired_state/model_secrets_sync_identity.py
  src/omnibase_core/models/lane_desired_state/model_unresolved_field.py
  tests/unit/models/lane_desired_state/__init__.py
  tests/unit/models/lane_desired_state/test_lane_desired_state_models_omn17538.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-16182): work-ledger md renderer and onex-work-ledger render --check/--repair (#1761)
  pyproject.toml
  src/omnibase_core/cli/cli_work_ledger_render.py
  src/omnibase_core/errors/error_work_ledger_render.py
  src/omnibase_core/errors/error_work_ledger_undecided.py
  src/omnibase_core/models/events/work/model_work_ledger_line.py
  src/omnibase_core/models/events/work/model_work_ledger_render.py
  src/omnibase_core/nodes/node_work_ledger_state_compute/handler.py
  src/omnibase_core/nodes/node_work_ledger_state_compute/runtime_work_ledger.py
  tests/unit/models/events/work/test_work_ledger_render.py
  tests/unit/nodes/node_work_ledger_state_compute/test_fold.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-19529): the quality gate input can carry the text a response was derived from (#1767)
  src/omnibase_core/models/delegation/wire/model_quality_gate.py
  tests/unit/models/delegation/wire/test_quality_gate_input_grounding_source.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18202): core dependency cascade stops stamping bump PRs with the upstream companion
  .github/workflows/dependency-cascade.yml
  tests/scripts/test_dependency_cascade_matrix.py
  tests/scripts/test_omn_18202_cascade_no_foreign_stamp.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-19553): report-only contract walker composes orchestrator and reducer machines and reports paths, error edges, illegal pairs and defects
  .pre-commit-hooks.yaml
  src/omnibase_core/enums/enum_contract_walk.py
  src/omnibase_core/models/validation/model_contract_walk_component.py
  src/omnibase_core/models/validation/model_contract_walk_illegal_pair.py
  src/omnibase_core/models/validation/model_contract_walk_machine.py
  src/omnibase_core/models/validation/model_contract_walk_not_armed.py
  src/omnibase_core/models/validation/model_contract_walk_path.py
  src/omnibase_core/models/validation/model_contract_walk_report.py
  src/omnibase_core/models/validation/model_contract_walk_state_ref.py
  src/omnibase_core/models/validation/model_contract_walk_step.py
  src/omnibase_core/models/validation/model_contract_walk_summary.py
  src/omnibase_core/models/validation/model_contract_walk_transition_ref.py
  src/omnibase_core/models/validation/model_contract_walk_workflow.py
  src/omnibase_core/validation/validator_contract_walker.py
  tests/unit/validation/test_validator_contract_walker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-19408): register the per-host dev lanes compose-dev-105, -200 and -202
  src/omnibase_core/constants/constants_runtime_lanes.py
  tests/unit/models/contracts/subcontracts/test_model_runtime_lane_scope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-19614): cancel superseded PR runs; diff-scope Detect Secrets and AI Slop
  .github/workflows/ci.yml
  scripts/ci/ci_scan_scope.py
  tests/unit/scripts/ci/test_ci_scan_scope.py
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17690): revive the sealed OMN-17690/OMN-17696 bundle, strict wire configs for version and generation models
  src/omnibase_core/models/core/model_extracted_block.py
  src/omnibase_core/models/core/model_file_reference.py
  src/omnibase_core/models/core/model_generated_file.py
  src/omnibase_core/models/core/model_generated_models.py
  src/omnibase_core/models/core/model_generation_result.py
  src/omnibase_core/models/core/model_mixin_version.py
  src/omnibase_core/models/core/model_multi_doc_generation_result.py
  src/omnibase_core/models/core/model_node_metadata.py
  src/omnibase_core/models/core/model_node_metadata_block.py
  src/omnibase_core/models/core/model_node_template.py
  src/omnibase_core/models/core/model_node_version_constraints.py
  src/omnibase_core/models/core/model_onex_version.py
  src/omnibase_core/models/core/model_parse_metadata.py
  src/omnibase_core/models/core/model_regeneration_target.py
  src/omnibase_core/models/core/model_rendered_template.py
  src/omnibase_core/models/core/model_template_context.py
  src/omnibase_core/models/core/model_version_deployment.py
  src/omnibase_core/models/core/model_version_documentation.py
  src/omnibase_core/models/core/model_version_file.py
  src/omnibase_core/models/core/model_version_implementation.py
  src/omnibase_core/models/core/model_version_manifest_class.py
  src/omnibase_core/models/core/model_version_security.py
  src/omnibase_core/models/core/model_version_status.py
  src/omnibase_core/models/core/model_version_testing.py
  src/omnibase_core/models/core/model_yaml_section.py
  src/omnibase_core/validators/extra_forbid_baseline.yaml
  tests/unit/mixins/test_mixin_canonical_serialization.py
  tests/unit/models/core/test_model_extracted_block.py
  tests/unit/models/core/test_model_multi_doc_generation_result.py
  tests/unit/models/core/test_model_node_metadata_block_entrypoint_schema.py
  tests/unit/models/core/test_model_project_metadata_block.py
  tests/unit/models/core/test_omn17617_version_generation_configs.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-19153): drop TopicBase's unreferenced member for omniclaude's retired DoD-verify-completed spelling (#1766)
  src/omnibase_core/topics.py
  tests/unit/test_topic_base_dod_verify_duplicate_retired_omn19153.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-19620): typed questions, the operator answer link and typed withdrawal in the work ledger
  .pre-commit-config.yaml
  src/omnibase_core/enums/enum_invalid_question_ref_reason.py
  src/omnibase_core/enums/enum_question_status.py
  src/omnibase_core/enums/enum_question_withdrawal_reason.py
  src/omnibase_core/enums/enum_work_event_kind.py
  src/omnibase_core/models/events/work/__init__.py
  src/omnibase_core/models/events/work/model_evidence_refs.py
  src/omnibase_core/models/events/work/model_ledger_row_ref.py
  src/omnibase_core/models/events/work/model_work_event_base.py
  src/omnibase_core/models/events/work/model_work_event_union.py
  src/omnibase_core/models/events/work/model_work_ledger_render.py
  src/omnibase_core/models/events/work/model_work_operator_consent_recorded.py
  src/omnibase_core/models/events/work/model_work_question_asked.py
  src/omnibase_core/models/events/work/model_work_question_withdrawn.py
  src/omnibase_core/models/events/work/model_work_ruling_recorded.py
  src/omnibase_core/models/nodes/work_ledger_state/__init__.py
  src/omnibase_core/models/nodes/work_ledger_state/model_invalid_question_ref.py
  src/omnibase_core/models/nodes/work_ledger_state/model_question_state.py
  src/omnibase_core/models/nodes/work_ledger_state/model_work_ledger_health.py
  src/omnibase_core/models/nodes/work_ledger_state/model_work_ledger_state.py
  src/omnibase_core/models/nodes/work_ledger_state/model_work_ledger_verdict.py
  src/omnibase_core/nodes/node_work_ledger_state_compute/contract.yaml
  src/omnibase_core/nodes/node_work_ledger_state_compute/handler.py
  src/omnibase_core/nodes/node_work_ledger_state_compute/queries.py
  src/omnibase_core/nodes/node_work_ledger_state_compute/runtime_work_ledger.py
  tests/unit/cli/test_cli_work_ledger.py
  tests/unit/models/events/work/test_model_work_event.py
  tests/unit/models/events/work/test_model_work_question.py
  tests/unit/models/events/work/test_work_ledger_line.py
  tests/unit/models/events/work/test_work_ledger_render.py
  tests/unit/nodes/node_work_ledger_state_compute/test_fold_questions.py
  tests/unit/nodes/node_work_ledger_state_compute/work_ledger_events.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-19614): deferred test_passes drops a cancelled matrix placeholder once its matrix expanded
  scripts/ci/deferred_test_passes_gate.py
  tests/unit/scripts/ci/test_contract_compliance_deferred_test_passes.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-19553): report-only contract walker composes orchestrator and reducer machines and reports paths, error edges, illegal pairs and defects (#1770)
  .pre-commit-hooks.yaml
  src/omnibase_core/enums/enum_contract_walk.py
  src/omnibase_core/models/validation/model_contract_walk_component.py
  src/omnibase_core/models/validation/model_contract_walk_illegal_pair.py
  src/omnibase_core/models/validation/model_contract_walk_machine.py
  src/omnibase_core/models/validation/model_contract_walk_not_armed.py
  src/omnibase_core/models/validation/model_contract_walk_path.py
  src/omnibase_core/models/validation/model_contract_walk_report.py
  src/omnibase_core/models/validation/model_contract_walk_state_ref.py
  src/omnibase_core/models/validation/model_contract_walk_step.py
  src/omnibase_core/models/validation/model_contract_walk_summary.py
  src/omnibase_core/models/validation/model_contract_walk_transition_ref.py
  src/omnibase_core/models/validation/model_contract_walk_workflow.py
  src/omnibase_core/validation/validator_contract_walker.py
  tests/unit/validation/test_validator_contract_walker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17711): revive the sealed OMN-17711/OMN-17714 bundle, strict security leaf configs and signature audit key_id
  src/omnibase_core/models/security/model_compliance_status.py
  src/omnibase_core/models/security/model_config_validation_result.py
  src/omnibase_core/models/security/model_encryption_algorithm.py
  src/omnibase_core/models/security/model_manager_assessment.py
  src/omnibase_core/models/security/model_mcp_security_summary.py
  src/omnibase_core/models/security/model_secure_event_envelope_class.py
  src/omnibase_core/models/security/model_security_event.py
  src/omnibase_core/models/security/model_signature_chain.py
  src/omnibase_core/models/security/model_signature_chain_summary.py
  src/omnibase_core/validators/extra_forbid_baseline.yaml
  tests/unit/models/security/test_omn17711_status_event_leaf_configs.py
  tests/unit/models/security/test_omn17714_secure_envelope_signature_events.py
  tests/unit/models/security/test_omn17716_signature_chain_hash_uuid_boundary.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-17690): stop passing an unrecognized version_str field into ModelNodeMetadataBlock
  tests/unit/mixins/test_mixin_utils.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-17732): revive the sealed OMN-17732 bundle, strict backend and permission security leaf configs
  src/omnibase_core/models/security/model_backend_capabilities.py
  src/omnibase_core/models/security/model_backend_config_validation.py
  src/omnibase_core/models/security/model_backend_performance_profile.py
  src/omnibase_core/models/security/model_performance_optimization_config.py
  src/omnibase_core/models/security/model_permission_action.py
  src/omnibase_core/models/security/model_permission_metadata.py
  src/omnibase_core/validators/extra_forbid_baseline.yaml
  tests/unit/models/security/test_omn17732_security_leaf_configs.py
  tests/unit/models/security/test_omn17736_permission_action_uuid.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: scope local validators to staged files (OMN-19612)
  .pre-commit-config.yaml
  scripts/ci/check_async_fixture_decorators.py
  scripts/validate-no-transport-imports.sh
  scripts/validation/validate-archived-imports.py
  scripts/validation/validate-contracts.py
  scripts/validation/validate-file-locations.py
  src/omnibase_core/validators/generated_node_model_class_exists.py
  tests/unit/scripts/ci/test_async_fixture_decorators.py
  tests/unit/scripts/test_shell_hook_streaming.py
  tests/unit/validators/test_generated_node_model_class_exists.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-19639): cancel superseded pull request runs
  .github/workflows/auto-tag-on-merge.yml
  .github/workflows/call-occ-preflight.yml
  .github/workflows/call-receipt-gate.yml
  .github/workflows/call-reject-skip.yml
  .github/workflows/canonical-inference-gate.yml
  .github/workflows/check-db-ownership.yml
  .github/workflows/check-handshake.yml
  .github/workflows/cr-thread-gate-caller.yml
  .github/workflows/dep-provenance-gate.yml
  .github/workflows/kb-doc-gate.yml
  .github/workflows/main-target-guard.yml
  .github/workflows/no-faked-boundary.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/pr-title-check.yml
  .github/workflows/precommit-parity-gate.yml
  .github/workflows/required-check-skip-guard-caller.yml
  .github/workflows/security-scan.yml
  .github/workflows/semantic-diff-labeler.yml
  .github/workflows/stale-todo-gate.yml
  .github/workflows/todo-audit-on-merge.yml
  .github/workflows/url-authority-gate.yml
Due: validate-string-versions

fix: preserve Ruff fixture exclusions (OMN-19612)
  .pre-commit-config.yaml
Due: validate-string-versions

fix(OMN-18202): core dependency cascade stops stamping bump PRs with the upstream companion (#1768)
  .github/workflows/dependency-cascade.yml
  tests/scripts/test_dependency_cascade_matrix.py
  tests/scripts/test_omn_18202_cascade_no_foreign_stamp.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-19620): typed questions, the operator answer link and typed withdrawal in the work ledger (#1774)
  .pre-commit-config.yaml
  src/omnibase_core/enums/enum_invalid_question_ref_reason.py
  src/omnibase_core/enums/enum_question_status.py
  src/omnibase_core/enums/enum_question_withdrawal_reason.py
  src/omnibase_core/enums/enum_work_event_kind.py
  src/omnibase_core/models/events/work/__init__.py
  src/omnibase_core/models/events/work/model_evidence_refs.py
  src/omnibase_core/models/events/work/model_ledger_row_ref.py
  src/omnibase_core/models/events/work/model_work_event_base.py
  src/omnibase_core/models/events/work/model_work_event_union.py
  src/omnibase_core/models/events/work/model_work_ledger_render.py
  src/omnibase_core/models/events/work/model_work_operator_consent_recorded.py
  src/omnibase_core/models/events/work/model_work_question_asked.py
  src/omnibase_core/models/events/work/model_work_question_withdrawn.py
  src/omnibase_core/models/events/work/model_work_ruling_recorded.py
  src/omnibase_core/models/nodes/work_ledger_state/__init__.py
  src/omnibase_core/models/nodes/work_ledger_state/model_invalid_question_ref.py
  src/omnibase_core/models/nodes/work_ledger_state/model_question_state.py
  src/omnibase_core/models/nodes/work_ledger_state/model_work_ledger_health.py
  src/omnibase_core/models/nodes/work_ledger_state/model_work_ledger_state.py
  src/omnibase_core/models/nodes/work_ledger_state/model_work_ledger_verdict.py
  src/omnibase_core/nodes/node_work_ledger_state_compute/contract.yaml
  src/omnibase_core/nodes/node_work_ledger_state_compute/handler.py
  src/omnibase_core/nodes/node_work_ledger_state_compute/queries.py
  src/omnibase_core/nodes/node_work_ledger_state_compute/runtime_work_ledger.py
  tests/unit/cli/test_cli_work_ledger.py
  tests/unit/models/events/work/test_model_work_event.py
  tests/unit/models/events/work/test_model_work_question.py
  tests/unit/models/events/work/test_work_ledger_line.py
  tests/unit/models/events/work/test_work_ledger_render.py
  tests/unit/nodes/node_work_ledger_state_compute/test_fold_questions.py
  tests/unit/nodes/node_work_ledger_state_compute/work_ledger_events.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
