Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

docs(pipeline): add comprehensive documentation, tests, and PR review fixes (OMN-1114)
  docs/INDEX.md
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/builder_execution_plan.py
  src/omnibase_core/pipeline/models/model_execution_plan.py
  src/omnibase_core/pipeline/models/model_pipeline_hook.py
  src/omnibase_core/pipeline/models/model_validation_warning.py
  src/omnibase_core/pipeline/runner_pipeline.py
  tests/integration/pipeline/__init__.py
  tests/integration/pipeline/test_pipeline_integration.py
  tests/unit/pipeline/test_registry_hook_performance.py
  tests/unit/pipeline/test_runner_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style: fix ruff linting errors (import sorting & unused vars)
  src/omnibase_core/protocols/validation/__init__.py
  src/omnibase_core/validation/__init__.py
  tests/unit/models/events/contract_validation/test_contract_validation_invariant_checker.py
  tests/unit/models/events/contract_validation/test_model_contract_validation_events.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): remove redundant comments and unreachable exception handler
  src/omnibase_core/mixins/mixin_node_lifecycle.py
  src/omnibase_core/mixins/mixin_node_service.py
  src/omnibase_core/validation/contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style(pipeline): fix ruff formatting issues (OMN-1114)
  src/omnibase_core/pipeline/builder_execution_plan.py
  tests/integration/pipeline/test_pipeline_integration.py
  tests/unit/pipeline/test_registry_hook_performance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address PR #292 review feedback and suggested improvements
  docs/architecture/MIXINS_TO_HANDLERS_REFACTOR.md
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_execution_constraints.py
  tests/unit/models/contracts/test_handler_contract_examples.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add TypeGuard functions and hashability for capabilities (OMN-1152)
  src/omnibase_core/models/capabilities/__init__.py
  src/omnibase_core/models/capabilities/model_capability_dependency.py
  src/omnibase_core/models/capabilities/model_requirement_set.py
  tests/unit/models/capabilities/test_model_capability_dependency.py
  tests/unit/models/capabilities/test_model_requirement_set.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address final PR #292 review feedback
  docs/architecture/MIXINS_TO_HANDLERS_REFACTOR.md
  tests/unit/models/contracts/test_handler_contract_examples.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(models): address PR review feedback for contract validation events
  src/omnibase_core/models/events/contract_validation/model_contract_merge_completed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_merge_started_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_failed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_passed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_started_event.py
  src/omnibase_core/protocols/protocol_contract_validation_invariant_checker.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/contract_validation_invariant_checker.py
  tests/unit/models/events/contract_validation/test_contract_validation_invariant_checker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(registry): add capability metadata and registry services (OMN-1156)
  docs/guides/MIGRATING_TO_MIXIN_EVENT_BUS_V0_4.md
  scripts/validation/validate-string-versions.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/models/capabilities/__init__.py
  src/omnibase_core/models/capabilities/model_capability_metadata.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/protocol_from_event.py
  src/omnibase_core/services/registry/__init__.py
  src/omnibase_core/services/registry/registry_capability.py
  src/omnibase_core/services/registry/registry_provider.py
  tests/unit/models/capabilities/test_model_capability_metadata.py
  tests/unit/services/__init__.py
  tests/unit/services/registry/__init__.py
  tests/unit/services/registry/test_registry_capability.py
  tests/unit/services/registry/test_registry_provider.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): remove unreachable UnicodeDecodeError from validation_utils
  src/omnibase_core/validation/validation_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(models): enhance thread safety and constant documentation
  src/omnibase_core/models/events/contract_validation/model_contract_validation_failed_event.py
  src/omnibase_core/protocols/protocol_contract_validation_invariant_checker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(manifest): add execution manifest generation for pipeline observability (OMN-1113)
  .gitignore
  scripts/validation/validate-string-versions.py
  src/omnibase_core/cli/commands.py
  src/omnibase_core/cli/composition_report.py
  src/omnibase_core/enums/enum_activation_reason.py
  src/omnibase_core/models/manifest/__init__.py
  src/omnibase_core/models/manifest/model_activation_summary.py
  src/omnibase_core/models/manifest/model_capability_activation.py
  src/omnibase_core/models/manifest/model_contract_identity.py
  src/omnibase_core/models/manifest/model_dependency_edge.py
  src/omnibase_core/models/manifest/model_emissions_summary.py
  src/omnibase_core/models/manifest/model_execution_manifest.py
  src/omnibase_core/models/manifest/model_hook_trace.py
  src/omnibase_core/models/manifest/model_manifest_failure.py
  src/omnibase_core/models/manifest/model_metrics_summary.py
  src/omnibase_core/models/manifest/model_node_identity.py
  src/omnibase_core/models/manifest/model_ordering_summary.py
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/manifest_generator.py
  src/omnibase_core/pipeline/manifest_logger.py
  src/omnibase_core/pipeline/manifest_observer.py
  tests/unit/cli/test_composition_report.py
  tests/unit/enums/test_enum_activation_reason.py
  tests/unit/models/manifest/__init__.py
  tests/unit/models/manifest/conftest.py
  tests/unit/models/manifest/test_model_execution_manifest.py
  tests/unit/pipeline/__init__.py
  tests/unit/pipeline/test_manifest_generator.py
  tests/unit/pipeline/test_manifest_logger.py
  tests/unit/pipeline/test_manifest_observer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(pipeline): add callable validation, debug logging, and performance tests (OMN-1114)
  src/omnibase_core/pipeline/builder_execution_plan.py
  src/omnibase_core/pipeline/runner_pipeline.py
  tests/unit/pipeline/test_builder_execution_plan.py
  tests/unit/pipeline/test_registry_hook_performance.py
  tests/unit/pipeline/test_runner_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): add PEP 695 type alias and structured error context (OMN-1152)
  src/omnibase_core/models/capabilities/model_capability_dependency.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): add missing contract_version and node_type to handler examples
  examples/contracts/handlers/compute_handler.yaml
  examples/contracts/handlers/effect_handler.yaml
  examples/contracts/handlers/reducer_handler.yaml
Due: validate-string-versions

fix(contracts): fix CI failure and address remaining PR #289 feedback (OMN-1126)
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_contract_patch.py
  src/omnibase_core/models/contracts/model_descriptor_patch.py
  src/omnibase_core/validation/validation_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): remove backwards compatibility and extract ProtocolFromEvent
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/pipeline/manifest_logger.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/event_bus/__init__.py
  src/omnibase_core/protocols/event_bus/protocol_from_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(pipeline): add thread safety docs, fix formatting, enhance API docs (OMN-1114)
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/builder_execution_plan.py
  src/omnibase_core/pipeline/composer_middleware.py
  src/omnibase_core/pipeline/exceptions.py
  src/omnibase_core/pipeline/models/model_execution_plan.py
  src/omnibase_core/pipeline/models/model_pipeline_hook.py
  src/omnibase_core/pipeline/models/model_validation_warning.py
  src/omnibase_core/pipeline/registry_hook.py
  src/omnibase_core/pipeline/runner_pipeline.py
  tests/unit/pipeline/test_registry_hook_performance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #293 review feedback and CI failures
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/contract_validation_invariant_checker.py
  tests/unit/models/events/contract_validation/test_contract_validation_invariant_checker.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(registry): handle empty tag list and add capability validation (OMN-1156)
  src/omnibase_core/models/capabilities/model_capability_metadata.py
  src/omnibase_core/services/registry/registry_capability.py
  src/omnibase_core/services/registry/registry_provider.py
  tests/unit/models/capabilities/test_model_capability_metadata.py
  tests/unit/services/registry/test_registry_capability.py
  tests/unit/services/registry/test_registry_provider.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): remove node_type and contract_version from handler examples
  examples/contracts/handlers/compute_handler.yaml
  examples/contracts/handlers/effect_handler.yaml
  examples/contracts/handlers/reducer_handler.yaml
Due: validate-string-versions

docs(architecture): add language specifiers to markdown code blocks (OMN-1152)
  docs/architecture/CAPABILITY_RESOLUTION.md
Due: none

fix(contracts): address all PR #289 feedback for release readiness (OMN-1126)
  docs/guides/CONTRACT_PATCHING_GUIDE.md
  src/omnibase_core/models/contracts/model_contract_patch.py
  src/omnibase_core/validation/validation_utils.py
  tests/unit/models/contracts/test_model_contract_patch.py
  tests/unit/validation/test_contract_patch_validator.py
  tests/unit/validation/test_validation_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(manifest): address PR review feedback for manifest generation
  src/omnibase_core/cli/composition_report.py
  src/omnibase_core/models/manifest/model_hook_trace.py
  src/omnibase_core/models/manifest/model_node_identity.py
  src/omnibase_core/pipeline/manifest_logger.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/protocol_logger_like.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): remove unnecessary parentheses and fix line length
  src/omnibase_core/mixins/mixin_discovery_responder.py
  src/omnibase_core/mixins/mixin_node_lifecycle.py
  src/omnibase_core/models/infrastructure/model_transaction.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): replace deprecated datetime.utcnow() with datetime.now(timezone.utc)
  docs/architecture/EXECUTION_SHAPE_EXAMPLES.md
  docs/architecture/MIXINS_TO_HANDLERS_REFACTOR.md
  docs/architecture/REGISTRATION_FSM_CONTRACT.md
  src/omnibase_core/models/intents/model_postgres_upsert_registration_intent.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(manifest): address additional PR review feedback
  src/omnibase_core/models/manifest/model_activation_summary.py
  src/omnibase_core/models/manifest/model_capability_activation.py
  src/omnibase_core/models/manifest/model_contract_identity.py
  src/omnibase_core/models/manifest/model_dependency_edge.py
  src/omnibase_core/models/manifest/model_emissions_summary.py
  src/omnibase_core/models/manifest/model_execution_manifest.py
  src/omnibase_core/models/manifest/model_hook_trace.py
  src/omnibase_core/models/manifest/model_manifest_failure.py
  src/omnibase_core/models/manifest/model_metrics_summary.py
  src/omnibase_core/models/manifest/model_node_identity.py
  src/omnibase_core/models/manifest/model_ordering_summary.py
  src/omnibase_core/pipeline/manifest_generator.py
  src/omnibase_core/pipeline/manifest_logger.py
  src/omnibase_core/pipeline/manifest_observer.py
  src/omnibase_core/protocols/protocol_logger_like.py
  tests/unit/models/manifest/conftest.py
  tests/unit/pipeline/test_manifest_generator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(pipeline): address PR #291 review feedback (OMN-1114)
  src/omnibase_core/pipeline/builder_execution_plan.py
  src/omnibase_core/pipeline/composer_middleware.py
  src/omnibase_core/pipeline/runner_pipeline.py
  tests/unit/pipeline/test_registry_hook_performance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address remaining PR #293 nitpick feedback
  src/omnibase_core/models/events/contract_validation/model_contract_ref.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_failed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_passed_event.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_started_event.py
  src/omnibase_core/validation/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(core): eliminate race conditions and improve type safety (OMN-1156)
  scripts/validation/validate-string-versions.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/services/registry/registry_provider.py
  tests/unit/services/registry/test_registry_provider.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): address final PR #289 nitpicks and polish for release (OMN-1126)
  docs/guides/CONTRACT_PATCHING_GUIDE.md
  src/omnibase_core/models/contracts/model_capability_provided.py
  src/omnibase_core/models/contracts/model_contract_patch.py
  src/omnibase_core/models/contracts/model_descriptor_patch.py
  src/omnibase_core/validation/contract_patch_validator.py
  src/omnibase_core/validation/validation_utils.py
  tests/unit/models/contracts/test_model_descriptor_patch.py
  tests/unit/models/contracts/test_model_handler_spec.py
  tests/unit/validation/test_contract_patch_validator.py
  tests/unit/validation/test_validation_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(manifest): address PR review feedback for release readiness
  src/omnibase_core/cli/composition_report.py
  src/omnibase_core/models/manifest/model_execution_manifest.py
  src/omnibase_core/models/manifest/model_hook_trace.py
  src/omnibase_core/models/primitives/model_semver.py
  src/omnibase_core/pipeline/manifest_generator.py
  src/omnibase_core/pipeline/manifest_logger.py
  src/omnibase_core/pipeline/manifest_observer.py
  tests/unit/pipeline/test_manifest_generator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): apply ruff formatting and remove redundant comments
  src/omnibase_core/mixins/mixin_discovery_responder.py
  src/omnibase_core/mixins/mixin_node_lifecycle.py
  src/omnibase_core/utils/util_bootstrap.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(pipeline): address PR #291 minor suggestions (OMN-1114)
  src/omnibase_core/pipeline/builder_execution_plan.py
  src/omnibase_core/pipeline/runner_pipeline.py
  tests/unit/pipeline/test_runner_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #293 remaining nitpicks
  src/omnibase_core/models/events/contract_validation/model_contract_merge_completed_event.py
  src/omnibase_core/protocols/validation/__init__.py
  tests/unit/models/events/contract_validation/conftest.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(types): consolidate JSON types, remove aliases (OMN-1152)
  src/omnibase_core/models/capabilities/__init__.py
  src/omnibase_core/models/capabilities/model_requirement_set.py
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/models/security/model_masked_data.py
  src/omnibase_core/models/security/model_masked_data_class.py
  src/omnibase_core/models/security/model_masked_data_dict.py
  src/omnibase_core/models/security/model_masked_data_list.py
  src/omnibase_core/models/security/model_secret_manager.py
  src/omnibase_core/models/security/model_security_policy_data.py
  src/omnibase_core/models/validation/model_schema_property.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/json_types.py
  tests/unit/models/capabilities/test_model_requirement_set.py
  tests/unit/types/test_json_types.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(registry): address PR #295 review feedback (OMN-1156)
  CHANGELOG.md
  src/omnibase_core/services/registry/registry_capability.py
  src/omnibase_core/services/registry/registry_provider.py
  tests/unit/services/registry/test_registry_capability.py
  tests/unit/services/registry/test_registry_provider.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(contracts): fix CI failures and address remaining PR #289 feedback (OMN-1126)
  docs/guides/CONTRACT_PATCHING_GUIDE.md
  src/omnibase_core/models/contracts/model_contract_patch.py
  src/omnibase_core/models/contracts/model_descriptor_patch.py
  src/omnibase_core/validation/contract_patch_validator.py
  src/omnibase_core/validation/validation_utils.py
  tests/unit/validation/test_architecture.py
  tests/unit/validation/test_contract_patch_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add ModelCapabilityDependency for vendor-agnostic dependencies (OMN-1152) (#287)
  docs/INDEX.md
  docs/architecture/CAPABILITY_RESOLUTION.md
  docs/conventions/CAPABILITY_NAMING.md
  src/omnibase_core/models/capabilities/__init__.py
  src/omnibase_core/models/capabilities/model_capability_dependency.py
  src/omnibase_core/models/capabilities/model_requirement_set.py
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/models/security/model_masked_data.py
  src/omnibase_core/models/security/model_masked_data_class.py
  src/omnibase_core/models/security/model_masked_data_dict.py
  src/omnibase_core/models/security/model_masked_data_list.py
  src/omnibase_core/models/security/model_secret_manager.py
  src/omnibase_core/models/security/model_security_policy_data.py
  src/omnibase_core/models/validation/model_schema_property.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/json_types.py
  tests/unit/models/capabilities/__init__.py
  tests/unit/models/capabilities/test_model_capability_dependency.py
  tests/unit/models/capabilities/test_model_requirement_set.py
  tests/unit/types/test_json_types.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): fix test comment and document flags dict mutability
  src/omnibase_core/models/events/contract_validation/model_validation_context.py
  tests/unit/models/events/contract_validation/test_model_contract_ref.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
