Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts

mypy-poetry:
  name: MyPy Type Checking (via Poetry)
  entry: poetry run mypy
  language: system
  args:
  - --ignore-missing-imports
  - --show-error-codes
  - --no-strict-optional
  - --no-error-summary
  - --follow-imports=skip
  - --config-file=mypy.ini

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  args:
  - --allow-errors
  - '13'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --max-unions
  - '7000'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: remove remaining shell scripts and finalize root cleanup
  BREAKING_CHANGES.md
  STANDARDS_COMPLIANCE.md
  remove_requirements_from_repos.sh
  resolve_cli_conflicts.sh
Due: none

fix: resolve duplicate model consolidation and API compatibility
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/cli/model_cli_execution_result.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_workflow_coordination_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_workflow_definition.py
  src/omnibase_core/models/contracts/subcontracts/model_workflow_definition_metadata.py
  src/omnibase_core/models/infrastructure/__init__.py
  src/omnibase_core/models/infrastructure/model_execution_result.py
  src/omnibase_core/models/nodes/__init__.py
  src/omnibase_core/models/nodes/model_node_metadata_info.py
  src/omnibase_core/models/nodes/model_node_performance_metrics.py
  src/omnibase_core/models/nodes/model_node_type.py
  src/omnibase_core/models/nodes/model_types_node_metadata_summary.py
  src/omnibase_core/models/operations/__init__.py
  src/omnibase_core/models/operations/model_metadata_structures.py
  src/omnibase_core/models/operations/model_workflow_instance_metadata.py
  src/omnibase_core/models/patterns/__init__.py
  src/omnibase_core/models/patterns/model_node_type.py
  src/omnibase_core/models/results/__init__.py
  src/omnibase_core/models/results/model_generic_metadata.py
  src/omnibase_core/models/results/model_onex_message.py
  src/omnibase_core/models/results/model_onex_message_context.py
  src/omnibase_core/models/results/model_onex_result.py
  src/omnibase_core/models/results/model_orchestrator_info.py
  src/omnibase_core/models/results/model_orchestrator_metrics.py
  src/omnibase_core/models/results/model_unified_summary.py
  src/omnibase_core/models/results/model_unified_summary_details.py
  src/omnibase_core/models/results/model_unified_version.py
  src/omnibase_core/models/tools/__init__.py
  src/omnibase_core/models/tools/model_tool_execution_result.py
  src/omnibase_core/models/types/__init__.py
  src/omnibase_core/models/types/model_onex_common_types.py
  src/omnibase_core/models/workflows/__init__.py
  src/omnibase_core/models/workflows/model_workflow_execution_result.py
  tests/unit/models/core/test_model_node_type.py
  tests/unit/models/infrastructure/_archived/test_model_execution_result.py.archived
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

fix: apply CodeRabbit type safety fixes including PEP 695 recursive types
  scripts/validation/validate-union-usage.py
  src/omnibase_core/models/nodes/model_node_metadata_info.py
  src/omnibase_core/models/results/model_generic_metadata.py
  src/omnibase_core/models/results/model_onex_message_context.py
  src/omnibase_core/models/results/model_orchestrator_info.py
  src/omnibase_core/models/results/model_unified_summary.py
  src/omnibase_core/models/results/model_unified_summary_details.py
  src/omnibase_core/models/types/model_onex_common_types.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

docs(analysis): add comprehensive analysis report for models, enums, and protocols
  ANALYSIS_REPORT_MODELS_ENUMS_PROTOCOLS.md
Due: none

refactor: address CodeRabbit non-blocking review issues
  scripts/validation/validate-union-usage.py
  src/omnibase_core/models/results/model_generic_metadata.py
  src/omnibase_core/models/results/model_orchestrator_info.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

test: migrate archived execution result tests to specialized models
  src/omnibase_core/models/results/model_orchestrator_metrics.py
  tests/unit/models/infrastructure/_archived/test_model_execution_result.py.archived
  tests/unit/models/results/__init__.py
  tests/unit/models/results/test_model_generic_metadata.py
  tests/unit/models/results/test_model_onex_message.py
  tests/unit/models/results/test_model_onex_message_context.py
  tests/unit/models/results/test_model_onex_result.py
  tests/unit/models/results/test_model_orchestrator_info.py
  tests/unit/models/results/test_model_orchestrator_metrics.py
  tests/unit/models/results/test_model_unified_summary.py
  tests/unit/models/results/test_model_unified_summary_details.py
  tests/unit/models/results/test_model_unified_version.py
  tests/unit/models/tools/__init__.py
  tests/unit/models/tools/test_model_tool_execution_result.py
  tests/unit/models/workflows/__init__.py
  tests/unit/models/workflows/test_model_workflow_execution_result.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

ci: add GitHub Actions test workflow with coverage
  .github/workflows/test.yml
  pyproject.toml
Due: validate-string-versions

fix(ci): add git authentication for private dependencies
  .github/workflows/test.yml
Due: validate-string-versions

fix(ci): use GH_PAT secret for private repo authentication
  .github/workflows/test.yml
Due: validate-string-versions

fix: resolve Pydantic schema errors and linting violations for CI
  src/omnibase_core/__init__.py
  src/omnibase_core/models/operations/model_computation_output_data.py
  src/omnibase_core/models/operations/model_event_payload.py
  src/omnibase_core/models/operations/model_message_payload.py
  src/omnibase_core/models/operations/model_operation_payload.py
  src/omnibase_core/models/operations/model_workflow_payload.py
  src/omnibase_core/validation/contracts.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

fix(lint): remove commented-out code and print statements
  tests/unit/validation/test_validation_container_simple.py
  tests/unit/validation/test_validation_performance.py
Due: validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml

fix(lint): resolve Ruff violations and add stub detection hook
  .pre-commit-config.yaml
  .stub-check-config.example.yaml
  STUB_CHECKER_DELIVERY.md
  scripts/validation/check_stub_implementations.py
  src/omnibase_core/enums/enum_event_type.py
  src/omnibase_core/enums/enum_status_migration.py
  tests/validation/test_check_stub_implementations.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

fix(lint): consolidate validation imports to fix isort violation
  src/omnibase_core/__init__.py
Due: validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

fix(lint): resolve remaining Ruff violations in core modules
  src/omnibase_core/__init___fast.py
  src/omnibase_core/core/model_base_collection.py
  src/omnibase_core/core/type_constraints.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts

fix(lint): sort __all__ and add EnumVersionUnionType to exports
  src/omnibase_core/enums/__init__.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

fix(mypy): resolve type checking errors
  src/omnibase_core/enums/enum_collection_format.py
  src/omnibase_core/enums/enum_data_classification.py
  src/omnibase_core/enums/enum_documentation_quality.py
  src/omnibase_core/enums/enum_log_level.py
  src/omnibase_core/enums/enum_memory_usage.py
  src/omnibase_core/enums/enum_status_migration.py
  src/omnibase_core/models/cli/model_cli_action.py
  src/omnibase_core/models/cli/model_cli_result_metadata.py
  src/omnibase_core/models/connections/model_custom_connection_properties.py
  tests/unit/models/cli/test_model_cli_result_metadata.py
  tests/unit/models/connections/test_model_custom_connection_properties.py
  tests/unit/models/core/test_model_cli_action.py
  tests/unit/models/core/test_model_configuration_base.py
  tests/unit/models/core/test_model_custom_properties.py
  tests/unit/models/core/test_model_generic_collection.py
  tests/unit/models/core/test_model_generic_metadata_generic.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

unit tests fixes
  tests/unit/models/core/test_model_cli_action.py
  tests/unit/models/core/test_model_generic_collection.py
  tests/unit/models/core/test_model_node_type.py
Due: validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): resolve all Ruff violations and test failures
  src/omnibase_core/enums/enum_migration_conflict_type.py
  src/omnibase_core/enums/enum_parameter_type.py
  src/omnibase_core/enums/enum_runtime_category.py
  src/omnibase_core/enums/enum_severity_level.py
  src/omnibase_core/enums/enum_standard_category.py
  src/omnibase_core/enums/enum_status_migration.py
  tests/unit/models/core/test_model_result_generic.py
  tests/unit/models/infrastructure/test_model_result.py
  tests/unit/models/metadata/test_model_generic_metadata.py
  tests/unit/models/operations/test_model_event_payload.py
  tests/unit/validation/test_model_validation_container.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

fix(tests): skip 2 unimplemented validation tests in test_model_generic_metadata
  tests/unit/models/metadata/test_model_generic_metadata.py
Due: validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml

fix(ruff): update Ruff config to exclude archived code and ignore technical debt violations
  pyproject.toml
Due: none

fix(ruff): apply automatic Ruff fixes
  src/omnibase_core/core/type_constraints.py
  src/omnibase_core/enums/enum_collection_format.py
  src/omnibase_core/enums/enum_documentation_quality.py
  src/omnibase_core/enums/enum_log_level.py
  src/omnibase_core/enums/enum_memory_usage.py
  src/omnibase_core/enums/enum_runtime_category.py
  src/omnibase_core/enums/enum_severity_level.py
  src/omnibase_core/enums/enum_standard_category.py
  src/omnibase_core/enums/enum_status_migration.py
  src/omnibase_core/utils/safe_yaml_loader.py
  tests/unit/models/core/test_model_node_type.py
  tests/unit/models/metadata/test_model_generic_metadata.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts

fix(ci): lower coverage requirement and ignore all technical debt Ruff violations
  .github/workflows/test.yml
  pyproject.toml
  src/omnibase_core/__init__.py
  src/omnibase_core/enums/enum_data_classification.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

fix(format): apply Ruff formatting to 8 files and add ISC001 ignore
  pyproject.toml
  src/omnibase_core/models/cli/model_cli_execution.py
  src/omnibase_core/models/contracts/model_dependency.py
  src/omnibase_core/models/types/model_onex_common_types.py
  src/omnibase_core/models/validation/model_validation_base.py
  tests/fixtures/validation/edge_cases/large_file_content.py
  tests/fixtures/validation/edge_cases/syntax_error.py
  tests/unit/contracts/test_model_contract_base.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

fix(ci): remove Ruff format check to avoid Black conflict
  .github/workflows/test.yml
Due: validate-string-versions

type safetyp fixes
  src/omnibase_core/models/contracts/model_effect_retry_config.py
  src/omnibase_core/models/contracts/model_external_service_config.py
  src/omnibase_core/models/nodes/__init__.py
  src/omnibase_core/models/nodes/model_node_type.py
  src/omnibase_core/models/patterns/__init__.py
  tests/unit/models/core/test_model_node_type.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

fix(tests): resolve CI failures - protocol tests and code quality
  tests/unit/contracts/test_model_trigger_mappings.py
  tests/unit/core/test_protocol_implementations.py
  tests/unit/core/test_type_constraints.py
  tests/unit/exceptions/test_onex_error.py
  tests/unit/models/cli/test_model_cli_execution_config.py
Due: validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): resolve CI failures - protocol tests and code quality
  .claude/settings.local.json
  src/omnibase_core/models/contracts/model_effect_retry_config.py
  src/omnibase_core/models/metadata/model_metadata_node_info.py
  src/omnibase_core/models/nodes/model_node_type.py
  src/omnibase_core/validation/migrator_protocol.py
  tests/unit/core/test_decorators.py
  tests/unit/core/test_model_base_collection.py
  tests/unit/core/test_type_constraints.py
  tests/unit/models/cli/test_model_cli_execution_context.py
  tests/unit/models/cli/test_model_cli_execution_core.py
  tests/unit/models/common/test_model_error_context.py
  tests/unit/models/common/test_model_flexible_value.py
  tests/unit/models/contracts/test_model_fast_imports.py
  tests/unit/models/contracts/test_model_lazy_imports.py
  tests/unit/models/core/test_model_generic_collection_summary.py
  tests/unit/models/infrastructure/test_model_regex_flags.py
  tests/unit/models/infrastructure/test_model_timeout.py
  tests/unit/test_init_fast.py
  tests/unit/validation/test_cli.py
  tests/unit/validation/test_init_wrappers.py
  tests/unit/validation/test_migrator_protocol.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

fix(enums): correct comment in enum_retry_backoff_strategy __str__ method
  src/omnibase_core/enums/enum_retry_backoff_strategy.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

refactor(cli): improve code quality and documentation
  src/omnibase_core/models/cli/model_cli_result.py
  src/omnibase_core/validation/migrator_protocol.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

fix(validation): resolve critical cross-field validator bug in ModelProgressCore
  src/omnibase_core/models/infrastructure/progress/model_progress_core.py
  tests/unit/models/infrastructure/progress/test_model_progress_core.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

fix(quality): address CodeRabbit priorities, UUID uniqueness, error handling, and stub detection
  scripts/validation/check_stub_implementations.py
  src/omnibase_core/models/metadata/model_metadata_node_info.py
  src/omnibase_core/models/nodes/model_function_node.py
  src/omnibase_core/models/nodes/model_node_type.py
  src/omnibase_core/validation/migrator_protocol.py
  tests/unit/models/core/test_model_generic_collection_summary.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

fix(tests): resolve CI failures after fallback elimination
  src/omnibase_core/models/nodes/model_function_node.py
  tests/unit/models/nodes/test_model_function_documentation.py
  tests/unit/models/nodes/test_model_function_node.py
  tests/unit/models/nodes/test_model_function_relationships.py
  tests/unit/models/nodes/test_model_node_capabilities_info.py
  tests/unit/models/nodes/test_model_node_configuration.py
  tests/validation/test_check_error_raising.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

commit for terragon
  CIRCULAR_IMPORT_FIX_REPORT.md
  CLAUDE.md
  src/omnibase_core/container/container_service_resolver.py
  src/omnibase_core/errors/error_codes.py
  src/omnibase_core/errors/error_document_freshness.py
  src/omnibase_core/exceptions/__init__.py
  src/omnibase_core/infrastructure/__init__.py
  src/omnibase_core/infrastructure/node_reducer.py
  src/omnibase_core/models/common/model_schema_value.py
  src/omnibase_core/types/constraints.py
  tests/unit/container/test_container_service_resolver.py
  tests/unit/test_no_circular_imports.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

commit for terragon
  fix_mypy_errors.py
  src/omnibase_core/container/container_service_resolver.py
  src/omnibase_core/errors/error_document_freshness.py
  src/omnibase_core/exceptions/__init__.py
  src/omnibase_core/infrastructure/node_architecture_validation.py
  src/omnibase_core/infrastructure/node_base.py
  src/omnibase_core/infrastructure/node_compute.py
  src/omnibase_core/infrastructure/node_compute_service.py
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/infrastructure/node_effect.py
  src/omnibase_core/infrastructure/node_orchestrator.py
  src/omnibase_core/infrastructure/node_reducer.py
  src/omnibase_core/logging/core_logging.py
  src/omnibase_core/logging/emit.py
  src/omnibase_core/utils/util_contract_loader.py
  tests/unit/exceptions/test_onex_error.py
  tests/unit/models/core/test_model_custom_properties.py
  tests/unit/test_no_circular_imports.py
Due: mypy-poetry, validate-naming-conventions, validate-string-versions, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage

Path conditions:
  mypy-poetry: any of: ^src/omnibase_core/(core|model|enums|exceptions|decorators).*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|src/omnibase_core/core/contracts/model_contract_effect|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^tests/fixtures/validation/
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$
  validate-union-usage: any of: ^src/.*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
