Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-poetry, validate-contracts, canary-unit-tests, validate-union-usage

mypy-poetry:
  name: mypy via poetry
  entry: poetry run mypy
  language: system
  args:
  - --ignore-missing-imports
  - --show-error-codes
  - --no-strict-optional
  - --no-error-summary
  - --follow-imports=skip
  - --config-file=mypy.ini

validate-contracts:
  name: ONEX Contract Validation
  entry: python scripts/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - commit

canary-unit-tests:
  name: Canary Node Unit Tests
  entry: python scripts/run-canary-tests.py
  language: system
  pass_filenames: false
  stages:
  - commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: python scripts/validate-union-usage.py --max-unions 6700
  language: system
  pass_filenames: false
  stages:
  - commit

feat: Address all PR review deficiencies with comprehensive enhancements
  src/omnibase_core/agents/workflow_orchestrator_agent.py
  tests/unit/agents/test_workflow_orchestrator_agent.py
Due: validate-union-usage

Fix seven-gate-validation for workflow orchestrator branch
  scripts/run_7_gate_validation.py
Due: none

Fix CI seven-gate-validation rollback interference
  .github/workflows/ci-cd.yml
Due: none

Add debug output to seven-gate-validation for CI troubleshooting
  scripts/run_7_gate_validation.py
Due: none

Add full debug output to identify CI test collection error
  scripts/run_7_gate_validation.py
Due: none

Implement CI environment workaround for workflow-orchestrator validation
  scripts/run_7_gate_validation.py
Due: none

Fix CI omnibase_spi dependency resolution
  .github/workflows/ci-cd.yml
  scripts/run_7_gate_validation.py
Due: none

Clean up validation script - remove fallback workaround
  scripts/run_7_gate_validation.py
Due: none

Add CI dependency debugging
  .github/workflows/ci-cd.yml
Due: none

Fix CI cache invalidation: Force fresh venv with omnibase_spi
  .github/workflows/ci-cd.yml
Due: none

Fix Poetry GitHub authentication for omnibase_spi access
  .github/workflows/ci-cd.yml
Due: none

feat: enhance event bus with filtering and flexible security configuration
  CHANGES_SUMMARY.md
  src/omnibase_core/dev_adapters/memory_event_bus.py
  src/omnibase_core/mixin/mixin_node_id_from_contract.py
  src/omnibase_core/protocol/protocol_event_bus.py
  validation_reports/model_orchestrator_execution_state_validation.json
  validation_reports/model_orchestrator_parameters_validation.json
Due: validate-contracts, validate-union-usage

fix: remove deprecated Poetry experimental.system-git-client setting
  .github/workflows/ci-cd.yml
Due: none

Fix CI authentication for private omnibase_spi repository
  .github/workflows/ci-cd.yml
Due: none

Improve CI resilience for private repository access failures
  .github/workflows/ci-cd.yml
Due: none

Comprehensive CI fix for omnibase_spi dependency issues
  .github/workflows/ci-cd.yml
  CHANGES_SUMMARY.md
  scripts/run_7_gate_validation.py
Due: none

Add LlamaIndex workflow integration with comprehensive persistence and recovery
  src/omnibase_core/agents/models/model_workflow_metrics_monitor.py
  src/omnibase_core/agents/models/model_workflow_persistence_manager.py
  src/omnibase_core/agents/models/model_workflow_state_manager.py
  src/omnibase_core/agents/workflow_orchestrator_agent.py
  tests/unit/agents/test_workflow_orchestrator_agent.py
  validation_reports/workflow_orchestrator_agent_validation.json
Due: validate-union-usage

Add comprehensive omni* ecosystem standardization framework
  .claude/settings.local.json
  .github/workflows/omni-standards-compliance.yml
  .pre-commit-config.yaml
  EXECUTIVE_SUMMARY_STANDARDIZATION.md
  OMNI_ECOSYSTEM_STANDARDIZATION_FRAMEWORK.md
  PR_FEEDBACK_IMPLEMENTATION_SUMMARY.md
  STANDARDS_COMPLIANCE.md
  tools/migration/migrate_repository.py
  tools/validation/audit_optional.py
  tools/validation/requirements.txt
  tools/validation/validate_naming.py
  tools/validation/validate_structure.py
Due: none

Test pre-commit hooks
  README.md
Due: none

Implement centralized protocol validation framework
  .pre-commit-config.yaml
  mypy.ini
  scripts/PYDANTIC_VALIDATION_GUIDE.md
  scripts/README_PYDANTIC_HOOKS.md
  scripts/fix-pydantic-patterns.py
  scripts/migration/migrate_protocols_safe.py
  scripts/run-canary-tests.py
  scripts/spi-copy/README_SPI_VALIDATION.md
  scripts/templates/PROTOCOL_MIGRATION_PLAN.md
  scripts/validate-contracts.py
  scripts/validate-no-backward-compatibility.py
  scripts/validate-no-manual-yaml.py
  scripts/validate-pydantic-patterns.py
  scripts/validate-string-versions.py
  scripts/validate-union-usage.py
  scripts/validation/CENTRALIZED_VALIDATION_STRATEGY.md
  scripts/validation/REPOSITORY_INTEGRATION_GUIDE.md
  scripts/validation/audit_protocol_duplicates.py
  src/omnibase_core/models/core/model_base_node.py
  src/omnibase_core/models/core/model_generic_yaml.py
  src/omnibase_core/models/core/subcontracts/model_routing_subcontract.py
  src/omnibase_core/utils/__init__.py
  src/omnibase_core/utils/safe_yaml_loader.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/protocol_auditor.py
  src/omnibase_core/validation/protocol_migrator.py
  src/omnibase_core/validation/validation_utils.py
Due: mypy-poetry, validate-union-usage

Fix CI workflow: update script paths, use v4 artifacts, prevent file clutter
  .github/workflows/omni-standards-compliance.yml
Due: none

Fix CI: omnibase_core is foundational library, infrastructure nodes are in omnibase_infra
  .github/workflows/omni-standards-compliance.yml
  scripts/intelligence_hook.py
Due: none

Make validation scripts generic for all omni* packages
  .github/workflows/omni-standards-compliance.yml
  scripts/validate-downstream.py
  scripts/validate-imports.py
Due: none

Archive all models to create empty package structure with enhanced validation
  archive/src_archived/omnibase_core/__init__.py
  archive/src_archived/omnibase_core/enums/__init__.py
  archive/src_archived/omnibase_core/enums/core/__init__.py
  archive/src_archived/omnibase_core/enums/core/enum_node_type.py
  archive/src_archived/omnibase_core/mixins/__init__.py
  archive/src_archived/omnibase_core/models/__init__.py
  archive/src_archived/omnibase_core/models/core/__init__.py
  archive/src_archived/omnibase_core/models/core/errors/__init__.py
  archive/src_archived/omnibase_core/models/core/logging/__init__.py
  archive/src_archived/omnibase_core/models/core/model_base_node.py
  archive/src_archived/omnibase_core/models/core/model_generic_yaml.py
  archive/src_archived/omnibase_core/models/core/subcontracts/__init__.py
  archive/src_archived/omnibase_core/models/core/subcontracts/model_aggregation_subcontract.py
  archive/src_archived/omnibase_core/models/core/subcontracts/model_caching_subcontract.py
  archive/src_archived/omnibase_core/models/core/subcontracts/model_configuration_subcontract.py
  archive/src_archived/omnibase_core/models/core/subcontracts/model_event_type_subcontract.py
  archive/src_archived/omnibase_core/models/core/subcontracts/model_fsm_subcontract.py
  archive/src_archived/omnibase_core/models/core/subcontracts/model_routing_subcontract.py
  archive/src_archived/omnibase_core/models/core/subcontracts/model_state_management_subcontract.py
  archive/src_archived/omnibase_core/models/model_node_configuration.py
  archive/src_archived/omnibase_core/nodes/__init__.py
  archive/src_archived/omnibase_core/utils/__init__.py
  archive/src_archived/omnibase_core/utils/safe_yaml_loader.py
  archive/src_archived/omnibase_core/validation/__init__.py
  archive/src_archived/omnibase_core/validation/protocol_auditor.py
  archive/src_archived/omnibase_core/validation/protocol_migrator.py
  archive/src_archived/omnibase_core/validation/validation_utils.py
  scripts/validate-imports.py
  scripts/validate-stability.py
  scripts/validate-string-versions.py
  src/omnibase_core/core/__init__.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/exceptions/__init__.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/nodes/__init__.py
  src/omnibase_core/utils/__init__.py
  src/omnibase_core/validation/__init__.py
  {}
Due: mypy-poetry, validate-contracts, validate-union-usage

Address all PR #22 code review comments with comprehensive fixes
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/exceptions.py
  src/omnibase_core/validation/protocol_auditor.py
  src/omnibase_core/validation/protocol_migrator.py
  src/omnibase_core/validation/validation_utils.py
  tests/unit/validation/__init__.py
  tests/unit/validation/test_exceptions.py
  tests/unit/validation/test_protocol_auditor.py
  tests/unit/validation/test_validation_utils.py
Due: validate-union-usage

Disable CI workflows - focus on pre-commit hooks only
  .github/workflows-disabled/ci-cd.yml
  .github/workflows-disabled/claude-code-review.yml
  .github/workflows-disabled/claude.yml
  .github/workflows-disabled/omni-standards-compliance.yml
Due: none

Reorganize scripts directory and create importable validation framework
  .pre-commit-config.yaml
  DOMAIN_MAPPING.md
  scripts/analyze-to-dict-methods.py
  scripts/docs/CENTRALIZED_VALIDATION_STRATEGY.md
  scripts/docs/README.md
  scripts/docs/REPOSITORY_INTEGRATION_GUIDE.md
  scripts/docs/SCRIPTS_REORGANIZATION_SUMMARY.md
  scripts/fix-imports.py
  scripts/fix-semi-redundant-to-dict.py
  scripts/hooks/integration-guide.md
  scripts/hooks/onex-core-hooks.yaml
  scripts/hooks/onex-python-hooks.yaml
  scripts/intelligence/intelligence_hook.py
  scripts/migrate-pydantic-dict-calls.py
  scripts/remove-simple-to-dict-wrappers.py
  scripts/spi-copy/README_SPI_VALIDATION.md
  scripts/templates/PROTOCOL_MIGRATION_PLAN.md
  scripts/update-to-dict-callers.py
  scripts/validation/migrate_protocols_safe.py
  scripts/validation/validate-contracts.py
  scripts/validation/validate-downstream.py
  scripts/validation/validate-imports.py
  scripts/validation/validate-no-backward-compatibility.py
  scripts/validation/validate-no-manual-yaml.py
  scripts/validation/validate-pydantic-patterns.py
  scripts/validation/validate-stability.py
  scripts/validation/validate-string-versions.py
  scripts/validation/validate-union-usage.py
  scripts/validation/validate_ecosystem.py
  scripts/validation/validate_onex_standards.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/ecosystem_validators.py
Due: validate-union-usage

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add missing Any import for type annotation
  src/omnibase_core/models/core/model_action.py
  src/omnibase_core/models/core/model_action_base.py
  src/omnibase_core/models/core/model_action_metadata.py
  src/omnibase_core/models/core/model_action_parameters.py
  src/omnibase_core/models/core/model_action_payload.py
  src/omnibase_core/models/core/model_action_payload_base.py
  src/omnibase_core/models/core/model_action_registry.py
Due: mypy-poetry, validate-union-usage

feat: Phase 2 strong typing progress - major dict[str, Any] reductions
  .claude/settings.local.json
  fix_dict_patterns.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_environment_type.py
  src/omnibase_core/enums/enum_logging_level.py
  src/omnibase_core/exceptions/__init__.py
  src/omnibase_core/exceptions/onex_exception.py
  src/omnibase_core/models/core/model_action_parameters.py
  src/omnibase_core/models/core/model_action_validation_result.py
  src/omnibase_core/models/core/model_base_node.py
  src/omnibase_core/models/core/model_base_state.py
  src/omnibase_core/models/core/model_cli_execution.py
  src/omnibase_core/models/core/model_cli_result.py
  src/omnibase_core/models/core/model_contract.py
  src/omnibase_core/models/core/model_contract_data.py
  src/omnibase_core/models/core/model_environment.py
  src/omnibase_core/models/core/model_environment_defaults.py
  src/omnibase_core/models/core/model_event_envelope.py
  src/omnibase_core/models/core/model_event_type.py
  src/omnibase_core/models/core/model_example.py
  src/omnibase_core/models/core/model_execution_features.py
  src/omnibase_core/models/core/model_execution_statistics.py
  src/omnibase_core/models/core/model_execution_tags.py
  src/omnibase_core/models/core/model_feature_flags.py
  src/omnibase_core/models/core/model_node_discovery_result.py
  src/omnibase_core/models/core/model_onex_input_state.py
  src/omnibase_core/models/core/model_onex_warning.py
  src/omnibase_core/models/core/model_parse_metadata.py
  src/omnibase_core/models/core/model_parsed_arguments.py
  src/omnibase_core/models/core/model_route_hop.py
  src/omnibase_core/models/core/model_route_spec.py
Due: mypy-poetry, validate-union-usage

feat: second bulk Phase 2 fixes - 10 more files converted from dict[str, Any]
  fix_dict_patterns.py
  src/omnibase_core/models/core/model_cli_output_data.py
  src/omnibase_core/models/core/model_contract_content.py
  src/omnibase_core/models/core/model_custom_action_payload.py
  src/omnibase_core/models/core/model_data_action_payload.py
  src/omnibase_core/models/core/model_generic_yaml.py
  src/omnibase_core/models/core/model_hub_contract_config.py
  src/omnibase_core/models/core/model_node_execution_result.py
  src/omnibase_core/models/core/model_object_data.py
  src/omnibase_core/models/core/model_onex_event.py
  src/omnibase_core/models/core/model_registry_action_payload.py
Due: mypy-poetry, validate-union-usage

feat: Phase 2 completion - major dict[str, Any] reduction achieved
  fix_dict_patterns.py
  src/omnibase_core/models/core/model_contract_content.py
  src/omnibase_core/models/core/model_generic_yaml.py
Due: mypy-poetry, validate-union-usage

Test: minor update to validation node readme
  src/omnibase_core/nodes/node_validation_compute/README.md
Due: none

Complete major MyPy cleanup: recreate 5 high-error files with strong typing
  .claude/settings.local.json
  src/omnibase_core/enums/enum_cli_status.py
  src/omnibase_core/enums/enum_filter_type.py
  src/omnibase_core/enums/enum_registry_status.py
  src/omnibase_core/enums/enum_scenario_status.py
  src/omnibase_core/models/core/model_artifact_type_config.py
  src/omnibase_core/models/core/model_cli_action.py
  src/omnibase_core/models/core/model_cli_execution_result.py
  src/omnibase_core/models/core/model_cli_node_execution_input.py
  src/omnibase_core/models/core/model_cli_output_data.py
  src/omnibase_core/models/core/model_cli_result.py
  src/omnibase_core/models/core/model_connection_info.py
  src/omnibase_core/models/core/model_custom_filters.py
  src/omnibase_core/models/core/model_data_handling_declaration.py
  src/omnibase_core/models/core/model_environment_properties.py
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/models/core/model_fallback_strategy.py
  src/omnibase_core/models/core/model_file_filter.py
  src/omnibase_core/models/core/model_metadata_field_info.py
  src/omnibase_core/models/core/model_metadata_node_collection.py
  src/omnibase_core/models/core/model_namespace_config.py
  src/omnibase_core/models/core/model_node_capability.py
  src/omnibase_core/models/core/model_node_information.py
  src/omnibase_core/models/core/model_node_type.py
  src/omnibase_core/models/core/model_test_results.py
  src/omnibase_core/models/core/model_trend_data.py
  src/omnibase_core/models/core/model_uri.py
  src/omnibase_core/validation/protocol_auditor.py
  src/omnibase_core/validation/protocol_migrator.py
  src/omnibase_core/validation/validation_utils.py
Due: mypy-poetry, validate-union-usage

Update MyPy pre-commit hook to exclude archived directories
  .pre-commit-config.yaml
Due: none

Path conditions:
  mypy-poetry: any of: ^src/omnibase_core/(core|model|enums|exceptions|decorators).*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|src/omnibase_core/core/contracts/model_contract_effect).*\.py$)
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  canary-unit-tests: any of: ^(src/omnibase_core/nodes/canary/|tests/unit/test_canary_nodes\.py).*$
  validate-union-usage: any of: ^src/.*\.py$
