Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

feat(OMN-12674): remove reviewdog workflows and configs (#1201)
  .github/workflows/reviewdog.yml
Due: validate-string-versions

fix(OMN-12676): carry inference API key references
  src/omnibase_core/models/delegation/wire/model_orchestrator_intents.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12676): carry inference API key references (#1202)
  src/omnibase_core/models/delegation/wire/model_orchestrator_intents.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci: preserve hotfix main-target allowance for release
  .github/workflows/main-target-guard.yml
Due: validate-string-versions

chore: refresh core release lockfile
  uv.lock
Due: none

fix(OMN-12753): carry provider request options
  src/omnibase_core/models/delegation/wire/model_orchestrator_intents.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12753): carry provider request options (#1206)
  src/omnibase_core/models/delegation/wire/model_orchestrator_intents.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12762): accept quality gate overlay checks
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12762): accept quality gate overlay checks (#1207)
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-12765): refresh core lock version
  uv.lock
Due: none

chore(OMN-12765): backmerge current main into core dev lane (#1210)
  uv.lock
Due: none

release(OMN-12765): promote core dev lane to main (#1211)
  src/omnibase_core/models/delegation/wire/model_delegation_wire_request.py
  src/omnibase_core/models/delegation/wire/model_orchestrator_intents.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release)(OMN-12765): bump omnibase_core to v0.44.1
  pyproject.toml
  uv.lock
Due: none

chore(release)(OMN-12765): bump omnibase_core to v0.44.1 (#1213)
  pyproject.toml
  uv.lock
Due: none

chore(release)(OMN-12765): bump omnibase_core to v0.44.2
  pyproject.toml
  uv.lock
Due: none

chore(release)(OMN-12765): bump omnibase_core to v0.44.2 (#1217)
  pyproject.toml
  uv.lock
Due: none

feat(OMN-12777): add demo-path topic coherence gate as pre-commit + required CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/omnibase_core/validation/validator_demo_path_topic_coherence.py
  tests/unit/validation/test_validator_demo_path_topic_coherence.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-12777): add demo-path topic coherence gate as pre-commit + required CI (#1218)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/omnibase_core/validation/validator_demo_path_topic_coherence.py
  tests/unit/validation/test_validator_demo_path_topic_coherence.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-12791): receipt-honesty validator — fail gamed DoD receipts
  .pre-commit-hooks.yaml
  pyproject.toml
  src/omnibase_core/validation/validator_receipt_honesty.py
  tests/unit/validation/test_receipt_honesty_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12791): scope receipt honesty scans to changed files
  .pre-commit-hooks.yaml
  src/omnibase_core/validation/validator_receipt_honesty.py
  tests/unit/validation/test_receipt_honesty_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-12791): receipt-honesty validator — fail gamed DoD receipts (#1219)
  .pre-commit-hooks.yaml
  pyproject.toml
  src/omnibase_core/validation/validator_receipt_honesty.py
  tests/unit/validation/test_receipt_honesty_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12816): raise generation retry budget
  src/omnibase_core/models/generation/model_node_generation_request.py
  tests/unit/models/generation/test_model_node_generation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-12816): raise generation retry budget (#1221)
  src/omnibase_core/models/generation/model_node_generation_request.py
  tests/unit/models/generation/test_model_node_generation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-12825): wire receipt-honesty CI + pre-commit gate (queue-safe prep)
  .github/workflows/receipt-honesty.yml
  .pre-commit-config.yaml
Due: validate-string-versions

ci(OMN-12825): wire receipt-honesty CI + pre-commit gate (queue-safe prep) (#1222)
  .github/workflows/receipt-honesty.yml
  .pre-commit-config.yaml
Due: validate-string-versions

feat(delegation): add logical secret refs to bifrost backend config
  src/omnibase_core/models/delegation/wire/model_bifrost_delegation_config.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-12857): mark logical refs as non-secret fixtures
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

test(OMN-12857): cover matching secret refs migration
  src/omnibase_core/models/delegation/wire/model_bifrost_delegation_config.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(OMN-12857): keep logical refs scanner-safe
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-12857): add Bifrost logical secret refs (#1223)
  src/omnibase_core/models/delegation/wire/model_bifrost_delegation_config.py
  tests/unit/models/delegation/wire/test_delegation_wire_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-12673): bump omnibase_core OCC workflow ref (#1225)
  .github/workflows/ci.yml
Due: validate-string-versions

chore(OMN-12934): backmerge omnibase_core main to dev (prereq for promotion) (#1226)
  pyproject.toml
  uv.lock
Due: none

feat(OMN-12960): single transport-envelope unwrap predicate + dispatch-surface test gate
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  src/omnibase_core/utils/util_envelope_unwrap.py
  src/omnibase_core/validators/dispatch_surface_test_required.py
  tests/utils/test_envelope_unwrap.py
  tests/validators/test_dispatch_surface_test_required.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-12957): runtime-profile registry + unregistered/no-consumer-lane validator rules
  src/omnibase_core/constants/constants_runtime_profiles.py
  src/omnibase_core/validation/contracts/runtime_profiles.validation.yaml
  src/omnibase_core/validation/validator_runtime_profiles.py
  tests/unit/validation/test_validator_runtime_profiles.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
