Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

feat(topics): standardize ONEX topic naming taxonomy [OMN-939] (#219)
  docs/INDEX.md
  docs/standards/onex_topic_taxonomy.md
  src/omnibase_core/constants/__init__.py
  src/omnibase_core/constants/constants_topic_taxonomy.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_topic_taxonomy.py
  src/omnibase_core/models/events/__init__.py
  src/omnibase_core/models/events/model_event_publish_intent.py
  src/omnibase_core/models/events/model_intent_events.py
  src/omnibase_core/models/events/model_topic_config.py
  src/omnibase_core/models/events/model_topic_manifest.py
  tests/unit/constants/test_constants_topic_taxonomy.py
  tests/unit/mixins/test_mixin_intent_publisher.py
  tests/unit/models/events/test_model_topic_manifest.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: add canonical ONEX terminology guide [OMN-931] (#217)
  CLAUDE.md
  docs/INDEX.md
  docs/architecture/CONTRACT_DRIVEN_NODEEFFECT_V1_0.md
  docs/architecture/CONTRACT_DRIVEN_NODEORCHESTRATOR_V1_0.md
  docs/architecture/CONTRACT_DRIVEN_NODEREDUCER_V1_0.md
  docs/architecture/MODEL_ACTION_ARCHITECTURE.md
  docs/architecture/MODEL_INTENT_ARCHITECTURE.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/guides/node-building/README.md
  docs/patterns/EVENT_DRIVEN_ARCHITECTURE.md
  docs/standards/onex_terminology.md
Due: none

fix(arch): address PR #220 review feedback for execution shapes [OMN-933]
  docs/architecture/CANONICAL_EXECUTION_SHAPES.md
  src/omnibase_core/enums/enum_execution_shape.py
  src/omnibase_core/models/validation/model_execution_shape.py
  src/omnibase_core/models/validation/model_execution_shape_validation.py
  src/omnibase_core/models/validation/model_shape_validation_result.py
  tests/unit/enums/test_enum_execution_shape.py
  tests/unit/models/validation/test_model_execution_shapes.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add chain depth validation and envelope architecture docs [OMN-936]
  docs/architecture/ENVELOPE_FLOW_ARCHITECTURE.md
  src/omnibase_core/models/common/__init__.py
  src/omnibase_core/models/common/model_envelope.py
  tests/unit/models/common/test_model_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(arch): add runtime enforcement decorator and execution shape examples [OMN-933]
  docs/INDEX.md
  docs/architecture/CANONICAL_EXECUTION_SHAPES.md
  docs/architecture/EXECUTION_SHAPE_EXAMPLES.md
  src/omnibase_core/decorators/__init__.py
  src/omnibase_core/decorators/decorator_enforce_execution_shape.py
  tests/unit/decorators/test_decorator_enforce_execution_shape.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add canonical message envelope model [OMN-936] (#218)
  docs/architecture/ENVELOPE_FLOW_ARCHITECTURE.md
  scripts/validation/validate-string-versions.py
  src/omnibase_core/models/common/__init__.py
  src/omnibase_core/models/common/model_envelope.py
  tests/unit/models/common/test_model_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(arch): document canonical execution shapes and validation models [OMN-933] (#220)
  CLAUDE.md
  docs/INDEX.md
  docs/architecture/CANONICAL_EXECUTION_SHAPES.md
  docs/architecture/EXECUTION_SHAPE_EXAMPLES.md
  docs/architecture/MESSAGE_TOPIC_MAPPING.md
  docs/architecture/NODE_PURITY_GUARANTEES.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/guides/node-building/03_COMPUTE_NODE_TUTORIAL.md
  docs/guides/node-building/04_EFFECT_NODE_TUTORIAL.md
  docs/guides/node-building/05_REDUCER_NODE_TUTORIAL.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  src/omnibase_core/decorators/__init__.py
  src/omnibase_core/decorators/decorator_enforce_execution_shape.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_execution_shape.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/models/events/__init__.py
  src/omnibase_core/models/events/model_event_envelope.py
  src/omnibase_core/models/events/model_topic_naming.py
  src/omnibase_core/models/validation/__init__.py
  src/omnibase_core/models/validation/model_execution_shape.py
  src/omnibase_core/models/validation/model_execution_shape_validation.py
  src/omnibase_core/models/validation/model_shape_validation_result.py
  tests/unit/decorators/test_decorator_enforce_execution_shape.py
  tests/unit/enums/test_enum_execution_shape.py
  tests/unit/models/events/test_model_event_envelope.py
  tests/unit/models/events/test_model_topic_naming.py
  tests/unit/models/validation/test_model_execution_shapes.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(arch): formalize registration FSM contract [OMN-938]
  docs/architecture/REGISTRATION_FSM_CONTRACT.md
Due: none

docs(arch): document canonical vs optional registration triggers [OMN-943]
  docs/INDEX.md
  docs/architecture/CANONICAL_EXECUTION_SHAPES.md
  docs/architecture/REGISTRATION_TRIGGER_DESIGN.md
  docs/architecture/decisions/ADR-004-registration-trigger-architecture.md
  docs/architecture/decisions/INDEX.md
Due: none

fix(arch): address PR review feedback for registration FSM contract [OMN-938]
  docs/architecture/REGISTRATION_FSM_CONTRACT.md
Due: none

docs(arch): improve clarity in registration trigger documentation [OMN-943]
  docs/architecture/REGISTRATION_TRIGGER_DESIGN.md
  docs/architecture/decisions/ADR-004-registration-trigger-architecture.md
Due: none

style(docs): improve ADR-004 Executive Summary formatting [OMN-943]
  docs/architecture/decisions/ADR-004-registration-trigger-architecture.md
Due: none

fix(arch): address all PR #221 review issues for registration FSM contract [OMN-938]
  docs/architecture/REGISTRATION_FSM_CONTRACT.md
Due: none

docs(arch): document canonical vs optional registration triggers [OMN-943] (#222)
  docs/INDEX.md
  docs/architecture/CANONICAL_EXECUTION_SHAPES.md
  docs/architecture/REGISTRATION_TRIGGER_DESIGN.md
  docs/architecture/decisions/ADR-004-registration-trigger-architecture.md
  docs/architecture/decisions/INDEX.md
Due: none

fix(arch): enhance registration FSM contract documentation clarity [OMN-938]
  docs/architecture/REGISTRATION_FSM_CONTRACT.md
Due: none

feat(dispatch): add Generic ModelHandlerOutput with COMPUTE result semantics [OMN-941]
  src/omnibase_core/models/dispatch/__init__.py
  src/omnibase_core/models/dispatch/enum_dispatch_status.py
  src/omnibase_core/models/dispatch/model_dispatch_metrics.py
  src/omnibase_core/models/dispatch/model_dispatch_result.py
  src/omnibase_core/models/dispatch/model_dispatch_route.py
  src/omnibase_core/models/dispatch/model_handler_metrics.py
  src/omnibase_core/models/dispatch/model_handler_output.py
  src/omnibase_core/models/dispatch/model_handler_registration.py
  src/omnibase_core/models/dispatch/model_topic_parser.py
  src/omnibase_core/models/effect/model_effect_output.py
  src/omnibase_core/models/orchestrator/model_orchestrator_output.py
  src/omnibase_core/models/reducer/model_reducer_output.py
  src/omnibase_core/runtime/handler_registry.py
  src/omnibase_core/runtime/message_dispatch_engine.py
  src/omnibase_core/runtime/model_runtime_directive.py
  tests/unit/models/dispatch/test_model_handler_output.py
  tests/unit/models/dispatch/test_model_topic_parser.py
  tests/unit/runtime/test_handler_registry.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(arch): address all PR #221 review issues for registration FSM contract [OMN-938]
  CLAUDE.md
  docs/architecture/REGISTRATION_FSM_CONTRACT.md
Due: none

fix(dispatch): address PR #223 review feedback [OMN-941]
  src/omnibase_core/models/dispatch/model_handler_output.py
  src/omnibase_core/models/orchestrator/model_orchestrator_output.py
  src/omnibase_core/runtime/message_dispatch_engine.py
  src/omnibase_core/runtime/model_runtime_directive.py
  tests/unit/models/dispatch/test_model_handler_output.py
  tests/unit/runtime/test_handler_registry.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(dispatch): resolve all pre-commit hook violations [OMN-941]
  scripts/validation/validate-single-class-per-file.py
  scripts/validation/validate-string-versions.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_directive_type.py
  src/omnibase_core/enums/enum_dispatch_status.py
  src/omnibase_core/models/dispatch/__init__.py
  src/omnibase_core/models/dispatch/model_dispatch_result.py
  src/omnibase_core/models/dispatch/model_handler_registration.py
  src/omnibase_core/models/effect/model_effect_output.py
  src/omnibase_core/models/reducer/model_reducer_output.py
  src/omnibase_core/models/runtime/__init__.py
  src/omnibase_core/models/runtime/model_runtime_directive.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/runtime/__init__.py
  src/omnibase_core/protocols/runtime/protocol_message_handler.py
  src/omnibase_core/runtime/handler_registry.py
  src/omnibase_core/runtime/message_dispatch_engine.py
  src/omnibase_core/services/__init__.py
  src/omnibase_core/services/service_handler_registry.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/typed_dict_legacy_dispatch_metrics.py
  src/omnibase_core/types/typed_dict_log_context.py
  tests/unit/runtime/test_handler_registry.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(arch): comprehensively address all PR #221 review issues [OMN-938]
  docs/architecture/REGISTRATION_FSM_CONTRACT.md
Due: none

polish(core): fix nitpick-level code quality issues (23 files) [OMN-941]
  scripts/validation/validate-single-class-per-file.py
  scripts/validation/validate-string-versions.py
  src/omnibase_core/decorators/decorator_enforce_execution_shape.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/logging/emit.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/models/cli/__init__.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/core/__init__.py
  src/omnibase_core/models/core/model_onex_envelope_v1.py
  src/omnibase_core/models/core/model_semver_constraint.py
  src/omnibase_core/models/discovery/__init__.py
  src/omnibase_core/models/dispatch/model_handler_output.py
  src/omnibase_core/models/metadata/__init__.py
  src/omnibase_core/models/operations/__init__.py
  src/omnibase_core/models/results/__init__.py
  src/omnibase_core/runtime/message_dispatch_engine.py
  src/omnibase_core/services/service_handler_registry.py
  src/omnibase_core/types/typed_dict_log_context.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/reserved_enum_validator.py
  tests/unit/models/dispatch/test_model_handler_output.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(core): add missing UUID imports for type annotations [OMN-941]
  src/omnibase_core/services/service_handler_registry.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): move shebangs to line 1 in 12 test files [OMN-941]
  tests/unit/contracts/test_contract_v110_fields.py
  tests/unit/contracts/test_model_compensation_plan.py
  tests/unit/contracts/test_model_contract_base.py
  tests/unit/contracts/test_model_trigger_mappings.py
  tests/unit/contracts/test_runtime_contracts.py
  tests/unit/runtime/test_node_instance.py
  tests/unit/runtime/test_node_runtime.py
  tests/unit/validation/test_validate_contracts.py
  tests/unit/validation/test_validate_naming.py
  tests/unit/validation/test_validate_no_backward_compatibility.py
  tests/unit/validation/test_validate_structure.py
  tests/unit/validation/test_validation_performance.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(arch): address all PR #221 release-ready review issues [OMN-938]
  docs/architecture/REGISTRATION_FSM_CONTRACT.md
Due: none

fix(tests): resolve CI failures - 2 test fixes + linting [OMN-941]
  scripts/fix_dict_any_violations.py
  scripts/regenerate_fingerprints.py
  src/omnibase_core/models/dispatch/model_topic_parser.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(arch): formalize registration FSM contract [OMN-938] (#221)
  CLAUDE.md
  docs/architecture/REGISTRATION_FSM_CONTRACT.md
Due: none

fix(core): address remaining PR #223 review issues (14 files) [OMN-941]
  scripts/validation/validate-single-class-per-file.py
  src/omnibase_core/models/container/model_service.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_circuit_breaker.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_contract_metadata.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_input_schema.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_observability.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_operation.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_operation_result.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_response_handling.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_retry_policy.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_transaction_config.py
  src/omnibase_core/models/runtime/model_runtime_directive.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(models): split model_effect_io_configs.py into single-class files [OMN-941]
  src/omnibase_core/models/contracts/subcontracts/model_db_io_config.py
  src/omnibase_core/models/contracts/subcontracts/model_effect_io_configs.py
  src/omnibase_core/models/contracts/subcontracts/model_filesystem_io_config.py
  src/omnibase_core/models/contracts/subcontracts/model_http_io_config.py
  src/omnibase_core/models/contracts/subcontracts/model_kafka_io_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add time injection context models for handler dispatch [OMN-948]
  src/omnibase_core/models/effect/__init__.py
  src/omnibase_core/models/effect/model_effect_context.py
  src/omnibase_core/models/orchestrator/__init__.py
  src/omnibase_core/models/orchestrator/model_orchestrator_context.py
  src/omnibase_core/models/reducer/__init__.py
  src/omnibase_core/models/reducer/model_reducer_context.py
  tests/unit/models/test_handler_context_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #224 review feedback and resolve circular import [OMN-948]
  src/omnibase_core/models/common/model_typed_metadata.py
  src/omnibase_core/models/effect/__init__.py
  src/omnibase_core/models/effect/model_effect_context.py
  src/omnibase_core/models/effect/model_effect_input.py
  src/omnibase_core/models/effect/model_effect_metadata.py
  src/omnibase_core/models/effect/model_effect_output.py
  src/omnibase_core/models/orchestrator/model_orchestrator_context.py
  src/omnibase_core/models/reducer/model_reducer_context.py
  tests/integration/test_effect_integration.py
  tests/unit/models/common/test_model_metadata_validation.py
  tests/unit/models/test_handler_context_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add ModelComputeContext, fix docs, align trace_id to UUID [OMN-948]
  pyproject.toml
  src/omnibase_core/models/compute/__init__.py
  src/omnibase_core/models/compute/model_compute_context.py
  src/omnibase_core/models/effect/model_effect_context.py
  src/omnibase_core/models/orchestrator/model_orchestrator_context.py
  src/omnibase_core/models/reducer/model_reducer_context.py
  tests/unit/models/test_handler_context_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add time injection context models [OMN-948] (#224)
  pyproject.toml
  src/omnibase_core/models/common/model_typed_metadata.py
  src/omnibase_core/models/compute/__init__.py
  src/omnibase_core/models/compute/model_compute_context.py
  src/omnibase_core/models/effect/__init__.py
  src/omnibase_core/models/effect/model_effect_context.py
  src/omnibase_core/models/effect/model_effect_input.py
  src/omnibase_core/models/effect/model_effect_metadata.py
  src/omnibase_core/models/effect/model_effect_output.py
  src/omnibase_core/models/orchestrator/__init__.py
  src/omnibase_core/models/orchestrator/model_orchestrator_context.py
  src/omnibase_core/models/reducer/__init__.py
  src/omnibase_core/models/reducer/model_reducer_context.py
  tests/integration/test_effect_integration.py
  tests/unit/models/common/test_model_metadata_validation.py
  tests/unit/models/test_handler_context_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(dispatch): wire context models into handler dispatch path [OMN-984]
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/handler/__init__.py
  src/omnibase_core/protocols/handler/protocol_handler_context.py
  src/omnibase_core/runtime/message_dispatch_engine.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(dispatch): improve observability and error handling in handler context building [OMN-984]
  src/omnibase_core/runtime/message_dispatch_engine.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(dispatch): add defensive validation and context field propagation tests [OMN-984]
  src/omnibase_core/runtime/message_dispatch_engine.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
