Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(tests): handle async functions in YAML allowlist validation
  tests/unit/validation/test_yaml_allowlist.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): update second test file to use renamed ModelIntentRecordPayload [OMN-1683]
  tests/unit/models/events/test_model_intent_query_response_event.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(contracts): add pattern learning contract models [OMN-1683] (#451)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/pattern_learning/__init__.py
  src/omnibase_core/enums/pattern_learning/enum_pattern_learning_status.py
  src/omnibase_core/enums/pattern_learning/enum_pattern_lifecycle_state.py
  src/omnibase_core/enums/pattern_learning/enum_pattern_type.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/events/__init__.py
  src/omnibase_core/models/events/model_intent_query_response_event.py
  src/omnibase_core/models/events/model_intent_record_payload.py
  src/omnibase_core/models/pattern_learning/__init__.py
  src/omnibase_core/models/pattern_learning/model_learned_pattern.py
  src/omnibase_core/models/pattern_learning/model_pattern_learning_metadata.py
  src/omnibase_core/models/pattern_learning/model_pattern_learning_metrics.py
  src/omnibase_core/models/pattern_learning/model_pattern_score_components.py
  src/omnibase_core/models/pattern_learning/model_pattern_signature.py
  tests/unit/models/events/test_model_intent_query_response_event.py
  tests/unit/models/events/test_model_intent_record_payload.py
  tests/unit/models/pattern_learning/__init__.py
  tests/unit/models/pattern_learning/test_pattern_learning_models.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): address code review feedback for MixinContractPublisher [OMN-1655]
  src/omnibase_core/mixins/mixin_contract_publisher.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(mixins): add MixinContractPublisher for contract discovery [OMN-… (#452)
  .yaml-validation-allowlist.yaml
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
  src/omnibase_core/mixins/__init__.py
  src/omnibase_core/mixins/mixin_contract_publisher.py
  tests/unit/mixins/test_mixin_contract_publisher.py
  tests/unit/validation/test_yaml_allowlist.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(constants): add platform baseline topic suffix constants [OMN-1652]
  pyproject.toml
  src/omnibase_core/constants/__init__.py
  src/omnibase_core/constants/constants_topic_taxonomy.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(changelog): add v0.9.9 entry for topic suffix constants [OMN-1652]
  CHANGELOG.md
Due: none

feat(constants): add platform baseline topic suffix constants [OMN-1652] (#453)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/constants/__init__.py
  src/omnibase_core/constants/constants_topic_taxonomy.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models,enums): add ModelToolExecutionContent and EnumClaudeCodeToolName [OMN-1701]
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/hooks/claude_code/__init__.py
  src/omnibase_core/enums/hooks/claude_code/enum_claude_code_tool_name.py
  src/omnibase_core/models/intelligence/__init__.py
  src/omnibase_core/models/intelligence/model_tool_execution_content.py
  tests/unit/enums/hooks/claude_code/test_enum_claude_code_tool_name.py
  tests/unit/models/intelligence/test_model_tool_execution_content.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(enums): add missing Claude Code tools and helper methods [OMN-1701]
  src/omnibase_core/enums/hooks/claude_code/enum_claude_code_tool_name.py
  tests/unit/enums/hooks/claude_code/test_enum_claude_code_tool_name.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): use PascalCase for MCP sentinel value in EnumClaudeCodeToolName [OMN-1701]
  src/omnibase_core/enums/hooks/claude_code/enum_claude_code_tool_name.py
  tests/unit/enums/hooks/claude_code/test_enum_claude_code_tool_name.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release): bump version to 0.9.10 and improve enum docs/tests [OMN-1701]
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
  src/omnibase_core/enums/hooks/claude_code/enum_claude_code_tool_name.py
  tests/unit/enums/hooks/claude_code/test_enum_claude_code_tool_name.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add from_tool_name() factory method to ModelToolExecutionContent [OMN-1701]
  src/omnibase_core/models/intelligence/model_tool_execution_content.py
  tests/unit/models/intelligence/test_model_tool_execution_content.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models,enums): add ModelToolExecutionContent and EnumClaudeCodeToolName [OMN-1701] (#454)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/hooks/claude_code/__init__.py
  src/omnibase_core/enums/hooks/claude_code/enum_claude_code_tool_name.py
  src/omnibase_core/models/intelligence/__init__.py
  src/omnibase_core/models/intelligence/model_tool_execution_content.py
  tests/unit/enums/hooks/claude_code/test_enum_claude_code_tool_name.py
  tests/unit/models/intelligence/test_model_tool_execution_content.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add keywords field to ModelIntentClassificationOutput [OMN-1728]
  src/omnibase_core/models/intelligence/model_intent_classification_output.py
  tests/unit/models/intelligence/test_model_intent_classification_output.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: bump version to 0.9.11 [OMN-1728]
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(models): add non-string keywords validation test [OMN-1728]
  tests/unit/models/intelligence/test_model_intent_classification_output.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(models): add keywords field to ModelIntentClassificationOutput [OMN-1728] (#455)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
  src/omnibase_core/models/intelligence/model_intent_classification_output.py
  tests/unit/models/intelligence/test_model_intent_classification_output.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(mixins): remove listener management from MixinEventBus [OMN-1747]
  .pre-commit-config.yaml
  scripts/validation/validate-no-listener-apis.py
  src/omnibase_core/mixins/__init__.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/mixins/mixin_event_listener.py
  src/omnibase_core/mixins/mixin_tool_execution.py
  src/omnibase_core/models/event_bus/__init__.py
  src/omnibase_core/models/event_bus/model_event_bus_listener_handle.py
  src/omnibase_core/models/services/model_service_effect.py
  src/omnibase_core/protocols/event_bus/__init__.py
  src/omnibase_core/protocols/event_bus/protocol_event_bus_listener.py
  tests/conftest.py
  tests/unit/mixins/test_mixin_event_bus.py
  tests/unit/mixins/test_mixin_event_listener.py
  tests/unit/models/event_bus/test_model_event_bus_listener_handle.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: bump version to 0.10.0 and add changelog [OMN-1747]
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(mixins): remove listener management from MixinEventBus [OMN-1747] (#456)
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  scripts/validation/validate-no-listener-apis.py
  src/omnibase_core/__init__.py
  src/omnibase_core/mixins/__init__.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/mixins/mixin_event_listener.py
  src/omnibase_core/mixins/mixin_tool_execution.py
  src/omnibase_core/models/event_bus/__init__.py
  src/omnibase_core/models/event_bus/model_event_bus_listener_handle.py
  src/omnibase_core/models/services/model_service_effect.py
  src/omnibase_core/protocols/event_bus/__init__.py
  src/omnibase_core/protocols/event_bus/protocol_event_bus_listener.py
  tests/conftest.py
  tests/unit/mixins/test_mixin_event_bus.py
  tests/unit/mixins/test_mixin_event_listener.py
  tests/unit/models/event_bus/test_model_event_bus_listener_handle.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): extend Kafka/listener guard to block direct imports [OMN-1745]
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  scripts/validation/validate-no-kafka-listener-apis.py
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): add AST-based import detection and fix CLI messaging [OMN-1745]
  scripts/validation/validate-no-kafka-listener-apis.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(validation): extend Kafka/listener guard to block direct imports… (#457)
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  scripts/validation/validate-no-kafka-listener-apis.py
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add request_response schema to ModelEventBusSubcontract [OMN-1760]
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_correlation_config.py
  src/omnibase_core/models/contracts/subcontracts/model_event_bus_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_reply_topics.py
  src/omnibase_core/models/contracts/subcontracts/model_request_response_config.py
  src/omnibase_core/models/contracts/subcontracts/model_request_response_instance.py
  tests/unit/models/contracts/subcontracts/test_model_request_response.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style(models): add missing future annotations and __all__ exports [OMN-1760]
  src/omnibase_core/models/contracts/subcontracts/model_correlation_config.py
  src/omnibase_core/models/contracts/subcontracts/model_reply_topics.py
  src/omnibase_core/models/contracts/subcontracts/model_request_response_config.py
  src/omnibase_core/models/contracts/subcontracts/model_request_response_instance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

style(models): add frozen and from_attributes to request-response models [OMN-1760]
  src/omnibase_core/models/contracts/subcontracts/model_reply_topics.py
  src/omnibase_core/models/contracts/subcontracts/model_request_response_config.py
  src/omnibase_core/models/contracts/subcontracts/model_request_response_instance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models,enums): add SessionOutcome schema for Claude Code feedback loop [OMN-1762]
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/hooks/__init__.py
  src/omnibase_core/enums/hooks/claude_code/__init__.py
  src/omnibase_core/enums/hooks/claude_code/enum_claude_code_session_outcome.py
  src/omnibase_core/integrations/claude_code/__init__.py
  src/omnibase_core/models/hooks/__init__.py
  src/omnibase_core/models/hooks/claude_code/__init__.py
  src/omnibase_core/models/hooks/claude_code/model_claude_code_session_outcome.py
  tests/unit/enums/hooks/claude_code/test_enum_claude_code_session_outcome.py
  tests/unit/models/hooks/claude_code/test_model_claude_code_session_outcome.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(models): add type-ignore explanation comments [OMN-1762]
  src/omnibase_core/models/hooks/claude_code/model_claude_code_session_outcome.py
  tests/unit/models/hooks/claude_code/test_model_claude_code_session_outcome.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models,enums): add SessionOutcome schema for Claude Code feedback loop [OMN-1762] (#459)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/hooks/__init__.py
  src/omnibase_core/enums/hooks/claude_code/__init__.py
  src/omnibase_core/enums/hooks/claude_code/enum_claude_code_session_outcome.py
  src/omnibase_core/integrations/claude_code/__init__.py
  src/omnibase_core/models/hooks/__init__.py
  src/omnibase_core/models/hooks/claude_code/__init__.py
  src/omnibase_core/models/hooks/claude_code/model_claude_code_session_outcome.py
  tests/unit/enums/hooks/claude_code/test_enum_claude_code_session_outcome.py
  tests/unit/models/hooks/claude_code/test_model_claude_code_session_outcome.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add request_response schema to ModelEventBusSubcontract [OMN-1760] (#458)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_correlation_config.py
  src/omnibase_core/models/contracts/subcontracts/model_event_bus_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_reply_topics.py
  src/omnibase_core/models/contracts/subcontracts/model_request_response_config.py
  src/omnibase_core/models/contracts/subcontracts/model_request_response_instance.py
  tests/unit/models/contracts/subcontracts/test_model_request_response.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(nodes): add contract-driven zero-code node base classes [OMN-1731]
  scripts/validation/validate-no-pydantic-bypass.py
  src/omnibase_core/enums/enum_core_error_code.py
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/models/container/__init__.py
  src/omnibase_core/models/container/model_protocols_namespace.py
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_entry.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_protocol_dependency.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_effect.py
  src/omnibase_core/resolution/__init__.py
  src/omnibase_core/resolution/resolver_handler.py
  src/omnibase_core/resolution/resolver_protocol_dependency.py
  tests/unit/validation/test_zero_code_invariants.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(nodes): deduplicate handler lookup and enhance protocols namespace [OMN-1731]
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/models/container/model_protocols_namespace.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_effect.py
  src/omnibase_core/utils/__init__.py
  src/omnibase_core/utils/util_contract_accessor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(nodes): address code review feedback for zero-code node base classes [OMN-1731]
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_subcontract.py
  src/omnibase_core/nodes/node_compute.py
  tests/unit/validation/test_zero_code_invariants.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(nodes): address PR review feedback and fix CI failure [OMN-1731]
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_effect.py
  src/omnibase_core/resolution/resolver_protocol_dependency.py
  src/omnibase_core/utils/util_contract_accessor.py
  tests/unit/validation/test_zero_code_invariants.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(nodes): add contract-driven zero-code node base classes [OMN-1731] (#460)
  scripts/validation/validate-no-pydantic-bypass.py
  src/omnibase_core/enums/enum_core_error_code.py
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/models/container/__init__.py
  src/omnibase_core/models/container/model_protocols_namespace.py
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_entry.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_protocol_dependency.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_effect.py
  src/omnibase_core/resolution/__init__.py
  src/omnibase_core/resolution/resolver_handler.py
  src/omnibase_core/resolution/resolver_protocol_dependency.py
  src/omnibase_core/utils/__init__.py
  src/omnibase_core/utils/util_contract_accessor.py
  tests/unit/validation/test_zero_code_invariants.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: bump version to 0.11.0
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
