Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

test(OMN-15940): bounded-time regression guard for _DEFERRAL_RE (ReDoS disconfirmed)
  tests/unit/validation/test_receipt_honesty_validator.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-15980): raise self-hosted CI runner timeout budgets starved under push-event load
  .github/workflows/ci.yml
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-15980): raise self-hosted CI runner timeout budgets starved under push-event load (#1552)
  .github/workflows/ci.yml
  tests/unit/validation/test_ci_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-15940): Receipt Honesty Gate Rule B false-fails deferral words in kebab-case identifiers (#1553)
  .pre-commit-config.yaml
  .yaml-validation-allowlist.yaml
  src/omnibase_core/validation/validator_receipt_honesty.py
  tests/unit/validation/test_receipt_honesty_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-15977): ban --timeout-method=thread; add direct-invocation .200 host guard
  conftest.py
  pyproject.toml
  scripts/hooks/prepush_smart_tests.sh
  scripts/hooks/pytest_full_suite_host_guard.py
  tests/scripts/test_prepush_hook_has_bounded_timeout.py
  tests/scripts/test_pyproject_timeout_method_is_signal.py
  tests/scripts/test_pytest_full_suite_host_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci: close L4 external-context gap + contract-compliance fail-open (enforce-everything audit)
  .github/workflows/check-db-ownership.yml
  .github/workflows/check-llm-refs-drift.yml
  .github/workflows/ci.yml
  .github/workflows/product-readiness-shadow.yml
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/ci/fixtures/required_status_checks_snapshot.json
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci: close L4 external-context gap + contract-compliance fail-open (enforce-everything audit) (#1556)
  .github/workflows/check-db-ownership.yml
  .github/workflows/check-llm-refs-drift.yml
  .github/workflows/ci.yml
  .github/workflows/product-readiness-shadow.yml
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/ci/fixtures/required_status_checks_snapshot.json
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-15862): SKIP never aggregates into PASS in contract.verify.replay
  src/omnibase_core/enums/enum_overall_status.py
  src/omnibase_core/models/contract_verify_replay/model_verify_replay_output.py
  src/omnibase_core/nodes/node_contract_verify_replay_compute/handler.py
  tests/unit/nodes/node_contract_verify_replay_compute/test_node_contract_verify_replay_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-15862): SKIP never aggregates into PASS in contract.verify.replay (#1557)
  src/omnibase_core/enums/enum_overall_status.py
  src/omnibase_core/models/contract_verify_replay/model_verify_replay_output.py
  src/omnibase_core/nodes/node_contract_verify_replay_compute/handler.py
  tests/unit/nodes/node_contract_verify_replay_compute/test_node_contract_verify_replay_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-15977): strip guard-bypassing env vars in behavioral subprocess tests
  tests/scripts/test_pytest_full_suite_host_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-14750): backfill agent_source + retype Cursor str -> EnumAgentSource (str-accepting) — B4 of the parity seam (#1551)
  src/omnibase_core/models/hooks/claude_code/model_claude_code_hook_event.py
  src/omnibase_core/models/hooks/cursor/model_cursor_hook_event.py
  tests/unit/models/hooks/claude_code/test_model_claude_code_hook_event.py
  tests/unit/models/hooks/cursor/__init__.py
  tests/unit/models/hooks/cursor/test_model_cursor_hook_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(OMN-16126): scrub operator PII from architecture-handshake metadata
  .claude/architecture-handshake.md
Due: none

feat(OMN-15911): add proof_class field to ModelTicketContract
  src/omnibase_core/enums/enum_proof_class.py
  src/omnibase_core/models/ticket/model_ticket_contract.py
  tests/unit/models/ticket/test_model_ticket_contract_merged.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-15911): add proof_class field to ModelTicketContract (#1559)
  src/omnibase_core/enums/enum_proof_class.py
  src/omnibase_core/models/ticket/model_ticket_contract.py
  tests/unit/models/ticket/test_model_ticket_contract_merged.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16140): accept a commit-message reference as axis-2 identity binding
  src/omnibase_core/validation/validator_receipt_gate.py
  src/omnibase_core/validation/validator_receipt_gate_cli.py
  tests/unit/validation/test_receipt_gate_cli.py
  tests/unit/validation/test_receipt_gate_identity_binding.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-16177): work-event schema increment — kinds, actor union, ordering contract
  src/omnibase_core/enums/enum_actor_kind.py
  src/omnibase_core/enums/enum_work_event_kind.py
  src/omnibase_core/enums/enum_work_outcome.py
  src/omnibase_core/enums/governance/enum_pr_state.py
  src/omnibase_core/models/events/work/__init__.py
  src/omnibase_core/models/events/work/model_actor.py
  src/omnibase_core/models/events/work/model_node_actor.py
  src/omnibase_core/models/events/work/model_pr_ref.py
  src/omnibase_core/models/events/work/model_quant_claim.py
  src/omnibase_core/models/events/work/model_session_actor.py
  src/omnibase_core/models/events/work/model_work_claim_released.py
  src/omnibase_core/models/events/work/model_work_claim_requested.py
  src/omnibase_core/models/events/work/model_work_correction_recorded.py
  src/omnibase_core/models/events/work/model_work_event_base.py
  src/omnibase_core/models/events/work/model_work_result_recorded.py
  src/omnibase_core/models/events/work/model_work_ruling_recorded.py
  tests/unit/models/events/work/__init__.py
  tests/unit/models/events/work/test_model_work_event.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-15449): stamp run_id into workflow_result.json for caller identity join
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-16215): gate test-parallel/tests-integration behind non-draft PR state
  .github/workflows/ci.yml
  tests/unit/validation/test_draft_state_admission_gate_omn16215.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-15449): stamp run_id into workflow_result.json for caller identity join (#1561)
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16177): bump version past already-published 0.46.9
  pyproject.toml
  uv.lock
Due: none

docs(OMN-16126): scrub operator PII from architecture-handshake metadata (#1558)
  .claude/architecture-handshake.md
Due: none

fix(OMN-16266): cap ModelTicketContract list fields at _MAX_LIST_ITEMS
  pyproject.toml
  src/omnibase_core/models/ticket/model_ticket_contract.py
  tests/unit/models/ticket/test_model_ticket_contract.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-16280): renew expired pull-request-workflow-budget waiver
  architecture-handshakes/pull-request-workflow-budget.yaml
Due: validate-string-versions

fix(OMN-16280): renew expired pull-request-workflow-budget waiver (#1566)
  architecture-handshakes/pull-request-workflow-budget.yaml
Due: validate-string-versions

fix(OMN-16286): dependency-cascade base=dev, honest cascade evidence, provenance guard
  .github/workflows/dependency-cascade.yml
  .github/workflows/release.yml
  tests/scripts/test_dependency_cascade_matrix.py
  tests/unit/validation/test_release_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16288): align auto-merge OCC eligibility with occ-preflight pattern
  .github/workflows/auto-merge.yml
Due: validate-string-versions

fix(OMN-16266): cap ModelTicketContract list fields at _MAX_LIST_ITEMS (#1565)
  pyproject.toml
  src/omnibase_core/models/ticket/model_ticket_contract.py
  tests/unit/models/ticket/test_model_ticket_contract.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-16289): sync main to release tag SHA on successful release
  .github/workflows/release.yml
Due: validate-string-versions

test(OMN-16288): update auto-merge workflow-shape assertions for OCC fix
  tests/unit/validation/test_auto_merge_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-15977): ban --timeout-method=thread; add direct-invocation .200 host guard (#1554)
  conftest.py
  pyproject.toml
  scripts/hooks/prepush_smart_tests.sh
  scripts/hooks/pytest_full_suite_host_guard.py
  tests/scripts/test_prepush_hook_has_bounded_timeout.py
  tests/scripts/test_pyproject_timeout_method_is_signal.py
  tests/scripts/test_pytest_full_suite_host_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-16295): load-based host selection for the pre-push guard (.201 gate-runner)
  scripts/hooks/prepush_smart_tests.sh
  tests/scripts/test_prepush_hook_host_identity_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(OMN-16305): thin 4 decision records to KB pointers
  docs/decisions/ADR-006-receipt-consolidation.md
  docs/decisions/adr-2026-04-28-dispatch-lifecycle-canonical.md
  docs/decisions/adr-2026-04-28-skill-liveness-validator-home.md
  docs/decisions/adr-2026-06-24-model-b-failing-rollup-enforcement.md
Due: none

fix(OMN-16286): address CodeRabbit findings on dependency-cascade + release workflows
  .github/workflows/dependency-cascade.yml
  .github/workflows/release.yml
Due: validate-string-versions

test(OMN-16286): regression tests for CodeRabbit-fix commit (injection validation, uv run python, pin-before-lock ordering, merged-PR check)
  tests/scripts/test_dependency_cascade_matrix.py
  tests/unit/validation/test_release_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-16295): load-based host selection for the pre-push guard (.201 gate-runner) (#1567)
  scripts/hooks/prepush_smart_tests.sh
  tests/scripts/test_prepush_hook_host_identity_guard.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-16286): dependency-cascade base=dev, honest cascade evidence, provenance guard (#1571)
  .github/workflows/dependency-cascade.yml
  .github/workflows/release.yml
  tests/scripts/test_dependency_cascade_matrix.py
  tests/unit/validation/test_release_workflow_shape.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-16281): migrate validator-no-unguarded-git-subprocess.yml into ci.yml, permanently close the pull-request-workflow-budget waiver
  .github/required-checks.yaml
  .github/workflows/ci.yml
  .github/workflows/validator-no-unguarded-git-subprocess.yml
  architecture-handshakes/pull-request-workflow-budget.yaml
  architecture-handshakes/standalone-validator-debt.yaml
  tests/unit/scripts/ci/test_ci_summary_gate.py
  tests/validation/test_standalone_validator_workflow_registry.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-16322): raise occ-preflight reusable timeout 10m -> 15m
  .github/workflows/occ-preflight.yml
Due: validate-string-versions
