Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

chore(OMN-13577): delete dead orphan validators + triage inventory
  docs/audits/2026-06-24-orphan-validator-triage.md
Due: none

chore(OMN-13577): delete dead orphan validators + triage inventory (#1328)
  docs/audits/2026-06-24-orphan-validator-triage.md
Due: none

docs(OMN-13570): sanitize omnibase_core local-env traces
  docs/contracts/INTROSPECTION_SUBCONTRACT_GUIDE.md
  docs/decisions/adr-2026-04-28-dispatch-lifecycle-canonical.md
  docs/decisions/adr-2026-04-28-skill-liveness-validator-home.md
  scripts/validation/decommissioned_patterns.txt
  src/omnibase_core/validation/pin_hygiene/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/private_ip/GENERATION_PROVENANCE.md
Due: none

docs(OMN-13571): rewrite OMN refs in omnibase_core batch 1/5
  .onex_state/evidence/omn-11272-phase-budget-fields.md
  .onex_state/evidence/omn-13197-pr-body.md
  .onex_state/evidence/omn-9607-validation-matrix.md
  .onex_state/friction/OMN-12526-deterministic-skill-routing-sibling-scan.md
  CHANGELOG.md
  CLAUDE.md
  docs/INDEX.md
  docs/architecture/CANONICAL_EXECUTION_SHAPES.md
  docs/architecture/CONTRACT_SYSTEM.md
  docs/architecture/DEPENDENCY_INVERSION.md
  docs/architecture/EXECUTION_SHAPE_EXAMPLES.md
  docs/architecture/HANDLER_CLASSIFICATION_FILE_IO_SERVICES_3_4.md
  docs/architecture/IMPORT_COMPATIBILITY_MATRIX.md
  docs/architecture/MESSAGE_TOPIC_MAPPING.md
  docs/architecture/MIXINS_TO_HANDLERS_REFACTOR.md
Due: none

docs(OMN-13571): rewrite OMN refs in omnibase_core batch 2/5
  docs/architecture/MIXIN_INVENTORY.md
  docs/architecture/MIXIN_TO_CAPABILITY_MIGRATION.md
  docs/architecture/MODELACTION_TYPED_PAYLOADS.md
  docs/architecture/NODE_PURITY_GUARANTEES.md
  docs/architecture/PAYLOAD_TYPE_ARCHITECTURE.md
  docs/architecture/PROTOCOL_ARCHITECTURE.md
  docs/architecture/README.md
  docs/architecture/TYPE_SYSTEM.md
  docs/architecture/URL_CONTRACT_AUTHORITY.md
  docs/architecture/overview.md
  docs/ci/CORE_PURITY_FAILURE.md
  docs/ci/DEPRECATION_WARNINGS.md
  docs/ci/PERFORMANCE_BENCHMARK_CI_INTEGRATION.md
  docs/contracts/HANDLER_CONTRACT_GUIDE.md
  docs/contracts/OPERATION_BINDINGS_DSL.md
Due: none

docs(OMN-13571): rewrite OMN refs in omnibase_core batch 3/5
  docs/conventions/ERROR_HANDLING_BEST_PRACTICES.md
  docs/decisions/ADR-003-reducer-output-exception-consistency.md
  docs/decisions/ADR-004-registration-trigger-architecture.md
  docs/decisions/ADR-005-core-infra-dependency-boundary.md
  docs/decisions/ADR-006-receipt-consolidation-omn-9792.md
  docs/decisions/ADR-006-status-taxonomy.md
  docs/decisions/ADR-012-VALIDATOR-ERROR-HANDLING.md
  docs/decisions/adr-2026-04-28-dispatch-lifecycle-canonical.md
  docs/decisions/adr-2026-04-28-skill-liveness-validator-home.md
  docs/decisions/adr-2026-06-24-model-b-failing-rollup-enforcement.md
  docs/demo/BETA_DEMO_GUIDE.md
  docs/evidence/OMN-11546-core-node-migration-audit.md
  docs/evidence/change-aware-ci-proof-of-life.md
  docs/guides/DECLARATIVE_NODE_IMPORT_RULES.md
  docs/guides/EFFECT_BOUNDARY_GUIDE.md
Due: none

docs(OMN-13571): rewrite OMN refs in omnibase_core batch 4/5
  docs/guides/EXECUTION_CORPUS_GUIDE.md
  docs/guides/GOLDEN_CHAIN_HARNESS.md
  docs/guides/HANDLER_CONVERSION_CHECKLIST.md
  docs/guides/HANDLER_CONVERSION_GUIDE.md
  docs/guides/PIPELINE_HOOK_REGISTRY.md
  docs/guides/replay/REPLAY_SAFETY_INTEGRATION.md
  docs/reference/API_DOCUMENTATION.md
  docs/reference/VALIDATION_OWNERSHIP.md
  docs/reference/api/enums.md
  docs/standards/CI_CD_STANDARDS.md
  docs/standards/MERGE_DEPENDENCY_GRAPH.md
  docs/standards/onex_terminology.md
  docs/validation/TOPIC_VALIDATION_STATUS.md
  examples/README.md
  scripts/README.md
Due: none

docs(OMN-13571): rewrite OMN refs in omnibase_core batch 5/5
  scripts/validation/decommissioned_patterns.txt
  src/omnibase_core/validation/doc_content_scan/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/hardcoded_topic/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/local_paths/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/localhost_url/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/no_faked_boundary/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/pin_hygiene/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/private_ip/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/todo_marker/GENERATION_PROVENANCE.md
Due: none

docs(OMN-13571): rename OMN-named files + fix inbound links
  .onex_state/evidence/deterministic-ir/deterministic-ir-evidence.txt
  .onex_state/friction/deterministic-skill-routing-sibling-scan.md
  .pre-commit-config.yaml
  CHANGELOG.md
  contracts/OMN-13132.yaml
  docs/evidence/core-node-migration-audit.md
  docs/evidence/hardcoded-localhost-url/hardcoded-localhost-url.generation.json
  docs/evidence/hardcoded-topic-string/hardcoded-topic-string.generation.json
  docs/evidence/pin-hygiene/pin-hygiene.generation.json
  drift/dod_receipts/operation-match-guard/dod-deploy-no-runtime-impact/command.yaml
  drift/dod_receipts/operation-match-guard/dod-omnibase-core-pr-1310/command.yaml
  scripts/check_forbidden_patterns.sh
  scripts/validation/decommissioned_patterns.conf
  src/omnibase_core/validation/doc_content_scan/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/hardcoded_topic/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/hardcoded_topic/handler.py
  src/omnibase_core/validation/local_paths/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/localhost_url/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/no_faked_boundary/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/private_ip/GENERATION_PROVENANCE.md
  src/omnibase_core/validation/todo_marker/GENERATION_PROVENANCE.md
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(OMN-13570): satisfy core cleanup doc validators
  CHANGELOG.md
  CLAUDE.md
  docs/architecture/DEPENDENCY_INVERSION.md
  docs/ci/DEPRECATION_WARNINGS.md
  docs/demo/BETA_DEMO_GUIDE.md
  docs/guides/DECLARATIVE_NODE_IMPORT_RULES.md
  docs/guides/EFFECT_BOUNDARY_GUIDE.md
  docs/guides/HANDLER_CONVERSION_GUIDE.md
Due: none

docs(OMN-13571): rename OMN-named files + fix inbound links
  .onex_state/evidence/phase-budget-fields.md
  .onex_state/evidence/pr-body.md
  .onex_state/evidence/validation-matrix.md
  docs/decisions/ADR-006-receipt-consolidation.md
Due: none

feat(OMN-13572): wire doc_content_scan as a required gate (Model B rollup, omnibase_core pilot)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  architecture-handshakes/validator-requirements.yaml
  docs/contracts/INTROSPECTION_SUBCONTRACT_GUIDE.md
  src/omnibase_core/validation/doc_content_scan/handler.py
  tests/unit/validation/doc_content_scan/test_handler_doc_content_scan_compute.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

proof(OMN-13572): plant doc-content violation to prove CI Summary goes RED (scratch, not merged)
  docs/PLANTED_VIOLATION_OMN13572.md
Due: none

test(OMN-13572): include check-doc-content-scan in clean-repo consumer fixture
  tests/validation/test_validator_requirements_consumer.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-13572): wire doc_content_scan as a required gate (Model B rollup, omnibase_core pilot) (#1330)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  architecture-handshakes/validator-requirements.yaml
  docs/contracts/INTROSPECTION_SUBCONTRACT_GUIDE.md
  src/omnibase_core/validation/doc_content_scan/handler.py
  tests/unit/validation/doc_content_scan/test_handler_doc_content_scan_compute.py
  tests/validation/test_validator_requirements_consumer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ci(OMN-13328): give core receipt-honesty a unique job id so it can be a required status check
  .github/workflows/receipt-honesty.yml
Due: validate-string-versions

feat(OMN-13411): release-identity gate for omnibase_core — block src/** merged onto a published version without a bump
  .github/workflows/validator-release-identity.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_release_identity.py
  tests/scripts/test_check_release_identity.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-13330): give core runtime-profiles a unique job id so it can be required
  .github/workflows/validator-runtime-profiles.yml
Due: validate-string-versions

ci(OMN-13328): give core receipt-honesty a unique job id so it can be a required status check (#1333)
  .github/workflows/receipt-honesty.yml
Due: validate-string-versions

ci(OMN-13330): give core runtime-profiles a unique job id so it can be required (#1335)
  .github/workflows/validator-runtime-profiles.yml
Due: validate-string-versions

fix(OMN-13411): make release identity smoke tag-local
  tests/scripts/test_check_release_identity.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-13309): wire no-plugin-daemon-classes validator as required CI gate
  .github/workflows/validator-no-plugin-daemon-classes.yml
  tests/unit/validators/test_no_plugin_daemon_classes.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-13028): require event_model on command-category handler_routing entries
  .github/workflows/validator-command-category-event-model.yml
  .pre-commit-config.yaml
  src/omnibase_core/models/validation/model_command_event_model_finding.py
  src/omnibase_core/validators/command_category_requires_event_model.py
  tests/unit/validators/test_command_category_requires_event_model.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13411): release-identity gate for omnibase_core — block src/** merged onto a published version (#1334)
  .github/workflows/validator-release-identity.yml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_release_identity.py
  tests/scripts/test_check_release_identity.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

ci(OMN-13309): wire no-plugin-daemon-classes validator as required CI gate (#1336)
  .github/workflows/validator-no-plugin-daemon-classes.yml
  tests/unit/validators/test_no_plugin_daemon_classes.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-13028): require event_model on command-category handler_routing entries (#1337)
  .github/workflows/validator-command-category-event-model.yml
  .pre-commit-config.yaml
  src/omnibase_core/models/validation/model_command_event_model_finding.py
  src/omnibase_core/validators/command_category_requires_event_model.py
  tests/unit/validators/test_command_category_requires_event_model.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13579): onboard omnibase, omnicursor, onex-self-extending-agent, knowledge-base into validator spec
  architecture-handshakes/validator-requirements.yaml
  tests/validation/test_validator_requirements_spec.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-13566): add canonical no-new-os-environ AST validator + CI gate
  .github/workflows/ci.yml
  .pre-commit-hooks.yaml
  architecture-handshakes/validator-requirements.yaml
  src/omnibase_core/validators/no_new_os_environ.py
  tests/unit/validators/test_no_new_os_environ.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13579): address CodeRabbit review comments
  architecture-handshakes/validator-requirements.yaml
  tests/validation/test_validator_requirements_spec.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-13591): inject run-identity defaults on input-file dispatch path
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13566): wire no-new-os-environ pre-commit
  .pre-commit-config.yaml
  src/omnibase_core/models/validation/model_env_read_finding.py
  src/omnibase_core/validators/env_read_visitor.py
  src/omnibase_core/validators/no_new_os_environ.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-13591): inject run-identity defaults on input-file dispatch path (#1340)
  src/omnibase_core/runtime/runtime_local.py
  tests/unit/runtime/test_runtime_local.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-13579): onboard omnibase, omnicursor, onex-self-extending-agent, knowledge-base into validator spec (#1338)
  architecture-handshakes/validator-requirements.yaml
  tests/validation/test_validator_requirements_spec.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-13566): wire no-new-os-environ into requirements-consumer clean-repo fixture
  tests/validation/test_validator_requirements_consumer.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-13566): canonical no-new-os-environ AST validator + REQUIRED CI gate (#1339)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  architecture-handshakes/validator-requirements.yaml
  src/omnibase_core/models/validation/model_env_read_finding.py
  src/omnibase_core/validators/env_read_visitor.py
  src/omnibase_core/validators/no_new_os_environ.py
  tests/unit/validators/test_no_new_os_environ.py
  tests/validation/test_validator_requirements_consumer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
