Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

black-format:
  name: black (auto-format)
  entry: poetry run black
  language: system
  args:
  - --line-length
  - '88'
  - --target-version
  - py311
  stages:
  - commit

isort-format:
  name: isort (auto-sort imports)
  entry: poetry run isort
  language: system
  args:
  - --filter-files
  - --profile
  - black
  - --line-length
  - '88'
  stages:
  - commit

ruff-fix:
  name: ruff (auto-fix linting issues)
  entry: poetry run ruff check --fix
  language: system
  stages:
  - commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: poetry run mypy
  language: system
  args:
  - --show-error-codes
  - --no-error-summary
  stages:
  - commit

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  args:
  - --allow-errors
  - '13'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '234'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(types): remove invalid generic parameters from NodeCompute test [OMN-228]
  tests/unit/nodes/test_node_compute_execute.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(ci): bust cache and fix brittle docstring test [OMN-220]
  .github/workflows/test.yml
  tests/unit/enums/test_enum_json_value_type.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(runtime): address PR review feedback for EnvelopeRouter [OMN-228]
  src/omnibase_core/models/runtime/__init__.py
  src/omnibase_core/models/runtime/model_handler_metadata.py
  src/omnibase_core/protocols/runtime/__init__.py
  src/omnibase_core/protocols/runtime/protocol_handler.py
  src/omnibase_core/runtime/envelope_router.py
  src/omnibase_core/runtime/protocol_node_runtime.py
  src/omnibase_core/runtime/runtime_node_instance.py
  src/omnibase_core/types/typed_dict_routing_info.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(test): accept v0.x version format in nodes docstring test [OMN-466]
  tests/unit/api_snapshots/test_nodes_api_snapshot.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(ci): sync NodeCompute with main branch (non-generic) [OMN-220]
  examples/contracts/effect/api_data_fetcher.yaml
  examples/contracts/effect/file_processor.yaml
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/models/service/model_service_compute.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/utils/effect_executor.py
  tests/unit/mixins/test_mixin_effect_execution.py
  tests/unit/utils/test_effect_executor.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(effect): address PR #135 release-ready review items [OMN-466]
  docs/guides/THREADING.md
  examples/contracts/SECURITY.md
  examples/contracts/effect/README.md
  examples/contracts/effect/filesystem_operations.yaml
  examples/contracts/effect/kafka_produce.yaml
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/nodes/node_effect.py
  tests/integration/test_service_orchestration.py
  tests/integration/test_validation_integration.py
  tests/unit/api_snapshots/test_signatures_snapshot.py
  tests/unit/mixins/test_mixin_effect_execution.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(runtime,nodes): address CI failures and enhance thread safety [OMN-228]
  src/omnibase_core/nodes/__init__.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/runtime/envelope_router.py
  tests/unit/nodes/test_node_compute_execute.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): remove broken test file and add --tmp-only to cleanup [OMN-220]
  CLAUDE.md
  scripts/cleanup.py
  tests/unit/nodes/test_node_compute_execute.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(ci): remove effect utilities accidentally included in PR [OMN-220]
  examples/contracts/effect/api_data_fetcher.yaml
  examples/contracts/effect/file_processor.yaml
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/utils/effect_executor.py
  tests/unit/mixins/test_mixin_effect_execution.py
  tests/unit/utils/test_effect_executor.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(effect): address PR #135 release-ready review items [OMN-466]
  .pre-commit-config.yaml
  examples/contracts/effect/db_query.yaml
  examples/contracts/effect/filesystem_operations.yaml
  examples/contracts/effect/http_api_call.yaml
  examples/contracts/effect/kafka_produce.yaml
  examples/contracts/effect/resilient_effect.yaml
  src/omnibase_core/nodes/node_effect.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(registry): add stress, performance, and memory leak tests [OMN-228]
  tests/unit/container/test_service_registry_memory.py
  tests/unit/container/test_service_registry_performance.py
  tests/unit/container/test_service_registry_stress.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(runtime): add handler_type type guard in route_envelope [OMN-228]
  src/omnibase_core/runtime/envelope_router.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): move mypy validation scripts to separate job [OMN-466]
  .github/workflows/test.yml
Due: validate-string-versions

fix(ci): bump cache version to fix stale docstring [OMN-220]
  .github/workflows/test.yml
Due: validate-string-versions

refactor(runtime,types): minor PR feedback improvements [OMN-228]
  src/omnibase_core/runtime/envelope_router.py
  src/omnibase_core/types/typed_dict_handler_metadata.py
  tests/unit/runtime/test_node_runtime.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): bump cache version to 0.1.4 for updated docstring [OMN-220]
  .github/workflows/test.yml
Due: validate-string-versions

feat(effect): add v1.0 limitation warnings and security hardening [OMN-466]
  examples/contracts/effect/db_query.yaml
  examples/contracts/effect/filesystem_operations.yaml
  examples/contracts/effect/http_api_call.yaml
  examples/contracts/effect/kafka_produce.yaml
  examples/contracts/effect/resilient_effect.yaml
  src/omnibase_core/constants/constants_effect.py
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/nodes/node_effect.py
  tests/unit/constants/test_constants_effect.py
  tests/unit/mixins/test_mixin_effect_execution.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(runtime,nodes): address PR review feedback for thread safety and type safety [OMN-228]
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/models/contracts/model_contract_compute.py
  src/omnibase_core/models/service/model_service_compute.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/runtime/envelope_router.py
  tests/unit/nodes/test_node_compute_execute.py
  tests/unit/runtime/test_node_runtime.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(scripts): add thread safety note to TransportImportAnalyzer [OMN-220]
  scripts/check_transport_imports.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(ci): add automated transport import validation [OMN-220] (#147)
  .github/workflows/test.yml
  CLAUDE.md
  docs/architecture/DEPENDENCY_INVERSION.md
  scripts/check_transport_imports.py
  scripts/cleanup.py
  src/omnibase_core/models/service/model_service_compute.py
  tests/unit/enums/test_enum_json_value_type.py
  tests/unit/scripts/test_check_transport_imports.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(runtime,tests): address code review feedback for EnvelopeRouter [OMN-228]
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/runtime/envelope_router.py
  tests/unit/runtime/test_node_runtime.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(contracts): upgrade ModelContractReducer to v1.5.0 schema [OMN-648]
  src/omnibase_core/models/contracts/model_contract_reducer.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_subcontract.py
  tests/unit/models/contracts/test_model_contract_reducer_v150.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(ci): implement B+ hybrid mode for transport import checker [OMN-651]
  .github/workflows/test.yml
  docs/ci/TRANSPORT_IMPORT_CHECKER_EVALUATION.md
Due: validate-string-versions

docs(contracts): add comprehensive docstrings for v1.5.0 schema [OMN-648]
  src/omnibase_core/models/contracts/model_contract_reducer.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_subcontract.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(contracts): clarify validate_assignment config differences [OMN-648]
  src/omnibase_core/models/contracts/model_contract_reducer.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_subcontract.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): address PR #147 review feedback for transport import checker
  CLAUDE.md
  scripts/check_transport_imports.py
  tests/unit/scripts/test_check_transport_imports.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(contracts): address PR review feedback for v1.5.0 schema [OMN-648]
  src/omnibase_core/models/contracts/model_contract_reducer.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_subcontract.py
  tests/unit/models/contracts/test_model_contract_reducer_v150.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(runtime,tests,docs): address PR #145 review feedback - release ready [OMN-228]
  src/omnibase_core/enums/enum_handler_type.py
  src/omnibase_core/models/service/model_service_compute.py
  src/omnibase_core/protocols/runtime/protocol_handler.py
  src/omnibase_core/runtime/envelope_router.py
  src/omnibase_core/runtime/runtime_node_instance.py
  src/omnibase_core/types/typed_dict_handler_metadata.py
  src/omnibase_core/types/typed_dict_routing_info.py
  tests/performance/contracts/test_model_dependency_performance.py
  tests/performance/contracts/test_model_workflow_dependency_performance.py
  tests/performance/test_model_timeout_performance.py
  tests/performance/test_source_node_id_overhead.py
  tests/unit/runtime/conftest.py
  tests/unit/runtime/test_node_instance.py
  tests/unit/runtime/test_node_runtime.py
  tests/unit/test_thread_safety.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): complete PR review feedback for transport import checker [OMN-651]
  .github/CODEOWNERS
  .github/workflows/test.yml
  docs/architecture/decisions/RISK-009-ci-workflow-modification-risk.md
  docs/ci/TRANSPORT_IMPORT_CHECKER_EVALUATION.md
  scripts/check_transport_imports.py
  tests/integration/scripts/__init__.py
  tests/integration/scripts/test_check_transport_imports_integration.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(runtime,tests): clarify thread safety docs and add concurrent registration tests [OMN-228]
  src/omnibase_core/runtime/envelope_router.py
  tests/unit/runtime/test_node_runtime.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(ci): implement B+ hybrid mode for transport import checker [OMN-651] (#149)
  .github/CODEOWNERS
  .github/workflows/test.yml
  CLAUDE.md
  docs/architecture/decisions/RISK-009-ci-workflow-modification-risk.md
  docs/ci/TRANSPORT_IMPORT_CHECKER_EVALUATION.md
  scripts/check_transport_imports.py
  tests/integration/scripts/__init__.py
  tests/integration/scripts/test_check_transport_imports_integration.py
  tests/unit/scripts/test_check_transport_imports.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(contracts): remove backwards-compat property, update all call sites to state_machine [OMN-648]
  src/omnibase_core/mixins/mixin_fsm_execution.py
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/nodes/node_reducer.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(errors): add canonical error classes for declarative node validation [OMN-177]
  src/omnibase_core/enums/enum_core_error_code.py
  src/omnibase_core/errors/__init__.py
  src/omnibase_core/errors/declarative_errors.py
  src/omnibase_core/errors/exception_adapter_binding_error.py
  src/omnibase_core/errors/exception_node_execution_error.py
  src/omnibase_core/errors/exception_purity_violation_error.py
  src/omnibase_core/errors/exception_unsupported_capability_error.py
  tests/unit/errors/test_declarative_errors.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(runtime,tests): enforce freeze contract and address PR #145 review feedback [OMN-228]
  src/omnibase_core/protocols/runtime/protocol_handler.py
  src/omnibase_core/runtime/envelope_router.py
  tests/unit/container/conftest.py
  tests/unit/container/test_service_registry_extended.py
  tests/unit/container/test_service_registry_memory.py
  tests/unit/runtime/test_node_runtime.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(contracts): upgrade ModelContractReducer to v1.5.0 schema [OMN-648] (#148)
  src/omnibase_core/mixins/mixin_fsm_execution.py
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/models/contracts/model_contract_reducer.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_subcontract.py
  src/omnibase_core/nodes/node_reducer.py
  tests/unit/models/contracts/test_model_contract_reducer_v150.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(errors): improve declarative error documentation [OMN-177]
  src/omnibase_core/errors/__init__.py
  tests/unit/errors/test_declarative_errors.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(runtime): update docstring example to use RuntimeNodeInstance [OMN-228]
  src/omnibase_core/runtime/envelope_router.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  black-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  isort-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/)
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$
  validate-union-usage: any of: ^src/.*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py|src/omnibase_core/models/core/model_action_config_value\.py).*\.py$
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
