Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(errors): address PR #374 release-ready review feedback (batch 4)
  src/omnibase_core/decorators/decorator_convert_to_schema.py
  src/omnibase_core/mixins/mixin_event_bus.py
  src/omnibase_core/mixins/mixin_fail_fast.py
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_node_service.py
  src/omnibase_core/mixins/mixin_service_registry.py
  src/omnibase_core/models/context/model_metrics_context.py
  src/omnibase_core/models/event_bus/model_event_bus_listener_handle.py
  src/omnibase_core/models/infrastructure/model_effect_transaction.py
  src/omnibase_core/utils/util_field_converter.py
  src/omnibase_core/utils/util_forward_reference_resolver.py
  src/omnibase_core/utils/util_safe_yaml_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(adr): fix PR review issues in ADR-013 (OMN-1312)
  docs/architecture/adr/ADR-013-status-taxonomy.md
Due: none

fix(enums): address all PR #384 review feedback with merge from main (OMN-1310)
  docs/architecture/CONTRACT_DRIVEN_NODEORCHESTRATOR_V1_0.md
  docs/architecture/DECLARATIVE_IMPLEMENTATION_PLAN.md
  docs/architecture/IMPORT_COMPATIBILITY_MATRIX.md
  docs/architecture/ONEX_FOUR_NODE_ARCHITECTURE.md
  docs/architecture/tickets/NODEORCHESTRATOR_V1_0_LINEAR_TICKETS.md
  docs/guides/MIGRATING_TO_DECLARATIVE_NODES.md
  docs/guides/node-building/06_ORCHESTRATOR_NODE_TUTORIAL.md
  docs/guides/templates/ORCHESTRATOR_NODE_TEMPLATE.md
  docs/reference/templates/ORCHESTRATOR_NODE_TEMPLATE.md
  src/omnibase_core/enums/enum_action_category.py
  src/omnibase_core/enums/enum_agent_capability.py
  src/omnibase_core/enums/enum_analysis_status.py
  src/omnibase_core/enums/enum_base_status.py
  src/omnibase_core/enums/enum_checkpoint_status.py
  src/omnibase_core/enums/enum_daemon_action_type.py
  src/omnibase_core/enums/enum_enforcement_mode.py
  src/omnibase_core/enums/enum_event_sink_type.py
  src/omnibase_core/enums/enum_health_status.py
  src/omnibase_core/enums/enum_llm_provider.py
  src/omnibase_core/enums/enum_metadata_node_status.py
  src/omnibase_core/enums/enum_node_status.py
  src/omnibase_core/enums/enum_onex_status.py
  src/omnibase_core/enums/enum_priority_level.py
  src/omnibase_core/enums/enum_registry_status.py
  src/omnibase_core/enums/enum_scenario_status.py
  src/omnibase_core/enums/enum_service_status.py
  src/omnibase_core/enums/enum_status.py
  tests/unit/enums/test_enum_base_status.py
  tests/unit/enums/test_enum_dispatch_status.py
  tests/unit/enums/test_enum_execution_status.py
  tests/unit/enums/test_enum_health_status.py
  tests/unit/enums/test_enum_operation_status.py
  tests/unit/enums/test_enum_workflow_status.py
  tests/unit/orchestrator/test_orchestrator_enums.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): add type ignore explanations and remove hardcoded LAN IPs (OMN-1201)
  examples/demo/handlers/support_assistant/handler_support_assistant.py
  tests/unit/examples/demo/handlers/support_assistant/test_model_config.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(enums): address PR #378 release-ready feedback (OMN-1296)
  .pre-commit-config.yaml
  src/omnibase_core/container/container_service_registry.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_handler_type.py
  src/omnibase_core/enums/enum_log_level.py
  src/omnibase_core/enums/enum_node_kind.py
  src/omnibase_core/enums/enum_severity.py
  src/omnibase_core/logging/logging_emit.py
  src/omnibase_core/models/configuration/model_cli_config.py
  src/omnibase_core/models/configuration/model_event_bus_config.py
  src/omnibase_core/models/configuration/model_json_field.py
  src/omnibase_core/models/configuration/model_monitoring_config.py
  src/omnibase_core/models/configuration/model_rate_limit_policy.py
  src/omnibase_core/models/configuration/model_workflow_input.py
  src/omnibase_core/models/contracts/model_action_config_parameter.py
  src/omnibase_core/models/contracts/model_contract_meta.py
  src/omnibase_core/models/contracts/model_contract_node_metadata.py
  src/omnibase_core/models/contracts/model_contract_reducer.py
  src/omnibase_core/models/contracts/model_contract_version.py
  src/omnibase_core/models/contracts/model_node_extensions.py
  src/omnibase_core/models/contracts/subcontracts/model_coordination_rules.py
  src/omnibase_core/models/contracts/subcontracts/model_fsm_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_workflow_coordination_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_workflow_definition.py
  src/omnibase_core/models/core/model_action_metadata.py
  src/omnibase_core/models/runtime/model_runtime_node_instance.py
  src/omnibase_core/models/security/model_authorization_evaluation.py
  src/omnibase_core/models/security/model_compliance_evaluation.py
  src/omnibase_core/models/security/model_signature_evaluation.py
  src/omnibase_core/runtime/runtime_message_dispatch.py
  src/omnibase_core/utils/util_safe_yaml_loader.py
  src/omnibase_core/validation/checker_enum_governance.py
  tests/unit/validation/test_checker_enum_governance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(architecture): add ADR-013 status taxonomy (OMN-1312) (#387)
  CLAUDE.md
  docs/architecture/adr/ADR-013-status-taxonomy.md
Due: none

fix(errors): address PR #374 release-ready review feedback (batch 5)
  .pre-commit-config.yaml
  examples/contracts/handlers/compute_handler.yaml
  examples/contracts/handlers/effect_handler.yaml
  examples/contracts/handlers/reducer_handler.yaml
  src/omnibase_core/models/context/model_metrics_context.py
  src/omnibase_core/models/core/model_field_accessor.py
  src/omnibase_core/utils/util_forward_reference_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): migrate analytics models to EnumSeverity and add test coverage (OMN-1311)
  src/omnibase_core/models/metadata/analytics/model_analytics_error_summary.py
  src/omnibase_core/models/metadata/analytics/model_analytics_error_tracking.py
  tests/unit/validation/test_validator_base.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): resolve mypy strict mode error and test cleanup (OMN-1310)
  src/omnibase_core/utils/util_compute_transformations.py
  tests/unit/enums/test_enum_workflow_status.py
  tests/unit/orchestrator/test_orchestrator_enums.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address PR #383 final review feedback and CI failures for OMN-1308
  src/omnibase_core/container/container_service_registry.py
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/mixins/mixin_fail_fast.py
  src/omnibase_core/mixins/mixin_introspection_publisher.py
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_service_registry.py
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  src/omnibase_core/models/core/model_environment_accessor.py
  src/omnibase_core/types/typed_dict_workflow_state.py
  src/omnibase_core/utils/util_compute_transformations.py
  src/omnibase_core/validation/checker_literal_duplication.py
  src/omnibase_core/validation/checker_workflow_linter.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): address PR #378 CI failures and remaining review feedback (OMN-1296)
  src/omnibase_core/enums/enum_severity.py
  src/omnibase_core/models/metadata/model_metadatanodeanalytics.py
  src/omnibase_core/models/metadata/model_structured_display_name.py
  src/omnibase_core/models/node_metadata/model_node_core_info.py
  src/omnibase_core/models/node_metadata/model_node_core_metadata_class.py
  tests/unit/constants/test_handler_capabilities.py
  tests/unit/contracts/test_hash_registry.py
  tests/unit/enums/test_enum_handler_type.py
  tests/unit/errors/test_error_declarative.py
  tests/unit/mixins/test_mixin_discovery_responder.py
  tests/unit/mixins/test_mixin_event_listener.py
  tests/unit/models/contracts/subcontracts/test_model_health_check_subcontract.py
  tests/unit/models/events/payloads/test_model_event_payload_union.py
  tests/unit/models/orchestrator/test_model_orchestrator_hardening.py
  tests/unit/models/test_enum_serialization_omn_1309.py
  tests/unit/orchestrator/test_orchestrator_models.py
  tests/unit/protocols/capabilities/test_protocol_capability_provider.py
  tests/unit/validation/test_contracts.py
  tests/unit/validation/test_contracts_extended.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): add StrValueHelper mixin to EnumImpactSeverity (OMN-1311)
  src/omnibase_core/enums/enum_impact_severity.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(errors): address PR #374 release-ready review feedback (batch 6)
  CLAUDE.md
  src/omnibase_core/decorators/decorator_error_handling.py
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  src/omnibase_core/models/context/model_metrics_context.py
  src/omnibase_core/models/contracts/model_reference.py
  src/omnibase_core/models/core/model_action_metadata.py
  src/omnibase_core/utils/util_forward_reference_resolver.py
  tests/unit/errors/test_error_codes.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): fix critical CI blocker and address PR #384 release-ready feedback (OMN-1310)
  src/omnibase_core/enums/enum_document_freshness_actions.py
  src/omnibase_core/enums/enum_state_management.py
  src/omnibase_core/enums/enum_workflow_coordination.py
  src/omnibase_core/infrastructure/node_core_base.py
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/models/cli/model_cli_execution_core.py
  src/omnibase_core/models/cli/model_cli_execution_summary.py
  tests/unit/enums/test_enum_cache_eviction_policy.py
  tests/unit/enums/test_enum_dashboard_status.py
  tests/unit/enums/test_enum_document_freshness_actions.py
  tests/unit/enums/test_enum_error_category.py
  tests/unit/enums/test_enum_event_priority.py
  tests/unit/enums/test_enum_event_type_discovery.py
  tests/unit/enums/test_enum_finish_reason.py
  tests/unit/enums/test_enum_generation_error_codes.py
  tests/unit/enums/test_enum_handler_source.py
  tests/unit/enums/test_enum_intelligence_context_type.py
  tests/unit/enums/test_enum_intelligence_priority_level.py
  tests/unit/enums/test_enum_widget_type.py
  tests/unit/enums/test_enum_workflow_coordination.py
  tests/unit/enums/test_enum_workflow_status.py
  tests/unit/orchestrator/test_orchestrator_enums.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(demo): add Invariant Violation Report Model (OMN-1206)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_invariant_report_status.py
  src/omnibase_core/enums/enum_invariant_severity.py
  src/omnibase_core/models/invariant/__init__.py
  src/omnibase_core/models/invariant/model_invariant_violation_report.py
  tests/unit/models/invariant/test_model_invariant_violation_detail.py
  tests/unit/models/invariant/test_model_invariant_violation_report.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add enum governance validator for CI prevention (OMN-1313)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  src/omnibase_core/validation/checker_enum_governance.py
  src/omnibase_core/validation/contracts/enum-governance.validation.yaml
  tests/unit/validation/test_checker_enum_governance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): enable ENUM_002 and ENUM_003 rules (OMN-1313)
  src/omnibase_core/constants/constants_effect_idempotency.py
  src/omnibase_core/container/container_service_registry.py
  src/omnibase_core/models/container/model_service_registration.py
  src/omnibase_core/models/contracts/model_action_config_parameter.py
  src/omnibase_core/models/contracts/model_dependency_spec.py
  src/omnibase_core/models/contracts/model_drift_result.py
  src/omnibase_core/models/pipeline/model_pipeline_hook.py
  src/omnibase_core/models/validation/model_contract_validation_event.py
  src/omnibase_core/protocols/base/__init__.py
  src/omnibase_core/validation/checker_enum_governance.py
  src/omnibase_core/validation/checker_workflow_linter.py
  src/omnibase_core/validation/contracts/enum-governance.validation.yaml
  tests/unit/validation/test_checker_enum_governance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): address PR #388 review feedback (OMN-1206)
  src/omnibase_core/enums/enum_invariant_report_status.py
  src/omnibase_core/enums/enum_invariant_severity.py
  src/omnibase_core/models/invariant/model_invariant_violation_report.py
  tests/unit/models/invariant/test_model_invariant_violation_report.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): add fatal_failures field and FATAL integration tests (OMN-1311)
  src/omnibase_core/models/invariant/model_evaluation_summary.py
  src/omnibase_core/services/invariant/service_invariant_evaluator.py
  tests/unit/services/invariant/test_batch_evaluation.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): add StrValueHelper mixin to EnumHealthStatus for consistency (OMN-1296)
  src/omnibase_core/enums/enum_health_status.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address PR #383 review feedback - UTC datetimes, tests, pre-commit hook
  .pre-commit-config.yaml
  src/omnibase_core/models/container/model_enhanced_logger.py
  src/omnibase_core/models/container/model_registry_status.py
  src/omnibase_core/models/container/model_service_metadata.py
  src/omnibase_core/models/container/model_service_registration.py
  tests/unit/enums/test_enum_injection_scope.py
  tests/unit/enums/test_enum_pipeline_validation_mode.py
  tests/unit/enums/test_enum_registration_status.py
  tests/unit/enums/test_enum_service_lifecycle.py
  tests/unit/enums/test_enum_service_resolution_status.py
  tests/unit/enums/test_enum_step_type.py
  tests/unit/validation/test_checker_literal_duplication.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): add ConfigDict to analytics models per CLAUDE.md standards (OMN-1311)
  src/omnibase_core/models/metadata/analytics/model_analytics_error_summary.py
  src/omnibase_core/models/metadata/analytics/model_analytics_error_tracking.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(demo): address remaining PR #388 review issues (OMN-1206)
  src/omnibase_core/enums/enum_invariant_severity.py
  src/omnibase_core/models/invariant/model_invariant_violation_report.py
  tests/unit/models/invariant/test_model_invariant_violation_report.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): move module docstring to file top in model_structured_display_name.py (OMN-1296)
  src/omnibase_core/models/metadata/model_structured_display_name.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): address PR #384 release-ready feedback - docstrings and stale refs (OMN-1310)
  src/omnibase_core/mixins/mixin_health_check.py
  src/omnibase_core/mixins/mixin_metadata.yaml
  tests/unit/orchestrator/test_orchestrator_enums.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address PR review feedback for enum governance (OMN-1313)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  src/omnibase_core/models/contracts/model_dependency_spec.py
  src/omnibase_core/protocols/base/__init__.py
  src/omnibase_core/validation/checker_enum_governance.py
  src/omnibase_core/validation/contracts/enum-governance.validation.yaml
  tests/unit/validation/test_checker_enum_governance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(enums): clarify FATAL vs CRITICAL semantics in EnumSeverity (OMN-1311)
  src/omnibase_core/enums/enum_severity.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address PR #383 review feedback and CI test failures
  src/omnibase_core/container/container_service_registry.py
  src/omnibase_core/models/container/model_enhanced_logger.py
  src/omnibase_core/types/typed_dict_workflow_state.py
  src/omnibase_core/validation/checker_literal_duplication.py
  tests/unit/enums/test_enum_cache_eviction_policy.py
  tests/unit/enums/test_enum_dashboard_status.py
  tests/unit/enums/test_enum_error_category.py
  tests/unit/enums/test_enum_event_priority.py
  tests/unit/enums/test_enum_event_type_discovery.py
  tests/unit/enums/test_enum_finish_reason.py
  tests/unit/enums/test_enum_generation_error_codes.py
  tests/unit/enums/test_enum_handler_source.py
  tests/unit/enums/test_enum_intelligence_context_type.py
  tests/unit/enums/test_enum_intelligence_priority_level.py
  tests/unit/enums/test_enum_widget_type.py
  tests/unit/enums/test_enum_workflow_coordination.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(demo): add Invariant Violation Report Model (OMN-1206) (#388)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_invariant_report_status.py
  src/omnibase_core/enums/enum_invariant_severity.py
  src/omnibase_core/models/invariant/__init__.py
  src/omnibase_core/models/invariant/model_invariant_violation_report.py
  tests/unit/models/invariant/test_model_invariant_violation_detail.py
  tests/unit/models/invariant/test_model_invariant_violation_report.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(effects): add non-deterministic effect classification system (OMN-1147)
  src/omnibase_core/decorators/__init__.py
  src/omnibase_core/decorators/decorator_effect_boundary.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_effect_category.py
  src/omnibase_core/enums/enum_effect_policy_level.py
  src/omnibase_core/models/effects/__init__.py
  src/omnibase_core/models/effects/model_effect_boundary.py
  src/omnibase_core/models/effects/model_effect_classification.py
  src/omnibase_core/models/effects/model_effect_policy.py
  src/omnibase_core/services/replay/__init__.py
  src/omnibase_core/services/replay/service_effect_mock_registry.py
  tests/unit/decorators/test_decorator_effect_boundary.py
  tests/unit/enums/test_enum_effect_category.py
  tests/unit/enums/test_enum_effect_policy_level.py
  tests/unit/models/effects/__init__.py
  tests/unit/models/effects/test_model_effect_boundary.py
  tests/unit/models/effects/test_model_effect_classification.py
  tests/unit/models/effects/test_model_effect_policy.py
  tests/unit/services/replay/test_service_effect_mock_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): fix CI and address PR feedback for enum governance (OMN-1313)
  .pre-commit-config.yaml
  src/omnibase_core/validation/checker_enum_governance.py
  src/omnibase_core/validation/contracts/enum-governance.validation.yaml
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(enums): improve PARTIAL status documentation with example (OMN-1310)
  src/omnibase_core/enums/enum_execution_status.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(enums): address PR review feedback for OMN-1311
  src/omnibase_core/services/invariant/service_invariant_evaluator.py
  tests/unit/enums/test_enum_severity.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(validation): clean up enum governance config and docs (OMN-1313)
  src/omnibase_core/validation/checker_enum_governance.py
  src/omnibase_core/validation/contracts/enum-governance.validation.yaml
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(effects): address PR #390 review feedback (OMN-1147)
  src/omnibase_core/services/replay/service_effect_mock_registry.py
  tests/unit/decorators/test_decorator_effect_boundary.py
  tests/unit/services/replay/test_service_effect_mock_registry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
