Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

ruff-format:
  name: ruff format (auto-format)
  entry: poetry run ruff format
  language: system
  stages:
  - pre-commit

ruff-fix:
  name: ruff check (auto-fix linting + import sorting)
  entry: poetry run ruff check --fix --exit-non-zero-on-fix
  language: system
  stages:
  - pre-commit

mypy-type-check:
  name: mypy (type checking - strict)
  entry: bash -c 'poetry run mypy "$@" --show-error-codes --no-error-summary' --
  language: system
  pass_filenames: true
  stages:
  - pre-push

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-file-locations:
  name: ONEX File Location Enforcement
  entry: poetry run python scripts/validation/validate-file-locations.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '160'
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

audit-optional-usage:
  name: ONEX Optional Type Usage Audit
  entry: poetry run python scripts/validation/audit_optional.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix(tests): remove unnecessary 'from __future__ import annotations' (OMN-1198)
  tests/unit/models/health/test_model_baseline_health_report.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(nodes): remove hasattr dead code and improve topic_pattern docs (OMN-1293)
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_subcontract.py
  src/omnibase_core/nodes/node_effect.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): add return type annotations and improve test resilience
  tests/unit/utils/test_fsm_executor.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(models): change ModelNodeView.node_id from str to UUID (OMN-1284)
  src/omnibase_core/models/dashboard/model_node_view.py
  tests/unit/models/dashboard/test_model_node_view.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): address remaining PR #365 review feedback (OMN-1198)
  src/omnibase_core/utils/util_stability_calculator.py
  tests/unit/models/health/conftest.py
  tests/unit/models/health/test_model_baseline_health_report.py
  tests/unit/models/health/test_model_performance_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(fsm): implement correlation_id propagation across all intents (OMN-601) (#364)
  src/omnibase_core/models/reducer/payloads/model_payload_fsm_state_action.py
  src/omnibase_core/models/reducer/payloads/model_payload_fsm_transition_action.py
  src/omnibase_core/models/reducer/payloads/model_payload_persist_state.py
  src/omnibase_core/utils/util_fsm_executor.py
  tests/unit/models/reducer/payloads/test_model_payload_persist_state.py
  tests/unit/utils/test_fsm_executor.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): align missing rules default to disabled (OMN-1291)
  src/omnibase_core/validation/validator_base.py
  src/omnibase_core/validation/validator_naming_convention.py
  src/omnibase_core/validation/validator_patterns.py
  tests/unit/validation/test_validator_any_type.py
  tests/unit/validation/test_validator_naming_convention.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): add validation and improve docs for replay models (OMN-1197)
  src/omnibase_core/models/replay/model_diff_line.py
  src/omnibase_core/models/replay/model_execution_detail_view.py
  src/omnibase_core/models/replay/model_input_snapshot.py
  src/omnibase_core/models/replay/model_output_snapshot.py
  src/omnibase_core/models/replay/model_timing_breakdown.py
  tests/unit/models/replay/test_model_diff_line.py
  tests/unit/models/replay/test_model_execution_detail_view.py
  tests/unit/models/replay/test_model_snapshot.py
  tests/unit/models/replay/test_model_timing_breakdown.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(mixins): add MixinHandlerRouting for contract-driven handler routing (OMN-1293) (#362)
  src/omnibase_core/mixins/__init__.py
  src/omnibase_core/mixins/mixin_handler_routing.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_entry.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_subcontract.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_effect.py
  src/omnibase_core/nodes/node_orchestrator.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/runtime/__init__.py
  src/omnibase_core/protocols/runtime/protocol_handler_registry.py
  tests/unit/mixins/test_mixin_handler_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release): bump version to 0.6.4
  CLAUDE.md
  pyproject.toml
Due: none

fix(release): update __version__ to 0.6.4 and add CHANGELOG entry
  CHANGELOG.md
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release): bump version to 0.6.4 (#367)
  CHANGELOG.md
  CLAUDE.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #363 minor issues and enhance documentation (OMN-1284)
  src/omnibase_core/enums/enum_dashboard_status.py
  src/omnibase_core/enums/enum_widget_type.py
  src/omnibase_core/models/dashboard/model_dashboard_config.py
  tests/unit/models/dashboard/test_model_dashboard_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(models): improve stability calculator and health report API (OMN-1198)
  src/omnibase_core/models/health/model_baseline_health_report.py
  src/omnibase_core/utils/util_stability_calculator.py
  tests/unit/utils/test_util_stability_calculator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR review feedback for replay models (OMN-1197)
  src/omnibase_core/mixins/__init__.py
  src/omnibase_core/mixins/mixin_truncation_validation.py
  src/omnibase_core/models/replay/__init__.py
  src/omnibase_core/models/replay/model_diff_line.py
  src/omnibase_core/models/replay/model_execution_detail_view.py
  src/omnibase_core/models/replay/model_input_snapshot.py
  src/omnibase_core/models/replay/model_output_snapshot.py
  tests/unit/mixins/test_mixin_truncation_validation.py
  tests/unit/models/replay/test_model_diff_line.py
  tests/unit/models/replay/test_model_execution_detail_view.py
  tests/unit/models/replay/test_model_snapshot.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(replay): implement replay safety enforcement for non-deterministic effects (OMN-1150)
  src/omnibase_core/enums/enum_core_error_code.py
  src/omnibase_core/enums/replay/__init__.py
  src/omnibase_core/enums/replay/enum_effect_determinism.py
  src/omnibase_core/enums/replay/enum_enforcement_mode.py
  src/omnibase_core/enums/replay/enum_non_deterministic_source.py
  src/omnibase_core/models/replay/__init__.py
  src/omnibase_core/models/replay/model_audit_trail_entry.py
  src/omnibase_core/models/replay/model_audit_trail_summary.py
  src/omnibase_core/models/replay/model_enforcement_decision.py
  src/omnibase_core/protocols/replay/__init__.py
  src/omnibase_core/protocols/replay/protocol_audit_trail.py
  src/omnibase_core/protocols/replay/protocol_replay_safety_enforcer.py
  src/omnibase_core/protocols/replay/protocol_uuid_service.py
  src/omnibase_core/services/replay/__init__.py
  src/omnibase_core/services/replay/injector_uuid.py
  src/omnibase_core/services/replay/service_audit_trail.py
  src/omnibase_core/services/replay/service_replay_safety_enforcer.py
  tests/unit/enums/replay/test_enforcement_enums.py
  tests/unit/models/replay/test_enforcement_models.py
  tests/unit/services/replay/test_injector_uuid.py
  tests/unit/services/replay/test_service_audit_trail.py
  tests/unit/services/replay/test_service_replay_safety_enforcer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): extract shared hex color validator and add dashboard enhancements (OMN-1284)
  src/omnibase_core/enums/enum_dashboard_status.py
  src/omnibase_core/models/dashboard/model_chart_series_config.py
  src/omnibase_core/models/dashboard/model_dashboard_config.py
  src/omnibase_core/models/dashboard/model_metric_threshold.py
  src/omnibase_core/models/dashboard/model_widget_config_status_grid.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/validator_hex_color.py
  tests/unit/enums/test_enum_dashboard_status.py
  tests/unit/models/dashboard/test_model_dashboard_config.py
  tests/unit/validation/test_validator_hex_color.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): add validation constraints for PR #366 review feedback (OMN-1197)
  src/omnibase_core/models/replay/model_input_snapshot.py
  src/omnibase_core/models/replay/model_output_snapshot.py
  src/omnibase_core/models/replay/model_phase_time.py
  tests/unit/models/replay/test_model_phase_time.py
  tests/unit/models/replay/test_model_snapshot.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(utils): address PR #365 final review feedback (OMN-1198)
  src/omnibase_core/types/typed_dict_system_config.py
  src/omnibase_core/utils/util_stability_calculator.py
  tests/unit/utils/test_util_stability_calculator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): simplify frozen model assertions and update hex color imports (OMN-1284)
  tests/unit/models/dashboard/test_model_capability_view.py
  tests/unit/models/dashboard/test_model_dashboard_config.py
  tests/unit/models/dashboard/test_model_widget_definition.py
  tests/unit/validation/test_validator_hex_color.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(validation): address final PR #360 release-ready issues (OMN-1291)
  scripts/validation/validate_naming.py
  src/omnibase_core/models/contracts/subcontracts/model_validator_subcontract.py
  src/omnibase_core/validation/validator_architecture.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add dashboard models and enums (OMN-1284) (#363)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_dashboard_status.py
  src/omnibase_core/enums/enum_dashboard_theme.py
  src/omnibase_core/enums/enum_widget_type.py
  src/omnibase_core/models/dashboard/__init__.py
  src/omnibase_core/models/dashboard/model_capability_view.py
  src/omnibase_core/models/dashboard/model_chart_axis_config.py
  src/omnibase_core/models/dashboard/model_chart_series_config.py
  src/omnibase_core/models/dashboard/model_dashboard_config.py
  src/omnibase_core/models/dashboard/model_dashboard_layout_config.py
  src/omnibase_core/models/dashboard/model_event_filter.py
  src/omnibase_core/models/dashboard/model_metric_threshold.py
  src/omnibase_core/models/dashboard/model_node_view.py
  src/omnibase_core/models/dashboard/model_status_item_config.py
  src/omnibase_core/models/dashboard/model_table_column_config.py
  src/omnibase_core/models/dashboard/model_widget_config_chart.py
  src/omnibase_core/models/dashboard/model_widget_config_event_feed.py
  src/omnibase_core/models/dashboard/model_widget_config_metric_card.py
  src/omnibase_core/models/dashboard/model_widget_config_status_grid.py
  src/omnibase_core/models/dashboard/model_widget_config_table.py
  src/omnibase_core/models/dashboard/model_widget_definition.py
  src/omnibase_core/types/typed_dict_monitoring_dashboard.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/validator_hex_color.py
  tests/unit/enums/test_enum_dashboard_status.py
  tests/unit/enums/test_enum_widget_type.py
  tests/unit/models/dashboard/__init__.py
  tests/unit/models/dashboard/test_dashboard_imports.py
  tests/unit/models/dashboard/test_model_capability_view.py
  tests/unit/models/dashboard/test_model_dashboard_config.py
  tests/unit/models/dashboard/test_model_metric_threshold.py
  tests/unit/models/dashboard/test_model_node_view.py
  tests/unit/models/dashboard/test_model_validations.py
  tests/unit/models/dashboard/test_model_widget_definition.py
  tests/unit/validation/test_validator_hex_color.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(replay): address PR review feedback for replay safety enforcement (OMN-1150)
  docs/guides/replay/REPLAY_SAFETY_INTEGRATION.md
  src/omnibase_core/protocols/replay/protocol_audit_trail.py
  src/omnibase_core/protocols/replay/protocol_replay_safety_enforcer.py
  src/omnibase_core/services/replay/__init__.py
  src/omnibase_core/services/replay/injector_uuid.py
  src/omnibase_core/services/replay/service_audit_trail.py
  src/omnibase_core/services/replay/service_replay_safety_enforcer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address all remaining PR #365 review issues (OMN-1198)
  src/omnibase_core/models/evidence/model_latency_statistics.py
  src/omnibase_core/models/health/model_baseline_health_report.py
  src/omnibase_core/utils/util_stability_calculator.py
  tests/unit/models/evidence/test_model_latency_statistics.py
  tests/unit/models/health/test_model_baseline_health_report.py
  tests/unit/utils/test_util_stability_calculator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): add hash format validation and fix test attribute access (OMN-1197)
  src/omnibase_core/models/replay/model_execution_detail_view.py
  src/omnibase_core/models/replay/model_output_snapshot.py
  tests/unit/mixins/test_mixin_truncation_validation.py
  tests/unit/models/replay/test_model_execution_detail_view.py
  tests/unit/models/replay/test_model_phase_time.py
  tests/unit/models/replay/test_model_snapshot.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add contract-driven validator framework (OMN-1291) (#360)
  .pre-commit-config.yaml
  .yaml-validation-allowlist.yaml
  docs/INDEX.md
  docs/guides/THREADING.md
  scripts/validation/validate-single-class-per-file.py
  scripts/validation/validate_naming.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_validator_rule.py
  src/omnibase_core/models/contracts/subcontracts/model_validator_subcontract.py
  src/omnibase_core/validation/__init__.py
  src/omnibase_core/validation/contracts/__init__.py
  src/omnibase_core/validation/contracts/any_type.validation.yaml
  src/omnibase_core/validation/contracts/architecture.validation.yaml
  src/omnibase_core/validation/contracts/contract_linter.validation.yaml
  src/omnibase_core/validation/contracts/naming_convention.validation.yaml
  src/omnibase_core/validation/contracts/patterns.validation.yaml
  src/omnibase_core/validation/contracts/union_usage.validation.yaml
  src/omnibase_core/validation/validator_any_type.py
  src/omnibase_core/validation/validator_architecture.py
  src/omnibase_core/validation/validator_base.py
  src/omnibase_core/validation/validator_contract_linter.py
  src/omnibase_core/validation/validator_naming_convention.py
  src/omnibase_core/validation/validator_patterns.py
  src/omnibase_core/validation/validator_types.py
  src/omnibase_core/validation/validator_utils.py
  src/omnibase_core/validation/visitor_any_type.py
  tests/unit/validation/test_architecture.py
  tests/unit/validation/test_validation_utils.py
  tests/unit/validation/test_validator_any_type.py
  tests/unit/validation/test_validator_base.py
  tests/unit/validation/test_validator_naming_convention.py
  tests/unit/validation/test_visitor_any_type.py
  tests/unit/validation/validators/test_common_validators.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): improve import organization and add hash length validation (OMN-1197)
  src/omnibase_core/models/replay/model_execution_detail_view.py
  src/omnibase_core/models/replay/model_output_snapshot.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(replay): address remaining PR #369 review feedback (OMN-1150)
  src/omnibase_core/models/replay/__init__.py
  src/omnibase_core/models/replay/model_audit_trail_entry.py
  src/omnibase_core/models/replay/model_audit_trail_summary.py
  src/omnibase_core/models/replay/model_enforcement_decision.py
  src/omnibase_core/protocols/replay/protocol_audit_trail.py
  src/omnibase_core/services/replay/injector_uuid.py
  src/omnibase_core/services/replay/service_audit_trail.py
  src/omnibase_core/services/replay/service_replay_safety_enforcer.py
  tests/unit/services/replay/test_injector_uuid.py
  tests/unit/services/replay/test_service_replay_safety_enforcer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): add minor improvements for PR #365 release readiness (OMN-1198)
  src/omnibase_core/models/health/model_baseline_health_report.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(replay): address final PR #369 review feedback (OMN-1150)
  src/omnibase_core/models/replay/model_audit_trail_summary.py
  src/omnibase_core/protocols/protocol_logger_like.py
  src/omnibase_core/services/replay/service_audit_trail.py
  src/omnibase_core/services/replay/service_replay_safety_enforcer.py
  tests/unit/services/replay/test_service_replay_safety_enforcer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address PR #366 release-ready review feedback (OMN-1197)
  src/omnibase_core/models/replay/model_diff_line.py
  src/omnibase_core/models/replay/model_execution_detail_view.py
  src/omnibase_core/models/replay/model_input_snapshot.py
  src/omnibase_core/models/replay/model_output_snapshot.py
  src/omnibase_core/models/replay/model_phase_time.py
  src/omnibase_core/models/replay/model_timing_breakdown.py
  src/omnibase_core/utils/util_hash_validation.py
  tests/unit/models/replay/test_model_config_overrides.py
  tests/unit/models/replay/test_model_effect_record.py
  tests/unit/models/replay/test_model_execution_corpus.py
  tests/unit/models/replay/test_model_execution_detail_view.py
  tests/unit/models/replay/test_model_phase_time.py
  tests/unit/models/replay/test_model_replay_input.py
  tests/unit/models/replay/test_model_value_change.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release): bump version to 0.6.5
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(demo): add Support Assistant Handler for model evaluation (OMN-1201)
  examples/__init__.py
  examples/demo/__init__.py
  examples/demo/handlers/__init__.py
  examples/demo/handlers/support_assistant/__init__.py
  examples/demo/handlers/support_assistant/handler_anthropic.py
  examples/demo/handlers/support_assistant/handler_local.py
  examples/demo/handlers/support_assistant/handler_mock.py
  examples/demo/handlers/support_assistant/handler_openai.py
  examples/demo/handlers/support_assistant/handler_support_assistant.py
  examples/demo/handlers/support_assistant/model_config.py
  examples/demo/handlers/support_assistant/model_support_request.py
  examples/demo/handlers/support_assistant/model_support_response.py
  examples/demo/handlers/support_assistant/protocol_llm_client.py
  examples/demo/handlers/support_assistant/support_assistant.yaml
  tests/integration/examples/__init__.py
  tests/integration/examples/conftest.py
  tests/integration/examples/demo/__init__.py
  tests/integration/examples/demo/conftest.py
  tests/integration/examples/demo/handlers/__init__.py
  tests/integration/examples/demo/handlers/conftest.py
  tests/integration/examples/demo/handlers/support_assistant/__init__.py
  tests/integration/examples/demo/handlers/support_assistant/test_handler_integration.py
  tests/unit/examples/__init__.py
  tests/unit/examples/conftest.py
  tests/unit/examples/demo/__init__.py
  tests/unit/examples/demo/conftest.py
  tests/unit/examples/demo/handlers/__init__.py
  tests/unit/examples/demo/handlers/conftest.py
  tests/unit/examples/demo/handlers/support_assistant/__init__.py
  tests/unit/examples/demo/handlers/support_assistant/test_handler_contract.py
  tests/unit/examples/demo/handlers/support_assistant/test_handler_support_assistant.py
  tests/unit/examples/demo/handlers/support_assistant/test_model_config.py
  tests/unit/examples/demo/handlers/support_assistant/test_support_schemas.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(release): bump version to 0.6.5 (#370)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(enums): add EnumHandlerRoutingStrategy for handler routing (OMN-1295)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_handler_routing_strategy.py
  src/omnibase_core/mixins/mixin_handler_routing.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_handler_routing_subcontract.py
  tests/unit/enums/test_enum_handler_routing_strategy.py
  tests/unit/mixins/test_mixin_handler_routing.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): extract MAX_CORPUS_SIZE constant for documentation (OMN-1198)
  src/omnibase_core/models/health/model_baseline_health_report.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add execution detail view models and consolidate comparison into replay (OMN-1197) (#366)
  src/omnibase_core/mixins/__init__.py
  src/omnibase_core/mixins/mixin_truncation_validation.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/comparison/__init__.py
  src/omnibase_core/models/replay/__init__.py
  src/omnibase_core/models/replay/model_diff_line.py
  src/omnibase_core/models/replay/model_execution_comparison.py
  src/omnibase_core/models/replay/model_execution_detail_view.py
  src/omnibase_core/models/replay/model_input_snapshot.py
  src/omnibase_core/models/replay/model_invariant_comparison_summary.py
  src/omnibase_core/models/replay/model_invariant_result_detail.py
  src/omnibase_core/models/replay/model_output_diff.py
  src/omnibase_core/models/replay/model_output_snapshot.py
  src/omnibase_core/models/replay/model_phase_time.py
  src/omnibase_core/models/replay/model_side_by_side_comparison.py
  src/omnibase_core/models/replay/model_timing_breakdown.py
  src/omnibase_core/models/replay/model_value_change.py
  src/omnibase_core/utils/util_hash_validation.py
  tests/unit/mixins/test_mixin_truncation_validation.py
  tests/unit/models/comparison/__init__.py
  tests/unit/models/replay/conftest.py
  tests/unit/models/replay/test_model_config_overrides.py
  tests/unit/models/replay/test_model_diff_line.py
  tests/unit/models/replay/test_model_effect_record.py
  tests/unit/models/replay/test_model_execution_comparison.py
  tests/unit/models/replay/test_model_execution_corpus.py
  tests/unit/models/replay/test_model_execution_detail_view.py
  tests/unit/models/replay/test_model_invariant_comparison_summary.py
  tests/unit/models/replay/test_model_output_diff.py
  tests/unit/models/replay/test_model_phase_time.py
  tests/unit/models/replay/test_model_replay_input.py
  tests/unit/models/replay/test_model_snapshot.py
  tests/unit/models/replay/test_model_timing_breakdown.py
  tests/unit/models/replay/test_model_value_change.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(replay): add memory management and PII documentation (OMN-1150)
  docs/guides/replay/REPLAY_SAFETY_INTEGRATION.md
  src/omnibase_core/services/replay/service_audit_trail.py
  src/omnibase_core/services/replay/service_replay_safety_enforcer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add baseline health report models and stability calculator (OMN-1198) (#365)
  src/omnibase_core/models/evidence/model_latency_statistics.py
  src/omnibase_core/models/health/__init__.py
  src/omnibase_core/models/health/model_baseline_health_report.py
  src/omnibase_core/models/health/model_invariant_status.py
  src/omnibase_core/models/health/model_performance_metrics.py
  src/omnibase_core/types/typed_dict_system_config.py
  src/omnibase_core/utils/__init__.py
  src/omnibase_core/utils/util_stability_calculator.py
  tests/unit/models/evidence/test_model_latency_statistics.py
  tests/unit/models/health/conftest.py
  tests/unit/models/health/test_model_baseline_health_report.py
  tests/unit/models/health/test_model_performance_metrics.py
  tests/unit/utils/test_util_stability_calculator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(replay): implement replay safety enforcement for non-deterministic effects (OMN-1150) (#369)
  docs/guides/replay/REPLAY_SAFETY_INTEGRATION.md
  src/omnibase_core/enums/enum_core_error_code.py
  src/omnibase_core/enums/replay/__init__.py
  src/omnibase_core/enums/replay/enum_effect_determinism.py
  src/omnibase_core/enums/replay/enum_enforcement_mode.py
  src/omnibase_core/enums/replay/enum_non_deterministic_source.py
  src/omnibase_core/models/replay/__init__.py
  src/omnibase_core/models/replay/model_audit_trail_entry.py
  src/omnibase_core/models/replay/model_audit_trail_summary.py
  src/omnibase_core/models/replay/model_enforcement_decision.py
  src/omnibase_core/protocols/protocol_logger_like.py
  src/omnibase_core/protocols/replay/__init__.py
  src/omnibase_core/protocols/replay/protocol_audit_trail.py
  src/omnibase_core/protocols/replay/protocol_replay_safety_enforcer.py
  src/omnibase_core/protocols/replay/protocol_uuid_service.py
  src/omnibase_core/services/replay/__init__.py
  src/omnibase_core/services/replay/injector_uuid.py
  src/omnibase_core/services/replay/service_audit_trail.py
  src/omnibase_core/services/replay/service_replay_safety_enforcer.py
  tests/unit/enums/replay/test_enforcement_enums.py
  tests/unit/models/replay/test_enforcement_models.py
  tests/unit/services/replay/test_injector_uuid.py
  tests/unit/services/replay/test_service_audit_trail.py
  tests/unit/services/replay/test_service_replay_safety_enforcer.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
