Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

feat(contracts): add contract-driven DB repository schema and validators (OMN-1782)
  examples/contracts/README.md
  examples/contracts/db_repository_example.yaml
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_db_operation.py
  src/omnibase_core/models/contracts/model_db_param.py
  src/omnibase_core/models/contracts/model_db_repository_contract.py
  src/omnibase_core/models/contracts/model_db_return.py
  src/omnibase_core/models/contracts/model_db_safety_policy.py
  src/omnibase_core/validation/db/__init__.py
  src/omnibase_core/validation/db/validator_db_deterministic.py
  src/omnibase_core/validation/db/validator_db_params.py
  src/omnibase_core/validation/db/validator_db_sql_safety.py
  src/omnibase_core/validation/db/validator_db_structural.py
  src/omnibase_core/validation/db/validator_db_table_access.py
  tests/unit/validation/db/__init__.py
  tests/unit/validation/db/test_db_validators.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: bump version to 0.11.0 (#462)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add adoption enablement for cross-repo validators [OMN-1774]
  .yaml-validation-allowlist.yaml
  src/omnibase_core/models/validation/__init__.py
  src/omnibase_core/models/validation/model_baseline_generator.py
  src/omnibase_core/models/validation/model_baseline_violation.py
  src/omnibase_core/models/validation/model_violation_baseline.py
  src/omnibase_core/validation/cross_repo/__init__.py
  src/omnibase_core/validation/cross_repo/baseline_io.py
  src/omnibase_core/validation/cross_repo/cli.py
  src/omnibase_core/validation/cross_repo/engine.py
  src/omnibase_core/validation/cross_repo/policy_loader.py
  src/omnibase_core/validation/cross_repo/rules/rule_forbidden_imports.py
  src/omnibase_core/validation/cross_repo/rules/rule_repo_boundaries.py
  src/omnibase_core/validation/cross_repo/util_fingerprint.py
  tests/fixtures/cross_repo_validation/policies/base_policy.yaml
  tests/fixtures/cross_repo_validation/policies/child_policy.yaml
  tests/fixtures/cross_repo_validation/policies/grandchild_policy.yaml
  tests/unit/validation/cross_repo/test_baseline_enforcement.py
  tests/unit/validation/cross_repo/test_baseline_io.py
  tests/unit/validation/cross_repo/test_cli.py
  tests/unit/validation/cross_repo/test_fingerprint.py
  tests/unit/validation/cross_repo/test_policy_inheritance.py
  tests/unit/validation/cross_repo/test_rule_repo_boundaries.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(validation): consolidate SQL utils and add escaped quote tests (OMN-1782)
  src/omnibase_core/validation/db/__init__.py
  src/omnibase_core/validation/db/_sql_utils.py
  src/omnibase_core/validation/db/validator_db_deterministic.py
  src/omnibase_core/validation/db/validator_db_params.py
  src/omnibase_core/validation/db/validator_db_sql_safety.py
  src/omnibase_core/validation/db/validator_db_structural.py
  src/omnibase_core/validation/db/validator_db_table_access.py
  tests/unit/validation/db/test_db_validators.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): exclude virtual environments from file location checks
  scripts/validation/validate-file-locations.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(validation): improve code quality in cross-repo validators [OMN-1774]
  src/omnibase_core/models/validation/model_violation_baseline.py
  src/omnibase_core/validation/cross_repo/cli.py
  src/omnibase_core/validation/cross_repo/policy_loader.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address code review feedback for DB repository validators (OMN-1782)
  examples/contracts/README.md
  src/omnibase_core/validation/db/__init__.py
  src/omnibase_core/validation/db/sql_utils.py
  src/omnibase_core/validation/db/validator_db_deterministic.py
  src/omnibase_core/validation/db/validator_db_params.py
  src/omnibase_core/validation/db/validator_db_sql_safety.py
  src/omnibase_core/validation/db/validator_db_structural.py
  src/omnibase_core/validation/db/validator_db_table_access.py
  tests/unit/validation/db/test_db_validators.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add adoption enablement for cross-repo validators [OMN-1774] (#464)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/models/validation/__init__.py
  src/omnibase_core/models/validation/model_baseline_generator.py
  src/omnibase_core/models/validation/model_baseline_violation.py
  src/omnibase_core/models/validation/model_violation_baseline.py
  src/omnibase_core/validation/cross_repo/__init__.py
  src/omnibase_core/validation/cross_repo/baseline_io.py
  src/omnibase_core/validation/cross_repo/cli.py
  src/omnibase_core/validation/cross_repo/engine.py
  src/omnibase_core/validation/cross_repo/policy_loader.py
  src/omnibase_core/validation/cross_repo/rules/rule_forbidden_imports.py
  src/omnibase_core/validation/cross_repo/rules/rule_repo_boundaries.py
  src/omnibase_core/validation/cross_repo/util_fingerprint.py
  tests/fixtures/cross_repo_validation/policies/base_policy.yaml
  tests/fixtures/cross_repo_validation/policies/child_policy.yaml
  tests/fixtures/cross_repo_validation/policies/grandchild_policy.yaml
  tests/unit/validation/cross_repo/test_baseline_enforcement.py
  tests/unit/validation/cross_repo/test_baseline_io.py
  tests/unit/validation/cross_repo/test_cli.py
  tests/unit/validation/cross_repo/test_fingerprint.py
  tests/unit/validation/cross_repo/test_policy_inheritance.py
  tests/unit/validation/cross_repo/test_rule_repo_boundaries.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address all PR #463 review feedback (OMN-1782)
  src/omnibase_core/validation/db/__init__.py
  src/omnibase_core/validation/db/sql_utils.py
  src/omnibase_core/validation/db/validator_db_deterministic.py
  src/omnibase_core/validation/db/validator_db_params.py
  src/omnibase_core/validation/db/validator_db_sql_safety.py
  src/omnibase_core/validation/db/validator_db_structural.py
  src/omnibase_core/validation/db/validator_db_table_access.py
  tests/unit/validation/db/test_db_validators.py
  tests/unit/validation/db/test_sql_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address final PR #463 review feedback (OMN-1782)
  examples/contracts/README.md
  src/omnibase_core/models/contracts/model_db_repository_contract.py
  src/omnibase_core/validation/db/validator_db_table_access.py
  tests/unit/validation/db/test_sql_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(contracts): add EnumDatabaseEngine for multi-engine support (OMN-1782)
  examples/contracts/README.md
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_database_engine.py
  src/omnibase_core/models/contracts/model_db_repository_contract.py
  tests/unit/validation/db/test_db_validators.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add TicketContract model for contract-driven ticket execution [OMN-1807]
  src/omnibase_core/enums/ticket/__init__.py
  src/omnibase_core/enums/ticket/enum_ticket_types.py
  src/omnibase_core/models/ticket/__init__.py
  src/omnibase_core/models/ticket/model_clarifying_question.py
  src/omnibase_core/models/ticket/model_gate.py
  src/omnibase_core/models/ticket/model_requirement.py
  src/omnibase_core/models/ticket/model_ticket_contract.py
  src/omnibase_core/models/ticket/model_verification_step.py
  src/omnibase_core/protocols/ticket/__init__.py
  src/omnibase_core/protocols/ticket/protocol_ticket_dependencies.py
  tests/unit/models/ticket/__init__.py
  tests/unit/models/ticket/test_model_ticket_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): support schema-qualified table names in structural validator (OMN-1782)
  src/omnibase_core/validation/db/validator_db_structural.py
  tests/unit/validation/db/test_db_validators.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address code review feedback for TicketContract [OMN-1807]
  src/omnibase_core/enums/ticket/enum_ticket_types.py
  src/omnibase_core/models/ticket/model_gate.py
  src/omnibase_core/models/ticket/model_ticket_contract.py
  src/omnibase_core/models/ticket/model_verification_step.py
  tests/unit/models/ticket/test_model_ticket_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address code review feedback for TicketContract [OMN-1807]
  src/omnibase_core/models/ticket/model_gate.py
  src/omnibase_core/models/ticket/model_ticket_contract.py
  src/omnibase_core/models/ticket/model_verification_step.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(contracts): add contract-driven DB repository schema and validat… (#463)
  examples/contracts/README.md
  examples/contracts/db_repository_example.yaml
  scripts/validation/validate-file-locations.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_database_engine.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/model_db_operation.py
  src/omnibase_core/models/contracts/model_db_param.py
  src/omnibase_core/models/contracts/model_db_repository_contract.py
  src/omnibase_core/models/contracts/model_db_return.py
  src/omnibase_core/models/contracts/model_db_safety_policy.py
  src/omnibase_core/validation/db/__init__.py
  src/omnibase_core/validation/db/sql_utils.py
  src/omnibase_core/validation/db/validator_db_deterministic.py
  src/omnibase_core/validation/db/validator_db_params.py
  src/omnibase_core/validation/db/validator_db_sql_safety.py
  src/omnibase_core/validation/db/validator_db_structural.py
  src/omnibase_core/validation/db/validator_db_table_access.py
  tests/unit/validation/db/__init__.py
  tests/unit/validation/db/test_db_validators.py
  tests/unit/validation/db/test_sql_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: bump version to 0.12.0
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): address code review feedback for TicketContract [OMN-1807]
  src/omnibase_core/models/ticket/model_gate.py
  src/omnibase_core/models/ticket/model_verification_step.py
  tests/unit/models/ticket/test_model_ticket_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: bump version to 0.12.0 (#466)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add TicketContract model for contract-driven ticket execution [OMN-1807] (#465)
  src/omnibase_core/enums/ticket/__init__.py
  src/omnibase_core/enums/ticket/enum_ticket_types.py
  src/omnibase_core/models/ticket/__init__.py
  src/omnibase_core/models/ticket/model_clarifying_question.py
  src/omnibase_core/models/ticket/model_gate.py
  src/omnibase_core/models/ticket/model_requirement.py
  src/omnibase_core/models/ticket/model_ticket_contract.py
  src/omnibase_core/models/ticket/model_verification_step.py
  src/omnibase_core/protocols/ticket/__init__.py
  src/omnibase_core/protocols/ticket/protocol_ticket_dependencies.py
  tests/unit/models/ticket/__init__.py
  tests/unit/models/ticket/test_model_ticket_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: rewrite CLAUDE.md with declarative node patterns and review fixes
  CLAUDE.md
Due: none

fix(docs): correct CLAUDE.md examples and add missing exception groups
  CLAUDE.md
Due: none

fix(docs): remove volatile numerical counts from CLAUDE.md
  CLAUDE.md
Due: none

docs: rewrite CLAUDE.md with declarative node patterns (#467)
  CLAUDE.md
Due: none

feat(handshakes): add architecture constraint maps for 8 active repos [OMN-1832]
  architecture-handshakes/README.md
  architecture-handshakes/install.sh
  architecture-handshakes/repos/omnibase_core.md
  architecture-handshakes/repos/omnibase_infra.md
  architecture-handshakes/repos/omnibase_spi.md
  architecture-handshakes/repos/omniclaude.md
  architecture-handshakes/repos/omnidash.md
  architecture-handshakes/repos/omniintelligence.md
  architecture-handshakes/repos/omnimemory.md
  architecture-handshakes/repos/omninode_infra.md
Due: none

fix(handshakes): fix useless diff check and add version to template [OMN-1832]
  architecture-handshakes/README.md
  architecture-handshakes/install.sh
Due: none

fix(handshakes): improve install script and standardize formatting [OMN-1832]
  architecture-handshakes/README.md
  architecture-handshakes/install.sh
  architecture-handshakes/repos/omnimemory.md
Due: none

feat(handshakes): add architecture constraint maps for 8 active repos [OMN-1832] (#471)
  architecture-handshakes/README.md
  architecture-handshakes/install.sh
  architecture-handshakes/repos/omnibase_core.md
  architecture-handshakes/repos/omnibase_infra.md
  architecture-handshakes/repos/omnibase_spi.md
  architecture-handshakes/repos/omniclaude.md
  architecture-handshakes/repos/omnidash.md
  architecture-handshakes/repos/omniintelligence.md
  architecture-handshakes/repos/omnimemory.md
  architecture-handshakes/repos/omninode_infra.md
Due: none

feat(handshakes): add CI enforcement for version verification [OMN-1862]
  architecture-handshakes/README.md
  architecture-handshakes/check-handshake.sh
  architecture-handshakes/install.sh
Due: none

fix(handshakes): use strip_metadata_block and fix documentation [OMN-1862]
  architecture-handshakes/README.md
  architecture-handshakes/check-handshake.sh
  architecture-handshakes/install.sh
Due: none

fix(handshakes): improve robustness and documentation [OMN-1862]
  architecture-handshakes/README.md
  architecture-handshakes/check-handshake.sh
  architecture-handshakes/install.sh
Due: none

fix(handshakes): add --quiet flag and improve code quality [OMN-1862]
  architecture-handshakes/check-handshake.sh
Due: none

fix(handshakes): address code review feedback [OMN-1862]
  architecture-handshakes/README.md
  architecture-handshakes/check-handshake.sh
Due: none

fix(handshakes): remove legacy fallback code [OMN-1862]
  architecture-handshakes/check-handshake.sh
Due: none

feat(handshakes): add CI enforcement for version verification [OMN-1862] (#472)
  architecture-handshakes/README.md
  architecture-handshakes/check-handshake.sh
  architecture-handshakes/install.sh
Due: none

chore: bump version to 0.13.0
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: bump version to 0.13.0 (#473)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: bump version to 0.13.1
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
  src/omnibase_core/types/typed_dict_pattern_storage_metadata.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: bump version to 0.13.1 (#474)
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
  src/omnibase_core/types/typed_dict_pattern_storage_metadata.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(handshakes): update omniclaude constraints to v0.2.0
  architecture-handshakes/repos/omniclaude.md
Due: none
