Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

validate-naming-conventions:
  name: ONEX Naming Convention Validation
  entry: poetry run python scripts/validation/validate_naming.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-string-versions:
  name: ONEX String Version Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-string-versions.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-archived-imports:
  name: ONEX Archived Path Import Prevention
  entry: poetry run python scripts/validation/validate-archived-imports.py
  args:
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-backward-compatibility:
  name: ONEX Backward Compatibility Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-backward-compatibility.py
  args:
  - -d
  - src/
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-no-manual-yaml:
  name: ONEX Manual YAML Prevention
  entry: poetry run python scripts/validation/validate-no-manual-yaml.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-pydantic-patterns:
  name: ONEX Pydantic Pattern Validation
  entry: poetry run python scripts/validation/validate-pydantic-patterns.py
  args:
  - --allow-errors
  - '13'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-union-usage:
  name: ONEX Union Usage Validation
  entry: poetry run python scripts/validation/validate-union-usage.py
  args:
  - --allow-invalid
  - '235'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

validate-contracts:
  name: ONEX Contract Validation
  entry: poetry run python scripts/validation/validate-contracts.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

check-stub-implementations:
  name: ONEX Stub Implementation Detector
  entry: poetry run python scripts/validation/check_stub_implementations.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-no-fallbacks:
  name: ONEX No Fallback Patterns Validation
  entry: poetry run python scripts/validation/check_no_fallbacks.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

check-error-raising:
  name: ONEX Error Raising Validation
  entry: poetry run python scripts/validation/check_error_raising.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

validate-no-enhancement-prefixes:
  name: ONEX Enhancement Prefix Anti-Pattern Detection
  entry: poetry run python scripts/validation/validate-no-enhancement-prefixes.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

onex-single-class-per-file:
  name: ONEX Single Class Per File
  entry: poetry run python scripts/validation/validate-single-class-per-file.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

fix: sort imports in test_import_paths_snapshot.py
  tests/unit/api_snapshots/test_import_paths_snapshot.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix: address PR #107 review feedback
  docs/MVP_PLAN.md
  docs/architecture/CONTRACT_STABILITY_SPEC.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/templates/LINEAR_ISSUE_TEMPLATE.md
  tests/unit/api_snapshots/test_infrastructure_api_snapshot.py
  tests/unit/api_snapshots/test_signatures_snapshot.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

style: fix black formatting in API snapshot tests
  tests/unit/api_snapshots/test_infrastructure_api_snapshot.py
  tests/unit/api_snapshots/test_signatures_snapshot.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(testing): add pre-refactor API snapshot tests [OMN-149] (#107)
  docs/MVP_PLAN.md
  docs/architecture/CONTRACT_STABILITY_SPEC.md
  docs/architecture/MIXIN_CLASSIFICATION.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/templates/LINEAR_ISSUE_TEMPLATE.md
  tests/unit/api_snapshots/__init__.py
  tests/unit/api_snapshots/test_import_paths_snapshot.py
  tests/unit/api_snapshots/test_infrastructure_api_snapshot.py
  tests/unit/api_snapshots/test_nodes_api_snapshot.py
  tests/unit/api_snapshots/test_signatures_snapshot.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(enums): add EnumNodeKind with RUNTIME_HOST value [OMN-222]
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_node_kind.py
  tests/unit/enums/test_enum_node_kind.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

docs(enums): clarify EnumNodeKind/EnumNodeType relationship and add usage examples
  src/omnibase_core/enums/enum_node_kind.py
  src/omnibase_core/enums/enum_node_type.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(enums): correct isort import ordering in __init__.py
  src/omnibase_core/enums/__init__.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(OMN-367): Address PR review feedback
  scripts/validate-no-spi-imports.sh
  src/omnibase_core/types/constraints.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(ci): Add --filter-files to isort check to match pre-commit
  .github/workflows/test.yml
Due: validate-string-versions

fix(isort): Add protocols/__init__.py to extend_skip
  pyproject.toml
Due: none

refactor(enums): eliminate EnumNodeKind/EnumNodeType naming collision
  docs/architecture/CONTRACT_SYSTEM.md
  docs/reference/api/enums.md
  src/omnibase_core/enums/enum_node_type.py
  src/omnibase_core/models/contracts/model_contract_compute.py
  src/omnibase_core/models/contracts/model_contract_effect.py
  src/omnibase_core/models/contracts/model_contract_orchestrator.py
  src/omnibase_core/models/contracts/model_contract_reducer.py
  src/omnibase_core/models/contracts/model_yaml_contract.py
  src/omnibase_core/models/operations/model_compute_operation_data.py
  src/omnibase_core/models/operations/model_effect_operation_data.py
  src/omnibase_core/models/operations/model_orchestrator_operation_data.py
  src/omnibase_core/models/operations/model_reducer_operation_data.py
  src/omnibase_core/utils/util_contract_loader.py
  tests/unit/contracts/test_model_contract_base.py
  tests/unit/enums/test_enum_node_type.py
  tests/unit/enums/test_enum_node_type_kind_mapping.py
  tests/unit/models/metadata/node_info/test_model_node_core.py
  tests/unit/utils/test_util_contract_loader_part1.py
  tests/unit/utils/test_util_contract_loader_part2.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(types): Add TYPE_CHECKING import for ModelBaseCollection/ModelBaseFactory
  src/omnibase_core/types/constraints.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(enums): address PR #108 review feedback [OMN-222]
  CLAUDE.md
  docs/guides/ENUM_NODE_KIND_MIGRATION.md
  poetry.lock
  pyproject.toml
  src/omnibase_core/enums/enum_node_kind.py
  src/omnibase_core/enums/enum_node_type.py
  src/omnibase_core/models/contracts/model_yaml_contract.py
  tests/unit/enums/test_enum_node_kind.py
  tests/unit/enums/test_enum_node_type_kind_mapping.py
  tests/unit/models/contracts/test_model_yaml_contract.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(tests): update tests to use EnumNodeType.*_GENERIC values [OMN-222]
  tests/unit/contracts/test_model_contract_base.py
  tests/unit/models/metadata/node_info/test_model_node_core.py
  tests/unit/utils/test_util_contract_loader_part2.py
  tests/unit/validation/test_contract_validator.py
  tests/unit/validation/test_contracts_extended.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-109): Address all PR review feedback for release readiness
  src/omnibase_core/models/cli/model_cli_execution_input_data.py
  src/omnibase_core/models/cli/model_cli_result.py
  src/omnibase_core/models/cli/model_trace_data.py
  src/omnibase_core/models/connections/model_cloud_service_properties.py
  src/omnibase_core/models/connections/model_connection_auth.py
  src/omnibase_core/models/connections/model_connection_metrics.py
  src/omnibase_core/models/examples/model_property_value.py
  src/omnibase_core/models/fsm/model_fsm_data_primary.py
  src/omnibase_core/models/infrastructure/model_metrics_data.py
  src/omnibase_core/models/infrastructure/model_time_based.py
  src/omnibase_core/models/infrastructure/progress/model_progress_metrics.py
  src/omnibase_core/models/infrastructure/progress/model_progress_milestones.py
  src/omnibase_core/models/metadata/model_node_info_container.py
  src/omnibase_core/models/metadata/model_structured_display_name.py
  src/omnibase_core/models/metadata/node_info/model_node_timestamps.py
  src/omnibase_core/models/node_metadata/model_function_relationships.py
  src/omnibase_core/models/node_metadata/model_node_core_info_summary.py
  src/omnibase_core/models/operations/model_message_payload.py
  src/omnibase_core/models/operations/model_operationparameters.py
  src/omnibase_core/types/typed_dict_execution_params.py
  src/omnibase_core/types/typed_dict_field_value.py
  tests/unit/models/infrastructure/progress/test_model_progress_metrics.py
  tests/unit/models/nodes/test_model_function_relationships.py
  tmp/pr-review-cache/pr_109_OmniNode-ai-omnibase_core_full.json
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(validation): exempt error classes from anti-pattern name checks [OMN-222]
  src/omnibase_core/validation/checker_naming_convention.py
  tests/unit/validation/test_patterns.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(enums): add backwards compatibility for legacy EnumNodeType values [OMN-222]
  src/omnibase_core/utils/util_contract_loader.py
  src/omnibase_core/validation/checker_naming_convention.py
  tests/unit/utils/test_util_contract_loader_part1.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

refactor(enums): remove backwards compatibility and make UNKNOWN fail fast [OMN-222]
  examples/contracts/orchestrator_data_pipeline.yaml
  examples/contracts/reducer_metrics_aggregator.yaml
  src/omnibase_core/enums/enum_node_type.py
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/utils/util_contract_loader.py
  tests/unit/enums/test_enum_node_kind.py
  tests/unit/enums/test_enum_node_type_kind_mapping.py
  tests/unit/utils/test_util_contract_loader_part1.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

refactor(enums): proper classmethods and helper functions for EnumNodeType [OMN-222]
  src/omnibase_core/enums/enum_node_type.py
  src/omnibase_core/models/contracts/model_yaml_contract.py
  tests/unit/enums/test_enum_node_type_kind_mapping.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(enums): address PR #108 review feedback and CI failure [OMN-222]
  src/omnibase_core/enums/enum_node_type.py
  src/omnibase_core/models/contracts/model_yaml_contract.py
  tests/unit/enums/test_enum_node_type_kind_mapping.py
  tests/unit/utils/test_util_contract_loader_part2.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

test(enums): add thread safety docs and comprehensive test coverage [OMN-222]
  src/omnibase_core/enums/enum_node_type.py
  tests/unit/enums/test_enum_node_type_kind_mapping.py
  tests/unit/models/contracts/test_model_yaml_contract.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(enums): address additional PR #108 review feedback [OMN-222]
  pyproject.toml
  src/omnibase_core/enums/enum_node_type.py
  src/omnibase_core/validation/checker_naming_convention.py
  tests/unit/enums/test_enum_node_type_kind_mapping.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: regenerate poetry.lock to sync with pyproject.toml
  poetry.lock
Due: none

style: apply Black formatting to test files
  tests/unit/enums/test_enum_node_type_kind_mapping.py
  tests/unit/models/contracts/test_model_yaml_contract.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(enums): address final PR #108 review feedback [OMN-222]
  src/omnibase_core/enums/enum_node_type.py
  src/omnibase_core/models/contracts/model_yaml_contract.py
  src/omnibase_core/utils/util_contract_loader.py
  tests/unit/enums/test_enum_node_type_kind_mapping.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat(enums): add EnumNodeKind with RUNTIME_HOST value [OMN-222] (#108)
  CLAUDE.md
  docs/architecture/CONTRACT_SYSTEM.md
  docs/guides/ENUM_NODE_KIND_MIGRATION.md
  docs/reference/api/enums.md
  examples/contracts/orchestrator_data_pipeline.yaml
  examples/contracts/reducer_metrics_aggregator.yaml
  poetry.lock
  pyproject.toml
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_node_kind.py
  src/omnibase_core/enums/enum_node_type.py
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/models/contracts/model_contract_compute.py
  src/omnibase_core/models/contracts/model_contract_effect.py
  src/omnibase_core/models/contracts/model_contract_orchestrator.py
  src/omnibase_core/models/contracts/model_contract_reducer.py
  src/omnibase_core/models/contracts/model_yaml_contract.py
  src/omnibase_core/models/operations/model_compute_operation_data.py
  src/omnibase_core/models/operations/model_effect_operation_data.py
  src/omnibase_core/models/operations/model_orchestrator_operation_data.py
  src/omnibase_core/models/operations/model_reducer_operation_data.py
  src/omnibase_core/utils/util_contract_loader.py
  src/omnibase_core/validation/checker_naming_convention.py
  tests/unit/contracts/test_model_contract_base.py
  tests/unit/enums/test_enum_node_kind.py
  tests/unit/enums/test_enum_node_type.py
  tests/unit/enums/test_enum_node_type_kind_mapping.py
  tests/unit/models/contracts/test_model_yaml_contract.py
  tests/unit/models/metadata/node_info/test_model_node_core.py
  tests/unit/utils/test_util_contract_loader_part1.py
  tests/unit/utils/test_util_contract_loader_part2.py
  tests/unit/validation/test_contract_validator.py
  tests/unit/validation/test_contracts_extended.py
  tests/unit/validation/test_patterns.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat(deps): remove omnibase-spi dependency for v0.3.6
  poetry.lock
  pyproject.toml
Due: none

feat(enums): extend EnumHandlerType with concrete handler types
  src/omnibase_core/enums/enum_handler_type.py
  tests/unit/enums/test_enum_handler_type.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix(tests): remove SPI-dependent protocol compliance tests
  tests/unit/validation/test_protocol_compliance.py
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs: remove broken link to deleted test file
  docs/architecture/VALIDATION_PROTOCOL_COMPLIANCE.md
Due: none

fix(bootstrap): remove runtime SPI import that caused ImportError
  docs/architecture/VALIDATION_PROTOCOL_COMPLIANCE.md
  src/omnibase_core/utils/util_bootstrap.py
  tests/unit/utils/test_util_bootstrap.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat(deps): remove omnibase-spi dependency for v0.3.6 (#110)
  docs/architecture/VALIDATION_PROTOCOL_COMPLIANCE.md
  poetry.lock
  pyproject.toml
  src/omnibase_core/enums/enum_handler_type.py
  src/omnibase_core/utils/util_bootstrap.py
  tests/unit/enums/test_enum_handler_type.py
  tests/unit/utils/test_util_bootstrap.py
  tests/unit/validation/test_protocol_compliance.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: accept lowercase node_type strings in contract validators
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/models/contracts/model_contract_compute.py
  src/omnibase_core/models/contracts/model_contract_effect.py
  src/omnibase_core/models/contracts/model_contract_orchestrator.py
  src/omnibase_core/models/contracts/model_contract_reducer.py
  src/omnibase_core/validation/contract_validator.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

feat(cleanup): enhance cleanup.py with tmp/ cleanup and git index removal
  .gitignore
  CLAUDE.md
  scripts/cleanup.py
  tmp/pr-review-cache/pr_109_OmniNode-ai-omnibase_core_full.json
Due: validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix: improve contract validator node_type handling and fix import sorting
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_core_error_code.py
  src/omnibase_core/errors/runtime_errors.py
  src/omnibase_core/models/contracts/model_contract_compute.py
  src/omnibase_core/models/contracts/model_contract_effect.py
  src/omnibase_core/models/contracts/model_contract_orchestrator.py
  src/omnibase_core/models/contracts/model_contract_reducer.py
  tests/unit/errors/test_runtime_errors.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

refactor: extract node_type validator mixin and improve code quality
  scripts/cleanup.py
  src/omnibase_core/errors/__init__.py
  src/omnibase_core/models/contracts/__init__.py
  src/omnibase_core/models/contracts/mixin_node_type_validator.py
  src/omnibase_core/models/contracts/model_contract_compute.py
  src/omnibase_core/models/contracts/model_contract_effect.py
  src/omnibase_core/models/contracts/model_contract_orchestrator.py
  src/omnibase_core/models/contracts/model_contract_reducer.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

fix: address PR #111 review feedback
  .gitignore
  scripts/cleanup.py
  src/omnibase_core/errors/__init__.py
  src/omnibase_core/errors/runtime_errors.py
  tests/unit/errors/test_runtime_errors.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

style: fix isort import formatting in errors/__init__.py
  src/omnibase_core/errors/__init__.py
Due: validate-naming-conventions, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, no-pydantic-bypass-in-prod, validate-exception-handling

Path conditions:
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$
  validate-union-usage: any of: ^src/.*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
