Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix: promote description to typed field on ModelTimeBased
  src/omnibase_core/models/infrastructure/model_time_based.py
  src/omnibase_core/models/infrastructure/model_timeout.py
  tests/unit/models/infrastructure/test_model_time_based.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(readme): restructure to 7-section format with zero-code example [OMN-5088] (#674)
  README.md
Due: none

docs: create AGENT.md for LLM navigation [OMN-5089]
  AGENT.md
  docs/standards/AGENT_MD_TEMPLATE.md
Due: none

feat(deps): bump omnibase-spi 0.16.1 -> 0.17.0, release 0.27.1 [OMN-5098] (#676)
  pyproject.toml
  uv.lock
Due: none

fix(ci): update docs-validation to use onex-validate-links and fix anchor generation [OMN-5084]
  .github/workflows/test.yml
  docs/architecture/MUTABLE_STATE_STRATEGY.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/ci/CI_MONITORING_GUIDE.md
  docs/conventions/FILE_HEADERS.md
  docs/guides/MIGRATING_TO_MIXIN_EVENT_BUS_V0_4.md
  docs/patterns/ANTI_PATTERNS.md
  src/omnibase_core/scripts/validate_markdown_links.py
  tests/unit/scripts/test_validate_markdown_links.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: create AGENT.md for LLM navigation [OMN-5089] (#677)
  AGENT.md
  docs/standards/AGENT_MD_TEMPLATE.md
Due: none

chore: add no-untyped-metadata pre-commit hook and type safety PR checklist [OMN-5063]
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-config.yaml
  scripts/check_no_untyped_metadata.py
  tests/scripts/__init__.py
  tests/scripts/test_check_no_untyped_metadata.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(config): align pyproject.toml with canonical standards [OMN-5080]
  pyproject.toml
Due: none

chore(config): align pyproject.toml with canonical standards [OMN-5080] (#679)
  pyproject.toml
Due: none

chore: add centralized no-untyped-metadata hook from onex_change_control [OMN-5135]
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: validate-string-versions

fix: annotate remaining metadata dict fields with ONEX_EXCLUDE and harden hook [OMN-5059]
  scripts/check_no_untyped_metadata.py
  src/omnibase_core/models/agent/model_agent_status_event.py
  src/omnibase_core/models/capabilities/model_contract_capabilities.py
  src/omnibase_core/models/contracts/model_handler_contract.py
  src/omnibase_core/models/core/model_action_base.py
  src/omnibase_core/models/infrastructure/model_timeout.py
  src/omnibase_core/models/mcp/model_mcp_invocation_request.py
  src/omnibase_core/models/mcp/model_mcp_invocation_response.py
  src/omnibase_core/models/mcp/model_mcp_tool_descriptor.py
  src/omnibase_core/models/pipeline/model_pipeline_execution_plan.py
  src/omnibase_core/models/reducer/payloads/model_payload_fsm_completed.py
  src/omnibase_core/models/reducer/payloads/model_payload_persist_result.py
  src/omnibase_core/types/typed_dict_event_envelope.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(ci): add dependency-cascade to release workflow [OMN-5109]
  .github/workflows/dependency-cascade.yml
  .github/workflows/release.yml
Due: validate-string-versions

chore: add centralized no-untyped-metadata hook from onex_change_control [OMN-5135] (#680)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: validate-string-versions

feat(ci): add dependency-cascade to release workflow [OMN-5109] (#681)
  .github/workflows/dependency-cascade.yml
  .github/workflows/release.yml
Due: validate-string-versions

fix(lint): add validate_markdown_links.py to T201 per-file-ignores [OMN-5084]
  pyproject.toml
Due: none

feat(ci): add reusable docs validation workflow and setup guide [OMN-5087] (#675)
  .github/workflows/validate-docs.yml
  docs/standards/CI_VALIDATION_SETUP.md
Due: validate-string-versions

feat(scripts): consolidate markdown link validator into core [OMN-5084] (#673)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  docs/architecture/MUTABLE_STATE_STRATEGY.md
  docs/architecture/NODE_CLASS_HIERARCHY.md
  docs/ci/CI_MONITORING_GUIDE.md
  docs/conventions/FILE_HEADERS.md
  docs/guides/MIGRATING_TO_MIXIN_EVENT_BUS_V0_4.md
  docs/patterns/ANTI_PATTERNS.md
  pyproject.toml
  scripts/validation/validate-doc-links.py
  scripts/validation/validate_markdown_links.py
  src/omnibase_core/scripts/__init__.py
  src/omnibase_core/scripts/validate_markdown_links.py
  tests/unit/scripts/test_validate_markdown_links.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

release: omnibase_core v0.28.0
  pyproject.toml
  uv.lock
Due: none

release: omnibase_core v0.28.0 (#682)
  pyproject.toml
  uv.lock
Due: none

fix(ci): checkout onex_change_control for version pin compliance [OMN-5132]
  .github/workflows/test.yml
Due: validate-string-versions

fix(ci): checkout onex_change_control for version pin compliance [OMN-5132] (#683)
  .github/workflows/test.yml
Due: validate-string-versions

feat: add ModelContextIntegritySubcontract for WISC enforcement [OMN-5231]
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_retrieval_source_type.py
  src/omnibase_core/models/contracts/model_handler_contract.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_context_integrity_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_retrieval_source.py
  src/omnibase_core/models/contracts/subcontracts/model_return_schema.py
  tests/unit/models/contracts/subcontracts/test_model_context_integrity_subcontract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat: add EnumAuditEnforcementLevel for context integrity [OMN-5232]
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/audit/__init__.py
  src/omnibase_core/enums/audit/enum_audit_enforcement_level.py
  tests/unit/enums/test_enum_audit_enforcement_level.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat: add ModelContextIntegritySubcontract for WISC enforcement [OMN-5231] (#684)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_retrieval_source_type.py
  src/omnibase_core/models/contracts/model_handler_contract.py
  src/omnibase_core/models/contracts/subcontracts/__init__.py
  src/omnibase_core/models/contracts/subcontracts/model_context_integrity_subcontract.py
  src/omnibase_core/models/contracts/subcontracts/model_retrieval_source.py
  src/omnibase_core/models/contracts/subcontracts/model_return_schema.py
  tests/unit/models/contracts/subcontracts/test_model_context_integrity_subcontract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat: add EnumAuditEnforcementLevel for context integrity [OMN-5232] (#685)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/audit/__init__.py
  src/omnibase_core/enums/audit/enum_audit_enforcement_level.py
  tests/unit/enums/test_enum_audit_enforcement_level.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: remove divergent injection topic constants, fix baseline suffix tests [OMN-5250]
  src/omnibase_core/constants/__init__.py
  src/omnibase_core/constants/constants_topic_taxonomy.py
  src/omnibase_core/models/events/model_agent_match_payload.py
  src/omnibase_core/models/events/model_context_utilization_payload.py
  src/omnibase_core/models/events/model_latency_breakdown_payload.py
  tests/unit/constants/test_constants_topic_taxonomy.py
  tests/unit/models/events/test_model_injection_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat: add ModelTaskDispatch and ModelTaskTree for audit tracking [OMN-5233]
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/audit/__init__.py
  src/omnibase_core/models/audit/model_task_dispatch.py
  src/omnibase_core/models/audit/model_task_tree.py
  tests/unit/models/audit/__init__.py
  tests/unit/models/audit/test_model_task_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: add from_attributes=True and use specific ValidationError in tests [OMN-5233]
  src/omnibase_core/models/audit/model_task_dispatch.py
  src/omnibase_core/models/audit/model_task_tree.py
  tests/unit/models/audit/test_model_task_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: make ModelTopicNaming.environment required, deprecate compose_full_topic [OMN-5216]
  src/omnibase_core/models/events/model_topic_naming.py
  src/omnibase_core/validation/validator_topic_suffix.py
  tests/unit/models/events/test_model_topic_naming.py
  tests/unit/validation/test_validator_topic_suffix.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: correct Kafka and Redis port defaults to external Docker ports [OMN-5217]
  src/omnibase_core/backends/cache/__init__.py
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/mixins/mixin_caching.py
  src/omnibase_core/models/configuration/model_event_bus_config.py
  src/omnibase_core/models/services/model_node_service_config.py
  tests/unit/models/configuration/test_model_event_bus_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: remove INMEMORY default from event_bus_type fields [OMN-5218]
  src/omnibase_core/models/events/model_runtime_ready_event.py
  src/omnibase_core/models/events/model_subscription_created_event.py
  tests/unit/models/events/payloads/test_model_event_payload_union.py
  tests/unit/utils/test_util_payload_migration.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(core): add ModelStepVerification and ModelOnboardingPolicy [OMN-5262][OMN-5264]
  src/omnibase_core/models/orchestrator/__init__.py
  src/omnibase_core/models/orchestrator/model_onboarding_policy.py
  src/omnibase_core/models/orchestrator/model_step_verification.py
  tests/unit/models/orchestrator/test_model_onboarding_policy.py
  tests/unit/models/orchestrator/test_model_step_verification.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: remove divergent injection topic constants, fix baseline suffix tests [OMN-5250] (#687)
  src/omnibase_core/constants/__init__.py
  src/omnibase_core/constants/constants_topic_taxonomy.py
  src/omnibase_core/models/events/model_agent_match_payload.py
  src/omnibase_core/models/events/model_context_utilization_payload.py
  src/omnibase_core/models/events/model_latency_breakdown_payload.py
  tests/unit/constants/test_constants_topic_taxonomy.py
  tests/unit/models/events/test_model_injection_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat: add ModelTaskDispatch and ModelTaskTree for audit tracking [OMN-5233] (#686)
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/audit/__init__.py
  src/omnibase_core/models/audit/model_task_dispatch.py
  src/omnibase_core/models/audit/model_task_tree.py
  tests/unit/models/audit/__init__.py
  tests/unit/models/audit/test_model_task_dispatch.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: remove INMEMORY default from event_bus_type fields [OMN-5218] (#688)
  src/omnibase_core/models/events/model_runtime_ready_event.py
  src/omnibase_core/models/events/model_subscription_created_event.py
  tests/unit/models/events/payloads/test_model_event_payload_union.py
  tests/unit/utils/test_util_payload_migration.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: make ModelTopicNaming.environment required, deprecate compose_full_topic [OMN-5216] (#690)
  src/omnibase_core/models/events/model_topic_naming.py
  src/omnibase_core/validation/validator_topic_suffix.py
  tests/unit/models/events/test_model_topic_naming.py
  tests/unit/validation/test_validator_topic_suffix.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: correct Kafka and Redis port defaults to external Docker ports [OMN-5217] (#689)
  src/omnibase_core/backends/cache/__init__.py
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/mixins/mixin_caching.py
  src/omnibase_core/models/configuration/model_event_bus_config.py
  src/omnibase_core/models/services/model_node_service_config.py
  tests/unit/models/configuration/test_model_event_bus_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
