Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

chore: add no-env-file pre-commit hook
  .pre-commit-config.yaml
  scripts/check_no_env_files.sh
Due: validate-string-versions

feat(validation): add cross-repo topic name CI validator [OMN-3740]
  pyproject.toml
  src/omnibase_core/validation/scripts/__init__.py
  src/omnibase_core/validation/scripts/model_topic_extraction.py
  src/omnibase_core/validation/scripts/model_validation_report.py
  src/omnibase_core/validation/scripts/validate_topic_names.py
  tests/unit/validation/test_validate_topic_names.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore: add no-env-file pre-commit hook (#603)
  .pre-commit-config.yaml
  scripts/check_no_env_files.sh
Due: validate-string-versions

feat(validation): add cross-repo topic name CI validator [OMN-3740] (#604)
  pyproject.toml
  src/omnibase_core/validation/scripts/__init__.py
  src/omnibase_core/validation/scripts/model_topic_extraction.py
  src/omnibase_core/validation/scripts/model_validation_report.py
  src/omnibase_core/validation/scripts/validate_topic_names.py
  tests/unit/validation/test_validate_topic_names.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(hooks): add no-planning-docs pre-commit hook [OMN-3616]
  .pre-commit-config.yaml
Due: validate-string-versions

chore(hooks): add no-planning-docs pre-commit hook [OMN-3616] (#594)
  .pre-commit-config.yaml
Due: validate-string-versions

fix(ci): pin actions/checkout@v4 and actions/setup-python@v5 (OMN-3809)
  .github/workflows/auto-tag-reusable.yml
  .github/workflows/check-check-names.yml
  .github/workflows/check-db-ownership.yml
  .github/workflows/check-handshake.yml
  .github/workflows/cross-repo-validation.yml
  .github/workflows/handshake-policy-gate.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: validate-string-versions

fix(ci): pin actions/checkout@v4 and actions/setup-python@v5 (OMN-3809) (#605)
  .github/workflows/auto-tag-reusable.yml
  .github/workflows/check-check-names.yml
  .github/workflows/check-db-ownership.yml
  .github/workflows/check-handshake.yml
  .github/workflows/cross-repo-validation.yml
  .github/workflows/handshake-policy-gate.yml
  .github/workflows/omni-standards-compliance.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: validate-string-versions

feat(contracts): add handler_class field to ModelHandlerContract (OMN-1420)
  src/omnibase_core/models/contracts/model_handler_contract.py
  src/omnibase_core/schemas/handler_contract.schema.json
  tests/unit/models/contracts/test_model_handler_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(contracts): add handler_class field to ModelHandlerContract (OMN-1420) (#607)
  src/omnibase_core/models/contracts/model_handler_contract.py
  src/omnibase_core/schemas/handler_contract.schema.json
  tests/unit/models/contracts/test_model_handler_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: sync __version__ attribute with pyproject.toml (0.24.0)
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: sync __version__ attribute with pyproject.toml (0.24.0) (#608)
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

OMN-1115: complete mixin inventory, classification, and migration artifacts
  docs/architecture/MIXIN_INVENTORY.md
  docs/architecture/MIXIN_TO_CAPABILITY_MIGRATION.md
  scripts/mixin_dependency_graph.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_nondeterminism_class.py
  src/omnibase_core/mixins/mixin_capability_mapping.yaml
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/models/core/model_mixin_mapping.py
  tests/unit/enums/test_enum_nondeterminism_class.py
  tests/unit/models/core/test_model_mixin_mapping.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

OMN-3831: replace hardcoded __version__ with importlib.metadata
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

OMN-3832: extend validate-string-versions to block hardcoded __version__ in __init__.py
  scripts/validation/validate-string-versions.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility

OMN-3832: export validate-string-versions as shared pre-commit hook
  .pre-commit-hooks.yaml
Due: validate-string-versions

OMN-1996: decompose validator_workflow.py into sub-modules
  src/omnibase_core/validation/validator_workflow.py
  src/omnibase_core/validation/validator_workflow_graph.py
  src/omnibase_core/validation/validator_workflow_step.py
  tests/unit/validation/test_workflow_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: remove boilerplate docstring flagged by AI-slop check
  src/omnibase_core/validation/validator_workflow_graph.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: apply ruff format to test_model_mixin_mapping.py
  tests/unit/models/core/test_model_mixin_mapping.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

OMN-1996: decompose validator_workflow.py into sub-modules (#611)
  src/omnibase_core/validation/validator_workflow.py
  src/omnibase_core/validation/validator_workflow_graph.py
  src/omnibase_core/validation/validator_workflow_step.py
  tests/unit/validation/test_workflow_validator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(hooks): add typed payload model for UserPromptSubmit events (OMN-1491)
  src/omnibase_core/models/hooks/__init__.py
  src/omnibase_core/models/hooks/claude_code/__init__.py
  src/omnibase_core/models/hooks/claude_code/model_user_prompt_submit_payload.py
  src/omnibase_core/utils/util_parse_hook_payload.py
  tests/unit/models/hooks/claude_code/test_model_user_prompt_submit_payload.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

OMN-3832: extend validate-string-versions to guard __init__.py (#613)
  .pre-commit-hooks.yaml
  scripts/validation/validate-string-versions.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility

OMN-3831: replace hardcoded __version__ with importlib.metadata (#612)
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(hooks): add typed payload model for UserPromptSubmit events (OMN-1491) (#609)
  src/omnibase_core/models/hooks/__init__.py
  src/omnibase_core/models/hooks/claude_code/__init__.py
  src/omnibase_core/models/hooks/claude_code/model_user_prompt_submit_payload.py
  src/omnibase_core/utils/util_parse_hook_payload.py
  tests/unit/models/hooks/claude_code/test_model_user_prompt_submit_payload.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address PR review and CI failures for OMN-1115 mixin inventory
  docs/architecture/MIXIN_INVENTORY.md
  docs/architecture/MIXIN_TO_CAPABILITY_MIGRATION.md
  scripts/mixin_dependency_graph.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/models/core/model_mixin_mapping.py
  tests/unit/models/core/test_model_mixin_mapping.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(enums): add EnumSkillResultStatus with 9 canonical categories (OMN-3866)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_skill_result_status.py
  tests/unit/enums/test_enum_skill_result_status.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat: add ModelEpicState for epic-team state file contract (OMN-3871)
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/epic/__init__.py
  src/omnibase_core/models/epic/model_epic_state.py
  tests/unit/models/epic/__init__.py
  tests/unit/models/epic/test_model_epic_state.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: align ModelEpicState with production state file format (OMN-3871)
  src/omnibase_core/models/epic/model_epic_state.py
  tests/unit/models/epic/test_model_epic_state.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: replace rst table with list format in EnumSkillResultStatus docstring
  src/omnibase_core/enums/enum_skill_result_status.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

OMN-1115: Mixin inventory, classification, and migration artifacts (#610)
  docs/architecture/MIXIN_INVENTORY.md
  docs/architecture/MIXIN_TO_CAPABILITY_MIGRATION.md
  scripts/mixin_dependency_graph.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_nondeterminism_class.py
  src/omnibase_core/mixins/mixin_capability_mapping.yaml
  src/omnibase_core/mixins/mixin_metadata.yaml
  src/omnibase_core/models/core/model_mixin_mapping.py
  tests/unit/enums/test_enum_nondeterminism_class.py
  tests/unit/models/core/test_model_mixin_mapping.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat: add ModelEpicState for epic-team state file contract (OMN-3871) (#615)
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/epic/__init__.py
  src/omnibase_core/models/epic/model_epic_state.py
  tests/unit/models/epic/__init__.py
  tests/unit/models/epic/test_model_epic_state.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(enums): add EnumSkillResultStatus (OMN-3866) (#614)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_skill_result_status.py
  tests/unit/enums/test_enum_skill_result_status.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add EnumPlanStructureType and ModelPlanEntry for plan parsing contracts (OMN-3868)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_plan_structure_type.py
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/plan/__init__.py
  src/omnibase_core/models/plan/model_plan_entry.py
  tests/unit/models/plan/__init__.py
  tests/unit/models/plan/test_model_plan_entry.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat: add ModelSkillResult base contract for skill result files
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/skill/__init__.py
  src/omnibase_core/models/skill/model_skill_result.py
  tests/unit/models/skill/__init__.py
  tests/unit/models/skill/test_model_skill_result.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add EnumPipelinePhase and ModelPipelineState for ticket-pipeline state (OMN-3870)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_pipeline_phase.py
  src/omnibase_core/models/pipeline/__init__.py
  src/omnibase_core/models/pipeline/model_phase_record.py
  src/omnibase_core/models/pipeline/model_pipeline_state.py
  tests/unit/models/pipeline/__init__.py
  tests/unit/models/pipeline/test_model_pipeline_state.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat: add ModelSkillResult base contract for skill result files (#617)
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/skill/__init__.py
  src/omnibase_core/models/skill/model_skill_result.py
  tests/unit/models/skill/__init__.py
  tests/unit/models/skill/test_model_skill_result.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
