Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(replay): address PR #331 review feedback
  src/omnibase_core/models/replay/model_config_override.py
  src/omnibase_core/models/replay/model_config_override_field_preview.py
  src/omnibase_core/models/replay/model_config_override_preview.py
  src/omnibase_core/models/replay/model_config_override_result.py
  src/omnibase_core/models/replay/model_config_override_set.py
  src/omnibase_core/services/replay/service_config_override_injector.py
  tests/unit/services/replay/test_service_config_override_injector.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(invariant): use InvariantConfigUnion for config_snapshot type safety (OMN-1207)
  src/omnibase_core/models/invariant/model_invariant_violation_detail.py
  tests/unit/models/invariant/test_model_invariant_violation_detail.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(evidence): address PR #328 final review feedback (OMN-1195)
  src/omnibase_core/models/evidence/model_cost_statistics.py
  src/omnibase_core/models/evidence/model_evidence_summary.py
  tests/unit/models/evidence/test_model_evidence_summary.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(comparison): add ModelExecutionComparison for baseline vs replay (OMN-1194) (#327)
  poetry.lock
  pyproject.toml
  src/omnibase_core/models/__init__.py
  src/omnibase_core/models/comparison/__init__.py
  src/omnibase_core/models/comparison/model_execution_comparison.py
  src/omnibase_core/models/comparison/model_invariant_comparison_summary.py
  src/omnibase_core/models/comparison/model_output_diff.py
  src/omnibase_core/models/comparison/model_value_change.py
  tests/unit/models/comparison/__init__.py
  tests/unit/models/comparison/conftest.py
  tests/unit/models/comparison/test_model_execution_comparison.py
  tests/unit/models/comparison/test_model_invariant_comparison_summary.py
  tests/unit/models/comparison/test_model_output_diff.py
  tests/unit/models/comparison/test_model_value_change.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(invariant): add ModelInvariantViolationDetail for debugging failures (OMN-1207) (#343)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_comparison_type.py
  src/omnibase_core/models/invariant/__init__.py
  src/omnibase_core/models/invariant/model_invariant_violation_detail.py
  tests/unit/models/invariant/test_model_invariant_violation_detail.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(replay): add configuration override injection for A/B testing (OMN-1205) (#331)
  scripts/validation/validate_naming.py
  src/omnibase_core/enums/replay/__init__.py
  src/omnibase_core/enums/replay/enum_override_injection_point.py
  src/omnibase_core/models/replay/__init__.py
  src/omnibase_core/models/replay/model_config_override.py
  src/omnibase_core/models/replay/model_config_override_field_preview.py
  src/omnibase_core/models/replay/model_config_override_preview.py
  src/omnibase_core/models/replay/model_config_override_result.py
  src/omnibase_core/models/replay/model_config_override_set.py
  src/omnibase_core/models/replay/model_config_override_validation.py
  src/omnibase_core/models/replay/model_replay_input.py
  src/omnibase_core/pipeline/__init__.py
  src/omnibase_core/pipeline/replay/__init__.py
  src/omnibase_core/pipeline/replay/executor_replay.py
  src/omnibase_core/pipeline/replay/session_replay.py
  src/omnibase_core/protocols/replay/protocol_effect_recorder.py
  src/omnibase_core/protocols/replay/protocol_rng_service.py
  src/omnibase_core/protocols/replay/protocol_time_service.py
  src/omnibase_core/services/replay/__init__.py
  src/omnibase_core/services/replay/injector_rng.py
  src/omnibase_core/services/replay/injector_time.py
  src/omnibase_core/services/replay/recorder_effect.py
  src/omnibase_core/services/replay/sentinel_missing.py
  src/omnibase_core/services/replay/service_config_override_injector.py
  tests/unit/models/replay/test_model_config_overrides.py
  tests/unit/models/replay/test_model_replay_input.py
  tests/unit/pipeline/replay/test_injector_rng.py
  tests/unit/pipeline/replay/test_injector_time.py
  tests/unit/pipeline/replay/test_recorder_effect.py
  tests/unit/services/replay/__init__.py
  tests/unit/services/replay/test_service_config_override_injector.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(evidence): add ModelEvidenceSummary for corpus replay aggregation (OMN-1195) (#328)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_violation_severity.py
  src/omnibase_core/models/configuration/model_circuit_breaker.py
  src/omnibase_core/models/evidence/__init__.py
  src/omnibase_core/models/evidence/model_cost_statistics.py
  src/omnibase_core/models/evidence/model_evidence_summary.py
  src/omnibase_core/models/evidence/model_invariant_violation_breakdown.py
  src/omnibase_core/models/evidence/model_latency_statistics.py
  tests/unit/models/evidence/__init__.py
  tests/unit/models/evidence/test_model_cost_statistics.py
  tests/unit/models/evidence/test_model_evidence_summary.py
  tests/unit/models/evidence/test_model_invariant_violation_breakdown.py
  tests/unit/models/evidence/test_model_latency_statistics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release): bump version to 0.6.0
  CHANGELOG.md
  CLAUDE.md
  pyproject.toml
Due: none

chore(release): bump version to 0.6.0 (#344)
  CHANGELOG.md
  CLAUDE.md
  pyproject.toml
Due: none

feat(handlers): add ModelHandlerPackaging for secure handler distribution (OMN-1119)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_hash_algorithm.py
  src/omnibase_core/enums/enum_signature_algorithm.py
  src/omnibase_core/models/handlers/__init__.py
  src/omnibase_core/models/handlers/model_handler_packaging.py
  src/omnibase_core/models/handlers/model_sandbox_requirements.py
  tests/unit/models/handlers/test_model_handler_packaging.py
  tests/unit/models/handlers/test_model_sandbox_requirements.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(projectors): add ModelProjectionResult for projection operations (OMN-1233)
  src/omnibase_core/models/projectors/__init__.py
  src/omnibase_core/models/projectors/model_projection_result.py
  tests/unit/models/projectors/test_model_projection_result.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(protocols): add handler contract protocols from SPI [OMN-1164]
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/handler/__init__.py
  src/omnibase_core/protocols/handler/contracts/__init__.py
  src/omnibase_core/protocols/handler/contracts/protocol_capability_dependency.py
  src/omnibase_core/protocols/handler/contracts/protocol_execution_constrainable.py
  src/omnibase_core/protocols/handler/contracts/protocol_execution_constraints.py
  src/omnibase_core/protocols/handler/contracts/protocol_handler_behavior_descriptor.py
  src/omnibase_core/protocols/handler/contracts/protocol_handler_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(handlers): address PR #346 review feedback (OMN-1119)
  src/omnibase_core/enums/enum_hash_algorithm.py
  tests/unit/models/handlers/test_model_sandbox_requirements.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(projectors): add validation for rows_affected and semantic field checks (OMN-1233)
  src/omnibase_core/models/projectors/model_projection_result.py
  tests/unit/models/projectors/test_model_projection_result.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(protocols): address PR review feedback for handler contracts [OMN-1164]
  src/omnibase_core/protocols/handler/contracts/protocol_execution_constraints.py
  src/omnibase_core/protocols/handler/contracts/protocol_handler_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(projectors): add ModelProjectionResult for projection operations (OMN-1233) (#345)
  src/omnibase_core/models/projectors/__init__.py
  src/omnibase_core/models/projectors/model_projection_result.py
  tests/unit/models/projectors/test_model_projection_result.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(handlers): add integration tests for artifact verification workflow (OMN-1119)
  tests/integration/handlers/__init__.py
  tests/integration/handlers/test_handler_packaging_verification.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

docs(protocols): address PR review feedback for handler contracts
  src/omnibase_core/protocols/handler/contracts/protocol_execution_constrainable.py
  src/omnibase_core/protocols/handler/contracts/protocol_handler_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(handlers): address PR #346 review feedback - code quality improvements (OMN-1119)
  src/omnibase_core/models/handlers/model_handler_packaging.py
  tests/integration/handlers/test_handler_packaging_verification.py
  tests/unit/models/handlers/test_model_handler_packaging.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

test(enums): add unit tests for EnumHashAlgorithm and EnumSignatureAlgorithm (OMN-1119)
  tests/unit/enums/test_enum_hash_algorithm.py
  tests/unit/enums/test_enum_signature_algorithm.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(protocols): address PR review feedback for handler contracts [OMN-1164]
  src/omnibase_core/protocols/handler/contracts/protocol_execution_constraints.py
  tests/unit/protocols/handler/__init__.py
  tests/unit/protocols/handler/contracts/__init__.py
  tests/unit/protocols/handler/contracts/test_protocol_handler_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(protocols): add handler contract protocols from SPI [OMN-1164] (#347)
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/handler/__init__.py
  src/omnibase_core/protocols/handler/contracts/__init__.py
  src/omnibase_core/protocols/handler/contracts/protocol_capability_dependency.py
  src/omnibase_core/protocols/handler/contracts/protocol_execution_constrainable.py
  src/omnibase_core/protocols/handler/contracts/protocol_execution_constraints.py
  src/omnibase_core/protocols/handler/contracts/protocol_handler_behavior_descriptor.py
  src/omnibase_core/protocols/handler/contracts/protocol_handler_contract.py
  tests/unit/protocols/handler/__init__.py
  tests/unit/protocols/handler/contracts/__init__.py
  tests/unit/protocols/handler/contracts/test_protocol_handler_contracts.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(rendering): add diff rendering and storage hooks for explainability output (OMN-1149)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_contract.py
  src/omnibase_core/models/diff/__init__.py
  src/omnibase_core/models/diff/model_diff_query.py
  src/omnibase_core/models/diff/model_diff_storage_configuration.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/storage/__init__.py
  src/omnibase_core/protocols/storage/protocol_diff_store.py
  src/omnibase_core/rendering/__init__.py
  src/omnibase_core/rendering/renderer_diff.py
  src/omnibase_core/services/diff/__init__.py
  src/omnibase_core/services/diff/service_diff_history.py
  src/omnibase_core/services/diff/store_diff_file.py
  src/omnibase_core/services/diff/store_diff_in_memory.py
  tests/unit/cli/test_cli_contract.py
  tests/unit/models/diff/__init__.py
  tests/unit/models/diff/test_model_diff_query.py
  tests/unit/rendering/__init__.py
  tests/unit/rendering/test_renderer_diff.py
  tests/unit/services/diff/__init__.py
  tests/unit/services/diff/conftest.py
  tests/unit/services/diff/test_service_diff_history.py
  tests/unit/services/diff/test_store_diff_file.py
  tests/unit/services/diff/test_store_diff_in_memory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): add Contract CLI Tooling (OMN-1129)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/cli/__init__.py
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_contract.py
  src/omnibase_core/cli/cli_contract_diff.py
  src/omnibase_core/models/cli/__init__.py
  src/omnibase_core/models/cli/model_diff_entry.py
  src/omnibase_core/models/cli/model_diff_result.py
  tests/unit/cli/test_cli_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(handlers): address final PR #346 review feedback - release ready (OMN-1119)
  src/omnibase_core/enums/enum_signature_algorithm.py
  src/omnibase_core/models/handlers/model_handler_packaging.py
  tests/integration/handlers/test_handler_packaging_verification.py
  tests/unit/enums/test_enum_hash_algorithm.py
  tests/unit/models/handlers/test_model_handler_packaging.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: add cli_contract_diff.py to YAML validation allowlist
  .yaml-validation-allowlist.yaml
Due: validate-string-versions

fix(diff): address PR review feedback for security, validation, and documentation
  src/omnibase_core/cli/cli_contract.py
  src/omnibase_core/contracts/diff_computer.py
  src/omnibase_core/models/diff/model_diff_query.py
  src/omnibase_core/rendering/renderer_diff.py
  src/omnibase_core/services/diff/store_diff_in_memory.py
  tests/unit/models/diff/test_model_diff_query.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(handlers): address remaining PR #346 nitpicks - complete release prep (OMN-1119)
  src/omnibase_core/enums/enum_signature_algorithm.py
  src/omnibase_core/models/handlers/model_handler_packaging.py
  tests/unit/models/handlers/test_model_handler_packaging.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(rendering): add diff rendering and storage hooks for explainability output (OMN-1149) (#348)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_contract.py
  src/omnibase_core/contracts/diff_computer.py
  src/omnibase_core/models/diff/__init__.py
  src/omnibase_core/models/diff/model_diff_query.py
  src/omnibase_core/models/diff/model_diff_storage_configuration.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/storage/__init__.py
  src/omnibase_core/protocols/storage/protocol_diff_store.py
  src/omnibase_core/rendering/__init__.py
  src/omnibase_core/rendering/renderer_diff.py
  src/omnibase_core/services/diff/__init__.py
  src/omnibase_core/services/diff/service_diff_history.py
  src/omnibase_core/services/diff/store_diff_file.py
  src/omnibase_core/services/diff/store_diff_in_memory.py
  tests/unit/cli/test_cli_contract.py
  tests/unit/models/diff/__init__.py
  tests/unit/models/diff/test_model_diff_query.py
  tests/unit/rendering/__init__.py
  tests/unit/rendering/test_renderer_diff.py
  tests/unit/services/diff/__init__.py
  tests/unit/services/diff/conftest.py
  tests/unit/services/diff/test_service_diff_history.py
  tests/unit/services/diff/test_store_diff_file.py
  tests/unit/services/diff/test_store_diff_in_memory.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(cli): address PR #349 review feedback for contract CLI
  .yaml-validation-allowlist.yaml
  src/omnibase_core/cli/cli_contract.py
  src/omnibase_core/cli/cli_contract_diff.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(handlers): clarify IP literal and file scheme handling in packaging models (OMN-1119)
  src/omnibase_core/models/handlers/model_handler_packaging.py
  src/omnibase_core/models/handlers/model_sandbox_requirements.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(handlers): derive _ALLOWED_SCHEMES from _SCHEME_REQUIREMENTS (OMN-1119)
  src/omnibase_core/models/handlers/model_handler_packaging.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(cli): address all PR #349 review issues for contract CLI
  src/omnibase_core/cli/cli_contract.py
  src/omnibase_core/cli/cli_contract_diff.py
  src/omnibase_core/models/cli/model_diff_entry.py
  src/omnibase_core/models/cli/model_diff_result.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(handlers): add ModelHandlerPackaging for secure handler distribution (OMN-1119) (#346)
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_hash_algorithm.py
  src/omnibase_core/enums/enum_signature_algorithm.py
  src/omnibase_core/models/handlers/__init__.py
  src/omnibase_core/models/handlers/model_handler_packaging.py
  src/omnibase_core/models/handlers/model_sandbox_requirements.py
  tests/integration/handlers/__init__.py
  tests/integration/handlers/test_handler_packaging_verification.py
  tests/unit/enums/test_enum_hash_algorithm.py
  tests/unit/enums/test_enum_signature_algorithm.py
  tests/unit/models/handlers/test_model_handler_packaging.py
  tests/unit/models/handlers/test_model_sandbox_requirements.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(cli): address all PR #349 review issues comprehensively
  src/omnibase_core/cli/cli_contract.py
  src/omnibase_core/cli/cli_contract_diff.py
  tests/integration/cli/__init__.py
  tests/integration/cli/test_cli_contract_integration.py
  tests/unit/cli/test_cli_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): add Contract CLI Tooling (OMN-1129) (#349)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/cli/__init__.py
  src/omnibase_core/cli/cli_contract.py
  src/omnibase_core/cli/cli_contract_diff.py
  src/omnibase_core/models/cli/__init__.py
  src/omnibase_core/models/cli/model_diff_entry.py
  src/omnibase_core/models/cli/model_diff_result.py
  tests/integration/cli/__init__.py
  tests/integration/cli/test_cli_contract_integration.py
  tests/unit/cli/test_cli_contract.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release): bump version to 0.6.1
  pyproject.toml
Due: none

chore(release): bump version to 0.6.1 (#350)
  pyproject.toml
Due: none

feat(enums): add omnimemory enums for memory snapshot classification (OMN-1235, OMN-1236, OMN-1237)
  src/omnibase_core/enums/enum_decision_type.py
  src/omnibase_core/enums/enum_failure_type.py
  src/omnibase_core/enums/enum_subject_type.py
  tests/unit/enums/test_enum_decision_type.py
  tests/unit/enums/test_enum_failure_type.py
  tests/unit/enums/test_enum_subject_type.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(release): fix version mismatch and bump to 0.6.2
  CHANGELOG.md
  pyproject.toml
  src/omnibase_core/__init__.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
