Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(OMN-18899): re-assert the pre-commit suite on every pull request (#1727)
  .github/precommit-suite-skip.yaml
  .github/workflows/ci.yml
  tests/ci/test_precommit_suite_job_omn18899.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18920): put the test under tests/unit so the always-run set is unchanged
  tests/unit/models/dispatch/test_omn18920_message_delivery_context.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-18920): a frozen delivery-context model for the dispatch protocol to reference (#1728)
  pyproject.toml
  src/omnibase_core/models/dispatch/__init__.py
  src/omnibase_core/models/dispatch/model_message_delivery_context.py
  tests/unit/models/dispatch/test_omn18920_message_delivery_context.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-18853): changelog entry without ticket references so the doc-content gate passes
  CHANGELOG.md
Due: none

fix(OMN-18996): satisfy source delivery push checks
  pyrightconfig.json
  src/omnibase_core/cli/substrate_gates/loose_typing_in_internal.py
  src/omnibase_core/mixins/mixin_node_type_validator.py
  src/omnibase_core/models/cli/model_cli_result_metadata.py
  src/omnibase_core/models/validation/model_demo_path_contract.py
  src/omnibase_core/runtime/mixin_node_dispatch.py
  src/omnibase_core/validation/demo_path_topic_registry.py
  src/omnibase_core/validation/validator_demo_path_topic_coherence.py
  src/omnibase_core/validators/pydantic_extra_forbid.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18996): keep parity gates standalone and typed
  .github/workflows/precommit-parity-gate.yml
  .pre-commit-config.yaml
  scripts/validation/validate_precommit_fail_loud.py
  scripts/validation/validate_precommit_pin_parity.py
  src/omnibase_core/runtime/golden_chain/recorder.py
  tests/unit/runtime/golden_chain/test_recorded_replay_transport.py
  tests/unit/scripts/test_precommit_parity_standalone.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18996): align validation gate contracts
  src/omnibase_core/validation/antipattern_registry_loader.py
  tests/unit/api_snapshots/test_signatures_snapshot.py
  tests/unit/scripts/ci/test_check_import_ratchet.py
  tests/unit/validation/test_antipattern_registry_loader.py
  tests/unit/validation/test_antipattern_registry_loader_omn11912.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(OMN-16359): renew call-occ-companion-effect.yml workflow-budget waiver 7 days
  architecture-handshakes/pull-request-workflow-budget.yaml
Due: validate-string-versions

fix(OMN-16359): repoint the CI Summary classification key omnibase_core#1730 broke
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-19041): scope CI contexts by event
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore: repoint CODEOWNERS at teams that exist
  .github/CODEOWNERS
Due: none

docs(OMN-16359): renew call-occ-companion-effect.yml workflow-budget waiver 7 days (#1731)
  .github/workflows/call-occ-companion-effect.yml
  architecture-handshakes/pull-request-workflow-budget.yaml
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-19041): cover event-aware summary CLI callers
  tests/ci/test_external_verdict_supersession_omn18807.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(OMN-19059): repoint omnibase_core CODEOWNERS at teams that exist
  .github/CODEOWNERS
Due: none

feat(OMN-19060): give a gate-decided exhaustion a cause it can land on
  pyproject.toml
  src/omnibase_core/enums/enum_delegation_terminal_failure_cause.py
  src/omnibase_core/models/delegation/wire/model_delegation_terminal_v2.py
  tests/unit/enums/test_enum_delegation_terminal_failure_cause.py
  tests/unit/models/delegation/wire/test_model_delegation_terminal_v2.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-19050): a FAIL supersede receipt no longer latches a key forever
  src/omnibase_core/validation/validator_receipt_supersession.py
  tests/unit/validation/test_receipt_supersession_fail_latch_omn_19050.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-19041): fail closed after invalid CI event
  scripts/ci/ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(OMN-19013): model terminal construction failure
  src/omnibase_core/enums/enum_delegation_content_verdict.py
  src/omnibase_core/enums/enum_delegation_operational_outcome.py
  src/omnibase_core/models/delegation/wire/model_delegation_completed.py
  src/omnibase_core/models/delegation/wire/model_delegation_failed.py
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  tests/unit/models/delegation/wire/test_omn18928_terminal_outcome_content.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

chore(OMN-19059): repoint omnibase_core CODEOWNERS at teams that exist (#1734)
  .github/CODEOWNERS
Due: none

test(OMN-19050): pin the cross-repo sequence-ordering contract from this side
  tests/unit/validation/test_receipt_supersession_fail_latch_omn_19050.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-19050): a FAIL supersede receipt no longer latches a receipt key forever (#1736)
  src/omnibase_core/validation/validator_receipt_supersession.py
  tests/unit/validation/test_receipt_supersession_fail_latch_omn_19050.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(OMN-19060): give a gate-decided exhaustion a cause it can land on (#1735)
  pyproject.toml
  src/omnibase_core/enums/enum_delegation_terminal_failure_cause.py
  src/omnibase_core/models/delegation/wire/model_delegation_terminal_v2.py
  tests/unit/enums/test_enum_delegation_terminal_failure_cause.py
  tests/unit/models/delegation/wire/test_model_delegation_terminal_v2.py
  uv.lock
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-19041): retrigger summary contexts on PR edits
  .github/workflows/check-db-ownership.yml
  .github/workflows/check-llm-refs-drift.yml
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-19041): scope CI contexts by event (#1732)
  .github/workflows/check-db-ownership.yml
  .github/workflows/check-llm-refs-drift.yml
  .github/workflows/ci.yml
  scripts/ci/ci_summary_gate.py
  tests/ci/test_external_verdict_supersession_omn18807.py
  tests/unit/scripts/ci/test_ci_summary_gate.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

chore(release): retain generated inclusion provenance
  CHANGELOG.md
Due: none

chore: release omnibase_core 0.47.22 (OMN-19150)
  CHANGELOG.md
Due: none

feat(OMN-19013): record terminal construction outcomes (#1737)
  src/omnibase_core/enums/enum_delegation_content_verdict.py
  src/omnibase_core/enums/enum_delegation_operational_outcome.py
  src/omnibase_core/models/delegation/wire/model_delegation_completed.py
  src/omnibase_core/models/delegation/wire/model_delegation_failed.py
  src/omnibase_core/models/delegation/wire/model_delegation_result.py
  tests/unit/models/delegation/wire/test_omn18928_terminal_outcome_content.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(OMN-18364): document and test the root-anchored merge-sweep pattern
  architecture-handshakes/gitignore-baseline.yaml
  tests/validation/test_gitignore_baseline.py
  tests/validation/test_gitignore_baseline_spec.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-18364): document and test the root-anchored merge-sweep pattern (#1719)
  architecture-handshakes/gitignore-baseline.yaml
  tests/validation/test_gitignore_baseline.py
  tests/validation/test_gitignore_baseline_spec.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-19164): bounded-wait the Receipt Gate pin-only probe for the autobind outcome
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_cli_no_companion_required_omn18882.py
  tests/ci/test_occ_preflight_wait_no_companion_race_omn19164.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-19164): announce every poll the pin-only probe spends
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_no_companion_race_omn19164.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-19164): bounded-wait the Receipt Gate pin-only probe for the autobind outcome (#1741)
  scripts/ci/occ_preflight_wait.py
  tests/ci/test_occ_preflight_wait_cli_no_companion_required_omn18882.py
  tests/ci/test_occ_preflight_wait_no_companion_race_omn19164.py
Due: ruff-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(OMN-19149): advance the receipt-gate validator ref so the latch fix is in force
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

fix(OMN-19149): advance the receipt-gate validator ref so the latch fix is in force (#1740)
  .github/workflows/receipt-gate.yml
Due: validate-string-versions

chore: release omnibase_core 0.47.22 (OMN-18595) (#1739)
  CHANGELOG.md
Due: none
