Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  black-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  isort-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/)
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$
  validate-union-usage: any of: ^src/.*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py|src/omnibase_core/models/core/model_action_config_value\.py).*\.py$
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix(runtime): address PR #173 review feedback round 2 for FileRegistry [OMN-229]
  .yaml-validation-allowlist.yaml
  src/omnibase_core/models/contracts/model_runtime_host_contract.py
  src/omnibase_core/runtime/file_registry.py
  tests/unit/runtime/test_file_registry.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(validation): address PR #172 review feedback - complete release fixes [OMN-203]
  docs/guides/DECLARATIVE_NODE_IMPORT_RULES.md
  scripts/check_node_purity.py
  tests/unit/validation/conftest.py
  tests/unit/validation/purity_test_helpers.py
  tests/unit/validation/test_declarative_node_purity_linter.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

refactor(types): split TypedDict file to enforce single-class-per-file [OMN-675]
  .pre-commit-config.yaml
  src/omnibase_core/models/node_metadata/model_node_status_active.py
  src/omnibase_core/models/node_metadata/model_node_status_error.py
  src/omnibase_core/models/node_metadata/model_node_status_maintenance.py
  src/omnibase_core/types/__init__.py
  src/omnibase_core/types/typed_dict_active_summary.py
  src/omnibase_core/types/typed_dict_error_summary.py
  src/omnibase_core/types/typed_dict_maintenance_summary.py
  src/omnibase_core/types/typed_dict_status_summaries.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): resolve 20 of 21 mypy strict errors
  src/omnibase_core/mixins/mixin_event_handler.py
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_redaction.py
  src/omnibase_core/mixins/mixin_tool_execution.py
  src/omnibase_core/models/configuration/__init__.py
  src/omnibase_core/models/core/model_action_payload_types.py
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/models/core/model_parsed_arguments.py
  src/omnibase_core/models/infrastructure/model_result.py
  src/omnibase_core/models/metadata/model_metadata_node_collection.py
  src/omnibase_core/utils/compute_path_resolver.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(models): add from_attributes=True to ModelSemVer for pytest-xdist compatibility
  src/omnibase_core/models/primitives/model_semver.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

refactor(config): split model_git_hub_actions_workflow.py per ONEX conventions
  src/omnibase_core/models/configuration/__init__.py
  src/omnibase_core/models/configuration/model_git_hub_actions_workflow.py
  src/omnibase_core/models/configuration/model_git_hub_workflow_concurrency.py
  src/omnibase_core/models/configuration/model_git_hub_workflow_data.py
  src/omnibase_core/models/configuration/model_git_hub_workflow_defaults.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs(contracts): fix fingerprint documentation and add cross-references [OMN-675]
  contracts/runtime/contract_loader_effect.yaml
  contracts/runtime/contract_registry_reducer.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  contracts/runtime/runtime_orchestrator.yaml
  docs/conventions/NAMING_CONVENTIONS.md
  docs/conventions/PYDANTIC_BEST_PRACTICES.md
  examples/contracts/compute/user_profile_normalizer.yaml
  examples/contracts/effect/db_query.yaml
  examples/contracts/effect/filesystem_operations.yaml
  examples/contracts/effect/http_api_call.yaml
  examples/contracts/effect/kafka_produce.yaml
  examples/contracts/effect/resilient_effect.yaml
  examples/contracts/orchestrator_data_pipeline.yaml
  examples/contracts/reducer_metrics_aggregator.yaml
Due: validate-string-versions

feat(validation): add PEP604 union type Any detection to purity linter [OMN-203]
  scripts/check_node_purity.py
  tests/unit/validation/test_declarative_node_purity_linter.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(types): address PR #174 review feedback
  src/omnibase_core/models/configuration/model_git_hub_workflow_data.py
  src/omnibase_core/models/core/model_action_payload_types.py
  src/omnibase_core/models/fsm/model_fsm_state_snapshot.py
  src/omnibase_core/models/infrastructure/model_result.py
  tests/unit/utils/test_fsm_executor.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: add FileRegistry docs, from_attributes pattern, and review updates [OMN-229]
  .yaml-validation-allowlist.yaml
  CLAUDE.md
  src/omnibase_core/runtime/file_registry.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add AST-based purity linter for declarative nodes [OMN-203] (#172)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  docs/guides/DECLARATIVE_NODE_IMPORT_RULES.md
  scripts/check_node_purity.py
  src/omnibase_core/models/contracts/model_contract_base.py
  src/omnibase_core/models/primitives/model_semver.py
  src/omnibase_core/nodes/node_compute.py
  src/omnibase_core/nodes/node_reducer.py
  tests/unit/nodes/test_node_purity.py
  tests/unit/validation/conftest.py
  tests/unit/validation/purity_test_helpers.py
  tests/unit/validation/test_contracts.py
  tests/unit/validation/test_contracts_extended.py
  tests/unit/validation/test_declarative_node_purity_linter.py
  tests/unit/validation/test_workflow_validator.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(runtime): add FileRegistry for contract loading [OMN-229] (#173)
  .yaml-validation-allowlist.yaml
  CLAUDE.md
  src/omnibase_core/models/contracts/model_runtime_host_contract.py
  src/omnibase_core/runtime/__init__.py
  src/omnibase_core/runtime/file_registry.py
  tests/unit/runtime/test_file_registry.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(ci): enable strict typing with mypy and pyright [OMN-200]
  .github/workflows/test.yml
  pyproject.toml
Due: validate-string-versions

fix(deps): regenerate poetry.lock after pyproject.toml changes
  poetry.lock
Due: none

fix(ci): add pyright config and clean up redundant mypy flags [OMN-200]
  pyproject.toml
  pyrightconfig.json
Due: none

fix(types): address PR #174 review feedback - workflow types and cleanup
  src/omnibase_core/models/configuration/model_git_hub_workflow_concurrency.py
  src/omnibase_core/models/configuration/model_git_hub_workflow_data.py
  src/omnibase_core/models/configuration/model_git_hub_workflow_defaults.py
  src/omnibase_core/utils/fsm_expression_parser.py
  tests/unit/models/fsm/test_model_fsm_state_snapshot.py
  tests/unit/utils/test_fsm_expression_parser.py
  tests/unit/utils/test_fsm_operators.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): tune pyright config for initial rollout [OMN-200]
  pyrightconfig.json
Due: none

feat(constants): add handler capability requirements per node type [OMN-169]
  src/omnibase_core/constants/__init__.py
  src/omnibase_core/constants/handler_capabilities.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_compute_capability.py
  src/omnibase_core/enums/enum_effect_capability.py
  src/omnibase_core/enums/enum_node_requirement.py
  src/omnibase_core/enums/enum_orchestrator_capability.py
  src/omnibase_core/enums/enum_reducer_capability.py
  tests/unit/constants/test_handler_capabilities.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: add pyright migration timeline and update CLAUDE.md [OMN-200]
  CLAUDE.md
  pyrightconfig.json
Due: none

style(enums): group capability enums together in __all__ [OMN-169]
  src/omnibase_core/enums/__init__.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): resolve CI failures in test splits 11/20 and 19/20
  src/omnibase_core/models/configuration/model_git_hub_actions_workflow.py
  src/omnibase_core/models/configuration/model_git_hub_workflow_data.py
  src/omnibase_core/models/fsm/model_fsm_state_snapshot.py
  src/omnibase_core/models/infrastructure/model_result.py
  src/omnibase_core/models/primitives/model_semver.py
  src/omnibase_core/utils/fsm_executor.py
  src/omnibase_core/utils/fsm_expression_parser.py
  tests/unit/mixins/test_mixin_fsm_execution.py
  tests/unit/utils/test_fsm_executor.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): add pyright pre-commit hook and document mypy strict mode [OMN-200]
  .pre-commit-config.yaml
  pyproject.toml
Due: validate-string-versions

feat(constants): add handler capability requirements per node type [OMN-169] (#176)
  src/omnibase_core/constants/__init__.py
  src/omnibase_core/constants/handler_capabilities.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_compute_capability.py
  src/omnibase_core/enums/enum_effect_capability.py
  src/omnibase_core/enums/enum_node_requirement.py
  src/omnibase_core/enums/enum_orchestrator_capability.py
  src/omnibase_core/enums/enum_reducer_capability.py
  tests/unit/constants/test_handler_capabilities.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): resolve CI test failures for datetime, fingerprint, and model API [OMN-675]
  contracts/runtime/contract_loader_effect.yaml
  contracts/runtime/contract_registry_reducer.yaml
  contracts/runtime/event_bus_wiring_effect.yaml
  contracts/runtime/node_graph_reducer.yaml
  contracts/runtime/runtime_orchestrator.yaml
  tests/unit/models/core/test_model_base_input_state.py
  tests/unit/models/core/test_model_base_output_state.py
  tests/unit/models/tools/test_model_tool_execution_result.py
  tests/unit/types/test_util_datetime_parser.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(tests): resolve CI failures in FSM expression validation and contract linter
  src/omnibase_core/models/fsm/model_fsm_transition_condition.py
  tests/unit/utils/test_fsm_executor.py
  tests/unit/utils/test_fsm_expression_parser.py
  tests/unit/validation/test_contract_linter.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(runtime): add LocalHandler and runtime-host-dev CLI [OMN-230, OMN-231]
  pyproject.toml
  scripts/validation/validate_naming.py
  src/omnibase_core/cli/__init__.py
  src/omnibase_core/cli/runtime_host_cli.py
  src/omnibase_core/enums/enum_handler_type.py
  src/omnibase_core/runtime/handlers/__init__.py
  src/omnibase_core/runtime/handlers/handler_local.py
  src/omnibase_core/types/typed_dict_health_check_result.py
  tests/unit/cli/test_runtime_host_cli.py
  tests/unit/enums/test_enum_handler_type.py
  tests/unit/runtime/handlers/__init__.py
  tests/unit/runtime/handlers/test_handler_local.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): address PR #174 review feedback - frozen model mutations and test improvements
  src/omnibase_core/models/configuration/model_git_hub_workflow_concurrency.py
  src/omnibase_core/models/fsm/model_fsm_state_snapshot.py
  tests/unit/mixins/test_mixin_fsm_execution.py
  tests/unit/models/contracts/subcontracts/test_model_fsm_state_definition.py
  tests/unit/models/contracts/subcontracts/test_model_fsm_subcontract_validations.py
  tests/unit/models/contracts/subcontracts/test_model_fsm_transition_action.py
  tests/unit/models/fsm/test_model_fsm_data.py
  tests/unit/models/fsm/test_model_fsm_operation.py
  tests/unit/models/fsm/test_model_fsm_state.py
  tests/unit/models/fsm/test_model_fsm_transition.py
  tests/unit/models/fsm/test_model_fsm_transition_action.py
  tests/unit/models/fsm/test_model_fsm_transition_condition.py
  tests/unit/models/fsm/test_model_fsm_transition_result.py
  tests/unit/utils/test_fsm_executor.py
  tests/unit/utils/test_fsm_expression_parser.py
  tests/unit/validation/test_fsm_analysis.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(ci): improve pyright config docs, add exports tests, optimize CI ordering [OMN-200]
  .github/workflows/test.yml
  .pre-commit-config.yaml
  pyproject.toml
  pyrightconfig.json
  scripts/validation/validate-no-empty-directories.py
  tests/fixtures/validation/exports/__init__.py
  tests/fixtures/validation/exports/annotated_assignments.py
  tests/fixtures/validation/exports/extra_exports.py
  tests/fixtures/validation/exports/imports_and_aliases.py
  tests/fixtures/validation/exports/missing_exports.py
  tests/fixtures/validation/exports/nested_classes.py
  tests/fixtures/validation/exports/nested_functions.py
  tests/fixtures/validation/exports/no_all.py
  tests/fixtures/validation/exports/star_import.py
  tests/fixtures/validation/exports/syntax_error.py
  tests/fixtures/validation/exports/type_alias.py
  tests/fixtures/validation/exports/valid_exports.py
  tests/unit/validation/test_validate_all_exports.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(review): address all PR #168 review feedback round 2 [OMN-675]
  .pre-commit-config.yaml
  docs/conventions/NAMING_CONVENTIONS.md
  docs/conventions/PYDANTIC_BEST_PRACTICES.md
  examples/contracts/effect/filesystem_operations.yaml
  examples/contracts/effect/http_api_call.yaml
  examples/contracts/effect/kafka_produce.yaml
  examples/contracts/reducer_metrics_aggregator.yaml
  scripts/README.md
  src/omnibase_core/models/compute/model_compute_input.py
  src/omnibase_core/models/configuration/model_dict_config.py
  src/omnibase_core/models/container/model_enhanced_logger.py
  src/omnibase_core/models/container/model_registry_status.py
  src/omnibase_core/models/contracts/model_fast_imports.py
  src/omnibase_core/models/contracts/subcontracts/model_data_grouping.py
  src/omnibase_core/models/reducer/model_intent.py
  src/omnibase_core/models/tools/model_tool_execution_result.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(runtime): add LocalHandler and runtime-host-dev CLI [OMN-230, OMN-231] (#177)
  pyproject.toml
  scripts/validation/validate_naming.py
  src/omnibase_core/cli/__init__.py
  src/omnibase_core/cli/runtime_host_cli.py
  src/omnibase_core/enums/enum_handler_type.py
  src/omnibase_core/runtime/handlers/__init__.py
  src/omnibase_core/runtime/handlers/handler_local.py
  src/omnibase_core/types/typed_dict_health_check_result.py
  tests/unit/cli/test_runtime_host_cli.py
  tests/unit/enums/test_enum_handler_type.py
  tests/unit/runtime/handlers/__init__.py
  tests/unit/runtime/handlers/test_handler_local.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(fsm): address PR #174 review feedback - transition helper and test improvements
  src/omnibase_core/models/fsm/model_fsm_state_snapshot.py
  tests/unit/models/fsm/test_model_fsm_state_snapshot.py
  tests/unit/utils/test_fsm_expression_parser.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

perf(ci): change pyright pre-push to check changed files only [OMN-200]
  .pre-commit-config.yaml
Due: validate-string-versions

fix(tests): add LOCAL handler type to expected_types list
  tests/unit/models/contracts/test_model_runtime_host_contract.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

feat(testing): configure pytest deprecation warning capture [OMN-199]
  docs/INDEX.md
  docs/ci/CI_MONITORING_GUIDE.md
  docs/ci/DEPRECATION_WARNINGS.md
  pyproject.toml
Due: none

fix(tests): refactor test_validate_all_exports.py to use pytest fixtures [OMN-200]
  tests/unit/validation/test_validate_all_exports.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml

fix(docs): use relative path in deprecation warnings guide
  docs/ci/DEPRECATION_WARNINGS.md
Due: none

fix(fsm): address PR #174 review feedback - defensive copy and test improvements
  src/omnibase_core/models/fsm/model_fsm_state_snapshot.py
  src/omnibase_core/models/infrastructure/model_result.py
  tests/unit/models/contracts/test_model_runtime_host_contract.py
  tests/unit/utils/test_fsm_expression_parser.py
Due: black-format, isort-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(ci): enable strict typing with mypy and pyright [OMN-200] (#175)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CLAUDE.md
  poetry.lock
  pyproject.toml
  pyrightconfig.json
  scripts/validation/validate-no-empty-directories.py
  tests/fixtures/validation/exports/__init__.py
  tests/fixtures/validation/exports/annotated_assignments.py
  tests/fixtures/validation/exports/extra_exports.py
  tests/fixtures/validation/exports/imports_and_aliases.py
  tests/fixtures/validation/exports/missing_exports.py
  tests/fixtures/validation/exports/nested_classes.py
  tests/fixtures/validation/exports/nested_functions.py
  tests/fixtures/validation/exports/no_all.py
  tests/fixtures/validation/exports/star_import.py
  tests/fixtures/validation/exports/syntax_error.py
  tests/fixtures/validation/exports/type_alias.py
  tests/fixtures/validation/exports/valid_exports.py
  tests/unit/models/contracts/test_model_runtime_host_contract.py
  tests/unit/validation/test_validate_all_exports.py
Due: black-format, isort-format, ruff-fix, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml
