Repository OmniNode-ai/omnibase_core: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

Path conditions:
  ruff-format: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  ruff-fix: any of: \.py$, but not: ^(tests/fixtures/validation/edge_cases/syntax_error\.py|\.github/workflows/|archived/).*$
  mypy-type-check: any of: ^src/omnibase_core/.*\.py$ and \.py$ and not (^(tests/|src/omnibase_core/examples|archive/|archived/).*\.py$)
  validate-naming-conventions: any of: ^src/.*\.py$, but not: ^(tests/|archive/|archived/|scripts/validation/).*\.py$
  validate-file-locations: any of: ^src/.*\.py$, but not: ^(tests/|archived/).*\.py$
  validate-string-versions: any of: ^.*\.(py|yaml|yml)$, but not: ^(tests/fixtures/validation/|archived/|archive/|src/omnibase_core/protocols/)
  validate-archived-imports: any of: ^.*\.py$, but not: ^(archived/|archive/|tests/fixtures/validation/).*$
  validate-no-backward-compatibility: any of: ^.*\.py$, but not: ^(scripts/validation/validate-no-backward-compatibility\.py|archived/.*)$
  validate-no-manual-yaml: any of: ^.*\.py$, but not: ^(scripts/validation/validate-contracts\.py|scripts/validation/validate-string-versions\.py|scripts/validation/check_stub_implementations\.py|scripts/validation/validate-no-manual-yaml\.py|scripts/compute_contract_fingerprint\.py|scripts/lint_contract\.py|src/omnibase_core/utils/safe_yaml_loader\.py|src/omnibase_core/utils/util_safe_yaml_loader\.py|src/omnibase_core/validation/contracts\.py|src/omnibase_core/validation/contract_validator\.py|src/omnibase_core/discovery/mixin_discovery\.py|tests/fixtures/validation/)
  validate-pydantic-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-union-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/protocols/).*\.py$
  validate-contracts: any of: ^src/omnibase_core/(nodes|protocol|core).*\.py$
  audit-optional-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  check-stub-implementations: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|examples/prototypes/).*\.py$
  check-no-fallbacks: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  check-error-raising: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-no-enhancement-prefixes: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  onex-single-class-per-file: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/|src/omnibase_core/utils/util_singleton_holders\.py$|src/omnibase_core/models/core/model_action_config_value\.py$|src/omnibase_core/models/configuration/model_node_config_value\.py$|src/omnibase_core/protocols/)
  validate-enum-model-imports: any of: ^src/omnibase_core/enums/.*\.py$, but not: ^(tests/|archived/|archive/).*\.py$
  validate-typeddict-patterns: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-dict-any-usage: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  no-pydantic-bypass-in-prod: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-secrets: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-hardcoded-env-vars: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$
  validate-exception-handling: any of: ^src/.*\.py$, but not: ^(tests/|archived/|archive/|scripts/validation/).*\.py$

fix: address remaining PR #301 review feedback
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/infrastructure/__init__.py
  src/omnibase_core/mixins/mixin_caching.py
  src/omnibase_core/mixins/mixin_event_listener.py
  src/omnibase_core/models/core/model_event_type_registry.py
  src/omnibase_core/models/examples/model_environment_properties.py
  src/omnibase_core/models/infrastructure/model_retry_execution.py
  src/omnibase_core/models/pipeline/model_pipeline_hook.py
  src/omnibase_core/models/pipeline/model_pipeline_result.py
  src/omnibase_core/models/security/model_secret_config.py
  src/omnibase_core/models/services/model_service_health.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(resolution): add strict_mode, tie-breaker stats, and comprehensive tests (OMN-1106)
  src/omnibase_core/models/contracts/model_execution_ordering_policy.py
  src/omnibase_core/models/execution/model_execution_conflict.py
  src/omnibase_core/models/execution/model_resolution_metadata.py
  src/omnibase_core/protocols/resolution/protocol_execution_resolver.py
  src/omnibase_core/resolution/execution_resolver.py
  tests/unit/resolution/test_execution_resolver.py
  tests/unit/resolution/test_execution_resolver_performance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(resolution): add ExecutionResolver for pure execution order resolution (OMN-1106) (#307)
  src/omnibase_core/models/contracts/model_execution_ordering_policy.py
  src/omnibase_core/models/execution/__init__.py
  src/omnibase_core/models/execution/model_constraint_satisfaction.py
  src/omnibase_core/models/execution/model_execution_conflict.py
  src/omnibase_core/models/execution/model_execution_plan.py
  src/omnibase_core/models/execution/model_phase_entry.py
  src/omnibase_core/models/execution/model_resolution_metadata.py
  src/omnibase_core/models/execution/model_tie_breaker_decision.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/resolution/__init__.py
  src/omnibase_core/protocols/resolution/protocol_execution_resolver.py
  src/omnibase_core/resolution/__init__.py
  src/omnibase_core/resolution/_dependency_graph.py
  src/omnibase_core/resolution/_handler_info.py
  src/omnibase_core/resolution/execution_resolver.py
  tests/unit/resolution/__init__.py
  tests/unit/resolution/test_execution_resolver.py
  tests/unit/resolution/test_execution_resolver_performance.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: resolve CI test failures and PR review issues (OMN-1126)
  docs/guides/CONTRACT_PATCHING_GUIDE.md
  src/omnibase_core/models/providers/model_provider_descriptor.py
  tests/unit/validation/test_validation_utils.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(handlers): address PR #308 review feedback for handler conversions (OMN-1112)
  docs/guides/HANDLER_CONVERSION_CHECKLIST.md
  docs/guides/HANDLER_CONVERSION_GUIDE.md
  scripts/validation/validate-file-locations.py
  scripts/validation/validate_structure.py
  src/omnibase_core/models/connections/model_custom_connection_properties.py
  src/omnibase_core/pipeline/handlers/__init__.py
  src/omnibase_core/pipeline/handlers/model_capability_metrics.py
  tests/unit/pipeline/handlers/test_capability_caching.py
  tests/unit/pipeline/handlers/test_capability_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): address PR #304 review feedback and pre-commit issues
  src/omnibase_core/models/configuration/model_metadata_block.py
  src/omnibase_core/models/configuration/model_onex_metadata.py
  src/omnibase_core/models/configuration/model_validators_metadata.py
  src/omnibase_core/models/connections/model_custom_connection_properties.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/models/core/model_custom_fields_accessor.py
  src/omnibase_core/models/core/model_metadata_tool_collection.py
  src/omnibase_core/models/core/model_parse_metadata.py
  src/omnibase_core/models/docker/model_docker_compose_manifest.py
  src/omnibase_core/models/health/__init__.py
  src/omnibase_core/models/metadata/node_info/model_node_categorization.py
  src/omnibase_core/models/metadata/node_info/model_node_performance_summary.py
  src/omnibase_core/models/node_metadata/model_node_capabilities_info.py
  src/omnibase_core/models/workflow/api/model_workflow_outputs.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(mixins): address PR review feedback - style and test coverage (OMN-1178)
  src/omnibase_core/mixins/mixin_effect_execution.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/services/__init__.py
  src/omnibase_core/protocols/services/protocol_secret_service.py
  tests/unit/mixins/test_mixin_contract_state_reducer.py
  tests/unit/mixins/test_mixin_effect_execution.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(invariant): move module docstrings before __future__ imports (OMN-1192)
  src/omnibase_core/enums/enum_invariant_severity.py
  src/omnibase_core/enums/enum_invariant_type.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address final PR #301 review feedback
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/errors/error_duplicate_hook.py
  src/omnibase_core/errors/error_hook_timeout.py
  src/omnibase_core/errors/error_hook_type_mismatch.py
  src/omnibase_core/errors/error_unknown_dependency.py
  src/omnibase_core/mixins/mixin_caching.py
  src/omnibase_core/models/pipeline/model_pipeline_result.py
  src/omnibase_core/models/validation/model_contract_validation_event.py
  src/omnibase_core/pipeline/builder_execution_plan.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): update PrimitiveValue tests for extended JsonPrimitive
  src/omnibase_core/models/core/model_filter_criteria.py
  src/omnibase_core/types/json_types.py
  tests/unit/types/test_json_types.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(invariant): use JsonType instead of object for expected_value (OMN-1192)
  src/omnibase_core/models/invariant/model_field_value_config.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address remaining PR #289 review feedback (OMN-1126)
  docs/guides/CONTRACT_PATCHING_GUIDE.md
  src/omnibase_core/enums/enum_likelihood.py
  src/omnibase_core/models/compute/model_compute_execution_context.py
  src/omnibase_core/models/compute/model_compute_input.py
  src/omnibase_core/models/compute/model_compute_output.py
  src/omnibase_core/models/compute/model_compute_pipeline_result.py
  src/omnibase_core/models/compute/model_compute_step_metadata.py
  src/omnibase_core/models/compute/model_compute_step_result.py
  src/omnibase_core/models/configuration/model_metadata_block.py
  src/omnibase_core/models/configuration/model_onex_metadata.py
  src/omnibase_core/models/configuration/model_validators_metadata.py
  src/omnibase_core/models/connections/model_custom_connection_properties.py
  src/omnibase_core/models/contracts/model_contract_fingerprint.py
  src/omnibase_core/models/contracts/model_contract_normalization_config.py
  src/omnibase_core/models/contracts/model_drift_details.py
  src/omnibase_core/models/contracts/model_drift_result.py
  src/omnibase_core/models/contracts/model_handler_contract.py
  src/omnibase_core/models/contracts/subcontracts/model_compute_pipeline_step.py
  src/omnibase_core/models/contracts/subcontracts/model_compute_subcontract.py
  src/omnibase_core/models/events/model_topic_config.py
  src/omnibase_core/models/events/model_topic_manifest.py
  src/omnibase_core/models/mixins/model_completion_data.py
  src/omnibase_core/models/mixins/model_log_data.py
  src/omnibase_core/models/transformations/model_mapping_config.py
  src/omnibase_core/models/transformations/model_transform_case_config.py
  src/omnibase_core/models/transformations/model_transform_json_path_config.py
  src/omnibase_core/models/transformations/model_transform_regex_config.py
  src/omnibase_core/models/transformations/model_transform_trim_config.py
  src/omnibase_core/models/transformations/model_transform_unicode_config.py
  src/omnibase_core/models/transformations/model_validation_step_config.py
  src/omnibase_core/models/validation/model_ambiguous_transition.py
  src/omnibase_core/models/validation/model_fsm_analysis_result.py
  tests/unit/enums/test_enum_likelihood.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(handlers): address PR #308 release-ready feedback (OMN-1112)
  docs/guides/HANDLER_CONVERSION_CHECKLIST.md
  docs/guides/HANDLER_CONVERSION_GUIDE.md
  src/omnibase_core/pipeline/handlers/model_capability_caching.py
  src/omnibase_core/pipeline/handlers/model_capability_metrics.py
  tests/unit/pipeline/handlers/test_capability_caching.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(invariant): add invariant definition models for AI model validation (OMN-1192) (#306)
  .yaml-validation-allowlist.yaml
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_invariant_severity.py
  src/omnibase_core/enums/enum_invariant_type.py
  src/omnibase_core/models/invariant/__init__.py
  src/omnibase_core/models/invariant/model_cost_config.py
  src/omnibase_core/models/invariant/model_custom_invariant_config.py
  src/omnibase_core/models/invariant/model_field_presence_config.py
  src/omnibase_core/models/invariant/model_field_value_config.py
  src/omnibase_core/models/invariant/model_invariant.py
  src/omnibase_core/models/invariant/model_invariant_definition.py
  src/omnibase_core/models/invariant/model_invariant_result.py
  src/omnibase_core/models/invariant/model_invariant_set.py
  src/omnibase_core/models/invariant/model_latency_config.py
  src/omnibase_core/models/invariant/model_schema_invariant_config.py
  src/omnibase_core/models/invariant/model_threshold_config.py
  src/omnibase_core/utils/util_invariant_yaml_parser.py
  tests/integration/models/handlers/test_handler_descriptor_integration.py
  tests/unit/decorators/test_pattern_exclusions.py
  tests/unit/models/invariant/__init__.py
  tests/unit/models/invariant/conftest.py
  tests/unit/models/invariant/test_invariant_config.py
  tests/unit/models/invariant/test_invariant_serialization.py
  tests/unit/models/invariant/test_invariant_yaml.py
  tests/unit/models/invariant/test_model_invariant.py
  tests/unit/validation/test_validate_hardcoded_env_vars.py
  tests/unit/validation/test_validate_secrets.py
  tests/validation/test_backward_compat_patterns.py
  tests/validation/test_check_error_raising.py
  tests/validation/test_check_no_fallbacks.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address final PR #289 review feedback (OMN-1126)
  src/omnibase_core/models/core/model_examples_collection.py
  src/omnibase_core/models/providers/model_provider_descriptor.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address PR #301 review issues and CI mypy error (OMN-1188)
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/backends/metrics/backend_metrics_prometheus.py
  src/omnibase_core/mixins/mixin_caching.py
  src/omnibase_core/mixins/mixin_contract_metadata.py
  src/omnibase_core/mixins/mixin_discovery.py
  src/omnibase_core/mixins/mixin_metrics.py
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_tool_execution.py
  src/omnibase_core/models/connections/model_custom_connection_properties.py
  src/omnibase_core/pipeline/runner_pipeline.py
  src/omnibase_core/validation/patterns.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): address PR #304 review feedback - round 2
  src/omnibase_core/models/common/model_schema_value.py
  src/omnibase_core/models/container/model_onex_container.py
  src/omnibase_core/models/core/model_custom_fields_accessor.py
  src/omnibase_core/models/core/model_parsed_arguments.py
  src/omnibase_core/models/docker/model_docker_compose_manifest.py
  src/omnibase_core/models/metadata/node_info/model_node_categorization.py
  src/omnibase_core/models/metadata/node_info/model_node_performance_summary.py
  src/omnibase_core/models/node_metadata/model_node_capabilities_info.py
  src/omnibase_core/models/workflow/api/model_workflow_outputs.py
  tests/unit/types/test_json_types.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(handlers): add TTL validation and improve docs accuracy (OMN-1112)
  docs/guides/HANDLER_CONVERSION_GUIDE.md
  src/omnibase_core/pipeline/handlers/model_capability_caching.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(handlers): add first pure handler conversions for metrics and caching (OMN-1112) (#308)
  docs/INDEX.md
  docs/guides/HANDLER_CONVERSION_CHECKLIST.md
  docs/guides/HANDLER_CONVERSION_GUIDE.md
  scripts/validation/validate-file-locations.py
  scripts/validation/validate_structure.py
  src/omnibase_core/models/connections/model_custom_connection_properties.py
  src/omnibase_core/pipeline/handlers/__init__.py
  src/omnibase_core/pipeline/handlers/model_capability_caching.py
  src/omnibase_core/pipeline/handlers/model_capability_metrics.py
  tests/unit/pipeline/handlers/__init__.py
  tests/unit/pipeline/handlers/test_capability_caching.py
  tests/unit/pipeline/handlers/test_capability_metrics.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): address PR #304 review feedback - round 4
  src/omnibase_core/mixins/mixin_node_executor.py
  src/omnibase_core/mixins/mixin_service_registry.py
  src/omnibase_core/models/metadata/node_info/model_node_categorization.py
  src/omnibase_core/models/metadata/node_info/model_node_performance_summary.py
  src/omnibase_core/models/workflow/api/model_workflow_outputs.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix: address PR #301 review issues and CI Split 14/20 failure (OMN-1188)
  src/omnibase_core/backends/cache/backend_cache_redis.py
  src/omnibase_core/mixins/mixin_caching.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_context.py
  src/omnibase_core/models/events/contract_validation/model_contract_validation_started_event.py
  src/omnibase_core/models/pipeline/model_pipeline_result.py
  tests/unit/backends/metrics/test_backend_metrics_prometheus.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(models): add execution trace models for replay infrastructure (OMN-1208)
  src/omnibase_core/enums/enum_execution_status.py
  src/omnibase_core/models/trace/__init__.py
  src/omnibase_core/models/trace/model_execution_trace.py
  src/omnibase_core/models/trace/model_execution_trace_step.py
  tests/unit/models/trace/__init__.py
  tests/unit/models/trace/test_model_execution_trace.py
  tests/unit/models/trace/test_model_execution_trace_step.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(invariant): add ServiceInvariantEvaluator for AI model validation (OMN-1193)
  poetry.lock
  pyproject.toml
  src/omnibase_core/models/invariant/__init__.py
  src/omnibase_core/models/invariant/model_evaluation_summary.py
  src/omnibase_core/services/invariant/__init__.py
  src/omnibase_core/services/invariant/service_invariant_evaluator.py
  tests/unit/services/invariant/__init__.py
  tests/unit/services/invariant/conftest.py
  tests/unit/services/invariant/custom_validators.py
  tests/unit/services/invariant/test_batch_evaluation.py
  tests/unit/services/invariant/test_cost_evaluator.py
  tests/unit/services/invariant/test_custom_evaluator.py
  tests/unit/services/invariant/test_field_presence_evaluator.py
  tests/unit/services/invariant/test_field_value_evaluator.py
  tests/unit/services/invariant/test_latency_evaluator.py
  tests/unit/services/invariant/test_schema_evaluator.py
  tests/unit/services/invariant/test_threshold_evaluator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(merge): add Typed Contract Merge Engine (OMN-1127)
  scripts/validation/validate_naming.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_merge_conflict_type.py
  src/omnibase_core/merge/__init__.py
  src/omnibase_core/merge/contract_merge_engine.py
  src/omnibase_core/merge/merge_rules.py
  src/omnibase_core/models/merge/__init__.py
  src/omnibase_core/models/merge/model_merge_conflict.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/merge/__init__.py
  src/omnibase_core/protocols/merge/protocol_merge_engine.py
  tests/unit/merge/__init__.py
  tests/unit/merge/test_contract_merge_engine.py
  tests/unit/merge/test_merge_rules.py
  tests/unit/models/merge/__init__.py
  tests/unit/models/merge/test_model_merge_conflict.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(tracing): propagate dispatch_id for end-to-end request tracing (OMN-972)
  docs/guides/REQUEST_TRACING.md
  src/omnibase_core/models/compute/model_compute_context.py
  src/omnibase_core/models/dispatch/model_handler_output.py
  src/omnibase_core/models/effect/model_effect_context.py
  src/omnibase_core/models/orchestrator/model_orchestrator_context.py
  src/omnibase_core/models/reducer/model_reducer_context.py
  src/omnibase_core/protocols/handler/protocol_handler_context.py
  src/omnibase_core/runtime/message_dispatch_engine.py
  src/omnibase_core/types/typed_dict_log_context.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(merge): add Typed Contract Merge Engine (OMN-1127) (#309)
  scripts/validation/validate_naming.py
  src/omnibase_core/enums/__init__.py
  src/omnibase_core/enums/enum_merge_conflict_type.py
  src/omnibase_core/merge/__init__.py
  src/omnibase_core/merge/contract_merge_engine.py
  src/omnibase_core/merge/merge_rules.py
  src/omnibase_core/models/merge/__init__.py
  src/omnibase_core/models/merge/model_merge_conflict.py
  src/omnibase_core/protocols/__init__.py
  src/omnibase_core/protocols/merge/__init__.py
  src/omnibase_core/protocols/merge/protocol_merge_engine.py
  tests/unit/merge/__init__.py
  tests/unit/merge/test_contract_merge_engine.py
  tests/unit/merge/test_merge_rules.py
  tests/unit/models/merge/__init__.py
  tests/unit/models/merge/test_model_merge_conflict.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, validate-contracts, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-enum-model-imports, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(types): address PR #304 review feedback - round 5
  src/omnibase_core/mixins/mixin_canonical_serialization.py
  src/omnibase_core/models/core/model_error_summary.py
  src/omnibase_core/models/core/model_trend_data.py
  tests/unit/container/test_service_registry.py
  tests/unit/services/test_service_capability_resolver.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): update tests for PARTIAL enum and add time ordering validation (OMN-1208)
  src/omnibase_core/models/trace/model_execution_trace_step.py
  tests/unit/enums/test_enum_execution_status.py
  tests/unit/models/trace/test_model_execution_trace_step.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(dispatch): add dispatch_id to factory methods for complete tracing (OMN-972)
  src/omnibase_core/models/dispatch/model_handler_output.py
  src/omnibase_core/types/typed_dict_log_context.py
  tests/unit/models/dispatch/test_model_handler_output.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): rename cli/ files to use cli_* prefix (OMN-1213)
  pyproject.toml
  src/omnibase_core/cli/__init__.py
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_composition_report.py
  src/omnibase_core/cli/cli_runtime_host.py
  tests/unit/cli/test_commands.py
  tests/unit/cli/test_composition_report.py
  tests/unit/cli/test_runtime_host_cli.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(invariant): add ServiceInvariantEvaluator for AI model validation (OMN-1193)
  poetry.lock
  pyproject.toml
  src/omnibase_core/models/invariant/__init__.py
  src/omnibase_core/models/invariant/model_evaluation_summary.py
  src/omnibase_core/services/invariant/__init__.py
  src/omnibase_core/services/invariant/service_invariant_evaluator.py
  tests/unit/services/invariant/__init__.py
  tests/unit/services/invariant/conftest.py
  tests/unit/services/invariant/custom_validators.py
  tests/unit/services/invariant/test_batch_evaluation.py
  tests/unit/services/invariant/test_cost_evaluator.py
  tests/unit/services/invariant/test_custom_evaluator.py
  tests/unit/services/invariant/test_field_presence_evaluator.py
  tests/unit/services/invariant/test_field_value_evaluator.py
  tests/unit/services/invariant/test_invariant_property_based.py
  tests/unit/services/invariant/test_latency_evaluator.py
  tests/unit/services/invariant/test_schema_evaluator.py
  tests/unit/services/invariant/test_threshold_evaluator.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(tests): address PR #311 review feedback for execution trace models (OMN-1208)
  src/omnibase_core/models/trace/model_execution_trace.py
  tests/unit/models/trace/test_model_execution_trace.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(validation): add file naming convention enforcement (OMN-1224, OMN-1225)
  CLAUDE.md
  src/omnibase_core/validation/checker_naming_convention.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

docs: address PR #301 review feedback - documentation and consistency fixes (OMN-1188)
  examples/contracts/handlers/compute_handler.yaml
  examples/contracts/handlers/effect_handler.yaml
  examples/contracts/handlers/reducer_handler.yaml
  src/omnibase_core/backends/cache/__init__.py
  src/omnibase_core/backends/metrics/__init__.py
  src/omnibase_core/infrastructure/__init__.py
  src/omnibase_core/models/pipeline/model_pipeline_hook.py
  src/omnibase_core/models/pipeline/model_pipeline_result.py
  src/omnibase_core/models/validation/model_contract_validation_event.py
  src/omnibase_core/pipeline/runner_pipeline.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

fix(dispatch): reorder dispatch_id parameter for backward compatibility (OMN-972)
  src/omnibase_core/models/dispatch/model_handler_output.py
  tests/unit/runtime/test_message_dispatch_engine.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling

feat(cli): rename cli/ files to use cli_* prefix (OMN-1213) (#313)
  pyproject.toml
  src/omnibase_core/cli/__init__.py
  src/omnibase_core/cli/cli_commands.py
  src/omnibase_core/cli/cli_composition_report.py
  src/omnibase_core/cli/cli_runtime_host.py
  tests/unit/cli/test_commands.py
  tests/unit/cli/test_composition_report.py
  tests/unit/cli/test_runtime_host_cli.py
Due: ruff-format, ruff-fix, mypy-type-check, validate-naming-conventions, validate-file-locations, validate-string-versions, validate-archived-imports, validate-no-backward-compatibility, validate-no-manual-yaml, validate-pydantic-patterns, validate-union-usage, audit-optional-usage, check-stub-implementations, check-no-fallbacks, check-error-raising, validate-no-enhancement-prefixes, onex-single-class-per-file, validate-typeddict-patterns, validate-dict-any-usage, no-pydantic-bypass-in-prod, validate-secrets, validate-hardcoded-env-vars, validate-exception-handling
